{% load i18n %}
<div id="profile-preview" class="preview-center group">
    <div class="preview-items">
        <div class="preview-group">   
            <div class="preview-item title">
                <div class="label"><h4>{% trans 'Name:' %}</h4></div>
                <div class="value">
                    <strong class="profile-name">{{plan.name}}</strong>                                                            
                </div>                                              
            </div><!--preview-item--> 
            <div class="preview-item title">
                <div class="label"><h4>{% trans 'Amount' %}:</h4></div>
                <div class="value">
                    <span class="profile-name">{{plan.amount|floatformat:2}}</span>                                                          
                </div>
            </div><!--preview-item-->
			<div class="preview-item title">
                <div class="label"><h4>{% trans 'Interval' %}:</h4></div>
                <div class="value">
                    <span class="profile-name">{{plan.interval}}</span>                                                    
                </div> 
            </div><!--preview-item-->
			<div class="preview-item title">
                <div class="label"><h4>{% trans 'Created on' %}:</h4></div>
                <div class="value">
                    <span class="profile-name">{{plan.created_on|date:"d M Y P"}}</span>                                                    
                </div>
            </div><!--preview-item-->
            <div class="preview-item title">
                <div class="label"><h4>{% trans 'Status' %}:</h4></div>
                <div class="value">
                    <span class="profile-name">{% if plan.status = 'A'%}Active{% else %}In-Active{% endif %}</span>                                                    
                </div>
            </div><!--preview-item-->
			<div class="preview-item title">
                <div class="label"><h4>{% trans 'For' %}:</h4></div>
                <div class="value">
                    <span class="profile-name">{% if plan.type = 'featured_monthly' %}Featured Monthly{% else %}Featured Yearly{% endif %}</span>                                                    
                </div>
            </div><!--preview-item-->
        </div>                                                                                 
    </div>          
</div>
<script type="text/javascript" src="{{STATIC_URL}}ui/js/inline.js"></script>
