#panel_tabs {
    height: 30px;
    margin-bottom: -1px;
    overflow: hidden;
    position: relative;
}
#panel_tabs ul.inline {
    margin: 0;
    padding: 0;
}
#panel_tabs ul.inline li {
    border: medium none;
    float: left;
    margin: 0;
    padding: 0;
}
#panel_tabs ul.inline li a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #D7D7D7 #D7D7D7 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #444444;
    float: left;
    height: 30px;
    margin-right: 5px;
    text-decoration: none;
    width: 110px;
}
#panel_tabs ul.inline li a:hover {
    background-color: #F1F1F1;
}
#panel_tabs ul.inline li a.active {
    background-color: #F1F1F1;
}
#panel_tabs ul.inline li a.active:hover {
    background-color: #F1F1F1;
}
#panel_tabs span.step_count {
    float: left;
    font-size: 18px;
    font-weight: bold;
    padding: 0 5px;
    width: 8px;
}
#panel_tabs span.step_label {
    float: right;
    font-size: 11px;
    padding: 6px 5px 0 0;
    width: 85px;
}
#formContainer {
    background-color: #F1F1F1;
    border: 1px solid #D7D7D7;
    float: left;
    font-size: 11px;
    padding: 8px;
}
div.step_container {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    float: left;
    width: 932px;
}
#preview_right {
    background-color: #FFFFFF;
    float: left;
    padding: 8px;
    width: 378px;
}
#preview_right h2 {
    border-bottom: 1px solid #D7D7D7;
    color: #990000;
    font-weight: normal;
    margin-bottom: 10px;
    padding: 17px 0 5px 10px;
}
#preview_right div.content {
    font-size: 1.1em;
    padding: 10px 10px 25px;
}
#preview_right div.content h1.title {
    color: black;
    font-family: arial,verdana,helvetica,lucida,sans-serif;
    font-size: large;
    font-weight: bold;
    margin-bottom: 3px;
}
#preview_right div.content p.time {
    color: #666666;
    font-size: 0.9em;
    padding-bottom: 5px;
}
#preview_right div.content p.time abbr {
    letter-spacing: normal;
}
#preview_right div.content p.meta {
    color: #AAAAAA;
    font-size: 0.9em;
    padding-bottom: 10px;
}
#preview_right div.content p.meta big {
    color: #666666;
    font-size: 1.2em;
    padding-right: 15px;
}
#preview_right div.content table {
    display: block;
    padding: 0 0 8px;
}
#preview_right div.content table td span.attribute_name {
    color: #AAAAAA;
    font-size: 1em;
}
#preview_right div.content table td span.attribute_value {
    color: #666666;
    font-size: 1.1em;
}
#preview_right div.content p.summary, #preview_right div.content p.address, #preview_right div.content p.contact, #preview_right #preview_right div.content p.ticket, #preview_right div.content p.description {
    display: block;
    padding: 5px 0;
}
#preview_right div.content p.ticket, #preview_right div.content div.map {
    display: block;
    padding: 10px 0;
}
#preview_right div.content p.contact span.tel_pahone big, #preview_right div.content p.contact span.mob_phone big {
    color: #AAAAAA;
    font-size: 1em;
    padding-right: 3px;
}
#preview_right div.content p.contact span.mob_phone {
    padding-left: 15px;
}
#preview_right div.content p.contact span.website, #preview_right div.content p.ticket span.website {
    color: #008000;
}
div#formContainer form.form_left {
    background-color: #FFFFFF;
    border-right: 8px solid #F1F1F1;
    margin-right: 0;
    padding: 15px 10px 10px;
}
div#formContainer form.form_all, div#formContainer form.form_qna {
    background-color: #FFFFFF;
    font-family: "Arial";
    font-size: 1.1em;
    padding: 15px 20px 20px;
}
div#formContainer form.form_qna {
    width: 572px;
}
div#formContainer form fieldset {
    border: medium none;
    margin-top: 0;
    padding: 10px 0 0;
}
div#formContainer form div.title, div.title {
    border-bottom: 1px solid #D7D7D7;
    margin-bottom: 20px;
    padding-bottom: 3px;
}
div#formContainer form div.title h2, div.title h2 {
    color: #990000;
    display: inline;
    font-weight: normal;
    line-height: normal;
    padding-right: 5px;
}
div#formContainer form div.title p, div.title p {
    color: #AAAAAA;
    display: inline;
}
div#formContainer form div.title p a, div.title p a {
    color: #666666;
}
div#formContainer form fieldset img.profile_photo {
    display: block;
    float: left;
    height: 48px;
    margin-right: 5px;
    width: 48px;
}
div#formContainer form fieldset.address-field {
    background-color: #FCFCFC;
}
div#formContainer form fieldset.base, div#formContainer form fieldset.divider {
    background: url("../images/design/global/dotted.gif") repeat-x scroll left top #FFFFFF;
    margin-top: 30px;
}
div#formContainer form dl.vertical {
    margin: 0;
    padding-left: 20px;
}
div#formContainer form dl.horizontal {
    margin: 0;
    padding: 10px 0 0;
}
div#formContainer form dl.base {
    margin: 0;
    padding: 0;
    text-align: right;
}
div#formContainer form dl.horizontal dt {
    clear: both;
    float: left;
    line-height: 1.25em;
    text-align: right;
    white-space: nowrap;
    width: 140px;
}
div#formContainer form dl.horizontal dd {
    line-height: 1.35em;
    margin-left: 145px;
}
div#formContainer form dl.vertical dt {
    clear: both;
    display: block;
    line-height: 1.25em;
    text-align: left;
    white-space: nowrap;
}
div#formContainer form dl.vertical dd {
    line-height: normal;
}
div#formContainer form dl.file dd {
    padding-left: 20px;
}
div#formContainer form dl.vertical dt label, div#formContainer form dl.horizontal dt label, div#formContainer form dl.horizontal dd label {
    color: #666666;
    font-size: 1.1em;
    font-weight: normal;
}
div#formContainer form dl.vertical dt label, div#formContainer form dl.horizontal dt label {
    line-height: 160%;
    margin: 0 0 0.2em;
}
div#formContainer form dl.horizontal dd label {
    display: block;
    margin: 0 0 0.2em;
}
div#formContainer form dl.vertical dt label.bg, div#formContainer form dl.horizontal dt label.bg, div#formContainer form dl.horizontal dd label.bg {
    background: none repeat scroll 0 0 #E3E6FB;
    color: #003366;
    font-weight: bold;
    padding: 2px 6px;
}
div#formContainer form div.edit_slug {
    color: #333333;
    font-size: 1.2em;
    padding: 0 0 15px;
}
div#formContainer form div.edit_slug #url {
    color: #008000;
}
div#formContainer form div.edit_slug .edit {
    background: none repeat scroll 0 0 #FDFCD7 !important;
    padding: 0 2px;
}
div#formContainer form div.edit_slug #btn a.edit_btn {
    font-weight: bold;
    text-decoration: underline;
}
div#formContainer form input.textField, div#formContainer form select.textField, div#formContainer form textarea.textField {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #95A7B8;
    color: #000000;
    display: inline;
    font-family: Arial,sans-serif;
    font-size: 1.2em;
    margin: 0 0 10px;
    padding: 1px;
}
div#formContainer form input.selectField, div#formContainer form select.selectField, div#formContainer form textarea.selectField {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #95A7B8;
    color: #000000;
    display: inline;
    font-family: Arial,sans-serif;
    font-size: 1.2em;
    margin: 0 0 10px;
    padding: 0;
}
div#formContainer form input.disable, div#formContainer form select.disable {
    background-color: #F1F1F1;
    border-color: #D7D7D7;
    color: #666666;
}
div#formContainer form input.file {
    border: 1px solid #95A7B8;
    padding: 3px;
}
div#formContainer form input.file_long {
    background: none repeat scroll 0 0 #EBEBE4;
    border: 1px solid #7F9DB9;
    padding: 3px;
}
div#formContainer form input.long {
    width: 330px;
}
div#formContainer form file.long {
    width: 300px;
}
div#formContainer form input.normal {
    width: 250px;
}
div#formContainer form select.normal {
    width: 258px;
}
div#formContainer form input.file1 {
    width: 300px;
}
div#formContainer form input.date {
    color: #666666;
    font-size: 11px;
    margin-right: 1px;
    width: 80px;
}
div#formContainer form select.time {
    color: #666666;
    font-size: 11px;
    line-height: inherit;
    margin-right: 2px;
    padding: 2px;
    width: 70px;
}
div#formContainer form input.cost {
    width: 80px;
}
div#formContainer form input.phone {
    width: 150px;
}
div#formContainer form input.tag {
    width: 208px;
}
div#formContainer form select.locality, div#formContainer form select.small {
    width: 155px;
}
div#formContainer form select.long {
    width: 240px;
}
div#formContainer form input.city {
    width: 150px;
}
div#formContainer form input.postal {
    width: 80px;
}
div#formContainer form textarea {
    height: 150px;
    width: 330px;
}
div#formContainer form textarea.normal {
    height: 150px;
    width: 330px;
}
div#formContainer form textarea.small {
    height: 60px;
    width: 330px;
}
div#formContainer form select.evnt_category {
    width: 135px;
}
div#formContainer form table.ad_type {
    font-size: 1.2em;
    vertical-align: bottom;
}
div#formContainer form table.post_type {
    font-size: 1.2em;
    margin: 6px 0 15px;
    padding: 0;
    vertical-align: bottom;
}
div#formContainer form table tr.row_1 td {
    padding-bottom: 4px;
}
div#formContainer form table td.meta, div#formContainer form table td.meta {
    color: #7D7D7D;
    font-size: 0.85em;
}
div#formContainer form table tr.row_2 td {
    padding-bottom: 20px;
}
input.error, textarea.error, select.error {
    border: 1px solid #CC3300 !important;
}
div#formContainer form input:focus, div#formContainer form textarea:focus, div#formContainer form select:focus {
    background: none repeat scroll 0 0 #F9F9F9;
    border-color: #5B656E;
}
div#formContainer form em {
    color: #AAAAAA;
    cursor: help;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    padding-left: 5px;
    vertical-align: -10%;
}
div#formContainer form em#showAlternatePhones {
    cursor: pointer;
}
div#formContainer form #alternatePhones {
}
div#formContainer form em a {
    color: #336699;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    vertical-align: -10%;
}
div#formContainer form span.tip {
    color: #AAAAAA;
    display: block;
    margin-bottom: 10px;
    margin-top: -8px;
    overflow: visible;
}
div#formContainer form div#imageFromUs {
    margin-top: 10px;
}
div#formContainer form div#imageFromUs div.category {
    border-bottom: 1px solid #E5E5E5;
    display: block;
    padding-bottom: 10px;
}
div#imageFromUs ul.evnt-thumbs {
    margin-top: 10px;
    padding: 0;
}
div#imageFromUs ul.evnt-thumbs li {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
div#imageFromUs ul.evnt-thumbs li img {
    background: none repeat scroll 0 0 #444444;
    height: 64px;
    width: 64px;
}
div#formContainer form .clsd_category {
    float: left;
    margin: 0 0 25px;
    width: 890px;
}
.clsd_col {
    float: left;
    margin-right: 10px;
    width: 214px;
}
div#formContainer form .clsd_category h2 {
    color: #444444;
    font-family: arial,verdana,helvetica,lucida,sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 10px 0 0;
}
div#formContainer form .clsd_category ul {
    font-size: 0.95em;
    line-height: 1.2em;
    list-style-type: none;
    padding: 0;
}
div#formContainer form .clsd_category li {
    float: left;
    list-style-type: none;
    padding: 0;
}
div#formContainer form .clsd_category li a {
    display: block;
    padding: 4px 0;
    width: 214px;
}
div#formContainer form .clsd_category li a:link, div#formContainer form .clsd_category li a:visited {
    background: url("../images/design/global/dotted.gif") repeat-x scroll left bottom transparent;
    color: #333399;
}
div#formContainer form .clsd_category li a:hover {
    background-color: #F5F5F5;
    color: #000000;
    text-decoration: underline;
}
div#formContainer form .clsd_category li a:active, div#formContainer form .clsd_category li a.selected {
    border: medium none;
    color: #990000;
    outline: medium none;
    text-decoration: none;
}
div#formContainer form .clsd_category em.count {
    color: #444444;
    font-style: normal;
    font-weight: normal;
}
div#formContainer form .clsd_category a:link span, div#formContainer form .clsd_category a:visited span {
    border-left: medium none;
    color: #7D7D7D;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}
div#formContainer form .clsd_category a:hover span {
    border-left: medium none;
    color: #5A5A57;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}
#tagsdiv #newtag {
    margin-right: 5px;
    width: 16em;
}
#tagchecklist {
    font-size: 12px;
    margin-left: 10px;
    overflow: auto;
}
#tagchecklist strong {
    margin-left: -8px;
    position: absolute;
}
#tagchecklist span {
    cursor: default;
    display: block;
    float: left;
    font-size: 11px;
    line-height: 1.8em;
    margin-right: 25px;
    white-space: nowrap;
}
#tagchecklist span a {
    cursor: pointer;
    display: block;
    float: left;
    height: 10px;
    margin: 6px 0 0 -9px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    width: 10px;
}
#tagchecklist span a {
    background: url("../images/design/icons/xit.gif") no-repeat scroll 0 0 transparent;
}
#tagchecklist span a:hover {
    background: url("../images/design/icons/xit.gif") no-repeat scroll -10px 0 transparent;
}
a.link_remove {
    color: #D64B4F;
    text-decoration: underline;
}
a.link_create, span.link_create {
    color: #6633CC;
    text-decoration: underline;
}
span.order {
    background-color: #FBF9B3;
    color: #000000;
    display: block;
    font-size: 1.3em;
    font-weight: normal;
    margin: 1px 5px 0 0;
    padding: 1px 3px;
}
span.orderEdit {
    display: block;
    margin: 0 5px 0 0;
    padding: 0;
}
span.orderEdit input {
    color: #000000;
    width: 20px;
}
.errors {
    background: url("../images/design/global/error_bg.gif") repeat scroll 0 0 transparent;
    color: #CC3300;
    display: none;
    font-size: 12px;
    margin-top: 5px;
}
.errors p {
    padding: 10px 10px 0;
}
.errors span {
    background-color: #D44914;
    border: 1px solid #D44914;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    padding: 5px 10px;
}
.errors ul, .errors ol {
    font-size: 12px;
    list-style: disc outside none;
    margin: 0 5px 10px 0;
    padding: 5px 0 15px 25px;
}
.errors ul li, .errors ol li {
    padding-top: 2px;
}
