{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% load upload_tags %}
{% block navigation %}
	{% activetab "selmodule" "bm_shop" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% if product_obj %}{% trans 'Edit Product' %}{% else %}{% trans 'Add New Product' %}{% endif %} {% endblock %}
{% block head %}
	<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bm.jfp.ui.css">
{% endblock %}
{% block content %}
  <div id="staff-platform" class="group">
                    <div class="header-bar {% if product_obj %}has-preview-head has-sub{% endif %}">
                    	<h2><a href="{% url 'staff_bmshop_product_list' %}"><span class="go_back"></span></a>{% if product_obj %}{% trans 'Edit Product' %}{% else %}{% trans 'Add Product' %}{% endif %}</h2>
                      	{% if product_obj %}
                        <section class="sub-header-bar">
							<div class="preview-head">
                            	{% if product_obj.featured %}
				        		<span class="list-type featured-item"><a class="tttxt" original-title="{% trans 'Item listed as featured' %}" href="javascript:void(0);">{% trans 'Featured' %}</a></span>
						 		{% endif %}
                                <div class="item-title">
                                    <h1>{{ product_obj.name }}</h1>
                                    <p class="ltxt80">{% trans 'By' %} <a href="#">{{product_obj.created_by.profile.get_full_name}}</a> <span class="divider12">|</span> {{product_obj.created_on|date:"M d, Y"}}</p>
								</div>                                   
                                <ul class="status-tabs group">
                                    <li>{{product_obj.most_viewed}}<span class="meta">{% trans 'views' %}</span> </li>
                                    <!--li> <a href="javascript:void(0)">0<span class="meta">{% trans 'comments' %}</span></a> </li-->
                                </ul>                                
                            </div>  
                        </section>                           
						{% endif %}
					</div>
                    <div id="core-wraper" class="group">
                        <div class="staff-main">
                            <div class="page-wrap">
                                <div id="Articles-add" class="group">
                                    <div id="add-new-Article">
                                    	{% if form.errors %}
										<div class="messageerror" style="background:#FCF4F4;padding:10px;color:#FF9902; box-shadow:0 0 2px rgba(0, 0, 0, 0.1);border-bottom:1px solid #e1e1e1">
											<strong style="font-weight:bold;">{% trans 'There is a problem with your submission' %}</strong>
										    <ul style="list-style:square;margin-left:20px;">
										   		{% for field in form %}
										   			{% if  field.errors%}<li>{%for error in field.errors%}{{error}}{%endfor%}</li>{% endif %}
										  	 	{% endfor %}
											</ul>
										</div>
										{% endif %}
                                         <form action="{%if product_obj %}{%if clone%}{% url 'staff_bmshop_add_product' %}{%else%}{% url 'staff_bmshop_edit_product' product_obj.id %}{%endif%}{% else %}{% url 'staff_bmshop_add_product' %}{%endif%}" name="mform1" id="mform1" method="post" class="add_venue">{% csrf_token %}
                                            <div class="fields hform">
                                                <div class="field-group">  
                                                    <div class="field text-field fd-title">
                                                        <div class="label"><label for="">{% trans 'Product Name' %}<span class="required-field">*</span></label></div>
                                                         <div class="value" >
                                                        	{{ form.name }}
															 <span class="tip">{{ globalsettings.website_url }}/shop/<input type="text" onkeyup="string_to_slug(this.value)" name="slug" autocomplete="off" value="{% if product_obj.slug %}{{ product_obj.slug }}{% endif %}" id="id_slug" class="default-url"></span>
														</div>
                                                    </div>
													<div class="field select-field">
                                                        <div class="label"><label >{% trans 'Categories' %}</label></div>
                                                        <div class="value">
                                                            {{ form.categories }}                                      
                                                        </div>
                                                    </div>
													<div class="field select-field">
                                                        <div class="label"><label >{% trans 'Manufacturer' %}<span class="required-field">*</span></label></div>
                                                        <div class="value">
                                                            {{ form.manufacturer }}                                      
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field-group">
                                                	<div class="fields-head"></div> 
                                                    
                                                    <div class="field text-field">	
                                                        <div class="label"><label>{% trans 'Highlights' %}<span class="required-field">*</span></label></div>	
                                                        <div class="value">{{ form.short_description }}</div>	
                                                    </div>
                                                    <div class="field text-field">	
                                                        <div class="label"><label>{% trans 'Description' %}</label></div>	
                                                        <div class="value">{{ form.description }}</div>	
                                                    </div>
                                                </div>
												<div class="field-group">
                                                	<div class="fields-head"></div> 
                                                    
                                                    <div class="field text-field">	
                                                        <div class="label"><label>{% trans 'Price' %}<span class="required-field">*</span></label></div>	
                                                        <div class="value">{{ form.price }}</div>	
                                                    </div>
                                                    <div class="field text-field">	
                                                        <div class="label"><label>{% trans 'Discount Price' %}</label></div>	
                                                        <div class="value">{{ form.for_sale_price }}</div>	
                                                    </div>
                                                    <div class="field text-field">	
                                                        <div class="label"><label>{% trans 'Tax' %}</label></div>	
                                                        <div class="value">{{ form.tax_calculator }}</div>	
                                                    </div>
                                                </div>
                                                
                                                <div class="field-group">
                                                	<div class="fields-head"></div> 
                                                	<div class="field text-field">	
                                                        <div class="label"><label>{% trans 'Product Type' %}</label></div>	
													    <div class="value">
													    	<select  class="select-menu fl" onchange="cahnge_prdct_type($(this).val(),{% if product_obj %}pid={{product_obj.id}}{% else %}pid=false{% endif %})" id="id_product_type" name="product_type">
																<option value="S" {% if not product_obj.variant %}selected="selected"{% endif %}>Standard</option>
						                   						<option value="V" {% if product_obj.variant %}selected="selected"{% endif %}>Product with variants</option>
                                                            </select>
													    </div>	
													    {% if product_obj %}<input type="hidden" value="{{ product_obj.id }}" name="id_product" id="id_product">{% endif %}
                                                    </div>
                                                    <div class="field text-field" id="id_var_listing" style="display: none">
                                                    	<div class="label"><label>{% trans 'Variants' %}</label></div>	
														<div class="value">
															{{form.variant}}
														</div>	
													</div>
													<span style="padding-left:311px;padding-top:11px;display:none;" id="variant_loading" class="load-item"><img alt="...." src="{{STATIC_URL}}ui/images/global/loading-s.gif"></span>
                                                    <div style="display: none;" id="id_append_varient">
                                                     	{% include 'bmshop/staff/append_addvarients.html'%} 
                                                    </div>
                                                </div>
                                                
												<div class="field-group">
                                                	<div class="fields-head"></div> 
                                                    
                                                    <div class="field text-field">	
                                                        <div class="label"><label>{% trans 'Manual Delivery Time' %}</label></div>	
													    <div class="value">{{ form.manual_delivery_time }}</div>	
                                                    </div>
													<div class="field text-field" id="sho_delivery_time" style="display:none;">	
                                                        <div class="label"><label>{% trans 'Delivery Time' %}</label></div>	
                                                        <div class="value">{{ form.delivery_time }}</div>	
                                                    </div>
													 <div class="field text-field" id="id_mng_stock">	
                                                        <div class="label"><label>{% trans 'Manage Stock' %}</label></div>	
                                                        <div class="value">{{ form.manage_stock_amount }}</div>	
                                                    </div>
													<div class="field text-field" id="show_manage_stock" style="display:none;">	
                                                        <div class="label"><label>{% trans 'No. of stock Items' %}</label></div>	
                                                        <div class="value">{{ form.stock_amount }}</div>	
                                                    </div>
                                                </div>
												<div class="field-group" id="meta-tags">
													<h3>{% trans 'Upload Images' %}</h3>
													<p>{% trans 'Add images from the file browser and click  on any image to set that as a featured image. Note: Image aspect should be a square (For ex: 700x700).' %}</p>
	                                                <div class="fields-head"></div>	
	                                                <div class="field select-field">
	                                                      <div class="label"><label for="-button"></label></div>
	                                                      <div class="value">
	                                                           <div id="fileupload" >
															
						 										<div class="fileupload-content">
						    									<ul class="files bm-uploader-list set-feature"></ul>
																</div><div class="clear"></div>
				    											<div id="bm-dropzone_area" class="dropzone">{% trans 'Drop the files here' %}</div>
				            									{% csrf_token %}<div class="clear"></div>
				           									 	<div class="upload-button-wrapper">
				               									 <a class="upload-button">{% trans 'Add Images' %}</a>
				                    							 <div class="fileinput-button">
				                        							 <input type="file" name="photo" id="id_photo" multiple=""  accept="image/*" tabindex="-1">
				                    							 </div>
				               								 	</div>
															</div>                  
	                                                      </div>
														  <input type="hidden" value="{%if default_pic%}{{default_pic}}{%endif%}" name="default_img" id="id_default_img">   
														  <input type="hidden" value="{{clone}}" name="is_clone">
														  <input type="hidden" value="{{old_id}}" name="old_product">
	                                                 </div>
												</div>
												 <div class="field-group">
                                                	<div class="fields-head"></div> 
                                                    <div class="field text-field">	
                                                        <div class="label"><label>{% trans 'Supported Accessories' %}</label></div>	
                                                        <div class="value">
                                                        	<select name="accessories"  class="select-menu fl"  data-placeholder="{% trans 'Select Accessories' %}" id="id_accessories" multiple="multiple">
																{% for accessory_obj in product_objs %}
																	<option value="{{accessory_obj.id}}" {%for accessory in product_obj.productaccessories_product.all%}{%ifequal accessory_obj.id accessory.accessory.id %}selected{%endifequal%}{%endfor%} >{{accessory_obj.name}}</option>
																{% endfor %}
															</select>
														</div>	
                                                    </div>
													<div class="field text-field">	
                                                        <div class="label"><label>{% trans 'Related Products' %}</label></div>	
                                                        <div class="value">{{ form.related_products }}</div>	
                                                    </div>
                                                </div>
												<div class="field-group" id="meta-tags">
													<div class="fields-head"></div> 
													<div class="field text-field">	
		                                                <div class="label"><label>{% trans 'Feature this product' %}</label></div>	
		                                                <div class="value">{{ form.featured }}</div>	
		                                            </div>
												</div>
                                            </div>
                                            <div class="form-submit right group">
                                               <button class="cform-button" type="button" roll="button" onclick="location.replace('{% url 'staff_bmshop_product_list' %}')"><span class="cform-button-text">{% trans 'Cancel' %}</span></button>
											   <button role="button" value="finish" name="finish_button" class="cform-button prime" type="submit"><span class="cform-button-text">{% trans 'Save & Finish' %}</span></button>
											   <button role="button" value="next" name="finish_button" class="cform-button prime" type="submit"><span class="cform-button-text">{% trans 'Save & Next' %}</span></button>
                                            </div>                                                
                                        </form>
                                    </div>																	                                        
                                                                            
                                </div> <!-- end table -->                                    
                            </div><!-- end page wrap -->
                        </div>  <!-- end main-col -->                            
                        <div id="aside" class="side-bar">
                        	{% if product_obj %}
                        	<!--div class="preview-aside-meta group">
                                <ul class="side-navigation">
                                    <li class="active"><a href="javascript:void(0);">{% trans 'Product Details' %}</a></li>
                                </ul>
								<div class="preview-item-stats">
									<a href="javascript:void(0)" class="btn-txt-blue" style="display:block; text-align:center"><span class="btn-txt">{% trans 'Preview this Product' %}</span></a>
                                </div>                                
							</div--> 
							{% endif %}
                            {#% include 'article/staff/article-faq-addpge.html' %#}                                            
                        </div>                            
					</div>                                                    
				</div>
{% endblock %}
{% block footer_include%}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ckeditor/ckeditor.js"></script>


{% upload_js %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.jfp.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.fup.appln.js"></script>
<script type="text/javascript">
	var edt;
	var edt1;
	$(document).ready(function(){
			show_delivery_time();
			show_manage_stock();
			
			{% if product_obj %}
				$('.form-submit').addClass('form-submit-original');
				easy_form_submit();
			{% endif %}
			
			file_upload('{% url 'staff_bmshop_ajax_upload_photos' %}{%if product_obj.id%}?id={{product_obj.id}}{%endif%}',10);
			{% if not product_obj %}
				{% if new_pic %}
					get_images('{% url 'staff_bmshop_ajax_get_default_photos' %}?ids={% for np in new_pic %}{{np}}{% if not forloop.last %},{% endif %}{% endfor %}')
				{% endif %}
			{% endif %}
			
			$(".bm-uploader-file .preview a").live("click",function () {
				$(".bm-uploader-file .preview").removeClass('border');
				$(this).parent('.preview-inner').parent(".preview").addClass('border');
				$(".bm-uploader-file .icon-tick").removeClass('active');
  				$(this).parent('.preview-inner').find(".icon-tick").addClass('active');
				$('#id_default_img').val($(this).parent('.preview-inner').find('.new_pic_uploaded').val());
				
   			 });
			 function set_default_image(id){
				$('#pic'+id).parent('.preview-inner').parent(".preview").addClass('border');
				$('#pic'+id).parent('.preview-inner').find(".icon-tick").addClass('active');
			 }
			 {%if default_pic%}
				 setTimeout(function(){
					set_default_image({{ default_pic }});
				 },2000);
			 {%endif%}
			 {% if product_obj and product_obj.variant_id %}
			 	cahnge_prdct_type('V');
			 {% endif %}	 
			 
			 
			 $('.select-menu').bind("change", function(){
				$("#mform1").validate().element($(this));
			});
			CKEDITOR.on( 'instanceCreated', function( e ){
	        	e.editor.addCss('body { font-size:12px; font-family:Arial, "Times New Roman", Verdana;}');
			});
			edt=CKEDITOR.replace( 'id_short_description',
		        {                   
		            customConfig : '{{ STATIC_URL }}js/ckeditor/custome_config.js',
		            toolbar : 'Basic',
		           	width:500
		     });
			 edt1 = CKEDITOR.replace( 'id_description',
		        {                   
		            customConfig : '{{ STATIC_URL }}js/ckeditor/custome_config.js',
		            toolbar : 'Basic',
		           	width:500
		     });
	         edt.on('key', function(event) {updateTextArea();});
			 edt1.on('key', function(event) {updateTextArea1();});
			 
			   
			 
	
	});
	function updateTextArea(){
	    CKEDITOR.tools.setTimeout( function(){ 
	        $('#id_short_description').val(edt.getData());
	        $("#id_short_description").trigger('keyup');
	    }, 0);  
	}	
	function updateTextArea1(){
	    CKEDITOR.tools.setTimeout( function(){ 
	        $('#id_description').val(edt1.getData());
	        $("#id_description").trigger('keyup');
	    }, 0);  
	}			
</script>
<script type="text/javascript">
	
	function cahnge_prdct_type(val){
		
		if(val == 'V'){
			$('#id_var_listing').slideDown('slow');
			$('#id_mng_stock').slideUp('slow');
			if($('#id_variant').val()){
				show_variant_val($('#id_variant').val());
			}
		}else{
			$('#id_variant').val("").trigger("liszt:updated");
			$('#id_var_listing').slideUp('slow');
			$('#id_append_varient').slideUp('slow');
			$('#id_mng_stock').slideDown('slow');
		}
	}
	
	function show_variant_val(vid){
		pid = $('#id_product').val();
		var dataString ="vid="+vid+'&pid='+pid;
		$('#id_append_varient').fadeOut('slow');
		$('#variant_loading').show();
		$.ajax({
		type: "GET",
		url: "{% url 'staff_bmshop_ajax_get_varients'%}",
		data: dataString,
		dataType:'JSON',
		success: function(data){	
			$('#variant_loading').hide();
			if(data.status){
				$('#id_append_varient').empty().html(data.html);
				if(data.is_product){
					if($('#id_for_sale_price').val()!=''){$('.class_variant_price').val($('#id_for_sale_price').val());}
					else{$('.class_variant_price').val($('#id_price').val());}
				}
				$('#id_append_varient').slideDown('slow');
			}
			
			}	
		
		});
		
	}
	function chk_var_val(id){
		if($('#val_chk_bx_'+id).prop("checked")){
			$('#val_id_div_'+id).slideDown('slow');
		}else{
			$('#val_id_div_'+id).slideUp('slow');
		}
	}
	
	function show_delivery_time(){
		if($("#id_manual_delivery_time").prop("checked")){
			$('#sho_delivery_time').slideDown('slow');}
		else{$('#sho_delivery_time').slideUp('slow')}
		}
	function show_manage_stock(){
		if($("#id_manage_stock_amount").prop("checked")){
			$('#show_manage_stock').slideDown('slow');}
		else{$('#show_manage_stock').slideUp('slow')}
		}
	function string_to_slug(str) {
	  str = str.replace(/^\s+|\s+$/g, ''); // trim
	  str = str.toLowerCase();
	  str = str.replace(/[^a-z0-9 -]/g, '').replace(/\s+/g, '-').replace(/-+/g, '-'); 
	  $('#id_slug').val(str);
	}
	
	$(document).ready(function(){
		$.validator.addMethod("desc_required", function(value, element) {  
		    	$('#id_short_description').val(edt.getData());
				if($('#id_short_description').val()!=''){return true;}
				else{return false;}
			},"Please enter a description.");
			$("#mform1").validate({
					ignore:'',
					highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
					unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
					errorPlacement: function(error, element){},
				   	rules:{
				    	name: "required",
						slug: "required",
						manufacturer: "required",
						short_description: "required",
						price: {required:true,number:true},
				    	for_sale_price: {required:true,number:true},
				   	}
			});
	}); 
</script>	
{% endblock %}			