{% load i18n %}
{%if is_displayables%}
<div class="field-group">
 	<h3>{% trans 'Properties of' %} {{product_obj.name}}</h3>
	<p>{% trans 'Manage properties and values related to the product.' %}</p>
	<div class="fields-head"></div> 
    {% for property_group in displayables %}
	<div class="title_group">
    	<div class="field text-field">	
            <div class="value">
            	<span class="title">{{ property_group.name }}</span>
            </div>	
        </div>
		{% for property in property_group.properties %}
    	<div class="field text-field">	
            <div class="label"><label><a target="_blank" href="{%url 'staff_bmshop_edit_property' property.id%}">{{property.name}}</a></label></div>	
            <div class="value">
            	{% if property.display_select_field %}
        	   	<select name="property-{{ property.id }}-{{property_group.id}}"  class="select-menu fl"  data-placeholder="{% trans 'Choose' %} {{property.name}}" id="id_select_display_field_{{property.id}}" multiple="multiple">
				  {% for option in property.options %}
				  <option value="{{ option.id }}" {% if option.selected %}selected="selected"{% endif %}>{{ option.name }}</option>
				  {%endfor%}
				</select> 
				{%endif%}
				{% if property.display_text_field %}
					<input type="text" class="fl" name="property-{{ property.id }}-{{property_group.id}}" value="{{ property.value }}" id="id_property-{{ property.id }}">
				{%endif%}
            </div>	
        </div>
		{%endfor%}
    </div>
	{%endfor%}
</div>
{%endif%}
{%if not is_group %}
<div class="no-data"> <p>{% trans 'No Properties Found !' %}, Please go to <a href="/staff/shop/products/propertygroup">Manage Property Group</a> and add categories for specific groups.</p></div>
{%else%}
{%if not is_displayables%}
<div class="no-data"> <p>{% trans 'Selected property group contain no properties !' %}</p><a target="_blank" href="{%url 'staff_bmshop_group_property_list' %}">{% trans 'Click here to Add' %} →</a></div>
{%endif%}
{%endif%}

