<span style="display: inline-block;color:{%if order.delivery_status == 'D' %}green{%elif order.delivery_status == 'S'%}blue{%else%}red{%endif%};">{{order.get_delivery_status_display}}</span>
{%if not order.delivery_status == 'D' %}
	{%if order.status == 1 %}
		<a href="javascript:void(0);" onclick="change_delivery_staus({{order.id}})" style="padding-left:5px" class="call-edit txt-button">Change</a>
	{%endif%}
{%endif%}
{%if not order.delivery_status == 'N' %}<span style="color: rgb(153, 153, 153); font-size: 11px; display: block;"> On {{order.delivery_date|date:'M-d Y'}}</span>{%endif%} 