{% if pty_obj %}
{% load i18n %}	
<li class="table-list" id="li_{{pty_obj.id}}">
    <div class="table-list-container group">
        <div class="item-info relative-block">
            <h3 class="title"><a href="">{{pty_obj.name}}</a></h3>
            <p class="ltxt80">{% if pty_obj.filterable %}{% trans 'Filterable' %}<span class="divider12">|</span>{% endif %}{% if pty_obj.display_on_product %}{% trans 'Display on product' %}<span class="divider12">|</span>{% endif %} {% trans 'By' %} <a href="">{{pty_obj.created_by.profile.get_full_name}}</a> <span class="divider12">|</span>{{pty_obj.created_on|date:"M d, Y"}}</p>
                                                                  
        </div>
        <div class="action-buttons">
            <div class="relative-block">
                <span class="item-manage inline-block dev_hide_list_settings" id="id_span_settings_{{pty_obj.id}}" onclick="display_settings({{pty_obj.id}});"><span class="action-icon icon-manage"></span></span>
                <ul class="dropdown-list dev_settingsdrpdwn" id="settings_id_{{pty_obj.id}}" style="display:none">
						<li><a class="bm-add-gadget light_box" title="{% trans 'Edit Property' %}" href="{% url 'staff_bmshop_add_property' %}?id={{pty_obj.id}}">{% trans 'Edit' %}</a></li>
						<li><span class="line-break"></span></li>			                       	
				    	<li><a onclick="if(confirm(gettext('Are you sure you want to delete the selected property?'))){filter_action({{article.id}},'DEL');return false;}" href="javascript:void(0)">{% trans 'Delete' %}</a></li>
                </ul>
			</div>                                                              	                                                         
        </div>
    </div>
</li>
{% endif %}