{% load ds_utils %}
{% load i18n %}		
		<input type="hidden" value="{% url 'staff_bmshop_ajax_varients' %}" name="id_listarticle_url" id="id_listarticle_url">
        <input type="hidden" value="{% if search %}{{search}}{% endif %}" name="id_search" id="id_search">
        <input type="hidden" value="{{sort}}" name="id_sort" id="id_sort">
        
		{% if varient_objs %}
		<ol class="data-table table-lists-container" id="ajax_content_list">
			{% for varent_obj in varient_objs %}	
			<li class="table-list" id="li_{{pty_obj.id}}">
			        <div class="table-list-container group">
			            <div class="item-info relative-block">
			                <h3 class="title"><a href="{% url 'staff_bmshop_edit_varient' varent_obj.id %}">{{varent_obj.name}}</a></h3>
			                <p class="ltxt80">{% for val in  varent_obj.get_varaint_values %}{{val.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
			                                                                      
			            </div>
			            <div class="action-buttons">
			                <div class="relative-block">
			                    <span class="item-manage inline-block dev_hide_list_settings" id="id_span_settings_{{varent_obj.id}}" onclick="display_settings({{varent_obj.id}});"><span class="action-icon icon-manage"></span></span>
			                    <ul class="dropdown-list dev_settingsdrpdwn" id="settings_id_{{varent_obj.id}}" style="display:none">
										<li><a  title="{% trans 'Edit Varient' %}" href="{% url 'staff_bmshop_edit_varient' varent_obj.id %}">{% trans 'Edit' %}</a></li>
										<li><span class="line-break"></span></li>			                       	
								    	<li><a onclick="if(confirm(gettext('Are you sure you want to delete the selected variant?'))){filter_content({{varent_obj.id}});return false;}" href="javascript:void(0)">{% trans 'Delete' %}</a></li>
			                    </ul>
							</div>                                                              	                                                         
			            </div>
			        </div>
			    </li> 
			{% endfor %}
			</ol>
			{% include 'common/pagination_ajax.html'%}  
			{% else %}
				<div class="no-data"> <p>{% trans 'Sorry , No variants found !' %}</p></div>
         	{% endif %}
				 