{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% load upload_tags %}
{% block navigation %}
	{% activetab "selmodule" "bm_shop" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Properties' %}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <div id="staff-platform" class="group">
                    <div class="header-bar {% if product_obj %}has-preview-head has-sub{% endif %}">
                    	<h2><a href="{% url 'staff_bmshop_edit_product' product_obj.id %}"><span class="go_back"></span></a>{% if product_obj %}{% trans 'Properties' %}{% endif %}</h2>
                      	{% if product_obj %}
                        <section class="sub-header-bar">
							<div class="preview-head">
                            	{% if product_obj.featured %}
				        		<span class="list-type featured-item"><a class="tttxt" original-title="{% trans 'Item listed as featured' %}" href="javascript:void(0);">{% trans 'Featured' %}</a></span>
						 		{% endif %}
                                <div class="item-title">
                                    <h1>{{ product_obj.name }}</h1>
                                    <p class="ltxt80">{% trans 'By' %} <a href="#">{{product_obj.created_by.display_name}}</a> <span class="divider12">|</span> {{product_obj.created_on|date:"M d, Y"}}</p>
								</div>                                   
                                <ul class="status-tabs group">
                                </ul>                                
                            </div>  
                        </section>                           
						{% endif %}
					</div>
                    <div id="core-wraper" class="group">
                        <div class="staff-main">
                            <div class="page-wrap">
                                <div id="product-property-add" class="group">
                                    <div id="add-new-Article">
                                    	{% if form.errors %}
										<div class="messageerror" style="background:#FCF4F4;padding:10px;color:#FF9902; box-shadow:0 0 2px rgba(0, 0, 0, 0.1);border-bottom:1px solid #e1e1e1">
											<strong style="font-weight:bold;">{% trans 'There is a problem with your submission' %}</strong>
										    <ul style="list-style:square;margin-left:20px;">
										   		{% for field in form %}
										   			{% if  field.errors%}<li>{%for error in field.errors%}{{error}}{%endfor%}</li>{% endif %}
										  	 	{% endfor %}
											</ul>
										</div>
										{% endif %}
                                         <form action="{% url 'staff_bmshop_update_product_properties' product_obj.id %}" name="mform1" id="mform1" method="post" class="add_venue">{% csrf_token %}
                                            <div class="fields hform">
                                            	<span id="ajax_content_loading" class="load-list-items" style="display: none; padding-left: 356px; padding-top: 200px;">
												 	<img src="{{STATIC_URL}}ui/images/global/loading.gif" align="...">
												</span>
												<div id="id_append_data" style="min-height:350px;">
												</div>
                                            </div> 
                                            <div class="form-submit right group">
                                               <button class="cform-button" type="button" roll="button" onclick="location.replace('{% url 'staff_bmshop_product_list' %}')"><span class="cform-button-text">{% trans 'Cancel' %}</span></button>
											   <button class="cform-button" type="button" roll="button" onclick="location.replace('{% url 'staff_bmshop_edit_product' product_obj.id %}')"><span class="cform-button-text">{% trans 'Back' %}</span></button>
											   <button role="button" value="save" name="save_button" class="cform-button prime" type="submit"><span class="cform-button-text">{% trans 'SAVE' %}</span></button>
                                            </div>                                                
                                        </form>
                                    </div>																	                                        
                                                                            
                                </div> <!-- end table -->                                    
                            </div><!-- end page wrap -->
                        </div>  <!-- end main-col -->                            
                        <div id="aside" class="side-bar">
                        	
                            {#% include 'article/staff/article-faq-addpge.html' %#}                                            
                        </div>                            
					</div>                                                    
				</div>
{% endblock %}
{% block footer_include%}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>


<script type="text/javascript">

	$(document).ready(function(){
			
		retrive_properties({{product_obj.id}});
	
	});
	function retrive_properties(id){
			var dataString='pid='+id;
			if($('#id_property_groups').val()){
				$('#id_property_groups').val().forEach(function(item) {
		   			dataString+='&group_ids='+item;
				});
			}else{
				dataString+='&group_ids=None'
			}
			
			$('#ajax_content_loading').css('display','inline-block');
			$.ajax({
			type: "POST",
			url: '{%url 'staff_bmshop_ajax_get_property' %}',
			data: dataString,
			dataType:'JSON',
			success: function(data){
					if(data.status){
						$('#ajax_content_loading').hide()
						$('#id_append_data').empty().html(data.html);
						$('#id_append_data').addClass('show');
						$('.select-menu').chosen();
					}else{
						show_msg(gettext('Oops!!! Not able to process your request.'),'alert-error');
					}
				}
			});
		
	}
	
</script>
{% endblock %}			