{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% load thumbnail %}
{% load upload_tags %}
{% block navigation %}
	{% activetab "selmodule" "deals" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Deals - Preview' %} {% endblock %}
{% block head %}
	

{% endblock %}
{% block content %}
 <div id="staff-platform" class="group">
                  	<div class="header-bar has-preview-head">
						<a href="{% url 'staff_deals_home' %}"><h2><span class="go_back"></span>{% trans 'Deals' %}</h2></a>
                        <section class="sub-header-bar">
                            <div class="preview-head">
                            	{% if deal.featured %}
				        		<span class="list-type featured-item"><a class="tttxt" original-title="{% trans 'Item listed as featured' %}" href="javascript:void(0);">{% trans 'Featured' %}</a></span>
						 		{% endif %}
                                <div class="item-title">
                                    <h1>{{ deal.title|truncatechars:75 }}</h1>
                                    <p class="ltxt80">By <a href="{% url 'user_profile' deal.created_by.profile_slug %}">{{deal.created_by.get_full_name}}</a> <span class="divider12">|</span> {{deal.created_on|date:"M d, Y"}}</p>
								</div>                                   
                                <ul class="status-tabs group">
                                   <li>{{deal.most_viewed}}<span class="meta">{% trans 'views' %}</span> </li>
                                    <!--li><a href="#">0<span class="meta">{% trans 'comments' %}</span></a> </li-->
                                </ul>                                
                            </div>                                
                        </section>                          
                    </div>
                    <div id="core-wraper" class="group">
                        <div class="staff-main">
                            <div class="page-wrap">
                                <div id="article-preview" class="preview-center group">
                                    <div class="preview-items">
                                        <div class="preview-group">  
                                        	<div class="preview-items-head">
												{% if perms.deal.change_deal %}
                                                <div class="right-item"><a href="{% url 'staff_deals_add_deal' %}?did={{deal.id}}"><div class="cform-button"><span>{% trans 'Edit' %}</span></div></a></div>
                                            	{% endif %}
												<h3 style="vertical-align:top">{% trans 'Deal Details' %}</h3>
                                            </div>            
                                            <div class="preview-item title">
                                                <div class="label"><h4>{% trans 'Title' %}</h4></div>
                                                <div class="value">{{ deal.title }}</div>
                                            </div> 
											<div class="preview-item date-time">
                                                <div class="label"><h4>{% trans 'Category' %}</h4></div>
                                                <div class="value">
                                                	<span class="date">{{ deal.category.name }}</span> 
												</div>
                                            </div>
                                            <div class="preview-item date-time">
                                                <div class="label"><h4>{% trans 'Date' %}</h4></div>
                                                <div class="value">
                                                	<span class="date">{{ deal.start_date|date:"M d, Y" }}  to  {{ deal.end_date|date:"M d, Y" }}</span> 
												</div>
                                            </div>
											<div class="preview-item date-time">
                                                <div class="label"><h4>{% trans 'Price' %}</h4></div>
                                                <div class="value">
                                                	<span class="date">{% trans 'Original:' %} {{ globalsettings.currency }}{{ deal.original_price }}  {% trans 'Discount:' %} {{ globalsettings.currency }}{{ deal.discount_price }}</span> 
												</div>
                                            </div>
											{% if deal.about %}                                           
                                            <div class="preview-item description">
                                                <div class="label"><h4>{% trans 'Summary' %}</h4></div>
                                                <div class="value">
                                                	<div class="description basic-editor-content">
                                                    	{% autoescape off %}{{deal.about}}{% endautoescape %}
                                                	</div>
												</div>
                                            </div>
											{% endif %}
											{% if deal.max_count %}   
											<div class="preview-item date-time">
                                                <div class="label"><h4>{% trans 'Max no. of Deals' %}</h4></div>
                                                <div class="value">
                                                	<span class="date"> {{ deal.max_count }}</span> 
												</div>
                                            </div>
											{% endif %}
											{% if deal.voucher_valid %}   
											<div class="preview-item date-time">
                                                <div class="label"><h4>{% trans 'Voucher valid' %}</h4></div>
                                                <div class="value">
                                                	<span class="date"> {{ deal.voucher_valid|date:"M d, Y" }}</span> 
												</div>
                                            </div>
											{% endif %}
											{% if deal.fineprint %}                                           
                                            <div class="preview-item description">
                                                <div class="label"><h4>{% trans 'Fine print' %}</h4></div>
                                                <div class="value">
                                                	<div class="description basic-editor-content">
                                                    	{% autoescape off %}{{deal.fineprint}}{% endautoescape %}
                                                	</div>
												</div>
                                            </div>
											{% endif %}
											{% if deal.hihlights %}                                           
                                            <div class="preview-item description">
                                                <div class="label"><h4>{% trans 'Highlights' %}</h4></div>
                                                <div class="value">
                                                	<div class="description basic-editor-content">
                                                    	{% autoescape off %}{{deal.hihlights}}{% endautoescape %}
                                                	</div>
												</div>
                                            </div>
											{% endif %}
											{% if deal.address.all.0 %}                                           
                                            <div class="preview-item address map">
                                                <div class="label"><h4>{% trans 'Deal Address' %}</h4></div>
                                                 <div class="value">
													<div class="inline-block map-preview"  style="width: 190px; height: 140px;" id="map"></div>                                               
	                                                	<div class="inline-block valign-top" style="width:324px;">
                                                        {% with deal.address.all.0 as adr %}
														<div>      
                                                        <span class="address-details">{{ adr.address1 }}{% if adr.address2 %},{{ adr.address2 }}{% endif %}{% if adr.city %},{{ adr.city }}{% endif %}{% if adr.zip %} - {{ adr.zip }}{% endif %}</span>                             
                                                       	{% if adr.email %}<span class="address-number">{% trans 'Email:' %} {{ adr.email }}</span>{% endif %} 
														{% if adr.website %}<span class="address-number">{% trans 'Website:' %} {{ adr.website }}</span>{% endif %} 
														{% if adr.mobile %}<span class="address-number">{% trans 'Mobile:' %} {{ adr.mobile }}</span>{% endif %}
														{% if adr.telephone1 %}<span class="address-number">{% trans 'Phone:' %} {{ adr.telephone1 }}</span>{% endif %}
														</div>
														{% endwith %}
													</div>                                                        
                                                </div>
                                            </div>
 											{% endif %} 
											{% if deal.get_photos %}  
                                            <div class="preview-item medias">
                                                <div class="label"><h4>{% trans 'Logo' %}</h4></div>
                                                <div class="value">
                                                    <div class="item-photos">
                                                        <ul class="fxslider">
                                                        	{% for photo in deal.get_photos %}
                                                            <li class="inline-block" data-src="{{photo.photo.url}}">
                                                                <div class="photos-preview"><img src="{% thumbnail photo.photo 110x0 %}"><a class="icon-view preview-item" title="{% trans 'Large preview' %}" href="#"></a></div>
                                                            </li>
															{% endfor %}
                                                        </ul>
                                                    </div>
												</div>
                                            </div>
											{% endif %}                                                                                        
                                        </div>   
                                    </div>                                            
                                </div><!-- end table -->
                            </div> <!-- end page wrap -->
                        </div> <!-- end main-col -->                            
                        <div id="aside" class="side-bar">
                             {# include 'deal/staff/deals-preview-faq.html' #}         
                        </div>                            
                    </div>                                                    
				</div>
{% endblock %}
{% block footer_include%}
<script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false{% if globalsettings.google_map_key %}&key={{ globalsettings.google_map_key }}{% endif %}" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/general/google_map.js"></script>
<script src="{{STATIC_URL}}themes/js/fxslider.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ui/css/fxslider.css" />
<script type="text/javascript">
$(document).ready(function(){
 $(".fxslider").fxslider();
});
var markers=[];
$(document).ready(function(){
	{% with deal.address.all.0 as addr %}
		var marker = new Object();
		marker["lat"] = {{addr.lat}};
		marker["lng"] = {{addr.lon}};
		marker["zoom"] = {{addr.zoom}};
		marker["name"] = "{{ deal }}";
		marker["address"] = "{{ addr.address1|escape|linebreaks }}{{ addr.city }} - {{addr.zip }}";
		markers.push(marker);
		markers.push(marker);
	{% endwith %}
	var map_height = 120;
	map_height = map_height+'px';
	document.getElementById("map").style.height=map_height;
	load_multi_marker('map',{{ deal.address.all.0.lat }}, {{ deal.address.all.0.lon }}, {{ globalsettings.google_map_zoom }},markers)				
});
</script>
{% endblock %}