{% load comparison %}
{% load i18n %}

<section class="sCn mDa-lT-mNi">
    <div class="sCn-tTl sCn-tTl-bR">
        <h3>
            <span>{% trans 'Poll' %}</span>
        </h3>
    </div>
    <h4 class="mRb20">{{ poll.title }}</h4>
    <form id="poll_form" name="poll_form" >
	    <input type="hidden" name="mode" id="mode" value="{%ifequal poll.type 'is_single'%}single{%else%}multi{%endifequal%}"/>
		<input type="hidden" name="pid" id="pid" value="{{poll.id}}"/>
		<input type="hidden" name="status" id="status" value="{% if status == 'voted' %}voted{% else %}NotVoted{% endif %}"/>
	    <ul class="unstyled">
	    	{% for c in choice %}
	        <li class="pD50">
	            <div class="mDa-bDy">
	                <div class="mDa-dTa">
	                    <label class="radio ib mR0">
		                    {% if poll.is_single %}
		                    	<input type="radio" class="poll_input" name="vote" id="reg_lvote{{c.choice}}" autocomplete="off" value="{{ c.choice }}" data-toggle="radio"> 
		                    {% else %}	   
		                    	<input type="checkbox" class="poll_input" name="vote" id="reg_lvote{{c.choice}}" autocomplete="off" value="{{ c.choice }}" > 
		                    {% endif %}	
	                    </label>
	                    <h5 class="mR0 ib">{{ c.choice }}</h5>
	                </div> 
	            </div>
	        </li>
	        {% endfor %}
	    </ul>
	  </form>  
    <footer class="sCn-fTr mRb-20 tXt-lT sCn-fTr-bR">{% if total_votes > 0 %}<a class="tXt-lNk pLrT lH1 mRt4" href="javascript:void(0)" onclick="poll_view_result()" id="view_results">{% trans 'View Results' %} </a>{% endif %}<a class="btn btn-small btn-primary uC pLLT" onclick="poll_voting($(this))" href="javascript:void(0)" id="poll_vote">{% trans 'Vote Now' %}</a></footer>
</section>
