{% extends base %}
{% load modulotag %}
{% load i18n %}
{% load tabs %}
{% load ds_utils %}
{% block pagetitle %}{% seo_format_tag title=seo.seo_title code='HT' as seo_meta_title %}{{seo_meta_title}}{% endblock %}
{% block meta %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="{{ seo.seo_description }}" />
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}themes/green/css/home_extra.css">
<!-- Galleryview Slider-->
<script type="text/javascript" src="{{STATIC_URL}}js/polls/polls.js">
</script>
<!-- Galleryview Slider-->
{% endblock %}
{% block navigation %}
	{{ block.super }}
{% endblock %}
{% block content %}
<div class="clear"></div>
<div class="fit_width group">
	<div class="col_11 group">
		<div class="qv_topic">
            <h5>{{ poll.title }}</h5>
        </div>
		<div class="group" id="id_polls_div">
		{% if status == 'voted' %}
			<div id="quick_vote" class="content group">
				<h4 class="v_title">v<br>o<br>t<br>e</h4>							
				{% include 'default/polls/ajax-poll-results.html' %}
				<div class="clear"></div>
			</div>
		{% else %}
			{% include 'default/polls/ajax-poll-view.html' %}
		{% endif %}
		</div><hr/><div class="group">
		{% if polls %}
		<div class="clear" style="margin:20px; 0 30px;"></div>
		<h2 class="section_title">{% trans "Recent Polls" %}</h2>	
		{% for poll in polls %}
		<div id="poll_container" class="result">
			<div class="qv_topic">
	            <h5>{{ poll.title }}</h5>
	        </div>
			<ul class="poll_results group">
			{% for c in poll.result %}
		        <li class="poll_result_group">
					<label for="poll_result_01" class="poll_result_label">
						<span class="poll_result_text">{{c.choice}}</span>
					</label>
					<div id="poll_result_01" class="poll_result_feedback">
						<div style="width: {{ c.perc }}%;" class="poll_result_feedback_bar">
						</div>
					</div>
					<span class="poll_result_votes">({{c.votes}})</span>
					<span class="poll_result_per">{{ c.perc }}%</span>
					<div class="clear"></div>
				</li>
			{% endfor %}
			</ul>
		    <div class="clear"></div>
		    <p class="meta_line">
				<span class="poll_total_votes">Total Votes:  {{poll.total_votes}}</span>
			</p>
		</div> <hr/>
		{% endfor %}
		{% endif %}
	</div>
</div>
<div class="col_5 mr_0">
	<div id="banner_placement_right"></div><!-- Banner Placement -->
</div>                                                                                         
{% endblock %}
