{% extends "default/base.html" %}
{% load i18n social_share %}
{% load ds_utils %}
{% load thumbnail %}
{% load available_apps %}
{% block pagetitle %}{{sweepstakes.seo_title}}{% endblock %}
{% block meta %}
<meta name="description" content="{{sweepstakes.seo_description}}" />
{% endblock %}
{% block head %}
{% load_signin_obj %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}themes/green/css/lightbox.css">
<style>
.error_sw{border: 2px solid #e33100 !important;padding:2px !important;color:#e33100;}
.error_msg{color:#C00000;}
div#formContainer form dl.horizontal {margin:0;padding:10px 0 0;}
div#formContainer form dl.base {margin:0;padding:0;text-align:right;}
div#formContainer form dl.horizontal dt {clear:both;float:left;line-height:1.25em;text-align:left;white-space:nowrap;width:120px;font-weight:bold;}
div#formContainer form dl.horizontal dd {line-height:1.35em;margin-left:130px;position:relative;}
#howItWorks{padding:30px 0}
#howItWorks h2{color:#090;font-size:26px; font-weight:bold;border-bottom:1px solid #e6e6e6;margin-bottom:14px;margin-top:10px;}
#howItWorks p{margin:10px 0;font-size:14px;line-height:16px;}
#howItWorks .col3{width:326px;float:left;}
#howItWorks .col3 .col_inner{padding-right:30px; padding-bottom:30px;}
#howItWorks #earn_bid .title_block{padding:6px 0 0px}
#howItWorks #earn_bid .title_block h3{color:#D05F28; font-size:22px; font-weight:normal;float:left;width:200px;line-height:22px;}
#howItWorks #earn_bid .title_block .earn_points{width:90px;float:right;font-size:18px;font-weight:bold;color:green;line-height:22px;text-align:right;} 
#howItWorks #earn_bid .detail{font-size:14px; line-height:16px;padding:10px 0;}
#howItWorks #earn_bid .do_list{padding-bottopm:10px;}
#howItWorks #earn_bid .do_list li{display:block;width:100%;}
#howItWorks #earn_bid .do_list li strong{font-size:14px; font-weight:bold;float:left;}
#howItWorks #earn_bid .do_list li input{float:right; margin-top:0px;}
.contest-col-left, .contest-col-right {float:left; position:relative; }
.contest-col-left { width:470px;background-color:#f4f4f4; padding:10px;-moz-border-radius:10px; margin-right:40px;position:relative  }
.contest-col-right { width:420px; }
.specOffers .item{width:140px; margin-right:10px; float:left; text-align:center}
.specOffers .last{margin-right:0;}
a.offer_btn{background:#0C0; color:#FFF; font-size:11px; text-transform:uppercase; padding:2px 3px; text-decoration:none; font-weight:bold; border-bottom:1px solid #090}
#earn_info{padding:10px 10px 20px 10px; margin-top:20px; background-color:#f9f9f9; border:1px solid #e5e5e5}
#earn_info h3{font:bold 16px/16px Georgia, serif; margin-bottom:20px;}
#earn_info li{display:inline;}
#earn_info li a{display:block;float:left; width:50%;padding:3px 0;}
#earn_info li h4{font-size:14px;line-height:18px;font-weight:bold;}
#earn_info li a span{color:#777; font-size:12px;line-height:12px;}
</style>	
{% if not c_user.fb_point %}
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">
FB.init({appId  : '{{signup.facebook_app_id}}',status : true,cookie : true,xfbml  : true});
function fb_share(){
	FB.ui({
		method: 'stream.publish',
		attachment: {
			name: '{{sweepstakes.title}} {% trans "in" %} {{globalsettings.domain }}',
		    caption: '{{sweepstakes.title}}',
		    description: ("{% spaceless %}{% autoescape off%}{{sweepstakes.description|striptags|truncatewords:50}}{% endautoescape %}{% endspaceless %}"),
			href: '{{globalsettings.website_url }}{% url 'sweepstakes_detail' sweepstakes.id sweepstakes.slug %}',
			media: [{ 
		    	type: "image", 
		        src: '{% if sweepstakes.image.image %}{% thumbnail sweepstakes.image.image 100x100 %}{% endif %}', 
		        href: "{{globalsettings.website_url }}{% url 'sweepstakes_detail' sweepstakes.id sweepstakes.slug %}"}]
		    },
		    action_links: [{ text: 'fbrell', href: '{{globalsettings.website_url }}{% url sweepstakes_detail sweepstakes.id sweepstakes.slug %}' }]
		},
		function(response){
			if (response && response.post_id) {
		    	var url='{% url 'contest_ajax_add_fbpoint' sweepstakes.id %}';
				$.ajax({
		        	type: "GET",
					url:url,
					dataType:'json',
		            success: function(Rdata){
						if (Rdata.status=='1') {
							$('#fb_point_ajax').html(Rdata.points)
							$('#user_total_points').html(Rdata.tpoints)
						}else if(Rdata.status=='2'){alert('You are not registered with current sweepstake contest !')}
						else{alert('Oops!!! Not able to process yuor request.');}
					}
				});
			}else {alert('Your post was not published !')}
	});
}
</script>
{% endif %}	
{% endblock %}
{% block content %}
{% load_availableapps_obj %}
<input type = "hidden" id = "as_exec_respond" value="yes" />
<input type="hidden" value="" name="lr_type" id="id_lr_type">
<!-- Lightbox code begin -->   
<div class="lightbox_outer" >
<div class="lightbox_content_holder">
<a href= "#" class="call_lightbox lb_close fix_ie6png enlarge click_pvnt"></a>
<div class="lightbox_content">
<!-- Put all your contents only inside this "lightbox_content" div -->

	<!-- IE6 Video not supported alert -->
	<div id="as_ie6_alert" class="allhide">
	<input type="hidden" id="as_ie6" value="yes" />
	<p class="global_message" style="background-color:#FFFFB5;padding:7px">Your browser is no longer supported. Please upgrade to a modern browser.<a href="http://www.mozilla.com/en-US/firefox/upgrade.html?from=getfirefox" target="_blank" style="font-weight:bold">Click here to Get One</a></p>
	</div> 
	<!-- IE6 Video not supported alert -->

	<!-- Tell a friend begin -->
	<div id="respond_to_div" class="allhide">
	<input type="hidden" id="content_id" name="content_id" value="{{sweepstakes.id}}" />
	<div class="tellfriend" style="padding:0px;">
	    <h3>Tell a friend</h3>
		<form id="respond_form" method="get" action="{% url 'contest_ajaxtellafriend' sweepstakes.id %}">
			<label for="from_name">Your Name:</label>
			<p><input type="text" maxlength="15" autocomplete="off" size="30" name="from_name" id="from_name" class="input_text"></p>
	
			<label for="to_name">Your Freind's Name:</label>
			<p><input type="text" maxlength="50" size="30" name="to_name" id="to_name" class="input_text"></p>
			
			<label for="to_email">Your Friend's Email:</label>
			<p><input type="text" maxlength="50" size="30" name="to_email" id="to_email" class="input_text"></p>
			
		
			<label>Subject:</label>
			<p style="width:410px" class="field"><span id="keyup_name"><b>Your Name</b></span> sent you the details for "{{sweepstakes.title}}" on {{globalsettings.website_url}} </p>
	    
			<label for="msg">Message:</label>
	        <textarea rows="5"  name="msg" id="msg" cols="30" class="medium field"></textarea>
			
			<div class="form_footer">
				<button type="submit" class="button super green large respond_submit"><span>Submit</span></button>
				<p id="respondstatus"></p>
			</div>
	    </form>
	</div>
	</div>
	<!-- Tell a friend end -->
<!-- put your contents only iside "lightbox_content" div -->		
</div>			
</div>
</div>
<div class="lightbox_background"></div>
<!-- Lightbox code end -->

<div id="c-10x6x8" class="clearfix"> 
	<div class="contest-col-left" style="margin-bottom:10px;width:95%">
		<div class="weeklyPrize">
			<div class="body">
				<a href="javascript:void(0)" style="text-align:center;">
					<h3 style="font:28px/28px Georgia, 'Times New Roman', Times, serif; margin:10px 0">{{sweepstakes.title}}</h3>
				</a>
				<div class="clear"></div></br>
				<div  style="float:left;width:100%;margin-left:10px;text-align:center;">
					<img style="border: 1px solid;" width="800" src="{% if sweepstakes.image.image %}{% thumbnail sweepstakes.image.image 800x0 %}{% endif %}" alt="{{contest.title}}">
				</div>
				<div class="clear"></div></br>
				<div style="float:left;width:60%;padding:20px;">
					<p class="ltxt80" style="line-height:30px;"><span>Contest Code : {{sweepstakes.contest_id}}</span></p>
					<p class="ltxt80" style="line-height:30px;">{% trans "Start Date" %} {{sweepstakes.start_date|ds_site_dateformat}}</p>
					<p class="ltxt80" style="line-height:30px;">{% trans "End Date" %} {% if sweepstakes.duration != 'N' %}{{sweepstakes.current_end_date|ds_site_dateformat}}{% else %}{{sweepstakes.end_date|ds_site_dateformat}}{% endif %}</p>
					<div class="clear"></div><br>
					<p>{% autoescape off %}{{sweepstakes.description}}{% endautoescape %}</p>
				</div>
				{% if c_user %}
					<div style="font-weight: bold;  padding: 0px; border: medium none ! important; float: right; margin-top: 7%; margin-right: 20%;">
						{% if not c_user or c_user.status == 'I'  %}{% trans "Inactive" %}{% endif %}
						<h3 style="font-size:16px;">{% trans "Total" %}</h3>
						<span><span id="user_total_points">{{c_user.total}}</span> {% trans "Entry" %}</span>
					</div>
				{% else %}
					<input type="button" href="{% url 'contest_register_user' sweepstakes.id %}" title="{% trans "ENTER FOR A CHANCE TO WIN" %}" class="bm-ajax-login-contest button" style="font-weight: bold; background: url(&quot;/static/themes/green/images/btn/enter_btn_green.png&quot;) no-repeat scroll 0px 0px transparent; text-indent: -99999px; padding: 0px; height: 37px; width: 128px; border: medium none ! important; float: right; margin-top: 7%; margin-right: 20%;">
				{% endif %}
				<div class="clear"></div>
				{% if sweepstakes.get_offers %}<br>
				<h3 style="font:22px/22px Georgia, 'Times New Roman', Times, serif; margin:10px 0">{% trans "Offers" %}</h3>
				{% for cont in sweepstakes.get_offers %}
					<div class="contest-col-left" style="margin-bottom:10px;width:95%">
						<div class="weeklyPrize">
							<div class="body">
				   				<div  style="float:left;width:170px;margin-left:10px;">
									<img width="150" height="100" src="{% if cont.image.image %}{% thumbnail cont.image.image 150x100 %}{% endif %}" alt="{{contest.title}}">
								</div>
								<h3 style="font:18px/18px Georgia, 'Times New Roman', Times, serif; margin:10px 0">{{cont.title}}</h3>
								{% if cont.url %}<a href="{{cont.url}}" target="_blank"><span>{{cont.url}}</span></a>{% endif %} 
								<p>{% autoescape off %}{{cont.description}}{% endautoescape %}</p>
								<div class="clear"></div>
							</div>
						</div>
					</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
	<div class="clear">
</div> 	
<div id="howItWorks">
	<h2>{% trans "How can I earn more entries?" %}</h2>
	<div id="earn_bid" class="group" >
		{% if sweepstakes.reg_point %}
		<div class="col3" style="height:124px">
			<div class="col_inner group">
				<div class="title_block group">
					<h3>Enter into Contest</h3>
					<span class="earn_points">{{sweepstakes.reg_point}} Entry</span>
				</div>
				<div class="detail">Registering is free and it takes seconds to register. One entry and one account per person.</div>
				<div class="do_list group" style="{% if not c_user or c_user.status == 'I'  %}display:none;{% endif %}"><ul><li>
					<strong><a href="{% url 'contest_register_user' sweepstakes.id %}" class="bm-ajax-login-contest" title="{% trans "ENTER FOR A CHANCE TO WIN" %}" target="_blank">{% trans "Register Now" %}</a></strong>
					<span class="sweepstakes_link" style="float:right;margin-top:0px;{% if not c_user.status == 'A' %}display:none;{% endif %}">Total : <span id="reg_point_ajax">{% if c_user.reg_point %}{{c_user.reg_point}}{% else %}0{% endif %}</span> Entries</span>
				</li></ul></div>
			</div>
		</div>
		{% endif %}
		{% if sweepstakes.fb_point %}
		<div class="col3" style="height:124px">
			<div class="col_inner group">
				<div class="title_block group">
					<h3>Share on Facebook</h3>
					<span class="earn_points">{{sweepstakes.fb_point}} Entries</span>
				</div>
				<div class="detail">Sharing sweepstakes on Facebook earns you {{sweepstakes.fb_point}} additional entries.</div>
				<div class="do_list group sweepstakes_link" style="{% if not c_user.status == 'A' %}display:none;{% endif %}"><ul><li>
					<strong><a href="javascript:{% if c_user.fb_point %}void(0){% else %}fb_share(){% endif %}" title="{% trans "Share in facebook" %}">{% trans "Share in facebook" %}</a></strong>
					<span style="float:right;margin-top:0px;">Total : <span id="fb_point_ajax">{% if c_user.fb_point %}{{c_user.fb_point}}{% else %}0{% endif %}</span>  Entries</span>
				</li></ul></div>
			</div>
		</div>
		{% endif %}
		{% if sweepstakes.friend_point %}
		<div class="col3" style="height:124px">
			<div class="col_inner group">
				<div class="title_block group">
					<h3>Invite a Friend</h3>
					<span class="earn_points">{{sweepstakes.friend_point}} Entries</span>
				</div>
				<div class="detail">You can invite a friend to this week's sweepstakes and earn {{sweepstakes.friend_point}} additional entries.</div>
				<div class="do_list group sweepstakes_link" style="{% if not c_user.status == 'A' %}display:none;{% endif %}"><ul><li>
					<strong><a href="javascript:show_content('respond_to_div')" class="email_btn respond_clr" title="{% trans "Invite your Friend" %}">{% trans "Invite your Friend" %}</a></strong>
					<span style="float:right;margin-top:0px;">Total : {% if c_user.friend_point %}{{c_user.friend_point}}{% else %}0{% endif %}  Entries</span>
				</li></ul></div>
			</div>
		</div>
		{% endif %}
		<!------------------------------------------------------------------------------------------------------>
		<!------------------------------------------------------------------------------------------------------>
		<!------------------------------------------------------------------------------------------------------>
		{% if not comment_sweepstakes.discuss_comment %}
			{% if sweepstakes.comments > 0 or sweepstakes.first_comments > 0 %}
			<div class="col3" style="height:114px">
				<div class="col_inner group">
					{% if sweepstakes.comments > 0 %}
					<div class="title_block group">
						<h3>Add Comments </h3>
						<span class="earn_points">{{sweepstakes.comments}} Entries</span>
					</div>
					{% endif %}
					<div class="detail">Adding a Comment/Review anywhere in the {{globalsweepstakes.domain}} will earn you {% if sweepstakes.first_comment > 0 %}{{sweepstakes.first_comment}}{% endif %},{% if sweepstakes.comments > 0 %}{{sweepstakes.comments}}{% endif %} additional entries respectively.</div>
					<div class="do_list group sweepstakes_link" style="{% if not c_user.status == 'A' %}display:none;{% endif %}"><ul><li>
						<strong><a href="/" title="Add your comment" target="_blank">{% trans "Add your comment" %}</a></strong>
						<span style="float:right;margin-top:0px;">Total : {% if c_user.comments %}{{c_user.comments}}{% else %}0{% endif %}  Entries</span>
					</li></ul></div>
				</div>
			</div>
			{% endif %}
		{% endif %}
		<!------------------------------------------------------------------------------------------------------>
		<!------------------------------------------------------------------------------------------------------>
		<!------------------------------------------------------------------------------------------------------>
		{% if available_apps %}
		{% for app in available_apps %}
			{% if app.point > 0 %}
			<div class="col3" style="height:114px">
				<div class="col_inner group">
					{% if sweepstakes.comments > 0 %}
					<div class="title_block group">
						<h3>{{app.label}}</h3>
						<span class="earn_points">{{app.point}} Entries</span>
					</div>
					{% endif %}
					<div class="detail">{{app.text}} will earn you {{sweepstakes.point}} additional entries respectively.</div>
					<div class="do_list group sweepstakes_link" style="{% if not c_user.status == 'A' %}display:none;{% endif %}"><ul><li>
						<strong><a href="{{app.url}}" title="{{app.label}}" target="_blank">{{app.label}}</a></strong>
						<span style="float:right;margin-top:0px;">Total : {% if app.u_point %}{{app.u_point}}{% else %}0{% endif %}  Entries</span>
					</li></ul></div>
				</div>
			</div>
			{% endif %}
		{% endfor %}
		{% endif %}
		<!------------------------------------------------------------------------------------------------------>
		<!------------------------------------------------------------------------------------------------------>
		<!------------------------------------------------------------------------------------------------------>
	</div>
</div>
<script type="text/javascript" src="{{STATIC_URL}}js/general/lightbox.js"></script>
<script type="text/javascript">
function call_register_user(){
	$.ajax({
		type:'get',
		url:"{% url 'contest_register_user' sweepstakes.id %}",
		success:function(data){
			$('#ajax_login_detail_loading').hide();			
			$('#ajax_login_detail').empty().html(data);
			$('#ajax_login_detail').show();
		}
	})
}
function show_from(){
	$('#replace_stake').hide();
	$('#formContainer').show();
	$.colorbox.resize();	
}
function register_user(id){
	var flag=$("#id_cont_reg_form").validate().form();
	if(flag){
		var dataString='';
		dataString+="first_name="+$('#id_first_name').val()
		dataString+="&last_name="+$('#id_last_name').val()
		dataString+="&address="+$('#id_address').val()
		dataString+="&city="+$('#id_city').val()
		dataString+="&zip="+$('#id_zip').val()
		dataString+="&phone="+$('#id_phone').val()
		$.ajax({
			type:'post',
			url:'{% url 'contest_register_user' sweepstakes.id %}',
			data:dataString,
			dataType:'json',
			success:function(data){
				if(data.status=='1'){
					$.colorbox.close();
					$('.sweepstakes_link').show();
					$('#reg_point_ajax').html(data.points);
					alert("Registerted successfully.")	
				}else{
					$('#formContainer').html(data);
					$.colorbox.resize();
				}
			},
			error:function(data){
				$('#formContainer').html(data);
				$.colorbox.resize();
			}
		});
	}
}
</script>
{% endblock %}
