{% extends "staff_base.html" %}
{% load tabs %}
{% load upload_tags %}
{% load i18n %}
{% block navigation %}
	{% activetab "selmodule" "restaurants" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Restaurant' %} {% endblock %}
{% block head %}
<!-- CALENDER -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/LE_MetaId99.css">
<!-- CALENDER -->
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bm.jfp.ui.css">
<!-- TAGS -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}ui/css/jquery.tagit.css" />
<!-- TAGS -->
{% endblock %}
{% block content %}
 <div id="staff-platform" class="group">
    <div class="header-bar">
    	<a href="{% url 'staff_restaurant_home' %}"><h2><span class="go_back"></span>{% trans 'Restaurants' %}</h2></a>
	</div>
    <div id="core-wraper" class="group">
        <div class="staff-main">
            <div class="page-wrap">
                <div id="restaurant-add" class="group">
                    <div id="add-new-restaurant">
                    	{% if form.errors or wform.errors or aform.errors  %}
							<div class="messageerror" >
								<span style="font-size:1.2em;font-weight:250;"><strong>{% trans "There is a problem with your submission" %}</strong></span>
						        {% if form.errors %}
								<ul>{% for field in form %}
								 	{% if field.errors%}<li>{%for error in field.errors%}{{error}}{%endfor%}</li>{% endif %}
						 		{% endfor %}</ul>
								{% endif %}
								{% if wform.errors %}
								<ul>{% for field in wform %}
								 	{% if field.errors%}<li>{%for error in field.errors%}{{error}}{%endfor%}</li>{% endif %}
						 		{% endfor %}</ul>
								{% endif %}
								{% if aform.errors %}
								<ul>
									{% for field in aform %}
								 		{% if field.errors%}<li>{%for error in field.errors%}{{error}}{%endfor%}</li>{% endif %}
						 			{% endfor %}
								</ul>
								{% endif %}
							</div>
						{% endif %}
                        <form id="mform" name="mform" action="{% url 'staff_add_restaurant' %}" method="post">
                            <div class="fields hform">
                                <div class="field-group">              
                                    <div class="field text-field fd-title">
                                        <div class="label"><label for="">Restaurant Name<span class="required-field">*</span></label></div>
                                        <div class="value">
                                        	{{form.name}}
                                            <span class="tip">{{globalsettings.website_url}}/restaurants/{{form.slug}}</span>
                                        </div>
                                    </div>
									<!----------- logo ----------->
                                    <div class="field text-field">
                                        <div class="label"><label for=""></label></div>
                                        <div class="value">
                                            <div id="fileupload" >
										 		<div class="fileupload-content">
										    		<ul class="files bm-uploader-list"></ul>
												</div>
								            	{% csrf_token %}<div class="clear"></div>
								            	<div class="upload-button-wrapper" id="upload-button-wrapper">
								                	<a class="upload-button" id="upload-button">{% trans 'Upload Logo' %}</a>
								                    <div class="fileinput-button">
								                    	<input type="file" size="1" name="photo" id="id_photo" multiple=""  accept="image/*" tabindex="-1">
													</div>
								                </div>
											</div>
                                        </div>
									<!------------cat-------->
                                    </div><div class="clear"></div>
                                    <div class="field select-field">
                                        <div class="label"><label for="">Category<span class="required-field">*</span></label></div>
                                        <div class="value">
											 {{ form.categories }}
											
                                        </div>
                                    </div> 
                                   
                                </div> <!--/field-group--> 
								
								<div class="clear"></div>
								<!------ workign hours----->
								<div class="field-group cr_wmr">  
                                    <div class="field text-field">
                                        <div class="label"><label for="">{% trans 'Timings' %} </label></div>
                                        <div class="value">
                                            <span class="cform-radio-container"><input type="radio" name="operating_hours" checked="checked" class="checkbox mrl0" value="0"><span class="cform-radio-element"></span></span><label for="all-day">I prefer not to specify operating hours.</label>
                                        </div>
                                    </div>
                                    <div class="field text-field">
                                        <div class="label"></div>
                                        <div class="value">
                                            <span class="cform-radio-container"><input type="radio" name="operating_hours" class="checkbox mrl0" value="1"><span class="cform-radio-element"></span></span><label for="all-day">My operating hours are</label>
                                        </div>
                                    </div>
                                    <div class="field text-field" id="opt_hour" style="display:none;">
                                        {% include 'restaurants/staff/update_working_hour.html' %}
                                    </div>
									<!---------------- Media URL ---------->
									<div class="field text-field media_url">
										<div class="label">{% trans 'Media URL' %}</div>
										<div class="value" id="googleplus" style="margin-top:10px;display:none;">
											<img src="{{STATIC_URL}}ui/images/icons/favicons/gplus.jpeg">
											{{form.gooleplus_url}}
											<a class="icon-remove o3 tttxt-w" style="text-indent: 9999em; overflow: hidden; width: 16px; height: 16px; display: inline-block;" title="Remove" href="javascript:hide('googleplus')">X</a>
	                                    </div>
										<div class="value" id="facebook" style="margin-top:10px;display:none;">
											<img src="{{STATIC_URL}}ui/images/icons/favicons/facebook.png">
											{{form.fb_url}}
											<a class="icon-remove o3 tttxt-w" style="text-indent: 9999em; overflow: hidden; width: 16px; height: 16px; display: inline-block;" title="Remove" href="javascript:hide('facebook')">X</a>
	                                    </div>
										<div class="value" id="twitter" style="margin-top:10px;display:none;">
											<img src="{{STATIC_URL}}ui/images/icons/favicons/twitter-favicon.ico">
											{{form.twitter_url}}
											<a class="icon-remove o3 tttxt-w" style="text-indent: 9999em; overflow: hidden; width: 16px; height: 16px; display: inline-block;" title="Remove" href="javascript:hide('twitter')">X</a>
	                                    </div>
										<div class="value" style="margin-top:10px;">
	                                        <div class="group">
	                                        	<span id="i_googleplus">
													<img src="{{STATIC_URL}}ui/images/icons/favicons/gplus.jpeg">
													<span class="cform-checkbox-container"><input type="checkbox" id="c_weburl" onclick="show('googleplus')"><span class="cform-checkbox-element"></span></span> 

												</span>
												<span id="i_facebook">
													<img src="{{STATIC_URL}}ui/images/icons/favicons/facebook.png">
													<span class="cform-checkbox-container"><input type="checkbox" id="c_facebook" onclick="show('facebook')"><span class="cform-checkbox-element"></span></span>

												</span>
												<span id="i_twitter">
													<img src="{{STATIC_URL}}ui/images/icons/favicons/twitter-favicon.ico">
													<span class="cform-checkbox-container"><input type="checkbox" id="c_twitter" onclick="show('twitter')"><span class="cform-checkbox-element"></span></span> 

												</span>
	                                        </div>
											</div>
	                                    </div>
                                </div>




							<div class="field-group">
									<!-----meal type---->
                                  	<div class="fields-head"></div> 
                                    <div class="field select-field">
                                        <div class="label"><label for="">{% trans 'Meal Types' %}</label></div>
                                        <div class="value">
											{{form.meal_types}}
											
                                        </div>
                                    </div> 
	
	
										<!-----feature--->
	                                    <div class="field select-field">
                                        <div class="label"><label for="">{% trans 'Features' %}</label></div>
                                        <div class="value">
											{{form.features}}
                                        </div>
                                    </div> 
	
										<!-----cuisine---->
	                             
										<div class="field select-field">
	                                        <div class="label"><label for="">{% trans 'Cuisines' %}<span class="required-field">*</span></label></div>
	                                        <div class="value">{{form.cuisines}}</div>
                                    	</div> 

										<!-----payment---->
	                             		<div class="field select-field">
	                                        <div class="label"><label for="">{% trans 'Payment Options' %}<span class="required-field">*</span></label></div>
	                                        <div class="value">{{form.paymentoptions}}</div>
                                    	</div> 


										<!------- price ----->
										<div class="field select-field">	
	                                        <div class="label"><label for="">{% trans 'Price Range' %}</label></div>	
											<div class="value">{{ form.price_range }}</div> 
	                                 	</div>
										<!-----rating---->
	                                    <div class="field select-field">	
	                                        <div class="label"><label for="">{% trans 'Rating' %}</label></div>	
											<div class="value">{{ form.ratings }}</div> 
	                                 	</div>
								</div> 



									<!---------- Adesss section ----------->
								<div class="field-group">
									<div class="fields-head"></div>
										<div class="field">
											<div class="label"><label for="">{% trans 'Address' %}<span class="required-field">*</span></label></div>	
											<div class="value">{{ aform.address1 }}</div> 
									</div>
									<div class="field">
											<div class="label"><label for=""></label></div>	
											<div class="value">{{ aform.address2 }}</div> 
									</div>	
									<div class="field">
											<div class="label"><label for="">{% trans 'Zip/Postal Code' %}<span class="required-field">*</span></label></div>	
											<div class="value">{{ aform.pin }}</div> 
									</div>
									<div class="field">
											<div class="label"><label for="">{% trans 'City/Town' %}<span class="required-field">*</span></label></div>	
											<div class="value">{{ aform.city }}</div> 
									</div>
												<!----map------>

									<div class="field text-field">	
									    <div class="value">
											<div id="map" style="height: 200px; position: relative; overflow: hidden; width: 576px; border-radius: 2px 2px 2px 2px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); border: 1px solid rgb(204, 204, 204);"></div>
											<input type="hidden" name="lat_lng" id="lat_lng" value=""/>
											<input type="hidden" name="zoom" id="zoom" value=""/>
										</div>	
									</div>

	
									<div class="field text-field">
									    <div class="label"></div>
									    <div class="value">
									        <div class="group">
									            <span class="inline-block pdr6 fs">
									                <label for="">Main Phone</label>{{aform.telephone}}
									            </span>
									            <span class="inline-block fs">
									                <label for="">Mobile</label>{{aform.mobile_no}}
									            </span>
									        </div>
									    </div>
									</div>


 									<div class="field">
											<div class="label"><label for="">{% trans 'Email Address' %}</label></div>	
											<div class="value">{{ aform.email}}</div> 
									</div>
									<div class="field">
											<div class="label"><label for="">{% trans 'Website' %}</label></div>	
											<div class="value">{{ aform.website}}</div> 
									</div>
								</div>



									<!---------- Descripotion and tag ----------->
								<div class="field-group">
										<div class="fields-head"></div>
										<div class="field text-field">	
                                        	<div class="label"><label for="">{% trans 'Description' %}<span class="required-field">*</span></label></div>	
                                        	<div class="value">{{form.description}}</div>	
                                   		 </div>

									
                                	<div class="field text-field">	
                                        <div class="label"><label for="">{% trans 'Tags' %}</label></div>
	                                        <div class="value has-fd-icon">
												<input id='tags' type="hidden" class='tags' name="tags"  value="">
												<ul id="mytags" class="fl"></ul>
	                                        	<!--img class="fd-icon" src="{{STATIC_URL}}ui/images/icons/b/66.png" alt=""-->
												<span class="tip">{% trans "Add multiple tags separated by comas ',' or use 'tab' key" %}</span>
	                                        </div>
                                    </div>
								</div>


							<!-------- listing type---->
							                            
							{% if restaurant_price_objects %}                                              
								<div class="field-group" id="listing_restaurant" ">
                                    <div class="fields-head"></div>
                                    <div class="field text-field">	
                                        <div class="label"><label for="">{% trans 'List Type' %}<span class="required-field">*</span></label></div>	
                                        <div class="value">
                                        	<div class="fd-cols mrb0 pd50 group">
                                                {% for restaurant_price in restaurant_price_objects %}
													<span class="pdr6">
														<span class="cform-radio-container"><input type="radio" value="{{restaurant_price.id}}" onclick="payment_option({{restaurant_price.id}})" name="listingtype" {% if forloop.first %}{% if not restaurant %}CHECKED{% endif %}{% endif %}{% ifequal restaurant.payment.id restaurant_price.id %}CHECKED{% endifequal%} id="{{restaurant_price.id}}"><span class="cform-radio-element"></span></span>
														<label for="typeFeatured" id="l:typeFeatured">{{restaurant_price.level_label}}</label>
													</span>
												{% endfor %} 
											</div> 
											<div class="fd-cols mrb0 pd50 group" style="float:left !important;">
												<span style="float:left; display:block; margin-right:10px;">
													<select onchange="payment_period($(this).val())" id="period_type" name="period" class="select-menu" style="width:100px;">
														<option value='M'>{% trans 'Month' %}</option>
														<option value='Y'>{% trans 'Year' %}</option>
													</select>
												</span>
												<span style="float:left; display:block;">
													<input type="hidden" id="current_date" value="{% now "Y-m-d" %}">
												{% trans 'Form' %} {{form.start_date}} {% trans 'to' %} {{form.end_date}}
												</span>
											</div>       
											{% for restaurant_price in restaurant_price_objects %}
												<div id="id_{{restaurant_price.id}}" class="payment_div" style="float:left;width:200px;padding:5px 0 0 10px;{% if restaurant %}{% ifnotequal restaurant.payment.id restaurant_price.id %}display:none;{% endifnotequal%}{% endif %}{% if not restaurant %}{% if not forloop.first %}display:none{% endif %}{% endif %}">
													<h4 class="price_lrg">
													{% if restaurant_price.level == 'level1' %}
															{% if restaurant_price.level != 'level0' %}
																<span class="rs mdm">{{globalsettings.currency}}</span>
																
																	<input type="text" class="cat_price tttxt monthp month" style="width:100px !important;" name="price_{{restaurant_price.id}}" id="price_{{restaurant_price.id}}" class="tttxt">
																	<input type="text" class="cat_price tttxt yearp year" style="width:100px !important;display:none;" name="price_{{restaurant_price.id}}" id="price_{{restaurant_price.id}}" class="tttxt">
																
															{% else %}
															<input type="hidden" id="period_{{restaurant_price.id}}" value="1">
															{% endif %}
													{% else %}
							                        		{% if restaurant_price.level != 'level0' %}
																<span class="rs mdm">{{globalsettings.currency}}</span>
																<input type="text" name="price_{{restaurant_price.id}}" style="width:100px !important;" id="price_{{restaurant_price.id}}" class="tttxt month" value="{{restaurant_price.price_month|floatformat}}">
																<input type="text" name="price_{{restaurant_price.id}}" style="width:100px !important;display:none;" id="price_{{restaurant_price.id}}" class="tttxt year" value="{{restaurant_price.price_year|floatformat}}">
															{% else%}
																<input type="hidden" id="period_{{restaurant_price.id}}" value="1">
															{% endif %}
							                    	{% endif %}
													</h4>
												</div>
											{% endfor %}
											<span class="tip" style="display:inline-block;">{% trans 'Choose how would you like to promote your restaurant listing in the website.' %}</span> 
										</div>	
                                    </div>
                                </div> 
							{% endif %} 
                            



				</div><!---table content---> 
							
							

                                                                           
							<!------ submit --->
                            <div class="form-submit right group">
                               <button class="cform-button" roll="button" type="button" onclick="window.location.replace('{% url 'staff_restaurant_home' %}')"><span class="cform-button-text">{% trans 'Cancel' %}</span></button>
                               <button role="button" " class="cform-button prime " name="draft "type="submit"><span class="cform-button-text">{% trans 'SAVE' %}</span></button>
							   <button role="button" class="cform-button prime" type="submit"><span class="cform-button-text">{% trans 'PUBLISH' %}</span></button>
                            </div>                                                
                        </form>
                    </div>																	                                        
                </div> <!-- end table -->                                    
            </div><!-- end page wrap -->
        </div>  <!-- end main-col -->                            
        <div id="aside" class="side-bar">
			{% include 'restaurants/staff/add_update_faq.html' %}
		</div>        
	</div>                            
</div>
{% endblock %}			
{% block footer_include %}
<!-- TAGS -->
	<script type="text/javascript" src="{{STATIC_URL}}ui/js/jquery.ui.autocomplete.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}ui/js/tag-it.js"></script>
<!-- TAGS -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.datepicker.js"></script>
{% upload_js %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.jfp.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.fup.appln.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/business/staff.js"></script>
<script src="{{ STATIC_URL }}js/ckeditor/ckeditor.js" type="text/javascript"></script>
<script type="text/javascript">
var edt;
function updateTextArea(edt){
    CKEDITOR.tools.setTimeout( function(){ 
        $('#id_description').val(edt.getData());
        $("#id_description").trigger('keyup');
    }, 0);  
}
$(document).ready(function(){
	try{
		var instance = CKEDITOR.instances['id_description'];
		CKEDITOR.remove(instance);
	}
	catch(e){}
	CKEDITOR.on( 'instanceCreated', function( e ){
		   e.editor.addCss('body { font-size:12px; font-family:Arial, "Times New Roman", Verdana;}');
   	});
	var edt=CKEDITOR.replace( 'id_description',{					
		customConfig : '{{ STATIC_URL }}js/ckeditor/custome_config.js',
		toolbar : 'Basic'
	});

	edt.on('key', function(event) {updateTextArea(edt);});
	$('#id_category').change(function(){$('#id_category').valid();})
	$('#id_description').keyup(function(){$('#id_description').valid();})

	$('#id_website').focusin(function(){
		if($('#id_website').val()==""){
				$('#id_website').val('http://www.');
		}
		  
	});
	$('#id_website').focusout(function(){
	if($('#id_website').val()=='http://www.'){
				$('#id_website').val('');
			$(this).parent('div').parent('div').removeClass('field-error');$('#id_website').removeClass("error");	
			}
	});
	jQuery(function(){time=$('.horkinghour').autocomplete({source:availableTags});});
	$('#apply_all').click(function(){
		$('.starttime.on').val($('#id_mon_start').val());
		$('.endtime.on').val($('#id_mon_end').val());
	});
	$('.checkbox').click(function(){
		if($(this).is(':checked')){
			$(this).parent().parent().parent().find('input[type=text]').val('');
			$(this).parent().parent().parent().find('input[type=text]').attr('placeholder','');
			$(this).parent().parent().parent().find('input[type=text]').attr('disabled','disabled');
			$(this).parent().parent().parent().find('input[type=text]').removeClass('on');
		}
		else{
			$(this).parent().parent().parent().find('.starttime').attr('placeholder',gettext('09:00 AM'));
			$(this).parent().parent().parent().find('.endtime').attr('placeholder',gettext('06:00 PM'));
			$(this).parent().parent().parent().find('input[type=text]').removeAttr('disabled');
			$(this).parent().parent().parent().find('input[type=text]').addClass('on');
		}
	});
	
	$('input[name=operating_hours]').change(function(){
		if($('input[name=operating_hours]:checked').val()==1){$('#opt_hour').show();}
		else{$('#opt_hour').hide();}
	});
	
	
	$.validator.addMethod("desc_required", function(value, element) {  
    	$('#id_description').val(edt.getData());
		if($('#id_description').val()!=''){return true;}
		else{return false;}
	},"Please enter a description.");
	$.validator.addMethod("time", function(value, element) {  
    return this.optional(element) || /^(([0]?[1-9])|([1][0-2])):([0-5]?[0-9])(:([0-5]?[0-9]))?\s([AP][M])$/i.test(value);},gettext("Please enter a valid time."));
	$("#mform").validate({
		ignore: "",
		highlight: function(element, errorClass){add_error_class(element)},
		unhighlight: function(element, errorClass){remove_error_class(element)},
		errorPlacement: function(error, element){},
	   	rules:{
	    	name: "required",
			slug: "required",
			description: "required",
			categories: "required",
			cuisines: "required",
			paymentoptions:  "required",
			address1:"required",
			city:"required",
			pin:"required",
			
			
			
			mon_start:{required:false,time:true},
		    mon_end:{required:false,time:true},
		    tue_start:{required:false,time:true},
		    tue_end:{required:false,time:true},
		    wed_start:{required:false,time:true},
		    wed_end:{required:false,time:true},
		    thu_start:{required:false,time:true},
		    thu_end:{required:false,time:true},
		    fri_start:{required:false,time:true},
		    fri_end:{required:false,time:true},
		    sat_start:{required:false,time:true},
		    sat_end:{required:false,time:true},
		    sun_start:{required:false,time:true},
		    sun_end:{required:false,time:true},
			
			
	   	},
		submitHandler:function(){
			get_lat_lang();
			form.submit();
		}
	});


	<!----------logo------->
	file_upload('{% url 'restaurant_ajax_upload_logo' %}?id={{restaurant.id}}',1);
	$('#fileupload').bind('fileuploadstart', function (e, data) {$('#upload-button-wrapper').hide();});
	$('#fileupload').bind('fileuploaddestroy', function (e, data) {
		setTimeout(function(){
			$('#upload-button-wrapper').show();
			$('#upload-button').html(gettext('Attach Logo'));
		},700);
		setTimeout(function(){$('#upload-button').html(gettext('Attach Logo'));},1050);
	});
	{% if new_pic %}
		get_images('{% url 'restaurant_ajax_upload_logo' %}?ids={% for np in new_pic %}{{np}}{% if not forloop.last %},{% endif %}{% endfor %}')
	{% endif %}


	<!------------TAG--------->
	$("#mytags").tagit({
       singleField: true,
       singleFieldNode: $('#tags'),
	   allowSpaces:true,
       tagSource: function( request, response ) {
         $.ajax({
		       url: '{% url 'restaurant_auto_suggest_tag' %}',
		       data: { term:request.term },
		       dataType: "json",
		       success: function( data ) {
		       response( $.map( data, function( item ) {
		       return {
			   	label: item.label, value: item.value 
				}}
				));
       		}
       });
      }});
});


</script>

<script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false{% if globalsettings.google_map_key %}&key={{ globalsettings.google_map_key }}{% endif %}" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/general/google_map.js"></script>
<script type="text/javascript">
	{% if address %}
		load_for_add('map',{{ address.pointer_lat }}, {{ address.pointer_lng }}, {{ address.map_zoom }},'{{ address.city }}','{{ globalsettings.city }} - {{address.pin}}');
	{% else %}
		load_for_add('map',{{ globalsettings.google_map_lat }}, {{ globalsettings.google_map_lon }}, {{ globalsettings.google_map_zoom }},'{{ globalsettings.city }}','{{ globalsettings.city }}');
	{% endif %}
	function string_to_slug(str) {
	  str = str.replace(/^\s+|\s+$/g, ''); 
	  str = str.toLowerCase();
	  str = str.replace(/[^a-z0-9 -]/g, '').replace(/\s+/g, '-').replace(/-+/g, '-'); 
	  $('#id_slug').val(str);
	}	
	$( "#id_pin" ).autocomplete({
			source: '{% url 'auto_suggest_pin' %}',
		   	select: function(event, ui) {
     			$("#id_pin").val(ui.item.id);
     	 	}
	});
	function get_lat_lang(){
		var lat_lng = marker.getPosition();
		var zoom = map.getZoom();
		$('#lat_lng').val(lat_lng);
		$('#zoom').val(zoom);
	}
function show(id){
	$('#'+id).slideDown();
	$('#i_'+id).fadeOut('fast');
}
function hide(id){
		$('#'+id).slideUp();
		$('#'+id).find('input[type=text]').val('');
		$('#i_'+id).find('input[type=checkbox]').attr('CHECKED',false);
		$('#i_'+id).fadeIn('fast');
}
function showhttp(vl){
	if(vl=='f'){if($('#id_fb_url').val()==""){$('#id_fb_url').val('http://www.facebook.com/');}}
	else if(vl=='g'){if($('#id_gooleplus_url').val()==""){$('#id_gooleplus_url').val('http://plus.google.com/');}}
	else if(vl=='tw'){if($('#id_twitter_url').val()==""){$('#id_twitter_url').val('http://www.twitter.com/');}}
}
function hidehttp(vl){
	if(vl=='f'){
		if($('#id_fb_url').val()=='http://www.facebook.com/'){
			$('#id_fb_url').val('');
			var element=$('#id_fb_url');
			$(element).parent('div').parent('div').removeClass('field-error');$(element).removeClass("error");
		}
	}
	else if(vl=='g'){
		if($('#id_gooleplus_url').val()=='http://plus.google.com/'){
			$('#id_gooleplus_url').val('');
			var element=$('#id_gooleplus_url');
			$(element).parent('div').parent('div').removeClass('field-error');$(element).removeClass("error");
		}
	}
	else if(vl=='tw'){
		if($('#id_twitter_url').val()=='http://www.twitter.com/'){
			$('#id_twitter_url').val('');
			var element=$('#id_twitter_url');
			$(element).parent('div').parent('div').removeClass('field-error');$(element).removeClass("error");
		}
	}
}
</script>
<script type="text/javascript">
$(document).ready(function(){
	$('#id_city').live("keyup",function(){getPin(getaddress(),$('#id_pin').val());});
});
function getaddress(){return $('#id_address1').val()+" "+$('#id_address2').val()+" "+$('#id_city').val();}
</script>
{% endblock %}	
				