{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% load upload_tags %}
{% load thumbnail %}
{% block navigation %}
    {% activetab "selmodule" "restaurants" %}
    {{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Restaurant Images' %} {% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bm.jfp.ui.css">
{% endblock %}
{% block content %}
<div id="staff-platform" class="group">
   <div class="header-bar has-preview-head">
        <h2 onclick="window.location.replace('{% url 'staff_restaurant_home' %}')" style="cursor:pointer;"><span class="go_back"></span>Restaurant</h2>
        <section class="sub-header-bar">
            <div class="preview-head">
                <div class="item-title">
                    <h1>{{ restaurant_obj }}</h1>
                    <p class="ltxt80">By <a href="#">{{restaurant_obj.created_by.profile.get_full_name}}</a> <span class="divider12">|</span> {{restaurant_obj.created_on|date:"M d, Y"}}</p>
				</div>                                   
                                             
            </div>                                
        </section>                          
    </div>
    <div id="core-wraper" class="group">
        <div class="staff-main">
            <div class="page-wrap">
                <div id="products" class="preview-center group">
                    <div class="preview-group">
                        <div class="preview-items-head" id="head_title" style="{% if not restaurant_obj.restaurant_images.all %}display:none;{% endif %}">
                            <h3>{% trans 'Images' %}</h3>
                        </div>
                        <div id="fileupload" >
                             <div class="fileupload-content">
                                <ul class="files bm-uploader-list"></ul>
                            </div>
                            <div class="clear"></div>
                            {% csrf_token %}
                            <div class="no-data"  style="padding:9em 0px 3em 0px;{% if restaurant_obj.restaurant_images.all %}display:none;{% endif %}">
                                <p id="no_photo_p">{% trans 'No Images found for this restaurant.Upload Now!' %}.</p>
                            </div>
                            <div class="clear"></div>
                            <div class="upload-button-wrapper" style="{% if not restaurant_obj.restaurant_images.all %}margin-left:300px; text-align:left;{% endif %}">
                                <a class="upload-button">{% trans 'Add Images' %}</a>
                                <div class="fileinput-button">
                                    <input type="file" size="1" name="photo" id="id_photo" multiple=""  accept="image/*" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end table -->
            </div> <!-- end page wrap -->
        </div> <!-- end main-col -->                            
               <div id="aside" class="side-bar">
        	<div class="preview-aside-meta group">
                <ul class="side-navigation">
                    <li><a href="{% url 'staff_preview_restaurant' restaurant_obj.id %}">Restaurant Details</a></li>
					<li><a href="{% url 'staff_restaurant_menu' restaurant_obj.id %}">Menus</a></li>
                    <li class="active"><a href="{% url 'staff_restaurant_image' restaurant_obj.id %}">Images</a></li>
					<li><a href="{% url 'staff_restaurant_videos' %}?rid={{restaurant_obj.id}}">Videos</a></li>
                </ul>
				<div class="preview-item-stats">
					<a href="{% url 'staff_preview_restaurant' restaurant_obj.id %}" class="btn-txt-blue" style="display:block; text-align:center"><span class="btn-txt">Preview this Restaurant</span></a>
                </div>                              
			</div>    
			<div class="section">
				<h6>Manage Images</h6>
				<p>Add the Images of restaurant.</p>
			</div>
        </div>                        
    </div>                                                    
</div>
{% endblock %}
{% block footer_include %}
{% upload_js %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.jfp.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.fup.appln.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    file_upload("{% url 'staff_restaurant_ajax_upload_photos' restaurant_obj.id  %}",30);
    $('#fileupload').bind('fileuploadstart',function(e, data){show_hide()});
    $('#fileupload').bind('fileuploaddestroy',function(e, data){setTimeout(function(){show_hide();},1000);});
});
function show_hide(){
    if($('.bm-uploader-file').length>=1){
        $('.no-data').hide();
        $('#head_title').show();
        $('.upload-button-wrapper').css('margin-left','0px');
        $('.upload-button-wrapper').css('text-align','left');
    }
    else{
        $('.no-data').show();
        $('#head_title').hide();
        $('.upload-button-wrapper').css('margin-left','300px');
        $('.upload-button-wrapper').css('text-align','left');
    }
}
</script>
{% endblock %}