{% load i18n %}
{% load thumbnail %}
<li class="table-list-row manage-items has-thumb90" id="li_{{menu.id}}">
    <div class="table-list-row-inner group">
        <div class="item-media">
            <span class="item-thumb thumb-90">
                <span class="thumb-in">
					<span class="thumb"><img src="{% if menu.photo %}{% thumbnail menu.photo 110x0 %}{% else %}{{STATIC_URL}}themes/green/images/global/nophoto_90.jpg{% endif %}" alt="{{menu.title}}" class="inline-block"><span class="inline-block h100"></span></span>
                </span>
            </span>
        </div>   
		<div class="item-detail">
        	<h4>{{menu.title}}</h4>
            <p>{% autoescape off %}{{menu.categories}}{% endautoescape %}</p>
 			<p>{% autoescape off %}{{menu.files}}{% endautoescape %}</p>
        </div>
       	<div class="action-buttons">
            <div>
                <a href="{% url 'staff_business_menu_update' menu.business.id menu.id %}" class="tttxt-w bm-add-menu" original-title="{% trans 'Edit menu' %} {{menu}}"><span class="action-icon icon-edit"></span></a>
                <a href="javascript:delete_menu({{menu.id}})" class="tttxt-w" original-title="Delete"><span class="action-icon icon-delete"></span></a>
			</div>                                                            
      	</div>
    </div>
</li>