{% extends base %}
{% load tabs %}
{% load i18n %}
{% load ds_utils %}
{% load modulotag %}
{% load comparison %}
{% load ds_utils %}
{% block pagetitle %}{% seo_format_tag module='Hotels' title=hotel.name|title code='DT' category=category.name as seo_meta_title %}{{seo_meta_title}} {% endblock %}
{% block meta %}
<meta name="Description" content="{% if hotel.short_description %}{{hotel.short_description|striptags}}{% else %}{{seo.seo_description}}{% endif %}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}themes/green/css/hotels.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}themes/green/css/lightbox.css">
{% endblock %}
{% block navigation %}
	{% activetab "topnav" "hotels" %}
	{{ block.super }}
{% endblock %}
{% block content %}
			
			{% include 'default/hotels/top-search.html' %} 
			{% include 'default/hotels/hotel-part-lb.html'%}
        	<div class="group">
				<div class="mrl_0" id="breadcrumbs"><a href="{% url 'hotels_home' %}">{% trans 'Hotels' %}</a>&nbsp;»&nbsp;{% for cat in hotel.category.all %}<a href="{{ cat.get_absolute_url }}">{{ cat.name|title }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}&nbsp;»&nbsp;<span class="here">{{ hotel.name|title }}</span></div>				
            	<div id="hotel_detail_header">
            		<div id="hotel_detail_title">
                    	<h2 class="group">
                        	<span class="hotel-name">{{ hotel.name|title }}</span>
                            <span class="review_rating_trans" style="margin:10px 5px 0 20px;">
                                <span class="star stars_{{hotel.hotel_rating|get_rating}}"></span>
                            </span>
						</h2>
						<div class="location group">                     
							<div class="group" style="width: 300px; float: left; padding-right:10px">
                            	<p>
                                	<strong>{% trans 'Address:' %}</strong>
                                    <span style="float: left; width: 200px;">{{hotel.address}}<br/>
                                    {% if hotel.city %}{{hotel.city}},{% endif %} {% if hotel.state_province_code %}{{hotel.state_province_code}}&nbsp;{% endif %}{% if hotel.postal_code %}{{hotel.postal_code}}{% endif %}</span>
                                </p>
                            </div>
                        </div>
                    </div>
					{% if hotel.deeplink %}
						<div style="position: absolute; left: 330px; top: 53px;">
							<!--a class="button super orange" href="{{hotel.deeplink}}" target="_blank"><span>{% trans 'BOOK NOW →' %}</span></a-->
							<a class="button super orange" href="http://travel.exampletravel.com/hotel/propertydetails/{{hotel.hotelid}}/SUMMARY?isHRN=true&position=1&cid={{hotel_api_settings.customer_id}}" target="_blank"><span>{% trans 'BOOK NOW →' %}</span></a>
						</div>
					{% endif %}
                    <div id="hotel_logo">
                        <img width="151" height="100" alt="{{hotel.name|title}}" src="{% if hotel.hotel_images.all.0.image_big %}{{hotel.hotel_images.all.0.image_big}}{% endif %}" style="border: 1px solid rgb(230, 230, 230); border-radius: 3px 3px 3px 3px; padding: 3px;">
                    </div>
        			<div class="clear"></div>
					<!--input type="hidden" value="yes" id="stop_accdn"-->
					<div id="pages">
						<ul id="id_hotel_tabs_ul">
                        	<li class="home"><h2 class="selected"><a class="page" id="hotel_overview" href="javascript:void(0);">{% trans 'Overview' %}</a></h2></li>
                            <li class=""><h2><a class="page" id="hotel_rooms" href="javascript:void(0);">{% trans 'Rooms' %}</a></h2></li>
                            <li class=""><h2><a class="page" id="hotel_amenities" href="javascript:void(0);">{% trans 'Amenities' %}</a></h2></li>
                            <li class=""><h2 id="id_h2_photos"><a class="page" id="hotel_photos" href="javascript:void(0);">{% trans 'Photos' %}</a></h2></li>
                            <li class=""><h2><a class="page" id="hotel_sview" href="javascript:void(0);">{% trans 'Street View' %}</a></h2></li>
    					</ul>
                        <div class="right_nav">
                            <div class="tool_bar">
                                <a class="email_btn click_pvnt respond_clr" href="javascript:void(0);" onclick="show_content('respond_to_div');"><span>{% trans 'Email' %}</span></a>
                                <a class="save_btn jqbookmark click_pvnt" title="{% trans 'Add To Favourite' %}" href="#"><span>{% trans 'Save' %}</span></a>
                                <a class="print_btn" title="{% trans 'Print This Page' %}" href="javascript:window.print();"><span>{% trans 'Print' %}</span></a>
                            </div>
                        </div>
						<div class="ie6_clear"></div>
					</div>
                </div><!-- / -->
				<div class="clear"></div>
                <div class="main_content">
                    {% include 'default/hotels/hotel-details-overview.html' %}
					{% include 'default/hotels/hotel-details-room-info.html' %}
					{% include 'default/hotels/hotel-details-amenities.html' %}
					{% include 'default/hotels/hotel-details-photos.html' %}
					{% include 'default/hotels/hotel-details-streetviews.html' %}
                    <div class="secondary">
                    	<ul class="accordian9 group">
                            <li class="acdn_row" id="hotel_map"><a class="bar_title click_pvnt" href="javascript:void(0)">{% trans 'Map' %}</a>
                                <div style="display:block;" class="acdn_content">
                                    <div id="map" style="_position:relative!important"></div> 
                                </div>
                                <p class="more_link99"><a href="javascript:void(0)" class="click_pvnt contact_form_clr" onclick="show_content('id_map_get_direction');init_getdirection({{ hotel.latitude }}, {{ hotel.longitude }}, {{ hotel.zoom }});">{% trans 'Get Directions' %}</a></p>
                            </li>
						</ul>
						<!--iframe frameborder="0" scrolling="no" src="http://www.tripadvisor.com/WidgetEmbed-cdspropertysummary?display=true&partnerId=czztdaxrhfbusyp685ut6g6v&cid=8123amp;lang=en&locationId={{hotel.id}}" class="taWidget"></iframe-->
						<!--iframe frameborder="0" scrolling="no" src="http://www.tripadvisor.com/WidgetEmbed-cdspropertysummary?partnerId=0B00D49AD8E140D08E3C57C0272723C4&amp;lang=en_US&amp;locationId=278721&amp;display=true" class="taWidget" style="height: 280px;"></iframe-->
                    </div> <!-- /secondary -->
				</div>                    
			</div><!--end of group-->

<script type="text/javascript" src="{{STATIC_URL}}js/general/lightbox.js"></script>
<script src="{{STATIC_URL}}js/base.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/hotels/hotels.js" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/jquery.autocomplete.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/stepcarousel.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/general/stepcarousel_init.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false{% if globalsettings.google_map_key %}&key={{ globalsettings.google_map_key }}{% endif %}" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/general/google_map.js"></script>                                 
<script>
	load('map',{{ hotel.latitude }}, {{ hotel.longitude }}, {{ hotel.zoom }},"{{ hotel.name }}","{{ hotel.address|escape|linebreaks }}{{ hotel.city }}<br/>{{ hotel.city }} - {{ hotel.postal_code }}");
</script>

<script type="text/javascript">
function initialize(){
  var service = new google.maps.StreetViewService();
  var fenway = new google.maps.LatLng({{ hotel.latitude }}, {{ hotel.longitude }});

  service.getPanoramaByLocation(fenway, 50, function(data, status) {
        if (status == 'OK') {
            var panoramaOptions = {
			  position: fenway,
			  pov: {
			    heading: 34,
			    pitch: 10,
			    zoom: 1
			  	},
				visible:true
			  };
			
			var panorama = new google.maps.StreetViewPanorama(document.getElementById("gsview"), panoramaOptions);
        }
        else{
            $('#gsview').html('Sorry !!! Not able to get direction.');
        }
    });	
}
</script>

{% endblock %}		
