{% load i18n %}

<input type = "hidden" id = "as_exec_respond" value="yes" />
<input type="hidden" name="hashkey" id="id_hashkey" value="{{ scaptcha.hash }}" />


<!-- Lightbox code begin -->   
<div class="lightbox_outer" >
<div class="lightbox_content_holder">
<a href= "#" class="call_lightbox lb_close fix_ie6png enlarge click_pvnt"></a>
<div class="lightbox_content">
<!-- Put all your contents only inside this "lightbox_content" div -->

<!-- map start -->
<div  class="allhide" id="id_alladdress" style="padding:10px; font:12px/1.2 arial, san-serif; background-color:#f8f8ed;width:620px;height:520px">
	<div style="float:left; width:290px;height:500px;overflow:auto; margin-right:25px;">
			<div style="cursor:pointer;{% if not forloop.first %}margin:10px 0 10px 0;padding-top:10px;border-top:1px dotted #7d7d7d;{% endif %}" onclick="map1.setCenter(new GLatLng({{ hotel.latitude }}, {{ hotel.longitude }}, {{ hotel.zoom }});">
			<strong style="display:block;font:16px/1.2 georgia, serif;margin-bottom:3px;">{% if hotel.address %}{{ hotel.address }}{% endif %}</strong>
			{% if hotel.address %}{{ hotel.address }}{% endif %}
			{% if hotel.city %}{{ hotel.city }}{% endif %}
			{% if hotel.postal_code %} - {{ hotel.postal_code }}{% endif %}
			</div>
	</div>
	<div style="float:left; width:290px;">
		<div id="map1" style="width:290px; height:490px;border:1px solid #666;"></div>
	</div>
	<div class="clear"></div>	
</div>
<!-- map end -->

					
<!-- Tell a friend begin -->
<div id="respond_to_div" class="allhide">
<input type="hidden" id="content_id" name="content_id" value = "{{ hotel.id }}" />
<input name="respond_hashkey" id="respond_hashkey" value="" type="hidden" />	
<div class="tellfriend" style="padding:0px;">
    <h3>{% trans 'Tell a Friend' %}</h3>
	<form id="respond_form" method="get" action="{% url 'hotels_ajax_tell_a_friend' %}">{% csrf_token %}
		<label for="from_name">{% trans 'Your Name:' %}</label>
		<p>
			<input type="text" maxlength="15" autocomplete="off" size="30" name="from_name" id="from_name" class="input_text">
    	</p>

		<label for="to_name">{% trans "Your Friend's Name:" %}</label>
		<p>
			<input type="text" maxlength="50" size="30" name="to_name" id="to_name" class="input_text">
		</p>
		
		<label for="to_email">{% trans "Your Friend's Email:" %}</label>
		<p>
			<input type="text" maxlength="50" size="30" name="to_email" id="to_email" class="input_text">
    	</p>
		
	
		<label>Subject:</label>
		<p style="width:410px" class="field">{{ globalsettings.domain }} - <span id="keyup_name"><b>{% trans 'Your Name' %}</b></span> {% trans 'sent you hotel details of' %} "{{ hotel.name|title }}" </p>
    
		<label for="msg">{% trans 'Message:' %}</label>
        <textarea rows="5"  name="msg" id="msg" cols="30" class="medium field"></textarea>
		
		<div class="form_footer">
			<button type="submit" class="button super green large respond_submit"><span>{% trans 'Submit' %}</span></button>
			<p id="respondstatus"></p>
		</div>
    </form>
</div>
</div>
<!-- Tell a friend end -->

<!-- MAP GET DIRECTION  	start -->
<div id="id_map_get_direction" class="allhide" style="background-color:#F2F7FD;width:800px;height:450px;padding:5px;-moz-border-radius:5px;">
	
	<!-- get direction form -->
	<div style="padding-bottom:10px;" align="center" class="search_ex">
	<form action="javascript:getDirections()" style="">
	<label style="font-size:11px;font-weight:bold;line-height:16px;color:#3d3d3d;">{% trans 'From:' %}</label>
	<input type="text" maxlength="40" name="saddr" id="saddr" value="" style="width:200px;border-color:#069;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;-khtml-border-radius:3px 3px 3px 3px;border-radius:3px 3px 3px 3px;background:#FFF url(../images/global/input_bg.png) no-repeat scroll 0 0;border:1px solid #b2b2b2;color:#3d3d3d;display:inline-block;font:13px/18px Helvetica Neue,Helvetica,Verdana,sans-serif;margin:0 0 0px 0;padding:3px 5px;text-shadow:0 0 1px #FFFFFF;" />
	<label style="font-size:11px;font-weight:bold;line-height:16px;color:#3d3d3d;padding-left:10px;">{% trans 'To:' %}</label>
	<select id="daddr" style="width:200px;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;-khtml-border-radius:3px 3px 3px 3px;border-radius:3px 3px 3px 3px;background:#FFF url(../images/global/input_bg.png) no-repeat scroll 0 0;border:1px solid #b2b2b2;color:#3d3d3d;display:inline-block;font:13px/18px Helvetica Neue,Helvetica,Verdana,sans-serif;margin:0 0 0px 0;padding:3px 5px;text-shadow:0 0 1px #FFFFFF;">
		<option value="{{ hotel.address }}@{{ hotel.latitude }},{{ hotel.longitude }}">{{ hotel.address }} ({{ hotel.name|title }})</option>
	</select>
	<input type="hidden" name="walk" id="walk" />
	<input type="hidden" name="highways" id="highways" />
	<button type="submit" name="saddr" value="Get Directions" class="button super black small single_submit"><span>{% trans 'Get Directions' %}</span></button>
	</form>
	</div>
	<!-- get direction form end -->
	
	<span id="map_getdirection" style="float:left;width:450px; height:400px;-moz-border-radius:5px;border:#D4E5F3 solid 2px;" align="left"></span>
	<div id="directions" style="overflow:auto;width:330px;height:400px;padding:0px 5px 5px;" align="right"></div>
	
</div>
<!-- MAP GET DIRECTION  	end -->

					
<!-- put your contents only iside "lightbox_content" div -->		
</div>			
</div>
</div>
<div class="lightbox_background"></div>
<!-- Lightbox code end -->