{% load i18n %}

<div id="search_hotel" class="module_search" style="position:relative; z-index:100">
    <form method="get" action="{% url 'hotels_hotel_search' %}">
        <p class="search_for group">
            <label for="id_for">{% trans 'Search for' %}</label>
            <span class="field_wrap search_ex">
                <input type="text" autocomplete="off" name="q" id="id_find" tabindex="1" class="hotel_tips_input ac_input" value="{% if q %}{{q}}{% endif %}"  style="width:240px;">
                <em class="tips" id="hotel_tips">{% trans 'Cabin, Inn ...etc' %}</em>
            </span>
        </p>
        <p class="near">
            <label for="id_location">Near</label>
            <span class="field_wrap search_ex">
                <input type="text" autocomplete="off" name="location" value="{% if location %}{{location}}{% endif %}" class="bus_loc_tips_input ac_input" title="location" id="id_location" tabindex="2">
                <em class="tips" id="bus_loc_tips">{% trans 'Town/City, Zip Code,... etc' %}</em>
            </span>
        </p>
        <p class="submit_btn"><button class="super large blue button" id="search_id" type="submit">
            <span class="biz_search">{% trans 'Search' %}</span></button></p>                     
	</form>
    <div class="clear"></div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
  	//auto suggest hotel search
	if ($("#id_find").length) {
		$("#id_find").autocomplete('{% url 'hotels_hotel_auto_suggest' %}');
	}		

  })

</script>