{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}themes/green/css/forum.css">
<div style="margin: 20px 0">
	<h1 style="font:18px arial, sans-serif;font-weight:bold;color:#990000">
		{%if head_post%}
			{% trans "Are you sure you want to delete this topic? It will delete all the posts of topic !! " %}
		{%else%}
			{% trans "Are you sure you want to delete this post?" %}
		{%endif%}
	</h1>
	<div class="post-preview" style="background-color:#f1f1f1;margin:15px 0;padding:10px;">
    	{{ post.body_html|safe }}
	</div>
	<form method="post">{% csrf_token %}
    	<p><input type="submit" value="{% trans "Yes, I am sure." %}" />
    	&nbsp;<input type="button" onClick="javascript:history.back();" value="{% trans "Cancel" %}" /></p>
	</form>
</div>
{% endblock %}
 