{% extends base %}
{% load tabs %}
{% load ds_utils %}
{% load i18n %}
{% load thumbnail %}
{% block pagetitle %}{{topic.forum.seo_title}} | {{topic.name}}{% endblock %}
{% block meta %}
<meta name="Description" content="{{topic}}">
<meta name="Keywords" content="{{ globalsettings.city }}, forum, discussions, express yourself, {{ globalsettings.city }} forums, {{ globalsettings.city }} forums, {{ globalsettings.city }} views, {{ globalsettings.city }} connect">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="imagetoolbar" content="no" />
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}themes/green/css/forum.css">
	<link href="{{STATIC_URL}}smarkup/skins/style.css" type="text/css" rel="stylesheet" />
<link href="{{STATIC_URL}}smarkup/skins/default/style.css" type="text/css" rel="stylesheet" />
<link href="{{STATIC_URL}}smarkup/conf/bbcode/style.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block navigation %}
	{% activetab "topnav" "forum" %}
	{{ block.super }}
{% endblock %}
{% block content %}
        	<div id="breadcrumbs"><a href="/discussions/" title="{{ globalsettings.domain }} Home">{% trans 'Forum Index' %}</a> &nbsp;»&nbsp; {% ds_link topic.forum.category %} &nbsp;»&nbsp; {% ds_link topic.forum %} </span>
        	   {% if moderator %}<div class="item_right0">  {% if topic.closed %}
				   <a href="{% url 'forum_open_topic' topic.id %}">{% trans 'Open topic' %}</a>

				    {% else %}
				    <a href="{% url 'forum_close_topic' topic.id %}">{% trans 'Close topic' %}</a>
				    {% endif %}</div>{%endif%}</div>
					

			<div class="group">
				<div id="forum" class="col_13 group">
                    <div class="thick_box">
                        <div class="thick_box_core group"> 
                            <div class="forums place_list">
                                <dl class="forum header group">
                                    <dt class="w_80">
                                        <a class="cat_title" href="#">{{ topic.name}}</a>
                                    </dt>
				    {% if not topic.closed %}
                                    <dd class="post_reply" style="position:absolute; right:10px;">
				    
				   <a href="{%if user.is_authenticated%}#post-form{%else%}{% url 'forum_add_post' topic.id%}#post-form{%endif%}" class="button small super red"><span>{% trans 'Post Reply' %}</span></a>
				   <a id="fav_link" href="javascript:void(0)" onclick='subscribe({{topic.id}})' style="{% if not user.is_authenticated %}display:none;{% endif %}" title="Subscribe to this Discussion" class="tttxt-n fav_add fav_top_add button small super green"><span>Subscribe</span></a>				   
				   <a href="{% url 'ajax_signin' %}" style="{% if user.is_authenticated %}display:none;{% endif %}" title="{% trans "Log into your" %} {{globalsettings.domain}} {% trans "account" %}" class="tttxt-n fav_login bm-ajax-login button xsb super green email_btn respond_clr"><span>Subscribe</span></a>				   
				</dd> 
				 {%endif%}
				<div class="clear"></div> 
                                </dl>
                                <div id="replies" class="group">
                                {% for post in posts %}
                                    <div class="reply group {% cycle '' 'alt' %}" id="post-{{post.id}}">
                                        <div class="author_col">
                                            <div class="pic">
                                                <p><a href="{% url 'user_profile' post.user.profile_slug %}"><img width="75" height="75" alt="{% trans 'User avatar' %}" src="{% if post.user.image %}{% thumbnail post.user.image 75x0 %}{% else %}{{STATIC_URL}}images/generic.gif{% endif %}"><br>{{ post.user.first_name }}</a></p>
                                                <p><span class="user_post"><strong>{% trans 'Post' %}:</strong> {{post.user.forum_post_count}}</span></p>
                                        	</div>			
                                        </div>
                                        <div class="post_body">
                                            <div class="post_header">
                                                <h3><a href="#">{% ifequal topic.head.id post.id %}{{ post.topic }} {% else%} <strong class="re">{% trans 'Re' %}:</strong>{{post.topic}} {%endifequal%}</a></h3>
                                                <p class="post_time">{% ds_time post.created %}</p>
                                            </div>
                                            <div class="content">{% autoescape off %}{{ post.body_html }}{% endautoescape %}</div>
											<div class="tool_bar br_0">
                                                <a href="{% url 'forum_add_post' topic.id %}?quote_id={{ post.id }}#post-form" class="white_btn"><span>Quote</span></a>
                                               <!-- <a href="#" class="white_btn"><span>Report</span></a> -->
                                                {% if moderator or post|ds_posted_by:user %}
                                                <a href="{% url 'forum_edit_post' post.id %}" class="white_btn"><span>{% trans 'Edit' %}</span></a>
                                                {% endif %}
                                                 {% if moderator or post|ds_equal_to:last_post %}
                        							{% if moderator or post.user|ds_equal_to:user %}
                                                <a href="javascript:delete_post({{post.id}})" class="white_btn"><span>{% trans 'Delete' %}</span></a>
                                                 {% endif %}
                                                  {% endif %}
	                                        </div>
                                        </div>
										<div class="clear"></div>  
                                    </div>
                                   {% endfor %}
                                </div><!-- /replies -->  
                            </div>
							{% if is_paginated %}     
								{% include "default/forum/pagination.html" %}             
							{% endif %}              					
                        </div>
                    </div>                          
                      {% if user.is_authenticated %}
						{% if not topic.closed %}
							{% include "default/forum/add_post_form.html" %}
						{% endif %}
					{% endif %}                                
                </div>
				<div id"secondary" class="col_3 mr_0">
                	<div id="banner_placement_right"></div><!-- Banner Placement -->
                </div>
			</div>
<script type="text/javascript" src="{{STATIC_URL}}smarkup/smarkup.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}smarkup/jquery.smarkup.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}smarkup/addons/commons/addons.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}smarkup/conf/bbcode/conf.js"></script>
<script type="text/javascript">

$(document).ready(function() {
	$('#bbcode').sMarkUp('bbcode', 200);
	$('#preview-button').click(function() {
    var raw_content = $.trim($('.post-form #bbcode').val());
    var markup = $('.post-form #id_markup').val();

    args = {'content': raw_content, 'markup': markup}
    $.post('/discussions/api/post_ajax_preview/', args, function(data) {
        if (data.error) {
            alert(data.error);
        } else {
            $('.preview-box .content').html(data.content);
            $('.preview-box').show();
        }
    }, 'json');
    });
    $("#post-submit").click(function() {
		  var name=$("#name").val();
		  var body=$("#bbcode").val();
		  var error="";
		  if(name==""){
		  	error=gettext("Ooops,  Please provide the subject")
		  }
		  if(error!=""){
		    error+="<br/>"
		  }
		  if(body==""){
		  	error+=gettext("Ooops,  Please provide the description")
		  }
		  
		  if(error==""){
		  $("#post-submit").attr("disabled","disabled")
		   $(".preview-button").attr("disabled","disabled")
		  	$(".post-form").submit()
		  }
		  else{
		  $("#error-box").show();
		  	 $("#error-box").html(error);
		  }
	});
  });

	</script>	
	<script>
function subscribe(id){	
	$.ajax({
		type:'get',
		url:'{% url 'forum_add_subscribe' %}',
		data:'id='+id,
		success:function(data){
			if(data=='1'){alert(gettext('Topic subscribed successfully.'));$('#fav_link span').html('Subscribed');}
			else if(data=='2'){alert(gettext('Oops !!! Topic already subscribed.'))}
			else{alert(gettext('Oops!!! Not able to process your request.'))}
		}
	});
}
{% if user.is_authenticated %}
$(document).ready(function(){
	$.ajax({
		type:'get',
		url:'{% url 'forum_check_subscribe' %}',
		data:'id={{topic.id}}',
		success:function(data){
			if(data=='1'){
				$('#fav_link span').html('Subscribed');
				$('#fav_link').click( function() { return false; } );
			}
		}
	});
})
{% endif %}

function delete_post(id){
	if(confirm('Are you sure want to delete this post ?')){
		$.ajax({
			type:'GET',
			url:'{% url 'forum_delete_post' %}',
			data:'id='+id,
			success:function(data){
				if(data==1){$('#post-'+id).remove();}
				else if(data==2){alert('Oops !!! Permission denied.')}
				else{alert('Oops !!! Not able to process your request.')}
			}
		})
	}
}


</script>		
{% endblock %}