{% load i18n %}	
         <li class="pending-state" ><strong>{{ pending}}</strong> {% trans 'in' %} <a href="javascript:void(0)">{% trans 'Pending' %}</a></li>
         <li class="published-state" ><strong >{{ published }}</strong> {% trans 'in' %} <a href="javascript:void(0)">{% trans 'Published' %}</a></li>
         <li class="blocked-state" ><strong>{{ rejected }}</strong> {% trans 'in' %} <a href="javascript:void(0)">{% trans 'Rejected' %}</a></li>
		 <li><strong>{{ blocked }}</strong>{% trans 'in' %}<a href="javascript:void(0)">{% trans 'Blocked'%}</a></li>
         <li class="sum"><strong>{{ total }}</strong> {% trans 'Total Video posted.' %}</li>
     