{% load i18n %}
<div class="section">
		<a class="quick_help" href="https://docs.google.com/a/doublespring.com/document/d/1qSud3JD7RY5ybuy5vj2Es2lSQmb2Iuwcu8SpHlb5b1Y/edit#bookmark=id.1uhc9kexbzk7" target="_blank"><span class="icon">?</span>Quick help</a>
		<hr>
        <h5>{% trans 'Highlights' %}</h5>
        <h6>{% trans 'Settings Icon' %}</h6>
        <p>{% trans "Clicking on the settings icon you can perform actions to edit, feature and  delete events." %}</p>
        <hr>
        <h6>{% trans 'Search' %}</h6>
        <p>{% trans "Search plays a vital role in finding the results.Once the search engine shows results, you have to clear the search to get back to the main page of the event list." %}</p>
        <hr>
        <h6>{% trans 'Sorting' %}</h6>
        <p>{% trans "There are three types of sorting modes." %}</p>
        <hr>
        <h6>{% trans 'General events' %}</h6>
        <p>{% trans "Sort events by pending, published, blocked and rejected" %}</p>
        <hr>
        <h6>{% trans 'Featured events' %}</h6>
        <p>{% trans "Sort events by featured and non-featured" %}</p>
        <hr>
        <h6>{% trans 'Staff/User events' %}</h6>
        <p>{% trans "Sort events by staff or user events." %}</p>
</div> 