{% load i18n %}
<script type="text/javascript">
	function weekAndDay(dte) {
		var res = Math.floor(dte.getDate()/7)
        days = ['Sunday','Monday','Tuesday','Wednesday',
                'Thursday','Friday','Saturday'],
        prefixes = ['','first', 'second', 'third', 'fourth', 'fifth'];
        
		if( dte.getDate() % 7 )
		{
		res = res + 1;
		   }
    return prefixes[res] + ' ' + days[dte.getDay()];

	}
</script>	
<script>
function initapp(){
	
	$('#id_repeats').change(function() {
			var val = $('#id_repeats').val();
			if(val=='0' || val=='3'){
				$('#id_repeat_on_weekly').hide();
				$('#id_repeat_on_monthly').hide();
				}
			if(val=='1'){
				$('#id_repeat_on_weekly').show();
				$('#id_repeat_on_monthly').hide();
				}
			if(val =='2' ){
				$('#id_repeat_on_weekly').hide();
				$('#id_repeat_on_monthly').show();
				}
			create_summery(true);		
	});
	
	{% if edit %}
		edit_display();
	{% else %}	
		end_default_dat();
		repeat_days();
		ends_manage();
		$('#id_repeat_on_weekly').show();
	{% endif %}
}
function ends_manage()
{	
	$('#id_chk_ends:checked').each(function(){
			if($(this).val()=='AFT'){
				$('#id_ends_on_date').attr('disabled','disabled');
				$('#id_ends_occurences').removeAttr('disabled','disabled');
			}
			else{
				$('#id_ends_occurences').attr('disabled','disabled');
				$('#id_ends_on_date').removeAttr('disabled','disabled');
				if($('#id_ends_on_date').val()==''){
						end_default_dat();
					}
				}
		});
		create_summery(false);
}	
function create_summery(init){
	var summary = ""
	var chkk_days = []
	
  if($('#id_repeat_every').val()=='1'){
		summary+=$('#id_repeats option:selected').text();
		if($('#id_repeats').val()=='1'){
			$('.repeat_chkbx:checked').each(function(){
				chkk_days.push($(this).val());
			});
			if(chkk_days.length=='7'){
				summary+=' on all days '
			}else if(chkk_days.length=='0'){
				summary+=' on '+blank_days();
			}
			else{summary+=' on '+chkk_days}
		}else if($('#id_repeats').val()=='2'){
			if($('#id_repeat_on_monthly_:checked').val()=='M'){
				var rept_by_sd=$('#id_start_date').val();
				var rept_by_sd_splt = rept_by_sd.split('/')
				var endnewdate = new Date(rept_by_sd_splt[2],rept_by_sd_splt[1]-1,rept_by_sd_splt[0])
				var rept_by_splt_cnvrtd = dateFormat(endnewdate, "d");	
				summary+=' on day '+rept_by_splt_cnvrtd
			}else{
				var rept_by_sd=$('#id_start_date').val();
				var rept_by_sd_splt = rept_by_sd.split('/')
				var endnewdate = new Date(rept_by_sd_splt[2],rept_by_sd_splt[1]-1,rept_by_sd_splt[0])
				var wkd = weekAndDay(endnewdate);
				summary+=' on the '+wkd
			}
		}else if($('#id_repeats').val()=='3'){
			var rept_by_yr=$('#id_start_date').val();
			var rept_by_yr_splt = rept_by_yr.split('/')
			var endnewyr = new Date(rept_by_yr_splt[2],rept_by_yr_splt[1]-1,rept_by_yr_splt[0])
			var new_mnth_dte = dateFormat(endnewyr, "mmmm d");
			summary+=' on '+new_mnth_dte	
		}else{}
		if($('#id_chk_ends:checked').val()=='AFT'){
			summary+=', '+$('#id_ends_occurences').val()+' times'
		}else{
			var enton_date=$('#id_ends_on_date').val();
			var enton_mydates = enton_date.split('/')
			var endnewdate = new Date(enton_mydates[2],enton_mydates[1]-1,enton_mydates[0])
			var new_date = dateFormat(endnewdate, "d mmmm  yyyy");	
			summary+=', until '+new_date
		}
  }else{
		var num = $('#id_repeat_every').val();
		if($('#id_repeats').val()=='0'){
			summary+='Every '+num+' Days'
		}
		else if($('#id_repeats').val()=='1'){
			$('.repeat_chkbx:checked').each(function(){
				chkk_days.push($(this).val());
			});
			if(chkk_days.length=='7'){
				summary+='Every '+num+' weeks on all days '
			}else if(chkk_days.length=='0'){
				summary+='Every '+num+' weeks on '+blank_days();
			}else{summary+='Every '+num+' weeks on '+chkk_days}
		}
		else if($('#id_repeats').val()=='2'){
			summary+='Every '+num+' months'
			if($('#id_repeat_on_monthly_:checked').val()=='M'){
				var rept_by_sd=$('#id_start_date').val();
				var rept_by_sd_splt = rept_by_sd.split('/')
				var endnewdate = new Date(rept_by_sd_splt[2],rept_by_sd_splt[1]-1,rept_by_sd_splt[0])
				var rept_by_splt_cnvrtd = dateFormat(endnewdate, "d");	
				summary+=' on day '+rept_by_splt_cnvrtd
			}else{
				var rept_by_sd=$('#id_start_date').val();
				var rept_by_sd_splt = rept_by_sd.split('/')
				var endnewdate = new Date(rept_by_sd_splt[2],rept_by_sd_splt[1]-1,rept_by_sd_splt[0])
				var wkd = weekAndDay(endnewdate);
				summary+=' on the '+wkd
			}
		}else{
			summary+='Every '+num+' years'
			var rept_by_yr=$('#id_start_date').val();
			var rept_by_yr_splt = rept_by_yr.split('/')
			var endnewyr = new Date(rept_by_yr_splt[2],rept_by_yr_splt[1]-1,rept_by_yr_splt[0])
			var new_mnth_dte = dateFormat(endnewyr, "mmmm d");
			summary+=' on '+new_mnth_dte	
		}
		if($('#id_chk_ends:checked').val()=='AFT'){
			summary+=', '+$('#id_ends_occurences').val()+' times'
		}else{
			var enton_date=$('#id_ends_on_date').val();
			var enton_mydates = enton_date.split('/')
			var endnewdate = new Date(enton_mydates[2],enton_mydates[1]-1,enton_mydates[0])
			var new_date = dateFormat(endnewdate, "d mmmm  yyyy");	
			summary+=', until '+new_date
		}
	}
	$('#id_display_summary').text(summary);
	if(init){$.colorbox.resize();}
}	
function repeat_days(){
	var start_date=$('#id_start_date').val();
	var mydates = start_date.split('/')
	var mynewdate = new Date(mydates[2],mydates[1]-1,mydates[0])
	each_day=mynewdate.getDay()
	try{$('#id_'+each_day).prop('checked',true);}
	catch(e){}
}
function blank_days(){
	var start_date=$('#id_start_date').val();
	var mydates = start_date.split('/')
	var mynewdate = new Date(mydates[2],mydates[1]-1,mydates[0])
	each_day=mynewdate.getDay()
	return $('#id_'+each_day).val();
}
function end_default_dat(){
	if($('#id_end_date').val()!=''){
		try{$('#id_ends_on_date').val($('#id_end_date').val());}
		catch(e){}
	}else{
		var evnt_end_date=$('#id_start_date').val();
		var ent_mydates = evnt_end_date.split('/')
		var mynewdate = new Date(ent_mydates[2],ent_mydates[1]-1,ent_mydates[0])
		var toDate = new Date(new Date(mynewdate).setMonth(mynewdate.getMonth() + 1));
		var toDate_new = dateFormat(toDate, "dd/mm/yyyy");	
		try{$('#id_ends_on_date').val(toDate_new);}
		catch(e){}
	}	
}
function edit_display(){
	$('#id_repeats option:selected').removeAttr('selected','selected');
	$('#id_'+$('#id_repeat_store').val()+'_rp').prop('selected',true);
	$('#id_rpt_evry_'+$('#id_repeat_every_store').val()).prop('selected',true);
	if($('#id_repeat_on_wk_store').val()!=''){
		$('#id_repeat_on_weekly').show();
		var weak_values = $('#id_repeat_on_wk_store').val().split(',');
		for(i=0;i<weak_values.length;i++){
			$('.setwk_'+weak_values[i]).prop('checked',true);
		}
	}
	if($('#id_repeat_on_mnth_store').val()!=''){
		$('#id_repeat_on_monthly').show();
		$('.repeat_on_monthly_cls_'+$('#id_repeat_on_mnth_store').val()).prop('checked',true);
	}
	if($('#id_ends_store').val()!=''){
		$('.chked_ends_'+$('#id_ends_store').val()).prop('checked',true);
		if($('#id_ends_store').val()=='AFT'){
			$('#id_ends_occurences').val($('#id_ends_occurence_store').val());
		}else{
			$('#id_ends_on_date').val($('#id_ends_on_store').val());
		}
		ends_manage();
	}
		
}
</script>
<script type="text/javascript">
$(document).ready(function(){
	var scripts = [ "{{STATIC_URL}}js/date.format.js"];
  	preuploadjs(scripts,initapp);
});
</script>
<div id="event-repeat">
    <form>
    	<div class="fields hform">
            <div class="field-group"> 
            	<input id='id_start_date_converted' type="hidden" class='tags' name="start_date_converted" value="" >
            	<div class="field select-field fd-dt">
                    <div class="label"><label>Repeats</label></div>
                    <div class="value">
                        <select id="id_repeats" class="lb_select-menu fs">
                          	<option value="0" id="id_0_rp" selected="selected">Daily</option>
							<option value="1" id="id_1_rp">Weekly</option>
							<option value="2" id="id_2_rp">Monthly</option>
							<option value="3" id="id_3_rp">Yearly</option>
                        </select>
                    </div>
                </div>
                <div class="field select-field fd-dt">
                    <div class="label"><label>Repeat every</label></div>
                    <div class="value">
                        <select id="id_repeat_every" onchange="create_summery(true);" class="lb_select-menu fs">
                          		<option id="id_rpt_evry_1" value="1">1</option>
								<option id="id_rpt_evry_2" value="2">2</option>
								<option id="id_rpt_evry_3" value="3">3</option>
								<option id="id_rpt_evry_4" value="4">4</option>
								<option id="id_rpt_evry_5" value="5">5</option>
								<option id="id_rpt_evry_6" value="6">6</option>
								<option id="id_rpt_evry_7" value="7">7</option>
								<option id="id_rpt_evry_8" value="8">8</option>
								<option id="id_rpt_evry_9" value="9">9</option>
								<option id="id_rpt_evry_10" value="10">10</option>
								<option id="id_rpt_evry_11" value="11">11</option>
								<option id="id_rpt_evry_12" value="12">12</option>
								<option id="id_rpt_evry_13" value="13">13</option>
								<option id="id_rpt_evry_14" value="14">14</option>
								<option id="id_rpt_evry_15" value="15">15</option>
								<option id="id_rpt_evry_16" value="16">16</option>
								<option id="id_rpt_evry_17" value="17">17</option>
								<option id="id_rpt_evry_18" value="18">18</option>
								<option id="id_rpt_evry_19" value="19">19</option>
								<option id="id_rpt_evry_20" value="20">20</option>
								<option id="id_rpt_evry_21" value="21">21</option>
								<option id="id_rpt_evry_22" value="22">22</option>
								<option id="id_rpt_evry_23" value="23">23</option>
								<option id="id_rpt_evry_24" value="24">24</option>
								<option id="id_rpt_evry_25" value="25">25</option>
								<option id="id_rpt_evry_26" value="26">26</option>
								<option id="id_rpt_evry_27" value="27">27</option>
								<option id="id_rpt_evry_28" value="28">28</option>
								<option id="id_rpt_evry_29" value="29">29</option>
								<option id="id_rpt_evry_30" value="30">30</option>
                        </select>
                    </div>
                </div>
            	<div class="field text-field fd-dt cr_wmr_2" id="id_repeat_on_weekly" style="display:none;">
                    <div class="label"><label>{% trans 'Repeat On' %}</label></div>
                    <div class="value">
                       	<div class="fd-cols group">
                            <span class="pdr6"><span class="cform-checkbox-container"><input type="checkbox" onclick="create_summery(true);" name="MO" value="Monday" class="checkbox repeat_chkbx setwk_MO" id="id_1"><span class="cform-checkbox-element"></span></span><label for="m">{% trans 'M' %}</label></span>
                            <span class="pdr6"><span class="cform-checkbox-container"><input type="checkbox" onclick="create_summery(true);" name="TU" value="Tuesday"  class="checkbox repeat_chkbx setwk_TU" id="id_2"><span class="cform-checkbox-element"></span></span><label for="tu">{% trans 'T' %}</label></span>
                            <span class="pdr6"><span class="cform-checkbox-container"><input type="checkbox" onclick="create_summery(true);" name="WE" value="Wednesday" class="checkbox repeat_chkbx setwk_WE" id="id_3"><span class="cform-checkbox-element"></span></span><label for="w">{% trans 'W' %}</label></span>
                            <span class="pdr6"><span class="cform-checkbox-container"><input type="checkbox" onclick="create_summery(true);" name="TH" value="Thursday" class="checkbox repeat_chkbx setwk_TH" id="id_4"><span class="cform-checkbox-element"></span></span><label for="t">{% trans 'T' %}</label></span>
                            <span class="pdr6"><span class="cform-checkbox-container"><input type="checkbox" onclick="create_summery(true);" name="FR" value="Friday"  class="checkbox repeat_chkbx setwk_FR" id="id_5"><span class="cform-checkbox-element"></span></span><label for="f">{% trans 'F' %}</label></span>
                            <span class="pdr6"><span class="cform-checkbox-container"><input type="checkbox" onclick="create_summery(true);" name="SA" value="Saturday" class="checkbox repeat_chkbx setwk_SA" id="id_6"><span class="cform-checkbox-element"></span></span><label for="sa">{% trans 'S' %}</label></span>
                            <span class="pdr6"><span class="cform-checkbox-container"><input type="checkbox" onclick="create_summery(true);" name="SU" value="Sunday" class="checkbox repeat_chkbx setwk_SU" id="id_0"><span class="cform-checkbox-element"></span></span><label for="s">{% trans 'S' %}</label></span>
                        </div>
                    </div>
                </div> 
                <div class="field text-field fd-dt" id="id_repeat_on_monthly" style="display: none;">
                    <div class="label"><label>{% trans 'Repeat On' %}</label></div>
                    <div class="value">
                       	<div class="fd-cols group">
							<span class="cform-radio-container"><input id="id_repeat_on_monthly_" onclick="create_summery(true);" class="repeat_on_monthly_cls_M" type="radio" value="M" name="repeat_on_monthly" checked="checked"><span class="cform-radio-element"></span></span>
                        	<label for="repeat__0">day of the month</label>
							<span class="cform-radio-container"><input id="id_repeat_on_monthly_" onclick="create_summery(true);" class="repeat_on_monthly_cls_W" type="radio" value="W"  name="repeat_on_monthly"><span class="cform-radio-element"></span></span>
							<label for="repeat__1">day of the week</label>
                    	</div>
                    </div>
                </div>              
                <div class="field text-field fd-dt">
                    <div class="label"><label>Ends</label></div>
                    <div class="value">
							<div class="fd-cols group">
							    <span>
									<span class="cform-radio-container"><input type="radio" id="id_chk_ends" class="chked_ends_CHK_ON" onclick="ends_manage();" value="CHK_ON" name="chk_ends" checked="checked" ><span class="cform-radio-element"></span></span>
									<label>On</label>
								</span>
							    <span><input type="text" value="" class="fxs" style="margin-left:11px;" onchange="create_summery(true)" id="id_ends_on_date" ></span>
							</div>
							<div class="fd-cols group">
							    <span>
									<span class="cform-radio-container"><input type="radio" id="id_chk_ends" class="chked_ends_AFT" onclick="ends_manage();" value="AFT" name="chk_ends" ><span class="cform-radio-element"></span></span>
									<label>After</label>
								</span>
							    <span> <input type="text" value="10" onkeyup="create_summery(true)" class="fxs" id="id_ends_occurences" > <label>Occurrences</label></span>
							</div>
                    </div>
                </div>
                <div class="field text-field fd-dt">
                    <div class="label"><label>{% trans 'Summary' %}</label></div>
                    <div class="value" style="padding: 4px 0 0 5px;">
                            <span id="id_display_summary" style="font-weight: bold;"></span>
                    </div>
                </div> 
               
		</div>          
    </form>
	</div>
        <div class="modal-base form-submit group right">
           <button role="button" class="cform-button prime" onclick="save_repeat();" type="button"><span class="cform-button-text">{% trans 'Done' %}</span></button>
		   <button class="cform-button" type="button" style="margin-right:5px;" onclick="cancel_repeat_timing()" roll="button"><span class="cform-button-text">{% trans 'Cancel' %}</span></button>
        </div>  	
	 <script type="text/javascript" src="{{STATIC_URL}}ui/js/inline.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.datepicker.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		if($("#id_ends_on_date").length){
			$("#id_ends_on_date").datepicker({ dateFormat: "dd/mm/yy",minDate: new Date() });
		}
	});
	</script>