{% load i18n %}
<div id="add_venue_overall">
<div id="ajax_content_loading" style="display:none;padding-top:222px;padding-bottom:350px;text-align:center;">
	<img src="{{STATIC_URL}}ui/images/global/loading-s.gif"><br><p>{% trans 'Saving Address' %}</p>
</div>

<div id="add_venue" class="modal-form">
<script type="text/javascript">
	$(document).ready(function(){
		$("#mform").validate({
			ignore:'',
			highlight: function(element, errorClass){$(element).parent('div').parent('div').addClass('field-error');$(element).addClass("error");},
			unhighlight: function(element, errorClass){$(element).parent('div').parent('div').removeClass('field-error');$(element).removeClass("error");},
			errorPlacement: function(error, element){},
		   	rules:{
		    	venue: "required",
		    	address1: "required",
				type: "required"
		   	},
			submitHandler:function(){
			get_lat_lang();
			form.submit();
		}
		});
	});
</script>
	{% if msg %}<div class="message">{{msg}}</div>{% endif %}
	{% if form.errors %}
	<div class="messageerror" style="background:#FCF4F4;padding:10px;color:#FF9902; box-shadow:0 0 2px rgba(0, 0, 0, 0.1);border-bottom:1px solid #e1e1e1">
		<strong style="font-weight:bold;">{% trans 'There is a problem with your submission' %}</strong>
	    <ul style="list-style:square;margin-left:20px;">
	   		{% for field in form %}
	   			{% if  field.errors%}<li>{%for error in field.errors%}{{error}}{%endfor%}</li>{% endif %}
	  	 	{% endfor %}
		</ul>
	</div>
	{% endif %}
     <form action="" name="mform" id="mform" method="post" class="add_venue">{% csrf_token %}
    	<div class="fields hform">
            <div class="field-group">              
                <div class="fields-head">
                    <p class="ltxt80">{% blocktrans %}There is no need to index every single file that you've got on your content.{%  endblocktrans%}</p> 
                </div> 
                <div class="group">
            		<div class="fields-left col400">                    
                        <div class="field text-field">	
                        	<input type="hidden" id="id_id" name="id" value="{{venue.id}}">
                            <div class="label"><label>{% trans 'Venue' %}<span class="required-field">*</span></label></div>	
                            <div class="value">
                                {{ form.venue }}
                            </div>	
                        </div>
                        <div class="field text-field">	
                            <div class="label"><label>{% trans 'Address' %}<span class="required-field">*</span></label></div>	
                            <div class="value">{{ form.address1 }}</div>	
                        </div>
                        <div class="field text-field">	
                            <div class="value">{{ form.address2 }}</div>	
                        </div>
                        <div class="field text-field">	
                            <div class="label"><label>{% trans 'Zip/Postalcode' %}</label></div>	
                            <div class="value">{{ form.zip }}</div>	
                        </div>
                        <div class="field select-field">	
                            <div class="label"><label>{% trans 'Type' %}<span class="required-field">*</span></label></div>	
                            <div class="value">
                                {{ form.type }}
                            </div>	
                        </div>
                        <div class="field text-field">	
                            <div class="label"><label>{% trans 'Phone' %}</label></div>	
                            <div class="value">{{ form.telephone }}</div>	
                        </div>
                        <div class="field text-field">	
                            <div class="label"><label>{% trans 'Email ID' %}</label></div>	
                            <div class="value">{{ form.email }}</div>	
                        </div>
                        <div class="field text-field">	
                            <div class="label"><label>{% trans 'Website' %}</label></div>	
                            <div class="value">{{ form.website }}</div>	
                        </div>
                        <div class="field text-field">	
                            <div class="label"><label>{% trans 'Note' %}</label></div>	
                            <div class="value">{{ form.description }}</textarea></div>	
                        </div>
					</div> <!--/--> 
                    <div class="map-right col300">
                        <div class="map-container">
                            <div class="map-head">
                                <h4>{% trans 'Change map marker location' %}</h4>
                                <p>{% trans 'Use the mouse to pick up your marker and drag it to your street address.' %} <!-- Use the tools in the upper left corner of the map to pan and zoom for a better view. --></p>
                            </div>                                        
                            <div style="width: 298px; height: 314px;position: relative; background-color: rgb(229, 227, 223);" id="map"></div>
                        </div>                                            
                    </div> <!--/-->
            	</div>            
            </div>                        
		</div>    
        <div class="modal-base form-submit group">
           <button role="button" class="cform-button prime right" onclick="{% if venue %}save_address({{venue.id}}){% else %}save_address(0){% endif %}" type="button"><span class="cform-button-text">{% trans 'Save' %}</span></button>
        </div>           
    </form>
    <script type="text/javascript" src="{{STATIC_URL}}ui/js/inline.js"></script>
</div>
<script type="text/javascript">
	setTimeout(function() {
		{% if venue.lat %}
			load_for_add('map',{{ venue.lat }}, {{ venue.lon }}, {{ venue.zoom }},"{{ venue }}","{{venue.address1}}{{ globalsettings.city }} - {{venue.zip}}");
		{% else %}
			load_for_add('map',{{ globalsettings.google_map_lat }}, {{ globalsettings.google_map_lon }}, {{ globalsettings.google_map_zoom }},"{{ globalsettings.city }}","{{ globalsettings.city }}");
		{% endif%}
		}, 500);
	$( "#id_zip" ).autocomplete({
			source: '{% url 'auto_suggest_pin' %}',
		   	select: function(event, ui) {
     			$("#id_zip").val(ui.item.id);
     	 	}
	});
	function get_lat_lang(){
		var lat_lng = marker.getPosition();
		var zoom = map.getZoom();
		$('#lat_lng').val(lat_lng);
		$('#zoom').val(zoom);
	}
$(document).ready(function(){
		$('#id_zip').live("keyup",function(){getPin(getaddress(),$('#id_zip').val());});
});
function getaddress(){return $('#id_address1').val()+" "+$('#id_address2').val()+" "+$('#id_venue').val();}
</script> 
</div>