{% load truncate_filter %}
{% load i18n %}
{% load thumbnail %}
{% load mptt_comments_tags %}
{% load ds_utils %}
	<div class="tLbR mRt20">
        <div class="tLbR-iR">
			<div class="sCn-tTl pLlT mRb0">
                <h2>{% if category %}{{category.name}}{% elif keyword %}Search Result for '{{keyword}}'{% else %}{% trans 'Most Recent ' %}{% endif %}</h2>
            </div>                            	
            <div class="btn-toolbar pLrT hP">
                <div id="media-toggle" class="btn-group" data-toggle="buttons-radio">	                                        
                    <button type="button" title='Grid View' class="btn btn-link {% if view_type == 'grid' %}active{% endif %} c-gD" onclick="change_url_parm('grid');"><i class="bUi-iCn-tH-lR-aLt-16" aria-hidden="true"></i></button>
                    <button type="button" title='List View' class="btn btn-link mRl5 {% if view_type == 'list' %}active{% endif %} c-lT" onclick="change_url_parm('list');"><i class="bUi-iCn-rE-oDr-aLt-16" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="pLrT mRr10">
                <select data-link="true" class="bUiSlCtbtn-link tXt-sMl">
                    <option {% if not category %}selected="selected"{% endif %} data-location="{% url 'article_list' %}">{% trans 'All Categories' %}</option>
                    {% with categories as article_category %}
					{% for cat in article_category %}	
                    <option {% if cat.id == category.id %}selected="selected"{% endif %} data-location="{{cat.get_absolute_url}}">{{cat.name}}</option>	
                    {% endfor %}
					{% endwith %}
                </select>
            </div> 
        </div>
    </div>
	<ul class="modulesBrowseData tHcL {% if view_type == 'grid' %}mDa-gD dSgDwDt mDa-oT-tP pDfX{% else %}mDa-lT mDa-oT-lT{% endif %}">
        {% if articles %}
		{% with articles as articles_obj %}
			{% for article in articles_obj %}
	        <li class="mDa" itemscope itemtype="http://schema.org/Article">
	        	<input type="hidden"  name="fbids" class="bids" value="{{article.id}}">
	            <div class="mDa-iN">
	                <div class="mDa-wPr mR0SmP"> 
	                	<a class="bUi-tMb-wPr tMb-75 fLxiMgW bUi-tMb-aRtCl" href="{{article.get_absolute_url}}">
	                        <span class="bUi-tMb">
	                            <span class="bUi-tMb-pRpL">
	                                <span class="bUi-tMb-cLp">
										{% with article.album.album_photos.all.0.photo as article_img %}
	                                    <span class="bUi-tMb-cLp-iN"><img class="mDa-oT" src="{% if article_img %}{% thumbnail article_img 260x0 %}{% elif article.get_img_from_html %}{{ article.get_img_from_html }}{% else %}{{STATIC_URL}}themes/img/no-image.png{% endif %}" alt="{{article.title}}" title="{{article.title}}" itemprop="image">
	                                        <span class="vRtL-aLn"> </span>
	                                    </span>
										{% endwith %}
	                                </span>
	                            </span>
	                        </span>
	                    </a>
	                </div>
	                <div class="mDa-bDy">
	                	<span class="fS11 uC cLr-lTbLu">{{article.category.name}}</span>
	                    <h2 itemprop="name" class="mDa-hD tRnCt0 mR50 rLvE h65 fS18" title="{{article.title}}"><a itemprop="url" href="{{article.get_absolute_url}}">{{article.title}}</a></h2>
						<meta itemprop="author" content="{{ article.created_by.display_name }}"/>
	                    <p class="fS12 cLr-gRy hD-gD" itemprop="description">{{article.summary}}</p>
	                    <div class="mDa-dTa mRt4">
	                       <span class="fS11 cLr-lTgRy">{{article.published_on|timesince|time_up_to:','}} {% trans 'ago' %}</span>
	                       <a class="fS12 cLr-lTgRy pLrT iM" title="Comments" href="{{article.get_absolute_url}}#comments"><i aria-hidden="true" title="Comments" class="bUi-iCn-bBlS-12"></i> {% get_mptt_comment_count for article as comment_count %} {{comment_count}}</a>
							<meta itemprop="interactionCount" content="UserComments:{{comment_count}}"/>
	                    </div>                                            
	                    <!--div class="mDa-hVr"><a data-toggle="tooltip" data-placement="right" title="Share" class="iCn-lNk btn btn-mini" href="#"><i class="BUI-icon-63"></i>Share</a></div-->
	                </div>
	            </div>
	        </li>
	        {% endfor %}
		{% endwith %}
		{% else %}
			<div class="hT600 rLvE sCn">
                <div class="tBl-bLk pDt0">
                    <div class="tBl-cEl">
                        <span class="iCn-bRdR80 oP25"><i class="bUi-iCn-aRtL-24 fS42-1 cLr-gRy ib" aria-hidden="true"></i></span>
                        <p class="bLk mRt20 fS16 cLr-lTgRy oP75">No Article found {% if category %}under category '{{category.name}}'{% endif %}.</p>
                    </div>
                </div>
            </div>
		{% endif %}
	</ul>
	{% if is_paginated %}
    <div class="pGn pGn-bX pGn-cTr">
        <ul>
        	{% if has_previous %}
					<li><a href="{{url}}?page={{ prev }}{% if search %}&keyword={{keyword}}&category={{category}}{% endif %}&view={{view_type}}" class="bm_pgntn_anchr" id="{{ prev }}"><i class="bUi-iCn-aNg-lT-12"></i></a></li>
            {% endif %}
            {% if not in_leading_range %}
				{% for num in pages_outside_trailing_range %}
					{% ifequal num current_page %}
						 <li class="aCtV"><span title="{% trans 'Page' %} {{ num }} ">{{ num }}</span></li>
					{% else %}
						 <li><a title="{% trans 'Page' %} {{ num }} " href="{{url}}?page={{ num }}{% if search %}&keyword={{keyword}}&category={{category}}{% endif %}&view={{view_type}}" class="bm_pgntn_anchr">{{ num }} </a></li>
					{% endifequal %}
				{% endfor %}
				<li><span>...</span></li>
		    {% endif %} 
            {% for num in page_numbers %}
				{% ifequal num current_page %}
					 <li class="aCtV"><span title="{% trans 'Page' %} {{ num }} ">{{ num }}</span></li>
				{% else %}
					<li><a title="{% trans 'Page' %} {{ num }} " href="{{url}}?page={{ num }}{% if search %}&keyword={{keyword}}&category={{category}}{% endif %}&view={{view_type}}" class="bm_pgntn_anchr">{{ num }}</a></li>
				{% endifequal %}
			{% endfor %}
            {% if not in_trailing_range %}
				<li><span>...</span></li>
				{% for num in pages_outside_leading_range reversed %}
					{% ifequal num current_page %}
						 <li class="aCtV"><span title="{% trans 'Page' %} {{ num }} ">{{ num }}</span></li>
					{% else %}
						<li><a title="{% trans 'Page' %} {{ num }} " href="{{url}}?page={{ num }}{% if search %}&keyword={{keyword}}&category={{category}}{% endif %}&view={{view_type}}" class="bm_pgntn_anchr">{{ num }}</a></li>
					{% endifequal %}
				{% endfor %}
			{% endif %}
            {% if has_next %}
				<li><a  href="{{url}}?page={{ next }}{% if search %}&keyword={{keyword}}&category={{category}}{% endif %}&view={{view_type}}" id="{{next}}" class="bm_pgntn_anchr"><i class="bUi-iCn-aNg-rT-12"></i></a></li>
			{% endif %}
        </ul>
    </div>
    {% endif %}