 {% load i18n bm_classified_tags %}
<div class="span3 sP12mX767">
	<section class="sCn pD200">
		<ul class="nav nav-list fS12">
			{% if search_category %}
				<li id="cat_left_holder" style="display:none" class="nav-header">{% trans "Category" %}</li>
				<ul class="nav nav-list cMpCt fOmX767 pDfX pD0  w100mN768">
					{% for cat in search_category %}
	    				{% if cat.get_classifieds_count_subcat %}<script>$("#cat_left_holder").show();</script><li {% if cat.id == category.id %}class="active"{% endif %}><a href="{{cat.get_absolute_url}}?search=1&q={{q}}{% if tp %}&fp={{fp}}&tp={{tp}}{% endif %}{% if sort %}&srt={{sort}}{% endif %}">{{cat}}</a></li>{% endif %}
					{% endfor %}
				</ul>
			{% else %}
				{% if not category.parent  %}
					<li id="cat_left_holder" style="display:none" class="nav-header">{% trans "Category" %}</li>
					<ul class="nav nav-list cMpCt fOmX767 pDfX pD0  w100mN768">
						{% for cat in category.get_child_category %}
		    				{% if cat.get_classifieds_count_subcat %}<script>$("#cat_left_holder").show();</script><li><a href="{{cat.get_absolute_url}}?{% if tp %}fp={{fp}}&tp={{tp}}{% endif %}{% if sort %}&srt={{sort}}{% endif %}">{{cat}} <span class="lSt-cNt ">{{cat.get_classifieds_count_subcat}}</span></a></li>{% endif %}
						{% endfor %}
					</ul>
				{% endif  %}	
				{% if attributes %}
					{% for type in attributes %}
						<li class="nav-header mRt10">{{type.name}}</li>
						<ul class="nav nav-list cMpCt fOmX767 pDfX pD0  w100mN768">
							{% for v in type.get_default_values %}
			    				<li {% if val == v %}class="active"{% endif%}><a href="{{selectedcat.get_absolute_url}}?at_id={{type.id}}&val={{v}}{% if tp %}&fp={{fp}}&tp={{tp}}{% endif %}{% if sort %}&srt={{sort}}{% endif %}">{{v}} <!--span class="lSt-cNt ">{{val}}</span--></a></li>
							{% endfor %}
						</ul>
					{% endfor %}
				{% endif %}
			{% endif %}	
			<li class="nav-header mRt10">Price</li>
			<ul class="nav nav-list cMpCt fOmX767 pDfX pD0 pDr5  w100mN768">
            	<li class="sLdR-rNg"><a id="price_sL" class="mR0 mRt0 mRb10 mRt4" href="javascript:void(0)"></a></li>
   				<li class="sLdR-rNg"><input type="text" class="pD0 mR0 sLvL" id="amount" /></li>
				<form name="attr_search" id="attr_search" method="get" action="{% if category %}{% url 'classified_listing' category.slug %}{% else %}{% url 'classified_search' %}{% endif %}">{#% csrf_token %#}
					{% if search %}<input type="hidden" name="search" value="{{search}}" />{% endif %}
					{% if search %}<input type="hidden" name="q" value="{{q}}" />{% endif %}
					{% if at_id %}<input type="hidden" name="at_id" value="{{at_id}}" />{% endif %}
					{% if val %}<input type="hidden" name="val" value="{{val}}" />{% endif %}
					{% if sort %}<input type="hidden" name="srt" value="{{sort}}" />{% endif %}
	                <input type="hidden" maxlength="10" size="2" name="fp" id="fp" value="{% if fp %}{{fp}}{% else %}{% if search %}0{% endif %}{% endif %}" class="text_field">
					<input type="hidden" value="{% if tp %}{{tp}}{% endif %}" maxlength="10" size="2" name="tp" id="tp" class="text_field">
				</form> 
           </ul>
        </ul>
	</section>
</div>
<script type"text/javascript" src="{{ STATIC_URL}}themes/js/jquery-ui-1.10.3.custom-slider.min.js"></script>
<script type="text/javascript">
var max=500
{% get_classifieds_max_price selected_category=category as max_price %} 
$("#price_sL").slider({
   	range: true,
   	min: 0,
   	max: {{max_price.classified_price__max|floatformat}},
   	values: [ {% if fp %}{{fp}}{% else %}0{% endif %}, {% if tp %}{{tp}}{% else %}{{ max_price.classified_price__max|floatformat }}{% endif %} ],
   	slide: function( event, ui ) {$( "#amount" ).val( "{{globalsettings.currency}}" + ui.values[ 0 ] + " - {{globalsettings.currency}}" + ui.values[ 1 ] );},
	change: function( event, ui ) {
		$('#fp').val($("#price_sL").slider( "values", 0 ))
		$('#tp').val($("#price_sL").slider( "values", 1 ))
		$('#attr_search').submit()
	}
});
$( "#amount" ).val( "{{globalsettings.currency}}" + $( "#price_sL" ).slider( "values", 0 ) +" - {{globalsettings.currency}}" + $( "#price_sL" ).slider( "values", 1 ) );
</script>
    