{% load i18n%}
<br><b><br>{% trans 'Hey!' %} {{to_name}},</b><br>
<br>Your friend<b> {{from_name}} </b>{% trans 'has sent you the details of a Classified Ad' %} <b> "{{classified.title}}"</b> {% trans 'from' %} <a href="{{globalsettings.website_url}}" target="_blank">{{globalsettings.domain}}</a> {% trans 'city portal. You might be interested in it too. It’s a website with useful information about movies,events,stories and much more.Check it out!' %}<br>

<br style="color: rgb(51, 51, 255);"><span style="color: rgb(51, 51, 255);">"<a href="{{globalsettings.website_url}}{{classified.get_absolute_url}}" target="_blank">{{globalsettings.website_url}}{{classified.get_absolute_url}}</a>"</span><br>

<br><br><i>"{{msg}}"</i><br><br><br>Have Fun,<br>{{globalsettings.domain}} {% trans 'Team' %}<br>

<br>
<div><hr size="1" color="#cccccc" noshade="noshade"></div>
<a href="{{globalsettings.website_url}}/" target="_blank">{% trans 'Home' %}</a>&nbsp;|&nbsp;
<a href="{{globalsettings.website_url}}/privacy-policy.html" target="_blank">{% trans 'Privacy Policy' %}</a>&nbsp;|&nbsp;
<a href="{{globalsettings.website_url}}/terms-of-use.html" target="_blank">{% trans 'Terms of Use' %}</a>&nbsp;|&nbsp;
<a href="{{globalsettings.website_url}}/contact/" target="_blank">{% trans 'Contact Us' %}</a>

