{% load i18n %}
<div id="aside" style="display:none;" class="side-bar col_4 ads_faq banner_zones_faq">
	<div class="section">
        <h5>{% trans 'Top Slot Banner' %}</h5>
        <p>{% trans 'Top Slot Banner is the zone where your banner advertisement will appear above the menu of your website.' %}</p>
		<p>{% trans 'Preferably a banner size of 468*60px width and height is accepted here.Please copy and paste the header section code of the banner.' %}</p>
        <hr>
        <h5>{% trans 'Right Slot Banner' %}</h5>
        <p>{% trans 'Right Slot Banner is the zone where your banner advertisement will appear on the RHS column.' %}</p>
		<p>{% trans 'Preferably a banner size of 300*250px width and height is accepted here.Please copy and paste the header section code of the banner.' %}</p>
	</div>                                    
</div>     