{% load i18n %}
<div id="aside" class="side-bar col_4 D_faq ads_faq">
	<div class="section">
        <h5>{% trans 'Website Logo' %}</h5>
		<p>{% trans 'Upload your website logo with approximate size of 250px*100px for best results.Formats accepted here are jpeg, bmp and png.' %}</p>
		<p>{% trans 'Note:Please upload a logo with a transparent background.' %}</p>
		<hr>
        <h5>{% trans 'Favicon' %}</h5>
		<p>{% trans 'Upload a favicon of size 30px*30px for best results.Formats accepted here are jpeg, bmp and png.' %}</p>
        </div>                                    
</div>








