{% extends "admin/admin_base.html" %}
{% load tabs %}
{% load i18n %}
{% load upload_tags %}
{% load get_example %}
{% block navigation %}
    {% activetab 'topnav' 'config' %}
    {{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Basic Information' %} {% endblock %}
{% block head %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.common.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}ui/js/application.js"></script>
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bm.jfp.ui.css">

{% endblock %}
{% block content %}
<div id="admin_wrapper">
    <div id="admin-platform" class="group">
        <div class="header-bar">
            <div id="nav-roll">
                <ul>
                    <li id="config-index" class="first"><a href="{% url 'admin_configuration' %}" style="width:120px;z-index:9"><span class="icon"></span>{% trans 'Settings' %}</a></li>
                    <li><a href="{% url 'admin_configuration_general' %}" style="z-index:8">{% trans 'General' %}</a></li>
                </ul>
            </div>
        </div>
        <div id="core-wraper" class="group">
            <div class="admin-main col_12 configuration">
                {% block leftnavigation %}
                    {% activetab 'topnav' 'config' %}
                    {% activetab 'leftnav' 'general' %}
                    {% activetab 'leftnavsub' 'gen_basic' %}
                    {{ block.super }}
                {% endblock %}
                <div class="left-nav-list-bg"></div>
                <div class="col_9 mr_0">
                    <div class="page-wrap">
                        <div class="page-head br_0">
                            <h2>{% trans 'General' %}</h2>
                            <p class="ltxt80">{% trans 'General settings contains the most basic information for your portal. Pick a site title, logo, site SEO,  connect third-party tracking services, make private site, and submit  default email account here.' %}</p>
                        </div>
                        {% include 'admin/configuration/include_basic_info.html' %}
                        </div>
                    </div>
                </div>
                <div class="side-bar col_4 D_faq ads_faq" id="aside">
                    <div class="section">
                        <a target="_blank" href="https://docs.google.com/a/doublespring.com/document/d/156Uk5kBmlq8ThOO2UDmXP02gFuLrF6pFMyHeaH8aeBE/edit#bookmark=id.szkbce5f2924" class="quick_help"><span class="icon">?</span>Quick help</a>
                        <hr>
						<p>The settings tab allows you to configure general and advanced settings which are used in setting up your website.</p>
                    </div>
                </div>
        </div>
    </div>
</div>
{% upload_js %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.jfp.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.fup.appln.js"></script>
<script type="text/javascript">
function file_upload_fav(url,limit,uploadTemplateId,downloadTemplateId) {
    'use strict';
    $('#fileuploaddoc').fileupload({
        sequentialUploads:true,
       maxNumberOfFiles:limit,
       autoUpload:true,
       uploadTemplate:$('#'+uploadTemplateId),
       downloadTemplate:$('#'+downloadTemplateId),
       url:url,
       acceptFileTypes:/(\.|\/)(gif|jpe?g|png|ico)$/i,
    });
   fav_get_images(url)
    $('#fileuploaddoc .files a:not([target^=_blank])').live('click', function (e) {
        e.preventDefault();
        $('<iframe style="display:none;"></iframe>')
            .prop('src', this.href)
            .appendTo('body');
        setTimeout(function(){
            inline_text()
        },1000);
    });
}
function fav_get_images(url){
     $.getJSON(url, function (files) {
            var fu = $('#fileuploaddoc').data('fileupload');
            fu._adjustMaxNumberOfFiles(-files.length);
            fu._renderDownload(files)
                .appendTo($('#fileuploaddoc .files'))
                .fadeIn(function () {
                    // Fix for IE7 and lower:
                    $(this).show();
                });
        });
}
function file_upload_logo(url,limit,uploadTemplateId,downloadTemplateId) {
    'use strict';
    $('#fileuploadlogo').fileupload({
        sequentialUploads:true,
       maxNumberOfFiles:limit,
       autoUpload:true,
       uploadTemplate:$('#'+uploadTemplateId),
       downloadTemplate:$('#'+downloadTemplateId),
       url:url,
       acceptFileTypes:/(\.|\/)(gif|jpe?g|png)$/i,
    });
   logo_get_images(url)
    $('#fileuploadlogo .files a:not([target^=_blank])').live('click', function (e) {
        e.preventDefault();
        $('<iframe style="display:none;"></iframe>')
            .prop('src', this.href)
            .appendTo('body');
        setTimeout(function(){
            inline_text()
        },1000);
    });
}
function logo_get_images(url){
     $.getJSON(url, function (files) {
            var fu = $('#fileuploadlogo').data('fileupload');
            fu._adjustMaxNumberOfFiles(-files.length);
            fu._renderDownload(files)
                .appendTo($('#fileuploadlogo .files'))
                .fadeIn(function () {
                    // Fix for IE7 and lower:
                    $(this).show();
                });
        });
}
function file_upload_iphone(url,limit,uploadTemplateId,downloadTemplateId) {
    'use strict';
    $('#fileuploadiphone').fileupload({
        sequentialUploads:true,
       maxNumberOfFiles:limit,
       autoUpload:true,
       uploadTemplate:$('#'+uploadTemplateId),
       downloadTemplate:$('#'+downloadTemplateId),
       url:url,
       acceptFileTypes:/(\.|\/)(gif|jpe?g|png)$/i,
    });
   iphone_get_images(url)
    $('#fileuploadiphone .files a:not([target^=_blank])').live('click', function (e) {
        e.preventDefault();
        $('<iframe style="display:none;"></iframe>')
            .prop('src', this.href)
            .appendTo('body');
        setTimeout(function(){
            inline_text()
        },1000);
    });
}
function iphone_get_images(url){
     $.getJSON(url, function (files) {
            var fu = $('#fileuploadiphone').data('fileupload');
            fu._adjustMaxNumberOfFiles(-files.length);
            fu._renderDownload(files)
                .appendTo($('#fileuploadiphone .files'))
                .fadeIn(function () {
                    // Fix for IE7 and lower:
                    $(this).show();
                });
        });
}
$(document).ready(function(){
    $("#mform").validate({
        highlight: function(element, errorClass){$(element).parent('div').parent('div').addClass('field-error');$(element).addClass('error');},
        unhighlight: function(element, errorClass){$(element).parent('div').parent('div').removeClass('field-error');$(element).removeClass('error');},
        errorPlacement: function(error, element){},
           rules:{
            site_title:"required",
            meta_title:"required",
            meta_description:"required",
            //google_analytics_script:"required",
           // google_map_key:"required",
            info_email:{
                required:true,
                email:true
            },
           }
    });

});
function save_basic_info(){
    var flag = $('#mform').validate().form();
    var dataString='';
    dataString+='&site_title='+$('#id_site_title').val();
    dataString+='&meta_title='+$('#id_meta_title').val();
    dataString+='&meta_description='+$('#id_meta_description').val();
    dataString+='&google_analytics_script='+$('#id_google_analytics_script').val();
    dataString+='&google_map_key='+$('#id_google_map_key').val();
    dataString+='&info_email='+$('#id_info_email').val();
    dataString+='&facebook_page_url='+$('#id_facebook_page_url').val();
    dataString+='&twitter_url='+$('#id_twitter_url').val();
    dataString+='&googleplus_url='+$('#id_googleplus_url').val();
    dataString+='&pinterest='+$('#id_pinterest').val();
	dataString+='&site_dateformat='+$('#id_site_dateformat').val();
	dataString+='&site_timeformat='+$('#id_site_timeformat').val();
	dataString+='&twitter_widget_id='+$('#id_twitter_widget_id').val();
    if(flag){
        $('#basic-options').hide();
        $('#ajax_content_loading').show();
        $.ajax({
        type: "POST",
        url: "{% url 'admin_configuration_general_update' %}",
        data: dataString,
        dataType:'JSON',
        success: function(data){
                $('#ajax_content_loading').hide();
                $('#basic-options').fadeIn(2500).html(data.html);
                show_msg(data.msg,data.mtype);
                //if(data.logo!=''){update_logo_fav(data)}
            }
        });
    }
}
function update_logo_fav(data){
    var html="<span id=\"header_logo\"><img alt="+data.site_name+" src="+data.logo+"></span>"
    $('#header_logo').replaceWith(html);
}
</script>
{% endblock %}