{% load i18n %}
<div id="aside" class="side-bar col_4 D_faq ads_faq">
	<div class="section">
        <h5>{% trans 'Account Information' %}</h5>
		<p>{% trans 'Account basic information consists of your city and contact information.At any point of time you can update the contact information.' %}</p>
		<hr>
        <h5>{% trans 'Home page SEO' %}</h5>
		<p>{% trans 'Your modules are automatically search engine friendly right out of the box. These fields give search engines even more insight into your content. The description field is also used on your custom publishing domain landing pages.' %}</p>
        <h6>{% trans 'Title/Description' %}</h6>
		<p>{% trans 'Adding a short description will help search engines understand your content - maximum 250 characters' %}</p>
        <h6>{% trans 'Keywords' %}</h6>
		<p>{% trans '1) Separate each keyword with a comma ' %}<br>{% trans '2) Minimize to 10-15 words, in order of importance ' %}<br>{% trans '3) Do not repeat words or phrases - maximum 250 characters' %}</p>
	</div>                                    
</div>
