{% extends "admin/admin_base.html" %}
{% load tabs %}
{% load i18n %}
{% load get_example %}
{% block navigation %}
	{% activetab 'topnav' 'apiconfig' %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Comment Settings' %} {% endblock %}
{% block head %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.common.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
{% endblock %}
{% block content %}
<div id="admin_wrapper">
	<div id="admin-platform" class="group">
    	<div class="header-bar">
        	<div id="nav-roll">
            	<ul>
                	<li id="modules-index" class="first"><a href="{% url 'admin_configuration_general_signup' %}" style="z-index:9"><span class="icon"></span>{% trans 'API Config' %}</a></li>
					<li><a href="{% url 'admin_configuration_general_comments' %}" style="z-index:7">{% trans 'Comments' %}</a></li>
				</ul>
			</div>
		</div>
		<div id="core-wraper" class="group">
        	<div class="admin-main col_12">
            	{% block leftnavigation %}
					{% activetab 'topnav' 'apiconfig' %}
					{% activetab 'leftnav' 'comments' %}
					{{ block.super }}
				{% endblock %}
                <div class="left-nav-list-bg"></div>
                <div class="col_9 mr_0">
					<div class="page-wrap">
                    	<div class="page-head br_0">
                        	<h2>{% trans 'Comments API Settings' %}</h2>
                            <p class="ltxt80">{% trans 'Tick the check box to integrate Disqus commenting system in your website.' %}</p>
                        </div>
                        {% include 'admin/configuration/comments-api-settings.html' %}
	               	</div>
	         	</div>
	       	</div>
	        {% include 'admin/configuration/comments-api-faq.html' %}
		</div>
	</div>
</div>
{% endblock %}
