{% load i18n %}
<div id="aside" style="display:{% if advertisement.adoption == 'D' %}block;{% else %}none;{% endif %}" class="side-bar col_4 D_faq ads_faq">
	<div class="section">
		<a href="https://docs.google.com/document/d/18d99tmLtWIFFnUdpban7ADd63BjnwkNgfDgRCgpK5lg/edit?pli=1#bookmark=id.dlblcvsgqf1b" target="_blank" class="btn-txt-prime bm-upload-videos" title="Quick Demo"><span class="btn-txt" id="aeaoofnhgocdbnbeljkmbjdmhbcokfdb-mousedown">Quick Demo</span></a>
		<hr>
        <h5>{% trans 'DoubleClick' %}</h5>
        <h6>{% trans 'SignUp with DoubleClick' %}</h6>
        <p>{% trans '<a href="http://www.google.com/dfp/info/sb/" target="_blank">DoubleClick </a>for Publishers SignUp' %}.</p>
        <hr>
        <h6>{% trans 'Steps to get the Invocation banner code(Header section) from DoubleClick' %}</h6>
		<p>{% trans 'Step1: Click on Generate Tags.' %}</p>
		<p>{% trans 'Step2: Choose tag Options as Tag Type.' %}</p>
		<p>{% trans 'Step3: Select the Ad Unit and click generate tag.' %}</p>
		<p>{% trans 'Step4: Copy the Document header content and paste in the text box provided in the Admin CP.' %}</p>
	</div>                                    
</div> 


