{% load i18n %}
<div id="aside" class="side-bar col_4">
    <div class="section">
        <a class="quick_help" href="https://docs.google.com/a/doublespring.com/document/d/156Uk5kBmlq8ThOO2UDmXP02gFuLrF6pFMyHeaH8aeBE/edit#bookmark=id.tg5gdkpsvs99" target="_blank"><span class="icon">?</span>Quick help</a>
        <hr>
        <h5>{% trans 'Highlights' %}</h5>
        <h6>{% trans 'Updating Email Template' %}</h6>
        <p>{% trans 'You can generate a new email or update an existing email template which are pre-defined.' %}</p>
        <hr>
        <h6>{% trans 'Note' %}</h6>
        <p>{% trans "Email notifications reach automatically to the user's mail box." %}</p>
        <p>{% trans 'Automated email notifications are sent to registered users only.' %}</p>
        <p>{% trans 'The registered user cannot reply to the automated email sent.' %}</p>
    </div>
</div>
