{% load i18n %}
{% load ds_utils %}
<style type="text/css">
    .gen_display{font-weight:bolder; padding:5px; font-size:larger;}
	.tipsy-w .tipsy-inner li {
	    color: #666666;
	    font-size: 12px;
	    margin-bottom: 5px;
	}
	.tipsy-w .tipsy-inner > h4 {
	    font-size: 16px;
	    margin-bottom: 12px;
	}
</style>
<div id="ajax_content_loading" style="display:none;padding-top:96px;text-align:center;">
    <img src="{{STATIC_URL}}ui/images/global/loading-s.gif"><br><p>{% trans 'Saving General Setings' %}</p>
</div>
<div id="basic-options" class="group">
    <form action="" name="mform" id="mform" method="post" class="add_category">{% csrf_token %}
        <div class="fields vform no_head">
            <div id="meta-tags" class="field-group">
                <div class="fields-head">
                    <h3>{% trans 'Site Name' %}</h3>
                    <p class="ltxt80">{% trans "The Site Name is used in staff and admin control panel instead of site logo, also it helps configure your "%} <a href="{% url 'admin_seo_overview' %}"> {%trans  "SEO section." %} </a></p>
                </div>
                <div class="field text-field">
                    <div class="value">
                       {{ form.site_title }}
                    </div>
                </div>

            </div>
    	</div>
        <div class="fields vform no_head">
            <div id="meta-tags" class="field-group">
                <div class="fields-head">
                    <h3>{% trans 'Site Title (SEO)' %}</h3>
                    <p class="ltxt80">{% trans 'Write a short  title for your website. This title is used as  website home page title,it also helps in the search results of search engines like Google.' %}</p>
                </div>
                <div class="field text-field">
                    <div class="value">
                        <input class="fxl" title="{% trans 'Site Title' %}" name="meta_title" id="id_meta_title" type="text" placeholder="{% trans 'Enter a short title' %}" {% if form.errors %} value="{{form.meta_title.data}}" {% else %}value="{{seo.seo_title}}" {% endif %}  >
                    </div>
                </div>
            </div>
        </div>
        <div class="fields vform no_head">
            <div id="meta-tags" class="field-group">
                <div class="fields-head">
                    <h3>{% trans 'Site Description (SEO)' %}</h3>
                    <p class="ltxt80">{% trans 'In one or two short sentences to describe your website. This description is used in the meta description of  site home page , it also  helps in search results of search engines like Google.' %}</p>
                </div>
                <div class="field text-field">
                    <div class="value">
                        <textarea rows="8" id="id_meta_description" name="meta_description" class="fxl" placeholder="{% trans 'Enter site description' %}" onkeyUp="txtarealimit(this,400);">{% if form.errors %}{{form.meta_description.data}}{% else %}{{seo.seo_description}} {% endif %}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="fields vform branding no_head">
            <div id="meta-tags" class="field-group">
                <div class="fields-head">
                    <h3>{% trans 'Branding' %}</h3>
                    <p class="ltxt80">{% trans "Site Branding allow you quickly brand your site by uploading your own logo, favicon and iPhone/iPad icon." %}</p>
                </div>
                <div class="field text-field v1">
                    <div class="value"  style="height: 141px;">
                        <div id="fileuploadlogo" class="fileuploadlogo">
                             <div class="fileupload-content">
                                <ul class="files bm-uploader-list"></ul>
                            </div>
                            {% csrf_token %}
                            <div class="upload-button-wrapper" id="upload-button-wrapper" style="{% if general.logo %}display:none;{% endif %}">
                                <a class="upload-button" id="upload-button">
                                    <span class="icon"></span>
                                    <span class="text">{% trans 'Click here or drag and drop to add an image' %}</span>
                                </a>
                                <div class="fileinput-button">
                                    <input type="file" size="1" name="photo" class="branding_logo" id="id_photo" multiple=""  accept="image/*" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="label info">
                        <label>{% trans 'Logo Image' %}</label>
                        <p class="ltxt80">{% trans 'Upload a logo image to be used in the place of your site title.' %}</p>
                    </div>
                </div>
                <div class="field text-field v1">
                    <div class="value"  style="height: 141px;">
                        <div id="fileuploaddoc" class="fileuploaddoc">
                             <div class="fileupload-content">
                                <ul class="files bm-uploader-list">
                                </ul>
                            </div>
                            {% csrf_token %}
                            <div class="upload-button-wrapper" id="upload-button-wrapper"  style="{% if general.fav_ico %}display:none;{% endif %}">
                                <a class="upload-button" id="upload-button">
                                    <span class="icon"></span>
                                    <span class="text">{% trans 'Click here or drag and drop to add an image' %}</span>
                                </a>
                                <div class="fileinput-button">
                                    <input type="file" size="1" name="photo" class="branding_favicon" id="id_photo" multiple=""  accept="*" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="label info">
                        <label>{% trans 'Browser Icon (Favicon)' %}</label>
                        <p class="ltxt80">{% trans 'Upload a browser URL icon for use with your site. This icon should be in PNG or ICO format and will be resized by the browser for display in your URL bar.' %}</p>
                    </div>
                </div>
                <div class="field text-field mr_0 v1">
                    <div class="value"  style="height: 141px;">
                        <div id="fileuploadiphone" class="fileuploadiphone">
                             <div class="fileupload-content">
                                <ul class="files bm-uploader-list">
                                </ul>
                            </div>
                            {% csrf_token %}
                            <div class="upload-button-wrapper" id="upload-button-wrapper"  style="{% if general.iphone_logo %}display:none;{% endif %}">
                                <a class="upload-button" id="upload-button">
                                    <span class="icon"></span>
                                    <span class="text">{% trans 'Click here or drag and drop to add an image' %}</span>
                                </a>
                                <div class="fileinput-button">
                                    <input type="file" size="1" name="photo" class="branding_iphone" id="id_photo" multiple=""  accept="*" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="label info">
                        <label>{% trans 'iPhone/iPad icon' %}</label>
                        <p class="ltxt80">{% trans 'Add a home screen icon on your iPhone, iPad, or iPod Touch. Icon must be in a PNG or JPG format. Do not use transparent logos. Make sure the dimension of the logo is atleast 114 X 114 pixels.' %}</p>
                    </div>
                </div>
            </div>
        </div>
		<!-- ------------------------------------------------------------------------------------------------------ -->
		<input type='hidden' id="id_site_dateformat" name="site_dateformat" value="{{form.site_dateformat.value}}">
		<div class="fields vform no_head">
            <div id="meta-tags" class="field-group">
                <div class="fields-head">
                    <h3>{% trans 'Date Format' %}</h3>
                    <p class="ltxt80">{% trans "Configure your site's date format"%}</p>
                </div>
                <div class="field text-field">
					<div class="value">
	                    <ul class="cform-list set_date" style="padding-left: 25px;">
						{% for dateformat in ds_site_dateformats %}
							<li class="cform-input-section" style="position: relative;">
								<label for="id_site_dateformat_{{forloop.counter0}}">
									<span class="cform-radio-container">
										<input type="radio" name="site_dateformat" class="cform-checkbox" value="{{dateformat.format}}" {% if form.site_dateformat.value == dateformat.format %}checked="checked"{% endif %} id="id_site_dateformat_{{forloop.counter0}}" onchange="$('#id_site_dateformat').val($(this).val())">
										<span class="cform-radio-element"></span>
									</span> 
									<span title="{{dateformat.format}}">{{dateformat.sample}}</span>
								</label>
							</li>
						{% endfor %}
							<li class="cform-input-section" style="position: relative;">
								<label for="id_site_dateformat_4">
									<span class="cform-radio-container">
										<input type="radio" id="custom_dateformat" {% if custom_dateformat %}checked="checked"{%endif%} class="cform-checkbox" name="site_dateformat" value="{% if custom_dateformat %}{{form.site_dateformat.value}}{%else%}{{custom_date.format}}{% endif %}" onchange="$('#id_site_dateformat').val($(this).val())">
										<span class="cform-radio-element"></span>
									</span>
								</label>
								<div class="value">
									<span class="inline-block">Custom:</span>
									<input id="custom_date" type="text" onkeyup="load_custom_date()" class="inline-block" style="margin: 0px 5px; width: 180px; height: 18px; line-height: 18px;" value="{% if custom_dateformat %}{{form.site_dateformat.value}}{% else %}{{custom_date.format}}{% endif %}">
									<span class="inline-block" id="custom_date_sample">{{custom_date.sample}}</span>
								</div>
							</li>
							<li class="cform-input-section" style="position: relative;">
								<div class="value">
									<a class="inline-block tttxt-fwh" title="<h4>Custom date format</h4>
<ul>
<li>%B - Full month name.</li>
<li>%b - Abbreviated month name.</li>
<li>%d - Day of the month [01,31]</li>
<li>%A - full weekday name.</li>
<li>%a - Abbreviated weekday name.</li>
</ul>
" href="javascript:void(0)">Help on custom date formatting.</a>
								</div>
							</li>
						</ul>
            		</div>
                </div>

            </div>
    	</div>
		<!-- ------------------------------------------------------------------------------------------------------ -->
		<input type='hidden' id="id_site_timeformat" name="site_timeformat" value="{{form.site_timeformat.value}}">
		<div class="fields vform no_head">
            <div id="meta-tags" class="field-group">
                <div class="fields-head">
                    <h3>{% trans 'Time Format' %}</h3>
                    <p class="ltxt80">{% trans "Configure your site's time format"%}</p>
                </div>
                <div class="field text-field">
					<div class="value">
	                    <ul class="cform-list set_date" style="padding-left: 25px;">
						{% for timeformat in ds_site_timeformats %}
							<li class="cform-input-section" style="position: relative;">
								<label for="id_site_timeformat_{{forloop.counter0}}">
									<span class="cform-radio-container">
										<input type="radio" name="site_timeformat" class="cform-checkbox" value="{{timeformat.format}}" {% if form.site_timeformat.value == timeformat.format %}checked="checked"{% endif %} id="id_site_timeformat_{{forloop.counter0}}" onchange="$('#id_site_timeformat').val($(this).val())">
										<span class="cform-radio-element"></span>
									</span> 
									<span title="{{timeformat.format}}">{{timeformat.sample}}</span>
								</label>
							</li>
						{% endfor %}
							<li class="cform-input-section" style="position: relative;">
								<label for="id_site_timeformat_2">
									<span class="cform-radio-container">
										<input type="radio" id="custom_timeformat" {% if custom_timeformat %}checked="checked"{%endif%} class="cform-checkbox" name="site_timeformat" value="{% if custom_timeformat %}{{form.site_timeformat.value}}{%else%}{{custom_time.format}}{% endif %}" onchange="$('#id_site_timeformat').val($(this).val())">
										<span class="cform-radio-element"></span>
									</span>
								</label>
								<div class="value">
									<span class="inline-block">Custom:</span>
									<input id="custom_time" type="text" onkeyup="load_custom_time()" class="inline-block" style="margin: 0px 5px; width: 180px; height: 18px; line-height: 18px;" value="{% if custom_timeformat %}{{form.site_timeformat.value}}{% else %}{{custom_time.format}}{% endif %}">
									<span class="inline-block" id="custom_time_sample">{{custom_time.sample}}</span>
								</div>
							</li>
							<li class="cform-input-section" style="position: relative;">
								<div class="value">
									<a class="inline-block tttxt-fwh" title="<h4>Custom time format</h4>
<ul>
<li>%I - Hour (12-hour clock) as [01,12].</li>
<li>%H - Hour (24-hour clock) as [00,24].</li>
<li>%M - Minute as [00,59].</li>
<li>%S - Second as [00,61].</li>
<li>%p - AM or PM.</li>
</ul>
" href="javascript:void(0)">Help on custom time formatting.</a>
								</div>
							</li>
						</ul>
            		</div>
                </div>
            </div>
    	</div>
        <div class="fields vform no_head">
            <div id="meta-tags" class="field-group">
                <div class="fields-head">
                    <h3>{% trans 'Google Analytics Tracking ID' %}</h3>
                    <p class="ltxt80">{% trans "Enter your Google Analytics Tracking ID (UA-XXXXX-YY) to enable Google Analytics on your site." %}<a target="_blank" href="http://support.google.com/analytics/bin/answer.py?hl=en&answer=1032385&ctx=cb&src=cb&cbid=1b5mq9d4drf1u&cbrank=3">{% trans 'Where can I find my Google Analytics account number?' %}</a></p>
                </div>
                <div class="field text-field">
                    <div class="value">
                        {{ form.google_analytics_script }}
                    </div>
                </div>

            </div>
        </div>
        <div class="fields vform no_head">
            <div id="meta-tags" class="field-group">
                <div class="fields-head">
                    <h3>{% trans 'Google Services API Key' %}</h3>
                    <p class="ltxt80">{% trans "Enter your Google Services API Key to enable Google Services in your site and you must activate the services like" %}<strong>{% trans " Analytics API, Google Maps API v3, Places API, Static Maps API, Street View Image API " %}</strong>{% trans 'on your account.' %}<a target="_blank" href="https://developers.google.com/maps/documentation/javascript/tutorial#api_key">{% trans ' How can I obtain my Google services API Key?' %}</a></p>
                </div>
                <div class="field text-field">
                    <div class="value">
                        {{ form.google_map_key }}
                    </div>
                </div>

            </div>
        </div>
        <!--div class="fields vform no_head">
            <div id="meta-tags" class="field-group">
                <div class="fields-head">
                    <h3>{% trans 'Making your site private' %}</h3>
                    <p class="ltxt80">{% trans "The below settings allow you to make your site private, If you do this, anyone to see your site must have an account. This option is useful for turning off access to your site that is being built or is otherwise not ready for the public to see. " %}</p>
                </div>
                <div class="field text-field">
                    <div class="value">
                        <span class="cform-checkbox-container">
                            <input type="checkbox" name="vehicle" value="Car" />
                            <span class="cform-checkbox-element"></span>
                        </span>
                        {% trans 'Private Site Enabled' %}
                    </div>
                </div>

            </div>
        </div-->
        <div class="fields vform no_head">
            <div id="meta-tags" class="field-group">
                <div class="fields-head">
                    <h3>{% trans 'Site Email Account' %}</h3>
                    <p class="ltxt80">{% trans "Enter your site's default Email Account. This email account will be used for sending mails from your site." %}</p>
                </div>
                <div class="field text-field">
                    <div class="value">
                        {{ form.info_email }}
                    </div>
                </div>

            </div>
        </div>
        <div class="fields vform social no_head">
                    <div id="meta-tags" class="field-group">
                        <div class="fields-head">
                            <h3>Social Accounts</h3>
                            <p class="ltxt80">Add social profile links to your website.</p>
                        </div>
                        <div class="field text-field">
                                    <div class="value" style="margin-top:10px;">
                                        <div class="group">
                                            <span class="social_icon btn facebook {% if general.facebook_page_url %}light{% endif %}" id="i_facebook"  onclick="show('facebook')">
                                                <span class="icon"></span>
                                            </span>
                                            <span class="social_icon btn twitter {% if general.twitter_url %}light{% endif %}" id="i_twitter"  onclick="show('twitter')" >
                                                <span class="icon"></span>
                                            </span>
                                            <span class="social_icon btn google {% if general.googleplus_url %}light{% endif %}" id="i_googleplus" onclick="show('googleplus')" >
                                                <span class="icon"></span>
                                            </span>
                                            <span class="social_icon btn pinterest {% if general.pinterest %}light{% endif %}" id="i_pinterest" onclick="show('pinterest')" >
                                                <span class="icon"></span>
                                            </span>
                                        </div>
                                    </div>
                                     <div class="value social_accounts" id="facebook" style="margin-top:10px;display:none;">
                                         <span class="social_icon light facebook">
                                            <span class="icon"></span>
                                        </span>
                                        <span class="inline-block">
                                            {{form.facebook_page_url}}
                                        </span>
                                         <span class="inline-block control tttxt-s" title="Save">
                                               <a class="icon-add" onclick="add('facebook','facebook_page_url')" href="javascript:void(0)">+</a>
                                           </span>
                                        <span class="inline-block control mrl0 tttxt-w" title="Remove">
                                            <a href="javascript:void(0)"  onclick="hide('facebook','facebook_page_url')" class="icon-remove ">-</a>
                                        </span>
                                     </div>
                                     <div class="value social_accounts" id="twitter" style="margin-top:10px;display:none;">
                                         <span class="social_icon light twitter">
                                            <span class="icon"></span>
                                        </span>
                                        <span class="inline-block">
                                            {{form.twitter_url}}
                                        </span>
                                         <span class="inline-block control tttxt-s" title="Save">
                                               <a class="icon-add "  onclick="add('twitter','twitter_url')" href="javascript:void(0)">+</a>
                                           </span>
                                        <span class="inline-block control mrl0 tttxt-w" title="Remove">
                                            <a href="javascript:void(0)"  onclick="hide('twitter','twitter_url')" class="icon-remove ">-</a>
                                        </span>
                                     </div>
                                     <div class="value social_accounts" id="googleplus" style="margin-top:10px;display:none;">
                                         <span class="social_icon light google">
                                            <span class="icon"></span>
                                        </span>
                                        <span class="inline-block">
                                           {{form.googleplus_url}}
                                        </span>
                                         <span class="inline-block control tttxt-s"  title="Save">
                                               <a class="icon-add" onclick="add('googleplus','googleplus_url')" href="javascript:void(0)">+</a>
                                           </span>
                                        <span class="inline-block control mrl0 tttxt-w" title="Remove">
                                            <a href="javascript:void(0)"  onclick="hide('googleplus','googleplus_url')" class="icon-remove ">-</a>
                                        </span>
                                     </div>
                                     <div class="value social_accounts" id="pinterest" style="margin-top:10px;display:none;">
                                         <span class="social_icon light pinterest">
                                            <span class="icon"></span>
                                        </span>
                                        <span class="inline-block">
                                            {{ form.pinterest }}
                                        </span>
                                         <span class="inline-block control tttxt-s" title="Save">
                                               <a  class="icon-add"  onclick="add('pinterest','pinterest')" href="javascript:void(0)">+</a>
                                           </span>
                                        <span class="inline-block control mrl0 tttxt-w" title="Remove">
                                            <a href="javascript:void(0)"  onclick="hide('pinterest','pinterest')" class="icon-remove">-</a>
                                        </span>
                                     </div>
                            </div>
                    </div>
                </div>
		<div class="fields vform no_head">
            <div id="meta-tags" class="field-group">
                <div class="fields-head">
                    <h3>{% trans 'Twitter Widget Id' %}</h3>
                    <p class="ltxt80">{% trans "Enter your twitter widget id to display tweets in home page of your site." %}</p>
                </div>
                <div class="field text-field">
                    <div class="value">
                        {{ form.twitter_widget_id }}
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-base form-submit group trp-bg">
               <button role="button" class="cform-button prime right" type="button" onclick="save_basic_info()"><span class="cform-button-text">{% trans 'Save Changes' %}</span></button>
        </div>
    </form>
</div>
<script>
$(document).ready(function(){
    $(".fileuploadlogo .upload-button").click(function () {
        var trigger_click_logo = false;
        if(trigger_click_logo == false)
            {
                $(".branding_logo").trigger('click');
                trigger_click_logo = true;
            }
    });
    $(".fileuploaddoc .upload-button").click(function () {
        var trigger_click_favicon = false;
        if(trigger_click_favicon == false)
            {
                $(".branding_favicon").trigger('click');
                trigger_click_favicon = true;
            }
    });
    $(".fileuploadiphone .upload-button").click(function () {
        var trigger_click_favicon = false;
        if(trigger_click_favicon == false)
            {
                $(".branding_iphone").trigger('click');
                trigger_click_favicon = true;
            }
    });

    file_upload_fav('{% url 'admin_configuration_ajax_upload_fav' %}',1,'template-upload-fav','template-download-fav');
    $('#fileuploaddoc').bind('fileuploadstart', function (e, data) {$('#fileuploaddoc #upload-button-wrapper').hide();});
    $('#fileuploaddoc').bind('fileuploaddestroy', function (e, data) {
        setTimeout(function(){
            $('#fileuploaddoc #upload-button-wrapper').show();
            $('#fileuploaddoc #upload-button').html('<span class="icon"></span><span class="text">Click here or drag and drop to add an image</span>');
        },700);
        setTimeout(function(){$('#fileuploaddoc #upload-button').html('<span class="icon"></span><span class="text">Click here or drag and drop to add an image</span>');},1050);
    });

    file_upload_logo('{% url 'admin_configuration_ajax_upload_logo' %}',1,'template-upload-sitelogo','template-download-sitelogo');
    $('#fileuploadlogo').bind('fileuploadstart', function (e, data) {$('#fileuploadlogo #upload-button-wrapper').hide();});
    $('#fileuploadlogo').bind('fileuploaddestroy', function (e, data) {
        setTimeout(function(){
            $('#fileuploadlogo #upload-button-wrapper').show();
            $('#fileuploadlogo #upload-button').html('<span class="icon"></span><span class="text">Click here or drag and drop to add an image</span>');
        },700);
        setTimeout(function(){$('#fileuploadlogo #upload-button').html('<span class="icon"></span><span class="text">Click here or drag and drop to add an image</span>');},1050);
    });

    file_upload_iphone('{% url 'admin_configuration_ajax_upload_iphonelogo' %}',1,'template-upload-sitelogo','template-download-sitelogo');
    $('#fileuploadiphone').bind('fileuploadstart', function (e, data) {$('#fileuploadiphone #upload-button-wrapper').hide();});
    $('#fileuploadiphone').bind('fileuploaddestroy', function (e, data) {
        setTimeout(function(){
            $('#fileuploadiphone #upload-button-wrapper').show();
            $('#fileuploadiphone #upload-button').html('<span class="icon"></span><span class="text">Click here or drag and drop to add an image</span>');
        },700);
        setTimeout(function(){$('#fileuploadiphone #upload-button').html('<span class="icon"></span><span class="text">Click here or drag and drop to add an image</span>');},1050);
    });


});
function show(id){
    $('.value.social_accounts').hide()
    if(id!='facebook'){
        if($('#i_facebook').hasClass('light')){
            if($('#id_facebook_page_url').val()==''){
                $('#i_facebook').removeClass('light');
            }
        }else{$('#id_facebook_page_url').val('');}
    }
    if(id!='twitter'){
        if($('#i_twitter').hasClass('light')){
            if($('#id_twitter_url').val()==''){
                $('#i_twitter').removeClass('light');
            }
        }else{$('#id_twitter_url').val('');}
    }
    if(id!='googleplus'){
        if($('#i_googleplus').hasClass('light')){
            if($('#id_googleplus_url').val()==''){
                $('#i_googleplus').removeClass('light');
            }
        }else{$('#id_googleplus_url').val('');}
    }
    if(id!='pinterest'){
        if($('#i_pinterest').hasClass('light')){
            if($('#id_pinterest').val()==''){
                $('#i_pinterest').removeClass('light');
            }
        }else{$('#id_pinterest').val('');}
    }
        $('#'+id).show();
       // $('#i_'+id).addClass('light');
    }
    function add(id,input_ele){
        if($('#id_'+input_ele).val()){
			$.ajax({
				type:'post',
				url:'{% url 'admin_configuration_social_url_update' %}',
				data:"action=add&obj="+input_ele+"&value="+$('#id_'+input_ele).val(),
				success:function(data){
					if(data=='1'){
						$('#'+id).hide();
            			$('#i_'+id).addClass('light');
					}else{show_msg('{% trans "Oops !!! Not able to process your request." %}','alert-error');}
				}
			})
        }
    }
    function hide(id,input_ele){
		$.ajax({
			type:'post',
			url:'{% url 'admin_configuration_social_url_update' %}',
			data:"action=remove&obj="+input_ele,
			success:function(data){
				if(data=='1'){
					$('#'+id).hide();
        			$('#'+id).find('input[type=text]').val('');
        			$('#i_'+id).removeClass('light');
				}else{show_msg('{% trans "Oops !!! Not able to process your request." %}','alert-error');}
			}
		})
    }
	function load_custom_date(){
		$('#custom_dateformat').attr('checked',true);
		$.ajax({
			type:'post',
			url:'{% url 'admin_load_customdate' %}',
			data:"format_str="+$("#custom_date").val(),
			success:function(data){
				$("#custom_date_sample").html(data);
				$("#id_site_dateformat").val($("#custom_date").val());
			}
		});
	}
	function load_custom_time(){
		$('#custom_timeformat').attr('checked',true);
		$.ajax({
			type:'post',
			url:'{% url 'admin_load_customtime' %}',
			data:"format_str="+$("#custom_time").val(),
			success:function(data){
				$("#custom_time_sample").html(data);
				$("#id_site_timeformat").val($("#custom_time").val());
			}
		});
	}
</script>