{% load i18n %}
<div id="ajax_content_loading" style="display:none;padding-top:96px;text-align:center;">
	<img src="{{STATIC_URL}}ui/images/global/loading-s.gif"><br><p>{% trans 'Saving Social Settings' %}</p>
</div>
<div id="map-options" class="group">
    <form action="{% url 'admin_configuration_social_update' %}" name="mform" id="mform" method="post" class="add_category">{% csrf_token %}
    	<div class="fields hform">
			<div class="field text-field">	
            	<div class="label"><label>{% trans 'Facebook URL' %}</label></div>	
            	<div class="value">{{form.facebook_page_url}}</div>	
            </div>
			<div class="field text-field">	
            	<div class="label"><label>{% trans 'Twitter URL' %}</label></div>	
            	<div class="value">{{form.twitter_url}}</div>	
            </div>
			<div class="field text-field">	
            	<div class="label"><label>{% trans 'Googleplus URL' %}</label></div>	
            	<div class="value">{{form.googleplus_url}}</div>	
            </div>
		</div>    
        <div class="modal-base form-submit group trp-bg">
		   	<button role="button" class="cform-button prime right" type="button" onclick="save_social()"><span class="cform-button-text">{% trans 'Save Changes' %}</span></button>
		</div>           
    </form>
</div>   