{% extends "admin/admin_base.html" %}
{% load tabs %}
{% load i18n %}
{% load get_example %}
{% block navigation %}
    {% activetab 'topnav' 'config' %}
    {{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Map Key' %} {% endblock %}
{% block head %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.common.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#mform").validate({
        highlight: function(element, errorClass){$(element).parent('div').parent('div').addClass('field-error');$(element).addClass('error');},
        unhighlight: function(element, errorClass){$(element).parent('div').parent('div').removeClass('field-error');$(element).removeClass('error');},
        errorPlacement: function(error, element){},
           rules:{
            google_map_lat:"required",
            google_map_lon:"required",
            google_map_zoom:"required"
           }
    });
});
function save_map_marker(){
    var flag = $('#mform').validate().form();
    var dataString='';
    dataString+='&google_map_lat='+$('#id_google_map_lat').val();
    dataString+='&google_map_lon='+$('#id_google_map_lon').val();
    dataString+='&google_map_zoom='+$('#id_google_map_zoom').val();
    if(flag){
        $('#map-options').hide();
        $('#ajax_content_loading').show();
        $.ajax({
        type: "POST",
        url: "{% url 'admin_configuration_map_marker_update' %}",
        data: dataString,
        dataType:'JSON',
        success: function(data){
                show_msg(data.msg,data.mtype);
                $('#ajax_content_loading').hide();
                $('#map-options').fadeIn(2500).html(data.html);
            }
        });
    }
}
</script>
{% endblock %}
{% block content %}
<div id="admin_wrapper">
    <div id="admin-platform" class="group">
        <div class="header-bar">
            <div id="nav-roll">
                <ul>
                    <li id="config-index" class="first"><a href="{% url 'admin_configuration' %}" style="width:120px;z-index:9"><span class="icon"></span>{% trans 'Settings' %}</a></li>
                    <li><a href="{% url 'admin_configuration_map_marker' %}" style="z-index:8">{% trans 'Map Marker' %}</a></li>
                </ul>
            </div>
        </div>
        <div id="core-wraper" class="group">
            <div class="admin-main col_12">
                {% block leftnavigation %}
                    {% activetab 'topnav' 'config' %}
                    {% activetab 'leftnav' 'map' %}
                    {% activetab 'leftnavsub' 'map_marker' %}
                    {{ block.super }}
                {% endblock %}
                <div class="left-nav-list-bg"></div>
                <div class="col_9 mr_0">
                    <div class="page-wrap">
                        <div class="page-head br_0">
                            <h2>{% trans 'Google Map Marker' %}</h2>
                            <p class="ltxt80">{% trans 'Integrate Google Maps, Lat/Long in the website to show location based data to users.' %}</p>
                        </div>
                        {% include 'admin/configuration/include_map_marker.html' %}
                       </div>
                 </div>
               </div>
           {% include 'admin/configuration/map-faq.html' %}
        </div>
    </div>
</div>
{% endblock %}