{% extends "admin/admin_base.html" %}
{% load tabs %}
{% load i18n %}
{% load get_example %}
{% block navigation %}
    {% activetab 'topnav' 'config' %}
    {{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Share Buttons' %} {% endblock %}
{% block head %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.common.js"></script>
{% endblock %}
{% block content %}
<div id="admin_wrapper">
    <div id="admin-platform" class="group">
        <div class="header-bar">
            <div id="nav-roll">
                <ul>
                    <li id="config-index" class="first"><a href="{% url 'admin_configuration' %}" style="width:120px;z-index:9"><span class="icon"></span>{% trans 'Settings' %}</a></li>
                    <li><a href="{% url 'admin_configuration_share_buttons' %}" style="z-index:7">{% trans 'Share Buttons' %}</a></li>
                </ul>
            </div>
        </div>
        <div id="core-wraper" class="group">
            <div class="admin-main col_12">
                {% block leftnavigation %}
                    {% activetab 'topnav' 'config' %}
                    {% activetab 'leftnav' 'share_buttons' %}
                    {{ block.super }}
                {% endblock %}
                <div class="left-nav-list-bg"></div>
                <div class="col_9 mr_0">
                    <div class="page-wrap">
                        <div class="page-head br_0">
                            <h2>{% trans 'Share Buttons' %}</h2>
                            <p class="ltxt80">{% trans 'Content pages include share buttons that let users share your content with their friends. Click on the icons to enable content sharing service.' %}</p>
                        </div>
                             <div id="basic-options" class="group">
                        <form action="" name="mform" id="mform" method="post" class="add_category">
                            <div class="fields vform share">
                                <form action="" name="mform" id="mform" method="post" class="add_category">
                                <div class="field text-field">
                                    <div class="value" style="margin-top:10px;">
                                        <div class="group">
                                            <span title='Click to {% if socail.fb_like %}disable{% else %}enable{% endif %} "facebook" sharing' class="social_icon btn facebook tttxt-n {% if socail.fb_like %}light{% endif %}" id="i_facebook"  onclick="show('facebook')">
                                                <span class="icon"></span>
                                            </span>
                                            <span title='Click to {% if socail.twitter %}disable{% else %}enable{% endif %} "twitter" sharing' class="social_icon btn twitter tttxt-n {% if socail.twitter %}light{% endif %}" id="i_twitter"  onclick="show('twitter')" >
                                                <span class="icon"></span>
                                            </span>
                                            <span title='Click to {% if socail.google_plus %}disable{% else %}enable{% endif %} "google_plus" sharing' class="social_icon btn google tttxt-n {% if socail.google_plus %}light{% endif %}" id="i_googleplus" onclick="show('googleplus')" >
                                                <span class="icon"></span>
                                            </span>
                                            <span title='Click to {% if socail.pinterest %}disable{% else %}enable{% endif %} "pinterest" sharing' class="social_icon btn pinterest tttxt-n {% if socail.pinterest %}light{% endif %}" id="i_pinterest" onclick="show('pinterest')" >
                                                <span class="icon"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </form>
                    </div>
                 </div>
               </div>
        </div>
        <div id="aside" class="side-bar col_4 D_faq ads_faq">
            <div class="section">
                <a class="quick_help" href="https://docs.google.com/a/doublespring.com/document/d/156Uk5kBmlq8ThOO2UDmXP02gFuLrF6pFMyHeaH8aeBE/edit#bookmark=id.rulk8ouz8j73" target="_blank"><span class="icon">?</span>Quick help</a>
                <hr>
				<p>The content pages in the website include social media share buttons that allow users to share the content with their friends.</p>
            </div>
        </div>
    </div>
</div>
<script>
function show(id){
    if($('#i_'+id).hasClass('light')){
		$('#i_'+id).attr('title', 'Click to enable "'+id+'" sharing');
        var dataString = 'id='+id
        dataString+='&val=0'
        $.ajax({
        type: "POST",
        url: '{% url 'admin_configuration_ajax_share_buttons' %}',
        data: dataString,
        success: function(data){
            if(data =='1'){$('#i_'+id).removeClass('light')}
            }
        });
    }else{
		$('#i_'+id).attr('title', 'Click to disable "'+id+'" sharing');
        var dataString = 'id='+id
        dataString+='&val=1'
        $.ajax({
        type: "POST",
        url: '{% url 'admin_configuration_ajax_share_buttons' %}',
        data: dataString,
        success: function(data){
            if(data =='1'){$('#i_'+id).addClass('light')}
            }
        });
    }
}
</script>
{% endblock %}