{% load i18n %}
<div id="aside" class="side-bar col_4  O_faq ads_faq">
	<div class="section">
		<a href="https://docs.google.com/document/d/18d99tmLtWIFFnUdpban7ADd63BjnwkNgfDgRCgpK5lg/edit?pli=1#bookmark=id.5s8zuvsilc36" target="_blank" class="btn-txt-prime bm-upload-videos" title="Quick Demo"><span class="btn-txt" id="aeaoofnhgocdbnbeljkmbjdmhbcokfdb-mousedown">Quick Demo</span></a>
		<hr>
        <h5>{% trans 'Highlights' %}</h5>
        <h6>{% trans 'Facebook' %}</h6>
		<p>{% trans 'Facebook Platform enables you to make your website more social.' %}</p>
        <p>{% trans 'Sign Up with<a href="http://www.facebook.com" target="_blank">{Facebook}</a>to get your page URL' %}</p>
		<p><font style="font-weight:bold;">{% trans 'Note' %}:</font>{% trans 'Facebook FanBox is automatically integrated on providing the Facebook page URL.It displays the number of fans who liked your website.' %}</p>
		<hr>
        <h6>{% trans 'Twitter' %}</h6>
		<p>{% trans 'Twitter is an amazing tool to connect and communicate with others.' %}</p>
		<p>{% trans 'Sign Up with<a href="http://www.twitter.com" target="_blank">{Twitter}</a>to get your profile page URL' %}</p>
        <hr>
        <h6>{% trans 'Google+' %}</h6>
    	<p>{% trans 'Google+ aims to make sharing on the web more like sharing in real life.' %}</p>
		<p>{% trans 'Sign Up with<a href="https://plus.google.com" target="_blank">{Google+}</a>to get your profile page URL' %}</p>
	</div>                                    
</div> 
