{% extends "admin_base.html" %}
{% load ds_utils %}
{% load tabs %}
{% block navigation %}
	{% activetab "selmodule" "seo" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}Admin | Manage Staff{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}staff/css/mb-staff-form.css" type="text/css" media="screen, projection" title="MB Staff Screen Styles" />
<script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
<script>
validate=function()
{
	var title = window.document.getElementById('id_meta_title');
	var description = window.document.getElementById('id_meta_description');
	var keyword = window.document.getElementById('id_meta_keywords');
	var module = window.document.getElementById('id_meta_keywords').value;
	if(module==""){
	alert("Please select the module to continue");
	return false;
	}
	if(trim(title.value)==''){
	alert("Oops!! Meta title is missing");
	title.focus();
	return false;
	}else if(trim(description.value)==''){
	alert("Oops!! Meta description is missing");
	description.focus();
	return false;
	}else if(trim(keyword.value)==''){
	alert("Oops!! Meta keyword is missing");
	keyword.focus();
	return false;
	}else{
	return true;
	}
}
</script>
<script type="text/javascript">
	function txtarealimit(txtobj,len){
		var txtvalue = txtobj.value;
		var the_len = txtvalue.length;
		if (the_len > len){
			txtobj.value = txtvalue.substring(0,len);
		}
		txtobj.scrollTop=txtobj.scrollHeight;
	}
</script>

{% endblock %}
{% block content %}
	<div class="container group">
        	<div class="page_title group" style="display:block; overflow:hidden; padding:10px 0 20px 0;">
            	<div class="bread-crumb clearfix">
                    <ul>
                        <li><a href="{%url 'admin_manage_staff' %}" style="background:#666;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#FFF">Manage SEO</a></li>                        <li style="background:#eee;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#666">Add/Change SEO</li>
                    </ul>
                </div> 
            </div>
			<div class="page_title group" style="display:block; overflow:hidden;">
                <h2 style="display:block; margin:0; padding-left:10px; line-height:normal">Add/Change SEO</h2> 
            </div>            
        	<div class="main" style="margin-bottom:20px;">
            	<div class="left_col">
                	<h3>Options</h3>
                	<ul class="side_menus">
                		<li><a href="/admin/listgrouprole" class="side_menu">Manage Roles</a></li>  
                        <li><a href="/admin/addgrouprole/" class="side_menu">Add new Role</a></li>  
                        <li><a href="/admin/searchrole/" class="side_menu">Search Role</a></li>
                        <li><a href="{%url 'admin_manage_staff' %}" class="side_menu">Manage Staff</a></li>  
                        <li><a href="{%url 'admin_create_fresh_staff' %}" class="side_menu">Add new Staff</a></li>  
                        <li><a href="{%url 'admin_promote_user' %}" class="side_menu">Promote an User</a></li>
                        <li><a href="{%url 'admin_search_staff' %}" class="side_menu">Search Staff</a></li>  
                        <li><a href="{%url 'admin_add_seo' %}" class="side_menu on">Manage SEO</a></li>                        
                    </ul>
                </div> 	
 <div class="main_col">
            	{% if message %}                         
                   <div class="message">{{message}}</div>
                {% endif %}
                {% if form.errors %}
						<div class="messageerror" style="background:lightyellow;padding:10px;color:red">
							<strong>There is a problem with your submission</strong>
	                        <ul style="list-style:square;margin-left:20px;">
	               			 {% for field in form %}
	               			 	{% if  field.errors%}
	               	            	<li>
	               	            	{%for error in field.errors%}
	               	            		{{error}}
		               	            {%endfor%}
									</li>
	           	             {% endif %}
	              	 		 {% endfor %}
							</ul>
 		 		 		 </div>
						{% endif %}
					<div id="formContainer" class="add_cat clearfix"> 
        	  	  		     <div class="title" style="padding-top:0; margin-top:10px;"><h2>SEO Center</h2></div> 
                            
							  <fieldset class="seo_center">
                   					<dl class="horizontal">
                   					<dt><label for="id_module"><b>Select Module: </b></label></dt>
                   					<form name="selmod" method="post" action="/admin/addseo/">{% csrf_token %}
										<dd><select name="module" class="textField long" onchange="window.location.replace('/admin/addseo/?mid='+this.value)">
										<option value=""> -- Select Module -- </option>
										{% for mod in modules %}
										<option value="{{mod.id}}" {% ifequal seo.id mod.id %}selected="selected"{% endifequal %}>{{mod.name}}</option>
										{% endfor %}
										</select>
										</form>
									</dd>    
									<form action="/admin/addseo/{% if seo %}?mid={{seo.id}}{% endif %}" name="mform" id="mform" method="post" class="add_category" onsubmit="return validate();">{% csrf_token %}					
                          				<dt><label for="id_meta_title"><b>Meta Title: </b></label></dt>
                          					<dd>{{ form.seo_title }}<em></em></dd><dt>
                          					<label for="id_meta_description"><b>Meta Description: </b></label></dt>
                                            <dd>
                                               {{ form.seo_description }} 
                                            </dd> 
                                            <dt>&nbsp;</dt>
                                                <dd><div class="buttons" style="padding-top: 10px;"><input class="inputsubmit on" value="Submit" type="submit"> <input class="inputsubmit off" value="Reset" type="button" onclick="window.location.replace('/admin/addseo/?mid={{seo.id}}');"></div>
                                                </dd> 
                                                </dl>                                           
                   			 </fieldset>     
						</form>
                	</div>

                </div> 
 <hr >
</div>                
{% endblock %}