{% extends "admin_base.html" %}
{% load ds_utils %}
{% load tabs %}
{% block navigation %}
	{% activetab "selmodule" "staff" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}Admin | Manage Staff{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}staff/css/mb-staff-form.css" type="text/css" media="screen, projection" title="MB Staff Screen Styles" />
{% endblock %}
{% block content %}
	<div class="container group">
        	<div class="page_title group" style="display:block; overflow:hidden; padding:10px 0 20px 0;">
            	<div class="bread-crumb clearfix">
                    <ul>
                        <li><a href="{%url 'admin_manage_staff' %}" style="background:#666;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#FFF">Manage Staff</a></li>                        <li style="background:#eee;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#666">Add Staff</li>
                    </ul>
                </div> 
            </div>
			<div class="page_title group" style="display:block; overflow:hidden;">
                <h2 style="display:block; margin:0; padding-left:10px; line-height:normal">Add Staff</h2> 
            </div>            
        	<div class="main" style="margin-bottom:20px;">
            	<div class="left_col">
                	<h3>Options</h3>
                	<ul class="side_menus">
                        <li><a href="{%url 'admin_manage_staff' %}" class="side_menu">Manage Staff</a></li>  
                        <li><a href="{%url 'admin_create_fresh_staff' %}" class="side_menu on">Add new Staff</a></li>  
                        <li><a href="{%url 'admin_promote_user' %}" class="side_menu">Promote an User</a></li>
                        <li><a href="{%url 'admin_search_staff' %}" class="side_menu">Search Staff</a></li> 
                        <li><a href="{%url 'admin_add_seo' %}" class="side_menu">Manage SEO</a></li>                         
                    </ul>
                </div> 	
 <div class="main_col">

                
					<div id="formContainer" class="clearfix" style="border:none;padding:0px;"> 
        	  	  		<form action="{%url 'admin_create_fresh_staff' %}" name="mform" id="mform" method="post" class="c-13 form_left clearfix coloumn" style="background:none;border:none;">{% csrf_token %}
        	  	  		
                          <fieldset id="basic_info" style="padding:0; margin:0;"#>
                  <div class="title"><h2>Account Information</h2></div>
{% if form.errors %}
                	 <div  class="container  errors" style="display: block;">
                	   <span>There is a problem with your submission</span>
                       <ul>
               			 {% for field in form %}
               			 {% if  field.errors%}
               	            <li>{%for error in field.errors%}
               	            	{{error}}
               	            {%endfor%}</li>
           	            {% endif %}
              	 		 {% endfor %}
             		 		  </ul>
             		 		 </div> 
                 		  {% endif %}
                 		 
 					<dl class="horizontal">
           			  <dt>
                       	<label for="first_name">First Name</label>
           			  </dt>
                      			<dd>
                   				  {{form.firstname}}
           			  </dd>
           			  <dt>

                       	<label for="last_name">Last Name</label>
           			  </dt>
                      			<dd>
                      			 {{form.lastname}}
                   				 
           			   <dt>

                       	<label for="email">Email</label>
           			  </dt>
                      			<dd>
                   				  <input name="email" id="email" type="text" class="textField normal" value=""/>
           			  </dd>
           			
                      			
                      			<dt>
       				  <label for="city">Locality</label></dt>

                      			<dd>
                   				   {{form.locality}}
                                  
                          </dd> 
                         
						<dt>&nbsp;</dt>
                            			<dd><div class="divider" style="">&nbsp;</div></dd>                            
           			  <dt>
                       	<label for="user_name">User Name</label>
           			  </dt>
                      			<dd>
                   				  {{form.username}}
           			  </dd>
           			  <dt>
                       	<label for="password">Password</label>
           			  </dt>
                      			<dd>
                   				  {{form.password1}}
           			  </dd>
           			  <dt>
                       	<label for="verify_password">Verify password</label>
           			  </dt>
                      			<dd>
                   				 {{form.password2}}
           			  </dd> 
                      
                      <dt>&nbsp;</dt>
                            			<dd><div class="divider" style="">&nbsp;</div></dd>   
                      
                      <dt>
                                    
                                </dt>
                                
                                
                                <dd>

                                <h3 style="margin: 0pt 0pt 5px; padding: 0pt; font-family: arial,sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 16px; line-height: 16px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(34, 34, 34);">Assign a Role</h3>
                                <div class="tip" style="font-size: 12px; padding-bottom: 10px;">
                                    <p>Please select a Role.</p>
                                </div>
                                </dd>                                
                      			
                      			<dt>
       				  <label for="role">Select a Role</label></dt>

                      			<dd>

                   				 
               				 	<select name='role' class="textField normal">
               				 	<option value="">-- Select a Role --</option>
               				 		<option value="admin">Administrator</option>
               				 	{% for group in groups %}
               				 		<option value="{{group.id}}">{{ group.name }}</option>
               				 	{% endfor %}
               				 	</select>
                   				 
           			  </dd> 
						<dt>&nbsp;</dt>
                            			<dd><div class="divider" style="">&nbsp;</div></dd>                                                                    
           			               		
                         
						
                         
						                                                                      
                     

					    		<dt></dt>
                      			<dd><br />
                                    <input name="goback" value="Submit" class="inputsubmit on" type="submit"/>
                                <input name="continue" value="Cancel" class="inputsubmit off" type="button" onclick="javascript:history.back();" />

                                    
                      			</dd>
							</dl>                                                        
                    </fieldset>        
                                			      
						</form>
					</div>


                </div> 
                <hr>
                </div>
                </div>
 {%endblock%}