{% extends "admin_base.html" %}
{% load ds_utils %}
{% load tabs %}
{% block navigation %}
	{% activetab "selmodule" "pricing" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}Admin | Manage Classified Price{% endblock %}
{% block head %}
<style>
.contentpricing .table_data {font-size:12px; color:#444;margin-bottom:40px;margin-top:20px;}
.contentpricing .table_data .table_wrap{padding-bottom:30px;}
.contentpricing .table_data li {background: none repeat scroll 0 0 #FFF;}
.contentpricing .table_data li:nth-child(2n) {background: none repeat scroll 0 0 #f6f6f6; /*f2f5f0*/}
.contentpricing .table_data .col_feature li {font-size: 12px;text-align: left; line-height:18px !important;font-weight:bold;height: 36px; line-height:36px; padding:5px;border-width:1px 1px 0px 1px;border-style:solid;border-color:#DDD;vertical-align:middle;display:block }
.contentpricing .table_data .col_feature .feature_label{ line-height:16px;}
.contentpricing .table_data .col_feature{width:260px;display:block;float:left}
.contentpricing .table_data .col_160{width:160px;display:block;float:left}
.contentpricing .table_data li{font-size: 12px;text-align: center;height: 36px; line-height:36px; padding:5px;border-width:1px 1px 0px 0px;border-style:solid;border-color:#DDD;vertical-align:middle;display:block}
.contentpricing .table_data .col_feature{border-left-width:1px !important;}
.contentpricing .table_data .col_head{background-color:#D2D2D2; padding:0px 0 5px 0;border-color:#BBB #BBB #A1A1A1 !important; border-width:1px 1px 2px 0; height:110px;}
.contentpricing .table_data .col_feature .col_head{background-color:#FFF !important; border-top-color:#BBB !important; border-width:0 1px 0 0 !important; height:108px;}

.contentpricing .table_data .plans_head{color:#222;text-align:center;padding:10px;line-height:1.3;}
.contentpricing .table_data .plans_head h2{font-size:22px; font-weight:bold; letter-spacing:-1px;}	
.contentpricing .table_data .plans_head h4{font-size:12px; font-weight:bold;}
.contentpricing .table_data .col_head p{font-size:11px;}
.contentpricing .table_data .highlight_text{font-size:18px; color:#F93; line-height:22px;}
.contentpricing .table_data .highlight_text .sub_label{font-size:12px;color:#777}
.contentpricing .table_data .sub_label{display:block; font-size:11px;font-weight:normal; color:#777; line-height:14px;}
.contentpricing .table_data .text_sml{font-size:11px; line-height:14px;display:block; padding:8px 6px;}
.contentpricing .table_data .price_mdm{font-size:24px; font-weight:bold; color:#000}
.contentpricing .table_data .price_mdm input {margin-bottom:10px !important;}
.contentpricing .table_data .price_lrg{font-size:28px; font-weight:bold; color:#000; letter-spacing:-1px;line-height:34px}
.contentpricing .table_data .price_xlrg{font-size:42px; font-weight:normal; color:#000; letter-spacing:-2px; margin-top:30px; line-height:34px}
.contentpricing .table_data .price_xlrg .price_sub{font-size:18px; letter-spacing:-1px;} 
.contentpricing .table_data .price_xlrg  .rs.lrg{font-size:22px;}
.contentpricing .table_data .price_lrg.free{margin-bottom:5px;font-weight:normal}
.contentpricing .table_data .price_sub{font-size:13px; font-weight:normal}
.contentpricing .table_data .free_mdm{font-size:16px; font-weight:bold; color:#000; text-transform:uppercase;}
.contentpricing .table_data li.col_ftr {background-color:#f5f0b8 !important; padding:20px 0 20px 0; height:auto !important;border-color:#e9cf87 #e9cf87 #d7b863 !important; border-width:1px 1px 2px 0;}
.contentpricing .table_data .col_feature li.col_ftr {background-color:#FFF !important; border-top-color:#e6e6e6 !important; border-bottom:none !important; padding:10px 5px !important; height:58px !important; }
.contentpricing input, .contentpricing select, .contentpricing textarea{margin:0px !important;}
.contentpricing input {padding:2px !important;}
.br_0{border:none !important;}
.contentpricing .table_data li.light_gray_row {background-color:#E6E6E6;}
.contentpricing .table_data li.light_gray_row {border-color:#CCC #CCC #BBB !important; border-width:1px 1px 1px 0;}
.contentpricing .table_data .col_feature li.light_gray_row{ border-left:1px solid #CCC;font-size:16px; line-height:36px !important;}
.check_center{padding:10px 10px 0px 10px; text-align:center}
.contentpricing .table_data .col_ftr h3{line-height:32px; margin:0px;}
.contentpricing .table_data div.disabled{opacity:.8; cursor:default;}
.contentpricing .table_data div.disabled li{background-color:#E6E6E6}
.contentpricing .table_data div.disabled input, .contentpricing .table_data div.disabled select{background-color:#FFF !important; color:#aaa !important}
</style>

<script type="text/javascript">
	$(document).ready(function(){
		$('#id_cls_price_form').submit(function(){
			$('#id_cls_price_form input').removeAttr('disabled');
			$('#id_cls_price_form select').removeAttr('disabled');
			return true;
		});
	});
	
	
	function change_visiblity(field)
	{
		var div_id = $(field).parents('div:eq(1)').attr('id');
		if(field.attr('checked')){
			$(field).parents('div:eq(1)').removeClass('disabled');
			$('#'+div_id+' input,#'+div_id+' select').removeAttr('disabled');
		} 
		else{
			$(field).parents('div:eq(1)').addClass('disabled');
			$('#'+div_id+' input,#'+div_id+' select').attr('disabled','disabled');
			$('#'+div_id+' input[type=checkbox]').removeAttr('disabled');
		}
	}

  function change_payment(field)
  {
	if ($(field).val()=='True'){
		if($(field).prev().val()=='show_2'){
			$('.price_'+$(field).prev().val()+' h3').show();
		}
		else{
			$('.price_'+$(field).prev().val()+' div').show();
			$('.price_'+$(field).prev().val()+' h3').hide();
		}
		
	}
	else{
		$('.price_'+$(field).prev().val()+' div').hide();
		$('.price_'+$(field).prev().val()+' h3').show();
	}
  }

</script>	




{% endblock %}
{% block content %}
			 
        <div class="container group">
        	<div class="page_title group" style="display:block; overflow:hidden; padding:10px 0 20px 0;">
            	<div class="bread-crumb clearfix">
                    <ul>
                        <li><a href="/admin/users/" style="background:#666;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#FFF">Admin Home</a></li>

                        <li style="background:#eee;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#666">Pricing</li>
                    </ul>
                </div> 
            </div>
			<div class="page_title group" style="display:block; overflow:hidden;">
                <h2 style="display:block; margin:0; padding-left:10px; line-height:normal">Pricing</h2> 
            </div>            
        	<div class="main" style="margin-bottom:20px;">
            	<div class="left_col">
                	<h3>Sections</h3>
                	<ul class="side_menus">
                        <li><a href="/admin/article_pricing/" class="side_menu">Articles</a></li>  
                        <li><a href="/admin/event_pricing/" class="side_menu">Events</a></li>  
                        <li><a href="/admin/business_pricing/" class="side_menu">Business</a></li>   
                        <li><a href="/admin/classified_pricing/" class="side_menu on">Classifieds</a></li> 
						<ul class="sub">
							<a href="/admin/classified_sponsored/" class="side_menu">Sponsord Price</a></li> 
						</ul>                                                                      
                    </ul>
                </div> 	
            	<div class="main_col" style="float:left; width:740px;">
				
                	<div id="formContainer" class="contentpricing">
					
					<!-- Classified Form errors begin -->
					{% for form in classified_price_forms.forms %}
						{% if form.errors %}
						<div class="messageerror" id="owner_error" style="background:lightyellow;padding:10px;color:red">
							<strong>Errors in Classified Price form Column {{ forloop.counter }} </strong>
							<ul style="list-style:square;margin-left:20px;">
								{% for field in form %}
									{% for error in field.errors %}
									<li>
										{{ error }}
									</li>
									{% endfor %}
							 	{% endfor %}
							</ul>
						</div>
						{% endif %}
					{% endfor %}
				    <!-- Form errors end -->
					  {% if message %}
							<div class="result" id="id_success_msg" style="background:lightyellow;color:#333;"><h4>{{message}}</h4></div>
								<script>
									setTimeout("$('#id_success_msg').fadeOut(1000)",10000)
								</script>
					   {% endif %}
						
                    	<form name="cls_price_form" id="id_cls_price_form" method="post" action="/admin/classified_pricing/">
                            <div class="table_data">
                                <div class="table_wrap group">
                                    <div class="col_feature">
                                        <ul>
                                            <li class="col_head"></li>
                                            <li class="light_gray_row"><span class="feature_label">Paid/Free?</span></li>
                                            <li><span class="feature_label">Exposure & Response<span class="sub_label">Get more eye balls.</span></span></li>
                                           
										    <!--li><span class="feature_label">Classified Ad Details<span class="sub_label">Classified Ad Details.</span></span></li-->
											<li><span class="feature_label">Images<span class="sub_label">Classified Images.</span></span></li>
										    <li><span class="feature_label">Location Map<span class="sub_label">Location Map.</span></span></li>
											<li><span class="feature_label">F-share,Tweet,Comments<span class="sub_label">F-share,Tweet,Comments</span></span></li>
										    <li><span class="feature_label">SMS Classified Ad Details<span class="sub_label">SMS</span></span></li>
											<li><span class="feature_label">Newsletter Promotion<span class="sub_label">Newsletter Promotion</span></span></li>
											<li><span class="feature_label">Social Media Promotion<span class="sub_label">Social Media Promotion</span></span></li>
											
											
											<li><span class="feature_label">Listing Duration<span class="sub_label">Listing Duration</span></span></li>
                                            <li class="col_ftr"><span class="feature_label">Set Pricing...</span> <span class="sub_label">Set pricing </span></li>
                                        </ul>
                                    </div>
                                    
								{{ classified_price_forms.management_form }}
								{% for form in classified_price_forms.forms %}
									
									<div class="col_160 {% if not form.instance.level_visibility %}disabled{% endif %}" id="visible{{forloop.counter}}">
                                        <ul>
                                            <li class="col_head">
                                                <div class="check_center">
                                                	{{form.level_visibility}}
												</div>
                                                <h2>
                                                	{{form.level_label}}
												</h2>
                                                <p>
                                                	{{form.level_content}}
												</p>
                                            </li>
                                            <li class="light_gray_row">
                                            	<input type="hidden" value="show_{{forloop.counter}}" name="price_show">
                                            	{{form.is_paid}}
                                            </li>
                                            <li>
                                                {{form.exposure}}
                                            </li>  
                                            <li style="display:none;">
                                                {{form.detail_page}}
                                            </li>  
											<li>
                                                {{form.images}}
                                            </li>  
											<li>
                                                {{form.map}}
                                            </li> 
											<li>
                                                {{form.fshare_retweet}}
                                            </li> 
											<li>
                                                {{form.sms}}
                                            </li> 
											<li>
                                                {{form.newsletter}}
                                            </li> 
											<li>
                                                {{form.social_media}}
                                            </li> 
											
											<li>
												{{form.contract_period}}
                                                
												{{form.contract_period_option}}
												
                                            </li>                                                                                    
                                            <li class="col_ftr price_show_{{forloop.counter}}">   
											{% ifequal forloop.counter 2 %}
											 <div style="display:none;" id="id_price_{{forloop.counter}}">{{ globalsettings.currency}} {{form.price}}</div> <!--input type="text" name="" class="textField" id="" value="10" style="width:66px;"-->                                 	
                                             <h3>Category Price</h3>
											{% else %}
											 <div {% if not form.instance.is_paid %} style="display:none;" {% endif %} id="id_price_{{forloop.counter}}">{{ globalsettings.currency}} {{form.price}}</div> <!--input type="text" name="" class="textField" id="" value="10" style="width:66px;"-->                                 	
                                             <h3 {% if form.instance.is_paid %} style="display:none;" {% endif %}>FREE</h3>
                                            {% endifequal %}
											</li>
                                        </ul>
                                    </div> 
									{% for hid in form.hidden_fields %} 
								 		{{ hid }}
									{% endfor %} 
								{% endfor %} 
                                </div>
                                <div style="text-align:right"><input type="button" class="inputsubmit off" value="Reset" onclick="location.replace('/admin/classified_pricing/')" name="continue" style="font-size:14px; padding:5px 10px !important; font-weight:bold;"> <input type="submit" id="id_submit_btn "class="inputsubmit on" value="Save updates" name="continue" style="font-size:14px; padding:5px 10px !important;  font-weight:bold;"></div>
                            </div>                                                        
                        </form>
                    </div>            	     
                   
                </div> 
                <hr />
            </div>
        </div>
      
		  <hr />	  
    </div>
    
{% endblock %}	
