{% load i18n %}  
{% load menubuilder %}
{% with globalsettings as gsobj %}
<!-- #global-footer -->
<footer id="global-foot">
    <nav class="utility-nav">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <h4><i aria-hidden="true" class="icon bUi-iCn-pLs-16" data-icon="&#xe038;"></i> {% trans 'Submit Today' %}</h4>
                </div>
                <div class="span10">
                    <ul id="submit-navs" class="nav pLlT">
                        <li>
                            <a href="{% url 'article_dash_board' %}">
                                {% trans 'Articles' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'user_manage_gallery' %}">
                                {% trans 'Photos' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'user_video_home_listingboard' %}">
                                {% trans 'Videos' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'events_dash_board' %}">
                                {% trans 'Events' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'user_manage_business' %}">
                                {% trans 'Business' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'user_classified_home' %}">
                                {% trans 'Classifieds' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'community_listing' 'top_stories' %}">
                                {% trans 'Community' %}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav social-navs pLrT clearfix">
                        {% if gsobj.facebook_page_url %}<li><a href="{{gsobj.facebook_page_url}}" target="_blank"><i class="bUi-iCn-fB-16" aria-hidden="true"></i></a></li>{% endif %}
                        {% if gsobj.twitter_url %}<li><a href="{{ gsobj.twitter_url }}" target="_blank"><i class="bUi-iCn-tWr-16" aria-hidden="true"></i></a></li>{% endif %}
                        {% if gsobj.googleplus_url %}<li><a href="{{gsobj.googleplus_url}}" target="_blank"><i class="bUi-iCn-gOo-pLs-16" aria-hidden="true"></i></a></li>{% endif %}
						<li><a href="{% url 'ajax_newsletter_url' %}" data-toggle="modal" data-target="#newsletter"><i aria-hidden="true" class="bUi-iCn-eNv-16"></i></a></li>
                        <!--li><a href="mailto:{{gsobj.info_email}}"> <i class="bUi-iCn-eNv-16" aria-hidden="true"></i></a></li-->
                        <li><a href="/rss/"><i class="bUi-iCn-bLoG-16" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- /#social-profile -->
                </div>
            </div>
        </div>
    </nav>
    <!-- utility-nav -->
    <nav class="site-index">
        <div class="container-fluid">
			{% menu footer %}
            <div class="row-fluid">
				{% for item in menuitems %}
                {% with submenus=item.children.all %}
				<section class="span2">
                    <h6>
                        <a href="{{item.base_url}}">
                            {{item.name}}
                        </a>
                    </h6>
					{% if submenus %}
                    <ul class="nav">
						{% for sm in submenus %}
                        <li>
                            <a href="{{sm.base_url}}">
                                {{sm.name}}
                            </a>
                        </li>
						{% endfor %}
                    </ul>
					{% endif %}
                </section>
				{% endwith %}
				{% endfor %}
            </div>
        </div>
    </nav>
    <!-- .site-index -->
    <div class="final">
        <div class="container-fluid" style="position:relative">
            <div class="row-fluid">
                <section class="span2 logo-cont">
                    <h1 class="logo">
                        <a href="/">
                            <img src="{% if gsobj.logo %}{{ gsobj.logo.url }}{% endif %}" alt="{{gsobj.domain}}"/>
                            <!--img src="{{STATIC_URL}}themes/img/logo/orlando-logo.png" alt="{{gsobj.domain}}"/-->
                        </a>
                    </h1>
                </section>
				 {% pages page %}
                <section class="span10 conpany-nav">
                    <ul class="nav">
                        <li><a href="{% url 'common_contact' %}">{% trans 'Contact Us' %}</a></li>
                        <li><a href="{% url 'common_advertise' %}">{% trans 'Advertise With Us ' %}</a></li>
                        {% for p in pages %}
                        <li>
                            <a href="{{gsobj.website_url}}/{{p.slug}}.html">
                                {{ p.name }}
                            </a>
                        </li>
                        {% endfor %}
                    <!--ul class="nav">
                        <li>
                            <a href="/about-us.html">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Press Releases
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Jobs
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Mobile
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Ad Choices
                            </a>
                        </li>
                        <li>
                            <a href="/privacy-policy.html">
                                Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a href="/terms-of-use.html">
                                Terms of Service
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                                Contact Us
                            </a>
                        </li-->
                    </ul>
                    <p class="copyright">{{ gsobj.copyright }}</p>
                    <div id="site-powered">
						<a title="Powered by Blackmonk" target="_blank" href="http://blackmonk.com">
							<img alt="Powered by Blackmonk" src="{{STATIC_URL}}themes/img/logo/bm-powered-by-wl.png">
						</a>
					</div>
                </section>
            </div>
        </div>
    </div>
    <!-- .final -->
</footer>
<!-- #global-footer -->
{% endwith %}