{% load i18n %}
<!-- suggest a friend begin -->
<div id="suggest_to_friend" class="allhide">

<input type="hidden" name="hashkey" id="id_hashkey" value="{{ scaptcha.hash }}" />
<input name="respond_hashkey" id="respond_hashkey" value="" type="hidden" />	
<div class="tellfriend" style="padding:0px;">
    <h3>{% trans 'Suggest to friend' %}</h3>
	<form id="suggest_form" method="post" action="javascript:void(0)">
		<input name="content_type" id="content_type" value="{{content_type}}" type="hidden">
		<input name="object_id" id="object_id" value="{{object_id}}" type="hidden">	
		<label>{% trans 'Message:' %}</label>
        <textarea rows="4"  name="suggestion_msg" id="suggestion_msg" cols="30" class="medium field">{{suggested_by}} has suggested you the {{content_type}} "{{suggested_item}}"</textarea>
		
    	<label>{% trans 'Add Friends:' %}</label>
		<ul>
			<input id='tags' type="hidden" class='tags' name="tags" placeholder="Add tags..." value="" >
			
			<ul id="mytags" style="width:352px;height:auto;">
			    <!-- Existing list items will be pre-added to the tags -->
			    
			</ul>
		</ul>
		
		<span align='center' id="ajax_loading" class="loading-stats"  style="display:none;">
			<img src="{{STATIC_URL}}ui/images/global/loading-s.gif">Sending notification...
		</span>						
	
		<div class="form_footer">
			<button id='suggest_submit' type="button" class="button super green large respond_submit"><span>{% trans 'Submit' %}</span></button>
			<p id="respondstatus"></p>
		</div>

    </form>
</div>
</div>
<!-- suggest a friend end -->