{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% load thumbnail %}
{% block navigation %}
    {% if modules == 'gallery' %}{% activetab "selmodule" "photos" %}{% elif modules == 'article' %}{% activetab "selmodule" "article" %}{% else %}
{% activetab "selmodule" modules %}
{% endif %}
    {{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Banner Traffic Repots' %} {% endblock %}
{% block head %}

<!-- TAGS -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}ui/css/jquery.tagit.css" />
<!-- TAGS -->
{% endblock %}
{% block content %}
<div id="staff-platform" class="group">
      <div class="header-bar has-sub">
    <h2> {{ modules|capfirst }}{% blocktrans %} {{ org_path }} Report - {% endblocktrans %}</h2>
        <section class="sub-header-bar">
            <div class="group">
                  <div class="filter-view-tabs">
                        <a href="{% url 'common_get_modules_elements_views' id modules year %}" class="text-link"><span>{% trans '&larr; Back to traffic report' %} </span></a>
                  </div>
                  <div class="add-section-right">
                      <a href="{% url 'get_traffic_sources' id modules year month type %}" class="btn-txt-prime" title="{% blocktrans%} &larr; View IP address({{type}}){% endblocktrans %}"><span class="btn-txt">{% blocktrans%} &larr; View ({{type}}s){% endblocktrans %}</span></a>
                  </div> 
            </div>
        </section>                          
         </div>
        <div id="core-wraper" class="group">
            <div class="staff-main">
                  <div class="page-wrap">
                    <div id="articles" class="group">
						<div id="stats" class="group content">
							<h2>{% if element.name %}{{ element.name }}{% else %}{{element.title}}{% endif %}</h2>
						    <div class="col group referral-url ">
						    	<h4 class="col-head">Source Url ({{org_path}})</h4>
								 
								  {% if Referr %} 
									{% for k,v in Referr.items %} 
										<p class="group"> 
											<span class="property">{{ k }} </span> 
											<span class="value">{{ v }} times</span>
										</p>
									{% endfor %}
								  {% else %}
										<div class="no-data">
										<span>No Reference URL for {{ org_path }}</span>
										</div>
								  {% endif %}
						    </div>
						</div>
						 {% if is_paginated %}
						    <div class="base-page-nav">
           						<ul class="page-nav">
				              	{% if has_previous %}
									<li><a href="{{url}}?page={{ prev }}" id="{{ prev }}">&lsaquo;</a></li>
				                {% else %}
									 <li ><a href="javascript:void(0)" id="{{ prev }}" class="inactive">&lsaquo;</a></li>
				                {% endif %}
				                
				                {% if not in_leading_range %}
									{% for num in pages_outside_trailing_range %}
										{% ifequal num current_page %}
											 <li><span title="{% trans 'Page' %} {{ num }} " class="active">{{ num }} ff</span></li>
										{% else %}
											 <li><a title="{% trans 'Page' %} {{ num }} " href="{{url}}?page={{ num }}">{{ num }} gg</a></li>
										{% endifequal %}
									{% endfor %}
										...
							    {% endif %} 
				                 
				                {% for num in page_numbers %}
									{% ifequal num current_page %}
										 <li><span title="{% trans 'Page' %} {{ num }} " class="active">{{ num }}</span></li>
									{% else %}
										<li><a title="{% trans 'Page' %} {{ num }} " href="{{url}}?page={{ num }}&{% if sort %} sorted as= {{ sort }}{% endif %}">{{ num }}</a></li>
									{% endifequal %}
								{% endfor %}
				                 
				                {% if not in_trailing_range %}
									...
									{% for num in pages_outside_leading_range reversed %}
										{% ifequal num current_page %}
											 <li><span title="{% trans 'Page' %} {{ num }} " class="active">{{ num }}</span></li>
										{% else %}
											<li><a title="{% trans 'Page' %} {{ num }} " href="{{url}}?page={{ num }}">{{ num }}</a></li>
										{% endifequal %}
									{% endfor %}
								{% endif %}
								
								{% if has_next %}
									<li><a  href="{{url}}?page={{ next }}" id="{{next}}" >&raquo;</a></li>
								{% else %}
									 <li><a href="javascript:void(0)" id="{{next}}" class="inactive">&raquo;</a></li>
								{% endif %}
						        </ul>
					       </div>   
 	   				    {% endif %}  

                    </div> <!-- end table -->
              </div>  <!-- end page wrap -->
        </div>  <!-- end main-col -->                            
        <div id="aside" class="side-bar">
            {% include 'default/reports_data_faq.html' %}  
        </div>                            
    </div>                                                    
</div>
{% endblock %}            
