{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% load thumbnail %}
{% block navigation %}
    {% activetab "selmodule" "banners" %}
    {{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Banner Traffic Repots' %} {% endblock %}
{% block head %}

<style type="text/css">
        /* Optional styles */
        
        .chartscontainer {
            padding: 10px 30px;
            width: 100%;
            -moz-box-sizing:border-box; /* Firefox */
            -webkit-box-sizing:border-box; /* Safari */
            margin: 0 auto;
        }
        
        .chartscontainer ul {
            padding-left: 0;
        }
        
        .chartscontainer li {
            list-style: none;
        }
        
        
        .info{
              padding:30px;
        }
        
        .info li {
            color: #666666;
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .info li .label {
            color: #999999;
            display: inline-block;
            font-weight: normal;
            width: 80px;
        }
        
        .banner_mnthly_info{
            border: 1px solid #EEEEEE;
            width: 100%;
        }
        .banner_mnthly_info tr {
            border: 1px solid #EEEEEE;
        }
        .banner_mnthly_info tr:hover {
            background-color:#fafafa;
            cursor:pointer
        }
        .banner_mnthly_info tr.active {
            background-color:#eee;
        }
        .banner_mnthly_info th {
            border-right: 1px solid #EEEEEE;
            color: #999999;
            font-size: 11px;
            padding: 5px 10px;
        }
        .banner_mnthly_info td {
            border-right: 1px solid #EEEEEE;
            color: #333333;
            padding: 5px 10px;
        }
        
    </style>



<!-- TAGS -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}ui/css/jquery.tagit.css" />
<!-- TAGS -->
{% endblock %}
{% block content %}
<div id="staff-platform" class="group">
      <div class="header-bar has-sub">
    <h2>{% trans 'Banner Traffic Report - ' %}{{banner.caption}}</h2>
        <section class="sub-header-bar">
            <div class="group">
                  <div class="filter-view-tabs">
                        <a href="/staff/{% if modules == 'gallery' %}photos{% else %}{{ modules }}{% endif %}/" class="text-link"><span>{% trans '&larr; Back to' %} {% if modules == 'gallery' %}photos{% else %}{{ modules }}{% endif %}</span></a>
                  </div>
                  <div class="add-section-right">
                      <a href="/staff/{% if modules == 'gallery' %}photos{% else %}{{ modules }}{% endif %}/add" class="btn-txt-prime" title="{% trans 'Add New' %} {% if modules == 'gallery' %}photos{% else %}{{ modules }}{% endif %}"><span class="btn-txt">{% trans 'Add New' %} {% if modules == 'gallery' %}photos{% else %}{{ modules }}{% endif %}</span></a>
                  </div> 
            </div>
        </section>                          
         </div>
        <div id="core-wraper" class="group">
            <div class="staff-main">
                  <div class="page-wrap">
                    <div id="articles" class="group">
<div id="stats" class="group content">
	<h2>{% if element.name %}{{ element.name }}{% else %}{{element.title}}{% endif %}</h2>
	<div class="col group referral-url ">
    	<h4 class="col-head">Source Url (Clicks) </h4>
		 
		  {% if Referr_click %} 
			{% for k,v in Referr_click.items %} 
					<p class="group"> 
						<span class="property">{{ k }} </span> 
						<span class="value">{{ v }} times</span>
					</p>
			{% endfor %}
		  {% else %}
						<div class="no-data">
						<span>No Reference Url for clicks</span>
						</div>
		  {% endif %}
    </div>
</div>


                    </div> <!-- end table -->
              </div>  <!-- end page wrap -->
        </div>  <!-- end main-col -->                            
        <div id="aside" class="side-bar">
            {% include 'default/reports_data_faq.html' %}  
        </div>                            
    </div>                                                    
</div>
{% endblock %}            
