{% load i18n truncate_filter %}
<ol class="cMnTs bBl mRb30" >
	<ol class="cMnTs bBl aVtR-cRcL rWrT mRb30">
		<ol class="pRnT comment_holder_ol">
			{% for cr_review in movie.get_critic_reviews %}
				<li class="cMnT dev-cMnT" itemprop="review" itemscope itemtype="http://schema.org/Review">
					<div class="cMnT-iN">
						<div class="cMnT-bDy dev-cParent">
							<div class="cMnT-bDy-iN">
		    					<header class="cMnT-hD">
		        					<span class="pBlSr" itemtype="http://schema.org/Person"><a href="/profile/blackmonk30" itemprop="url"><span itemprop="author">{{cr_review.title}}</span></a></span>
		        						<!--Shows star rating-->
										<div class="sTr-rT ib mRb0 sPrTr"><span class="sTr-wPr sTr-rT-rD iCn16 rEd mRt-4 dev-uraty" data-score="{{cr_review.rating}}"></span></div>
	    						</header>
								<div class="mRb10">
	      	                      <span title="#" class="tM cLr-gRy">By {{cr_review.reviewed_by}} ({{cr_review.source.source_title}})</span>
								</div>
								{% if cr_review.review|length|get_digit:"-1" > 380 %}
			    					<div class="cMnT-tXt" id="less_content_{{cr_review.id}}" itemprop="reviewBody">{% autoescape off %}{{ cr_review.review|truncate_chars:380 }}{% endautoescape %}<a onclick="critic_show_toggle('{{cr_review.id}}')" href="javascript:void(0);" class="cLr-lTbLu">{% trans '(more)' %}</a></div>
									<div class="cMnT-tXt" id="more_content_{{cr_review.id}}" style="display:none;">{% autoescape off %}{{ cr_review.review }}{% endautoescape %}<a onclick="critic_show_toggle('{{cr_review.id}}')" href="javascript:void(0);" class="cLr-lTbLu">{% trans '(less)' %}</a></div>
								{% else %}
									<div class="cMnT-tXt" itemprop="reviewBody">{% autoescape off %}{{ cr_review.review }}{% endautoescape %}</div>
								{% endif %}
							</div> <!-- /.cMnT-bDy-iN -->
						</div><!-- /.cMnT-bDy -->
					</div> <!-- /.cMnT-iN -->
				</li> <!-- /.cMnT -->
			{% endfor %}
		</ol>
   </ol> <!-- /.cMnTs -->
</ol> <!-- /.cMnTs -->
<script type="text/javascript">
	function critic_show_toggle(id){
	    $('#less_content_'+id).toggle();
	    $('#more_content_'+id).toggle();
	}
</script>