{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% load upload_tags %}
{% load thumbnail %}
{% block navigation %}
    {% activetab "selmodule" "attraction" %}
    {{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Videos - Attraction' %} {% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bm.jfp.ui.css">
{% endblock %}
{% block content %}
<div id="staff-platform" class="group">
    <div class="header-bar has-preview-head">
        <a href="{% url 'staff_manage_attraction' %}"><h2 style="cursor:pointer;"><span class="go_back"></span>Attractions</h2></a>
        <section class="sub-header-bar">
            <div class="preview-head">
                {% if attraction.is_featured %}
                <span class="list-type featured-item"><a class="tttxt" original-title="{% trans 'Item listed as featured' %}" href="javascript:void(0);">{% trans 'Featured' %}</a></span>
                 {% endif %}
                <div class="item-title">
                    <h1>{{ attraction.name }}</h1>
                    <p class="ltxt80">By <a href="#">{{attraction.created_by.get_full_name}}</a> <span class="divider12">|</span> {{attraction.created_on|date:"M d, Y"}}</p>
                </div>                                   
                <ul class="status-tabs group">
                     <li>{{attraction.view_count}}<span class="meta">{% trans 'views' %}</span></li>
                    <!--li> <a href="#">4<span class="meta">{% trans 'comments' %}</span></a> </li-->
                </ul>                                
            </div>                                
        </section>                           
    </div>
    
    <div id="core-wraper" class="group">
        <div class="staff-main">
            <div class="page-wrap">
                <div id="attractions-add" class="group">
                    
                <!-- Video Share code -->
                    <div id="share-videos">
                        <div class="upload-gadget-main">
                                <div class="hform relative-block">
                                    <ul class="modal-sc-tabs">
                                        <li class="modal-sc-tab modal-sc-tab-unselected modal-sc-last-tab inline-block" id="id_share_video_links"><span class="icon-url inline-block"></span> Share video links</li>
                                    </ul> 
                                    <!-- Adding videos using youtube url-->
                                    <div id="id_add_videos_div" style="display:block;">
                                        <div class="modal-lc-tabs" >
                                            <ul>
                                                <li class="selected"><a href="javascript:void(0);" onclick="$('div .modal-lc-tabs ul li').removeClass('selected').addClass('inactive');$(this).parent('li').removeClass('inactive').addClass('selected');$('.dev_hide_div').hide();$('#id_yt_video_add').fadeIn(300);"><span class="icon-youtube inline-block" ></span>Youtube</a></li>
                                                <li class="inactive"><a href="javascript:void(0);" onclick="$('div .modal-lc-tabs ul li').removeClass('selected').addClass('inactive');$(this).parent('li').removeClass('inactive').addClass('selected');$('.dev_hide_div').hide();$('#id_vimeo_video_add').fadeIn(300);"><span class="icon-vimeo inline-block"></span>Vimeo</a></li>
                                                <!--li class="inactive"><a href="javascript:void(0);"><span class="icon-flickr inline-block"></span>Flickr</a></li-->
                                            </ul>                        
                                        </div>      
                                        <div class="share-links-wrapper">
                                            <div class="share-link-inset dev_hide_div" id="id_yt_video_add" style="width:70%;">
                                                <div class="share-links-field-container">
                                                    <input type="search" placeholder="Paste youtube video link here..." name="youtube_url"  onkeyup="$(this).closest('div').removeClass('field-error');" id="youtube_url" size="42" >
                                                    <button role="button" class="cform-button search-button" type="submit" onclick="add_video();"><span>{% trans 'Add Video'%}</span></button>                    
                                                </div>
                                                <div class="help-content">
                                                    <p><span class="icon-help16 o3"></span>{% blocktrans %} Please copy and paste the YouTube 'URL' from the address bar or from the 'Share' button underneath any video on the Watch page.{% endblocktrans %}</p>
                                                </div>
                                            </div>   
                                            
                                            <div class="share-link-inset dev_hide_div" id="id_vimeo_video_add" style="display:none;width:70%;">
                                                <div class="share-links-field-container">
                                                    <input type="search" placeholder="Paste vimeo video link here..." name="vimeo_url"  onkeyup="$(this).closest('div').removeClass('field-error');" id="vimeo_url" size="42" >
                                                    <button role="button" class="cform-button search-button" type="submit" onclick="add_vimeo_video();"><span>{% trans 'Share Video'%}</span></button>                    
                                                </div>
                                                <div class="help-content">
                                                    <p><span class="icon-help16 o3"></span>{% blocktrans %}Please copy and paste the Vimeo 'URL' from the video playback.{% endblocktrans %}</p>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                    <!-- Ends -->
                                    
                                    <!--div class="item-preview-wrapper-link" id="id_s_test" ></div-->
                                    <div class="item-preview-wrapper" id="id_s_test" ></div><!-- Video Player --->
                                        
                                    <div class="drop-box-bottom video-inside" id="id_append_video_div">
                                        {% include 'attraction/staff/attraction-videos-list.html' %} 
                                    </div>
                                    
                               </div>  <! -- hform relative-block -- >
                               
                                <!--div class="modal-base form-submit group" id="submit_button_hide">
                                   <button role="button" id="button_hide_id" class="cform-button prime add-video-category "  disabled="disabled" type="submit" onclick="savevideo_now();" title="Describe upload" ><span class="cform-button-text">{% trans 'Next Step : Add Video Details'%}</span></button>
                                </div-->  
                                
                        </div> <! -- upload-gadget-main -- >
                     </div><! -- video-share -- >
                     <!-- Video Share code -->
                
                </div> <!-- end table -->                                    
            </div><!-- end page wrap -->
        </div> <!-- end main-col -->        
                            
        <div id="aside" class="side-bar">
            <div class="preview-aside-meta group">
                <ul class="side-navigation">
                    <li><a href="{% url 'staff_preview_attraction' attraction.id %}">{% trans 'Attraction Details' %}</a></li>
                    <li><a href="{% url 'staff_photos_attraction' attraction.id %}">{% trans 'Photos' %}</a></li>
                    <li class="active"><a href="{% url 'staff_attraction_videos' %}?aid={{attraction.id}}">{% trans 'Videos' %}</a></li>
                </ul>
                <!--div class="preview-item-stats">
                    <a href="" class="btn-txt-blue" style="display:block; text-align:center"><span class="btn-txt">{% trans 'Preview this Attraction' %}</span></a>
                </div-->                                
            </div>       
             {#% include 'attraction/staff/faq.html' %#}         
        </div>                         
    </div>                                                    
</div>
{% endblock %}
{% block footer_include %}
<script type="text/javascript" src="{{ STATIC_URL }}ui/js/listing_settings.js"></script>
<script type="text/javascript">

function add_video(){
    var text=$('#youtube_url').val();
    if($.trim(text)==''){
         $('#youtube_url').addClass('error');                 
         $('#youtube_url').closest('div').addClass('field-error');
         return false;
    }
    else{$('#youtube_url').removeClass('error');$('#youtube_url').parent('div').removeClass('field-error');}
    
    var matches = $('#youtube_url').val().match(/(http|https):\/\/(?:www\.)?youtube.com\/watch\?(?=.*v=((\w|-){11}))(?:\S+)?$/);
      if (matches) {
          try{
              matches=text.split('v=')[1].split('&')[0];
              if (matches.match("^-")) {matches=text;}
              }
          catch(err){matches=matches;}  
          var yurl='http://gdata.youtube.com/feeds/api/videos?q='+matches+'&format=5&max-results=1&v=2&alt=jsonc&key=AI39si47aoxcLBAwU2xJOF947q1cduwa0d9sEAP_yoWvbh5-zhNU89jwff2IiDoicddKaaxu9q-6cz9TyaoB_dUlwULIV3uYxA'; 
          var ahtml = '';    
          $.ajax({
            type: "GET",url: yurl,
            dataType:"jsonp",
            success: function(response){
                if(response.data.items)
                {   
                    $.each(response.data.items, function(i,data){
                        var title = encodeURIComponent(data.title);
                        var views =data.viewCount;
                        var vid =data.id;
                        var description = data.description;
                        var duration_in_sec =     data.duration;
                        add_to_business(vid,title,false,false);
                    });
                }
            }
        });
    }else {
        alert(gettext('Please Enter a valid youtube URL'));
        return false;
    }
 }
 
function add_to_business(vid,title,image,is_vimeo){
      $.ajax({
        type: "GET",
        url:'{% url 'staff_attraction_add_videos' %}',
        data:'vid='+vid+'&aid={{attraction.id}}&title='+title+'&image='+encodeURIComponent(image)+'&is_vimeo='+is_vimeo,
        dataType:'JSON',
        success: function(responseData){
            if(responseData.status){          
              $('#id_append_video_div').empty().html(responseData.html);                       
              $('#youtube_url').val('');    
              $('#vimeo_url').val('');                  
            }
            else{alert('Oops !!! Not able to process your request.');}                                                        
        }
    });                         
}
 
function play_video(vid,vimeo){
    html_var='<div class="preview">';
    if(vimeo == 'True'){html_var+='<iframe src="http://player.vimeo.com/video/'+vid+'/?byline=0&autoplay=1" width="514px" height="289px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>'}
    else{html_var+='<iframe  wmode="opaque" width="514px" height="289px" src="http://www.youtube.com/embed/'+vid+'/?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>';}
    html_var+='</div>';
    $('.play-icon').colorbox({html:html_var, width:"514", initialWidth: "514", top:"5%", initialHeight: "200"});                     
} 

function add_vimeo_video(){
  var id;
  var matches;
  var type='vm';
  var url=$('#vimeo_url').val();
  if($.trim(url)==''){$('#vimeo_url').addClass('error');$('#vimeo_url').closest('div').addClass('field-error');return false;}
  else{$('#vimeo_url').removeClass('error');$('#vimeo_url').closest('div').removeClass('field-error');}
  vimeo_Reg = /https?:\/\/(?:www\.)?vimeo.com\/(?:channels\/|groups\/([^\/]*)\/videos\/|album\/(\d+)\/video\/|)(\d+)(?:$|\/|\?)/;
  matches = url.match(vimeo_Reg);
  if (matches) {
  var yurl='http://vimeo.com/api/v2/video/'+matches[3]+'.json='; 
  var ahtml = '';    
  $.ajax({
        type: "GET",url: yurl,
        dataType:"jsonp",
        success: function(data){
            if(data)
            {   
                var title = data[0].title;
                var vid = data[0].id;
                var img = data[0].thumbnail_large;
                add_to_business(vid,title,img,true);
            }
        }
    });
       
     } 
  else {alert(gettext('Please enter a valid vimeo URL'));$('#vimeo_url').val('');return false;}
}

function remove_video(vid){
   $.getJSON('{% url 'staff_attraction_delete_videos' %}?aid={{attraction.id}}&vid='+vid, function(data) {
        $('#id_li_'+vid).fadeOut(500, function(){
           $('#id_li_'+vid).remove();
        });
        $('#id_videos_count_span').html(data.total_videos);                                                                                     
   });    
}
</script>
{% endblock %}