{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% load upload_tags %}
{% load ds_utils %}
{% load truncate_filter %}
{% block navigation %}
	{% activetab "selmodule" "attraction" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Edit Attraction' %} {% endblock %}
{% block head %}
<!-- TAGS -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}ui/css/jquery.tagit.css" />
<!-- TAGS -->
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bm.jfp.ui.css">
<style>
form .fields .field .icon-remove{display:none;}
.video-selectable-area:hover span.icon-remove{display:block}
</style>
{% endblock %}
{% block content %}
<div id="staff-platform" class="group">
	<div class="header-bar has-preview-head">
        <a href="{% url 'staff_manage_attraction' %}"><h2><span class="go_back"></span>Attractions</h2></a>
        <section class="sub-header-bar">
            <div class="preview-head">
            	{% if attraction.is_featured %}
        		<span class="list-type featured-item"><a class="tttxt" original-title="{% trans 'Item listed as featured' %}" href="javascript:void(0);">{% trans 'Featured' %}</a></span>
		 		{% endif %}
                <div class="item-title">
                    <h1>{{ attraction.name|truncate_chars:91 }}</h1>
                    <p class="ltxt80">By <a href="#">{{attraction.created_by.get_full_name}}</a> <span class="divider12">|</span> {{attraction.created_on|date:"M d, Y"}}</p>
				</div>                                   
                <ul class="status-tabs group">
                	 <li>{{attraction.view_count}}<span class="meta">{% trans 'views' %}</span></li>
                    <!--li> <a href="#">4<span class="meta">{% trans 'comments' %}</span></a> </li-->
                </ul>                                
            </div>                                
        </section>                          
    </div>
    <div id="core-wraper" class="group">
        <div class="staff-main">
            <div class="page-wrap">
                <div id="attractions-add" class="group">
                    <div id="add-new-attraction">
                    	{% if form.errors %}
							<div class="messageerror" >
								<span style="font-size:1.2em;font-weight:250;"><strong>There is a problem with your submission</strong></span>
						        <ul>
								 {% for field in form %}
								 	{% if field.errors%}<li>{%for error in field.errors%}{{error}}{%endfor%}</li>{% endif %}
						 		 {% endfor %}
								</ul>
							</div>
						{% endif %}
                        <form id="mform" action="{% url 'staff_edit_attraction' attraction.id %}" method="post">{% csrf_token %}
                            <div class="fields hform">
                                <div class="field-group">              
                                    <div class="field text-field fd-title">
                                        <div class="label"><label for="">Attraction Name</label></div>
                                        <div class="value">{{form.name}}</div>
									</div>
									<div class="field text-field fd-title">
										<div class="label"><label for="">Alias</label></div>
                                        <div class="value">{{form.alias}} </div>
                                    </div> 
                                    {% include 'common/coverphoto_form_staff.html' %}
                                    <div class="field select-field">
                                        <div class="label"><label for="">Categories</label></div>
                                        <div class="value">
                                        	{{form.category}}
											<span class="tip">{% trans 'Click and select multiple categories related to the attraction.' %}</span>
										</div>
                                    </div>  
                                    <div class="field text-field">	
	                                    <div class="label"><label for="">{% trans 'Activities' %}</label></div>	
	                                    <div class="value">{{form.activities}}</div>	
	                                </div>  
	                                <div class="field text-field">	
	                                    <div class="label"><label for="">{% trans 'Time of Activity' %}</label></div>	
	                                    <div class="value">{{form.time_of_activity}}</div>	
	                                </div>                                                                                                 
                                </div>
                                <div class="field-group">
                                	<div class="fields-head"></div>
									<div class="field text-field fd-dt">
                                    <div class="label"><label>Time</label></div>
                                    <div class="value">
                                        <div class="fd-cols group">
                                            <span>{{form.start_time}}</span>
                                            <span>to</span>
                                            <span>{{form.end_time}}</span>
                                        </div>
                                    </div>
								</div>
								<div class="field text-field">	
                                    <div class="label"><label for="">Closed on/Notes</label></div>	
                                    <div class="value">{{form.notes}}</div>	
                                </div>  
                                <div class="field text-field">	
                                    <div class="label"><label for="">{% trans 'Admission Notes' %}</label></div>	
                                    <div class="value">{{form.admission_notes}}</div>	
                                </div>
							</div>
							<div class="field-group">
								<div class="fields-head"></div>
                                <div class="field text-field" style="margin-top:0">
                                    <div class="label"></div>
                                    <div class="value">
                                        <div class="group">
                                            <span class="inline-block pdr6 fs"><label for="">Adult</label></span>
                                            <span class="inline-block pdr6 fs"><label for="">Child</label></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="field text-field" style="margin-top:0">
                                    <div class="label">Ticket cost({{globalsettings.currency}})</div>
                                    <div class="value">
                                        <div class="group">
                                            <span class="inline-block pdr6 fs">{{form.ticket_cost_adult}}</span>
                                            <span class="inline-block pdr6 fs">{{form.ticket_cost_child}}</span>
											<span class="inline-block">
												<span class="cform-checkbox-container">{{form.ticket_cost_free}}<span class="cform-checkbox-element"></span></span>
                                                <label for="">Free Entry</label>
                                            </span>
                                        </div>
                                    </div>
								</div>
								<div class="field text-field">
                                    <div class="label">Ticket URL</div>
                                    <div class="value">{{form.ticket_url}}</div>
								</div>
								<div class="field text-field">
                                    <div class="label">Website URL</div>
                                    <div class="value">{{form.website_url}}</div>
								</div>
								<div class="field text-field">
									<div class="label">Media URL</div>
									<div class="value" id="googleplus" style="margin-top:10px;{% if not attraction.gooleplus_url %}display:none;{% endif %}">
										<img src="{{STATIC_URL}}ui/images/icons/favicons/gplus.jpeg">
										{{form.gooleplus_url}}
										<a class="icon-remove o3 tttxt-w" style="text-indent: 9999em; overflow: hidden; width: 16px; height: 16px; display: inline-block;" title="Remove" href="javascript:hide('googleplus')">X</a>
                                    </div>
									<div class="value" id="facebook" style="margin-top:10px;{% if not attraction.fb_url %}display:none;{% endif %}">
										<img src="{{STATIC_URL}}ui/images/icons/favicons/facebook.png">
										{{form.fb_url}}
										<a class="icon-remove o3 tttxt-w" style="text-indent: 9999em; overflow: hidden; width: 16px; height: 16px; display: inline-block;" title="Remove" href="javascript:hide('facebook')">X</a>
                                    </div>
									<div class="value" id="twitter" style="margin-top:10px;{% if not attraction.twitter_url %}display:none;{% endif %}">
										<img src="{{STATIC_URL}}ui/images/icons/favicons/twitter-favicon.ico">
										{{form.twitter_url}}
										<a class="icon-remove o3 tttxt-w" style="text-indent: 9999em; overflow: hidden; width: 16px; height: 16px; display: inline-block;" title="Remove" href="javascript:hide('twitter')">X</a>
                                    </div>
									<div class="value" style="margin-top:10px;">
                                        <div class="group">
                                        	<span id="i_googleplus" style="{% if attraction.gooleplus_url %}display:none;{% endif %}">
												<img src="{{STATIC_URL}}ui/images/icons/favicons/gplus.jpeg">
												<span class="cform-checkbox-container"><input type="checkbox" id="c_weburl" onclick="show('googleplus')"><span class="cform-checkbox-element"></span></span>
											</span>
											<span id="i_facebook" style="{% if attraction.fb_url %}display:none;{% endif %}">
												<img src="{{STATIC_URL}}ui/images/icons/favicons/facebook.png">
												<span class="cform-checkbox-container"><input type="checkbox" id="c_facebook" onclick="show('facebook')"><span class="cform-checkbox-element"></span></span>
											</span>
											<span id="i_twitter" style="{% if attraction.twitter_url %}display:none;{% endif %}">
												<img src="{{STATIC_URL}}ui/images/icons/favicons/twitter-favicon.ico">
												<span class="cform-checkbox-container"><input type="checkbox" id="c_twitter" onclick="show('twitter')"><span class="cform-checkbox-element"></span></span>
											</span>
	                                    </div>
	                                </div> 
								</div>
                            </div>  
							<div class="field-group">
                                <div class="fields-head"></div>
                                    <div class="field text-field">
                                    <div class="label"><label for="">Venue</label></div>
                                    <div class="value has-fd-icon">
	                                    <div class="group" id="attraction_vnu" {% if attraction.venue %}style="display: none;"{% endif %}>
		                                	<div class="fd-cols">
	                                    		<input type="text" id="id_attr_venue" name="venue" value="" style="width:352px;" placeholder="{% trans 'Type to search...' %}">
	                                            <img alt="" src="{{STATIC_URL}}ui/images/icons/b/87.png" class="fd-icon">	
	                                    	</div>	                                                            
		                                    <span>
		                                    	<span class="tttxt" title="{% trans 'Please search for the location name to make sure you are not submitting a duplicate entry.' %}">[?]</span>
												<a href="javascript:void(0);" onclick="chk_venue();" class="txt-button">{% trans 'Add a new Venue..' %}</a>                                                            	
	                                            </span>
		                                    	 <input type="hidden" value="{{attraction.venue.id}}" name="venue_id" id="id_venue_id">
		                                    </div>
	                                        <div style="padding:5px 0 0; display: none"  id="ajax_venue_loading">
												<img src="{{STATIC_URL}}ui/images/global/loading-s.gif">
											</div>                 
	                                        <div class="field text-field" id="address_info">
	                                            	{% if attraction.venue %}
													{% with attraction.venue as venue %}
	                                            			{% include 'attraction/staff/ajax_address.html' %}
															{% endwith %}
													{% endif %}
	                                        </div> 
					                    </div>
                            		</div>
							</div>
                            <div class="field-group">
                            	<div class="fields-head"></div>
									<div class="field text-field">	
                                        <div class="label"><label>Description</label></div>	
                                        <div class="value">{{form.description}}</div>	
                                    </div> 
                                	<div class="field text-field">	
                                        <div class="label">
                                        	<label for="-button">{% trans 'Tags' %}</label>
										</div>
                                        <div class="value has-fd-icon">
                                        	<input id='tags' type="hidden" class='tags' name="tags"  value="">
											<ul id="mytags" class="fl"></ul>
                                        	<!--img class="fd-icon" src="{{STATIC_URL}}ui/images/icons/b/66.png" alt=""-->
											<span class="tip">{% trans "Add multiple tags separated by comas ',' or use 'tab' key" %}</span>
                                        </div>
                                    </div>
                            	</div>
								
								<div class="clear"></div>
								<div class="field-group">
	                           		<div class="fields-head"></div>
									<div class="field text-field">
										<div class="label"><label>Add Photos</label></div>	
										<div class="value">
											<div id="fileupload" >
										 		<div class="fileupload-content" style="padding-left:20px;">
										    		<ul class="files bm-uploader-list"></ul>
												</div>
												<div class="clear"></div>
								    			<div id="bm-dropzone_area" class="dropzone">{% trans 'Drop the files here' %}</div>
								            	{% csrf_token %}
								            	<div class="upload-button-wrapper"  style="padding-left:20px;">
								                	<a class="upload-button">{% trans 'Add Images' %}</a>
								                   <div class="clear"></div> <div class="fileinput-button">
								                    	<input type="file" name="photo" id="id_photo" multiple=""  accept="image/*" tabindex="-1">
													</div>
								                </div>
											</div>
										</div>
									</div>
									<div class="clear"></div>
									<div class="field text-field">	
										<div class="label"><label>{% trans 'Photo Contribution' %}</label></div>	
										<div class="value">
											<span class="cform-checkbox-container">{{form.allow_user_photo}}<span class="cform-checkbox-element"></span></span>
											<span class="tip">{% trans 'Check if user can add photo' %}</span>
										</div>
									</div> 
								</div>
							</div>
	                        <div class="form-submit right group">
    	                       <button class="cform-button" type="button" onclick="window.location.replace('{% url 'staff_manage_attraction' %}')"><span class="cform-button-text">Cancel</span></button>
        	                   <button role="button" class="cform-button prime" type="submit"><span class="cform-button-text">Update</span></button>
            	            </div>                                                
                	    </form>
                    </div>
                </div> <!-- end table -->                                    
	        </div><!-- end page wrap -->
    	</div>  <!-- end main-col -->                            
    	<div id="aside" class="side-bar">
	    	<div class="preview-aside-meta group">
	            <ul class="side-navigation">
	                <li><a href="{% url 'staff_edit_attraction' attraction.id %}">{% trans 'Attraction Details' %}</a></li>
					<li><a href="{% url 'staff_photos_attraction' attraction.id %}">{% trans 'Photos' %}</a></li>
					<li><a href="{% url 'staff_attraction_videos' %}?aid={{attraction.id}}">{% trans 'Videos' %}</a></li>
	            </ul>
				<div class="preview-item-stats">
					<a href="{% url 'staff_preview_attraction' attraction.id %}" class="btn-txt-blue" style="display:block; text-align:center"><span class="btn-txt">{% trans 'Preview this Attraction' %}</span></a>
	            </div>                                
			</div>    
            {% include 'attraction/staff/add_update_faq.html' %}  
    	</div>                            
	</div>                                                    
</div> 
{% endblock %}
{% block footer_include %}
<!-- TAGS -->
	<script type="text/javascript" src="{{STATIC_URL}}ui/js/jquery.ui.autocomplete.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}ui/js/tag-it.js"></script>
<!-- TAGS -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
<script src="{{ STATIC_URL }}js/ckeditor4/ckeditor.js" type="text/javascript"></script>
{% upload_js %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.jfp.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.fup.appln.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/cropper.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/attraction/photos.js"></script>
<script type="text/javascript">
function updateTextArea(){
    CKEDITOR.tools.setTimeout( function(){ 
	        $('#id_description').val(edt.getData());
	        $("#id_description").trigger('keyup');
	}, 0);  
}
	try{
		var instance = CKEDITOR.instances['id_description'];
		CKEDITOR.remove(instance);
	}
	catch(e){}
	/*
	CKEDITOR.on( 'instanceCreated', function( e ){
		   e.editor.addCss('body { font-size:12px; font-family:Arial, "Times New Roman", Verdana;}');
   });
	*/
	var edt=CKEDITOR.replace( 'id_description',
	{					
	    
		customConfig : '{{ STATIC_URL }}js/ckeditor/custome_config.js',
		toolbar : 'Basic'
	});
	edt.on('key', function(event) {updateTextArea();});
//]]>
</script>
<script type="text/javascript">
function add_video(){
	var text=$('#youtube_url').val();
	if($.trim(text)==''){
		$('#youtube_url').closest('div').addClass('field-error');
		return false;
	}
	else{$('#youtube_url').parent('div').removeClass('field-error');}
	url=$('#youtube_url').val();
	var matches = url.match(/http:\/\/(?:www\.)?youtube.com\/watch\?(?=.*v=\w+)(?:\S+)?$/);
  	if (matches) {
	  	var yurl='http://gdata.youtube.com/feeds/api/videos?q='+matches+'&format=5&max-results=20&orderby=viewCount&v=2&alt=jsonc&key=AI39si47aoxcLBAwU2xJOF947q1cduwa0d9sEAP_yoWvbh5-zhNU89jwff2IiDoicddKaaxu9q-6cz9TyaoB_dUlwULIV3uYxA'; 
	  	var ahtml = '';	
	  	$.ajax({
			type: "GET",url: yurl,
			dataType:"jsonp",
			success: function(response){
				if(response.data.items)
				{   
			        $.each(response.data.items, function(i,data){
						var title = data.title;
						var views =data.viewCount;
						var vid =data.id;
				        var description = data.description;
						var duration_in_sec = 	data.duration;
						if (duration_in_sec<60){
							var duration = duration_in_sec
						}
						else{
							var duration =(duration_in_sec/60).toFixed(2);  // not using right now will use it on final design 
						}
						$('#is_vimeo').val('');
						var ahtml='<li class="videos-selectable inline-block" id="sid_'+vid+'" > <div class="video-selectable-area">';
					    ahtml+='<div class="thumb-wrap inline-block"><div><span class="video-thumb"><span class="clip"><img alt="Thumbnail "src="http://i2.ytimg.com/vi/'+vid+'/default.jpg"></span></span></div><span class="play-icon" title="YouTube Video"></span></div>';
						ahtml+='<div class="result-video-content"><h3>'+title+'</h3></div>'
						ahtml+='<span class="icon-remove inline-block" style="position: absolute; right: 11px; bottom: 11px;" onclick="remove_video()" title="Remove this video"></span></div></li>'
						$('#id_video_slider').html(ahtml);	
						$('#id_video_slider').show()
						html_var='<div class="preview">';
					    html_var+='<iframe  wmode="opaque" width="514px" height="289px" src="http://www.youtube.com/embed/'+vid+'/?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>';
						html_var+='</div>';
						$('.play-icon').colorbox({html:html_var,initialWidth: "560", top:"5%", initialHeight: "200"});
						$('#video_add_button').hide();
						$('#video_url').val(vid);
					});
				}
			}
		});
	}else if(url.match(/vimeo.com\/(\d+)/)){
		matches = url.match(/vimeo.com\/(\d+)/)
		var id = matches[1];
		var yurl='http://vimeo.com/api/v2/video/'+id+'.json='; 
		var ahtml = '';    
		$.ajax({
	        type: "GET",url: yurl,
	        dataType:"jsonp",
	        success: function(data){
				if(data){   
	                var title = data[0].title;
	                var vid = data[0].id;
	                var img = data[0].thumbnail_large;
	                $('#is_vimeo').val('1');
	                var ahtml='<li class="videos-selectable inline-block" id="sid_'+vid+'" > <div class="video-selectable-area">';
				    ahtml+='<div class="thumb-wrap inline-block"><div><span class="video-thumb"><span class="clip"><img alt="Thumbnail "src="'+img+'"></span></span></div><span class="play-icon" title="Vimeo Video"></span></div>';
					ahtml+='<div class="result-video-content"><h3>'+title+'</h3></div>'
					ahtml+='<span class="icon-remove inline-block" style="position: absolute; right: 11px; bottom: 11px;" onclick="remove_video()" title="Remove this video"></span></div></li>'
					$('#id_video_slider').html(ahtml);	
					$('#id_video_slider').show()
					html_var='<div class="preview">';
					html_var+='<iframe src="http://player.vimeo.com/video/'+vid+'/?autoplay=1" width="514px" height="289px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>'
					html_var+='</div>';
					$('.play-icon').colorbox({html:html_var,initialWidth: "560", top:"5%", initialHeight: "200"});
					$('#video_add_button').hide();
					$('#video_url').val(vid);
		        }
		    }
		});
	}else {
		alert(gettext('Please Enter a valid url'));
		return false;
    }
 }
 function remove_video(){
	$('#is_vimeo').val('');
 	$('#youtube_url').val('');
	$('#video_url').val('');
	$('#id_video_slider').empty();
	$('#id_video_slider').hide();
	$('#video_add_button').show();
 }
 
 
function clear_venue() {
	$('#id_attr_venue').val('');
    $('#id_ven_address').find('.icon-remove').trigger('mouseout');
	$('#id_ven_address').remove();
	$('#attraction_vnu').fadeIn();
	$('#id_attr_venue').removeAttr("disabled");
}
function select_venue(){
	$('#id_search_icon').hide();
	$('#id_remove_icon').show();
	$('#id_attr_venue').attr('disabled','disabled');
}
function check_ticket(){
	if($('#id_ticket_cost_free').is(':checked')){
			$('.prices').each(function(){$(this).val('');});
			$('.prices').attr('disabled','disabled');
		}
		else{$('.prices').removeAttr('disabled','');}
}
$(document).ready(function(){
	{% if video %}
		html_var='<div class="preview">';
	    {% if video.is_vimeo %}
			html_var+='<iframe src="http://player.vimeo.com/video/{{video.video_url}}/?autoplay=1" width="514px" height="289px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>'
		{% else %}
			html_var+='<iframe  wmode="opaque" width="514px" height="289px" src="http://www.youtube.com/embed/{{video_video_url}}/?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>';
		{% endif %}
		html_var+='</div>';
		$('.play-icon').colorbox({html:html_var,initialWidth: "560", top:"5%", initialHeight: "200"});
	{% endif %}
	file_upload('{% url 'staff_attraction_ajax_upload_photos' %}?id={{attraction.id}}',30);
	{% with form.instance|content_type as ctype %}
	cover_photo_upload("{% url 'common_upload_cover_photo' %}?ctype={{ctype.pk}}&cobj={{form.instance.id}}", 100/65);
	{% endwith %}
	$('.attractionphoto').live("change",function(){
		$.ajax({
			type: "GET",
			url:'{% url 'staff_change_photo_status_attraction' %}',
			data:'id='+$(this).val(),
			success:function(data){}
		});
	});
	$('#id_ticket_cost_free').click(function(){
		check_ticket();
	});
	 {% if attraction %}
			$('.form-submit').addClass('form-submit-original');
			easy_form_submit();
	  {% endif %}
	var superuser='{{ request.user.is_superuser }}';
	var user_id='{{ request.user.id }}';
	$( "#id_attr_venue" ).autocomplete({
			source: '{% url 'staff_common_auto_suggest_venue' %}',
		   	select: function(event, ui) {
		   			$("#id_venue_id").val(ui.item.id);
	     			display_auto_sgtd_address(ui.item.id);
	     	 	}
	});
	$.validator.addMethod("desc_required", function(value, element) {  
    	$('#id_description').val(edt.getData());
		if($('#id_description').val()!=''){return true;}
		else{return false;}
	},"Please enter a description.");
	$.validator.addMethod("time", function(value, element) {  
    return this.optional(element) || /^(([0]?[1-9])|([1][0-2])):([0-5]?[0-9])(:([0-5]?[0-9]))?\s([AP][M])$/i.test(value);},"Please enter a valid time.");
	$("#mform").validate({
		ignore: "",
		highlight: function(element, errorClass){
			if( element.name == "venue_id"){
				$('#attraction_vnu').addClass('field-error');
				$('#id_attr_venue').addClass('error');
			}
			add_error_class(element)
		},
		unhighlight: function(element, errorClass){
			if( element.name == "venue_id"){
				$('#attraction_vnu').removeClass('field-error');
				$('#id_attr_venue').removeClass('error');
			}
			remove_error_class(element)
		},
		errorPlacement: function(error, element){},
	   	rules: {
	    	name: "required",
	    	category:"required",
			venue_id:"required",
			start_time:{
				required:false,
				time:true
			},end_time:{
				required:false,
				time:true
			},	
	    	description:"desc_required",
			ticket_url:{
	    		required:false,
	    		url:true
	    	},
			website_url:{
	    		required:false,
	    		url:true
	    	},
			fb_url:{
	    		required:false,
	    		url:true
	    	},
			twitter_url:{
	    		required:false,
	    		url:true
	    	},
			gooleplus_url:{
	    		required:false,
	    		url:true
	    	},ticket_cost_adult:{
				required:false,
				number:true
			},ticket_cost_child:{
				required:false,
				number:true
			}
	   	}
	});
	$("#mytags").tagit({
       singleField: true,
       singleFieldNode: $('#tags'),
	   allowSpaces:true,
       tagSource: function( request, response ) {
         $.ajax({
		       url: '{% url 'staff_attraction_auto_suggest_tag' %}',
		       data: { term:request.term },
		       dataType: "json",
		       success: function( data ) {
		       response( $.map( data, function( item ) {
		       return {
			   	label: item.label, value: item.value 
				}}
				));
       		}
       });
      }});
	{% if attraction.tag %}
		{% for tag in attraction.tag.all %}
	  		$("#mytags").tagit('createTag','{{tag}}');
	  	{% endfor%}
	{% endif %}
});
</script>
<script type="text/javascript">	
function save_venue(){
	var flag = validate_custom();
	if(flag){
		var dataString='venue='+encodeURIComponent($('#id_venues').val());
		dataString+='&address1='+encodeURIComponent($('#id_address1').val());
		dataString+='&address2='+encodeURIComponent($('#id_address2').val());
		dataString+='&zip='+encodeURIComponent($('#id_zip').val());
		dataString+='&type='+encodeURIComponent($('#id_type').val());
		dataString+='&city='+encodeURIComponent($('#id_city').val());
		dataString+='&telephone1='+encodeURIComponent($('#id_telephone1').val());
		dataString+='&email='+encodeURIComponent($('#id_email').val());
		dataString+='&website='+encodeURIComponent($('#id_website').val());
		dataString+='&description='+encodeURIComponent($('#id_description').val());
		try{
    	dataString+= "&lat_lng="+ marker.getPosition();
		dataString+= "&map_zoom="+ map.getZoom();
		}catch(e){}
		$('#add_venue').hide();
		$('#ajax_content_loading').show();
		$.ajax({
		type: "POST",
		url: $('#venueform').attr('action'),
		data: dataString,
		dataType:'JSON',
		success: function(data){	
					   			if(data.status){
					   				$('#ajax_venue_loading').hide();
									$('#address_info').html(data.html);
									$('#id_attr_venue').val('');
									$.colorbox.close();
									$("#id_venue_id").val(data.id);
									display_auto_sgtd_address(data.id);
								}
								show_msg(data.msg,data.mtype);
								$('#ajax_content_loading').hide();
								$('#add_venue_overall').html(data.lightbox_html);
								$('#add_venue_overall').show();
								$('.modal-form .select-menu').selectmenu({style:'dropdown', maxHeight: 160});
					  			$('.field-group [title]').tipsy({trigger: 'focus', gravity: 'w',ftip:true});
								$.colorbox.resize();
								}
		});
	}
}

function chk_venue(){
			if($('.ven_addr_size').size()>='3'){
				alert(gettext("You can add only 3 address."));
			}else{	
				$.colorbox({width: "770",initialWidth: "770",title: gettext("Add New Venue"), top:"60", initialHeight: "200", href:'{% url 'staff_common_ajax_add_venue' %}'});
			}	
		}
function display_auto_sgtd_address(ven){
				$('#attraction_vnu').hide();
				$('#ajax_venue_loading').show();
				$("#id_venue_id").val(ven);
				$('#id_venue_id').removeClass('error');
				$.ajax({
					   type: "GET",
					   url: '{% url 'staff_attraction_display_address' %}',
					   data:'venue_id='+ven,
					   dataType:'JSON',
					   success: function(data){	
					   			if(data.status){
					   				$('#ajax_venue_loading').hide();
									$('#address_info').html(data.html);
									$('#id_attr_venue').val('');
								}else{show_msg(data.msg,data.mtype);}
								$(".add-venue").colorbox({width: "770",initialWidth: "800", top:"60", initialHeight: "200"});
						}
				});	
			}	
function show(id){
	$('#'+id).slideDown();
	$('#i_'+id).fadeOut('fast');
}
function hide(id){
	$('#'+id).slideUp();
	$('#'+id).find('input[type=text]').val('');
	$('#i_'+id).find('input[type=checkbox]').attr('CHECKED',false);
	$('#i_'+id).fadeIn('fast');
}
{% if attraction.venue %}
		select_venue();
{% endif %}	
{% if attraction.ticket_cost_free %}
	check_ticket()
{% endif %}
function showhttp(vl){
	if(vl=='w'){if($('#id_website_url').val()==""){$('#id_website_url').val('http://www.');}}
	else if(vl=='t'){if($('#id_ticket_url').val()==""){$('#id_ticket_url').val('http://www.');}}
	else if(vl=='f'){if($('#id_fb_url').val()==""){$('#id_fb_url').val('http://www.facebook.com/');}}
	else if(vl=='g'){if($('#id_gooleplus_url').val()==""){$('#id_gooleplus_url').val('http://plus.google.com/');}}
	else if(vl=='tw'){if($('#id_twitter_url').val()==""){$('#id_twitter_url').val('http://www.twitter.com/');}}
}
function hidehttp(vl){
	if(vl=='w'){
		if($('#id_website_url').val()=='http://www.'){
			$('#id_website_url').val('');
			var element=$('#id_website_url');
			$(element).parent('div').parent('div').removeClass('field-error');$(element).removeClass("error");
		}
	}
	else if(vl=='t'){
		if($('#id_ticket_url').val()=='http://www.'){
			$('#id_ticket_url').val('');
			var element=$('#id_ticket_url');
			$(element).parent('div').parent('div').removeClass('field-error');$(element).removeClass("error");
		}
	}
	else if(vl=='f'){
		if($('#id_fb_url').val()=='http://www.facebook.com/'){
			$('#id_fb_url').val('');
			var element=$('#id_fb_url');
			$(element).parent('div').parent('div').removeClass('field-error');$(element).removeClass("error");
		}
	}
	else if(vl=='g'){
		if($('#id_gooleplus_url').val()=='http://plus.google.com/'){
			$('#id_gooleplus_url').val('');
			var element=$('#id_gooleplus_url');
			$(element).parent('div').parent('div').removeClass('field-error');$(element).removeClass("error");
		}
	}
	else if(vl=='tw'){
		if($('#id_twitter_url').val()=='http://www.twitter.com/'){
			$('#id_twitter_url').val('');
			var element=$('#id_twitter_url');
			$(element).parent('div').parent('div').removeClass('field-error');$(element).removeClass("error");
		}
	}
}
$(document).ready(function(){
	setTimeout(function(){
	{% if video.is_vimeo %}
	    $.ajax({
	        type:'GET',
	        url: 'http://vimeo.com/api/v2/video/{{video.video_url}}.json',
			jsonp: 'callback',
	        dataType: 'jsonp',
	        success: function(data){
	            var thumbnail_src = data[0].thumbnail_medium;
	            $('#vimeo_{{video.video_url}}').attr('src',thumbnail_src);
	        }
	    });
	{% endif %}
},100);
});
</script>
<script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false{% if globalsettings.google_map_key %}&key={{ globalsettings.google_map_key }}{% endif %}" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/general/google_map.js"></script>
{% endblock %}