{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% load upload_tags %}
{% load ds_utils %}
{% load thumbnail %}
{% block navigation %}
	{% activetab "selmodule" "attraction" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Photos - Attraction' %} {% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bm.jfp.ui.css">
{% endblock %}
{% block content %}
<div id="staff-platform" class="group">
	<div class="header-bar has-preview-head">
        <h2 onclick="window.location.replace('{% url 'staff_manage_attraction' %}')" style="cursor:pointer;">Attractions</h2>
        <section class="sub-header-bar">
            <div class="preview-head">
            	{% if attraction.is_featured %}
        		<span class="list-type featured-item"><a class="tttxt" original-title="{% trans 'Item listed as featured' %}" href="javascript:void(0);">{% trans 'Featured' %}</a></span>
		 		{% endif %}
                <div class="item-title">
                    <h1>{{ attraction.name }}</h1>
                    <p class="ltxt80">By <a href="#">{{attraction.created_by.get_full_name}}</a> <span class="divider12">|</span> {{attraction.created_on|date:"M d, Y"}}</p>
				</div>                                   
                <ul class="status-tabs group">
                	 <li>{{attraction.view_count}}<span class="meta">{% trans 'views' %}</span></li>
                    <!--li> <a href="#">4<span class="meta">{% trans 'comments' %}</span></a> </li-->
                </ul>                                
            </div>                                
        </section>                          
    </div>
    <div id="core-wraper" class="group">
        <div class="staff-main">
            <div class="page-wrap">
                <div id="attractions-add" class="group">
                    <div id="add-new-attraction">
                    	{% if form.errors %}
							<div class="messageerror" >
								<span style="font-size:1.2em;font-weight:250;"><strong>There is a problem with your submission</strong></span>
						        <ul>
								 {% for field in form %}
								 	{% if field.errors%}<li>{%for error in field.errors%}{{error}}{%endfor%}</li>{% endif %}
						 		 {% endfor %}
								</ul>
							</div>
						{% endif %}
                        <form id="mform" action="{% url 'staff_edit_attraction' attraction.id %}" method="post">{% csrf_token %}
                            <div class="fields hform">
								<div class="field-group">
									<div id="coverphotodiv">
										{% include 'common/coverphoto_form_staff.html' %}
									</div>
									<div class="field text-field">
										<div class="value" style="margin:0px;">
											<div id="fileupload" >
												<div class="upload-button-wrapper"  style="padding-left:20px;">
								                	 {% if perms.attraction.add_attraction %}
													<a class="upload-button">{% trans 'Add Images' %}</a>
													{% endif %}
								                    <div class="fileinput-button">
								                    	<input type="file" name="photo" id="id_photo" multiple=""  style="" accept="image/*" tabindex="-1">
													</div>
								                </div>
										 		<div id="photo-gallery" class="fileupload-content" style="padding-left:20px;">
										    		<ul class="files bm-uploader-list data-table-inset"></ul>
												</div>
								    			<div id="bm-dropzone_area" class="dropzone">{% trans 'Drop the files here' %}</div>
								            	{% csrf_token %}
											</div>
										</div>
									</div>
								</div>
							</div>
                	    </form>
                    </div>																	                                        
                </div> <!-- end table -->                                    
	        </div><!-- end page wrap -->
        </div> <!-- end main-col -->                            
        <div id="aside" class="side-bar">
        	<div class="preview-aside-meta group">
                <ul class="side-navigation">
                    <li><a href="{% url 'staff_preview_attraction' attraction.id %}">{% trans 'Attraction Details' %}</a></li>
					<li class="active"><a href="{% url 'staff_photos_attraction' attraction.id %}">{% trans 'Photos' %}</a></li>
					{% if perms.attraction.add_attraction or perms.attraction.change_attraction %}
					<li><a href="{% url 'staff_attraction_videos' %}?aid={{attraction.id}}">{% trans 'Videos' %}</a></li>
					{% endif %}
                </ul>
				<!--div class="preview-item-stats">
					<a href="" class="btn-txt-blue" style="display:block; text-align:center"><span class="btn-txt">{% trans 'Preview this Attraction' %}</span></a>
                </div-->                                
			</div>       
             {#% include 'attraction/staff/faq.html' %#}         
        </div>                            
    </div>                                                    
</div>
{% endblock %}
{% block footer_include %}
{% upload_js %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.jfp.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.fup.appln.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/cropper.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/attraction/photos.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#coverphotodiv .value').attr('style', 'margin:20px;');
	file_upload('{% url 'staff_attraction_ajax_upload_photos' %}?id={{attraction.id}}',30,'template-upload-attraction','template-download-attraction');
	{% with attraction|content_type as ctype %}
	cover_photo_upload("{% url 'common_upload_cover_photo' %}?ctype={{ctype.pk}}&cobj={{attraction.id}}", 100/70);
	{% endwith %}
});
function approve(id){
	$.ajax({
		type: "GET",
		url:'{% url 'staff_change_photo_status_attraction' %}',
		data:'id='+id,
		success:function(data){
			$('#a_'+id).remove();
		}
	});
}
</script> 
{% endblock %}