{% extends "staff_base.html" %}
{% load tabs %}
{% block navigation %}
	{% activetab "selmodule" "attraction" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}Update Attraction SEO{% endblock %}
{% block head %}
<script type="text/javascript">

</script>
{% endblock %}
{% block content %}
<div class="page_title group" style="display:block; overflow:hidden; padding:10px 0 20px 0;">
	<div class="bread-crumb clearfix">
        <ul>
            <li><a href="/staff/" style="background:#666;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#FFF">Staff Home</a></li>
            <li><a href="{% url 'staff_manage_attraction' %}" style="background:#666;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#FFF">Attraction</a></li>
            <li style="background:#eee;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#666">Seo Update</li>                        
        </ul>
    </div> 
</div>
<div class="page_title group" style="display:block; overflow:hidden;">
    <h2 style="float:left; display:block;width:300px; margin:0; padding-left:10px; line-height:normal">Attraction: SEO</h2>           
</div>            
<div class="main" style="margin-bottom:20px;">
	<div class="main_col">
		{% if message %}                         
          <div class="message">{{message}}</div>
        {% endif %}
		{% if form.errors %}
		<div class="messageerror" >
			<span style="font-size:1.2em;font-weight:250;">
				<strong>There is a problem with your submission</strong></span>
            <ul>
   			 {% for field in form %}{% if field.errors%}
   	            <li>{%for error in field.errors %}{{ error }}{% endfor %}</li>
             {% endif %}{% endfor %}
			</ul>
	 	</div>
		{% endif %}
        <div class="seo_page_title" style="font-size:16px; background:#FFC; padding:10px;margin:10px 0">
        	<strong>Attraction:</strong> {{ attraction.name }}</span></div>
		<div id="formContainer" class="add_cat clearfix"> 
  	  		<form action="{% url 'staff_seo_attraction' %}?id={{ attraction.id }}" name="mform" id="mform" method="post" class="add_category">{% csrf_token %}
			  <fieldset class="seo_center" style="background-color:#f1f1f1; padding:10px;">
              		<div style="font-size:16px;">Friendly Url</div>
   					<dl class="vertical" style="padding:10px 0 0 0;">
                    	<div style="padding-bottom: 15px; margin-top: -8px; color:#999;">You can choose a page name title to be accessed directly from the web browser as a static html page. The chosen page name title must contain only alphanumeric chars (like "a-z" and/or "0-9") and "-" instead of spaces.<span style="padding-top:10px;display:block"><strong>Example:</strong> <br />The page name title "John Auto Repair" will be available through the url:<br />"{{ globalsettings.website_url }}/attraction/0609/risa-by-abhijeet-khanna-at-collage.html"</span></div>
          				<dt><label for="friendly_url"><b>Slug: </b></label></dt>
          				<dd>{{form.slug}}<em></em></dd>
					</dl>                               
   			 </fieldset>
			  <fieldset class="seo_center">
   					<dl class="horizontal">            
          				<dt><label for="meta_title"><b>Meta Title: </b></label></dt>
          				<dd>{{form.seo_title}}<em></em></dd>
						
						<dt><label for="meta_description"><b>Meta Description: </b></label></dt>
                        <dd>{{form.seo_description}}</dd> 
          				
						<dt>&nbsp;</dt>
                        <dd>
                        	<div class="buttons" style="padding-top: 10px;">
                        		<input class="inputsubmit on" id="" name="" value="Submit" type="submit"> 
                        		<input class="inputsubmit off" id="" name="" value="Cancel" type="button" onclick="window.location.replace('{% url 'staff_manage_attraction' %}');">
                        	</div>
                        </dd>
					</dl>                     
       			</fieldset>                              
			</form>
    	</div>
    </div> 
    <hr />
</div>
{% endblock %}