{% load i18n %}		
{% load thumbnail %}
<!-- script type="text/javascript" src="{{STATIC_URL}}ui/js/application.js"></script -->	
{% if business %} 
	{% for buz in business %}	
	{% for ni in new_id %}
	{% ifequal ni buz.id %}
   <li class="table-list" id="li_{{buz.id}}">
			<div class="table-list-container check-item has-thumb110 group">
		 	{% if buz.featured_sponsored == 'F' %}
		 		<span class="list-type featured-item"><a class="tttxt" title="{% trans 'Item listed as featured' %}" href="#">{% trans 'Featured' %}</a></span>
			{% else %}
				{% if buz.featured_sponsored == 'S' %}
		 			<span class="list-type sponsored-item"><a class="tttxt" title="{% trans 'Item listed as sponsored' %}" href="#">{% trans 'Sponsored' %}</a></span>
				{% endif %}
			{% endif %}
		 	<span class="checkbox-wrap">
				<span class="cform-checkbox-container"><input type="checkbox" onclick="fix_action()" status="{{buz.status}}" value="{{buz.id}}" id="id_checkbox_{{buz.id}}" name="artCulture" class="check-overflow cbox check_action"><span class="cform-checkbox-element"></span></span>
			</span>
            <div class="item-media">
            	<a href="{% url 'staff_preview_business' buz.id %}" class="inline-block">
                    <span class="item-thumb thumb-110">
                        <span class="thumb-in">
                            <span class="thumb"><img src="{% if buz.logo.logo %}{% thumbnail buz.logo.logo 110x0 %}{% else %}{{ buz.get_default_image }}{% endif %}" alt="{{gal.title}}" class="inline-block"><span class="inline-block h100"></span></span>
                        </span>
                    </span>
				</a>                                                            
            </div> 
			<div class="item-info relative-block">
                <h3 class="title"><a href="{% url 'staff_preview_business' buz.id %}">{{buz.name}}</a></h3>
                <p class="ltxt80">
                	{% for cat in buz.categories.all %}
					{{cat}}{% if not forloop.last %},{% endif %}
					{% endfor %}
				</p> 
				<p class="ltxt80">
					{% trans 'By' %} <a href="{% url 'user_profile' buz.created_by.profile_slug %}">{{buz.created_by.display_name}}</a> 
					<span class="divider12">|</span>{{buz.created_on|date:"M d, Y"}}
                    <span class="divider12">|</span>{% if buz.is_paid and buz.sp_cost %}Paid: {{globalsettings.currency}}{{buz.sp_cost}}{% else %}Not Paid{% endif %}
				</p>
                <ul class="quick-stats group">
                    <li class="views"><a class="tttxt" href="javascript:void(0)" title="{% trans 'Viewers' %}"><span class="inline-block icon-view-stats"></span>{{buz.most_viewed}}</a></li>
                    <!--li class="cmnt"><a class="tttxt"title="{% trans 'View comments' %}" href="#"><span class="inline-block icon-cmnt-stats"></span>46</a></li-->
                </ul>
                <div class="item-status {% if forloop.counter == 1 %}tip tip9{% endif %} {% if not perms.business.publish_business %}no-options{% endif %} dev_hide_list_status" onclick="display_change_status({{buz.id}},$('#id_estatus_{{buz.id}}').attr('name'));">
                	<span class="status-inside inline-block" id="id_span_chge_sts_{{buz.id}}">
					<span title="{{buz.get_status|capfirst}}" name="{{buz.status}}" id="id_estatus_{{buz.id}}" class="inline-block tttxt status-idty icon-{{buz.get_status}}"></span>	 
                    {% if not perms.business.publish_business %}</span>{% endif %}
					{% if perms.business.publish_business %}
	                    <span class="arrow"></span></span>
						<ul class="dropdown-list" id="change_status_id_{{buz.id}}">
							<li><strong>{% trans 'Update status to...' %}</strong></li>
							<ul id="id_dis_status_{{buz.id}}">
	                       	</ul>
	                    </ul>
					{% endif %}
                </div>                                                        
            </div>
            <div class="action-buttons {% if forloop.counter == 1 %}tip tip10{% endif %}">
                <div class="relative-block">
                    <span class="item-manage inline-block dev_hide_list_settings" id="id_span_settings_{{buz.id}}" onclick="display_settings({{buz.id}});"><span class="action-icon icon-manage"></span></span>
                    <ul class="dropdown-list dev_settingsdrpdwn" id="settings_id_{{buz.id}}" style="display:none">
                    	{% if perms.business.promote_business %}
							<div id="id_upgrade_{{buz.id}}" {% if buz.status != 'P' and buz.status != 'N' and buz.status != 'D' %} style="display:none"{% endif %}>
								<li><a title="{% trans 'Update ListingType' %}" href="{% url 'staff_business_listing_type' %}?id={{buz.id}}" class="bm-add-gadget light_box">{% trans 'Update Listing Type' %}</a></li>
								<li><span class="line-break"></span></li>
							</div>
						{% endif %}
						{% if perms.business.promote_business and not buz.get_claim_status  %}
							<li><a title="{% trans 'Procress Claim' %}" href="{% url 'staff_ajax_list_business_claim_status' %}?id={{buz.id}}" class="bm-add-gadget light_box">{% trans 'Procress Claim' %}</a></li>
							<li><span class="line-break"></span></li>
						{% endif %}
						{% if perms.business.change_business %}
							<li><a title="{% trans 'Edit this Classified' %}" href="{% url 'staff_update_business' buz.id %}">{% trans 'Edit' %}</a></li>
							<li><a title="{% trans 'Title / Description (SEO)' %}" href="{% url 'staff_seo_business' buz.id %}" class="bm-add-gadget light_box">{% trans 'Update SEO' %}</a></li>
							<li><span class="line-break"></span></li>
        	            {% endif %}
							<li><a title="{% trans 'Manage Product' %}" href="{% url 'staff_business_product' buz.id %}">{% trans 'Manage Product' %}</a></li>
							<li><a title="{% trans 'Manage Coupon' %}" href="{% url 'staff_business_coupon' buz.id %}">{% trans 'Manage Coupon' %}</a></li>
							<li><a title="{% trans 'Manage Images' %}" href="{% url 'staff_business_images' buz.id %}">{% trans 'Manage Images' %}</a></li>
							<li><a title="{% trans 'Stats' %}" href="{% url 'common_get_modules_elements_views' buz.id 'business' 0 %}" class="bm-add-gadget light_box">{% trans 'View Stats' %}</a></li>
							<li><a title="{% trans 'Business Logs' %}" class="bm-add-gadget light_box" href ="{% url 'common_log' %}?obj_id={{ buz.id }}&type=business">Audit Logs</a></li>
						{% if perms.business.delete_business %}
							<li><span class="line-break"></span></li>
            	        	<li><a onclick="if(confirm(gettext('Are you sure you want to delete the Business ?'))){filter_action({{buz.id}},'DEL');return false;}" href="javascript:void(0)">{% trans 'Delete' %}</a></li>
						{% endif %}
                    </ul>
				</div>                                                              	                                                         
            </div>
        </div>
    </li> 
	{% endifequal %}
 {% endfor %}
  {% endfor %}
 {% else %}
 <div class="no-data"><p>{% trans 'Sorry , No Business found !' %}</p></div> 
 {% endif %}  
