{% load i18n %}
<!-- CALENDER -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/LE_MetaId99.css">
<!-- CALENDER -->
<div id="ajax_content_loading" style="display:none;padding-top:222px;padding-bottom:222px;text-align:center;">
    <img src="{{STATIC_URL}}ui/images/global/loading-s.gif"><br><p>{% trans 'Saving ListingType' %}</p>
</div>
<div class="main_col" id="ajax_content">
    <div id="add-new-category" class="modal-form" style="width:560px !important;">
    <form name="mform" id="mform" method="post" class="add_category">{% csrf_token %}
        <div class="fields hform">
            <div class="field-group">
                <div class="fields-head">
                    <p class="ltxt80">{% trans 'Choose how would you like to promote your business listing in the website.' %}</p>
                </div>
                <div class="field text-field">
                    <div class="label"><label>{% trans 'Listing Type' %} :</label></div>
                    <div class="value">
                        <div class="fd-cols mrb0 pd50 group">
                            {% for business_price in business_price_objects %}
                                <span class="pdr6"><label for="typeFeatured" id="l:typeFeatured"><span class="cform-radio-container"><input type="radio" value="{{business_price.id}}" onclick="payment_option({{business_price.id}})" name="listingtype" {% if forloop.first %}{% if not business %}CHECKED{% endif %}{% endif %}{% ifequal business.payment.id business_price.id %}CHECKED{% endifequal%} id="{{business_price.id}}"><span class="cform-radio-element"></span></span> {{business_price.level_label}}</label></span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="field text-field">
                    <div class="label"><label>{% trans 'Duration' %} :</label></div>
                    <div class="value">
                        <div class="fd-cols mrb0 group" style="float:left;">
                            <span style="float:left; display:block; margin-right:10px;">
                                <select onchange="payment_period($(this).val())" id="period_type" name="period" class="select-menu" style="width:100px;">
                                    <option value='M'>{% trans 'Monthly' %}</option>
                                    <option value='Y'>{% trans 'Yearly' %}</option>
                                </select>
                            </span>
                            <span style="float:left; display:block;">
                                <input type="hidden" id="current_date" value="{% now "Y-m-d" %}">
                                {% trans 'From' %}
                                    <input type="text" style="width:80px !important;" class="cat_price" name="listing_start_date" id="id_listing_start_date" class="tttxt" value="{{business.lstart_date|date:'d/m/Y'}}">
                                {% trans 'to' %}
                                    <input type="text" style="width:80px !important;" class="cat_price" name="listing_end_date" id="id_listing_end_date" class="tttxt" value="{{business.lend_date|date:'d/m/Y'}}">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="field text-field">
                    <div class="label"><label>{% trans 'Amount' %} (<span class="rs mdm">{{globalsettings.currency}}</span>) :</label></div>
                    <div class="value">

                        {% for business_price in business_price_objects %}
                            <div id="id_{{business_price.id}}" class="payment_div" style="float: left;{% if business.payment %}{% ifnotequal business.payment.id business_price.id %}display:none;{% endifnotequal%}{% endif %}{% if not business %}{% if not forloop.first %}display:none{% endif %}{% endif %}">
                                {% if business_price.level == 'level1' %}
                                    <input type="text" class="cat_price tttxt month" style="width:80px !important;" name="price_{{business_price.id}}" id="price_{{business_price.id}}" value="{% if business.is_paid and business.sp_cost %}{{business.sp_cost|floatformat:2}}{% else %}{{mpay|floatformat:2}}{% endif %}">
                                    <input type="text" class="cat_price tttxt year" style="width:80px !important; display:none;" name="price_{{business_price.id}}" id="price_{{business_price.id}}" value="{% if business.is_paid and business.sp_cost %}{{business.sp_cost|floatformat:2}}{% else %}{{ypay|floatformat:2}}{% endif %}">
                                {% elif business_price.level == 'level2' %}
                                    <input type="text" name="price_{{business_price.id}}" style="width:80px !important;" id="price_{{business_price.id}}" class="tttxt month" value="{% if business.payment.id == business_price.id  %}{{business.sp_cost|floatformat:2}}{% else %}{{business_price.price_month|floatformat:2}}{% endif %}">
                                    <input type="text" name="price_{{business_price.id}}" style="width:80px !important;display:none;" id="price_{{business_price.id}}" class="tttxt year" value="{% if business.payment.id == business_price.id  %}{{business.sp_cost|floatformat:2}}{% else %}{{business_price.price_year|floatformat:2}}{% endif %}">
                                {% elif business_price.level == 'level0' %}
                                    <input type="text" id="price_{{business_price.id}}" value="0">
                                {% endif %}
                            </div>
                        {% endfor %}
                        <span class="pdr6" style="float: left; margin: 5px 0px 0px 10px;"><label><span class="cform-checkbox-container"><input type="checkbox" name="is_paid" id="id_is_paid" {% if business.is_paid and business.sp_cost %}checked="checked"{% endif %}><span class="cform-checkbox-element"></span></span> Paid</label></span>
                        <!--span class="tip" style="display:inline-block;">{% trans 'Choose how would you like to promote your business listing in the website.' %}</span-->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-base form-submit group">
               <button role="button" class="cform-button prime right" type="button" onclick="save_listing_type({{business.id}})"><span class="cform-button-text">{% trans 'Update' %}</span></button>
        </div>
    </form>
    <script type="text/javascript" src="{{STATIC_URL}}ui/js/inline.js"></script>
    <script type="text/javascript">
        function payment_option(id){
            $('.payment_div').hide();
            $('#id_'+id).show();
            $.colorbox.resize();
        }
    $(document).ready(function(){
        if($("#id_listing_end_date").length){
            $("#id_listing_end_date").datepicker({ dateFormat: "dd/mm/yy",minDate: new Date() });
        }
        if($("#id_listing_start_date").length){
            $("#id_listing_start_date").datepicker({ dateFormat: "dd/mm/yy",minDate: new Date(),
                onSelect: function(){
                    enddate = $(this).val();
                    splittedval = enddate.split('/');
                    var date = new Date(splittedval[2], splittedval[1]-1, splittedval[0]);
                    //date.setDate(date.getDate() + 1);
                    $("#id_listing_end_date").datepicker( "option", "minDate", date );
                }
            });
        }
    });
    function payment_period(type){
        var now = new Date($('#current_date').val());
        if(type=='Y'){
            now.setYear((parseInt(now.getFullYear())+1));
            $('.year').show();
            $('.month').hide();
        }
        else{
            now.setMonth((parseInt(now.getMonth())+1));
            $('.month').show();
            $('.year').hide();
        }
        $('#id_listing_end_date').val($.datepicker.formatDate('dd/mm/yy',now));
    }
    </script>
</div>
