{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% block navigation %}
    {% activetab "selmodule" "business" %}
    {{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Business' %} {% endblock %}
{% block head %}
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
{% endblock %}
{% block content %}
<div id="staff-platform" class="group">
      <div class="header-bar has-sub">
    <h2>{% trans 'Business' %}</h2>
        <section class="sub-header-bar">
            <div class="group">
                  <div class="filter-view-tabs">
                        <ul class="left">
                              <li><label>{% trans 'View:' %}</label></li>
                              <li class="view-tab tip tip1" id="filter_a">
                                    <a title="{% trans 'View All' %}" name="all" id="listing_all" class="view-both tttxt-n active first" href="javascript:void(0)"><span>All</span></a>
                                    <a title="{% trans 'Pending Only' %}" name="N" id="listing_pending" class="view-pending tttxt-n" href="javascript:void(0)"><span>Pending</span></a>
                                    <a title="{% trans 'Published only' %}"  name="P" id="listing_published" class="view-published tttxt-n" href="javascript:void(0)"><span>Published</span></a>
                                    <a title="{% trans 'Rejected only' %}" name="R" id="listing_rejected" class="view-rejected tttxt-n " href="javascript:void(0)"><span>Rejected</span></a>
                                    <a title="{% trans 'Drafted only' %}" name="D" id="listing_drafted" class="view-expired tttxt-n" href="javascript:void(0)"><span>{% trans 'Drafted' %}</span></a>
                                    <a title="{% trans 'Blocked only' %}" name="B" id="listing_blocked" class="view-withdrawn tttxt-n last" href="javascript:void(0)"><span>{% trans 'Blocked' %}</span></a>
                              </li>
                              <li class="view-tab tip tip2" id="filter_b">
                                    <a title="{% trans 'View All' %}" name="all" class="view-both tttxt-n active first" href="javascript:void(0)"><span>{% trans 'All' %}</span></a>
                                    <a title="{% trans 'Show Featured' %}" name="F" class="view-featured tttxt-n" href="javascript:void(0)"><span>{% trans 'Featured' %}</span></a>
                                    <a title="{% trans 'Show Sponsored' %}" name="S" class="view-sponsored tttxt-n" href="javascript:void(0)"><span>{% trans 'Sponsored' %}</span></a>
                                    <a title="{% trans 'Show Free' %}" name="B" class="view-free tttxt-n last" href="javascript:void(0)"><span>{% trans 'Free' %}</span></a>
                              </li>
                              <li class="view-tab tip tip3" id="filter_c">
                                    <a title="{% trans 'View All' %}" class="view-both tttxt-n active first" name="all" href="javascript:void(0)"><span>{% trans 'All' %}</span></a>
                                    <a title="{% trans 'Show Business posted by me' %}"  name="CSM" class="view-mine tttxt-n" href="javascript:void(0)"><span>{% trans 'Your' %}</span></a>
                                    <a title="{% trans 'Show Business posted by others' %}" name="CSO" class="view-others tttxt-n last" href="javascript:void(0)"><span>{% trans 'Others' %}</span></a>
                              </li>
                        </ul>
                        <form action="#" id="article-search-form" class="module-search tip tip4">
                            <button role="button" class="cform-button search-button" type="button" onclick="$('#id_search').val('true'),$('#id_search_cat').val(''),sort_search();"><span class="search-icon">{% trans 'Search' %}</span></button>
                            <div class="inline-block relative-block">
                                <!--span onclick="clear_search();" class="reset txt-button tttxt" id="close_search" title="{% trans 'Clear Search' %}" style="{% if not search %}display:none;{% endif %}">Clear search</span-->
                                <input type="text" placeholder="{% trans 'Search business' %}" onkeyup="$('.search_adv2').val(this.value);" name="search_keyword" id="id_search_keyword" class="search-list-items search_adv1" style="width: 140px;">
                                <div class="call-advanced-search">
                                    <span class="arrow-down tttxt" title="{% trans 'Show search options' %}"></span>
                                </div>
                                <div id="advanced-search-options" style="display: none;">
                                    <div class="search-head">
                                        <!-- h5>Search</h5 -->
                                        <span class="inline-block icon-close close-this"></span>
                                    </div>
                                    <div class="advanced-search-fields">
                                        <dl class="vertical">
                                            <dt><label>{% trans 'Search' %}</label></dt>
                                            <dd>
                                                <input type="text" class="search_adv2" onkeyup="$('.search_adv1').val(this.value);" placeholder="{% trans 'keywords' %}" name="search_keyword" id="id_search_keyword1" style="width:161px;height:25px;">
                                            </dd>
                                            <dt></dt>
                                            <dd>
                                                <select style="width: 165px;" class="select-menu" id="search_type">
                                                    <option value="">{% trans 'All' %}</option>
                                                    <option value="title">{% trans 'Title' %}</option>
                                                    <option value="description">{% trans 'Description' %}</option>
                                                </select>
                                            </dd>
                                            <dt></dt>
                                            <dd>
                                                <select style="width: 165px;" class="select-menu" id="search_category">
                                                     <option value="">{% trans 'All Category' %}</option>
                                                       {% for cat in categories %}
                                                        <option class="parent" value="{{cat.id}}">{{cat.name}}</option>
                                                           {% for c in cat.getChildCategory %}
                                                            <option class="child" value="{{ c.id }}">{{ c.name }}</option>
                                                        {% endfor %}
                                                       {% endfor %}
                                                </select>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-submit"><button type="button" class="btn-txt-blue small advnc_search" onclick="$('#id_search').val('true'),$('#id_search_cat').val($('#search_category').val()),sort_search();" role="button"><span class="btn-txt">{% trans 'Search' %}</span></button></div>
                                </div>

                            </div>
                        </form>
                  </div>
                <div class="add-section-right has_icon">
                  <a href="{% url 'staff_add_business' %}" title="Add New Business" class="btn-txt-prime {% if not perms.business.add_business %}disabled{% endif %}"><!--bm-upload-photos--><span class="btn-txt">{% trans 'Add Business' %}</span></a>
                  <a href="{% url 'staff_business_import_csv' %}" class="btn-txt-prime csv tttxt-n" title="Add Business via CSV"><span class="icon upload"></span></a>
                  <a href="{% url 'staff_business_export_csv' %}" class="btn-txt-prime csv tttxt-n" title="Export Business to CSV"><span class="icon import"></span></a>
                </div>
            </div>
        </section>
         </div>
        <div id="core-wraper" class="group">
            <div class="staff-main">
                  <div class="page-wrap">
                    <div id="articles" class="group">
                        <section class="toolbars">
                            <div class="group">
                                <ul class="toolbar left">
                                    <li class="master-check tool">
                                        <span class="cform-checkbox-container"><input type="checkbox" value="true" id="master_check" name="master-check"><span class="cform-checkbox-element"></span></span>
                                    </li>
                                    {% if perms.business.publish_business or perms.business.delete_business %}
                                    <li class="tool action_status tip tip5">
                                        <select id="actionSelect" data-placeholder="{% trans 'Action' %}" class="select-menu" onchange="$('#id_action').val($(this).val()),action();" style=" width:140px;">
                                          <option value=""></option>
                                          {% if perms.business.delete_business %}
                                            <option value="DEL">{% trans 'Delete' %}</option>
                                            {% endif %}
                                                  <optgroup label="Status">
                                            {% if perms.business.publish_business %}
                                                         <option value="P" class='publish_action'>{% trans 'Publish' %}</option>
                                                        <option value="B" class='block_action'>{% trans 'Block' %}</option>
                                                          <option value="R" class='reject_action'>{% trans 'Reject' %}</option>
                                            {% endif %}
                                                  </optgroup>
                                        </select>
                                    </li>
                                    {% endif %}
                                    <li class="tool tip tip6">
                                        <label class="inline-block">{% trans 'Sort by:' %}</label>
                                        <select id="orderSelect" onchange="$('#id_sort').val($(this).val()),sort_content();" style="width:150px;" class="select-menu">
                                              <option value="-created_on" selected="">{% trans 'Newest' %}</option>
                                              <option value="created_on">{% trans 'Oldest' %}</option>
                                              <option value="-most_viewed">{% trans 'Most Viewed' %}</option>
                                        </select>
                                    </li>
									<li class="tool tip tip7">
                                        <label class="inline-block">{% trans 'Requests:' %}</label>
                                        <select id="id_claimed" name="claimed" onchange="filter_claim($(this).val());" style="width:100px;" class="select-menu">
                                              <option value="" selected=""></option>
											  <option value="all">{% trans 'All Claim Request' %}</option>
                                              <option value="0">{% trans 'Pending Claim Request' %}</option>
											  <option value="1">{% trans 'Approved Claim Request' %}</option>
                                              <option value="3">{% trans 'Pending Unsubscribe Request' %}</option>
                                        </select>                                                    
                                    </li>
                                </ul>
                                {% include 'common/pagination_top.html'%} <!-- pagination top -->

                            </div>
                        </section>
                        <span id="ajax_content_loading" class="load-list-items" style="display:none">
                             <img src="{{STATIC_URL}}ui/images/global/loading.gif" align="...">
                        </span>
                        <div style="display:none;" class="info-bar" id="top_info_bar"></div>
                        <div id="ajax_content_cls" class="group">
                            {% include 'business/staff/ajax_listing.html'%}
                           </div>
                    </div> <!-- end table -->
              </div>  <!-- end page wrap -->
        </div>  <!-- end main-col -->
        <div id="aside" class="side-bar">
            <div id="module-stats" class="section">
                <div class="group">
                    <h5>{% trans 'State' %}</h5>
                    <div class="stats-toggle tip tip8">
                        <a class="state-all statefltr {% if status == 'all' %}active{% endif %} tttxt" onclick="show_count('all');"  href="javascript:void(0)" id="id_status_all" title="{% trans 'Show all state' %}"><span class="icon-state-all"></span></a>
                        <a class="state-you statefltr {% if status == 'mine' %}active{% endif %} tttxt" onclick="show_count('mine');" href="javascript:void(0)" id="id_status_mine" title="{% trans 'Show your state' %}"><span class="icon-state-you"></span></a>
                    </div>
                    <span id="ajax_loading" class="loading-stats"  style="display:none;"><img src="{{STATIC_URL}}ui/images/global/loading-s.gif" align="..."></span>
                </div>
                <ol class="stats-summary" id="id_module_state_listing">
                     {% include 'business/staff/ajax_sidebar.html' %}
                </ol>
                <!--a href="{% url 'staff_business_import_csv' %}" title="Add New Business vis CSV" style="margin-top:5px;" class="btn-txt-prime {% if not perms.business.add_business %}disabled{% endif %}"><span class="btn-txt">{% trans 'Import Business via CSV' %}</span></a>
                <a href="{% url 'staff_business_export_csv' %}" title="Export Business vis CSV" style="margin-top:5px;" class="btn-txt-prime"><span class="btn-txt">{% trans 'Export Business via CSV' %}</span></a-->
            </div>
            {% include 'business/staff/faq.html' %}
        </div>
    </div>
</div>
{% endblock %}
{% block footer_include %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ui/js/listing_settings.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.datepicker.js"></script>
<script type="text/javascript">
function txtarealimit(txtobj,len){
    var txtvalue = txtobj.value;
    var the_len = txtvalue.length;
    if (the_len > len){
        txtobj.value = txtvalue.substring(0,len);
    }
    txtobj.scrollTop=txtobj.scrollHeight;
}
function clear_adv_srchfields(){
    $('select#search_type').val("").trigger("liszt:updated");
    $('#search_category').val("").trigger("liszt:updated");
    //$('#search_status').val("").trigger("liszt:updated");
}

function filter_action(ids,action){
    var all_ids=[];
    var dataString='';
    dataString+="sort="+$('#id_sort').val();
    dataString+="&listing="+$('#id_listing_type').val();
    dataString+="&created="+$('#id_created').val();
    if($('#id_status').val()!='' && $('#id_status').val()!=null){
            dataString+="&status="+$('#id_status').val();
        }
    if($('#id_pagentn').val()!='' && $('#id_pagentn').val()!=null){
        dataString+="&page="+$('#id_pagentn').val();
    }
    if($('#id_item_per_page').val()!='' && $('#id_item_per_page').val()!=null){
        dataString+="&item_perpage="+$('#id_item_per_page').val();
    }
    if($('#id_search').val()!='' && $('#id_search').val()!=null){
        dataString+="&search=true";
        dataString+="&kwd="+$('#id_search_keyword').val();
        dataString+="&type="+$('#search_type').val();
        dataString+="&cat="+$('#search_category').val();
    }
    if(action=='#'){
        dataString+="&action="+$('#id_action').val();
        if(ids==0){
            var ids=[];
            $('.cbox:checked').each(function(){
                ids.push($(this).val());
            });
        }
    }else{dataString+="&action="+action;}
    $('.cbox').each(function(){
        all_ids.push($(this).val());
    });
    dataString+="&ids="+ids;
    dataString+="&all_ids="+all_ids;
    $('#ajax_action_loading').show();
    hide_top_info_bar();
    $.ajax({
    type: "get",
    url: "{% url 'ajax_business_action' %}",
    data: dataString,
    dataType:'json',
    success: function(data){
            show_top_info_bar('Business');

            $("#master_check").attr('checked',false);
            $('#ajax_action_loading').hide();
            $('#actionSelect').val('').trigger("liszt:updated");
            try{for(i=0;i<ids.length;i++){$('#li_'+ids[i]).remove();}$('#li_'+ids).remove();}
            catch(e){$('#li_'+ids).remove();}
            $('#ajax_content_list').append(data.html);
            $('#pagenation').empty().html(data.pagenation);
            show_msg(data.msg,data.mtype);
            if(data.search){$('#close_search').show();}
            if(data.count){
                if(data.next){$('#top_pge_next').removeClass('inactive');}
                else{$('#top_pge_next').addClass('inactive');}
                if(data.previous){$('#top_pge_previous').removeClass('inactive');}
                else{$('#top_pge_previous').addClass('inactive');}
                $('#id_from_to').html(data.pagerange);
                $('#top_item_count').html("&nbsp;&nbsp;"+data.count);
            }else{
                $('#top_pge_next').addClass('disabled');
                $('#top_pge_previous').addClass('disabled');
                $('#id_from_to').html('0-0');
                $('#top_item_count').html('0');
            }
            $(".bm-create-gallery").colorbox({width: "880", initialWidth: "880", top:"5%"});
            $('.light_box').colorbox({width: "560",initialWidth: "560", top:"5%", initialHeight: "200"});
            show_count('all');
        }
    });
}
function filter_content(){
    var ids=[]
    var dataString='';
    dataString+="sort="+$('#id_sort').val();
    dataString+="&listing="+$('#id_listing_type').val();
    dataString+="&created="+$('#id_created').val();
    if($('#id_status').val()!='' && $('#id_status').val()!=null){
            dataString+="&status="+$('#id_status').val();
        }
    if($('#id_pagentn').val()!='' && $('#id_pagentn').val()!=null){
        dataString+="&page="+$('#id_pagentn').val();
    }
    if($('#id_item_per_page').val()!='' && $('#id_item_per_page').val()!=null){
        dataString+="&item_perpage="+$('#id_item_per_page').val();
    }
    if($('#id_search').val()!='' && $('#id_search').val()!=null){
        dataString+="&search=true";
        dataString+="&kwd="+$('#id_search_keyword').val();
        dataString+="&type="+$('#search_type').val();
        dataString+="&cat="+$('#id_search_cat').val();
    }
    if($('#id_action').val()!='0' && $('#id_action').val()!=''){
        $('.cbox:checked').each(function(){
            ids.push($(this).val());
        });
        dataString+="&action="+$('#id_action').val();
        dataString+="&ids="+ids;
    }
    hide_top_info_bar();
    $('#ajax_content_cls').hide();
    $('#ajax_content_loading').show();
    $.ajax({
    type: "GET",
    url: "{% url 'ajax_list_business' %}",
    data: dataString,
    dataType:'JSON',
    success: function(data){

            show_top_info_bar('Business');

            $('#id_pagentn').val('');
            $('#id_action').val('');
            $('#ajax_content_loading').hide();
            $('#ajax_content_cls').empty().html(data.html);
            $('#ajax_content_cls').show();
            if(data.search){$('#close_search').show();}
            if(data.count){
                if(data.next){$('#top_pge_next').removeClass('inactive');}
                else{$('#top_pge_next').addClass('inactive');}
                if(data.previous){$('#top_pge_previous').removeClass('inactive');}
                else{$('#top_pge_previous').addClass('inactive');}
                $('#id_from_to').html(data.pagerange);
                $('#top_item_count').html("&nbsp;&nbsp;"+data.count);
            }else{
                $('#top_pge_next').addClass('disabled');
                $('#top_pge_previous').addClass('disabled');
                $('#id_from_to').html('0-0');
                $('#top_item_count').html('0');
            }
            $('.light_box').colorbox({width: "560",initialWidth: "560", top:"5%", initialHeight: "200"});
            $(".bm-create-gallery").colorbox({width: "880", initialWidth: "880", top:"5%"});
            show_count('all');
			$('html,body').animate({ scrollTop: 0 }, 'slow');
        }
    });
}

function custom_clear_top_info_bar(){
    $('#id_search').val('');
    $('#id_search_keyword').val('');
    $('#id_pagentn').val('1');

    $('#id_status').val('all');
    $('#id_listing_type').val('all');
    $('#id_created').val('all');

    $('#filter_a a').removeClass('active');
    $('#filter_b a').removeClass('active');
    $('#filter_c a').removeClass('active');

    $('#filter_a .first').addClass('active');
    $('#filter_b .first').addClass('active');
    $('#filter_c .first').addClass('active');

    $('#top_info_bar').hide();
}

function filter_claim(val){
    if(val!=''){
        var dataString='';
        $('#id_current_items').removeClass('current-items')
        dataString+="claim="+val;
        if($('#id_pagentn').val()!='' && $('#id_pagentn').val()!=null){
            dataString+="&page="+$('#id_pagentn').val();
        }
        if($('#id_item_per_page').val()!='' && $('#id_item_per_page').val()!=null){
            dataString+="&item_perpage="+$('#id_item_per_page').val();
        }
        custom_clear_top_info_bar()
        $('#ajax_content_cls').hide();
        $('#ajax_content_loading').show();
        $.ajax({
        type: "GET",
        url: "{% url 'staff_ajax_list_business_claim' %}",
        data: dataString,
        dataType:'JSON',
        success: function(data){
				if(val=='all'){
                    t=gettext('Showing all claim requests.');
                }else if(val=='0'){
                    t=gettext('Showing pending claim requests.');
                }else if(val=='1'){
                    t=gettext('Showing approved claim requests.');
                }else if(val=='3'){
                    t=gettext('Showing all unsubscribe requests.');
                }
                var a_link=" <a class='text-link'  href='javascript:clear_claim()'>"+gettext("Clear filter")+"</a>";
                txt=t+a_link;
                $('#top_info_bar').empty().html(txt);
                $('#top_info_bar').show();

                $('#id_pagentn').val('');
                $('#id_action').val('');
                $('#ajax_content_loading').hide();
                $('#ajax_content_cls').empty().html(data.html);
                $('#ajax_content_cls').show();

                $('#top_pge_next').addClass('inactive disabled');
                $('#top_pge_previous').addClass('inactive  disabled');
                $('#id_from_to').html(data.count);
                $('#top_item_count').html(data.count);

                $('.light_box').colorbox({width: "560",initialWidth: "560", top:"5%", initialHeight: "200"});
                $(".bm-create-gallery").colorbox({width: "880", initialWidth: "880", top:"5%"});
            }
        });
    }else{
        filter_content();
    }
}

function show_count(value){
    $('#ajax_loading').show();
    $('.statefltr').removeClass('active');
    $('#id_status_'+value).addClass('active');
    $.ajax({
    type: "GET",
    url: "{% url 'ajax_business_state' %}",
    data: 'status='+value,
    dataType:'JSON',
    success: function(data){
            $('#ajax_loading').hide();
            $('#id_pend').html(data.pending);
            $('#id_pub').html(data.published);
            $('#id_rej').html(data.rejected);
            $('#id_blk').html(data.blocked);
            $('#id_tot').html(data.total);
        }
    });
}
/*function clear_search(){
    $('#id_search').val('');
    $('#id_search_keyword').val('');
    $('#close_search').hide();
    $('#id_pagentn').val('1');
    $("#search_status option:first").attr('selected','selected')
    filter_content();
}*/
function sort_search(){
    clear_for_search();
    //sort_content()
}
function sort_content(){
    $('#id_pagentn').val('1')
    filter_content();
}
function action(){
    var flag=false;
    var flag_action=false;
    if($('#id_action').val()!='0'){
        $('.cbox:checked').each(function(){
            flag=true;
        });
        if(flag){
            if($('#id_action').val()=='DEL'){
                 if(confirm(gettext('Are you sure you want to delete business(s) ?'))){flag_action=true;}
            }
            if($('#id_action').val()=='P'){
                if(confirm(gettext('Are you sure you want to Publish business(s) ?'))){flag_action=true;}
            }
            if($('#id_action').val()=='B'){
                if(confirm(gettext('Are you sure you want to Block business(s) ?'))){flag_action=true;}
            }
            if($('#id_action').val()=='R'){
                if(confirm(gettext('Are you sure you want to Reject these business(s) ?'))){flag_action=true;}
            }
            if(flag_action){filter_action(0,'#');}
        }else{
            alert('Please select business(s)')
        }
    }
}
$(document).ready(function(){
    $('.tool.action_status .chzn-container').addClass('chzn-disabled , disabled_chosen');
    {% if recent %}
            $('#id_status').val('N');
            $('#filter_a a').removeClass('active');
            $('#listing_pending').addClass('active');
            filter_content();
    {% endif %}

    $('#filter_a a').click(function(){
        $('#id_status').val($(this).attr('name'));
        if(!$(this).hasClass('active')){
            $('#filter_a a').removeClass('active');
            $(this).addClass('active');
        }
        filter_content();
    });
    $('#filter_b a').click(function(){
        $('#id_listing_type').val($(this).attr('name'));
        if(!$(this).hasClass('active')){
            $('#filter_b a').removeClass('active');
            $(this).addClass('active');
        }
        filter_content();
    });
    $('#filter_c a').click(function(){
        $('#id_created').val($(this).attr('name'));
        if(!$(this).hasClass('active')){
            $('#filter_c a').removeClass('active');
            $(this).addClass('active');
        }
        filter_content();
    });
    $('#master_check').click(function(){
        if($("#master_check").is(':checked')){$(".cbox").attr('checked',true);}
        else{$(".cbox").attr('checked',false);}
    });
});
function save_seo(option){
    var flag = $('#mform').validate().form()
    var id=0;
    if(flag==true){
        var dataString='&slug='+encodeURIComponent($('#id_slug').val());
        dataString+='&seo_title='+encodeURIComponent($('#id_seo_title').val());
        dataString+='&seo_description='+encodeURIComponent($('#id_seo_description').val());
        $('#ajax_content_seo').hide();
        $('#ajax_content_loading_seo').show();
        $.ajax({
        type: "POST",
        url: $("#mform").attr("action"),
        data: dataString,
        dataType:'JSON',
        success: function(data){
                $('#ajax_content_loading_seo').html(data.msg);
                if(data.status){
                    show_msg(data.msg,data.mtype);
                    $.colorbox.close();
                }else{
                    $('#ajax_content_loading_seo').hide();
                    $('#ajax_content_seo').empty().html(data.lightbox_html);
                    $('#ajax_content_seo').fadeIn(2000);
                }
            }
        });
    }
}
function save_listing_type(id){
    var dataString="id="+id;
    var payment_id=$('input[name=listingtype]:checked').val();
    dataString+='&listingtype='+payment_id;
    dataString+='&period='+$('#period_type').val();
    dataString+='&start_date='+$('#id_listing_start_date').val();
    dataString+='&end_date='+$('#id_listing_end_date').val();
    if($('#id_is_paid').attr('checked') == 'checked'){
        dataString+='&is_paid=on';
    }else{
        dataString+='&is_paid=off';
    }
    dataString+='&price_'+payment_id+'='+$('#price_'+payment_id).val();
    $.ajax({
    type: "POST",
    url: "{% url 'staff_business_listing_type' %}",
    data: dataString,
    dataType:'JSON',
    success: function(data){
            /*if(data.listingtype=='F'){
                $('#ltype_'+data.id).prepend("<span class='featured'><a class='tttxt' title='Item listed as featured' href='#'>Featured</a></span>")
            }
            else if(data.listingtype=='S'){
                $('#ltype_'+data.id).prepend("<span class='sponsored'><a class='tttxt' title='Item listed as Sponsored' href='#'>Sponsored</a></span>")
            }
            else{
                $('#ltype_'+data.id).find('.sponsored').remove();
                $('#ltype_'+data.id).find('.featured').remove();
            }*/
            show_msg(data.msg,data.mtype);
            filter_content();
            $.colorbox.close();
        }
    });
}
function save_claimoption(id){
    var claimoption=$('input[name=claimoption]:checked').val();
    $.ajax({
    type: "POST",
    url: "{% url 'staff_ajax_list_business_claim_status' %}",
    data: 'option='+claimoption+'&id='+id,
    dataType:'JSON',
    success: function(data){
            show_msg(data.msg,data.mtype);
            filter_claim($('#id_claimed').val());
            $.colorbox.close();
        }
    });
}
function save_unsubscription(id){
	var claimoption=$('input[name=claimoption]:checked').val();
	$.ajax({
	type: "POST",
	url: "{% url 'staff_ajax_biz_unsubscription' %}",
	data: 'option='+claimoption+'&id='+id,
	dataType:'JSON',
	success: function(data){
			show_msg(data.msg,data.mtype);
			filter_claim($('#id_claimed').val());
			$.colorbox.close();
		}
	});
}
</script>
<ul class="tour_link">
    <li class="tool-tip tttxt-t1"><a class="link1" href="/bmt/tour/business/staff/status.html"></a></li>
    <li class="tool-tip tttxt-t2"><a class="link2" href="/bmt/tour/business/staff/listing_type.html"></a></li>
    <li class="tool-tip tttxt-t3"><a class="link3" href="/bmt/tour/business/staff/submissions.html"></a></li>
    <li class="tool-tip tttxt-t4"><a class="link4" href="/bmt/tour/business/staff/search.html"></a></li>
    <li class="tool-tip tttxt-t5"><a class="link5" href="/bmt/tour/business/staff/actions.html"></a></li>
    <li class="tool-tip tttxt-t6"><a class="link6" href="/bmt/tour/business/staff/sorting.html"></a></li>
    <li class="tool-tip tttxt-t7"><a class="link7" href="/bmt/tour/business/staff/business/claim.html"></a></li>
    <li class="tool-tip tttxt-t8"><a class="link8" href="/bmt/tour/business/staff/state.html"></a></li>
    <li class="tool-tip tttxt-t9"><a class="link9" href="/bmt/tour/business/staff/status_aside.html"></a></li>
    <li class="tool-tip tttxt-t10"><a class="link10" href="/bmt/tour/business/staff/settings.html"></a></li>
</ul>
{% endblock %}
