{% extends "staff_base.html" %}
{% load tabs %}
{% load upload_tags %}
{% load i18n %}
{% block navigation %}
	{% activetab "selmodule" "sweepstakes" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Sweepstakes' %} {% endblock %}
{% block head %}
<!-- CALENDER -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/LE_MetaId99.css">
<style>
#available_apps_chzn{float:left !important;}
</style>
<!-- CALENDER -->
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bm.jfp.ui.css">
{% endblock %}
{% block content %}
 <div id="staff-platform" class="group">
    <div class="header-bar">
    	<a href="{% url 'staff_manage_sweepstakes' %}"><h2><span class="go_back"></span>{% trans 'Sweepstakes' %}</h2></a>
	</div>
    <div id="core-wraper" class="group">
        <div class="staff-main">
            <div class="page-wrap">
                <div id="sweepstakes-add" class="group">
                    <div id="add-new-sweepstakes">
                    	{% if form.errors %}
							<div class="messageerror" >
								<span style="font-size:1.2em;font-weight:250;"><strong>{% trans "There is a problem with your submission" %}</strong></span>
						        {% if form.errors %}
								<ul>{% for field in form %}
								 	{% if field.errors%}<li>{{field}}{%for error in field.errors%}{{error}}{%endfor%}</li>{% endif %}
						 		 {% endfor %}</ul>
								{% endif %}
							</div>
						{% endif %}
                        <form id="mform" name="mform" onsubmit="return validate()" action="{% url 'staff_add_sweepstakes' %}" method="post">
                            <div class="fields hform">
                                <div class="field-group">              
                                    <div class="field text-field fd-title">
                                        <div class="label"><label for="">{% trans "Sweepstakes Title" %}<span class="required-field">*</span></label></div>
                                        <div class="value">
                                        	{{form.title}}{{ form.image.as_hidden }}
                                            <span class="tip">{{globalsettings.website_url}}/sweepstakes/{{form.slug}}</span>
                                        </div>
                                    </div>
                                    <div class="field text-field">
                                        <div class="label"><label for=""></label></div>
                                        <div class="value">
                                            <div id="fileupload" >
										 		<div class="fileupload-content">
										    		<ul class="files bm-uploader-list"></ul>
												</div>
								            	{% csrf_token %}<div class="clear"></div>
								            	<div class="upload-button-wrapper" id="upload-button-wrapper">
								                	<a class="upload-button" id="upload-button">{% trans 'Attach Logo' %}</a>
								                    <div class="fileinput-button">
								                    	<input type="file" size="1" name="photo" id="id_photo" multiple=""  accept="image/*" tabindex="-1">
													</div>
								                </div>
											</div>
                                        </div>
                                    </div>
                                </div> <!--/field-group--> 
								<div class="clear"></div>
                                <div class="field-group" id="">
                                    <div class="fields-head"></div>                                            
                                    <div class="field text-field">	
                                        <div class="label"><label for="">Description<span class="required-field">*</span></label></div>	
                                        <div class="value">{{form.description}}</div>	
                                    </div>
                                </div> <!--/field-group--> 
								<div class="field-group">
	                                <div class="fields-head"></div>
									<div class="field text-field fd-title">
                                        <div class="label"><label for="">{% trans "No of Winners" %}<span class="required-field">*</span></label></div>
                                        <div class="value">{{form.total_winners}}</div>
                                    </div>
	                                <div class="field text-field">	
	                                    <div class="label"><label for="">{% trans 'Duration Type' %}<span class="required-field">*</span></label></div>	
	                                    <div class="value">
											<span style="float:left; display:block; margin-right:10px;">
												<select onchange="check_duration($(this).val())" id="id_duration" name="duration" class="select-menu" style="width:150px;">
													<option value='N'>{% trans 'Start-End Date' %}</option>
													<option value='W'>{% trans 'Weekly' %}</option>
													<option value='M'>{% trans 'Monthly' %}</option>
												</select>
											</span> 
										</div>
									</div>	
								</div>
								<div class="field-group" id="duration_holder">
	                                <div class="fields-head"></div>
                                    <div class="field text-field duration_hide_show" id="duration_weekly" style="display:none;">	
	                                    <div class="label"><label for="">{% trans 'Select Winner On' %}<span class="required-field">*</span></label></div>	
	                                    <div class="value">
											<input type="radio" name="duration_week" checked="checked" id="su" value="SU"/><label style="vertical-align: text-bottom;" for="su">{% trans "Sunday" %}</label>
											<input type="radio" name="duration_week" id="mo" value="MO"/><label style="vertical-align: text-bottom;" for="mo">{% trans "Monday" %}</label>
											<input type="radio" name="duration_week" id="tu" value="TU"/><label style="vertical-align: text-bottom;" for="tu">{% trans "Tuesday" %}</label>
											<input type="radio" name="duration_week" id="we" value="WE"/><label style="vertical-align: text-bottom;" for="we">{% trans "Wednesday" %}</label>
											<input type="radio" name="duration_week" id="th" value="TH"/><label style="vertical-align: text-bottom;" for="th">{% trans "Thursday" %}</label>
											<input type="radio" name="duration_week" id="fr" value="FR"/><label style="vertical-align: text-bottom;" for="fr">{% trans "Friday" %}</label>
											<input type="radio" name="duration_week" id="sa" value="SA"/><label style="vertical-align: text-bottom;" for="sa">{% trans "Saturday" %}</label>
										</div>
									</div>
									<div class="field text-field duration_hide_show" id="duration_monthly" style="display:none;">	
	                                    <div class="label"><label for="">{% trans 'Select Winner On' %}<span class="required-field">*</span></label></div>	
	                                    <div class="value">
											<select id="duration_year" name="duration_month" class="select-menu" style="float:left;width:70px;">
												{% for x in daterange %}
												<option value='{{x}}'>{{x}}{% if x == 1 %}{% trans "st" %}{% else %}{% if x == 2 %}{% trans "nd" %}{% else %}{% if x == 3 %}{% trans "rd" %}{% else %}{% trans "th" %}{% endif %}{% endif %}{% endif %}</option>
												{% endfor %}
											</select> 
											<span class="tip"><span>{% trans "of every month." %}</span>{% trans "If date is greater than month end date winner will be selected on month end." %}
										</div>
									</div>
									<div class="field text-field">	
	                                    <div class="label"><label for="">{% trans 'Start Date' %}<span class="required-field">*</span></label></div>	
	                                    <div class="value">{{form.start_date}}
										</div>
									</div>
									<div class="field text-field">	
	                                    <div class="label"><label for="">{% trans 'End Date' %}<span class="required-field">*</span></label></div>	
	                                    <div class="value">{{form.end_date}}
										</div>
									</div>
								</div>	 
								<div class="field-group">
	                                <div class="fields-head"></div>
									<div class="field text-field">	
	                                    <div class="label"><label for="">{% trans 'Terms' %}</label></div>	
	                                    <div class="value">
											{{form.static_page}}
											<span class="tip">{% trans "Please select terms from static/custom page. " %}</span>
										</div>
									</div>
	                                <div class="field text-field">	
	                                    <div class="label"><label for="">{% trans 'Page Title' %}</label></div>	
	                                    <div class="value">{{form.seo_title}}</div>
									</div>
									<div class="field text-field">	
	                                    <div class="label"><label for="">{% trans 'Page Description' %}</label></div>	
	                                    <div class="value">{{form.seo_description}}</div>
									</div>	
								</div>	   
								<div class="field-group">
	                                <div class="fields-head"></div>
									<div class="field text-field">	
	                                    <div class="label"><label for="">{% trans 'Select Apps' %}</label></div>	
	                                    <div class="value">
											<select class="select-menu" name="available_apps" id="available_apps" style="width:480px;" multiple="multiple">
												{% for app in available_apps %}
													<option value="{{app.id}}">{{app.label}}</option>
												{% endfor %}
											</select>
											<a href="javascript:void(0)" id="available_apps_select" style="float: left; padding: 4px; margin-left: 4px;">{% trans "Select All" %}</a>
											<a href="javascript:void(0)" id="available_apps_deselect" style="float: left; padding: 4px 0; margin-left: 4px;">{% trans "Clear" %}</a>
										</div>
									</div>
									{% for app in available_apps %}
	                                <div class="field text-field cls_container cls_{{app.id}}"  style="display:none;">	
	                                    <div class="label"></div>	
	                                    <div class="value">
											<input value="0" type="text" id="{{app.id}}" class="fm numbersOnly" title="{{app.label}}" maxlength="2" name="{{app.id}}" autocomplete="off" style="width: 25px; padding: 4px; height: 15px;">
											<label style="padding4px;margin-left:5px;" for="">{{app.label}}</label>
										</div>
									</div>
									{% endfor %}
								</div>	                                
                            </div> 
                            <div class="form-submit right group">
                               <button class="cform-button" roll="button" type="button" onclick="window.location.replace('{% url 'staff_manage_sweepstakes' %}')"><span class="cform-button-text">{% trans 'Cancel' %}</span></button>
							   <button role="button" class="cform-button prime" type="submit"><span class="cform-button-text">{% trans 'Save' %}</span></button>
                            </div>                                                
                        </form>
                    </div>																	                                        
                </div> <!-- end table -->                                    
            </div><!-- end page wrap -->
        </div>  <!-- end main-col -->                            
        <div id="aside" class="side-bar">
			{% include 'sweepstakes/staff/add_update_faq.html' %}
		</div>        
	</div>                            
</div>
{% endblock %}			
{% block footer_include %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.datepicker.js"></script>
{% upload_js %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.jfp.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.fup.appln.js"></script>
<script src="{{ STATIC_URL }}js/ckeditor/ckeditor.js" type="text/javascript"></script>
<script type="text/javascript">
	try{
		var instance = CKEDITOR.instances['id_description'];
		CKEDITOR.remove(instance);
	}
	catch(e){}
	CKEDITOR.on( 'instanceCreated', function( e ){
		   e.editor.addCss('body { font-size:12px; font-family:Arial, "Times New Roman", Verdana;}');
   });
		var edt=CKEDITOR.replace( 'id_description',
		{					
		    
			customConfig : '{{ STATIC_URL }}js/ckeditor/custome_config.js',
			toolbar : 'Basic'
		});

//]]>
</script>
<script type="text/javascript">
function txtarealimit(txtobj,len){
	var txtvalue = txtobj.value;
	var the_len = txtvalue.length;
	if (the_len > len){
		txtobj.value = txtvalue.substring(0,len);
	}
	txtobj.scrollTop=txtobj.scrollHeight;
}
function validate(){
	falg=$("#mform").validate().form();
	if(falg){
		if($('.new_pic_uploaded').val()==undefined || $('.new_pic_uploaded').val() == ""){
			alert("Please upload logo.");
			return false;	
		}else{$('#id_image').val($('.new_pic_uploaded').val());return true;}
	}else{return false;}
	
}
$(document).ready(function(){
	$('.numbersOnly').live("keyup",function(){
		this.value = this.value.replace(/[^0-9]/g,'');
	});
	$('.numbersOnly').live("focusout",function(){
		if($(this).val()==''){$(this).val(1)}
	});
	$('#id_total_winners').live("keyup",function(){
		this.value = this.value.replace(/[^0-9]/g,'');
	});
	$('#id_total_winners').live("focusout",function(){
		if($(this).val()==''){$(this).val(1)}
	});
	$.validator.addMethod("desc_required", function(value, element) {  
    	$('#id_description').val(edt.getData());
		if($('#id_description').val()!=''){return true;}
		else{return false;}
	},"Please enter a description.");
	$("#mform").validate({
		ignore: "",
		highlight: function(element, errorClass){add_error_class(element)},
		unhighlight: function(element, errorClass){remove_error_class(element)},
		errorPlacement: function(error, element){},
	   	rules:{
	    	title: "required",
			slug: "required",
			description: "desc_required",
			start_date:{required:true,dateISO:true},
			end_date:{required:true,dateISO:true},
			total_winners:"required number"
	   	},
	});
	if($("#id_end_date").length){
		$("#id_end_date").datepicker({ dateFormat: "yy-mm-dd",minDate: new Date() });
	}
	if($("#id_start_date").length){
		$("#id_start_date").datepicker({ dateFormat: "yy-mm-dd",minDate: new Date()});
	}
	$("#id_start_date").change(function(){
        cdate = $(this).datepicker('getDate');
    	ctime = new Date(cdate.getTime());
    	ctime.setDate(ctime.getDate());
    	$("#id_end_date").datepicker("option", "minDate", ctime);
    });
	file_upload('{% url 'staff_sweepstakes_ajax_upload_photos' %}?id={{sweepstake.id}}',1);
	$('#fileupload').bind('fileuploadstart', function (e, data) {$('#upload-button-wrapper').hide();});
	$('#fileupload').bind('fileuploadstart', function (e, data) {$('#upload-button-wrapper').hide();});
	$('#fileupload').bind('fileuploaddestroy', function (e, data) {
		setTimeout(function(){
			$('#upload-button-wrapper').show();
			$('#upload-button').html(gettext('Attach Logo'));
		},700);
		$('#id_image').val('');
		setTimeout(function(){$('#upload-button').html(gettext('Attach Logo'));},1050);
	});
	var values = $.map($('#available_apps option'), function(e) {if(e.value!='all'){return e.value;}});
	$('#available_apps_select').click(function(){
		for (j=0;j<values.length;j++){$("#available_apps option[value='"+values[j]+"']").attr('selected', 'selected');}
		$("#available_apps").trigger("liszt:updated");
		$('#available_apps').change();
	});
	$('#available_apps_deselect').click(function(){
		for (j=0;j<values.length;j++){$("#available_apps option[value='"+values[j]+"']").removeAttr('selected');}
		$("#available_apps").trigger("liszt:updated");
		$('#available_apps').change();
	});
	$('#available_apps').change(function(){
		$('.cls_container').hide();
		var v=$(this).val();
		for (i=0;i<v.length;i++){
			$('.cls_'+v[i]).show();
		}
	});
});
</script>
<script type="text/javascript">
function string_to_slug(str) {
	str = str.replace(/^\s+|\s+$/g, ''); 
	str = str.toLowerCase();
	str = str.replace(/[^a-z0-9 -]/g, '').replace(/\s+/g, '-').replace(/-+/g, '-'); 
	$('#id_slug').val(str);
}	
</script>
<script type="text/javascript">
function check_duration(val){
	$('.duration_hide_show').hide();
	if(val=='W'){$('#duration_weekly').show();}
	else if(val=='M'){$('#duration_monthly').show();}
}
</script>
{% endblock %}	
				