{% load ds_utils %}
{% load i18n %}		
{% load thumbnail %}
<input type="hidden" value="{% url 'user_video_ajax_display_video' %}" name="id_hidden_url" id="id_hidden_url">
<input type="hidden" value="{% url 'user_video_ajax_action' %}" name="id_action_url" id="id_action_url">
<input type="hidden" value="{% url 'user_video_ajax_adding' %}" name="youtube_user_video_add" id="youtube_user_video_add">
<input type="hidden" value="{% url 'user_video_ajax_edit_video' %}" name="ajax_update" id="ajax_update">
<input type="hidden" value="{{status}}" name="id_status" id="id_status">
<input type="hidden" value="{{listing_type}}" name="id_listing_type" id="id_listing_type">
<input type="hidden" value="{{created}}" name="id_created" id="id_created">
<input type="hidden" value="{{sort}}" name="id_sort" id="id_sort">
<input type="hidden" value="{{msg}}" name="id_action_msg" id="id_action_msg">
<input type="hidden" value="{% if search %}{{search}}{% endif %}" name="id_search" id="id_search">
<input type="hidden" value="" name="id_action" id="id_action">
{% if videodisplay %}
	<ol class="data-table table-lists-container" id="ajax_content_list">
		{% for video in videodisplay %}	
        	<li class="table-list" id="li_{{video.id}}">
            	<div class="table-list-container check-item has-thumb110 group">
                {% if video.featured %}
					<span class="list-type featured-item"><a class="tttxt" title="{% trans 'Item listed as featured' %}" href="#">{% trans 'Featured' %}</a></span>
				{% endif %}
               	{% if not video.status = 'P' %}  <span class="checkbox-wrap"><span class="cform-checkbox-container"><input type="checkbox" value="{{video.id}}" id="id_event_action" name="artCulture" class="check-overflow cbox"><span class="cform-checkbox-element"></span></span></span>{% endif %}
		 		<div class="item-media">
                	<a onclick="{% if video.is_vimeo %}play_lightbox_vimeo('{{video.video_id}}'){% else %}play_lightbox('{{video.video_id}}'){% endif %}" class="inline-block">
                    	<span class="item-thumb thumb-110">
                        	<span class="thumb-in">
                            	<span class="thumb"><img id="vimeo_{{video.video_id}}" src="{{video.get_thumb}}"  onclick="{% if video.is_vimeo %}play_lightbox_vimeo('{{video.video_id}}'){% else %}play_lightbox('{{video.video_id}}'){% endif %}" alt="{{video.title}}" class="inline-block"><span class="inline-block h100"></span></span>
                            </span>
                        </span>
					</a>     
					<span onclick="{% if video.is_vimeo %}play_lightbox_vimeo('{{video.video_id}}'){% else %}play_lightbox('{{video.video_id}}'){% endif %}" id="id_span_play_icon_6dxm_W3uNYw" title="Play this video" class="play-icon preview-item "></span>                                                            
                 </div> 
				 <div class="item-info relative-block">
				 	<h3 class="title"><a >{{video.title}}</a></h3>
					<p class="ltxtAA">{{video.created_on|date:"M d, Y"}}</p>
				    <ul class="quick-stats group">
                        <li class="views"><a class="tttxt" href="javascript:void(0);" title="Video View "><span class="inline-block icon-view-stats"></span>{{video.video_view}}</a></li>
                        <!--li class="cmnt"><a class="tttxt"title="View comments" href="javascript:void(0);"><span class="inline-block icon-cmnt-stats"></span>24</a></li-->
                    </ul>	
					<div class="item-status no-options" onclick="display_change_status({{video.id}},$('#id_estatus_{{video.id}}').attr('name'));">
	                	<span class="status-inside inline-block" id="id_span_chge_sts_{{video.id}}">
							<span title="{% get_status_class video.status %}" name="{{video.status}}" id="id_estatus_{{video.id}}" class="inline-block tttxt status-idty icon-{% get_status_class video.status %}"></span>
						</span>	 
	                </div>  
				</div> 
				<div class="action-buttons {% if forloop.counter == 1 %}tip tip6{% endif %}">
                	<div class="relative-block">
                  		<div class="group">
                  	  		<span class="item-manage inline-block dev_hide_list_settings" id="id_span_settings_{{video.id}}" onclick="display_settings({{video.id}});"><span class="action-icon icon-manage"></span></span>
			          		<ul class="dropdown-list dev_settingsdrpdwn" id="settings_id_{{video.id}}" style="display:none">
                    	  		<li><a title="{% trans 'Edit Video' %}" class="bm-add-gadget light_box" href="{% url 'user_video_ajax_edit_video' %}?video_id={{video.id}}">{% trans 'Edit' %}</a></li>
						 		{% if not video.status = 'P' %} <li><a title="{% trans 'Delete' %}" class="" onclick="if(confirm('Are you sure you want to delete this video?')){filter_action({{video.id}},'DEL');}" >{% trans 'Delete' %}</a></li>{% endif %}
		                  	</ul>
						</div>                                                            
             		</div>
				</div>
    		</li>
		{% endfor %}
	</ol>
	<div id="pagenation">
		{% include 'common/pagination_ajax.html'%}
	</div>  
{% else %}
	<div  class="no-data"><p>{% trans 'Sorry , No Video found !' %}</p></div> 
{% endif %}  
<script type="text/javascript">
function status_function(id,status){
	$('#id_dis_status_'+id).html('');
	if(status=='D'){
		ahtml = '<li><a onclick="save_status('+id+',\'N\');" href="javascript:void(0);">{% trans 'Submit' %}</a></li>'
		$('#id_dis_status_'+id).append(ahtml);
	}
	else if(status=='N'){
		ahtml = '<li><a onclick="save_status('+id+',\'D\');" href="javascript:void(0);" >{% trans 'Draft' %}</a></li>'
		$('#id_dis_status_'+id).append(ahtml);
	}
	else{
		$('#change_status_id_'+id).hide();
		$('#id_span_chge_sts_'+id).removeClass('active')
		return false;
	}
}
function save_status(id,status){
	$('#id_estatus_'+id).addClass('loading');
	var DataString="id="+id+"&status="+status;
	$.ajax({
		type: "GET",
		url: "{% url 'user_video_change_status' %}",
		data: DataString,
		success: function(data){
			if(data!=0){
				$('#id_estatus_'+id).removeClass('loading');
				$('#id_estatus_'+id).replaceWith(data);
				$('#change_status_id_'+id).hide();
				$('#id_span_chge_sts_'+id).removeClass('active')
				show_count('all');
			}else{
				alert(gettext('Oops!!! Not able to process your request.'));
			}
		}
	});
}
setTimeout(function(){
	{% for cat in videodisplay %}
	{% if cat.is_vimeo %}
	    $.ajax({
	        type:'GET',
	        url: 'http://vimeo.com/api/v2/video/{{cat.video_id}}.json',
			jsonp: 'callback',
	        dataType: 'jsonp',
	        success: function(data){
	            var thumbnail_src = data[0].thumbnail_medium;
	            $('#vimeo_{{cat.video_id}}').attr('src',thumbnail_src);
	        }
	    });
	{% endif %}
	{% endfor %}	
},500);
</script>			   