{% load thumbnail %}
{% load mptt_comments_tags %}
<input type="hidden" value="{% url 'user_ajax_list_classified' %}" name="id_hidden_url" id="id_hidden_url">
<input type="hidden" value="{% url 'user_ajax_classified_action' %}" name="id_action_url" id="id_action_url">
<input type="hidden" value="{{status}}" name="id_status" id="id_status">
<input type="hidden" value="{{listing_type}}" name="id_listing_type" id="id_listing_type">
<input type="hidden" value="{{sort}}" name="id_sort" id="id_sort">
<input type="hidden" value="{{msg}}" name="id_action_msg" id="id_action_msg">

<input type="hidden" value="{% if search %}{{search}}{% endif %}" name="id_search" id="id_search">
<input type="hidden" value="" name="id_action" id="id_action">
{% if classified %}
<ul class="modulesBrowseData dSrS480 mDa-lT mDa-oT-lT oVrfLw-vSbL">
	{% for cla in classified %}
    <li class="mDa mDa-sTtS-iN">
        <div class="mDa-iN">
            <div class="mDa-wPr"> 
            	<a class="bUi-tMb-wPr tMb-75 dSpD  fLxiMgW bUi-tMb-110" href="{% url 'user_preview_classified' cla.id %}">
                    <span class="bUi-tMb w100pXmP">
                        <span class="bUi-tMb-pRpL">
                            <span class="bUi-tMb-cLp">
                                <span class="bUi-tMb-cLp-iN"> <img class="mDa-oT" src="{% if cla.get_payment_photo %}{% thumbnail cla.get_payment_photo 110x0 %}{% else %}{{cla.get_default_image}}{%endif%}" alt="">
                                    <span class="vRtL-aLn"> </span>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="mDa-bDy mRr0mP">
			{% if cla.listing_type == 'F' %}<span style="cursor:pointer;" title="Featured" class="fTrd-lSt"></span>
			{% else %}{% if cla.listing_type == 'S' %}<span style="cursor:pointer;" title="Sponsored" class="sPnD-lSt"></span>{% endif %}{% endif %}
                <h5 class="mDa-hD tRnCt0 mR50 rLvE h65 h65" title="{{cla.title|title|truncatechars:70}}"><a href="{% url 'user_preview_classified' cla.id %}">{{cla.title|title|truncatechars:70}}</a></h5>
                <p class="fS12 cLr-gRy">
                	<span class="fS11 cLr-lTgRy">{{cla.created_on|date:"F d, Y f A"}}</span>
                	{% if cla.status == 'N' %}
	                	{% with cla.get_offline_payment_object as offpay %}
							{% if offpay.status == 'N' %}<span class="sPrTr fS12 fW-bLd cLr-rEd">Last date for offline payment: {{offpay.expiry_date|date:'m/d/Y'}} <span style="color: #9F9F9F;">|</span> <a href="{% url 'user_add_classifieds_listing' cla.id %}">Pay online</a></span>{% endif %}
	                	{% endwith %}
                	{% endif %}
               	</p>
                <div class="clearfix">
                	<div class="btn-group pLlT iM" id="id_drop_{{cla.id}}">
                        <a href="{% url 'user_add_classified' %}?classified={{cla.id}}" title="Edit" class="btn btn-light btn-small"><span id="id_delete_{{cla.id}}"><i aria-hidden="true" class="bUi-iCn-rVeW-12 ib"></i></span><span id="id_loding_{{cla.id}}" style="display:none;"><i alt="Loading icon" class="icon-spinner bUi-iCn-sPnR mRr5 fS16" aria-hidden="true"></i></span></a>
                            <button class="h27 btn btn-light btn-small dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu mNi pLrT dSpL">
							<li><a title="Edit" href="{% url 'user_add_classified' %}?classified={{cla.id}}">Edit</a></li>
							<!--li><a onclick="$('#seo_url').val('{% url 'user_classified_upgrade_listing_type' cla.id %}')" data-target="#upgrade_list" data-toggle="modal">Upgrade Listing Type</a></li-->
							{% if cla.status == 'P' %}
								<li><a href="{% url 'user_add_classifieds_listing' cla.id %}">Change Listing Type</a></li>
								<li><span class="line-break"></span></li>
							{% endif %}
							<li><a href="{% url 'user_classified_seo' cla.id %}" data-target="#update_seo">Update SEO info</a></li>
							{% if cla.status == 'D' %}
								<li><a href="{% url 'user_add_classifieds_listing' cla.id %}">Send for Approval</a></li>
								<li><span class="line-break"></span></li>
							{% endif %}
                            <li class="divider"></li>
                            <li><a onclick="if(confirm('Are you sure you want to delete the selected classified?')){filter_action({{cla.id}},'DEL');return false;}" href="javascript:void(0)">Delete</a></li>
                        </ul>
                    </div>
                    <div class="pLrT mRr10 iM" style="cursor:pointer;">
                        <i {% if cla.status == 'P' %}class="bUi-iCn-pPiE-24 cLr-pUb" title="Published"{% endif %}
							{% if cla.status == 'R' %}class="bUi-iCn-rGt-24 cLr-rEj" title="Rejected"{% endif %}
							{% if cla.status == 'N' %}class="bUi-iCn-pNdG-24 cLr-pEn" title="Pending"{% endif %}
							{% if cla.status == 'E' %}class="bUi-iCn-eXp cLr-eXp" title="Expired"{% endif %}
							{% if cla.status == 'D' %}class="bUi-iCn-dRaT-24 cLr-dRf" title="Drafted"{% endif %}
							{% if cla.status == 'B' %}class="bUi-iCn-bLk-24 cLr-bLoK" title="Blocked"{% endif %} aria-hidden="true"></i>
                    </div>	
                </div>
                <div class="mDa-lT-sTtS aBsLt tR0 StCmP tXt-rTp bGtRp">
                   <span class="fS11 cLr-lTgRy mRr10 bLk" style="cursor:pointer;" title="Views"><i aria-hidden="true" class="bUi-iCn-vEw-12"></i> {{cla.most_viewed}}</span>
                   <span class="fS11 cLr-lTgRy mRr10 bLk" style="cursor:pointer;" title="Comments"><i aria-hidden="true" class="bUi-iCn-bBl-12 fS11"></i> {% get_mptt_comment_count for cla as comment_count %}{{comment_count}}</span>
                   <!--span class="fS11 cLr-lTgRy mRr10 bLk"><i aria-hidden="true" class="bUi-iCn-hRt-16 fS11"></i> 102</span-->
                </div> 
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
	<!-- No data -->
	<div class="hT600 rLvE">
 		<div class="tBl-bLk pDt0">
			<div class="tBl-cEl">
				<span class="iCn-bRdR80 oP25"><i aria-hidden="true" class="bUi-iCn-cLfD-24 fS42-1 cLr-lTgRy ib"></i></span>
				{% if search %}
					<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You haven't submitted any classifieds with keyword "{{search_keyword}}"</p>
				{% else %}
					{% if status == "P" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no published classifieds.</p>
					{% elif status == "N" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no pending classifieds.</p>
					{% elif status == "R" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no rejected classifieds.</p>
					{% elif status == "D" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no classified drafts.</p>
					{% elif status == "E" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no expired classifieds.</p>
					{% elif status == "B" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no blocked classifieds.</p>
					{% elif listing_type == "B" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no free classifieds.</p>
					{% elif listing_type == "F" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no featured classifieds.</p>
					{% elif listing_type == "S" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no sponsored classifieds.</p>
					{% elif listing_type == "all" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You haven't posted any classified ads yet.</p>
						<p class="mRt15"><a href="{% url 'user_add_classified' %}" class="btn btn-danger fS12 fW-bLd">Post Your Ad</a></p>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	<!-- /No data -->
{% endif %}
{% include 'usercp_pagination.html' %}
<script type="text/javascript">
	$(document).ready(function(){
		$("a[data-target=#upgrade_list]").click(function(ev) {
		   ev.preventDefault();
		   target = $(this).attr("href");
		
		   // load the url and show modal on success
		   $("#upgrade_list .modal-body").load(target, function() {
		        $("#upgrade_list").modal("show");
		   });
		});
		$("a[data-target=#update_seo]").click(function(ev) {
		   ev.preventDefault();
		   target = $(this).attr("href");
		
		   // load the url and show modal on success
		   $("#update_seo .modal-body").load(target, function() {
		        $("#update_seo").modal("show");
		   });
		});
	});
</script>