{% load i18n %}
<div class="pD20">
		<form class="uSr-aCnT mRb0" method="post" id="mform" name="mform" action="{% url 'user_add_classifieds_listing' classifieds.id %}?types=update">
			<input type="hidden" name="payment_level" id="payment_level" value="{{cls_price.level}}">
            <div class="row-fluid pricing mRb30">
            	{% for cls_price in classifieds_price_objects %}
					<div class="span4 pD0">
                    	<ul id="select_button_top_{{cls_price.level}}" class="features mRr0mP {% if classifieds.listing_type == 'B' and cls_price.level == 'level0' %}dSbLd{% elif classifieds.listing_type == 'S' %}{% if cls_price.level == 'level1' or cls_price.level == 'level0' %}dSbLd{% endif %}{% endif %} {% if classifieds.listing_type == 'B' and cls_price.level == 'level1' %}aCtV{% elif classifieds.listing_type == 'S' and cls_price.level == 'level2' %}aCtV{% endif %}">
                        	<li class="pRiCe-hD">
                        		<label>
                        			<input type="radio" onclick="$('.aCtV').removeClass('aCtV');$('#select_button_top_{{cls_price.level}}').addClass('aCtV');show_contents('{{cls_price.level}}')" name="pricing" {% if classifieds.listing_type == 'B' and cls_price.level == 'level1' %}checked="checked"{% elif classifieds.listing_type == 'S' and cls_price.level == 'level2' %}checked="checked"{% endif %}>
									<h3>{{cls_price.level_label}}</h3>
									<div class="price">
                                	{% if cls_price.level == 'level0' %}
                                        <span class="lBl">FREE</span>
                                        <span class="tRm">Your listing will be active for {{cls_price.contract_period}} month.</span>
                                    {% elif cls_price.level == 'level1' %}
                                        <span class="sUp">{{ globalsettings.currency }}</span><span class="aMt">{{ sp_price|floatformat:2 }}</span>
                                        <span class="tRm">Billed {{ globalsettings.currency }}{{ sp_price|floatformat:2 }}, Your listing will be active for {{cls_price.contract_period}} month.</span>
                                    {% elif cls_price.level == 'level2' %}
                                        <span class="sUp">{{ globalsettings.currency }}</span><span class="aMt">{{ cls_price.price|floatformat:2 }}</span>
                                        <span class="tRm">Billed {{ globalsettings.currency }}{{ cls_price.price|floatformat:2 }}, Your listing will be active for {{cls_price.contract_period}} month.</span>
                                    {% endif %}
									</div>
									
                        		</label>
								<!--a href="javascript:show_contents('{{cls_price.level}}')" data-toggle-icon="bUi-iCn-mNs-12" data-target="#p_Sponsored" data-toggle="collapse" class="tXt-cTr bLk cLr-lTbLu fW-bLd VieW-Dt tRcL480 vOp"><i aria-hidden="true" class="bUi-iCn-pLs-12"></i> View details</a-->
                            </li>
                            <li class="info">
                                <ol class="unstyled in collapse" id="p_Sponsored">
                                	<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i>{{cls_price.get_exposure}}</li>
									{% if cls_price.level == 'level0' %}
										<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i>Free</li>
									{% else %}
										<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i>{{cls_price.contract_period}} Months</li>
									{% endif %}
									{% if cls_price.images == 'Y' %}
                                		<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Images</li>
									{% endif %}
									{% if cls_price.social_media == 'Y' %}
                                    	<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i>Social Media</li>
									{% endif %}
									{% if cls_price.comments == 'Y' %}
                                    	<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Comments</li>
									{% endif %}
									{% if cls_price.share_buttons == 'Y' %}
                                    	<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Share Buttons</li>
									{% endif %}
									{% if cls_price.newsletter == 'Y' %}
                                    	<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Newsletter Promotion</li>
									{% endif %}
                                </ol>
                            </li>
                        </ul>
                    </div>
				{% endfor %}
            </div>
			{% for cls_price in classifieds_price_objects %}
			<table id="level_{{cls_price.level}}" class="table mRb30 table-bordered bDrT0Mp" style="
					{% if classifieds.payment %}
						{% if classifieds.listing_type == 'B' %}
							{% if cls_price.level != 'level1' %}display:none;{% endif %}
						{% else %}
							{% if classifieds.listing_type == 'S' %}
								{% if cls_price.level != 'level2' %}display:none;{% endif %}
							{% else %}
								{% if cls_price.level != 'level0' %}display:none;{% endif %}
							{% endif %}
						{% endif %}
					{% else %}
						{% if cls_price.level != 'level0' %}display:none;{% endif %}
					{% endif %}">
                	<thead class="hMp">
						<tr>
							<td><p>{% trans 'Your classified listing will be set as' %} <b>{{cls_price.level_label}}</b>.</p></td>
						</tr>
						{% if cls_price.level != 'level0'  %}
                    	<tr>
                        	<th class="span2"><span>Payment Mode</span></th>
                        	<th class="span2"><span>Price</span></th>
                    	</tr>
						{% endif %}
                	</thead>
					{% if cls_price.level != 'level0'  %}
					<tbody>
						<tr>
							<td class="span2">
								<div class="control-group">
                                	<label class="control-label pDt0 vOp">Mode</label>
                                    <div class="controls">
										{% if payment_settings.invoice_payment %}
                                        	<label for="mode1" class="radio fW-nRmL mRb0"><input type="radio" name="payment_mode{{cls_price.id}}" value="online" id="mode1" checked="checked"> Online</label>
										{% endif %}
										{% if payment_settings.online_payment %}               
                                        	<label for="mode2" class="radio fW-nRmL mRb0"><input type="radio" name="payment_mode{{cls_price.id}}" value="offline" {% if not payment_settings.online_payment %}checked="checked"{% endif %} id="mode2"> Offline</label>
										{% endif %}					                                      
                                    </div>
                                </div>
							</td>
							<td class="span2">	
								<div class="control-group">
                                	<label class="control-label pDt0 vOp">Type</label>
                                    <div class="controls">
                                        <label class="span2">
										{% if cls_price.level == 'level1' %}
											{{ globalsettings.currency }}{{ sp_price|floatformat:2 }}
										{% else %}
											{{ globalsettings.currency }}{{ cls_price.price|floatformat:2 }}
										{% endif %}
											/&nbsp;{{cls_price.contract_period}} {% trans 'Month(s)' %}
										</label>
                                    </div>
                                </div>													
							</td>
						</tr>
					</tbody>
					{% endif %}
            </table>
			{% endfor %}
            <hr class="oTsT-hRz20 mRb0">
            <div class="row-fluid">
                <div class="form-actions pD0 pLrT">
                    <button type="submit" class="btn btn-light fS12 fW-bLd " data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary fS12 fW-bLd mRl5" type="submit">Next step</button>
                </div>
            </div>
        </form>
	</div>
<script type="text/javascript">
	function show_contents(level){
/*
		$('.features').removeClass('aCtV');
		$('#select_button_top_'+level).addClass('aCtV');
*/
		$('#payment_level').val(level);
		if(level=='level2'){
			$('#level_level2').show();
			$('#level_level1').hide();
			$('#level_level0').hide();
		}
		else if(level == 'level0'){
			$('#level_level0').show();
			$('#level_level1').hide();
			$('#level_level2').hide();
		}
		else{
			$('#level_level1').show();
			$('#level_level2').hide();
			$('#level_level0').hide();
		}
	}
{% if classifieds.payment %}
{% if classifieds.listing_type == 'B' %}
	$('#level_level0').remove();
	$('#payment_level').val('level1');
{% else %}
	{% if classifieds.listing_type == 'S' %}
		$('#level_level0').remove();
		$('#level_level1').remove();
		$('#payment_level').val('level2');
	{% else %}
		$('#payment_level').val('level2');
	{% endif %}
{% endif %}
{% else %}
	$('#payment_level').val('level0');
{% endif %}	
</script>