{% extends "user_base.html" %}
{% load ds_utils %}
{% load tabs %}
{% load i18n %}
{% load thumbnail %}
{% block pagetitle %}{% if category %}{% seo_format_tag module='Classifieds' title=category.seo_title code='LT' category=category.name as seo_meta_title %}{% else %}{% seo_format_tag module='Classifieds' title=seo.seo_title code='MT' as seo_meta_title %}{% endif %}{{seo_meta_title}}{% endblock %}
{% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{seo.seo_description}}" />
{% endblock %}

{% block navigation %}
	{% activetab "leftnav" "classifieds" %}
	{#{ block.super }#}
{% endblock %}

{% block alertbar %}
	<div class="alert alert-info pD0 mRt-30">
		<div class="container-fluid">
			<div class="pD100 cLrFx">
				<p class="ib fS14 fW-bLd mRb0 mRt4">This is how listing looks like.</p>
				<div class="pLrT">
					<a href="{% url 'user_add_classified' %}?classified={{classified.id}}" class="btn btn-light fS12 fW-bLd mRl5"><i class="bUi-iCn-rVeW-12 mRr5" aria-hidden="true"></i> Edit</a>
					<a href="{% url 'user_classified_home' %}" class="btn btn-light fS12 fW-bLd mRl5"><i class="bUi-iCn-dSbB-16 fS12 mRr5" aria-hidden="true"></i> Content Manager</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
		<div class="main span8">
			<section class="sCn pD15 rLvE">
				<div class="pStN-rB">
					{% if classified.payment.social_media == 'Y' %}
                        {% with classified as object %}
                        {% include 'default/social-share-links.html' %}
                        {% endwith %}
                    {% endif %}
				</div>
				<h2 class="mRb0">{{classified}}</h2>
				<p class="cLr-gRy"><span class="fS12">Posted by <a href="{% url 'user_profile' classified.created_by.profile_slug %}" class="cLr-dRk">{{classified.created_by.display_name}}</a></span><span class="sPrTr fS12">{{classified.created_on|timesince}} {% trans "ago" %}</span><!--a href="#" class="sPrTr fS12 cLr-lTbLu hide">{% trans "View all ads" %}</a--></span></p>
				<div class="row-fluid">
					<div class="span6 pDl0">
						<span class="ib mRr10">
							<span class="cLr-dRk" style="font-size:18px;font-weight:200;display:block;margin-bottom:5px;">{{classified.phone_no}}</span>
							<!--a href="#" class="fS12 cLr-lTgRy">{% trans "SMS this ad to me" %}</a-->
						</span>
						<a href="#"  title="Reply to this Ad" class="btn btn-primary ib btn-medium"><i aria-hidden="true" class="bUi-iCn-rPl-rT-12"></i> {% trans "Reply to this Ad" %}</a>
					</div>
				</div>
			</section>
			<div class="row-fluid">
				<div class="{% if classified.payment.images == 'Y' and classified.get_first_classified_photo %}span6{% else %}span12{% endif %}">
					<section class="sCn">
                        <div class="sCn-tTl">
                            <h4><span>{% trans "Details" %}</span></h4>
                        </div>
                        <div class="dTs-cRd">
                        	<dl class="dl-horizontal">
                        		{% if classified.classified_price %}
								<dt><span class="dT-iN">{% trans "Price" %} ({{globalsettings.currency}})</span></dt>
                        		<dd><span class="fS18 cLr-bLk">{{classified.classified_price}}</span></dd>
								{% endif %}
								{% for attvalue in attrvalus %}
									{% if attvalue.value %}
	                                	<dt><span class="dT-iN">{{attvalue.attribute}}</span></dt>
										<dd>{{attvalue.value}}</dd>
									{% endif %}
	                            {% endfor %}
							</dl>
							<div class="mRb20">
								<h5>{% trans "Contact Information" %}</h5>
								<dl class="dl-horizontal"  itemscope itemtype="http://schema.org/Person">
									<dt><span class="dT-iN">{% trans "Contact Name" %}</span></dt>
	                        		<dd itemprop="name">{{classified.created_by.display_name}}</dd>
                                    {% if classified.address.telephone1 %}
    									<dt><span class="dT-iN">{% trans "Phone No" %}</span></dt>
    	                        		<dd itemprop="telephone">{{classified.address.telephone1}}</dd>
                                    {% endif %}
									<dt><span class="dT-iN">{% trans "Email ID" %}</span></dt>
	                        		<dd itemprop="email">{{classified.address.email}}</dd>
									{% if classified.address.website %}
										<dt><span class="dT-iN">{% trans "Website" %}</span></dt>
										<dd><a href="{{classified.address.website}}" target="_blank">{{classified.address.website}}</a></dd>
									{% endif %}	
								</dl>
							</div>
							<div class="mP-wPr oTsT-hRz mRb20">
								{% with classified.address as address %}
                                <div class="mP-iN">
                                    <img class="Rlb" src="https://maps.googleapis.com/maps/api/staticmap?center={{address.lat}},{{address.lon}}&zoom={{ address.zoom }}&size=438x86&markers={{address.lat}},{{address.lon}}&sensor=false" style="width:100%;" />
                                    <div class="mP-aCtN">
                                        <a href="javascript:void(0);" title="{% trans 'Directions' %}" onclick="init_get_direction('{{address.id}}','{{classified.id}}','classifieds','{% url 'locality_map_ajax_get_direction' %}');" role="button" class="btn btn-large btn-light"><i aria-hidden="true" class="bUi-iCn-dRt-16"></i></a>
                                    </div>
                                </div>
                                {% endwith %}
                                <ul class="iCnC-lSt iCn16 tHcL mRb0 pD15 hide">
                                    <li class="iCnC-lSt-iTm">
                                        <i aria-hidden="true" class="bUi-iCn-mP-mKr-12"></i>
                                    </li>
                                    <li class="iCnC-lSt-iTm">
                                        <i class="bUi-iCn-cAl-12"></i>
                                    </li>
                                    <li class="iCnC-lSt-iTm">
                                        <i aria-hidden="true" class="bUi-iCn-tAg-12"></i>
                                    </li>
                                </ul>
                            </div>
				
                            <div class="mRb20">
								<h5>{% trans "Description" %}</h5>
								{% if classified.description|length|get_digit:"-1" > 600 %} 
									<div class="entry-body" id="less_synopsis">
									    <p class="dSc sMl cLr-dRk mRb10">{% autoescape off %}{{ classified.description|truncatechars:601 }}{% endautoescape %}<a onclick="show_toggle()" href="javascript:void(0)">{% trans 'More' %}</a></p>
									</div>
									<div class="entry-body" id="more_synopsis" style="display:none;">
									    <p class="dSc sMl cLr-dRk mRb10">{% autoescape off %}{% spaceless %}{{ classified.description|rstrip_cont }}{% endspaceless %}{% endautoescape %}<a onclick="show_toggle()" href="javascript:void(0)">{% trans 'Less' %}</a></p>
									</div>
								{% else %}
									<div class="entry-body" id="all_synopsis">
										<p class="dSc sMl cLr-dRk mRb10">{% autoescape off %}{{ classified.description }}{% endautoescape %}</p>
									</div>
								{% endif %}  
							</div>										
                        </div>
                    </section>
				</div>
				{% if classified.payment.images == 'Y' and classified.album.get_gallery_uploaded_images %}
				<div class="span6">
					<section class="sCn pD0">
						<div class="fTrD-bL tMbpGrpRw mRb0 sLdR-mDm mDa-75 aDpTv cTrL-rT">
                            <div class="fTrD-bL-iN">
                                <ul id="tMbpGrpRw" class="fTrD-iTmS">
									{% for banner in classified.album.get_gallery_uploaded_images %}
                                    <li class="fTrD-iTm bS-bRdR">
                                        <figure class="fTrD-mDa">
                                            <span class="bUi-tMb-wPr fLxiMgH">
                                                <span class="bUi-tMb">
                                                    <span class="bUi-tMb-pRpL">
                                                        <span class="bUi-tMb-cLp">
                                                            <span class="bUi-tMb-cLp-iN">
                                                                <img class="mDa-oT" src="{% thumbnail banner.photo 284x0 %}" alt="{% trans 'Classifieds Photo'%}" />
                                                                <span class="vRtL-aLn"></span>	
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </figure> <!-- /.TrD-mDa --> 
                                    </li> <!-- /.fTrD-iTm -->
									{% endfor %}
                                </ul> <!-- /.fTrD-iTms -->
                            </div><!-- /.fTrD-bL-iN -->		                        	 
                        </div>
                        <div class="fTrD-bL tMbpGr cTrL-dFt mRb10">
                            <div class="fTrD-bL-iN">
                                <div id="tMbpGr">
									{% for banner in classified.album.get_gallery_uploaded_images %}
                                    <a href="javascript:void(0)" class="bUi-tMb-wPr tMb-100 fLxiMgH bS-bRdR" data-slide-index="{{forloop.counter0}}">
                                        <span class="bUi-tMb">
                                            <span class="bUi-tMb-pRpL">
                                                <span class="bUi-tMb-cLp">
                                                    <span class="bUi-tMb-cLp-iN">
                                                        <img alt="" src="{% thumbnail banner.photo 0x60 %}" class="mDa-oT" />
                                                        <span class="vRtL-aLn"></span>	
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
									{% endfor %}
                                </div>
                            </div><!-- /.fTrD-bL-iN -->		                        	 
                        </div>
					</section>
				</div>
				{% endif %}
			</div>
		</div>
{% include 'default/ajaxmap.html' %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.common.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>  
<script type="text/javascript" src="{{STATIC_URL}}js/locality/global-map-location.js"></script>  
<script>
function getLBTitle(that){
	title= $(that).data("title");
	if(typeof title == 'undefined'){title = $(that).attr("original-title")}
	if(typeof title == 'undefined'){title = $(that).attr("title")}
	return title;
}
function show_toggle(){
	$('#less_synopsis').toggle();
	$('#more_synopsis').toggle();
}
$(function(){
	var tMbpGrpRwpGr;
	var tMbpGrpRw;
	function cLsLpPg(mXsL,sTsL){
		tMbpGrpRwpGr = $('#tMbpGr').bUiSlider({
			slideWidth: 56,
			minSlides: 1,
			maxSlides: mXsL,
			slideMargin: 6,
			infiniteLoop: false,
			hideControlOnEnd: true,
			startSlide:sTsL,
			useCSS:false,
			onSliderLoad:function(){
                $('.fLxiMgH').setrSpVHeight('mDa-lT');
            }
	
		});
	};
	cLsLpPg(8,0);
	function cLsLpR(sTsLpR){
		tMbpGrpRw = $('#tMbpGrpRw').bUiSlider({
			pagerCustom: '#tMbpGr',
			animatepager: true,
			infiniteLoop: false,
			pagerSl:tMbpGrpRwpGr,
			hideControlOnEnd: true,
			startSlide:sTsLpR,
			fullscreen:true,
			useCSS:false,
			onSliderLoad:function(){
                $('.fLxiMgH').setrSpVHeight('mDa-lT');
            }
		});
	}
	cLsLpR(0);
	
	var CurrentSlide;
	var CurrentThSlide;
	var fullscreen = false;
	var sLpGrCoNt = '.tMbpGr';
	var sLpRcOnT = '.tMbpGrpRw';
	
	function style(){
		if(fullscreen==true){
			var height = $(window).height();
			var width = $(window).width();
			var style = '.hEi, '+sLpRcOnT+' .bUi-viewport { height: '+height+'px !important; }.fTrD-bL .fTrD-iTmS .fTrD-iTm{width:'+width+'px !important} .fTrD-bL.tMbpGrpRw.fXd .fLxiMgH .mDa-oT.sIz{max-height:'+height+'px} .fTrD-bL.tMbpGrpRw.fXd .fLxiMgW .mDa-oT.sIz{max-width:'+width+'px}';
			$('#stylesheet').text(style);
		}
	}
	$(window).resize(function() {style();});
	$(window).bind('orientationchange', function(event) {style();});
	var getPgrNo;	
	function getSlcnt(){
		var tHmBpGrSlideWidth = $(sLpRcOnT).outerWidth();
		var pagerWidth = $(sLpGrCoNt).find('#tMbpGr').children().outerWidth();
		getPgrNo = parseInt(tHmBpGrSlideWidth/pagerWidth, 10);
	}
	getSlcnt();
	$(window).resize(function() {getSlcnt();});
	window.onorientationchange = function(){getSlcnt();};
	//var outerDiv = $(this).parent().parent();
	$(document).on( 'click', '.oVr-oBt', function(e){
		$('html > head').append('<style id="stylesheet"></style>')
		$(''+sLpRcOnT+'').parent().prepend('<div class="gLrY-oVrly"></div>')
		fullscreen = true;
   		style();
   		CurrentSlide = tMbpGrpRw.getCurrentSlide();
   		CurrentThSlide = tMbpGrpRwpGr.getCurrentSlide();
	   $('.fTrD-bL'+sLpRcOnT+', .fTrD-bL'+sLpGrCoNt+'').css({"opacity": "0"});
		setTimeout(function(){
			$(''+sLpRcOnT+' .bUi-tMb-cLp-iN').css('background-color','black');
			$('.fTrD-bL'+sLpRcOnT+', .fTrD-bL.tMbpGr').addClass('fXd');
			$(''+sLpRcOnT+' .fTrD-iTm').addClass('hEi');
			getSlcnt();
				
			$(''+sLpRcOnT+' .fTrD-bL-iN').append('<div class="close"><i class="bUi-iCn-rMv-16" aria-hidden="true"></i></div>');
				$(''+sLpRcOnT+' .bUi-tMb img').addClass('sIz');
				$(''+sLpRcOnT+' .fTrD-bL-iN').css('height','100%');
				//tMbpGrpRwpGr.reloadSlider();
				//tMbpGrpRw.reloadSlider();
				/**/
				tMbpGrpRwpGr.destroySlider();
				tMbpGrpRw.destroySlider();
				e.preventDefault();
				cLsLpPg(10,parseInt(CurrentSlide/getPgrNo,10));
				cLsLpR(CurrentSlide);
				$(''+sLpRcOnT+' .oVr-oBt').hide();
			},400);
			setTimeout(function(){
				$('.fTrD-bL'+sLpRcOnT+', .fTrD-bL'+sLpGrCoNt+'').css({"transition":"all 0.33s ease 0s","opacity": "1"});
			},500)
		})
		$(document).on( 'click', '.close', function(e){
			fullscreen = false;
			CurrentSlide = tMbpGrpRw.getCurrentSlide();
			$('.fTrD-bL'+sLpRcOnT+', .fTrD-bL'+sLpGrCoNt+'').css({"transition":"all 0.33s ease 0s","opacity": "0"});
			setTimeout(function(){
				$(''+sLpRcOnT+' .bUi-tMb-cLp-iN').css('background-color','transparent');
				$('.fTrD-bL'+sLpRcOnT+', .fTrD-bL'+sLpGrCoNt+'').removeClass('fXd');
				$(''+sLpRcOnT+' .fTrD-iTm').removeClass('hEi');
				getSlcnt();
				
				$(''+sLpRcOnT+' .close').remove();
			   	$(''+sLpRcOnT+' .bUi-tMb img').removeClass('sIz');
			   	$(''+sLpRcOnT+' .fTrD-bL-iN').removeAttr('style');
			   	$('#stylesheet').remove();
			   	//$(''+sLpGrCoNt+'pRw .fTrD-bL-iN').removeAttr('style');
				/**/
				tMbpGrpRwpGr.destroySlider();
				tMbpGrpRw.destroySlider();
				e.preventDefault();
				cLsLpPg(8,parseInt(CurrentSlide/getPgrNo,10));
				cLsLpR(CurrentSlide);
			},400);
			setTimeout(function(){
				$(''+sLpRcOnT+'.fTrD-bL, .fTrD-bL'+sLpGrCoNt+'').css({"transition":"none","opacity": "1"});
				$('.oVr-oBt').show();
				$('.gLrY-oVrly').remove();
			},500)
		});
	});
</script>
{% endblock %}