{% load i18n %}
{% if banners %} 
    <div class="advt ad_300x250 pD0Lc">
        <!--span class="declare">{% trans 'Advertisement' %}</span-->
        {% for banner in banners %}
            <div class="display_ad {% if banners.count > 1 %}pDb12{% endif %}">
                <input type="hidden" value="{{banner.id}}" class="ds_banner_ids">
                {% if banner.is_script %}
                    {% autoescape off %}{{banner.banner_script}}{% endautoescape %}
                {% else %}
                    <a href="{% if banner.destination_url %}{{banner.destination_url}}{% else %}javascript:void(0);{% endif %}" onclick="update_banner_clicks('{{banner.id}}');" {% if banner.is_new_tab and banner.destination_url %}target="_blank"{% endif %}><img src="{{banner.image.url}}" alt="{{banner.caption}}"></a>    
                {% endif %}    
            </div>
        {% endfor %}      
    </div> 
{% endif %}