{% extends "user_base.html" %}
{% load ds_utils %}
{% load tabs %}
{% load i18n %}
{% load thumbnail %}
{% block pagetitle %}{% if category %}{% seo_format_tag module='Articles' title=category.seo_title code='LT' category=category.name as seo_meta_title %}{% else %}{% seo_format_tag module='Articles' title=seo.seo_title code='MT' as seo_meta_title %}{% endif %}{{seo_meta_title}}{% endblock %}
{% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{seo.seo_description}}" />
{% endblock %}

{% block navigation %}
	
{% endblock %}

{% block alertbar %}
	<div class="alert alert-info pD0 mRt-30">
		<div class="container-fluid">
			<div class="pD100 cLrFx">
				<p class="ib fS14 fW-bLd mRb0 mRt4">This is how listing looks like.</p>
				<div class="pLrT">
					<a href="{% url 'article_add_article' %}?aid={{article.id}}" class="btn btn-light fS12 fW-bLd mRl5"><i class="bUi-iCn-rVeW-12 mRr5" aria-hidden="true"></i> Edit</a>
					<a href="{% url 'article_dash_board' %}" class="btn btn-light fS12 fW-bLd mRl5"><i class="bUi-iCn-dSbB-16 fS12 mRr5" aria-hidden="true"></i> Content Manager</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}



{% block content %}
			<div class="main span8">
				<article class="sCn pD20 aRtCL-pSt pSt-vW-mDe">
					<header class="pSt-hDr">
						<div class="pSt-tLbR">
							<div class="pSt-mTa pLlT"><a href="{{article.category.get_absolute_url}}" title="Go to {{article.category}} {% trans 'Section' %}" class="pSt-cTgRy lBl dFt mNi uC">{{article.category}}</a></div>
						</div>
						<h1 class="pSt-tTl">{{article.title}}</h1>
						<ul class="pSt-mTa unstyled">
							<li class="pSt-mTa-iTm ib">
								<span class="pSt-mTa-aThR">{% trans 'By ' %}<a href="{% url 'user_profile' article.created_by.profile_slug %}" title="Go to the profile of {{article.created_by.display_name}}" class="pSt-aThR">{{article.created_by.display_name}}</a></span>
							</li>
							<li class="pSt-mTa-iTm ib sPrTr">
								<span class="pSt-pBlSd-dT"><time class="pSt-dT">{{ article.published_on|ds_site_dateformat }}</time></span>
							</li>
						</ul>
					</header>
					<div class="pSt-cNt">
						<div class="pSt-cNt-iN">
							<div class="mRt10 mRb20 shareH">
								<div class="cLrFx">
									{% with article as object %}
				                            {% include 'default/social-share-links.html' %}
				                    {% endwith %}
			                    </div>
							</div>
							<div class="pSt-fLd body">
								{% autoescape off %}{{ article.content }}{% endautoescape %}
							</div>
							{% if article.tags.all %}<div class="tGs"><p><em class="cLr-dRk">{% trans 'TAGS: ' %}</em>{% for tag in article.tags.all %}<a href="{% url 'article_list' %}?tagid={{tag.id}}" rel="tag">{{tag.tag}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p></div>{% endif %}
							{% if article.articlephotos.all %}
							<section class="pD300">
								<div class="sCn-tTl">
		                            <h2><span>{% trans 'Photo Gallery' %}</span></h2>
		                        </div>
		                        <ul class="tMbS sXcL pDfX fxslider">
		                        	{% for photo in article.get_photos %}
									<li data-src="{{photo.photo.url}}">
										<a class="bUi-tMb-wPr tMb-100 fLxiMgH bS-bRdR" href="#">
		                                    <span class="bUi-tMb">
		                                        <span class="bUi-tMb-pRpL">
		                                            <span class="bUi-tMb-cLp">
		                                                <span class="bUi-tMb-cLp-iN">
		                                                    <img class="mDa-oT" src="{% thumbnail photo.photo 260x0 %}" alt="{{photo.title}}">
		                                                    <span class="vRtL-aLn">
		                                                    </span>
		                                                </span>
		                                            </span>
		                                        </span>
		                                    </span>
		                                </a>
									</li>
									{% endfor %}
								</ul>
							</section>
							{% endif %}
						</div>
					</div>
				</article>
				{% if similar_articles %}
				<div class="row-fluid">
					<section class="sCn">
						<div class="sCn-tTl">
                        	<h2><span>{% trans 'Read Similar Articles' %}</span></h2>
                        </div>
                        <div class="fTrD-bL cRsL mDa-65 tXt-oTsD aDpTv cTrL-tR mRb0">
							<div class="fTrD-bL-iN">
	                            <ul class="fTrD-iTmS {% if similar_articles.count > 4 %}rLtD-cRsL{% else %} fOcL{% endif %}">
	                            	{% for article in similar_articles %}
                                	<li class="fTrD-iTm bDrR0">
	                                	<figure class="fTrD-mDa">
	                                		<span class="bUi-tMb-wPr fLxiMgW" href="{{article.get_absolute_url}}">
												<span class="bUi-tMb">
													<span class="bUi-tMb-pRpL">
														<span class="bUi-tMb-cLp">
															<span class="bUi-tMb-cLp-iN">
																<img class="mDa-oT" src="{% if article.get_first_article_photo %}{% thumbnail article.get_first_article_photo 260x0 %}{% elif article.get_img_from_html %}{{ article.get_img_from_html }}{% else %}{{STATIC_URL}}themes/img/no-image.jpg{% endif %}" alt="">
																<span class="vRtL-aLn"></span>	
															</span>
														</span>
													</span>
												</span>
											</span>
	                                    </figure>  <!-- /.TrD-mDa -->
	                                	<div class="fTrD-tXt">
	                                    	<div class="vAlGn">
		                                    	<div class="fTrD-tXt-iN pD10-0-5">
			                                        <h4 class="fTrD-hD fS14"><a  href="{{article.get_absolute_url}}">{{article.title}}</a></h4>
		                                    	</div>
	                                    	</div>
	                                    </div> <!-- /.TrD-tXt -->		                                   
	                                </li>
	                                {% endfor %}
	                            </ul>
							</div>
                        </div>
					</section>
				</div>
				{% endif %}
			</div>
<script src="{{STATIC_URL}}themes/js/fxslider.js"></script>
<script type="text/javascript">
$(document).ready(function(){
 $(".fxslider").fxslider();
});
</script>
{% endblock %}
