{% extends base %}
{% load i18n %}
{% load truncate_filter %}
{% load comparison %}
{% load modulotag %}
{% load tabs %}
{% load ds_utils %}
{% block pagetitle %}{% seo_format_tag module='Pages' title=seo.seo_title code='MT' as seo_meta_title %}{{seo_meta_title}}{% endblock %}
{% block meta %}
	<meta name="description" content="{{seo.seo_description}}" />
{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/job.css">
{% endblock %}
{% block navigation %}
	{% activetab "topnav" "jobs" %}
	{{ block.super }}
{% endblock %}
{% block content %}
           {% include 'default/jobs/search.html' %}          
            <div id="job_main" class="group fit_width">
                <div id="ad_categories" class="group">	
                    <h4 class="section_title">{% trans "Find Jobs by Category" %}</h4>

                    <ul class="categories group">
                        <li class="cat_col">
                            <ul> 
                                <li><a href="/jobs/search/?skw=accounting&lkw=">{% trans "Accounting" %}</a> / <a href="/jobs/search/?skw=finance&lkw=">{% trans "Finance" %}</a></li>
                                <li><a href="/jobs/search/?skw=administrative+assistant&lkw=">{% trans "Administrative" %}</a> / <a href="/jobs/search/?skw=clerical&lkw=">{% trans "Clerical" %}</a></li>

                                <li><a href="/jobs/search/?skw=architecture&lkw=">{% trans "Architecture" %}</a> / <a href="/jobs/search/?skw=engineering&lkw=">{% trans "Engineering" %}</a></li>
                                <li><a href="/jobs/search/?skw=art&lkw=">{% trans "Art" %}</a> / <a href="/jobs/search/?skw=graphic+design&lkw=">{% trans "Graphic Design" %}</a> / <a href="/jobs/search/?skw=media&lkw=">{% trans "Media" %}</a></li>
                                <li><a href="/jobs/search/?skw=biotech&lkw=">{% trans "Biotech" %}</a> / <a href="/jobs/search/?skw=science&lkw=">{% trans "Science" %}</a></li>

                                <li><a href="/jobs/search/?skw=computer&lkw=">{% trans "Computer" %}</a> / <a href="/jobs/search/?skw=technology&lkw=">{% trans "Technology" %}</a></li>
                                <li><a href="/jobs/search/?skw=customer+service&lkw=">{% trans "Customer Service" %}</a></li>
                                <li><a href="/jobs/search/?skw=executive&lkw=">{% trans "Executive" %}</a> / <a href="/jobs/search/?skw=management&lkw=">{% trans "Management" %}</a></li>
                            </ul>

                        </li>
                        <li class="cat_col">
                            <ul> 
                                <li><a href="/jobs/search/?skw=health+care&lkw=">{% trans "Health Care" %}</a> / <a href="/jobs/search/?skw=nursing&lkw=">{% trans "Nursing" %}</a></li>
                                <li><a href="/jobs/search/?skw=human+resources&lkw=">{% trans "Human Resources" %}</a></li>
                                <li><a href="/jobs/search/?skw=legal&lkw=">{% trans "Legal" %}</a> / <a href="/jobs/search/?skw=paralega&lkw=">{% trans "Paralegal" %}</a></li>

                                <li><a href="/jobs/search/?skw=marketing&lkw=">{% trans "Marketing" %}</a> / <a href="/jobs/search/?skw=public+relations&lkw=">{% trans "PR" %}</a> / <a href="/jobs/search/?skw=advertising&lkw=">{% trans "Advertising" %}</a></li>
                                <li><a href="/jobs/search/?skw=nonprofit&lkw=">{% trans "Nonprofit" %}</a> / <a href="/jobs/search/?skw=volunteer&lkw=">{% trans "Volunteer" %}</a></li>
                                <li><a href="/jobs/search/?skw=restaurant&lkw=">{% trans "Restaurant" %}</a> / <a href="/jobs/search/?skw=hotel&lkw=">{% trans "Hotel" %}</a></li>

                                <li><a href="/jobs/search/?skw=retail&lkw=">{% trans "Retail" %} </a></li>
                                <li><a href="/jobs/search/?skw=sales&lkw=">{% trans "Sales" %} </a> / <a href="/jobs/search/?skw=business+development&lkw=">{% trans "Business Development" %}</a></li>
                            </ul>
                        </li>
                        <li class="cat_col p_0">
                            <ul> 
                                <li><a href="/jobs/search/?skw=software&lkw=">{% trans "Software" %}</a> / <a href="/jobs/search/?skw=quality+assurance&lkw=">{% trans "QA" %}</a></li>

                                <li><a href="/jobs/search/?skw=teaching&lkw=">{% trans "Teaching" %}</a></li>
                                <li><a href="/jobs/search/?skw=truck+driving&lkw=">{% trans "Truck Driving" %}</a></li>
                                <li><a href="/jobs/search/?skw=transportation&lkw=">{% trans "Transportation" %}</a> / <a href="/jobs/search/?skw=logistics&lkw=">{% trans "Logistics" %}</a></li>
                                <li><a href="/jobs/search/?skw=writing&lkw=">{% trans "Writing" %}</a> / <a href="/jobs/search/?skw=freelance&lkw=">{% trans "Freelance" %}</a></li>

                                <li><a href="/jobs/search/?skw=part+time&lkw=">{% trans "Part-time" %}</a> / <a href="/jobs/search/?skw=temporary&lkw=">{% trans "Temporary" %}</a></li>
                                <li><a href="/jobs/search/?skw=summer&lkw=">{% trans "Summer" %}</a> / <a href="/jobs/search/?skw=seasonal&lkw=">{% trans "Seasonal" %}</a></li>
                                <li><a href="/jobs/search/?skw=entry+level&lkw=">{% trans "Entry Level" %}</a> / <a href="/jobs/search/?skw=internships&lkw=">{% trans "Internships" %}</a></li>

                            </ul>
                        </li>
                    </ul>

                    <a href="{% url 'jobs_job_list' %}" class="more_link">{% trans "Browse Job Listings" %} &raquo;</a>  
                    <div class="clear"></div>              
                </div>
            </div>                                	
{% endblock %}