<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style type="text/css">
/*<![CDATA[*/
		*{ font-family:"Lucida Grande","Lucida","Arial",Sans-serif;}
		p{margin:0 0 1em 0;}
		img{border:0;}
		a,
		a:visited,
		a:link{color:#0066CC;}
		a:hover{color:#01b0f0;}
		table{font-size:12px;}
		/*]]>*/
		</style>
		<title></title>
	</head>
	<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor="#F1F1F1" style="font-size: 12px; font-family: 'Lucida Grande','Lucida','Arial',Sans-serif;">
		<table width="100%" cellpadding="10" cellspacing="0" bgcolor="#F1F1F1">
<br/>
			<tr>
				<td valign="top" align="center">
					<table cellpadding="0" cellspacing="0" width="550" bgcolor="#FFFFFF">
						
						<tr>

							<td>
								<table cellpadding="20" cellspacing="0" width="100%" bgcolor="#FFFFFF">
									<tr>
										<td style="padding: 20px;">
											<!-- CONTENT (notification to recipient when another user replies to their comment-->
											<p style="margin-bottom: 10px; text-align: right; color: #bbb; font-size: 11px;">
												Having problems viewing this email? <a style="color:#0066CC;text-decoration:none;" href="/">Click here</a>											</p>

											<p style="font-family:'Helvetica Neue','Helvetica','Arial',Sans-serif; color:#99CC00; font-size: 16px;">
												Hello.											</p>
											<p style="margin: 0 0 1em 0;">
												Your friend <strong> {{username}} </strong> would like you to <a style="color:#0066CC;" href="{{ globalsettings.domain }}">join {{ globalsettings.domain }}</a>!											</p>
											<table cellspacing="0" cellpadding="0" style="margin-bottom:5em;">

												<tr>
													<td style="vertical-align: top;">
														&nbsp;											</td>
													<td style="vertical-align: top; padding-left: 10px;">
														<p style="margin: 0 0 1em 0;"><strong>Hey!</strong>I've registered with {{ globalsettings.domain }} and thought you might like to try it out. Here's an invitation to create an account.
<hr>
To accept this invitation and register for your account, visit
<br/><br/>
<a href="{{accept_url}}">{{accept_url}}</a>
<br/><br/>
If you haven't already heard about {{ globalsettings.domain }}, it is an online portal where you can discover {{ globalsettings.display_city }}'s best-kept secrets and exchange ideas with other urban trendsetters. Explore the site for:
- Local Reviews
- Local Classifieds
- Local Events
- Special Offers & More...

To learn more about the site before registering, visit:<br/><br/>
<a href="http://{{ globalsettings.domain }}">http://{{ globalsettings.domain }}</a><br/><br/>

We're still working every day to improve the site, so we might ask for your comments and suggestions periodically.  We hope you like it!
<br/><br/>
Thanks,<br/>
The {{ globalsettings.domain }} Team
</p>
																											</td>
															
												</tr>
											</table><!-- END CONTENT -->										</td>
									</tr>
										
										
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<br/>
		</table>
	</body>

</html>
