<br />
<b>Hello {{ username }},</b> 
<br />
<br />
Thank you for registering at {{ globalsettings.domain }}.<br />
Your account is created and you can now login at {{ globalsettings.domain }}/accounts/signin/ using the following username and password:
<br />
<br />
Username: {{ username }}<br /> 
Password: {{ password }}<br />
<br />
Happy browsing!<br />
<br />
{{ globalsettings.domain }} Team
<br />

<div><hr size="1" color="#cccccc" noshade="noshade"></div>

<a href="{{ globalsettings.website_url }}/" target="_blank">Home</a>
<a href="{{ globalsettings.website_url }}/privacy-policy.html" target="_blank">Privacy Policy</a>
<a href="{{ globalsettings.website_url }}/terms-of-use.html" target="_blank">Terms of Use</a>
<a href="{{ globalsettings.website_url }}/contact/" target="_blank">Contact Us</a>