{% load truncate_filter %}
{% load i18n %}
{% load ds_utils %}
{% load thumbnail %}
<div class="group" id="home_bookmark_list">
<div class="place_list">
	{% if not bookmarks %}
		<div style="padding:7em; text-align:center; font-size:16px; color:#ccc;">
			<h2>{% trans 'No Bookmarks found.' %}</h2>
		</div>
	{% endif %}
	{% for x in bookmarks %}
	<div class="item group{% if forloop.last %} br_0{% endif %}">
		{% if x.image_url %}
        <a href="/bookmarks/{{ x.slug }}.html" class="pic"><img src="{{ x.image_url }}" alt="{{ x.title }}" title="{{ x.title }}" width="114"></a><!--114x70-->
		{% endif %}
        <div class="detail">
            <h4 class="title"><a href="{{ x.get_absolute_url }}" title="{{ x.title }}">{{ x.title|truncate_chars:68 }}</a></h4>
            <div class="sub_title">
				<span class="by_line">{% trans 'By' %} <a href="/profile/{{x.created_by}}">{{ x.created_by.display_name }}</a></span><span class="date_line">{{x.created_on|ds_site_dateformat}}</span>
			</div>
            <div class="summary">
            	{% if x.summary %}
            		{% autoescape off %}{{ x.summary|truncatewords:22 }}{% endautoescape %}
            	{% endif %}
			</div>
		</div>                                                
        <div class="footer"></div>    
    </div>
	{% endfor %}
</div>                                                                               	
</div>
    
{% if is_paginated %}
<div id="thick_pagination" class="group">
<ul class="pagination_nav">
{% if has_previous %}
	{% ifequal num current_page %}
			<li class="selected_page"><a href="#">{{ num }}</a></li>
	{% else %}
		<li class="prev"><strong>&laquo;</strong><a href="javascript:void(0)" onclick="do_search('{{s_key}}', '{{s_cat}}', '{{prev}}');" ohref="{{ base_url }}{% if category %}{{ category.slug }}/?page={% else %}?page={% endif %}{{ prev }}{% if sm %}&year={{sy}}&month={{sm}}{% endif %}{% if tagid %}&tagid={{tagid}}{% endif %}{% if module %}&module={{module}}{% endif %}{% if search %}&find={{search}}{% endif %}"  class="Prev" title="Previous Page"> {% trans 'Prev' %}</a></li> 
		{% endifequal %}
	{% endif %}

	{% if not in_leading_range %}
		{% for num in pages_outside_trailing_range %}
			{% ifequal num current_page %}
				<li class="selected_page"><a href="#">{{ num }}</a></li>
			{% else %}
				<li><a href="javascript:void(0)" onclick="do_search('{{s_key}}', '{{s_cat}}', '{{num}}');" ohref="{{ base_url }}{% if category %}{{ category.slug }}/?page={% else %}?page={% endif %}{{ num }}{% if sm %}&year={{sy}}&month={{sm}}{% endif %}{% if tagid %}&tagid={{tagid}}{% endif %}{% if module %}&module={{module}}{% endif %}{% if search %}&find={{search}}{% endif %}"  >{{ num }}</a></li> 
			{% endifequal %}
		{% endfor %}
		<li>&hellip;</li>
	{% endif %}
 
	{% for num in page_numbers %}
	  {% ifequal num current_page %}
	    	<li class="selected_page"><a href="javascript:void(0)">{{ num }}</a></li>
	  {% else %}
	  		<li><a href="javascript:void(0)" onclick="do_search('{{s_key}}', '{{s_cat}}', '{{num}}');" ohref="{{ base_url }}{% if category %}{{ category.slug }}/?page={% else %}?page={% endif %}{{ num }}{% if sm %}&year={{sy}}&month={{sm}}{% endif %}{% if tagid %}&tagid={{tagid}}{% endif %}{% if module %}&module={{module}}{% endif %}{% if search %}&find={{search}}{% endif %}"  title="Page {{ num }}">{{ num }}</a></li> 
	  {% endifequal %}
	{% endfor %}
 
	{% if not in_trailing_range %}
		<li>&hellip;</li>
		{% for num in pages_outside_leading_range reversed %}
			{% ifequal num current_page %}
				<li class="selected_page"><a href="#">{{ num }}</a></li>
			{% else %}
				<li><a href="javascript:void(0)" onclick="do_search('{{s_key}}', '{{s_cat}}', '{{num}}');" ohref="{{ base_url }}{% if category %}{{ category.slug }}/?page={% else %}?page={% endif %}{{ num }}{% if sm %}&year={{sy}}&month={{sm}}{% endif %}{% if tagid %}&tagid={{tagid}}{% endif %}{% if module %}&module={{module}}{% endif %}{% if search %}&find={{search}}{% endif %}" >{{ num }}</a></li> 
			{% endifequal %}
		{% endfor %}
	{% endif %}
 
	{% if has_next %}
		<li class="next br_0"><a href="javascript:void(0)" onclick="do_search('{{s_key}}', '{{s_cat}}', '{{next}}');" ohref="{{ base_url }}{% if category %}{{ category.slug }}/?page={% else %}?page={% endif %}{{ next }}{% if sm %}&year={{sy}}&month={{sm}}{% endif %}{% if tagid %}&tagid={{tagid}}{% endif %}{% if module %}&module={{module}}{% endif %}{% if search %}&find={{search}}{% endif %}"  class="Next" title="Next Page">Next </a><strong>&raquo;</strong></li> 
	{% endif %}
</ul>
</div>
{% endif %}