{% extends "user_base.html" %}
{% load ds_utils %}
{% load tabs %}
{% load i18n %}
{% load upload_tags %}
{% load thumbnail %}
{% block pagetitle %}{% trans 'Payment Confirmation' %} {% endblock %}
{% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{seo.seo_description}}" />
{% endblock %}

{% block head %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}
<div class="hT600 rLvE">
	<div class="tBl-bLk pDt0">
		<div class="tBl-cEl">
			<span class="iCn-bRdR80 oP25"><img src="{{STATIC_URL}}ui/images/global/loading.gif" align="..."></span>
			<p class="alert bLk mRt20 fS16">Please do not navigate away from this page. You'll be redirected to PayPal page shortly.</p>
		</div>
	</div>
</div>
<div style="display:none;">
{%if globalsettings.domain == 'onlinecalgary.net' or globalsettings.domain == 'BlackMonk' or globalsettings.domain == 'demo.blackmonk.com' %}
	{{ form.sandbox }}<!--render-->
{%else%}
{{ form.render }}
{%endif%}
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('form').submit();
});
</script>
{% endblock %}	
				