{% load i18n %}
<div class="section">
		<a class="quick_help" href="https://docs.google.com/a/doublespring.com/document/d/1qSud3JD7RY5ybuy5vj2Es2lSQmb2Iuwcu8SpHlb5b1Y/edit#bookmark=id.p6bpz5lcyze8" target="_blank"><span class="icon">?</span>Quick help</a><hr>
       <h5>{% trans 'FAQs' %}</h5>
       <h6>{% trans 'Restaurant Details' %}</h6>
       <p>{% trans "Add descriptive info about the restaurant.Upload logo which reflects the brand of the restaurant.(This restaurant name shows in the search results)" %}</p>
       <hr>
       <h6>{% trans "Categories & Attributes" %}</h6>
       <p>{% trans "Select appropriate category of the restaurant." %}</p>
		{% if user.is_superuser %}
	       <p>{% trans "If you don't find the desired category, you can add in the " %}<a href="/admin/portal/restaurants/category" target="_blank">Admin CP</a></p>
		{% endif %}
	   <hr>
       <h6>{% trans "Additional Details" %}</h6>
       <p>{% trans "Enter additional details you want customers to know about the restaurant." %}</p>
	   <hr>
       <h6>{% trans "Products & Coupons" %}</h6>
       <p>{% trans "Products and coupons can be added while adding the restaurant listing or while editing the same." %}</p>
	   <hr>
       <h6>{% trans "Payments" %}</h6>
       <p>{% trans "Inform the customers how they can pay at the restaurant for the service or products." %}</p>
	   <hr>
       <h6>{% trans "Hours Of Operation" %}</h6>
       <p>{% trans "Specify the restaurant hours and when it's closed." %}</p>
	   <hr>
       <h6>{% trans "Photos" %}</h6>
       <p>{% trans "Add flair to the restaurant listing by uploading photos of the service or products.You can add multiple photos." %}</p>
	   <hr>
       <h6>{% trans "Category Price" %}</h6>
       <p>{% trans "Category price is the sponsored price which will change based on the category selected.Category price can be updated in the Admin CP." %}</p>
	   <hr>
       <h6>{% trans "Pricing" %}</h6>
       <p>{% trans "The pricing chart of the restaurant module can be updated in the Admin CP where the labels, duration and the prices can be set dynamically in the price chart." %}</p>
	   <hr>
       <h6>{% trans "Promote your Restaurant" %}</h6>
       <p>{% trans "You can promote your restaurant listing by publishing the restaurant as sponsored or featured listing.Sponsored restaurantes will be listed in the restaurant homepage highlighted with a background color.Featured restaurantes are displayed in the restaurant homepage with logos scrolling in a stream." %}</p>
	   <p>{% trans "Note: To update categories, attributes and SEO's Click on the Admin CP." %}</p>
</div> 

                