.ajax_login_detail h2.title{
	color: #535353;
    font-size: 22px;
    font-weight: normal;
    margin: 10px 0 0;
}
.ajax_login_detail h4.disc{
	color: #999999;
    font-family: 'pt sans',arial,helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.ajax_login_detail .form-container{
	background: none repeat scroll 0 0 white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 45px auto 20px;
    position: relative;
    width: 682px;
}
.ajax_login_detail .form-container.forgot_password{
	width:340px;
}
.ajax_login_detail .forgot_password form.signup-email {
	border-right:none
}
.ajax_login_detail form.signup-email {
	border-right: 1px solid #EAEAEA;
    float: left;
    margin: 20px 0 20px 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    position: relative;
    text-align: center;
    width: 300px;
}
.ajax_login_detail form dl{position:relative; margin:0 0 25px 0; padding:0; text-align:center;}
.ajax_login_detail form dl dd{position:relative; clear:both; margin:0; margin-bottom:20px;}
.ajax_login_detail form dl dt{ text-align:left;}
.ajax_login_detail form dl label {
    color: #525252;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding-right: 5px;
	padding-left:25px;
}
.ajax_login_detail form dl em {
    color: #D81700;
}
.ajax_login_detail form dl input[type="text"],form dl input[type="password"]{
	border: 1px solid #E6E6E6;
    border-radius: 3px 3px 3px 3px;
    font-size: 13px;
    height: 28px;
    padding: 3px 5px;
	outline:none;
	line-height:28px;
}
.ajax_login_detail form dl img{ width:90px; height:35px;vertical-align:middle; margin-right:10px;}
.ajax_login_detail button.blue{
    padding: 8px 10px;
    width: 84%;
	text-decoration:none;
	background:url(../images/ie-fix/btn-txt-blue.png);
	background-color: #3a75c9;
	background-repeat: repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e7acf), to(#3772c5));
	background: -webkit-linear-gradient(top , #3e7acf, #3772c5);
	background: -moz-linear-gradient(center top , #3e7acf, #3772c5);
	background: -ms-linear-gradient(top , #3e7acf, #3772c5);
	background: -o-linear-gradient(top , #3e7acf, #3772c5);
	border:1px;
	border-style:solid;
	border-color:#2a60ac #275ead #1b4e97 #275ead;
	-webkit-box-shadow:1px 1px 0px rgba(255,255,255,0.25) inset, -1px -1px 0px rgba(0,0,0,0.1) inset, 1px 1px 0px rgba(0, 0, 0, 0.15);
	   -moz-box-shadow:1px 1px 0px rgba(255,255,255,0.25) inset, -1px -1px 0px rgba(0,0,0,0.1) inset, 1px 1px 0px rgba(0, 0, 0, 0.15);
		 -o-box-shadow:1px 1px 0px rgba(255,255,255,0.25) inset, -1px -1px 0px rgba(0,0,0,0.1) inset, 1px 1px 0px rgba(0, 0, 0, 0.15);
			box-shadow:1px 1px 0px rgba(255,255,255,0.25) inset, -1px -1px 0px rgba(0,0,0,0.1) inset, 1px 1px 0px rgba(0, 0, 0, 0.15);
	color: #FFFFFF;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	outline: 0 none;
	display: inline-block;
	position: relative;
	font-family:Arial, Helvetica, sans-serif
}
.ajax_login_detail button.blue:hover{
	background:url(../images/ie-fix/btn-txt-blue-hover.png);
    background-color: #306bc5;
	background-repeat: repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#336ec9), to(#2d66be));
	background: -webkit-linear-gradient(top , #336ec9, #2d66be);
	background: -moz-linear-gradient(center top , #336ec9, #2d66be);
	background: -ms-linear-gradient(top , #336ec9, #2d66be);
	background: -o-linear-gradient(top , #336ec9, #2d66be);
	border-color:#2154a3 #1e52a4 #14428d;
	-webkit-box-shadow:1px 1px 1px rgba(255,255,255,0.3) inset, -1px -1px 0px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(0, 0, 0, 0.35);
	   -moz-box-shadow:1px 1px 1px rgba(255,255,255,0.3) inset, -1px -1px 0px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(0, 0, 0, 0.35);
		 -o-box-shadow:1px 1px 1px rgba(255,255,255,0.3) inset, -1px -1px 0px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(0, 0, 0, 0.35);
			box-shadow:1px 1px 1px rgba(255,255,255,0.3) inset, -1px -1px 0px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(0, 0, 0, 0.35);
}
.ajax_login_detail button.blue span{
	color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    min-width: 50px;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.12);

}
.ajax_login_detail form.signup-other{
	text-align: center;
	float: left;
    padding: 90px 30px 20px;
    width: 280px;
}
.ajax_login_detail span.divider{
	display: block; 
	position: absolute; 
	top: 46%; 
	background: none repeat scroll 0% 0% white; 
	font-size: 12px; 
	left: 332px; 
	color: rgb(153, 153, 153); 
	padding: 5px 0pt; 
	font-weight: bold;
}
.ajax_login_detail a.connect-button {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.25);
    display: inline-block;
    height: 32px;
    margin-right: 10px;
    padding: 0;
    width: 32px;
}
.ajax_login_detail a.facebook-button{
	background:url(../images/ico/login/1335178847_facebook.png) no-repeat scroll 0 0 transparent;
}
.ajax_login_detail a.twitter-button{
	background:url(../images/ico/login/1335178838_twitter.png) no-repeat scroll 0 0 transparent;
}
.ajax_login_detail a.google-button{
	background:url(../images/ico/login/1335178891_google.png) no-repeat scroll 0 0 transparent;
}
.ajax_login_detail a.linkedin-button{
	background:url(../images/ico/login/1335178891_linkedin.png) no-repeat scroll 0 0 transparent;
}


.ajax_login_detail a.openid-button{
	background:url(../images/ico/login/1335178755_openid.png) repeat scroll 0 0 transparent;
	margin-right:0;
}

.ajax_login_detail .field-error input.error, .ajax_login_detail .field-error textarea.error, .ajax_login_detail .field-error select.error + .chzn-container a {
    border: 1px solid #FF9902 !important;
    -webkit-box-shadow: 0 0 2px #FF9902 !important;
	   -moz-box-shadow: 0 0 2px #FF9902 !important;
		 -o-box-shadow: 0 0 2px #FF9902 !important;
			box-shadow: 0 0 2px #FF9902 !important;
    color: #FF9902;
}
.ajax_login_detail .field-error input.error:hover, .ajax_login_detail .field-error textarea.error:hover, .ajax_login_detail .field-error select.error + .chzn-container a:focus {
    border: 1px solid #FF9902 !important;
    -webkit-box-shadow: 0 0 2px #FF9902 !important;
	   -moz-box-shadow: 0 0 2px #FF9902 !important;
		 -o-box-shadow: 0 0 2px #FF9902 !important;
			box-shadow: 0 0 2px #FF9902 !important;
    color: #FF9902;
}
.ajax_login_detail .field-error input.error:focus, .ajax_login_detail .field-error textarea.error:focus, .ajax_login_detail .field-error select.error + .chzn-container a:focus {
    -webkit-box-shadow: 0 0 2px 1px rgba(255, 153, 2, 0.2) !important;
	   -moz-box-shadow: 0 0 2px 1px rgba(255, 153, 2, 0.2) !important;
	 	 -o-box-shadow: 0 0 2px 1px rgba(255, 153, 2, 0.2) !important;
			box-shadow: 0 0 2px 1px rgba(255, 153, 2, 0.2) !important;
}

.ajax_login_detail .prevent_click{
	pointer-events:none;
}
