.home_widget{padding:12px;background-color:#fcfcfc; border:1px solid #e6e6e6; -moz-border-radius:6px;margin:10px 10px 0 0}
.home_widget h2{font-size:20px;margin-bottom:15px;margin-top:15px;font-weight:bold}
.home_widget h2.first{margin-top:0px!important}
.home_widget .content{font-size:12px;text-align:justify;}
.clear {clear:both;visibility:hidden;}
#map span{display:none !important}
#title{font-size:22px;margin:20px 0px 0px 0px;}
.mrt_15{margin-top:15px!important;}
.mrt_10{margin-top:10px!important;}
.title_desc{background-color:#fff1a8!important;margin-bottom:10px; color:#222!important; padding:5px 10px 10px 10px;display:block!important;}
.success{font-size:16px;margin-bottom:10px; font-weight:bold;line-height:20px;color:#000;display:block;}
.terms .content{font-size:13px!important;text-align:left!important;}
.terms .content p{padding-bottom:10px}