@charset "utf-8";
/* CSS Document */


.title_bar{padding:0 10px;border-bottom:1px solid #cdcdcd;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;background:#fcfcfc url(../images/global/page_bar_bg.png) repeat-x center; height:44px;}
.title_bar .left_block{padding:8px 0;float:left;width:140px;}
.title_bar .left_block h1.page_title{font-size:28px;line-height:28px; font-weight:bold; text-transform:uppercase; color:#777;text-shadow: 0px 1px 0px #FFF;}
.title_bar .right_block{float:right; width:184px;}
.title_bar .right_block .updated{font-size:buzz_sections11px;color:#3d3d3d; text-align:right;padding-top:20px;text-shadow: 0px 1px 0px #FFF;display:block}

#buzz_extras{/*border-right:1px solid #e6e6e6;background-color:#fcfcfc; -moz-border-radius-topleft:6px;*/ padding:10px 0;float:left;width:200px;}
#bizz_filters {float:left;width:200px;}
#buzz_extras h3{font-size:14px; text-transform:uppercase; font-weight:bold; margin:8px 0;padding:0 8px}
#buzz_trends ul {
	margin:0;
	overflow:hidden;
	padding:0;
}
#buzz_trends ul li {
	color:#777777;
	cursor:pointer;
	font-family:'Lucida Grande',Helvetica,sans-serif;
	font-size:12px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:4px 5px 4px 10px;
	text-align:left;
}
#buzz_trends ul li:hover{
	background-color:#f2f2f2;
	}
#buzz_trends ul li a {
	color:#777;
	}
#buzz_trends ul li a:hover,
#buzz_trends ul li:hover a{
	color:#000;
	}
#buzz_trends ul li.selected {
	background-color:#808080;
	font-weight:bold;
}
#buzz_trends ul li.selected a{
	color:#FFF;
	}

#buzz_trends ul li.selected:first-child {
}
	
#buzz_sources ul {
	margin:0;
	overflow:hidden;
	padding:0;
}
#buzz_sources ul li {
	color:#777777;
	cursor:pointer;
	font-family:'Lucida Grande',Helvetica,sans-serif;
	font-size:12px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:4px 5px 4px 10px;
	text-align:left;
	line-height:16px;
}
#buzz_sources ul li img{float:left;margin-right:4px;}
#buzz_sources ul li:hover{
	background-color:#f2f2f2;
	}
#buzz_sources ul li a {
	color:#777;
	}
#buzz_sources ul li a:hover,
#buzz_trends ul li:hover a{
	color:#000;
	}
#buzz_sources ul li.selected {
	background-color:#808080;
	font-weight:bold;
}
#buzz_sources ul li.selected a{
	color:#FFF;
	}

#buzz_sections{/*background-color:#F6F6F6; border-bottom:2px solid #dedede;*/color:##f6f6f6;padding:8px 10px;font-size:12px;float:left;width:156px;_width:154px;}
#buzz_sections ul {
	margin:0;
	overflow:hidden;
	padding:0;
}
#buzz_sections ul li {
	color:#069;
	cursor:pointer;
	font-family:'Lucida Grande',Helvetica,sans-serif;
	font-size:11px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:3px 0;
	padding:1px 10px;
	text-align:left;
	text-transform:uppercase;
	font-weight:normal;
	-moz-border-radius:12px;
}
#buzz_sections ul li:hover{
	background-color:#e6e6e6;
	padding-bottom:0;
	}

#buzz_sections ul li a {
	color:#333;
	}
#buzz_sections ul li a:hover,
#buzz_sections ul li:hover a{
	color:#000;
	}
#buzz_sections ul li.selected {
	background-color:#999;
	font-weight:bold;
	padding-bottom:0;
}
#buzz_sections ul li.selected a{
	color:#FFF;
	}

#buzz_sections ul li.selected:first-child {
}

	
#buzz_body{float:left;width:776px;color:#4c4c4c;}	
#buzz_body #buzz_list{width:600px;float:left}
#buzz_body .filter_bar{color:#f6f6f6;padding:5px 10px;font-size:11px; background-color:#FCFCFC;}
#buzz_body .filter_bar .label {color:#777; padding-right:8px;}
#buzz_body .filter_bar a{margin-right:3px;padding:2px 6px 2px 0;color:#454545;border-right:1px solid #e3e5eb}
#buzz_body .filter_bar a.selected{color:#000; font-weight:bold; border-right:1px solid #e3e5eb}

#buzz_body a{color:}
#buzz_body a:hover{text-decoration:underline;}

#buzz_search {
	padding:0 8px 8px 8px;
	}
#buzz_search h4{font-size:11px; color:#777; margin-bottom:5px; color:#aaa}
.quick_search .search_wrapper {position: relative; width: 175px;}
#buzz_search .quick_search input{
	width:140px;
	}
.quick_search input{
	-moz-border-radius:3px 3px 3px 3px;
	-webkit-border-radius:3px 3px 3px 3px;
	-khtml-border-radius:3px 3px 3px 3px;
	border-radius:3px 3px 3px 3px;
	background:#FFF url(../images/global/input_bg.png) no-repeat scroll 0 0;
	border:1px solid #b2b2b2;
	color:#3d3d3d;
	display:block;
	font:11px/18px Helvetica Neue,"Arial",Helvetica,Verdana,sans-serif;
	margin:0 0 0px 0;
	padding:3px 3px 3px 18px;
	padding-left:20px
	text-shadow:0 0 1px #FFFFFF;
}
.quick_search .left {display: block; position: absolute; left: 0; top: 0; width: 20px; height: 20px; background: url(../images/ico/quick_search_icon.gif) left center no-repeat; }
.quick_search .search_wrapper .reset { position: absolute; width: 11px; height: 11px; overflow:hidden; z-index: 1; right: 4px; top: 6px; background: url(http://images.apple.com/global/nav/images/close.gif); display: block; cursor: pointer; _cursor:hand; }
.quick_search .search_wrapper.empty .reset{ display: none; }
.quick_search input:focus{outline:none}
.quick_search input:focus{border-color:#999;color:#333;padding:2px 0 2px 19px;border:2px solid #069 /*#2daebf*/}
.quick_search input.error{color:#e33100;padding:2px 4px;border:2px solid #e33100}


#more_tweets{padding:16px 10px 20px 10px;}
#more_tweets a{display:block; text-align:center}

.more_twittes_loading{
	border:1px solid #d7d7d7; -moz-border-radius:16px;text-decoration:none;cursor:auto;padding:4px 10px;text-align:center; background-color:#f6f6f6;font-weight:bold;color:#666;
}

#more_twitts{
	_background-color:white;
	}
#more_twitts:hover {
    _background-color:white  !important;
	 _border-top:1px solid #bbb  !important;
}
#more_loader_span{_padding-top:2px}
*:first-child+html .tweet_body{padding-left:68px;margin-left:0px !important;}
*:first-child+html #buzz_search h4{font-size:10px!important}
