@charset "utf-8";
/* CSS Document */


#deal_hdr_bar{height:34px; background:#FFF url(../images/global/deal_bar.png) repeat-x 0 0;overflow:hidden; margin-bottom:20px;}
#deal_hdr_bar h4{display:block; text-indent:-9999px;float:left; width:138px; background:transparent url(../images/global/deal_bar.png) no-repeat 0 -68px;overflow:hidden; height:34px;}
#deal_hdr_bar ul.nav{display:block;float:left; width:590px;overflow:hidden; height:34px;padding:0px 10px;}
#deal_hdr_bar ul.nav li{display:inline}
#deal_hdr_bar ul.nav li a{padding:0 10px;font-size:12px;font-weight:bold;color:#212121;float:left;line-height:34px; border-right:1px solid #e6e6e6;}
#deal_hdr_bar ul.nav li a:hover{background:url(../images/global/deal_bar.png) no-repeat center -102px;color:#000}
#deal_hdr_bar ul.nav li a.active{background:url(../images/global/deal_bar.png) no-repeat center -136px;color:#C60}
#deal_hdr_bar #nav_right{display:block;float:right; width:228px; background:transparent url(../images/global/deal_bar.png) no-repeat right -34px;overflow:hidden; height:34px;line-height:34px;}
#deal_hdr_bar ul.nav li.prom{}
#deal_hdr_bar ul.nav li.prom a{margin-left:5px;border:none;line-height:24px;margin-top:5px; background-color:#333; -moz-border-radius:4px; color:#FFF;}
#deal_hdr_bar ul.nav li.prom a:hover{background-color:#C60;}

#subscribe_nav li{display:inline;}
/*#subscribe_nav li a{disply:block;margin-top:8px;float:right;border-right:1px dotted #C2C2C2;color:#565656;font-weight:normal;margin-right:6px;padding-right:6px;padding-top:2px;padding-bottom:2px }*/
#subscribe_nav li a:hover{}
/*#subscribe_nav li#hdr_subscribe_label{font-weight:bold; color:#777; padding-right:10px;float:right}*/


div.column_wrapper {}
div#the_deal {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	background:#FFFFFF url(../images/global/bg_spotlight2.gif) repeat-y scroll right 0;
	_background-position:-103px 0;
	border:1px solid #D8D8D8;
	margin:0 0 20px;
/*	float:left;
	width:670px;*/
}
div#deal_info {
	float:left;
	width:294px;
}
div#deal_snap {
	float:left;
	padding:14px 8px 14px 12px;
	position:relative;
	width:480px;
	/*min-height:500px;*/
}
div#deal_snap .deal_title{font-size:22px; font-weight:bold;color:#3d3d3d; letter-spacing:-.03em;line-height:25px;margin-bottom:18px;}
#deal_info ul li {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	display:block;
	font-size:11px;
	padding-bottom:6px;
	background: url(../images/global/deal_info_dvdr.png) no-repeat right top;
}
#deal_info ul li .info_wrap{padding-left:28px;padding-bottom:10px;}
#deal_info a, #deal_snap a {
border:0 none;
}
#deal_info ul li#buy_deal {
	-moz-border-radius-topright:5px;
	height:140px;
	background:#e7f3fa url(../images/global/deal_select.png) no-repeat left center;
}
#deal_info ul li#buy_deal {
	-moz-border-radius-topright:5px;
}
#deal_info ul li#buy_deal .buy_wrap{padding:20px 20px 30px 20px; text-align:center}
#deal_info ul li#buy_deal #pay_price{padding-bottom:6px;color:#000;font-weight:bold;display:block;font-size:24px;letter-spacing:-1px;line-height:100%;font-family:Helvetica,Arial,Verdana,sans-serif;}
#deal_info ul li#buy_deal .buy_btn{padding:4px 16px; font-size:16px; font-weight:bold; font-family:Helvetica,Arial,Verdana,sans-serif;}

#deal_info ul li h4{font-size:14px;display:block;font-weight:normal; margin-bottom:10px; padding-left:28px;color:#0281ca}

#deal_info ul li#value {
overflow:hidden;
padding:10px 0 8px 20px;
_height:72px;
}
#deal_info ul li#value h4{background:url(../images/ico/featured1.png) no-repeat 0 0;}
#deal_info ul li#value dl {
display:block;
text-align:left;
float:left;
width:92px;
}
#deal_info ul li#value dl dt, #deal_info ul li#value dl dd {
text-align:left;
}
#deal_info ul li#value dl dt {
font-size:18px;
line-height:20px;
font-weight:normal;
letter-spacing:-.03em;
/*color:#64B2DF;*/
}
#deal_info ul li#value dl dd {
font-size:12px;
line-height:12px;
color:#777;
display:block;
letter-spacing:-.03em;
padding-bottom:10px;
}
#deal_info ul li#value dl.discount {
	color:#F39;
	width:62px;
}


#deal_info ul li#time_counter {
overflow:hidden;
padding:10px 10px 6px 18px ;
color:#D30E13;
_height:80px;
}
#deal_info ul li#time_counter h4{background:url(../images/ico/future-projects.png) no-repeat 0 0;}
#deal_info ul li#time_counter dl {
display:block;
float:left;
text-align:center;
width:45px;
padding-left:8px;
-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;;
border-left:1px solid #d6d6d6;
}
#deal_info ul li#time_counter dl dt {
font-size:26px;
line-height:26px;
font-weight:normal;
letter-spacing:-.06em;
text-shadow: #FFF 0px 2px 0px;
}
#deal_info ul li#time_counter dl dd {
font-size:9px;
letter-spacing:-.02em;
color:#777;
text-transform:uppercase;
}
#deal_info ul li#time_counter dl dt, #deal_info ul li#time_counter dl dd {
text-align:left;
}

#deal_info ul li#number_bought {
overflow:hidden;
padding:10px 10px 6px 18px ;
/*color:#D30E13;*/
}
#deal_info ul li#number_bought h4{background:url(../images/ico/ticket.png) no-repeat 0 0;}
#deal_info ul li#number_bought .number{font-size:16px;}
#deal_info ul li#number_bought .number strong{/*color:#64d312;*/}
#deal_info ul li#number_bought .int_number{float:left;width:118px;font-size:11px;color:#999;text-align:left}
#deal_info ul li#number_bought .target_number{font-size:11px;color:#999;float:left;width:120px;text-align:right}

#deal_info ul li#number_bought #progressbar{}
#deal_info ul li#number_bought .widget_content {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#e6e6e6;
	color:#222222;
	font-size:8px; /*fix ie*/
}
#deal_info ul li#number_bought .progressbar {
	height:10px;
	text-align:left;
	margin:3px 0 4px;
	/*border:1px solid #c75232;*/
}
#deal_info ul li#number_bought #progressbar .progressbar_value {
	height:100%;
	/*background-image: url(../images/global/pbar-ani.gif);*/
}
#deal_info ul li#number_bought .widget_header {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#64d312 /*ec6d28*/;
	border-right:2px solid #3d9f02;
	color:#222222;
	font-weight:bold;
}
#deal_info ul li#number_bought #progressbar .up_done{border-right:none !Important}
#deal_info ul li#number_bought .get_deal{font-size:11px; color:#3d3d3d;padding-top:10px;}
#deal_snap .todays_deal {
color:#64B2DF;
}
#deal_snap span.on {
display:block;
}
.feature{display:block; padding:20px 0 0;}
.feature a{color:#64B2DF;}
.feature .highlights{margin-bottom:10px;}
.feature .highlights h3{font-size:16px;font-weight:bold; line-height:16px;}
.feature .highlights  ul {
	font-size:12px;
	margin:0;
	padding:10px 0;
	text-decoration:none;
}
.feature .highlights  li {
	background:transparent url(../images/ico/check-box.png) no-repeat left center;
	padding-left:20px;
	line-height:18px;
}
.feature .highlights ul li ul{
	list-style-position: inside;
    list-style-type: disc;
}
.feature .highlights ul li ol{
	list-style-position: inside;
    list-style-type: decimal;
}
.feature .fine_print{}
.feature .fine_print h3{font-size:16px;font-weight:bold}
/*.feature .fine_print ul {
	font-size:11px;
	margin:0;
	padding:10px 0;
	text-decoration:none;
}
.feature .fine_print li {
	list-style-position:outside;
	list-style-type:disc;
	margin-left:16px;
	padding-left:0;
}*/


.deal_details{padding-bottom:25px; padding-right:10px; padding-top:20px;} 
/*.deal_details h2{font-size:16px; font-weight:bold;display:none}*/
.deal_details h3{font-size:22px; font-weight:bold; line-height:22px; margin-bottom:5px;}
.deal_details .deal_description{font-size:13px; line-height:16px;}
.deal_details .deal_description p{padding:8px 0}
.deal_details .deal_description ul{padding:10px 10px 10px 26px; margin:0;}
.deal_details .deal_description ul li{list-style:disc; padding:4px 0;}

.company_info{background:#FFF url(../images/global/highlight_bg.png) no-repeat 0 0; padding:10px;}
.company_info h2{font-size:16px; font-weight:bold;color:#64B2DF;margin-bottom:10px;}
.address_block{font-size:13px;line-height:16px;color:#454545;}
.address_block h3{font-weight:bold;color:#000;font-size:16px;margin-bottom:6px;}
.address_block p{padding-bottom:8px;}
.address_block p a{color:#598faf;}
.address_block p a.email_link{padding-right:5px; margin-right:5px; border-right:1px solid #c7d8e2;}

.map_secondary{height:220px; border:1px solid #d2d2d2;-moz-border-radius:4px; margin-bottom:10px;}





#active_list {}
#active_list .active_lst_wrap{display:block;margin-bottom:10px;border:2px dashed #c7d8e2;-moz-border-radius:6px;-webkit-border-radius:6px;-khtml-border-radius:6px;border-radius:6px;-webkit-border-radius:6px;-khtml-border-radius:6px;border-radius:6px;padding:12px;background-color:#FFF; /*height:336px;*/}


#active_list .deal_share_tools{padding:0 0 10px 0; border-bottom:1px solid #eee; margin-bottom:6px;}
#active_list .deal_share_tools .share_deal a img, #active_list .deal_share_tools .share_deal a span, #active_list .deal_share_tools .share_deal .at300bs{dsiplay:none !important}
#active_list .deal_share_tools .share_deal a{float:left; display:block; width:24px; height:24px; background:transparent url(../images/global/deal_bar.png) no-repeat scroll 0 0; overflow:hidden;text-indent:-999px; cursor:pointer; margin-right:5px;}
#active_list .deal_share_tools .share_deal a.fb_icon{background-position:-11px -263px}
#active_list .deal_share_tools .share_deal a.tw_icon{background-position:-45px -263px}
#active_list .deal_share_tools .share_deal a.bz_icon{background-position:-79px -263px}
#active_list .deal_share_tools .share_deal a.rs_icon{background-position:-113px -263px}
#active_list .deal_share_tools .share_deal a:hover{border-style:solid;background-color:#f6f6f6; border-color:#d7d7d7;}
#active_list .deal_share_tools .share_deal .share_label{font-weight:normal; color:#777; padding-right:8px;float:left;}





#active_list .deal_share_tools .gift_wrap{text-align:center;float:right;margin-top:2px;}
#active_list .deal_share_tools .gift_wrap a{padding:5px 6px 5px 28px;border:1px dashed #c7d8e2;font-size:11px;letter-spacing:-.02em;color:#0281ca;background:#f0f6fa url(../images/ico/gift_box.png) no-repeat 6px center;font-weight:bold;-moz-border-radius:6px;-webkit-border-radius:6px;-khtml-border-radius:6px;border-radius:6px;}
#active_list .deal_share_tools .gift_wrap a:hover{background-color:#e7f3fa;}
#active_list .deal_title, div#item_details .deal_title{font-size:18px; line-height:22px;font-weight:bold; font-weight:bold;margin-bottom:8px;}
#active_list .detailed_deal .deal_title{font-size:26px;line-height:29px;margin-bottom:12px; letter-spacing:-1px;}
#active_list .deal_title a:hover, div#item_details .deal_title a:hover{background-color:#C60; color:#FFF}
#active_list .deal_info{background-color:#eaeaea; -moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;;margin-top:10px;display:block;}
#active_list .brought_number{float:left;width:50px;text-align:center; background:#C60;padding:6px 8px;-moz-border-radius-topleft:4px;-moz-border-radius-bottomleft:4px;-webkit-border-radius-topleft:4px;-webkit-border-radius-bottomleft:4px;-khtml-border-radius-topleft:4px;khtml-border-radius-bottomleft:4px;border-radius-topleft:4px;border-radius-bottomleft:4px;-webkit-border-radius-topleft:4px;-webkit-border-radius-bottomleft:4px;-khtml-border-radius-topleft:4px;khtml-border-radius-bottomleft:4px;border-radius-topleft:4px;border-radius-bottomleft:4px;}
#active_list .pieces{font-size:22px;line-height:26px; font-weight:bold;color:#FFF; letter-spacing:-.06em;}
/*#active_list p{font-size:11px;line-height:14px; color:#eee; text-transform:uppercase; letter-spacing:-.02em;}*/
#active_list .deal_pic_320{float:left; width:320px;margin-right:10px;}
#active_list .deal_info_wraper{float:left; width:314px; background-color:#FFF;}
#active_list .deal_info_wrap {overflow:hidden;padding:0;float:left}
#active_list .deal_info{margin-top:0;position:relative}
#active_list .deal_info_wrap h4{background:url(../images/ico/featured1.png) no-repeat 0 0;}
#active_list .deal_info_wrap dl {display:block;text-align:left;float:left;width:60px;_width:59px;padding:11px 8px 10px 10px;background-color:#eaeaea;}
#active_list .deal_info_wrap dl dt, #active_list .deal_info_wrap dl dd {text-align:left;}
#active_list .deal_info_wrap dl dt {font-size:16px;line-height:18px;font-weight:bold;letter-spacing:-.03em;/*color:#64B2DF;*/}
#active_list .deal_info_wrap dl dd {font-size:12px;line-height:12px;color:#666;display:block;letter-spacing:-.03em;padding-bottom:1px;}
#active_list .deal_info_wrap dl.discount {/*color:#C06;*/width:52px !important;border-right:1px solid #ddd;border-left:1px solid #ddd;background-color:#f1f1f1;}
#active_list .deal_info_wrap dl.value {/*color:#C06;*/border-right:1px solid #ddd;border-left:1px solid #ddd;background-color:#f1f1f1;}
#active_list .get_the_deal{padding:0px;background:transparent url(../images/global/deal_bar.png) no-repeat 0 -195px; behavior: url(css/resources/png_fix.htc);cursor:pointer;position:absolute;right:0px;_left:-6px;top:-3px;height:58px;display:block;width:95px;}
#active_list .closed_the_deal{padding:0px;background:transparent url(../images/global/deal_bar.png) no-repeat 0 -813px; behavior: url(css/resources/png_fix.htc);cursor:pointer;position:absolute;right:0px;_left:-6px;top:-3px;height:58px;display:block;width:95px;}
#active_list .closed_the_deal .qty, #active_list .closed_the_deal .price{display:none!important}
#active_list .get_the_deal .qty{font-size:27px;line-height:27px;text-indent:-9999px; text-transform:uppercase;letter-spacing:-3px;font-weight:bolder;padding:9px 0 0 14px;display:block;color:#0CF}
#active_list .get_the_deal .price {text-transform:capitalize;color:#fce703;font-size:18px;font-weight:bold;letter-spacing:-1px;display:block; text-align:center; padding-left:16px;}
#active_list .time_counter {overflow:hidden;padding:6px 0px 0px 10px ;color:#3d3d3d;_height:76px;}
#active_list .time_counter .info_wrap{border-bottom:1px solid #eee;padding-bottom:8px;padding-top:2px;}
#active_list .time_counter h4{background:url(../images/ico/future-projects.png) no-repeat 0 0; behavior: url(css/resources/png_fix.htc);font-size:12px;line-height:22px;display:block;font-weight:normal; margin-bottom:5px; padding-left:28px;color:#666}
#active_list .time_counter dl {display:block;float:left;text-align:center;width:46px;padding-left:6px;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;;border-left:1px solid #e6e6e6;}
#active_list .time_counter dl dt {font-size:20px;line-height:20px;font-weight:normal;text-shadow: #FFF 0px 2px 0px;}
#active_list .time_counter dl dd {font-size:9px;letter-spacing:-.02em;color:#777;text-transform:uppercase;}
#active_list .time_counter dl dt, #active_list .time_counter dl dd {text-align:left;}


#active_list .number_bought {overflow:hidden;padding:6px 0px 6px 10px ;_padding-top:0px;/*color:#D30E13;*/}
#active_list .number_bought  .info_wrap{position:relative}
#active_list .number_bought h4{font-size:12px;line-height:22px;display:block;font-weight:normal; margin-bottom:4px;color:#666}
#active_list .number_bought .bought_qty{font-size:14px;color:#666;position:absolute; top:-24px; right:0;}
#active_list .number_bought .bought_qty strong{/*color:#64d312;*/}
#active_list .number_bought .int_number{float:left;width:244px;font-size:11px;color:#3d3d3d;text-align:left;line-height:14px;font-weight:bold;}
#active_list .number_bought .target_number{font-size:11px;color:#3d3d3d;float:left;width:60px;text-align:right;line-height:14px;font-weight:bold;}
#active_list .number_bought #progressbar{}
#active_list .number_bought .widget_content {-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:#e6e6e6;color:#222222;font-size:8px; /*fix ie*/}
#active_list .number_bought .progressbar {height:10px;text-align:left;margin:3px 0 4px;/*border:1px solid #c75232;*/}
#active_list .number_bought #progressbar .progressbar_value {height:100%;/*background-image: url(../images/global/pbar-ani.gif);*/}
#active_list .number_bought .widget_header {-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:#81bee1 /*ec6d28*/;border-right:2px solid #65a7ce;color:#222222;font-weight:bold;}
#active_list .number_bought #progressbar .up_done{border-right:none !Important}
#active_list .number_bought .get_deal{font-size:11px; color:#999;font-weight:normal}

#alert_signup{}
#alert_signup p{font-size:12px;color:#3d3d3d; padding:4px 0 0 0;line-height:14px;}
#alert_signup .subscribe_btn{background:url(../images/global/deal_bar.png) no-repeat left -170px; behavior: url(css/resources/png_fix.htc);text-indent:-9999px;display:block; width:128px; height:25px;overflow:hidden;margin-top:5px;}


#recent_list ul{}
#recent_list li{float:left; width:330px;margin-right:10px;margin-bottom:10px;}
#recent_list li .recent_lst_wrap{border:2px dashed #c7d8e2;-moz-border-radius:6px;-webkit-border-radius:6px;-khtml-border-radius:6px;border-radius:6px;padding:12px;background-color:#FFF; /*height:336px;*/}
#recent_list li .deal_title{font-size:16px; font-weight:bold; font-weight:bold;line-height:19px;margin-bottom:8px;}
#recent_list li .deal_title a:hover{background-color:#C60; color:#FFF}
#recent_list li .deal_info{background-color:#eaeaea; -moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;;margin-top:10px;display:block;}
#recent_list li .brought_number{float:left;width:50px;text-align:center; background:#C60;padding:6px 8px;-moz-border-radius-topleft:4px;-moz-border-radius-bottomleft:4px;-webkit-border-radius-topleft:4px;-webkit-border-radius-bottomleft:4px;-khtml-border-radius-topleft:4px;khtml-border-radius-bottomleft:4px;border-radius-topleft:4px;border-radius-bottomleft:4px;}
#recent_list li .pieces{font-size:22px;line-height:26px; font-weight:bold;color:#FFF; letter-spacing:-.06em;}
#recent_list li p{font-size:11px;line-height:14px; color:#eee; text-transform:uppercase; letter-spacing:-.02em;}
#recent_list .deal_info_wrap {overflow:hidden;padding:0;_height:52px;}
#recent_list .deal_info_wrap h4{background:url(../images/ico/featured1.png) no-repeat 0 0;}
#recent_list .deal_info_wrap dl {display:block;text-align:left;float:left;width:60px;_width:59px;padding:11px 8px 10px 10px;}
#recent_list .deal_info_wrap dl dt, #recent_list .deal_info_wrap dl dd {text-align:left;}
#recent_list .deal_info_wrap dl dt {font-size:16px;line-height:18px;font-weight:bold;letter-spacing:-.03em;/*color:#64B2DF;*/}
#recent_list .deal_info_wrap dl dd {font-size:12px;line-height:12px;color:#666;display:block;letter-spacing:-.03em;padding-bottom:1px;}
#recent_list .deal_info_wrap dl.discount {/*color:#C06;*/width:52px !important;border-right:1px solid #ddd;border-left:1px solid #ddd;background-color:#f1f1f1;}
#recent_list .deal_info_wrap dl.value {/*color:#C06;*/border-right:1px solid #ddd;border-left:1px solid #ddd;background-color:#f1f1f1;}
#recent_list .expired_deal{background-color:red; color:#FFF;padding:0 4px;}


#deal_text{
	padding-bottom:50px;
	color:#000;
	border-top:4px solid #eee;
	padding-top:20px;
}
h3.text_page_title{
	font-size:26px;
	line-height:32px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
	color:#4584a9;
	letter-spacing:-1px;
	padding-bottom:6px;
	}
#deal_text h4{
	font-size:20px;
	line-height:24px;
	font-weight:normal;
	margin-bottom:10px;
	border-top:1px solid #e6e6e6;
	margin-top:26px;
	padding-top:16px;
	}
#deal_text h4.first{
	margin-top:0px;
	padding-top:0px;
	border:none
	}	
#deal_text p{font-size:12px;margin:12px 0; line-height:15px;}	
#deal_text .divider {
	border-bottom:1px solid #eee;
	margin-bottom:30px;
	margin-top:10px;
	padding-bottom:10px;
}
#deal_text .intro{padding:0 60px 20px 0;}
#deal_text .intro p{font-size:16px; line-height:20px;}
#deal_text ul.note{padding:0px 20px 20px 30px;}
#deal_text ul.note li{ list-style:outside decimal;padding:3px 0;line-height:14px;}
.text_items{margin:0 0 12px 0;display:block; padding:0 10px 0 20px;}
.text_items h5{font-size:14px; font-weight:bold; text-transform:uppercase; margin-bottom:8px;}
.text_items ul{margin:0 0 20px 0;}
.text_items li{float:none;margin:0;padding:5px 0 8px 19px; line-height:14px;width:auto;-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:transparent url(../images/ico/doc_16.png) no-repeat scroll 0 5px;border-bottom:1px solid #EEEEEE;font-size:11px;}
.text_items li a{color:#4584a9;}
.text_items li a:hover{color:#154c6d}


#subscribe_nav_right{padding:10px; background-color:#fcfcfc; border:1px solid #e6e6e6; -moz-border-radius:6px;margin-top:10px;}
#subscribe_nav_right span{font-size:11px;line-height:24px; text-transform:uppercase; font-weight:normal;color:#666;float:left;padding-right:18px;}
#subscribe_nav_right a{float:left; display:block; width:24px; height:24px; background:transparent url(../images/global/deal_bar.png) no-repeat scroll 0 0; overflow:hidden;text-indent:-999px; cursor:pointer; margin-right:5px;}
#subscribe_nav_right a.fb_icon{background-position:-11px -263px}
#subscribe_nav_right a.tw_icon{background-position:-45px -263px}
#subscribe_nav_right a.bz_icon{background-position:-79px -263px}
#subscribe_nav_right a.rs_icon{background-position:-113px -263px}

#deal_for_business{padding:10px; background-color:#fcfcfc; border:1px solid #e6e6e6; -moz-border-radius:6px;margin-top:10px;}
#deal_for_business h2{font-size:16px; font-weight:bold; margin-bottom:4px;}
#deal_for_business p{font-size:12px;line-height:15px; }
#deal_for_business p a{color:#06C}

#how_it_work_steps{padding:0;border:1px solid #e8e8e8;background-color:#fcfcfc;-moz-border-radius:12px;}
#how_it_work_steps ul{padding:0; margin:0;}
#how_it_work_steps ul li{list-style:none none;float:left;width:166px;height:280px;border-right:1px solid #eee;padding:0 12px 12px 12px;}
#how_it_work_steps ul li p{font-size:13px; line-height:17px; letter-spacing:-.01em; text-align:center}
#how_it_work_steps ul li span{display:block;text-indent:-9999px;height:50px; margin:10px 0 0; padding:20px 0 0px 0;line-height:50px; overflow:hidden;background:transparent url(../images/global/deal_bar.png) no-repeat scroll 57px -296px}
#how_it_work_steps ul li h5{font-size:22px;font-weight:normal;display:block; letter-spacing:-.01em; text-align:center; line-height:24px;}

#how_it_work_steps ul li#how_to_1 span{background-position:57px -296px}
#how_it_work_steps ul li#how_to_2 span{background-position:57px -376px}
#how_it_work_steps ul li#how_to_3 span{background-position:57px -457px}
#how_it_work_steps ul li#how_to_4 span{background-position:57px -538px}
#how_it_work_steps ul li#how_to_5 span{background-position:57px -618px}

#item_details{background-color:#f0f3f7;padding:10px;-moz-border-radius:6px;-webkit-border-radius:6px;-khtml-border-radius:6px;border-radius:6px;border:1px solid #e4e9f1; margin-bottom:20px;}
table.order_lst{background-color:#fdfdfe;width:100%;margin:10px 0 0 0;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;}
table.order_lst th, table.order_lst td{padding:8px 12px;}
table.order_lst th{
		background:-moz-linear-gradient(center top , #f8f9fb, #e1e6f0) repeat scroll 0 0 transparent;
		background: -webkit-gradient(linear, 0% 10%, 0% 70%, from(#f8f9fb), to(#e1e6f0));
		border:1px solid #d4dde7;
		color:#000;
		cursor:default;
		outline:medium none;
		padding:3px 8px;
		text-align:center;
		vertical-align:middle;
		white-space:nowrap;
		font-weight:bold;
	}
table.order_lst td{font-size:13px; font-weight:bold;border:1px solid #e0e5ef;}	
table.order_lst .ftr td{font-size:16px;border-top:1px solid #e0e5ef}
table.order_lst .ftr td.total_you_pay{text-align:right; font-size:16px;font-weight:bold;color:#1d2739}

.payment_tip{background-color:#acd0ee;-moz-border-radius:6px;border:4px solid #9dc5e8;color:#203a4e;line-height:20px; font-size:16px; letter-spacing:;font-weight:bold;margin-bottom:10px;}
.payment_tip p{display:block; border:2px dashed #FFF;-moz-border-radius:6px;padding:8px 8px 8px 48px;background:transparent url(../images/global/deal_bar.png) no-repeat scroll 6px -698px;}


.tips_block h3 {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.tips_inner h4 {
    color: #3D3D3D;
}
.tips_inner p {
    color: #666666;
    margin-bottom: 6px;
}