/* Reset from Blueprint */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;  font-weight: inherit;font-style: inherit;font-size: 100%; font-family: inherit;vertical-align: baseline;}
body { 
  line-height: 1.5; 
}
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

img { -ms-interpolation-mode:bicubic }
ul {
	list-style-type: none;
}


body { 
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
	color: rgba(0,0,0,1);
	}

















/* links */

a:link, a:visited {
	color: #004876;
	text-decoration: none;
	}
a:hover {
	color:#000;
	}
a:focus {
	outline:none;
	}

a.text_link{
	color:#003c52 !important;
	text-decoration: underline !important;	
	}
a.text_link:hover {
	color: #012e52 !important;
	}

/* links */

	.br_none{border:none !important;}
	.mr_0{margin:0 !important}
	.mrl_0{margin-left:0 !important}
	.spcl_1{padding-left:10px !important; width:538px !important}
	.spcl_2 {margin-left:115px;}
	.spcl_3{clear:none !important}
	.spcl_4{padding:3px 10px 4px 10px;text-align:right}

h2.section_title {font-size:16px; margin-bottom:8px;color:#000; letter-spacing:-.02em; text-transform:; font-weight:bold}
*html h2.section_title{letter-spacing:-.05em; line-height:22px}
h2.section_title a{color:#000000 !important}
h2.section_title a:hover {color:green !important;}

.secondary .outside{border-top:1px solid #e6e6e6;margin-top:10px;padding-top:3px;}

.pl_25 {padding-left:25px !important;}
.pl_0 {padding-left:0px !important;}


/* hdr ftr */
#header, #footer, #hdr-main{
	margin: 0 auto;
	width: auto;
	text-align:left;
	min-width: 982px;
}
#header {
	/*border-top:3px solid #2c6514;*/
	background-color: #c1181f;	
	}
#hdr-main{
	height: 84px;
	background: #c1181f;
	_padding: 0 10px
}
.hdr_inner{
	margin: 0 auto; 
	width: 982px; 
	position: relative;
	}
#logo {
	width: 252px;
	height: 35px;
	margin: 0;
	padding: 20px 0;
	display:block;
	}
#hdr_guest{position: absolute; top: 30px; right: 0;font-size:12px;}
#hdr_guest li{display: block; float: left; height: 20px;border-right: 1px dotted #c16e68; padding: 0 6px;}
#hdr_guest li.tiny{ color:#fbf801; font-weight:bold;font-size:13px;}
#hdr_guest a{color:#fdf4ee;font-weight:bold}
#hdr_guest a:hover{text-decoration:underline; color:#FFF}
#hdr_guest a{position: relative; top: 1px;}





	
		
		
#header #hdr_nav{
	display: block; 
	height: 28px; 
	background: #000000/* url(../images/global/bg_nav.gif) center*/; 
	padding: 0 10px; 
	text-align:center;
	}
#header #main_menu{
	display:block; 
	margin:0 auto; 
	width: 981px; 
	height: 28px;
	border-left: 1px solid #333 
	}
#main_menu li{
	display: block; 
	float: left; 
	height: 28px; 
	background: #000000; 
	border-right: 1px solid #333;
	}
#main_menu li a{
	overflow: hidden; 
	/*background: #a81017; */
	padding:0 10px;
	line-height: 28px; 
	color: #fff; 
	font-weight: bold; 
	display: block; 
	_display: inline-block; 
	text-decoration: none !important; 
	height: 28px;
	}
#main_menu li a:hover{
	background:#2a2a2a
	}
#main_menu .nav_prom{
	background: #3b5137 url(../images/global/bg_nav.gif) bottom left;
	}
#main_menu li.right{float:right !important}	
#main_menu .nav-on, 
#main_menu .nav-on:hover{
	background: #fff url(../images/global/bg_nav.gif) top; color:#254021
	}
#menu_prom {float:right !important;background:url(../images/global/hdr_bg_prime.png) repeat-x 0 0; overflow:hidden}
#menu_prom li{border-right: 1px solid #a1181e !important;}
#menu_prom li a{border-color:#540404 !important}
#menu_prom li a:hover{background-color:#660001 !important;}
#main_menu li.right{float:right !important}	
#main_menu .nav-on, 
#main_menu .nav-on:hover{
	background:#540404; color:#FFF
	}

#main_menu #t_home{width: 53px;border-left: 1px solid #445f40;}
#main_menu #t_gallery{width: 59px}
#main_menu #t_news{width: 48px}
#main_menu #t_buzz{width: 48px}
#main_menu #t_events{width: 58px}
#main_menu #t_artCulture{width: 94px}
#main_menu #t_lifestyle{width: 68px}
#main_menu #t_education{width: 76px}
#main_menu #t_localQA{width: 82px}
#main_menu #t_forum{width: 56px}
#main_menu #t_classifieds{width:83px}
#main_menu #t_business{width: 128px}


#subnav{display: block; /*width: 100%;*/ padding: 16px 0 0 0;}
/*#subnav .subnav_list {background-color:#fbfdf9;display:block; width:962px;padding:10px;height:14px;border:1px solid #eff3ec; -moz-border-radius:4px;}*/
#subnav li{display: block; float: left; padding: 0 18px; border-left: 1px solid #e1e1e1; height: 14px; line-height: 14px}
#subnav li a{color: #000; font-weight: bold}
#subnav li a span, #subnav li a:hover{color: #666;}
#subnav a.subnav_on{color: #666;}
#subnav_home{padding-left: 0px !important}



#lg_sub_nav{	
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	height:35px; background:#fcf0c8 url(../images/global/bg_nav_02.gif)  repeat-x scroll 0 0;}

ul.round_nav {
	width:982px;
	margin:0 auto;
	padding:6px 8px;
}
ul.round_nav li {
	display:inline;
}  
ul.round_nav li a {
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	-khtml-border-radius:12px;
	border-radius:12px;
	display:inline;
	float:left;
	line-height:11px;
	margin-right:3px;
	padding:6px 12px;
	text-shadow:0 1px 1px #FFF;
	width:auto;
	color:#6b0808;
} 
ul.round_nav li a:hover {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-box-shadow:0 1px 3px rgba(123, 9, 9, 0.25) inset;
	background:#d57f59 none repeat scroll 0 0;
	color:#FFF;
	text-decoration:none;
	text-shadow:0 1px 1px rgba(187, 34, 34, 0.75);
}

ul.round_nav li.active a {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-box-shadow:0 1px 3px rgba(123, 9, 9, 0.5) inset;
	background:#bb4222 none repeat scroll 0 0;
	color:#FFFFFF;
	text-shadow:0 1px 1px #7b0909;
}


/* structure 
--------------------------------------------- */

#content {
	margin: 0 auto;
	width: auto;
	text-align:left;
	min-width: 982px;
	}
#content_inner, .main_wraper{
	width: 982px;
	margin: 0 auto;
	padding: 18px 0 0 0;
	}
.fit_width{
	width: 982px;
	margin: 0 auto;
	padding:0;	
	}	
div.main {
	float: left;
	width: 671px;
	margin-right:10px;
	/*_margin-right:0px;*/
	background:url(../images/global/gray_dot.gif) repeat-y right center;
	padding-right:1px;
	}
div.secondary {
	float: left;
	width: 300px;
	}
div.secondary-inner {
	padding: 0 10px;
	}





/* self-clear floats */

.group:after {
	content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
    }
.clear {
	clear:both;
	visibility:hidden;
	}
.thick_divider{
	border-top:1px solid #dcdcdc;
	padding-top:11px;
	clear:both;
	background:#FFF url(../images/global/divider_title.gif) repeat-x top left;
}
*html .thick_divider{
	height:0px;
	}
*:first-child+html .thick_divider{
	background-position:1px left;
	padding-top:6px;
	}	




.col_1,.col_2,.col_3,.col_4,.col_5,.col_6,.col_7,.col_8,.col_9,.col_510,.col_10,.col_11,.col_12,.col_13,.col_14,.col_15,.wdt_140,.wdt_160,.wdt_832, .wdt_646{float:left; margin-right:10px;}

.col_1{width:52px;}
.col_2{width:114px;}
.col_3{width:176px;}
.col_4{width:238px;}
.col_5{width:300px;}
.col_6{width:362px;}
.col_7{width:424px;}
.col_8{width:486px;}
.col_9{width:548px;}
.col_10{width:610px;}
.col_11{width:672px;}
.col_12{width:734px;}
.col_13{width:796px;}
.col_14{width:858px;}
	
.wdt_140{width:140px;}
.wdt_160{width:160px;}
.wdt_832{width:832px;}
.wdt_646{width:646px;}
	
/*--- Inline text links ---*/

.lst_group { display: block; zoom: 1; }
.lst_group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.lst_group li { float: left; display: inline; }
.lst_group a { border-left: 1px solid #797c80; padding: 0 0 0 5px; margin-left: 5px;_display:inline !important }
.lst_group a.first { border-left: 0 !important; padding-left: 0 !important; margin-left: 0 !important; }	
	

#package_status{margin-bottom:10px;color:#000;background-color:#ffffec; border:2px solid #FF9; -moz-border-radius:6px; -webkit-border-radius:6px;}
#package_status .title_label{display:block; font-size:12px; font-weight:bold; background-color:#FF9; padding:10px; -moz-border-radius:6px 6px 0 0; -webkit-border-radius:6px 6px 0 0;}
#package_status .details_wpr{padding:10px;}
#package_status h2{font-size:26px; letter-spacing:-1px;line-height:22px; margin:4px 0 5px;}
#package_status .subscription_period{font-size:12px; color:#666;}
#package_status ul{padding:6px 0;}
#package_status ul li{display:inline-block; padding-right:12px; border-right:1px solid #e6e6e6; margin-right:12px; line-height:18px}
#package_status ul li strong{font-size:18px;color:#C30;}
#package_status ul li strong em{color:#333; font-style:normal; font-weight:normal; font-size:12px;color:#666}



/*--- Global Footer ---*/

#global_footer { width: 982px; color: #808080;font-size: 11px; margin: 18px 0; padding-bottom: 36px; text-align: left !important; }
#global_footer a { /*color: #08c;*/ }
#global_footer p { margin-bottom: 1em; }
#global_footer p.company_links { float: left; width: 70%; margin: 18px 0 9px 0; }
#global_footer ul.lst_group a { padding: 0 0 0 4px; margin-left: 4px; border-left: 1px solid #d7d7d7; }
#global_footer .online_links { float: right; margin: 18px 3px 9px 0; }

#global_footer .section_links_box {position:relative;}
#global_footer .section_links { margin:1px 0 2px 0; clear:both}
#global_footer .section_links strong {font-weight:bold; width:84px; float:left;color:#999}
#global_footer .section_links a { padding: 0 4px; white-space: nowrap; }
#global_footer .section_links a.last { padding-right: 0; _float: none !important; width: auto !important; }

#global_footer .company_links { float: left; margin: 18px 10px 9px 0; }
#global_footer .online_links { float: right; margin: 18px 0 9px; }
#global_footer .online_links a { padding: 0 10px; white-space: nowrap; }
#global_footer .online_links a.last { padding-right: 0; _float: none !important; width: auto !important; }

#global_footer .rights_links { clear: both; width: 100%; border-top: 1px dotted #dfdfdf; padding-top: 9px;}
#global_footer .rights_links a { padding: 0 10px; }
#global_footer .rights_links p { float: left;}
#global_footer .rights_links .lst_group {float:right;}
