@charset "utf-8";
#panel_tabs {
  height: 30px;
  overflow: hidden;
  margin-bottom: -1px;
  position: relative;
}

#panel_tabs ul.inline {
  margin: 0;
  padding: 0;
}

#panel_tabs ul.inline li {
  padding: 0;
  margin: 0;
  border: none;
  float: left;
}

#panel_tabs ul.inline li a {
  float: left;
  color: #444444;
  text-decoration: none;
  width: 110px;
  height: 30px;
  margin-right: 5px;
  border: 1px solid #d7d7d7;
  border-bottom: none;
}

#panel_tabs ul.inline li a: hover {
  background-color: #f1f1f1;
}

#panel_tabs ul.inline li a.active {
  background-color: #f1f1f1;
}

#panel_tabs ul.inline li a.active: hover {
  background-color: #f1f1f1;
}

#panel_tabs span.step_count {
  width: 8px;
  float: left;
  padding: 0 5px;
  font-size: 18px;
  font-weight: bold;
}

#panel_tabs span.step_label {
  font-size: 11px;
  float: right;
  width: 85px;
  padding: 6px 5px 0 0;
}

#formContainer {
  padding:0;
  background-color:#FFF;
  font-size: 11px;
}

div.step_container {
  float: left;
  width: 932px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

#preview_right {
  float: left;
  width: 378px;
  background-color: #ffffff;
  padding: 8px;
}

#preview_right h2 {
  padding: 17px 0 5px 10px;
  color: #990000;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 10px;
  font-weight: normal;
}

#preview_right div.content {
  padding: 10px 10px 25px 10px;
  font-size: 1.1em;
}

#preview_right div.content h1.title {
  margin-bottom: 3px;
  color: black;
  font: bold large arial, verdana, helvetica, lucida, sans-serif;
}

#preview_right div.content p.time {
  color: #666666;
  font-size: .9em;
  padding-bottom: 5px;
}

#preview_right div.content p.time abbr {
  letter-spacing: normal;
}

#preview_right div.content p.meta {
  color: #aaaaaa;
  font-size: .9em;
  padding-bottom: 10px;
}

#preview_right div.content p.meta big {
  color: #666666;
  font-size: 1.2em;
  padding-right: 15px;
}

#preview_right div.content table {
  padding: 0 0 8px 0;
  display: block;
}

#preview_right div.content table td span.attribute_name {
  color: #aaaaaa;
  font-size: 1em;
}

#preview_right div.content table td span.attribute_value {
  color: #666666;
  font-size: 1.1em;
}

#preview_right div.content p.summary, #preview_right div.content p.address, #preview_right div.content p.contact, #preview_right #preview_right div.content p.ticket, #preview_right div.content p.description {
  padding: 5px 0;
  display: block;
}

#preview_right div.content p.ticket, #preview_right div.content div.map {
  padding: 10px 0;
  display: block;
}

#preview_right div.content p.contact span.tel_pahone big, #preview_right div.content p.contact span.mob_phone big {
  color: #aaaaaa;
  font-size: 1em;
  padding-right: 3px;
}

#preview_right div.content p.contact span.mob_phone {
  padding-left: 15px;
}

#preview_right div.content p.contact span.website, #preview_right div.content p.ticket span.website {
  color: #008000;
}

div#formContainer form.form_left {
  padding: 15px 10px 10px 10px;
  background-color: #FFF;
  margin-right: 0;
}

div#formContainer form.form_all, div#formContainer form.form_qna {
  padding: 15px 20px 20px 20px;
  background-color: #FFFFFF;
  font: 1.1em "Arial";
}

div#formContainer form.form_qna {
  width: 572px;
}

div#formContainer form fieldset {
	border:2px solid #E8E8E8;
	background-color:#FCFCFC;
	-moz-border-radius:8px;
	padding:20px 6px;
	margin-bottom:16px;
	position:relative;
}
div#formContainer form fieldset.base_action{background-color:#FFF;}
div#formContainer form div.title, div.title {
	position:absolute;
	top:-14px;
	left:10px;
	background-color:#fcfff7;
	padding:0 6px;
}
*:first-child+html  div#formContainer form div.title, div.title {
	top:-13px;
}
div#formContainer form div.title h2, div.title h2 {
  font-weight: bold;
  color:#3d3d3d;
  font-size:16px;
}

div#formContainer form div.title p, div.title p {
  color: #aaaaaa;
  display: inline;
}

div#formContainer form div.title p a, div.title p a {
  color: #666666;
}

div#formContainer form fieldset img.profile_photo {
  width: 48px;
  height: 48px;
  float: left;
  display: block;
  margin-right: 5px;
}

div#formContainer form fieldset.address-field {
  background-color: #FCFCFC;
}

div#formContainer form fieldset.base, div#formContainer form fieldset.divider {
  margin-top: 30px;
  background: #FFFFFF url(../images/design/global/dotted.gif) repeat-x top left;
}

div#formContainer form dl.vertical {
  margin: 0;
  padding-left: 20px;
}

div#formContainer form dl.horizontal {
  margin: 0;
  padding: 10px 0 0;
}

div#formContainer form dl.base {
  margin: 0;
  padding: 0;
  text-align: right;
}

div#formContainer form dl.horizontal dt {
  clear: both;
  text-align: right;
  float: left;
  white-space: nowrap;
  width: 140px;
  line-height: 1.25em;
}
div#formContainer form dl.horizontal dd {
  margin-left: 150px;
  line-height: 1.35em;
  position:relative
}

div#formContainer form dl.vertical dt {
  clear: both;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25em;
  display: block;
}

div#formContainer form dl.vertical dd {
  position:relative
  line-height: normal;
}

div#formContainer form dl.file dd {
  padding-left: 20px;
}

div#formContainer form dl.vertical dt label, div#formContainer form dl.horizontal dt label, div#formContainer form dl.horizontal dd label {
  color: #3d3d3d;
  font-size: 13px;
  font-weight: normal;
}
/*div#formContainer form dl.vertical dt label:after, div#formContainer form dl.horizontal dt label:after, div#formContainer form dl.horizontal dd label:after {content:":"; font-weight:bold}*/
div#formContainer form dl.vertical dt label, div#formContainer form dl.horizontal dt label {
  line-height: 160%;
  margin: 0 0 .2em 0;
}

div#formContainer form dl.horizontal dd label {
  margin: 0 0 .2em 0;
  display: block;
}

div#formContainer form dl.vertical dt label.bg, div#formContainer form dl.horizontal dt label.bg, div#formContainer form dl.horizontal dd label.bg {
  background: #E3E6FB;
  font-weight: bold;
  color: #003366;
  padding: 2px 6px;
}

div#formContainer form div.edit_slug {
  padding: 0 0 15px 0;
  font-size: 1.2em;
  color: #333333;
}

div#formContainer form div.edit_slug #uurrll {
  color: #008000;
}

div#formContainer form div.edit_slug .edit {
  padding: 0 2px;
  background: #FDFCD7 !important;
}

div#formContainer form div.edit_slug #bbttnn a.edit_btn {
  text-decoration: underline;
  font-weight: bold;
}

div#formContainer form input.textField, div#formContainer form select.textField, div#formContainer form textarea.textField {
  color: #000000;
  padding: 3px;
  background: #ffffff;
  border: 1px solid #c0c3bb;
  -moz-border-radius:3px;
  margin: 0 0 10px 0;
  display: inline;
  font: 13px/16px Arial, sans-serif;
}
/*div#formContainer form input.checkField, div#formContainer form input[type="checkbox"]{
  background: #ffffff;
  border: 1px solid #c0c3bb !important;
  -moz-border-radius:3px;
  display: inline;
}*/

div#formContainer form input.selectField, div#formContainer form select.selectField, div#formContainer form textarea.selectField {
  color: #000000;
  padding: 2px;
  background: #ffffff;
  border: 1px solid #c0c3bb;
  -moz-border-radius:3px;
  margin: 0 0 10px 0;
  display: inline;
  font: 13px/16px Arial, sans-serif;
}

div#formContainer form input.disable, div#formContainer form select.disable {
  color: #666666;
  background-color: #f1f1f1;
  border-color: #d7d7d7;
}

div#formContainer form input.file {
  padding: 3px;
  _width: 257pxbackground: #ffffff;
  border: 1px solid #95a7b8;
}

div#formContainer form input.file_long {
  padding: 3px;
  background: #ebebe4;
  border: 1px solid #7f9db9;
}

div#formContainer form input.long {
  width: 330px;
}

div#formContainer form file.long {
  width: 300px;
}

div#formContainer form input.normal {
  width: 250px;
}

div#formContainer form select.normal {
  width: 258px;
}

div#formContainer form input.file1 {
  width: 300px;
}

div#formContainer form input.date {
  width: 80px;
  color: #666666;
  font-size: 11px;
  _padding: 2px;
  margin-right: 1px;
}

div#formContainer form select.time {
  width: 70px;
  color: #666666;
  font-size: 11px;
  line-height: inherit;
  padding: 2px;
  margin-right: 2px;
}

div#formContainer form input.cost {
  width: 80px;
}

div#formContainer form input.phone {
  width: 150px;
}

div#formContainer form input.tag {
  width: 208px;
}

div#formContainer form select.locality, div#formContainer form select.small {
  width: 159px;
}
div#formContainer form select.xsmall {
  width: 97px;
}

div#formContainer form select.long {
  width: 240px;
}

div#formContainer form input.city {
  width: 150px;
}

div#formContainer form input.postal {
  width: 80px;
}

div#formContainer form textarea {
  width: 330px;
  height: 150px;
}

div#formContainer form textarea.normal {
  width: 330px;
  height: 150px;
}

div#formContainer form textarea.small {
  width: 330px;
  height: 60px;
}

div#formContainer form select.evnt_category {
  width: 135px;
}

div#formContainer form table.ad_type {
  font-size: 1.2em;
  vertical-align: bottom;
}

div#formContainer form table.post_type {
  font-size: 1.2em;
  vertical-align: bottom;
  margin: 6px 0 15px 0;
  padding: 0;
}

div#formContainer form table tr.row_1 td {
  padding-bottom: 4px;
  _padding-bottom: 3px;
}

div#formContainer form table td.meta, div#formContainer form table td.meta {
  color: #7d7d7d;
  font-size: .85em;
}

div#formContainer form table tr.row_2 td {
  padding-bottom: 20px;
}

input.error, textarea.error, select.error {
  border: 2px solid #e33100 !important;
  padding:2px !important;
  color:#e33100;
}
label.error{
  color:#e33100 !important;
}

div#formContainer form input: focus, div#formContainer form textarea: focus, div#formContainer form select: focus {
  background: #f9f9f9;
  border-color: #5b656e;
}

div#formContainer form em {
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  vertical-align: -10%;
  _vertical-align: 42%;
  cursor: help;
  color: #aaaaaa;
  padding-left: 5px;
}

div#formContainer form em#showAlternatePhones {
  cursor: pointer;
}

div#formContainer form #alternatePhones {
  _padding-left: 3px;
}

div#formContainer form em a {
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  vertical-align: -10%;
  _vertical-align: 0%;
  color: #336699;
}

div#formContainer form span.tip {
  color: #aaaaaa;
  display: block;
  margin-top: -8px;
  _margin-top: -10px;
  margin-bottom: 10px;
  _padding-left: 3px;
  overflow: visible;
}

div#formContainer form div#imageFromUs {
  margin-top: 10px;
}

div#formContainer form div#imageFromUs div.category {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

div#imageFromUs ul.evnt-thumbs {
  margin-top: 10px;
  padding: 0;
}

div#imageFromUs ul.evnt-thumbs li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}

div#imageFromUs ul.evnt-thumbs li img {
  background: #444444;
  width: 64px;
  height: 64px;
}

div#formContainer form .clsd_category {
  margin: 0 0 25px 0;
  width: 890px;
  float: left;
}

.clsd_col {
  width: 214px;
  margin-right: 10px;
  float: left;
}

div#formContainer form .clsd_category h2 {
  margin: 0;
  padding: 10px 0 0 0;
  color: #444444;
  font: bold 1.5em arial, verdana, helvetica, lucida, sans-serif;
}

div#formContainer form .clsd_category ul {
  list-style-type: none;
  line-height: 1.2em;
  font-size: .95em;
  padding: 0;
}

div#formContainer form .clsd_category li {
  float: left;
  padding: 0;
  list-style-type: none;
}

div#formContainer form .clsd_category li a {
  display: block;
  padding: 4px 0;
  width: 214px;
}

div#formContainer form .clsd_category li a: link, div#formContainer form .clsd_category li a: visited {
  color: #333399;
  background: url(../images/design/global/dotted.gif) repeat-x left bottom;
}

div#formContainer form .clsd_category li a: hover {
  text-decoration: underline;
  color: #000000;
  background-color: #F5F5F5;
}

div#formContainer form .clsd_category li a: active, div#formContainer form .clsd_category li a.selected {
  text-decoration: none;
  color: #990000;
  outline: none;
  border: none;
}

div#formContainer form .clsd_category em.count {
  color: #444444;
  font-weight: normal;
  font-style: normal;
}

div#formContainer form .clsd_category a: link span, div#formContainer form .clsd_category a: visited span {
  border-left: none;
  text-decoration: none;
  color: #7D7D7D;
  font-weight: normal;
  font-size: 11px;
}

div#formContainer form .clsd_category a: hover span {
  border-left: none;
  text-decoration: none;
  color: #5A5A57;
  font-weight: normal;
  font-size: 11px;
}

div#formContainer form textarea.askField{
	width: 580px;
	height: 50px;
	font-size:16px;
	line-height:19px;
}
div#formContainer form textarea.qdesField{
	width: 580px;
	height: 80px;
	font-size:13px;
	line-height:17px;
}

#tagsdiv #newtag {
  margin-right: 5px;
  width: 16em;
}

#tagchecklist {
  margin-left: 10px;
  font-size: 12px;
  overflow: auto;
}

#tagchecklist strong {
  margin-left: -8px;
  position: absolute;
}

#tagchecklist span {
  margin-right: 25px;
  display: block;
  float: left;
  font-size: 11px;
  line-height: 1.8em;
  white-space: nowrap;
  cursor: default;
}

#tagchecklist span a {
  margin: 6px 0 0 -9px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  display: block;
  float: left;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}

#tagchecklist span a {
  background: url(../images/design/icons/xit.gif) no-repeat;
}

#tagchecklist span a: hover {
  background: url(../images/design/icons/xit.gif) no-repeat -10px 0;
}

a.link_remove {
  color: #D64B4F;
  text-decoration: underline;
}

a.link_create, span.link_create {
  color: #6633CC;
  text-decoration: underline;
}

span.order {
  font-size: 1.3em;
  font-weight: normal;
  background-color: #FBF9B3;
  color: #000000;
  padding: 1px 3px;
  margin: 1px 5px 0 0;
  *margin-top: 2px;
  display: block;
}

span.orderEdit {
  padding: 0;
  margin: 0 5px 0 0;
  display: block;
}

span.orderEdit input {
  color: #000000;
  width: 20px;
}

.errors {
  margin-top: 5px;
  display: none;
  background: url(../images/design/global/error_bg.gif) repeat;
  color: #CC3300;
  font-size: 12px;
}

.errors p {
  padding: 10px 10px 0;
}

.errors span {
  background-color: #d44914;
  display: block;
  padding: 5px 10px;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid #d44914;
}

.errors ul, .errors ol {
  margin: 0 5px 10px 0;
  padding: 5px 0 15px 25px;
  font-size: 12px;
  list-style: disc;
}

.errors ul li, .errors ol li {
  padding-top: 2px;
}


#formContainer .divider, #tab_content .divider{border-bottom:1px solid #FFFFFF;border-top:1px solid #e9e9e9;height:0px;margin:5px 0px 10px 0px;overflow:hidden;}




















.btn, input.btn[type="submit"], input.btn[type="button"] {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-x-system-font:none;
	background:#DDDDDD url(../images/btn/sprite_btn_bg.gif) repeat-x scroll 0 0;
	border-color:#DDDDDD #DDDDDD #CCCCCC;
	border-style:solid;
	border-width:1px;
	color:#333333;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:14px;
	margin:0;
	overflow:visible;
	padding:6px 10px 7px;
	text-shadow:1px 1px 0 #FFFFFF;
	width:auto;
}
.btn::-moz-focus-inner {
	border:0 none;
	padding:0;
}
.btn-green {
	background-color:#1f9105 !important;
	background-image:url(../images/btn/green_btn_bg.gif)!important;
	border-color:#1f9105 #1f9105 #1a7b04 !important;
	color:#FFFFFF !important;
	text-shadow:-1px -1px 0 #1b7f04 !important;
}
.btn:hover, .btn:focus, input.btn[type="submit"]:hover, input.btn[type="submit"]:focus, button.btn:hover, button.btn:focus {
	background-position:0 -6px;
	border-color:#999999 #999999 #888888;
	color:#000000;
	text-decoration:none;
}
.btn-green:hover, .btn-green:focus {
	border-color:#77AA11 #77AA11 #669900;
}
button:active, button.btn:active, input[type="submit"]:active {
	background-image:none !important;
	outline-color:-moz-use-text-color !important;
	outline-style:none !important;
	outline-width:medium !important;
	text-shadow:none !important;
}
.btn.right {
float:right;
}

.profile_privacy {position:absolute; right:20px; top:0;width:110px;}
.profile_privacy  label{font-size:11px !important; line-height:13px;color:#808080 !important; cursor:pointer}
.profile_privacy  label:after{content:"" !important}
.profile_privacy  input{float:left}
.profile_privacy .label{margin-left:22px;position:relative;display:block}

.extra_field{margin-top:-8px;padding-bottom:8px;}
.extra_field label{font-size:11px !important; line-height:18px;color:#808080 !important;}
.extra_field input[type="checkbox"]{float:left}
.extra_field label:after{content:"" !important; clear:both}

.add_more_link {
	font-size:10px;
	font-weight:bold;
	padding:0 0 10px 0;
	margin-top:-8px;
}
.add_more_link a{color:#069}
.add_more_link a:hover{text-decoration:underline}

input.btn{
	_background-color:#EEE9E9;
    _border:1px solid #CDC9C9;
    _border-top:1px solid #F3F2F2;
    _border-left:1px solid #DAD7D7;
}


    .lb_caption_black_loader{background-color:black;
    border:3px double #EFEFEF;
    color:white;
    font-size:10px;
    font-weight:bold;
    height:12px;
    left:50%;
    margin-left:-25px;
    margin-top:-6px;
    opacity:0.8;
    padding:3px;
    position:absolute;
    top:47%;
    width:50px;
    z-index:1000;
    opacity:0.6;
    display:none;
    padding-top:1px; 
}

