{% load ds_utils %}
{% load i18n %}		
		<input type="hidden" value="{% url 'staff_channel_ajax_list_channels' %}" name="id_listarticle_url" id="id_listarticle_url">
		<input type="hidden" value="{{status}}" name="id_status" id="id_status">
        <input type="hidden" value="{{listing_type}}" name="id_listing_type" id="id_listing_type">
        <input type="hidden" value="{{created}}" name="id_created" id="id_created">
        <input type="hidden" value="{{sort}}" name="id_sort" id="id_sort">
        <input type="hidden" value="{% if search %}{{search}}{% endif %}" name="id_search" id="id_search">
        <input type="hidden" value="" name="id_action" id="id_action">
		<input type="hidden" value="{% url 'staff_channel_ajax_action' %}" name="id_action_url" id="id_action_url">
        
        <input type="hidden" value="{{msg}}" name="id_action_msg" id="id_action_msg">
		{% if channels %}
		<ol class="data-table table-lists-container" id="ajax_content_list">
			{% for channel in channels %}	
			<li class="table-list" id="li_{{channel.id}}">
			        <div class="table-list-container check-item group">
			        		<span id="id_featured_cls_{{channel.id}}" class="list-type {% if channel.featured %}featured-item{% endif %}"><a class="tttxt" title="{% if channel.featured %}{% trans 'Item listed as featured' %}{% endif %}" href="#">{% if channel.featured %}{% trans 'Featured' %}{% endif %}</a></span>
							<span class="checkbox-wrap">
								<span class="cform-checkbox-container">
									<input type="checkbox" onclick="fix_action()" status="{{channel.status}}" value="{{channel.id}}" id="id_checkbox_{{channel.id}}" name="artCulture" class="check-overflow cbox check_action">
								<span class="cform-checkbox-element"></span></span>
							</span>
			            <div class="item-info relative-block">
			                <h3 class="title"><a href="{% if perms.channel.change_channel %}{% url 'staff_channel_update_channel' channel.id %}{% endif %}">{{channel.title}}</a></h3>
			                <p class="ltxt80">{% trans 'By' %} <a href="{% url 'user_profile' channel.created_by.profile_slug %}">{{channel.created_by.display_name}}</a> <span class="divider12">|</span>{{channel.created_on|date:"M d, Y"}}</p>
			                <ul class="quick-stats group">
			                    <!--li class="views"><a class="tttxt" href="javascript:void(0)" title="{% trans 'Viewers' %}"><span class="inline-block icon-view-stats"></span>{{channel.most_viewed}}</a></li-->
			                    
								<!--li class="cmnt"><a class="tttxt"title="{% trans 'View comments' %}" href="#"><span class="inline-block icon-cmnt-stats"></span></a></li-->
			                </ul>
			                <div class="item-status {% if forloop.counter == 1 %}tip tip8{% endif %} {% if not perms.channel.publish_article %} no-options{% endif %} dev_hide_list_status" onclick="display_change_status({{channel.id}},$('#id_estatus_{{channel.id}}').attr('name'));">
			                	<span class="status-inside inline-block" id="id_span_chge_sts_{{channel.id}}">
                                <span title="{% get_status_class channel.status %}" id="id_estatus_{{channel.id}}" name="{{channel.status}}" class="inline-block tttxt status-idty icon-{% get_status_class channel.status %}"></span>	  
			                    {% if not perms.channels.change_channel %}</span>{% endif %}
								{% if perms.channels.change_channel %}
									<span class="arrow"></span></span>
									<ul class="dropdown-list" id="change_status_id_{{channel.id}}">
										<li><strong>{% trans 'Update status to...' %}</strong></li>
				                       	<ul id="id_dis_status_{{channel.id}}">
				                       	</ul>
				                    </ul>
								{% endif %}
			                </div>                                                        
			            </div>
						{% if perms.channels.change_channel or perms.channels.delete_channel %}
			            <div class="action-buttons {% if forloop.counter == 1 %}tip tip9{% endif %}">
			                <div class="relative-block">
			                    <span class="item-manage inline-block dev_hide_list_settings" id="id_span_settings_{{channel.id}}" onclick="display_settings({{channel.id}});"><span class="action-icon icon-manage"></span></span>
			                    <ul class="dropdown-list dev_settingsdrpdwn" id="settings_id_{{channel.id}}" style="display:none">
									{% if perms.channels.change_channel %}
										<li><a href="{% url 'staff_channel_update_channel' channel.id %}">{% trans 'Edit' %}</a></li>
										<li><a title="{% trans 'Title / Description (SEO)' %}" href="{% url 'staff_channel_seo' channel.id %}" class="bm-add-gadget light_box">{% trans 'Update SEO' %}</a></li>
										<li><span class="line-break"></span></li>			                       	
									{% endif %}
				                    	<li><a title="{% trans 'Channel Logs' %}" class="bm-add-gadget light_box" href ="{% url 'common_log' %}?obj_id={{ channel.id }}&type=channel">Audit Logs</a></li>
			                    </ul>
							</div>                                                              	                                                         
			            </div>
						{% endif %}
			        </div>
			    </li> 
			{% endfor %}
			</ol>
			{% include 'common/pagination_ajax.html'%}  
			{% else %}
				<div class="no-data"> <p>{% trans 'Sorry , No Channels found !' %}</p></div>
         	{% endif %}
			<!-- script type="text/javascript" src="{{STATIC_URL}}ui/js/application.js"></script -->
			<script>
				function status_function(id,status){
						$('#id_dis_status_'+id).html('');
						if(status=='P'){
							ahtml = '<li><a onclick="save_status('+id+',\'B\');" href="javascript:void(0);">{% trans 'Deactivate' %}</a></li>'
							$('#id_dis_status_'+id).append(ahtml);
						}
						else if(status=='N'){
							ahtml = '<li><a onclick="save_status('+id+',\'P\');" href="javascript:void(0);" >{% trans 'Activate' %}</a></li>'
							$('#id_dis_status_'+id).append(ahtml);
						}
						else if(status=='B'){
							ahtml = '<li><a onclick="save_status('+id+',\'P\');" href="javascript:void(0);" >{% trans 'Activate' %}</a></li>'
							$('#id_dis_status_'+id).append(ahtml);
						}
						else{
							return false;
						}
					}
					function feature_article_chk(id,val){
							$.ajax({
							type: "GET",
							url: "{% url 'staff_article_feature_count' %}",
							data: 0,
							success: function(data){
								if(data==1){
									if(val){$.colorbox({width: "550",initialWidth: "550", top:"60", title: gettext("Feature Article"), initialHeight: "200", href:'{% url 'staff_article_feature_article_lightbox' %}?aid='+id+''});}
									else{feature_article(id,'F');}
								}else{
									alert(gettext('Sorry!! You can feature only 8 articles'));
								}
							}
						});	
					}
					function set_featured_photo(aid,pid){
						var DataString="aid="+aid+"&pid="+pid;
						$.ajax({
							type: "GET",
							url: "{% url 'staff_article_feature_article_image' %}",
							data: DataString,
							success: function(data){
								if(data){
									$.colorbox.close();
									$('#id_feature_'+aid).hide();
									$('#id_unfeature_'+aid).show();
									$('#id_featured_cls_'+aid).addClass('featured-item');
									show_msg(gettext('Selected article successfully featured.'),'alert-success');
								}else{
									show_msg(gettext('Oops!!! Not able to process your request.'),'alert-error');
								}
							}
						});	
						
					}
					function feature_article(id,v){
						
						var DataString="id="+id+"&status="+v;
						$.ajax({
							type: "GET",
							url: "{% url 'staff_article_feature_article' %}",
							data: DataString,
							success: function(data){
								if(data){
									$('.dev_hide_list_settings ul.dropdown-list').hide();
									$('span.item-manage').removeClass('active')
									if(v=='F'){
										$('#id_feature_'+id).hide();
										$('#id_unfeature_'+id).show();
										$('#id_featured_cls_'+id).addClass('featured-item');
										show_msg(gettext('Selected article successfully featured.'),'alert-success');
									}else{
										$('#id_unfeature_'+id).hide();
										$('#id_feature_'+id).show();
										$('#id_featured_cls_'+id).removeClass('featured-item');
										show_msg(gettext('Selected article successfully non-featured.'),'alert-success');
									}	
								}else{
									show_msg(gettext('Oops!!! Not able to process your request.'),'alert-error');
								}
							}
						});
						
					}
					function save_status(id,status){
						$('#id_estatus_'+id).addClass('loading');
						var DataString="id="+id+"&status="+status;
						$.ajax({
							type: "GET",
							url: "{% url 'staff_channel_change_status' %}",
							data: DataString,
							success: function(data){
								if(data!=0){
									$('#id_estatus_'+id).removeClass('loading');
									$('#id_estatus_'+id).replaceWith(data);
									$('#change_status_id_'+id).hide();
									$('#id_span_chge_sts_'+id).removeClass('active')
									$('#id_checkbox_'+id).attr('status',status);
									show_count('all');
								}else{
									show_msg(gettext('Oops!!! Not able to process your request.'),'e');
								}
							}
						});
				}
				
			</script>

				 