{% load i18n %}
<div class="section">
	   <!-- a class="quick_help" href="https://docs.google.com/a/doublespring.com/document/d/1qSud3JD7RY5ybuy5vj2Es2lSQmb2Iuwcu8SpHlb5b1Y/edit#bookmark=id.f3l0oa9gkbtm" target="_blank"><span class="icon">?</span>Quick help</a><hr -->
       <h5>{% trans 'Highlights' %}</h5>
       <h6>{% trans 'Settings Icon' %}</h6>
       <p>{% trans "Clicking on the settings icon you can perform actions to edit channels." %}</p>
       <hr>
       <h6>{% trans 'Filter channel' %}</h6>
	   <p>{% trans "Filter channels by active and inactive" %}</p>
	   <hr>
	   <h6>{% trans 'Channel status' %}</h6>
	   <p>{% trans "Switch the channel's state b/w active and inactive." %}</p>
</div>              