{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% block navigation %}
	{% activetab "selmodule" "channel" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Channels' %} {% endblock %}
{% block head %}
	<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
{% endblock %}
{% block content %}
 <div id="staff-platform" class="group">
                  	<div class="header-bar has-sub">
					<h2>{% trans 'Channels' %}</h2>
                        <section class="sub-header-bar">
                            <div class="group">
                                  <div class="filter-view-tabs">
                                        <ul class="left">
                                              <li><label>{% trans 'View:' %}</label></li>
                                              <li class="view-tab tip tip1" id="filter_a">
                                                    <a title="{% trans 'View All' %}" name="all" id="listing_all" class="view-both tttxt-n active first" href="javascript:void(0)"><span>All</span></a>
                                                    <a title="{% trans 'Active only' %}"  name="P" id="listing_published" class="view-published tttxt-n" href="javascript:void(0)"><span>Active</span></a>
													<a title="{% trans 'Inactive only' %}" name="B" id="listing_blocked" class="view-withdrawn tttxt-n last" href="javascript:void(0)"><span>{% trans 'Inactive' %}</span></a>
                                              </li>
                                        </ul>
                                  </div>
								  <div class="add-section-right">
			                          <!-- a href="{% url 'staff_article_select_type' %}" class="btn-txt-prime" title="{% trans 'Add New Article' %}"><span class="btn-txt">{% trans 'Add Channel' %}</span></a -->
			                      </div>
                            </div>
                        </section>
                 		</div>
						<div id="core-wraper" class="group">
                        	<div class="staff-main">
                              	<div class="page-wrap">
									<div id="articles" class="group">
                                        <section class="toolbars">
                                            <div class="group">
                                                <ul class="toolbar left">
                                                    <li class="master-check tool">
														<span class="cform-checkbox-container"><input type="checkbox" value="true" id="master_check" name="master-check"><span class="cform-checkbox-element"></span></span>
													</li>
													<li class="tool action_status tip tip5">
                                                        <select  data-placeholder={% trans 'Action' %} id="actionSelect" class="select-menu" onchange="$('#id_action').val($(this).val()),action();" style=" width:140px;">
                                                          <option value="#"></option>
														  {% if perms.channel.change_channel %}
                                                          <optgroup label="Status" class='action_status'>
                                                             	<option value="P" class='publish_action'>{% trans 'Activate' %}</option>
                                                              	<option value="B" class='block_action'>{% trans 'Deactivate' %}</option>
                                                          </optgroup>
														  {% endif %}
                                                        </select>
                                                    </li>
                                                </ul>
                                                {% include 'common/pagination_top.html'%} <!-- pagination top -->  
                                            </div>
                                        </section>
										<span id="ajax_content_loading" class="load-list-items" style="display:none">
										 	<img src="{{STATIC_URL}}ui/images/global/loading.gif" align="...">
										</span>
										<div style="display:none;" class="info-bar" id="top_info_bar"></div>
										<div id="id_content_listing" class="group">
	                                          {% include 'channels/ajax-channel-listing.html'%} 
										</div>	                                       
                                    </div> <!-- end table -->
                              </div>  <!-- end page wrap -->
                        </div>  <!-- end main-col -->                            
                        <div id="aside" class="side-bar">
                        	<input type="hidden" value="{% url 'staff_channel_ajax_state' %}" id="id_channel_status_url">
                        	<div id="module-stats" class="section">
                            	<div class="group">
                                    <h5>{% trans 'State' %}</h5>
                                    <!-- div class="stats-toggle tip tip7">
                                        <a class="state-all statefltr {% if status == 'all' %}active{% endif %} tttxt" onclick="show_count('all');"  href="javascript:void(0)" id="id_status_all" title="{% trans 'Show all state' %}"><span class="icon-state-all"></span></a>                                                    
                                        <a class="state-you statefltr {% if status == 'mine' %}active{% endif %} tttxt" onclick="show_count('mine');" href="javascript:void(0)" id="id_status_mine" title="{% trans 'Show your state' %}"><span class="icon-state-you"></span></a>                             
                                    </div -->
									<span id="ajax_loading" class="loading-stats"  style="display:none;"><img src="{{STATIC_URL}}ui/images/global/loading-s.gif" align="..."></span>
								</div>
                            	<ol class="stats-summary" id="id_module_state_listing">
							        <li class="published-state"><strong id="id_pub">{{ published }}</strong> {% trans 'in' %} <a href="javascript:void(0)">{% trans 'Active' %}</a></li>
							        <li class="blocked-state"><strong id="id_blk">{{ blocked }}</strong> {% trans 'in' %} <a href="javascript:void(0)">{% trans 'Inactive' %}</a></li>
							        <li class="sum"><strong id="id_tot">{{ total }}</strong> {% trans 'total channel.' %}</li>
                                </ol>
                            </div>
                            {% include 'channels/channel-faq.html' %}                                                  
                        </div>                            
					</div>                                                    
				</div>
{% endblock %}			
{% block footer_include%}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.common.js"></script>
<!-- script type="text/javascript" src="{{ STATIC_URL }}js/article/article_staff.js"></script -->
<script type="text/javascript" src="{{ STATIC_URL }}ui/js/listing_settings.js"></script>    
<script type="text/javascript">
</script>
<script type="text/javascript">
	$(document).ready(function(){
	
		$('.tool.action_status .chzn-container').addClass('chzn-disabled , disabled_chosen');
	
		$('.article_tpe').colorbox({width: "560",initialWidth: "560", top:"60", initialHeight: "200"});
		
		$(".iframe").colorbox({width:"800", height:"560", iframe:true});
		
		$(".recent_class").colorbox({width:"800", height:"560"});
		
		{% if recent %}
		
			$('#id_status').val('N');
			$('#filter_a a').removeClass('active');
			$('#listing_pending').addClass('active');
			filter_content();
		
		{% endif %}
		
		
	}); 			
</script>	

<script type="text/javascript">
function txtarealimit(txtobj,len){
	var txtvalue = txtobj.value;
	var the_len = txtvalue.length;
	if (the_len > len){
		txtobj.value = txtvalue.substring(0,len);
	}
	txtobj.scrollTop=txtobj.scrollHeight;
}
function save_seo(option){
	var flag = $('#mform').validate().form()
	var id=0;
	if(flag==true){
		var dataString='&slug='+encodeURIComponent($('#id_slug').val());
		dataString+='&seo_title='+encodeURIComponent($('#id_seo_title').val());
		dataString+='&seo_description='+encodeURIComponent($('#id_seo_description').val());
		$('#ajax_content_seo').hide();
		$('#ajax_content_loading_seo').show();
		$.ajax({
		type: "POST",
		url: $("#mform").attr("action"),
		data: dataString,
		dataType:'JSON',
		success: function(data){
				$('#ajax_content_loading_seo').html(data.msg);
				if(data.status){
					show_msg(data.msg,data.mtype);
					$.colorbox.close();
				}else{
					$('#ajax_content_loading_seo').hide();
					$('#ajax_content_seo').empty().html(data.lightbox_html);
					$('#ajax_content_seo').fadeIn(2000);
				}
			}
		});
	}
}
function show_count(value){
	$('#ajax_loading').show();
	$('.statefltr').removeClass('active');
	$('#id_status_'+value).addClass('active');
	var count_url = $('#id_channel_status_url').val();
	$.ajax({
	type: "GET",
	url: count_url,
	data: 'status='+value,
	dataType:'JSON',
	success: function(data){
			$('#ajax_loading').hide();
			$('#id_pub').html(data.published);
			$('#id_blk').html(data.blocked);
			$('#id_tot').html(data.total);
		}
	});
}
function action(){
	var flag=false;
	var flag_action=false;
	if($('#id_action').val()!='0'){
		$('.cbox:checked').each(function(){
			flag=true;
		});
		if(flag){
			if($('#id_action').val()=='DEL'){
				if(confirm(gettext('Are you sure you want to Delete selected channel(s) ?'))){flag_action=true;}
			}
			if($('#id_action').val()=='P'){
				if(confirm(gettext('Are you sure you want to Activate selected channel(s) ?'))){flag_action=true;}
			}
			if($('#id_action').val()=='B'){
				if(confirm(gettext('Are you sure you want to Deactivate selected channel(s) ?'))){flag_action=true;}
			}
			if(flag_action){filter_action(0,'#');}
		}else{
			alert('Please select channel(s)')
		}
	}
}
function filter_action(ids,action){
	var all_ids=[];
	var dataString='';
	
	var url= $('#id_action_url').val();
	dataString+="sort="+$('#id_sort').val();
	dataString+="&listing="+$('#id_listing_type').val();
	dataString+="&created="+$('#id_created').val();
	if($('#id_status').val()!='' && $('#id_status').val()!=null){
			dataString+="&status="+$('#id_status').val();
		}
	if($('#id_pagentn').val()!='' && $('#id_pagentn').val()!=null){
		dataString+="&page="+$('#id_pagentn').val();
	}
	if($('#id_item_per_page').val()!='' && $('#id_item_per_page').val()!=null){
		dataString+="&item_perpage="+$('#id_item_per_page').val();
	}
	if(action=='#'){
		dataString+="&action="+$('#id_action').val();
		if(ids==0){
			var ids=[];
			$('.cbox:checked').each(function(){
				ids.push($(this).val());
			});
		}
	}else{dataString+="&action="+action;}
	$('.cbox').each(function(){
		all_ids.push($(this).val());
	});
	dataString+="&ids="+ids;
	dataString+="&all_ids="+all_ids;
	$('#ajax_action_loading').show();
	hide_top_info_bar();
	$.ajax({
	type: "GET",
	url: url,
	data: dataString,
	dataType:'JSON',
	success: function(data){
		show_top_info_bar('Articles');
			$("#master_check").attr('checked',false);
			$('.cbox').attr('checked',false);
			$('#ajax_action_loading').hide();
			
			$('#actionSelect').val("").trigger("liszt:updated");
			$('#id_action').val('');
			
			if(data.status==1){
				try{for(i=0;i<ids.length;i++){$('#li_'+ids[i]).remove();}$('#li_'+ids).remove();}
				catch(e){$('#li_'+ids).remove();}
				$('#id_content_listing').html(data.html);
				$('#pagenation').empty().html(data.pagination);
			}
			show_msg(data.msg,data.mtype);
			if(data.search){$('#close_search').show();}
			
			if(data.status==1){
				if(data.next){$('#top_pge_next').removeClass('inactive');}
				else{$('#top_pge_next').addClass('inactive');}
				if(data.previous){$('#top_pge_previous').removeClass('inactive');}
				else{$('#top_pge_previous').addClass('inactive');}
				show_count('all');
				$('#id_from_to').html(data.pagerange);
				$('#top_item_count').html(data.count);
				$('.light_box').colorbox({width: "560",initialWidth: "560", top:"60", initialHeight: "200"});
			}
		}
	});
}
function filter_content(){
	var ids=[]
	var dataString='';
	var url= $('#id_listarticle_url').val();
	dataString+="sort="+$('#id_sort').val();
	dataString+="&listing="+$('#id_listing_type').val();
	dataString+="&created="+$('#id_created').val();
	if($('#id_status').val()!='' && $('#id_status').val()!=null){
			dataString+="&status="+$('#id_status').val();
		}
	if($('#id_pagentn').val()!='' && $('#id_pagentn').val()!=null){
		dataString+="&page="+$('#id_pagentn').val();
	}
	if($('#id_item_per_page').val()!='' && $('#id_item_per_page').val()!=null){
		dataString+="&item_perpage="+$('#id_item_per_page').val();
	}
	if($('#id_action').val()!='0' && $('#id_action').val()!=''){
		$('.cbox:checked').each(function(){
			ids.push($(this).val());
		});
		dataString+="&action="+$('#id_action').val();
		dataString+="&ids="+ids;
	}
	$('#id_content_listing').hide();
	$('#ajax_content_loading').show();
	hide_top_info_bar();
	$.ajax({
	type: "GET",
	url: url,
	data: dataString,
	dataType:'JSON',
	success: function(data){	
			show_top_info_bar('Channels');
			$('#id_pagentn').val('');
			$('#id_action').val('');
			$('#ajax_content_loading').hide();
			$('#id_content_listing').empty().html(data.html);
			$('#id_content_listing').show();
			
			if(data.search){$('#close_search').show();}
			if(data.next){$('#top_pge_next').removeClass('inactive');}
			else{$('#top_pge_next').addClass('inactive');}
			if(data.previous){$('#top_pge_previous').removeClass('inactive');}
			else{$('#top_pge_previous').addClass('inactive');}
			$('#id_from_to').html(data.pagerange);
			$('#top_item_count').html(data.count);
			$('.light_box').colorbox({width: "560",initialWidth: "560", top:"60", initialHeight: "200"});
		}
	});
}
$(document).ready(function(){
	$('#filter_a a').click(function(){
		$('#id_status').val($(this).attr('name'));
		
		if(!$(this).hasClass('active')){
			$('#filter_a a').removeClass('active');
			$(this).addClass('active');
		}
		filter_content();

	});
});  // Document ready end 
</script>
<ul class="tour_link">
    <li class="tool-tip tttxt-t1"><a class="link1" href="/bmt/tour/article/staff/status.html"></a></li>
    <li class="tool-tip tttxt-t2"><a class="link2" href="/bmt/tour/article/staff/listing_type.html"></a></li>
    <li class="tool-tip tttxt-t3"><a class="link3" href="/bmt/tour/article/staff/submissions.html"></a></li>
    <li class="tool-tip tttxt-t4"><a class="link4" href="/bmt/tour/article/staff/search.html"></a></li>
    <li class="tool-tip tttxt-t5"><a class="link5" href="/bmt/tour/article/staff/actions.html"></a></li>
    <li class="tool-tip tttxt-t6"><a class="link6" href="/bmt/tour/article/staff/sorting.html"></a></li>
    <li class="tool-tip tttxt-t7"><a class="link7" href="/bmt/tour/article/staff/state.html"></a></li>
    <li class="tool-tip tttxt-t8"><a class="link8" href="/bmt/tour/article/staff/status_aside.html"></a></li>
    <li class="tool-tip tttxt-t9"><a class="link9" href="/bmt/tour/article/staff/settings.html"></a></li>
</ul>
{% endblock %}					