{% if attribute_group %}
	{% for attr in attribute_group %}
		{% ifchanged attr.attribute_group %}
			{% if not forloop.first %}</div>{% endif %}<div class="clear"></div><div class="field-group">
			<div class="fields-head"><h3>{{attr.attribute_group}}</h3></div>   
		{% endifchanged %}
		<div class="clear"></div><div class="field {% if attr.type == 'S' %}select-field{% else %}text-field{% endif %}">
			<div class="label"><label style="color:#aaa" for="">{{attr}}</label></div>
			<div class="value">
				{% if attr.type == 'C' %}
					<input type="text" id="attr_{{attr.id}}" name="attr_{{attr.id}}" value="{% for ba in bizatr %}{% if ba.key == attr and attr.type == 'C' %}{{ba.textbox_value}}{% endif %}{% endfor %}" maxlength="200">
				{% endif %}
				{% if attr.type == 'K' %}
					{% for attr_valur in attr.get_default_values %}
						<span class="add-options">
							<span class="cform-checkbox-container"><input type="checkbox" value="{{attr_valur.id}}" id="{{attr_valur.id}}" name="attr_{{attr.id}}" {% for ba in bizatr %}{% if ba.key == attr %}{% for bav in ba.value.all %}{% if bav.id == attr_valur.id %}checked="checked"{% endif %}{% endfor %}{% endif %}{% endfor %}><span class="cform-checkbox-element"></span></span>{{attr_valur}}
						</span>
					{% endfor %}
				{% endif %}
				{% if attr.type == 'R' %}
					{% for attr_valur in attr.get_default_values %}
						<span class="add-options">
							<span class="cform-radio-container"><input type="radio" value="{{attr_valur.id}}" id="{{attr_valur.id}}" name="attr_{{attr.id}}" {% for ba in bizatr %}{% if ba.key == attr %}{% for bav in ba.value.all %}{% if bav.id == attr_valur.id %}checked="checked"{% endif %}{% endfor %}{% endif %}{% endfor %}><span class="cform-radio-element"></span></span> 
							{{attr_valur}}
						</span>
					{% endfor %}
				{% endif %}
				{% if attr.type == 'S' %}
					<select name="attr_{{attr.id}}" class="append_attr" style="width:350px;">
					{% for attr_valur in attr.get_default_values %}
						<option value="{{attr_valur.id}}" {% for ba in bizatr %}{% if ba.key == attr %}{% for bav in ba.value.all %}{% if bav.id == attr_valur.id %}selected="selected"{% endif %}{% endfor %}{% endif %}{% endfor %}>
							{{attr_valur}}
						</option>
					{% endfor %}
					</select>
				{% endif %}
			</div>
		</div>
		{% if forloop.last %}</div>{% endif %}
	{% endfor %}
{% endif %}