{% load i18n %}
<div class="section">
       <h5>{% trans 'FAQs' %}</h5>
       <h6>{% trans 'Classified Title' %}</h6>
       <p>{% trans "Enter a short meaningful title. (This Title shows in the search results)" %}</p>
       <hr>
       <h6>{% trans "Choosing a Category" %}</h6>
       <p>{% trans "Choose an appropriate category which is relevant to the product/service to post the Classified Ad." %}</p>
	   <hr>
       <h6>{% trans "Classified Details" %}</h6>
       <p>{% trans "Enter relevant classified details, attribute fields, description and tags." %}</p>
	   <hr>
       <h6>{% trans "Photos" %}</h6>
       <p>{% trans "Upload photos of the product/service to educate the buyer to take a sneek peek for what you are selling." %}</p>
	   <hr>
	   <h6>{% trans "Contact Details" %}</h6>
       <p>{% trans "Enter appropriate contact details of the poster which will be helpful for the end user to close the deal faster." %}</p>
	   <hr>
       <h6>{% trans "Promote Classified Ad" %}</h6>
       <p>{% trans "Once you finish posting your Classified Ad you can promote the classified ad either as sponsored or featured listing to get genuine enquiries.See Plans" %}</p>
</div> 
