{% load i18n %}
{% load ds_utils %}

{% ifequal tweets_from_backup yes %}
{% for tweet in tweets %}
<li class="tweet">
	<div class="tweet_body">
		<span class="author_thumb"><a href="http://twitter.com/{{ tweet.screen_name }}" target="_blank""><img src="{{ tweet.image_url }}" alt="{{ tweet.user_name }}"></a></span>
		<a href="http://twitter.com/{{ tweet.screen_name }}" target="_blank"" class="author_name">{{ tweet.user_name }} </a><span class="twt_txt">{% autoescape off %} {{ tweet.tweet_text|twitter_add_link_username|twitter_add_link_trends|urlize }} {% endautoescape %}</span> 
        <p class="twt_meta">
		
			{{ tweet.tweeted_time|twitter_time_search }}
	
			<span class="source">from {% autoescape off %}{{ tweet.tweeted_source }}{% endautoescape %}</span></p>
        <ul class="twt_actions">
            <!--li class="reply"><a href="#" title="Reply">Reply</a></li>
            <li class="retweet"><a title="Retweet" href="#">Retweet</a></li-->
        </ul> 
	</div>                                                                       
</li>
{% endfor %}

{% else %}

{% for tweet in tweets %}	
<li class="tweet">
	<div class="tweet_body">
		<span class="author_thumb"><a href="http://twitter.com/{{ tweet.user.screen_name }}" target="_blank""><img src="{{ tweet.user.profile_image_url }}" alt="{{ tweet.user.screen_name }}"></a></span>
    	<div class="as_buzz_text_iefix">
		<a href="http://twitter.com/{{ tweet.user.screen_name }}" target="_blank"" class="author_name">{{ tweet.user.name }} </a><span class="twt_txt">{% autoescape off %} {{ tweet.text|twitter_add_link_username|twitter_add_link_trends|urlize }} {% endautoescape %}</span> 
        <p class="twt_meta">{{ tweet.created_at|twitter_time_lists }} <span class="source">from {% autoescape off %}{{ tweet.source }}{% endautoescape %}</span></p>
        <ul class="twt_actions">
            <!--li class="reply"><a href="#" title="Reply">Reply</a></li>
            <li class="retweet"><a title="Retweet" href="#">Retweet</a></li-->
        </ul>
		</div>                                        
	</div>                                                                       
</li>
{% endfor %}

{% endifequal %}
