{% load i18n %}
<li id="list_{{new_menu_obj.id}}">
	<div class="sortable-menu-inner group">
    	<div class="drag-icon"> <img src="{{STATIC_URL}}ui/images/icons/b/48.png" /></div> 
    	<div class="sortable-menu-item">{{new_menu_obj.name}}</div>
        <div class="action-buttons">
            <div class="group">
                <a href="javascript:void(0);" onclick="if(confirm(gettext('Are you sure you want to delete this menu?'))){delete_menu({{new_menu_obj.id}},'{% url 'admin_design_delete_menu_item' %}');return false;}" class="tttxt-n" title="{% trans 'Delete Menu' %}"><span class="action-icon icon-delete"></span></a>
                <a class="txt-button tttxt-n bm-add-gadget light_box bmElement bm-menu-content" id="id_update_link_{{new_menu_obj.id}}" href="{% url 'admin_design_update_menu_item' %}?mid={{new_menu_obj.id}}" title="{% trans 'Update Menu' %}"><span class="action-icon icon-edit"></span></a>
            </div>                                                            
        </div>
    </div>
{% if new_menu_obj.get_sub_menus %}
	<ol>
	{% for smenu in new_menu_obj.get_sub_menus %}	
    	<li id="list_{{smenu.id}}">
        	<div class="sortable-menu-inner group handle_test">
            	<div class="drag-icon"> <img src="{{STATIC_URL}}ui/images/icons/b/48.png" /></div>
            	<div class="sortable-menu-item">{{smenu.name}}</div>
                <div class="action-buttons">
                    <div class="group">
                        <a href="javascript:void(0);" onclick="if(confirm(gettext('Are you sure you want to delete this menu?'))){delete_menu({{smenu.id}},'{% url 'admin_design_delete_menu_item' %}');return false;}" class="tttxt-n" title="{% trans 'Delete Menu' %}"><span class="action-icon icon-delete"></span></a>
                        <a class="txt-button tttxt-n bm-add-gadget light_box bmElement bm-menu-content" id="id_update_link_{{smenu.id}}" href="{% url 'admin_design_update_menu_item' %}?mid={{smenu.id}}" title="{% trans 'Update Menu' %}"><span class="action-icon icon-edit"></span></a>
                    </div>                                                            
                </div>
            </div>
        </li>
	{% endfor %}
    </ol>
{% endif %}
</li>



