{% extends "admin/admin_base.html" %}
{% load tabs %}
{% load i18n %}
{% load get_example %}
{% block navigation %}
	{% activetab 'topnav' 'design' %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Manage Copyright Information' %}{% endblock %}
{% block head %}
	
{% endblock %}
{% block content %}
<div id="admin_wrapper">
	<div id="admin-platform" class="group">
    	<div class="header-bar">
        	<div id="nav-roll">
            	<ul>
                	 <li id="design-index" class="first"><a href="{% url 'admin_design_overview' %}" style="z-index:9"><span class="icon"></span>{% trans 'Design' %}</a></li>
                     <li><a href="{% url 'admin_design_manage_navigation' %}" style="z-index:8">{% trans 'Navigation' %}</a></li>
					<li><a href="{% url 'admin_design_manage_copyright' %}" style="z-index:7">{% trans 'Copyright' %}</a></li>
				</ul>
			</div>
		</div>
		<div id="core-wraper" class="group">
        	<div class="admin-main col_12">
            	{% block leftnavigation %}
					{% activetab 'leftnav' 'copyright' %}
					{% activetab 'leftnavsub' 'copyright' %}
					{% include 'admin/design/left-navigation.html' %}
					{{ block.super }}
				{% endblock %}
                <div class="left-nav-list-bg"></div>
                <div class="col_9 mr_0">
					<div class="page-wrap">
                    	<div class="page-head br_0">
                            <h2>{% trans 'Copyright' %}</h2>
                            <p class="ltxt80">{% trans 'Update the Copyright information whenever there is a change required.' %}</p>
                        </div>
						{% include 'admin/design/include-copyright-settings.html' %}
	               	</div>
	         	</div>                       
	       	</div>                            
	       {% include 'admin/design/copyright-faq.html' %}              
		</div>                                                    
	</div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
{% endblock %}