{% load i18n %}
<div id="aside" class="side-bar col_4">
    <div class="section">
        <a class="quick_help" href="https://docs.google.com/a/doublespring.com/document/d/156Uk5kBmlq8ThOO2UDmXP02gFuLrF6pFMyHeaH8aeBE/edit#bookmark=id.jewy6imyed03" target="_blank"><span class="icon">?</span>Quick help</a>
        <hr>
        <h5>{% trans 'Navigation Links' %}</h5>
        <h6>{% trans 'Add Item' %}</h6>
        <p>{% trans 'Add a header link and the URL which connects to the webpage.' %}</p>
        <hr>
        <h6>{% trans 'Drag and Drop' %}</h6>
        <p>{% trans 'Manage your navigation link position by holding the "X" icon whichever order you want to display the header menu links.' %} </p>
        <hr>
        <h6>{% trans 'Drop Down' %}</h6>
        <p>{% trans 'To create a drop down list, Add a menu item and drag and drop in the main item in whichever menu item you would like to display.' %}</p>
        <hr>
        <h6>{% trans 'Edit/Delete' %}</h6>
        <p>{% trans 'You can Edit or Delete the existing links too.' %}</p>
    </div>
</div>