@charset "utf-8";
#panel_tabs {
  height: 30px;
  overflow: hidden;
  margin-bottom: -1px;
  position: relative;
}

#panel_tabs ul.inline {
  margin: 0;
  padding: 0;
}

#panel_tabs ul.inline li {
  padding: 0;
  margin: 0;
  border: none;
  float: left;
}

#panel_tabs ul.inline li a {
  float: left;
  color: #444444;
  text-decoration: none;
  width: 110px;
  height: 30px;
  margin-right: 5px;
  border: 1px solid #d7d7d7;
  border-bottom: none;
}

#panel_tabs ul.inline li a: hover {
  background-color: #f1f1f1;
}

#panel_tabs ul.inline li a.active {
  background-color: #f1f1f1;
}

#panel_tabs ul.inline li a.active: hover {
  background-color: #f1f1f1;
}

#panel_tabs span.step_count {
  width: 8px;
  float: left;
  padding: 0 5px;
  font-size: 18px;
  font-weight: bold;
}

#panel_tabs span.step_label {
  font-size: 11px;
  float: right;
  width: 85px;
  padding: 6px 5px 0 0;
}

#formContainer {
  padding:0;
  background-color:#FFF;
  font-size: 11px;
}

div.step_container {
  float: left;
  width: 932px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

#preview_right {
  float: left;
  width: 378px;
  background-color: #ffffff;
  padding: 8px;
}

#preview_right h2 {
  padding: 17px 0 5px 10px;
  color: #990000;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 10px;
  font-weight: normal;
}

#preview_right div.content {
  padding: 10px 10px 25px 10px;
  font-size: 1.1em;
}

#preview_right div.content h1.title {
  margin-bottom: 3px;
  color: black;
  font: bold large arial, verdana, helvetica, lucida, sans-serif;
}

#preview_right div.content p.time {
  color: #666666;
  font-size: .9em;
  padding-bottom: 5px;
}

#preview_right div.content p.time abbr {
  letter-spacing: normal;
}

#preview_right div.content p.meta {
  color: #aaaaaa;
  font-size: .9em;
  padding-bottom: 10px;
}

#preview_right div.content p.meta big {
  color: #666666;
  font-size: 1.2em;
  padding-right: 15px;
}

#preview_right div.content table {
  padding: 0 0 8px 0;
  display: block;
}

#preview_right div.content table td span.attribute_name {
  color: #aaaaaa;
  font-size: 1em;
}

#preview_right div.content table td span.attribute_value {
  color: #666666;
  font-size: 1.1em;
}

#preview_right div.content p.summary, #preview_right div.content p.address, #preview_right div.content p.contact, #preview_right #preview_right div.content p.ticket, #preview_right div.content p.description {
  padding: 5px 0;
  display: block;
}

#preview_right div.content p.ticket, #preview_right div.content div.map {
  padding: 10px 0;
  display: block;
}

#preview_right div.content p.contact span.tel_pahone big, #preview_right div.content p.contact span.mob_phone big {
  color: #aaaaaa;
  font-size: 1em;
  padding-right: 3px;
}

#preview_right div.content p.contact span.mob_phone {
  padding-left: 15px;
}

#preview_right div.content p.contact span.website, #preview_right div.content p.ticket span.website {
  color: #008000;
}

div#formContainer form.form_left {
  padding: 15px 10px 10px 10px;
  background-color: #FFF;
  margin-right: 0;
}

div#formContainer form.form_all, div#formContainer form.form_qna {
  padding: 15px 20px 20px 20px;
  background-color: #FFFFFF;
  font: 1.1em "Arial";
}

div#formContainer form.form_qna {
  width: 572px;
}
div#formContainer form fieldset {
	border:1px solid #d1d1d1;
	background: #F7F7F7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#EEEEEE');
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#EEE));
	background: -moz-linear-gradient(top,  #F7F7F7,  #EEE);
	box-shadow:0 0 3px rgba(0, 0, 0, 0.15);
	border-radius:4px;
	padding:20px 6px;
	margin-bottom:16px;
	position:relative;
	border-top:1px solid #BBB;
}
div#formContainer form fieldset.base_action{
	background:none repeat 0 0 scroll #FFF;
	filter:none;
	text-align:right;
	box-shadow:none;
	}
div#formContainer form div.title/*, div.title */{
	position:relative;
	display:block;
	top:-8px;
	left:-17px;
	margin:0;
	height:35px;
	background:url(../images/global/111211bm001.png) no-repeat 1px 100% transparent;
	color:#B2B2B2;
	/* for IE6/7 */
	*background-position:10px 100%;
}
div#formContainer form div.title h2/*, div.title h2*/ {
	font-weight: bold;
	display:inline-block;
	background:none repeat 0 0 scroll rgb(125,125,125); /* The Fallback */
	background:none repeat 0 0 scroll rgba(0,0,0,0.5);
	color:#FFF;
	font-size:13px;
	margin-right:10px;
	padding:3px 35px 4px 30px;
	min-width:95px;
    /* for IE6/7 */
    *display: inline;
    zoom:1;	
}

div#formContainer form div.title p/*, div.title p*/ {
  color: #aaaaaa;
  display: inline;
}

div#formContainer form div.title p a/*, div.title p a*/ {
  color: #666666;
}

div#formContainer form fieldset img.profile_photo {
  width: 48px;
  height: 48px;
  float: left;
  display: block;
  margin-right: 5px;
}

div#formContainer form fieldset.address-field {
  background-color: #FCFCFC;
}

div#formContainer form fieldset.base, div#formContainer form fieldset.divider {
  margin-top: 30px;
  background: #FFFFFF url(../images/design/global/dotted.gif) repeat-x top left;
}

div#formContainer form dl.vertical {
  margin: 0;
  padding-left: 20px;
}

div#formContainer form dl.horizontal {
  margin: 0;
  padding: 10px 0 0;
}

div#formContainer form dl.base {
  margin: 0;
  padding: 0;
  text-align: right;
}

div#formContainer form dl.horizontal dt {
  clear: both;
  text-align: right;
  float: left;
  white-space: nowrap;
  width: 140px;
  line-height: 1.25em;
}
div#formContainer form dl.horizontal dd {
  margin-left: 150px;
  line-height: 1.35em;
  position:relative
}

div#formContainer form dl.vertical dt {
  clear: both;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25em;
  display: block;
}

div#formContainer form dl.vertical dd {
  position:relative
  line-height: normal;
}

div#formContainer form dl.file dd {
  padding-left: 20px;
}

div#formContainer form dl.vertical dt label, div#formContainer form dl.horizontal dt label, div#formContainer form dl.horizontal dd label {
  color: #555555;
  font-size: 14px;
  font-weight: normal;
}
div#formContainer form dl.vertical dt label:after, div#formContainer form dl.horizontal dt label:after, div#formContainer form dl.horizontal dd label:after {content:":"; font-weight:bold}
div#formContainer form dl.vertical dt label.after_none:after, div#formContainer form dl.horizontal dt label.after_none:after, div#formContainer form dl.horizontal dd label.after_none:after {content:"" !Important; }
div#formContainer form dl.vertical dt label, div#formContainer form dl.horizontal dt label {
  line-height: 200%;
  margin: 0 0 .2em 0;
}

div#formContainer form dl.horizontal dd label {
  margin: 0 0 .2em 0;
  display: block;
}

div#formContainer form dl.vertical dt label.bg, div#formContainer form dl.horizontal dt label.bg, div#formContainer form dl.horizontal dd label.bg {
 /* background:#633;
  padding: 2px 6px;*/  
  font-weight: bold;
  color: #3d3d3d;
  font-size:16px;
}

div#formContainer form div.edit_slug {
  padding: 0 0 15px 0;
  font-size: 1.2em;
  color: #333333;
}

div#formContainer form div.edit_slug #url {
  color:#1e80cb;
}

div#formContainer form div.edit_slug .edit {
  padding: 0 2px;
  background:#FF9 !important;
}

div#formContainer form div.edit_slug #bbttnn a.edit_btn {
  text-decoration: underline;
  font-weight: bold;
}

div#formContainer form input.textField, div#formContainer form select.textField, div#formContainer form textarea.textField {
	color: #000000;
	padding: 6px;
	background: none repeat 0 0 scroll #ffffff;
	border: 1px solid #BBB;
	box-shadow:0px 1px 0px rgba(0, 0, 0, .05), inset 0px 1px 1px rgba(0, 0, 0, .14);
	border-radius:2px;
	margin: 0 0 10px 0;
	display: inline;
	font: 13px/16px Arial, sans-serif;
}

div#formContainer form input.disable, div#formContainer form select.disable {
  color: #808080;
  background-color: #EAEAEA;
}

div#formContainer form input.file {
  padding: 3px;
  _width: 257pxbackground: #ffffff;
  border: 1px solid #95a7b8;
}

div#formContainer form input.file_long {
  padding: 3px;
  background: #ebebe4;
  border: 1px solid #7f9db9;
}

div#formContainer form input.long {
  width: 410px;
}

div#formContainer form file.long {
  width: 380px;
}

div#formContainer form input.normal {
  width: 320px;
}

div#formContainer form select.normal {
  width: 328px;
}

div#formContainer form input.file1 {
  width: 380px;
}

div#formContainer form input.date {
  width: 80px;
  color: #666666;
  font-size: 11px;
  _padding: 2px;
  margin-right: 1px;
}

div#formContainer form select.time {
  width: 70px;
  color: #666666;
  font-size: 11px;
  line-height: inherit;
  padding: 2px;
  margin-right: 2px;
}

div#formContainer form input.cost {
  width: 80px;
}

div#formContainer form input.phone {
  width: 150px;
}

div#formContainer form input.tag {
  width: 208px;
}

div#formContainer form select.locality, div#formContainer form select.small {
  width: 244px;
}
div#formContainer form select.xsmall {
  width: 97px;
}

div#formContainer form select.long {
  width: 240px;
}

div#formContainer form input.city {
  width: 230px;
}

div#formContainer form input.postal {
  width: 80px;
}

div#formContainer form textarea {
  width: 330px;
  height: 150px;
}

div#formContainer form textarea.normal {
  width: 330px;
  height: 150px;
}

div#formContainer form textarea.small {
  width: 330px;
  height: 60px;
}
div#formContainer form textarea.askField{
	width: 580px;
	height: 50px;
	font-size:16px;
	line-height:19px;
}
div#formContainer form textarea.qdesField{
	width: 580px;
	height: 80px;
	font-size:13px;
	line-height:17px;
}
div#formContainer form select.evnt_category {
  width: 135px;
}

div#formContainer form table.ad_type {
  font-size: 1.2em;
  vertical-align: bottom;
}

div#formContainer form table.post_type {
  font-size: 1.2em;
  vertical-align: bottom;
  margin: 6px 0 15px 0;
  padding: 0;
}

div#formContainer form table tr.row_1 td {
  padding-bottom: 4px;
  _padding-bottom: 3px;
}

div#formContainer form table td.meta, div#formContainer form table td.meta {
  color: #7d7d7d;
  font-size: .85em;
}

div#formContainer form table tr.row_2 td {
  padding-bottom: 20px;
}

input.error, textarea.error, select.error {
  border: 2px solid #e33100 !important;
  padding:2px !important;
  color:#e33100;
}
label.error{
  color:#e33100 !important;
}

div#formContainer form input: focus, div#formContainer form textarea: focus, div#formContainer form select: focus {
  background: #f9f9f9;
  border-color: #5b656e;
}

div#formContainer form em {
	font-weight: normal;
	font-style: normal;
	font-size: 11px;
	vertical-align: -10%;
	_vertical-align: 42%;
	cursor: help;
	background:none repeat 0 0 scroll transparent;
	color:#AAA;
	margin:0px 0px 0 5px;
}
div#formContainer form em.tips {
	font-weight: normal;
	font-style: normal;
	font-size: 11px;
	vertical-align: -10%;
	_vertical-align: 42%;
	cursor: help;
	background: #AAA;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCC', endColorstr='#AAA');
	background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#AAA));
	background: -moz-linear-gradient(top,  #CCC,  #AAA);
	box-shadow:0px 1px 0px rgba(0,0,0,.145), inset 0px 6px 0px rgba(255,255,255,0.125), 0px 0px 1px rgba(0,0,0,.33) inset;
	border-color:#808080;
	border-style:solid;
	border-width:1px;
	color:#FFF;
	padding:2px 5px 3px;
	margin:0px 0px 0 5px;
	line-height:100%;
	display:inline-block;
	border-radius:20px; 
	text-shadow:1px 1px 0px rgba(0,0,0,0.25);
}

div#formContainer form em#showAlternatePhones {
  cursor: pointer;
}

div#formContainer form #alternatePhones {
  _padding-left: 3px;
}

div#formContainer form em a {
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  vertical-align: -10%;
  _vertical-align: 0%;
  color: #336699;
}

div#formContainer form span.tip {
  color: #aaaaaa;
  display: block;
  margin-top: -8px;
  _margin-top: -10px;
  margin-bottom: 10px;
  _padding-left: 3px;
  overflow: visible;
}

div#formContainer form div#imageFromUs {
  margin-top: 10px;
}

div#formContainer form div#imageFromUs div.category {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

div#imageFromUs ul.evnt-thumbs {
  margin-top: 10px;
  padding: 0;
}

div#imageFromUs ul.evnt-thumbs li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}

div#imageFromUs ul.evnt-thumbs li img {
  background: #444444;
  width: 64px;
  height: 64px;
}

div#formContainer form .clsd_category {
  margin: 0 0 25px 0;
  width: 890px;
  float: left;
}

.clsd_col {
  width: 214px;
  margin-right: 10px;
  float: left;
}

div#formContainer form .clsd_category h2 {
  margin: 0;
  padding: 10px 0 0 0;
  color: #444444;
  font: bold 1.5em arial, verdana, helvetica, lucida, sans-serif;
}

div#formContainer form .clsd_category ul {
  list-style-type: none;
  line-height: 1.2em;
  font-size: .95em;
  padding: 0;
}

div#formContainer form .clsd_category li {
  float: left;
  padding: 0;
  list-style-type: none;
}

div#formContainer form .clsd_category li a {
  display: block;
  padding: 4px 0;
  width: 214px;
}

div#formContainer form .clsd_category li a: link, div#formContainer form .clsd_category li a: visited {
  color: #333399;
  background: url(../images/design/global/dotted.gif) repeat-x left bottom;
}

div#formContainer form .clsd_category li a: hover {
  text-decoration: underline;
  color: #000000;
  background-color: #F5F5F5;
}

div#formContainer form .clsd_category li a: active, div#formContainer form .clsd_category li a.selected {
  text-decoration: none;
  color: #990000;
  outline: none;
  border: none;
}

div#formContainer form .clsd_category em.count {
  color: #444444;
  font-weight: normal;
  font-style: normal;
}

div#formContainer form .clsd_category a: link span, div#formContainer form .clsd_category a: visited span {
  border-left: none;
  text-decoration: none;
  color: #7D7D7D;
  font-weight: normal;
  font-size: 11px;
}

div#formContainer form .clsd_category a: hover span {
  border-left: none;
  text-decoration: none;
  color: #5A5A57;
  font-weight: normal;
  font-size: 11px;
}

#tagsdiv #newtag {
  margin-right: 5px;
  width: 16em;
}

#tagchecklist {
  margin-left: 10px;
  font-size: 12px;
  overflow: auto;
}

#tagchecklist strong {
  margin-left: -8px;
  position: absolute;
}

#tagchecklist span {
  margin-right: 25px;
  display: block;
  float: left;
  font-size: 11px;
  line-height: 1.8em;
  white-space: nowrap;
  cursor: default;
}

#tagchecklist span a {
  margin: 6px 0 0 -9px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  display: block;
  float: left;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}

#tagchecklist span a {
  background: url(../images/design/icons/xit.gif) no-repeat;
}

#tagchecklist span a: hover {
  background: url(../images/design/icons/xit.gif) no-repeat -10px 0;
}

a.link_remove {
  color: #D64B4F;
  text-decoration: underline;
}

a.link_create, span.link_create {
  color: #6633CC;
  text-decoration: underline;
}

span.order {
  font-size: 1.3em;
  font-weight: normal;
  background-color: #FBF9B3;
  color: #000000;
  padding: 1px 3px;
  margin: 1px 5px 0 0;
  *margin-top: 2px;
  display: block;
}

span.orderEdit {
  padding: 0;
  margin: 0 5px 0 0;
  display: block;
}

span.orderEdit input {
  color: #000000;
  width: 20px;
}

.errors {
  margin-top: 5px;
  display: none;
  background: url(../images/design/global/error_bg.gif) repeat;
  color: #CC3300;
  font-size: 12px;
}

.errors p {
  padding: 10px 10px 0;
}

.errors span {
  background-color: #d44914;
  display: block;
  padding: 5px 10px;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid #d44914;
}

.errors ul, .errors ol {
  margin: 0 5px 10px 0;
  padding: 5px 0 15px 25px;
  font-size: 12px;
  list-style: disc;
}

.errors ul li, .errors ol li {
  padding-top: 2px;
}


#formContainer .divider, #tab_content .divider{border-bottom:1px solid #FFFFFF;border-top:1px solid #DDD;height:0px;margin:0px 0px 10px 0px;overflow:hidden;}




.btn, input.btn[type="submit"], input.btn[type="button"] {
	border-radius:3px;
	background: #E9E9E9;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E9E9E9');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E9E9E9));
	background: -moz-linear-gradient(top,  #FFFFFF,  #E9E9E9);
	border-color:#D2D2D2 #C8C8C8 #B1B1B1;
	border-style:solid;
	border-width:1px;
	color:#999;
	cursor:pointer;
	text-transform:none;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:14px;
	margin:0;
	overflow:visible;
	padding:8px 14px 7px;
	text-shadow:0px 1px 0 #FFFFFF;
	width:auto;
	box-shadow:0 1px 0px rgba(0,0,0,.08), 0 18px 2px rgba(255,255,255,0.265) inset, 0 0px 2px rgba(0,0,0,0.115) inset, 0 1px 0px rgba(255,255,255,1) inset;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out; 
}
.btn:hover, .btn:focus, input.btn[type="submit"]:hover, input.btn[type="submit"]:focus, button.btn:hover, button.btn:focus {
	border-color:#B2B2B2 #A8A8A8 #919191;
	color:#666;
	text-decoration:none;
}
button:active, button.btn:active, input[type="submit"]:active {
	background: none repeat 0 0 scroll #f5f5f5;
	text-shadow:none;
	color:#444 !important;
	box-shadow:0 1px 1px rgba(0,0,0,.118), 0 35px 0px rgba(0,0,0,0.0075) inset, 0 0px 1px rgba(255,255,255,1) inset;
}
.btn.right {float:right;}

.profile_privacy {position:absolute; right:20px; top:0;width:110px;}
.profile_privacy  label{font-size:11px !important; line-height:13px;color:#808080 !important; cursor:pointer}
.profile_privacy  label:after{content:"" !important}
.profile_privacy  input{float:left}
.profile_privacy .label{margin-left:22px;position:relative;display:block}

.extra_field{margin-top:-8px;padding-bottom:8px;}
.extra_field label{font-size:11px !important; line-height:18px;color:#808080 !important;}
.extra_field input[type="checkbox"]{float:left}
.extra_field label:after{content:"" !important; clear:both}

.add_more_link {
	font-size:10px;
	font-weight:bold;
	padding:0 0 10px 0;
	margin-top:-8px;
}
.add_more_link a{color:#069}
.add_more_link a:hover{text-decoration:underline}























/*Video_uploding*/


ul#settingsnav {
    height: 47px;
    list-style-type: none;
    margin: 25px 0 40px;
    width: 490px;
}
ul#settingsnav li {
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul#settingsnav.one li {
    width: 100%;
}
ul#settingsnav.two li {
    width: 50%;
}
ul#settingsnav.three li {
    width: 33.33%;
}
ul#settingsnav.four li {
    width: 25%;
}
ul#settingsnav.five li {
    width: 20%;
}
ul#settingsnav.six li {
    width: 16.66%;
}
ul#settingsnav li img {
    margin-right: 5px;
    margin-top: -1px;
    vertical-align: middle;
}
ul#settingsnav li a {
	background: -moz-linear-gradient(center top , #FCFCFC, #F1F1F1) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(center top , #FCFCFC, #F1F1F1) repeat scroll 0 0 transparent;
    border-color:#DDDDDD;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px;
    color: #85898F;
    display: block;
    font-size: 13.5px;
    line-height: 15px;
    padding: 15px;
}
ul#settingsnav li.first a {
    border-left:none;
}
ul#settingsnav li a:hover {
	background: -moz-linear-gradient(center top , #f7f7f7, #ececec) repeat scroll 0 0 transparent;
    color: #525760;
}
ul#settingsnav li.active a {
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid white;
    border-left: medium none !important;
    border-radius: 0 5px 0 0;
    border-right: 1px solid #DDD;
    border-top: 1px solid #DDD;
    color: #444444;
    font-weight: bold;
    margin: 0 -1px 0 0;
    position: relative;
}
ul#settingsnav {
    margin:0;
}
ul#settingsnav li {
    text-align: left;
}
ul#settingsnav li a {
    padding-left: 20px;
}
ul#settingsnav li a span.youtube_icon {
	background-color:transparent;
    background-image: url("../images/icons/youtube-favicon.ico");
    background-repeat: no-repeat;
    height: 16px;
    padding-left: 26px;
    width: 16px;
}
ul#settingsnav li a span.url_icon{
	background-color:transparent;
    background-image:url(../images/icons/url.png);
    background-repeat: no-repeat;
    padding-left: 26px;
	width:16px;
	height:16px;
}

/*serch*/
.serch_bar {
    height: 40px;
    overflow: hidden;
}
.filter_items {
    float: left;
    padding: 0 0 0 10px;
}
/*.categories {
    float: left;
    padding: 0 0 0 10px;
}*/
.youtube_serch {
    float: right;
	margin-right:20px;
}
#video_uploding {
}
#video_uploding #serch_vedio_li {
    margin: 0 0 10px;
}
#video_uploding .video_tabs{
    background:-moz-linear-gradient(center top , #F9F9F9, #EAEAEA) repeat scroll 0 0 #F6F6F6;
	}
#video_uploding .serch_block {
    background-color: #FFFFFF;
    border-top: 1px solid #C0C0C0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 -1px 1px rgba(0, 0, 0, 0.1) inset;
    height: 327px;
    margin: 0;
    overflow: auto;
    padding: 15px 0;
}
#video_uploding .serch_block ul.video_list {
    margin-left: 5px;
    position: relative;
}
#video_uploding .serch_block ul li.video_items {
	float:left;
}
#video_uploding a.item_co {
    background: -moz-linear-gradient(center top , #FCFCFC, #F8F8F8) repeat scroll 0 0 transparent;
    border-color: #DDDDDD #C1C1C1 #BCBCBC #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    float: left;
    margin: 5px;
    padding: 6px;
    width: 214px;
}

/*inactive video*/

#video_uploding a.inactive_video{    
	opacity:0.6;
	cursor:default;
}
#video_uploding a.inactive_video:hover{    
	cursor:default;
	opacity:0.6;
}
#video_uploding span.inactive_video{ cursor:default;}
#video_uploding span.inactive_video button.inactive_video{
	cursor:default;
/*	background:-moz-linear-gradient(center top , #e6e6e6 0pt, #e6e6e6 100%) repeat scroll 0 0 white;
*/}
#video_uploding span.inactive_video button.inactive_video:hover{	
/*	background:-moz-linear-gradient(center top , #e6e6e6 0pt, #e6e6e6 100%) repeat scroll 0 0 white;
*/	box-shadow:none;
    border-color: #CCCCCC #CCCCCC #AAAAAA;
}
#video_uploding span.inactive_video button.inactive_video:hover span.addvideo_btn_img{
	background:url(../images/icons/add.png) no-repeat;
}

/*/inactive video*/

#video_uploding a.item_co:hover {
    background:-moz-linear-gradient(center top , #F9F9F9, #F1F1F1) repeat scroll 0 0 transparent;
}
#video_uploding .video_thump_co {
    display: inline-block;
    float: left;
    margin: 0 8px 0 0;
    position: relative;
}
#video_uploding .video_thump {
    position: relative;
    vertical-align: bottom;
}
#video_uploding .video_thump .videoclip {
    display: block;
    height: 59px;
    overflow: hidden;
    position: relative;
}
#video_uploding .button_co{
	display:inline-block;
	margin-top:4px;
}
button.addvideo_btn{
	background:-moz-linear-gradient(center top , #FCFCFC, #F6F6F6) repeat scroll 0 0 white;
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px #FFFFFF inset;
    color: #555555;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    overflow: visible;
    padding:0 5px;
    text-shadow: 0 0 0 transparent, 0 1px 0 #F1F1F1;
    vertical-align: middle;
    white-space: nowrap;
}
button.addvideo_btn:hover{
	background:-moz-linear-gradient(center top , #F9F9F9 0pt, #F1F1F1 100%) repeat scroll 0 0 white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	border-color:#C6C6C6 #C6C6C6 #C6C6C6 #C6C6C6;
}
button.addvideo_btn:hover span.addvideo_btn_img{
	background:url(../images/icons/add-hover.png)no-repeat;
}
span.addvideo_btn_img{
	height: 19px;
	position: relative;
	display:block;
	float:left;
	width: 19px;
    margin:2px 0;
	background:url(../images/icons/add.png) no-repeat;
}
span.videotxt{ vertical-align:middle; line-height:22px; padding:0 3px; display:block; float:left;}
button.removevideo_btn{
	background:-moz-linear-gradient(center top , #FCFCFC, #F6F6F6) repeat scroll 0 0 white;
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px #FFFFFF inset;
    color: #555555;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    overflow: visible;
    padding:0 5px;
    text-shadow: 0 0 0 transparent, 0 1px 0 #F1F1F1;
    vertical-align: middle;
    white-space: nowrap;
	position:absolute;
	top:37px;
}
button.removevideo_btn:hover{
	background:-moz-linear-gradient(center top , #F9F9F9 0pt, #F1F1F1 100%) repeat scroll 0 0 white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	border-color:#C6C6C6 #C6C6C6 #C6C6C6 #C6C6C6;
}
button.removevideo_btn:hover span.removevideo_btn_img{
	background:url(../images/icons/remove-hover.png)no-repeat;
}
span.removevideo_btn_img{
	height: 19px;
	position: relative;
	display:block;
	float:left;
	width: 19px;
    margin:2px 0;
	background:url(../images/icons/remove.png) no-repeat;
}
#video_uploding .video_thump .videoclip img {
    width: 106px;
}
#video_uploding .title {
    color: #333333;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    height: 28px;
    overflow: hidden;
    text-decoration: none;
    width: auto;
}
#video_uploding .selected_video_con {
    background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
    border-top: 1px solid #CCCCCC;
    box-shadow: 0 4px 3px #444444;
}
#video_uploding .selected_video_bar {
    height: 44px;
    line-height: 44px;
}
/*#video_uploding .selected_video_bar .choose_categories{    
	float: right;
    padding: 6px 10px 0;
}*/
#video_uploding .selected_video_item_cont {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
    position: relative;
}
#video_uploding .selected_video_item {
    height: 84px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}
#video_uploding button.video_item_prev, button.video_item_next {
    background-image: -moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
    height: 84px;
    width: 28px;
}
#video_uploding button.video_item_prev img{
	font-size: 0;
    vertical-align: middle;
}
#video_uploding button.video_item_next img{
	font-size: 0;
    vertical-align: middle;
}

#video_uploding button.video_item_prev {
    float: left;
}
#video_uploding button.video_item_next {
    float: right;
}
#video_uploding .selected_video_body {
    overflow: hidden;
    position: relative;
}
#video_uploding .selected_video_slider {
    padding: 0 10px 0 0;
    position: relative;
    white-space: nowrap;
    word-wrap: normal;
}
#video_uploding .selected_video_item_cont ul.sel_video_list {
}
#video_uploding .selected_video_item_cont ul li.sel_video_items {
    display: inline-block;

}
#video_uploding a.sel_item_co {
    color: #000000;
    display: block;
    overflow: hidden;
    position: relative;
    margin: 5px;
    padding: 6px;
    width: 214px;
    background: -moz-linear-gradient(center top , #FCFCFC, #F8F8F8) repeat scroll 0 0 transparent;
    border-color: #DDDDDD #C1C1C1 #BCBCBC #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
#video_uploding a.sel_item_co:hover {
    background:-moz-linear-gradient(center top , #F9F9F9, #F1F1F1) repeat scroll 0 0 transparent

}
#video_uploding .sel_video_thump_co {
    display: inline-block;
    float: left;
    margin: 0 8px 0 0;
    position: relative;
}
#video_uploding .sel_video_thump {
    position: relative;
    vertical-align: bottom;
}
#video_uploding .sel_video_thump .sel_videoclip {
    display: block;
    height: 59px;
    overflow: hidden;
    position: relative;
}
#video_uploding .sel_video_thump .sel_videoclip img {
    display: block;
    width: 106px;
}
#video_uploding .sel_title {
	color:#333333;
    display: block;
    font-size: 11px;
    font-weight: bold;
	max-height:28px;
    line-height: 13px;
	left: 119px;
    width: auto;
	overflow: hidden;
	padding-right:6px;
    position: absolute;
    white-space: normal;
}


































