/*
	Title:		Theme styles for screen media
	Author: 	bilal.ck@doublespring.com
*/


/* Theme styles
---------------------------------------------- */

.account-bar{
	background: none repeat scroll 0 0 #517dc5;
	border-bottom: 1px solid rgb(44, 69, 108); /* The falback */
    border-bottom: 1px solid rgba(0, 0, 0, .45);
}
header{
	background: #E9E9E9;
	border-bottom:1px solid #C2C2C2;
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
	}
#steps .step_nav li.current a{color:#212121;}
#steps .step_nav li.current a span{background: none repeat 0 0 scroll #89aeeb; color:#FFF;	border:2px solid #517dc5;}
#steps .step_nav li.finished a{color:#808080;}
#steps .step_nav li.finished a span{background: none repeat scroll 0 0 #c1d5f6;border: 2px solid #90afe1;color: #FFFFFF;}

.btn.prime, input.btn.prime[type="submit"], input.btn.prime[type="button"]  {
	background: #366f9f;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a96c8', endColorstr='#366f9f');
	background: -webkit-gradient(linear, left top, left bottom, from(#5a96c8), to(#366f9f));
	background: -moz-linear-gradient(top,  #5a96c8,  #366f9f);
	border-color:#3b7db6 #236298 #13456f;
	color:#FFF;
	text-shadow:0px 1px 0 #275277;
	box-shadow:0 1px 0px rgba(0,0,0,.28), 0 18px 2px rgba(255,255,255,0.065) inset, 0 0px 2px rgba(0,0,0,0.215) inset, 0 1px 0px rgba(255,255,255,0.32) inset;
	-moz-transition: all 0.2s ease;
	-webkit-transition-property : all 0.2s ease-in-out; 	
}
.btn.prime:hover, .btn.prime:focus, input.btn.prime[type="submit"]:hover, input.btn.prime[type="submit"]:focus, button.btn.prime:hover, button.btn.prime:focus {
	background: #2a5e89;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4179a7', endColorstr='#2a5e89');
	background: -webkit-gradient(linear, left top, left bottom, from(#4179a7), to(#2a5e89));
	background: -moz-linear-gradient(top,  #4179a7,  #2a5e89);
	border-color:#1a4e7a #1a4e7a #0e3353;
	text-shadow:0px 1px 0 #0e3353;
	color:#FFF;
	text-decoration:none;
}
.btn.prime:active{
	background: none repeat 0 0 scroll #1c4e78 !important;
	text-shadow:none;
	color:#FFF !important;
	box-shadow:0 1px 0px rgba(0,0,0,.28), 0 16px 0px rgba(0,0,0,0.025) inset, 0 0px 2px rgba(0,0,0,0.215) inset !important;
	-moz-transition: none !Important;
	-webkit-transition-property : none; 
	
}