@charset "utf-8";
/* CSS Document */

.bubble{
    margin-bottom: 9px;
}
.no-tool{ visibility:hidden !important;}
.has-tool{ visibility:visible !important;}
.tool {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    visibility: hidden;
}
.toolmain {
    background:url(../images/global/arrow.png) no-repeat scroll 0 50% transparent;
    margin-left: -9px;
    padding: 3px 5px 5px 15px;
    position: relative;
}
.toolmain p{ padding:5px; margin:0;}
.toolclose {
    background:url(combined_v35_vr.png) repeat scroll 0 -50px transparent;
    cursor: pointer;
    height: 13px;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 14px;
}
.toolcontent {
    overflow: hidden;
}
