{% extends base %}
{% load currency %}
{% load truncate_filter %}
{% load thumbnail %}
{% load tabs %}
{% load i18n %}
{% load modulotag %}
{% load ds_utils %}
{% load social_share %}
{% block pagetitle %}{% seo_format_tag module='Deals' title=deal.seo_title code='DT' category=category.name as seo_meta_title %}{{seo_meta_title}} {% endblock %}
{% block meta %}
	<meta name="description" content="{{ deal.seo_description|truncate_chars:150 }}" />
{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/deal.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/lightbox.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/general/lightbox.js"></script>
		<!-- countdown js begin-->       
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.countdown.js"></script>
        <!-- configure look of counter -->
        <script type="text/javascript">
			
        $(function () {
            $('.defaultCountdown').countdown({
                until: +{{ deal.get_remaining_scnd }},
                format: 'YDHMS',
                layout: '<dl class="days"><dt>{dnn}</dt><dd>Days</dd></dl><dl class="hours"><dt>{hnn}</dt><dd>Hours</dd></dl>'+
				'<dl class="minutes"><dt>{mnn}</dt><dd>Minutes</dd></dl>'+
				'<dl class="seconds"><dt>{snn}</dt><dd>Seconds</dd></dl>'+
				'<div class="clear"></div>'
                });
        });
        </script>
<!-- countdown js end-->
<script type="text/javascript" src="{{STATIC_URL}}js/report_data.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/get_report_data.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	bids.push({{deal.id}});
	details_pages(bids);
	});
	
	</script>
<script type="text/javascript">
	var share = {
	    fb:function(title,url) {
			this.share('http://www.facebook.com/sharer.php?u=##URL##&t=##TITLE##',title,url);
	    },
	    tw:function(title) {
	        this.share('http://twitter.com/home?status=##TITLE##',title);
	    },
	    share:function(tpl,title,url) {
	        if(!url) url = (window.location);
	        if(!title) title = (document.title);
	        tpl = tpl.replace("##URL##",encodeURIComponent(url));
	        tpl = tpl.replace("##TITLE##",encodeURIComponent(title));
	        window.open(tpl,"sharemwindow"+tpl.substr(7,6),"width=650,height=380");
	    }
	};
</script>
{% endblock %}
{% block navigation %}
	{% activetab "topnav" "deals" %}
	{{ block.super }}
{% endblock %}
{% block content %}
{% load_socialshare_obj %}
	{% include 'default/deals/part_lightbox.html' %}
	{% activetab "dealnav" "home" %}
	{% include 'default/deals/part_top_navigation.html' %}


	{% if message %}
		<div class="flash_success_alert" id="id_topmessage"><h2>{% autoescape off %}{{ message }}{% endautoescape %}</h2></div>
		<script type="text/javascript">
			setTimeout("window.document.getElementById('id_topmessage').style.display='none';",30000);
		</script>
	{% endif %}
			<div class="group">
				<div class="col_11">
                    <div id="active_list" class="list_wrap group">
						<div class="active_lst_wrap detailed_deal group mr_0">
								<div class="deal_share_tools group">
	                                <div class="share_deal group" style="width:320px;float:left; overflow:hidden;">
										{% if social.twitter %}
										<div id="re_tweet" style="padding-top:0; margin-right:15px; width:75px; float:left;">
											<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">{% trans 'Tweet' %}</a>
											<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
										</div>
									  {% endif %}
									  {% if social.google_plus %}
										<div style="float: left; width: 60px; margin-right: 15px;">
											<!-- Place this tag where you want the +1 button to render -->
											<g:plusone size="medium" width="120"></g:plusone>
											
											<!-- Place this render call where appropriate -->
											<script type="text/javascript">
											  (function() {
											    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
											    po.src = 'https://apis.google.com/js/plusone.js';
											    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
											  })();
											</script>
										</div>
										{% endif %}
										{% if social.fb_like %}
										<div class="group" style="width:90px; float:left;">
											<div id="fb-root"></div>
											<script>(function(d, s, id) {
											  var js, fjs = d.getElementsByTagName(s)[0];
											  if (d.getElementById(id)) return;
											  js = d.createElement(s); js.id = id;
											  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
											  fjs.parentNode.insertBefore(js, fjs);
											}(document, 'script', 'facebook-jssdk'));</script>
											<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
										</div>
										{% endif %}
										{% if social.pinterest %}
										<div class="group" style="width:60px; float:left;">
											<a data-pin-config="beside" href="//pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
										</div>
										<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
										{% endif %}
	                                </div>
									{% if deal.voucher_valid %}
									<div style="float:left;background-color:#FFC; padding:3px 10px;margin-left:50px;color:#000">{% trans 'Redeem before :' %} {{ deal.voucher_valid|ds_site_dateformat }}</div>
									{% endif %}
                                	{% if rem_seconds %}
									{% if deal.can_gifted %}
										<div class="gift_wrap"><a href="{% url 'deal_confirmation' %}?did={{ deal.id }}&friend=1">{% trans 'Buy it for a friend!' %}</a></div>
									{% endif %}
									{% endif %}
	                            </div>
                            <h2 class="deal_title"><a href="javascript:void(0)">{{ deal.title }}</a></h2>
                            <div class="group">
                                <div class="deal_pic_320 rel_block">
									<a href="#1">
										{% if deal.get_deal_image.photo %}
	                                    	<img src="{% thumbnail deal.get_deal_image.photo 320x196 %}" width="320" height="196">
										{% else %}
											<span class="iCn-bRdR50 oP25" title="{{deal.title}}"><i aria-hidden="true" class="bUi-iCn-dEaL-24 cLr-gRy ib"></i></span><div class="vRtL-aLn"></div>
										{% endif %}
									</a>
                                </div>
                                <div class="deal_info_wraper">
                                    <div class="deal_info">
                                        <div class="deal_info_wrap group">                                       
                                            <dl class="group">
                                            	 <dd>{% trans 'Value' %}</dd>
                                              <dt style="">{{ deal.original_price|floatformat:0|moneyfmt }}</dt>
                                            </dl>
                                            <dl class="discount group">
                                            	<dd>{% trans 'Discount' %}</dd>
                                              <dt>{{ deal.get_discount }}%</dt>
                                            </dl>
                                            <dl class="save group">
                                            	<dd>{% trans 'You Save' %}</dd>
                                              <dt>{{ deal.get_savings|moneyfmt }}</dt>
                                            </dl>
                                            <div class="clear"></div>
                                        </div>
										{% ifnotequal deal.get_count_total_sold deal.max_count %}
											{% if rem_seconds %}
	                                        <div class="get_the_deal" onclick="window.location.replace('/deals/confirmation/?did={{ deal.id }}');">
	                                            <span class="qty">{% trans 'Buy!' %}</span>
	                                            <p class="price">{{ deal.discount_price|floatformat:0|moneyfmt }}</p>
	                                        </div>
											{% else %}
												<div class="closed_the_deal">
		                                            <span class="qty">{% trans 'Closed!' %}</span>
		                                            <p class="price">--</p>
		                                        </div>
											{% endif %}
										{% else %}
											<div class="closed_the_deal">
	                                            <span class="qty">{% trans 'Closed!' %}</span>
	                                            <p class="price">--</p>
	                                        </div>
										{% endifnotequal %}
										<div class="clear"></div>                                                                                    
                                    </div>
									{% if not rem_seconds %}
									<div style="padding:30px 20px">
										<h2 style="font-size:16px; font-weight:bold;color:#FF5479">{% trans 'Sorry, this deal is no longer available!' %}</h2>
										<span class="bought_qty"><strong>{{ deal.get_count_total_sold }}</strong> {% trans 'bought' %}</span>
									</div>
									{% else %}
                                    <div class="time_counter">
                                    	{% ifnotequal deal.get_count_total_sold deal.max_count %}
                                        <h4>time left to buy</h4>
                                        <div class="info_wrap group defaultCountdown">
                                            <dl class="days">
                                              <dt>00</dt>
                                              <dd>{% trans 'Days' %}</dd>
                                            </dl>                                        
                                            <dl class="hours">
                                              <dt>00</dt>
                                              <dd>{% trans 'Hours' %}</dd>
                                            </dl>

                                            <dl class="minutes">
                                              <dt>00</dt>
                                              <dd>{% trans 'Minutes' %}</dd>
                                            </dl>
                                            <dl class="seconds">
                                              <dt>00</dt>
                                              <dd>{% trans 'Seconds' %}</dd>

                                            </dl>
                                            <div class="clear"></div>
                                        </div> 
										{% endifnotequal %}
                                        <div class="clear"></div>                                               
                                    </div>  
                                    <div class="number_bought group">
                                        <h4>&nbsp;</h4>
                                        <div class="info_wrap group">
                                            <span class="bought_qty">{% trans 'Over' %} <strong>{{ deal.get_count_total_sold }}</strong> {% trans 'bought' %}</span>
                                            <span class="up_progress"><div id="progressbar" class="progressbar widget_content"><div class="progressbar_value widget_header" style="width: {{ deal.get_total_percentage }}%;"></div></div></span>
                                            <h4 style="color: #666666;">{% trans 'Show your voucher to avail' %} {{ deal.get_discount }}% {% trans 'off on room tariff' %}</h4>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="clear"></div>   
                                    </div>
									{% endif %}
                                </div>
                                <div class="clear"></div>
                                <div class="feature group" style="float:none;display:block;width:auto;">
 									<div class="highlights" style="float:left; width:320px;margin-right:10px;">
 										{% if deal.hihlights %}
                                        <h3>Highlights</h3>
                                        <ul>
											<li>{% autoescape off %}{{ deal.hihlights }}{% endautoescape %}</li> 
                                        </ul>
										{% endif %}
                                  	</div>                                
                                  	<div class="fine_print entry-body"  style="float:left; width:314px;">
                                        <h3>{% trans 'The Fine Print' %}</h3>
                                    	<div>
                                    		{% if deal.end_date %}
												<!--li>Deal Expires {{ deal.end_date|ds_site_dateformat }}</li-->
											{% endif %}
											{% if deal.limit_per_customer %}
												<li>{{ deal.limit_per_customer }} voucher per customer</li>
											{% endif %}
											{% if deal.can_gifted %}
												<li>Can be gifted</li> 
											{% endif %}
											</ul>
											{% if deal.fineprint %}
												{% autoescape off %}{{ deal.fineprint }}{% endautoescape %}
											{% endif %}
										</div>
                                  	</div>
                                </div> 																
                            </div>
                        </div>
                    </div>   					
                    <div class="the_deal_details_wrapper">
        				<div class="deal_details group">
                            <!--<h2>Detail:</h2>-->
                            <div class="col_6" style="width:330px;">
                                <h3>{% trans 'Deal Details' %}</h3>
                                <div class="deal_description entry-body">
                                    {% autoescape off %}{{ deal.about }}{% endautoescape %}
                                </div>
                            </div><!--details ends here -->
                    <div class="col_5 mr_0">
                    	<h3>{{ deal.business.name }}</h3>
                        
                        <div class="address_block">
                            {% if deal.business.getaddress.0.address1 %}
								<h4>{{ deal.business.getaddress.0.address1 }},</h4>
							{% endif %}
							<p>
							{% if deal.business.getaddress.0.address2 %}
								{{ deal.business.getaddress.0.address2 }},
							{% endif %}
							{% if deal.business.getaddress.0.city %}
								{{ deal.business.getaddress.0.city }}
								{% if deal.business.getaddress.0.zip %}
									- {{ deal.business.getaddress.0.zip }}
								{% endif %}
							{% endif %}
							</p>
							<p>
							{% if deal.business.getaddress.0.telephone1 %}
								<span style="display:block; margin-bottom:2px;">{% trans 'Phone:' %} {{ deal.business.getaddress.0.telephone1 }}</span>
							{% endif %}
							{% if deal.address.all.0.mobile %}
								<span style="display:block; margin-bottom:2px;">{% trans 'Mob:' %} {{ deal.business.getaddress.0.mobile }}</span>
							{% endif %}
							{% if deal.business.getaddress.0.email %}
								<span style="display:block; margin-bottom:2px;">{% trans 'Email' %}: <a href="mailto:{{ deal.business.getaddress.0.email }}" class="email_link">{{ deal.business.getaddress.0.email }}</a></span>
							{% endif %}
							{% if deal.business.getaddress.0.website %}
								<span style="display:block; margin-bottom:2px;">{% trans 'Website' %}: <a href="{{ deal.business.getaddress.0.website }}" class="email_link" target="_blank">{{ deal.business.getaddress.0.website }}</a></span>
							{% endif %}
							</p>
							<p class="text_link">
							{% if deal.business.getaddress.count > 1 %}
								<a href="#otheOutlets">{% trans 'Other Locations' %}</a>
							{% endif %}
							</p>
                            <br><div id="map" class="map_secondary" style="padding:0px;"></div>
							<div class="clear"></div>
							{% if deal.business.getaddress.count > 1 %}
								<h3 id="otheOutlets" style="padding-top:20px;">{% trans 'Outlets' %}</h3>
								<div>
									{% for add in deal.business.getaddress %}
									{% if deal.business.getaddress.count > 1 %}
									<div style="border-bottom:1px solid #e6e6e6;padding:6px 0 0 0;">
										<h4 style="font-size:14px;font-weight:bold;margin-bottom:4px;">{{ add.address1 }}</h4>
										<p style="font-size:12px;color:#4e4e4e;line-height:15px;">{% if add.address2 %}
											{{ add.address2 }}<br/>
											{% endif %}
											{% if add.city %}
											{{ add.city }} <br />
											{% endif %}
											{% if add.telephone1 %}
											{% trans 'Phone:' %} {{ add.telephone1 }}<br />
											{% endif %}
										</p>											
									</div>
									{% endif %}
									{% endfor %}
								</div>
								{% endif %}    
                        	</div>     
                    </div><!-- company info ends here -->							
                            <div class="clear"></div>
                            
                                                        
                            
						</div>              
                    </div>
                </div>
                <div class="col_5 mr_0">
                    <div id="alert_signup" style="margin-bottom:10px;">
                    	{% include 'default/deals/part_subscribe.html' %}
                    </div> 
					<!-- Facebook likebox starts -->
                        {% include 'default/likebox.html' %}
						<!-- Facebook likebox ends -->

                </div> <!-- /secondary -->
			</div>
            <div class="clear"></div>
			
<script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false{% if globalsettings.google_map_key %}&key={{ globalsettings.google_map_key }}{% endif %}" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/general/google_map.js"></script>                                 
<script type="text/javascript">
var markers=[];
$(document).ready(function(){
	{% for addr in deal.business.getaddress %}
		var marker = new Object();
		marker["lat"] = {{addr.lat}};
		marker["lng"] = {{addr.lon}};
		marker["zoom"] = {{addr.zoom}};
		marker["name"] = "{{ deal }}";
		marker["address"] = "{{ addr.address1|escape|linebreaks }}{{ addr.city }} - {{addr.zip }}";
		markers.push(marker);
	{% endfor %}
	load_multi_marker('map',{{ deal.business.getaddress.0.lat }}, {{ deal.business.getaddress.0.lon }}, {{ deal.business.getaddress.0.zoom }},markers)				
});
</script>

{% endblock %}
{% block busines_footer %}
{% endblock %}