{% load i18n %}
{% load tabs %}

<!-- Module head -->
<div class="sCn sRcHbR">
    <h3 class="mDl-nM fS24 mRt4 pLlT w100pSmP mRb10SmP">
        <i aria-hidden="true" class="bUi-iCn-tAg-12 fS24 mRt-4 ib"></i>
        <span>{% trans 'Deals' %} <i aria-hidden="true" class="bUi-iCn-aNg-rT-12 cLr-lTgRy hide"></i></span>
    </h3>
    <div class="btn-group pLrT pLlTSmP">
        <a class="btn btn-light fS12 fW-bLd dropdown-toggle {% ifactivetab 'headernav' 'help' %}active{% endifactivetab %}" data-toggle="dropdown" href="#">Help <span class="caret"></span></a>
        <ul class="dropdown-menu fS12">
            <li><a href="{% url 'deal_faqs' %}">{% trans 'FAQs' %}</a></li>
			<li><a href="{% url 'deal_how' %}">{% trans 'How it works' %}</a></li>
            <li><a href="{% url 'deal_contact' %}">{% trans 'Contact Us' %}</a></li>
			<li><a href="{% url 'deal_redeem' %}">{% trans 'Redeem' %}</a></li>
        </ul>
    </div>
    <div class="btn-group pLrT mRr10 pLlTSmP" data-toggle="buttons-radio">
        <a href="{% url 'deal_deals_home' %}" class="btn btn-light fS12 fW-bLd {% ifactivetab 'headernav' 'alldeals' %}active{% endifactivetab %}">{% trans 'All Deals' %}</a>
        <a href="{% url 'deal_order_list' %}" class="btn btn-light fS12 fW-bLd {% ifactivetab 'headernav' 'mydeals' %}active{% endifactivetab %}">{% trans 'My Deals' %}</a>
    </div>
</div>
<!-- Module head -->