{% load i18n %}
{% load thumbnail %}
{% load truncate_filter %}
{% if photos %}
{% for photo in photos %}
<li class="table-list-row manage-items gallery_list_count" id="li_{{photo.id}}">
    <div class="table-list-row-inner group">
        <div class="thumb-wrap">
            <span class="inline-block">
            	<img alt="{{photo}}" src="{% if photo.photo_url %}{{photo.photo_url}}{% else %}{% thumbnail photo.photo 213x0 %}{% endif %}">
			</span>
        </div>   
        <div class="item-detail">
            <h4>{{photo.caption|truncate_chars:20}}</h4>
            <!--div class="description"><p>{{photo.summary|truncatewords:10}}</p></div-->
            <p class="ltxtAA txt11"><span>{% trans 'Updated on' %}:  {{photo.modified_on|date:'M d Y'}}</span></p>
        </div>
        <div class="action-buttons">
            <div>
                <a href="javascript:delete_photo({{photo.id}})" class="tttxt" original-title="Delete"><span class="action-icon icon-delete"></span></a>
                <a href="{% url 'user_gallery_photo_detail' photo.id %}" class="tttxt bm-add-photo-details"  original-title="{% trans 'Edit Photo Details' %}"><span class="action-icon icon-edit"></span></a>
            </div>                                                            
        </div>
    </div>
</li>
{% endfor %}
{% else %}
{% if photo %}
<li class="table-list-row manage-items gallery_list_count" id="li_{{photo.id}}">
    <div class="table-list-row-inner group">
        <div class="thumb-wrap">
            <span class="inline-block">
            	<img alt="{{photo}}" src="{% if photo.photo_url %}{{photo.photo_url}}{% else %}{% thumbnail photo.photo 213x0 %}{% endif %}">
			</span>
        </div>   
        <div class="item-detail">
            <h4>{{photo.caption|truncate_chars:20}}</h4>
            <!--div class="description"><p>{{photo.summary|truncatewords:10}}</p></div-->
            <p class="ltxtAA txt11"><span>{% trans 'Updated on' %}:  {{photo.modified_on|date:'M d Y'}}</span></p>
        </div>
        <div class="action-buttons">
            <div>
                <a href="javascript:delete_photo({{photo.id}})" class="tttxt" original-title="Delete"><span class="action-icon icon-delete"></span></a>
                <a href="{% url 'user_gallery_photo_detail' photo.id %}" class="tttxt bm-add-photo-details"  original-title="{% trans 'Edit Photo Details' %}"><span class="action-icon icon-edit"></span></a>
            </div>                                                            
        </div>
    </div>
</li>
{% endif %}
{% endif %}