{% extends "dashboard_base.html" %}
{% load tabs %}
{% load i18n %}
{% load humanize %}
{% block navigation %}
	{% activetab "selmodule" "dashboard" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Dashboard' %} {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}ui/css/datepicker.css" type="text/css" />
<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="ui/css/ielt9.css" />
<![endif]-->
<!--[if lte IE 8]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->  
<style type="text/css">
	#modules-overview .rw{padding:0 20px;}
	#modules-overview h4.module-name{font-size:13px; display:inline-block; width:120px;}    
	#modules-overview .inline-col{display:inline-block; padding:0 10px;font-size:10px; text-transform:uppercase; color:#9A9A9A}
	#modules-overview .num{font-size:16px; font-weight:bold; color:#333;display:block;}
	
	.hAxis-points{width:100%;padding:5px 0;margin:0;}
	.hAxis-points li {display:block;float:left;color:#666; text-align:center;font-size:10px;}
	
	
	.keys{text-align:left;padding:6px 0px 0px 10px;font-size:12px;}
	.browser{width:300px;text-align:center;font-size:14px;}
	
	body {margin:0px !important}
	body table{width:100% !important}	
	.google-visualization-table-table {
	width:100%;
		  font-size: 10pt;
		  cursor: default;
		  margin: 0px;
		  background: white;
		  border-spacing: 0;
	}
	table tbody tr td span div div{overflow:visible !important}
	.google-visualization-table-table tbody {
	  background: transparent;
		border-radius: 6px 6px 6px 6px;
		   -moz-box-shadow: 0 0 0 1px #CCCCCC inset, 0 0 2px 1px rgba(0, 0, 0, 0.09);
		-webkit-box-shadow: 0 0 0 1px #CCCCCC inset, 0 0 2px 1px rgba(0, 0, 0, 0.09);
			 -o-box-shadow: 0 0 0 1px #CCCCCC inset, 0 0 2px 1px rgba(0, 0, 0, 0.09);
				box-shadow: 0 0 0 1px #CCCCCC inset, 0 0 2px 1px rgba(0, 0, 0, 0.09);			
	}
	
	.google-visualization-table-table * {
	  margin: 0;
	  vertical-align: middle;
	  padding: 2px;
	}
	
	.ms-hd{
		background:url(../images/ie-fix/fetof7.png);
		background-color: #FEFEFE;
		background-repeat: repeat-x;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#F9F9F9));
		background: -webkit-linear-gradient(top, #FFF, #F9F9F9);
		background: -moz-linear-gradient(top, #FFF, #F9F9F9);
		background: -ms-linear-gradient(top, #FFF, #F9F9F9);
		background: -o-linear-gradient(top, #FFF, #F9F9F9);
		   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
			 -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
		color: #777;
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);			
		border-radius:6px 6px 0 0;
		border-bottom: 1px solid #CCCCCC;
	}
	.ms-hd td{
		font-weight:normal;
		font-size:12px;
		color:#777;
		padding:8px 2px 6px;
	}
	.ms-rw, .ms-rw td {
	  background-color: #fff;
	}
	
	.ms-odd-rw, .ms-odd-rw td{
	  background-color: #F9F9F9;
	}
	
	.ms-rw-selected, .ms-rw-selected td{
	  background-color: #d6e9f8;
	}
	
	.ms-rw-hover, .ms-rw-hover td {
	  background-color: #e7e9f9;
	}
	.google-visualization-table-sorthdr {
	  cursor: pointer;
	}
	.google-visualization-table-sortind {
	  color: #ccc;
	  font-size: 9px;
	  padding-left: 6px; /* do not chage - see table.js */
	}
	.ms-col {
		line-height:24px;
	  	padding:0 3px 3px;
		font-size:13px;
	}
	.ms-col-int {
	  text-align: center;
	  white-space: nowrap;
	  color:#9A9A9A
	}
	.google-visualization-table-div-page {
	  margin: 2px 0 0 0;
	  padding: 0;
	}
	.google-visualization-table-td-number {text-align:right}			
</style>
<script>
	var analytic_url = "{{ globalsettings.website_url }}";
	var pathname = window.location.pathname;
</script>	 
{% endblock %}
{% block content %}
<div id="staff-platform" class="group">
	<div class="staff-main col_12">
    	<div class="statitics box group">
            <div class="section-header">
                <h2>Statistics</h2>
                <div class="tabs">
                    <ul class="group ">
                       <li><a href="/staff/dashboard" onclick="location.replace('/staff/dashboard');"  id="Content"  >Content</a></li>
						<li><a href="/staff/dashboard/user_stats/" onclick="location.replace('/staff/dashboard/user_stats/');" id="new_registration">New Registration</a></li>
					   <li><a href="{% url 'staff_analytic_home' %}" class="selected" id="Traffic" >Traffic</a></li>
						<li><a href="{% url 'staff_analytic_live' %}" onclick="location.replace('{% url 'staff_analytic_live' %}');" id="Live" >Live</a></li>
                    </ul>
                </div>
			</div>
			<div class="traffic-header group" style="padding:10px 15px;">
				<h2 style="float:left; font-size:20px; font-weight:bold" id="Traffic_label">Visitors</h2>
	            <div id="report-date-control">
	            	<div id="date-field">
	                	<span class="date-range" id="date-value">{{start_date|date:'d M Y'}} - {{end_date|date:'d M Y'}}</span>
	                   	<span class="arw" id="arw"></span>
					</div>
					<div id="calendar-sets"></div>
				</div>
            </div>
			{% if not nodata %} 
			<div id="Traffic-overview"> 
				<div class="visits">
	                <div class="visit-inner-div"id="Traffic_stats">
	                    <div class="report-head group">
	                    	<div class="chart-legend">
	                            <div class="item"><span style="border-color:#058DC7;" class="bullet"></span>&nbsp;Visits</div>
	                            <div class="item"><span style="border-color:#c70505" class="bullet"></span>&nbsp;Pageviews</div>
							</div>                                            
						    <div class="btn-group right bm-report" id="date_label">
	                            <a class="first active" href="javascript:void(0);"id="Day"><span>Day</span></a>
	                            <a class="" href="javascript:void(0);" id="Week"><span>Week</span></a>
	                            <a class="last" href="javascript:void(0);"id="Month"><span>Month</span></a> 
	                        </div>
	                    </div>
	                    <div id="Trafficviews" class="chart" style="height:218px;overflow:hidden;">
							<div id="Dayviews" class="bm-chart-div" align="center"><img src="{{STATIC_URL}}/ui/images/global/loading.gif" /></div>
							<div id="Weekviews" class="bm-chart-div" style="display:none;" align="center"><img src="{{STATIC_URL}}/ui/images/global/loading.gif" /></div>
							<div id="Monthviews" class="bm-chart-div" style="display:none;" align="center"><img src="{{STATIC_URL}}/ui/images/global/loading.gif" /></div>   	
						</div>
						<ol id="labels" class="hAxis-points group">
						{% for m in date_list %}
							<li class="li_dates">{% if count < 11 %}{{m|date:'d M'}}{% else %}{{m|date:'M Y'}}{% endif %}</li>
						{% endfor %}
						</ol> 		
	                </div>
	            </div><!-- /visits --> 
				<div class="score-card">
                    <ul class="group">
                        <li><p><span class="score-section">Visits</span><br><strong class="score-value">{{visits|intcomma}}</strong></p></li>
                        <li><p><span class="score-section">New Visitors</span><br><strong class="score-value">{{new_visitor|intcomma}}</strong></p></li>
                        <li><p><span class="score-section">Pageviews</span><br><strong class="score-value">{{pageviews|intcomma}}</strong></p></li>
                        <li><p><span class="score-section">Avg. Visit Duration</span><br><strong class="score-value">{{ average_time_perpage }} </strong></p></li>                                                                                                                        
                    </ul>
                </div><!-- /score-card -->
				<div class="more-stats">
                    <div class="left-col">
                    	<div class="left-col-inner">
                            <ul class="left-tabs bm-iframe-report">
                                <li class="selected"><a href="javascript:void(0);" id="pages">Pages</a><span class="arw"></span></li>
                                <li><a href="javascript:void(0);" id="keywords">Keywords</a><span id="keywords_arrow"></span></li>
                                <li><a href="javascript:void(0);" id="sources">Referrals</a> <span id="sources_arrow"></span></li>
                                <li><a href="javascript:void(0);" id="browsers">Browsers</a><span class="arw" id="browser_arrow"></span></li>
                            </ul>
						</div>                                        
                    </div>
                    <div class="left-tab-content">
						<div class="left-tab-content-inner" align="center">
							<div align="center" class="bm-iframe-content" width=100% height=380px id="pages_stats" ><img style="padding-top:125px;" src="{{STATIC_URL}}/ui/images/global/loading.gif" /> </div>
							<div align="center" class="bm-iframe-content" style="display:none" width="100%" height="380" id="keywords_stats" ><img style="padding-top:125px;" src="{{STATIC_URL}}/ui/images/global/loading.gif" /> </div>
							<div align="center" class="bm-iframe-content" style="display:none" width="100%" height="380" id="sources_stats" ><img style="padding-top:125px;" src="{{STATIC_URL}}/ui/images/global/loading.gif" /> </div>
							<div align="center" class="bm-iframe-content" style="display:none" width="100%" height="380" id="browsers_stats" ><img style="padding-top:125px;" src="{{STATIC_URL}}/ui/images/global/loading.gif" /> </div>
					  	</div> 
                    </div>
				</div>
			</div>
			{% else %}
				<iv class="page-wrap">
					<div class="no-data" style="min-height:200px;"> <p>{% trans "Oops! No record found for the specified date." %}</p></div>
				</div>
			{% endif %}
		</div> 
    	<div id="aside" class="side-bar col_4 mr_0">
    </div>                                                           
</div>
{% endblock %}	
{% block footer_include %}
<script type="text/javascript" src="{{STATIC_URL}}js/datepicker.js"></script> 
{% if not nodata %}<script type="text/javascript" src="https://www.google.com/jsapi"></script>{% endif %}
<script type="text/javascript">
//datepicker
$(document).ready(function(){
	var now3 = new Date('{{start_date|date:'m/d/Y'}}'); 
    var now4 = new Date('{{end_date|date:'m/d/Y'}}');   
    $('#calendar-sets').DatePicker({ 
        flat: true, 
        format: 'd B, Y', 
		date: [new Date(now3), new Date(now4)],
        calendars: 3, 
        mode: 'range',
		position: ['top'], 
        starts: 3,
		onRender: function(date) {
			return {
				disabled: (date.valueOf()> new Date()),
			}
		},
		onBeforeShow: function(date){
				shiftTo='True';
				$(this).DatePickerSetDate(date, shiftTo);
		},
        onChange: function(formated) { 
            $('#date-field span').get(0).innerHTML = formated.join(' - ');
			$('#apply').removeAttr("disabled");
			$('#cancel').css("pointer-events","auto");

        } 
    }); 
    var state = false; 
    $('#date-field').bind('click', function(){
        //$('#calendar-sets').stop().css('display', 'block'); 				
        //$('#calendar-sets').stop().animate({height: state ? 0 : $('#calendar-sets div.datepicker').get(0).offsetHeight, borderWidth:state ? 0:1}, 300); 
		$('#calendar-sets').css({height: state ? 0 : $('#calendar-sets div.datepicker').get(0).offsetHeight, borderWidth:state ? 0:1});
        state = !state; 
		if(state){$('#calendar-sets').css('box-shadow', '0px 0px 2px 1px rgba(0,0,0,0.08)');}
		else{$('#calendar-sets').css('box-shadow', 'none');}				
        return false; 
    });
	$('#calendar-sets div.datepicker').css('position', 'absolute');
	
	/*$(document).live('click', function(){
	//$('#calendar-sets').DatePickerHide();
	$('#calendar-sets').css({height: state ? 0 : $('#calendar-sets div.datepicker').get(0).offsetHeight, borderWidth:state ? 0:1});
	//return false;
	});*/		 
	
	$('#calendar-sets div.datepicker').css('position', 'absolute');
	$('#cancel').bind('click', function(){
		date=[new Date(now3), new Date(now4)];
		shiftTo='True';
		$('#calendar-sets').DatePickerSetDate(date, shiftTo);
	});
	//Jquery for day,week,month views
	iframe_append_date();
	/* $('.bm-reports li a').click(function(){
		if(!$(this).hasClass('selected')){
			$('.bm-reports li  a').removeClass('selected');
			$(this).addClass('selected');
			$('.visit-inner-div').hide();
			$('#'+$(this).attr('id')+'-overview').show();
			
		}
	});*/
	
	
	
	$('.bm-report a').click(function(){
		if(!$(this).hasClass('active')){
			$('.bm-report a').removeClass('active');
			$(this).addClass('active');
			$('.bm-chart-div').hide();
			$('#'+$(this).attr('id')+'views').show();
			
		}
	});
	$('.bm-iframe-report li a').click(function(){
		if(!$(this).prev('li').hasClass('selected')){
			$('.bm-iframe-report li').removeClass('selected');
			$(this).closest('li').addClass('selected');
			$('.bm-iframe-content').hide();
			$(this).next('span').addClass('arw');
			$('#'+$(this).attr('id')+'_stats').show();
			
			}
		
	});
			
	$('div#content').bind('click',function(event){
		var state=true;
		$('#calendar-sets').css({height: state ? 0 : $('#calendar-sets div.datepicker').get(0).offsetHeight, borderWidth:state ? 0:1});
        state = !state; 
		if(state){$('#calendar-sets').css('box-shadow', '0px 0px 2px 1px rgba(0,0,0,0.08)');}
		else{$('#calendar-sets').css('box-shadow', 'none');}
		event.stopPropagation();
		
		$('#date-field').bind('click', function(){
        //$('#calendar-sets').stop().css('display', 'block'); 				
        //$('#calendar-sets').stop().animate({height: state ? 0 : $('#calendar-sets div.datepicker').get(0).offsetHeight, borderWidth:state ? 0:1}, 300); 
		$('#calendar-sets').css({height: state ? 0 : $('#calendar-sets div.datepicker').get(0).offsetHeight, borderWidth:state ? 0:1});
        state = !state; 
		if(state){$('#calendar-sets').css('box-shadow', '0px 0px 2px 1px rgba(0,0,0,0.08)');}
		else{$('#calendar-sets').css('box-shadow', 'none');}				
        return false; 
    	});
        return false;
	});
	{% if not nodata %} 		
	//list width
	var x=100;
	z={{length}};
	$('.li_dates').css('width',z);
	});	
		
	//charts
	//day
   	google.load("visualization", "1", {packages:["corechart"]});
   	google.setOnLoadCallback(Daychart);
      function Daychart() {
        var data = google.visualization.arrayToDataTable([
          ['Days','Visits', 'Pageviews'],
		    {% for dd in day_data %}
				['{{dd.date}}',{{dd.visit}},{{dd.page}}],
		  	{% endfor %}
        ]);

        var options = {
			backgroundColor: '#FEFEFE',
			width: 733,
			height: 270,
			colors:['#058DC7','#c70505'],
			chartArea: {left:0, top:15,width:"733", height:"200"},
			legend: {position: 'none'},
			titlePosition: 'in', 
			axisTitlesPosition: 'in',
			hAxis: {
				textPosition: 'none', 
				slantedTextAngle: '90',
				textStyle: {color: '#666',fontSize:9},
				gridlines: {color: "#ECECEC",count: "6"},
				viewWindow:{min:'0'},
			}, 
			vAxis: {
				textPosition: 'in',
				baselineColor: "#AAA",
				textStyle: {color: '#666',fontSize:10},
				gridlines: {color: "#ECECEC", count: "6"},
				viewWindow:{min:'0'},
			},
			lineWidth:1,
			pointSize:3,
			areaOpacity:.1,
		};	
        var chart = new google.visualization.AreaChart(document.getElementById('Dayviews'));
		chart.draw(data, options);
	
		}
		
	
	//week
	
	
      google.setOnLoadCallback(Weekchart);
      function Weekchart() {
        var data = google.visualization.arrayToDataTable([
          ['Weeks','Visits','Pageviews'],
		  {% for wd in week_data %}
			['{{wd.date}}',{{wd.visit}},{{wd.page}}],
		  {% endfor %}
        ]);

        var options = {
			backgroundColor: '#FEFEFE',
			width: 733,
			height: 270,
			colors:['#058DC7','#c70505'],
			chartArea: {left:0, top:15,width:"733", height:"200"},
			legend: {position: 'none'},
			titlePosition: 'in', 
			axisTitlesPosition: 'in',
			hAxis: {
				textPosition: 'out', 
				slantedTextAngle: '90',
				textStyle: {color: '#666',fontSize:9},
				gridlines: {color: "#ECECEC",count: "6"},
				viewWindow:{min:'0'},
			}, 
			vAxis: {
				textPosition: 'in',
				baselineColor: "#AAA",
				textStyle: {color: '#666',fontSize:10},
				gridlines: {color: "#ECECEC", count: "6"},
				viewWindow:{min:'0'},
			},
			lineWidth:1,
			pointSize:4,
			areaOpacity:.1,
		};	
		

        var chart = new google.visualization.AreaChart(document.getElementById('Weekviews'));
        chart.draw(data, options);
		}
		
		//month
		
		
		
		google.setOnLoadCallback(monthchart);
      function monthchart() {
        var data = google.visualization.arrayToDataTable([
          ['Months','Visits','Pageviews'],
			{% for md in month_data %}
				['{{md.date}}',{{md.visit}},{{md.page}}],
		  	{% endfor %}
							
		  
        ]);

        var options = {
			backgroundColor: '#FEFEFE',
			width: 733,
			height: 270,
			colors:['#058DC7','#c70505'],
			chartArea: {left:0, top:15,width:"733", height:"200"},
			legend: {position: 'none'},
			titlePosition: 'in', 
			axisTitlesPosition: 'in',
			hAxis: {
				textPosition: 'out', 
				slantedTextAngle: '90',
				textStyle: {color: '#666',fontSize:9},
				gridlines: {color: "#ECECEC",count: "6"},
				viewWindow:{min:'0'},
			}, 
			vAxis: {
				textPosition: 'in',
				baselineColor: "#AAA",
				textStyle: {color: '#666',fontSize:10},
				gridlines: {color: "#ECECEC", count: "6"},
				viewWindow:{min:'0'},
			},
			lineWidth:1,
			pointSize:4,
			areaOpacity:.1,
		};	
		
        var chart = new google.visualization.AreaChart(document.getElementById('Monthviews'));
        chart.draw(data, options);
		}
{% else %}
});
{% endif %}
function load_extra_analytics_data(){
	$.ajax({
		type:'get',
		url:'{% url 'staff_analytic_extra' %}',
		dataType:'json',
		data:'sdate={{start_date|date:"Y-m-d"}}&edate={{end_date|date:"Y-m-d"}}',
		success:function(data){
			$('#pages_stats').html(data.pages)
			$("#keywords_stats").html(data.keyword);
			$("#sources_stats").html(data.referral);
			$("#browsers_stats").html(data.browser);
		}
	});
}
function show_all_detail(el1,el2){
	$("."+el1).show();	
	$("."+el2).hide()
}
$(document).ready(function(){load_extra_analytics_data();})
</script>
{% endblock %}