<div style="position: relative;">
	<div style="position: relative; overflow: auto; width: 500px;">
		<table cellspacing="0" class="google-visualization-table-table">
			<tbody>
				<tr class="ms-hd">
					<td class="ms-hd-col">&nbsp;</td>
					<td class="ms-hd-col google-visualization-table-sorthdr">{{title}}<span class="google-visualization-table-sortind">&emsp;</span></td>
					<td class="ms-hd-col google-visualization-table-sorthdr">Views<span class="google-visualization-table-sortind">&emsp;</span></td>
					<td class="ms-hd-col google-visualization-table-sorthdr">% Views<span class="google-visualization-table-sortind">&emsp;</span></td>
				</tr>
				{% for obj in objects %}
				<tr class="ms-rw {% if forloop.counter > 50 %}class_{{title}}{% endif %}" {% if forloop.counter > 50 %}style="display:none;"{% endif %}>
					<td class="ms-col ms-col-int">{{obj.sno}}</td>
					<td class="ms-col">{{obj.obj}}</td>
					<td class="ms-col"> {{obj.visit}}</td>
					<td class="ms-col">{{obj.avg}}%</td>
				</tr>	
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% if objects_count > 50%}
	<div class="showall_class_{{title}}">
		<a onclick="show_all_detail('class_{{title}}','showall_class_{{title}}')" href="javascript:void(0)">Show All</a>
	</div>
	{% endif %}
</div>