{% load i18n %}
<div id="business-add" class="group">
    <div id="add-new-business">
		<div class="contentpricing group">
			<form method="post" id="mform" class="modal-form" name="mform" action="{% url 'user_business_upgrade_listing_type' business.id %}">{% csrf_token %}
                 <div class="table_data">
                    <div class="table_wrap group">
						<div class="col_feature price-column1">
                            <ul>
                                <li class="col_head column"></li>
                                <li class="column"><span class="feature_label">Exposure & Response</span></li>
                                <li class="column"><span class="feature_label">Images</span></li>
                                <li class="column"><span class="feature_label">Offers and Coupons</span> </li>
                                <li class="column"><span class="feature_label">Products</span> </li>
                                <li class="column"><span class="feature_label">Comments</span> </li>
                                <li class="column"><span class="feature_label">Share Buttons</span> </li>
                                <li class="column"><span class="feature_label">Newsletter Promotion</span> </li>
                                <li class="column"><span class="feature_label">Social Media Promotion</span> </li>
                            </ul>
							<input type="hidden" name="payment_level" id="payment_level" value="">
                        </div>
						{% for bus_price in business_price_objects %}
						<div id="select_button_top_{{bus_price.level}}" class="col_108 price-column{% if forloop.count == 1 %}2{% else %}{% if forloop.count == 2 %}3{% else %}4{% endif %}{% endif %} select_button_top {% if business.payment %}{% if business..featured_sponsored == 'B' %}{% if bus_price.level == 'level0' %}disabled{% endif %}{% else %}{% if business..featured_sponsored == 'S' %}{% if bus_price.level == 'level0' or bus_price.level == 'level1'  %}disabled{% endif %}{% endif %}{% endif %}{% endif %}">
                            <ul>
                                <li class="col_head column">
                                    <h2>{{bus_price.level_label}}</h2>
									{% if bus_price.level != 'level0' %}
										{% if forloop.counter == 2 %}
											<div id="t_monthly_top{{bus_price.level}}" class="monthly_year_div_top monthly_div_top" >
												<h1 id="t_monthly_top_p{{bus_price.level}}">{{ globalsettings.currency }}{{ s_monthly_price }}<span>/{% trans 'Monthly' %}</span></h1>
											</div>
											<div id="t_yearly_top{{bus_price.level}}" style="display:none;" class="monthly_year_div_top yearly_div_top">
												<h1 id="t_yearly_top_p{{bus_price.level}}">{{ globalsettings.currency }}{{ s_yearly_price }}<span>/{% trans 'Yearly' %}</span></h1>
											</div>
										{% else %}
											<div id="t_monthly_top{{bus_price.level}}" class="monthly_year_div_top monthly_div_top">
												<h1 id="t_monthly_top_p{{bus_price.level}}">{{ globalsettings.currency }}{{ bus_price.price_month }}<span>/{% trans 'Monthly' %}</span></h1>
											</div>
											<div id="t_yearly_top{{bus_price.level}}" style="display:none;" class="monthly_year_div_top yearly_div_top">
												<h1 id="t_yearly_top_p{{bus_price.level}}">{{ globalsettings.currency }}{{ bus_price.price_year }}<span>/{% trans 'Yearly' %}</span></h1>
											</div>
										{% endif %}
									{% else %}
										<h1 class="free">FREE</h1>
									{% endif %} 
                                    <a class="btn-txt-blue sponsored-business" id="btn_{{bus_price.level}}" href="javascript:show_contents('{{bus_price.level}}')"><span class="btn-txt">Select</span></a> 
                                </li>  
                                <li class="column">
                                	<span class="feature_label">{{bus_price.get_exposure}}</span>
                                </li>                                             
                                <li class="column">
                                	{% if bus_price.images == 'Y' %}
                                		<img src="{{STATIC_URL}}themes/green/images/ico/tick_green.png" alt="yes" />
									{% endif %}
                                </li> 
                                <li class="column">
                                	{% if bus_price.offer_coupon == 'Y' %}
                                		<img src="{{STATIC_URL}}themes/green/images/ico/tick_green.png" alt="yes" />
									{% endif %}
                                </li> 
                                <li class="column">
                                	{% if bus_price.product == 'Y' %}
                                		<img src="{{STATIC_URL}}themes/green/images/ico/tick_green.png" alt="yes" />
									{% endif %}
                                </li>  
                                <li class="column">
                                	{% if bus_price.comments == 'Y' %}
                                		<img src="{{STATIC_URL}}themes/green/images/ico/tick_green.png" alt="yes" />
									{% endif %}
                                </li> 
                                <li class="column">
                                	{% if bus_price.share_buttons == 'Y' %}
                                		<img src="{{STATIC_URL}}themes/green/images/ico/tick_green.png" alt="yes" />
									{% endif %}
                                </li>
                                <li class="column">
                                	{% if bus_price.newsletter == 'Y' %}
                                		<img src="{{STATIC_URL}}themes/green/images/ico/tick_green.png" alt="yes" />
									{% endif %}
                                </li> 
                                <li class="column">
                                	{% if bus_price.socialmedia == 'Y' %}
                                		<img src="{{STATIC_URL}}themes/green/images/ico/tick_green.png" alt="yes" />
									{% endif %}
                                </li>
                            </ul>
                        </div> 
			{% endfor %}
			
			</div>
			</div>
			{% for bus_price in business_price_objects %}
				<div id="level_{{bus_price.level}}" class="fields hform" style="
					{% if business.payment %}
						{% if business.featured_sponsored == 'B' %}
							{% if bus_price.level != 'level1' %}display:none;{% endif %}
						{% else %}
							{% if business.featured_sponsored == 'S' %}
								{% if bus_price.level != 'level2' %}display:none;{% endif %}
							{% else %}
								{% if bus_price.level != 'level0' %}display:none;{% endif %}
							{% endif %}
						{% endif %}
					{% else %}
						{% if bus_price.level != 'level0' %}display:none;{% endif %}
					{% endif %}">
					<div class="field-group"  id="levels_{{bus_price.level}}">
						{% if not bus_price.level != 'level0'  %}
                            <div class="field text-field">	
                                <div class="label"></label></div>	
								<div class="value">
							 		<p>{% trans 'Your business listing will be set as' %} <b>{{bus_price.level_label}}</b>.</p>
								</div>
							</div>
						{% endif %}
						{% if bus_price.level != 'level0' %}
						    <div class="field text-field">	
							 	<div class="label"><label>{% trans 'Type' %}</label></div>	
								<div class="value">
									<input type="radio" value="M" id="radio_month{{bus_price.level}}" name="payment_type" onclick="show_month('{{bus_price.level}}');" checked><span>Monthly</span>
									<input type="radio" value="Y" id="radio_year{{bus_price.level}}" name="payment_type" onclick="show_year('{{bus_price.level}}')"><span>Yearly</span>
								</div>
							</div>
							{% if bus_price.level == 'level1' %}
								<div class="field select-field">	
									<div class="label"><label>{% trans 'Category' %}</label></div>	
									<div class="value has-fd-icon">
										{% if forloop.counter == 2 %}
											{% if business_cat %}
												<span class="inline-block">
													<select class="select-menu" style="width:230px;" id="new_cat{{bus_price.id}}">
											    		{% for c in business_cat %}<br/>
											    			<option value="{{c.id}}">{{c}}</option>
											    		{% endfor %}
													</select>
												</span>
                                				<span class="inline-block" style="margin-left:5px;">
													<a style="font-size:14px;" href="javascript:add_cat('{{bus_price.id}}','{{bus_price.level}}')">+ Add</a>
												</span>
											{% endif %}
										{% endif %}
									</div>
								</div>
								{% if forloop.counter == 2 %}
									<div class="monthly{{bus_price.level}}">
									{% for b_cat in business.categories.all %}
										<div class="field text-field" id="mcat{{b_cat.id}}">	
											<div class="value">
												<span class="inline-block" style="width:160px">{{b_cat}}</span>
												<span class="inline-block" style="width:50px">:{{ globalsettings.currency }}{% if b_cat.price_month %}{{b_cat.price_month}}{% else %}{% if b_cat.parent_cat.price_month %}{{b_cat.parent_cat.price_month}}{% endif %}{% endif %}</span>
												<span><span role="button" title="Remove URL" onclick="remove_cat('{{b_cat.id}}','{{bus_price.id}}')" class="icon-remove inline-block o3"></span></span>
											</div>
										</div>
									{% endfor %}
									</div>
									<div class="yearly{{bus_price.level}}" style="display:none;">
									{% for b_cat in business.categories.all %}
										<div class="field text-field" id="ycat{{b_cat.id}}">	
											<div class="value">
												<span class="inline-block" style="width:160px">{{b_cat}}</span>
												<span class="inline-block" style="width:50px">:{{ globalsettings.currency }}{% if b_cat.price_year %}{{b_cat.price_year}}{% else %}{% if b_cat.parent_cat.price_year %}{{b_cat.parent_cat.price_year}}{% endif %}{% endif %}</span>
												<span><span role="button" title="Remove URL" onclick="remove_cat('{{b_cat.id}}','{{bus_price.id}}')" class="icon-remove inline-block o3"></span></span>
											</div>
										</div>
									{% endfor %}
									</div>
								{% endif %}
							{% endif %}
							<div class="field text-field">	
								<div class="label"><label>{% trans 'Total Price' %}</label></div>	
								<div class="value">
									{% if forloop.counter == 2 %}
										<div class="fd-cols mrb0 pd50 group monthly_year_div"  id="t_monthly{{bus_price.level}}">
                                        	<span class="inline-block">{{ globalsettings.currency }}{{ s_monthly_price }}</span>
										</div>
										<div class="fd-cols mrb0 pd50 group monthly_year_div" style="display:none;" id="t_yearly{{bus_price.level}}">
                                        	<span class="inline-block">{{ globalsettings.currency }}{{ s_yearly_price }}</span>
										</div>
									{% else %}
										<div class="fd-cols mrb0 pd50 group monthly_year_div"  id="t_monthly{{bus_price.level}}">
                                        	<span class="inline-block">{{ globalsettings.currency }}{{ bus_price.price_month }}</span>
										</div>
										<div class="fd-cols mrb0 pd50 group monthly_year_div" style="display:none;" id="t_yearly{{bus_price.level}}">
                                        	<span class="inline-block">{{ globalsettings.currency }}{{ bus_price.price_year }}</span>
										</div>
									{% endif %}
								</div>
							</div>
							<div class="field text-field">	
								<div class="label"><label>{% trans 'Payment Mode' %}</label></div>	
								<div class="value">
									{% if payment_settings.invoice_payment %}
									<span>
										<input type="radio" name="payment_mode{{bus_price.id}}" value="offline" {% if not payment_settings.online_payment %}checked="checked"{% endif %}>{% trans 'Offline' %}
									</span>
									{% endif  %}
									{% if payment_settings.online_payment %}
									<span>
										<input type="radio" name="payment_mode{{bus_price.id}}" value="online" checked="checked">{% trans 'Online' %}
									</span>
									{% endif  %}
								</div>
							</div>
						{% endif %}
					</div>
					</div>
				{% endfor %}
				<div class="form-submit right group">
                   <button  type="button" onclick="$.colorbox.close()" roll="button" class="cform-button"><span class="cform-button-text">Cancel</span></button>
				   <button type="submit" name="publish" class="cform-button prime" role="button"><span class="cform-button-text">SUBMIT</span></button>
                </div>
			</form>
			</div>
	</div>																	                                        
</div> <!-- end table -->  
<script type="text/javascript" src="{{STATIC_URL}}ui/js/inline.js"></script>
<script type="text/javascript">
	function show_contents(level){
		$('.select_button_top').removeClass('active');
		$('#select_button_top_'+level).addClass('active');
		$('#payment_level').val(level);
		if(level=='level2'){
			$('#radio_level2').attr('checked', true);
			$('#radio_monthlevel2').attr('checked', true);
			$('.monthly_year_div').hide();
			$('.monthlylevel2').show();
			$('#t_monthlylevel2').show();
			$('#level_level2').show();
			$('#level_level1').hide();
			$('#level_level0').hide();
		}
		else if(level == 'level0'){
			$('#radio_level0').attr('checked', true);
			$('#level_level0').show();
			$('#level_level1').hide();
			$('#level_level2').hide();
		}
		else{
			$('#radio_level1').attr('checked', true);
			$('#radio_monthlevel1').attr('checked', true);
			$('.monthly_year_div').hide();
			$('.monthlylevel1').show();
			$('#t_monthlylevel1').show();
			$('#level_level1').show();
			$('#level_level2').hide();
			$('#level_level0').hide();
		}
		$('.yearly_div_top').hide();
		$('.monthly_div_top').show();
	}
	function show_month(id){
		$('.yearly'+id).hide();
		$('.monthly'+id).show();
		$('#t_yearly'+id).hide();
		$('#t_monthly'+id).show();
		$('#t_yearly_top'+id).hide();
		$('#t_monthly_top'+id).show();
	}
	function show_year(id){
		$('.monthly'+id).hide();
		$('.yearly'+id).show();
		$('#t_monthly'+id).hide();
		$('#t_yearly'+id).show();
		$('#t_monthly_top'+id).hide();
		$('#t_yearly_top'+id).show();
	}
</script>
<script type="text/javascript">
function remove_cat(cat_id,id){
	$.ajax({
		dataType: "GET",
		url: "{% url 'business_listing_ajax_delete_cat' %}",
		data: "bid={{ business.id }}&id="+id+"&cid=" +cat_id,
		dataType:'JSON',
		success: function(data){
			if(data == 1){
				alert('You cannot delete this category.')
			}else{
				$('#mcat'+cat_id).remove();
			    $('#ycat'+cat_id).remove();
 			    $('#t_monthlylevel1').html(data.t_month);
 			    $('#t_yearlylevel1').html(data.t_year);
				$('#t_monthly_top_plevel1').html(data.t_month);
				$('#t_yearly_top_plevel1').html(data.t_year);
			}
			$.colorbox.resize();
		}
	});
}
function add_cat(id,level){
	$.ajax({
		dataType: "GET",
		url: "{% url 'business_listing_ajax_add_cat' %}",
		data: "bid={{ business.id }}&add=True&id="+id+"&cid=" + $('#new_cat'+id).val(),
		dataType:'JSON',
		success: function(data){
			if(data == 1){
				alert(gettext('Oops!!! Category already exist.'));
			}else{
 			    $('.monthly'+level).prepend(data.month);
 			    $('.yearly'+level).prepend(data.year);
 			    $('#t_monthlylevel1').html(data.t_month);
 			    $('#t_yearlylevel1').html(data.t_year);
				$('#t_monthly_top_plevel1').html(data.t_month);
				$('#t_yearly_top_plevel1').html(data.t_year);
 			}
			$.colorbox.resize();
		}
	});
	$.colorbox.resize();
}
{% if business.featured_sponsored == 'B' %}
	$('#radio_monthlevel1').attr('checked', true);
{% endif %}

{% if business.payment %}
	{% if business.featured_sponsored == 'B' %}
		$('#level_level0').remove();
		$('#btn_level0').click(function() { return false; });
		$('#payment_level').val('level1');
	{% else %}
		{% if business.featured_sponsored == 'S' %}
			$('#level_level0').remove();
			$('#level_level1').remove();
			$('#btn_level0').click(function() { return false; });
			$('#btn_level1').click(function() { return false; });
			$('#payment_level').val('level2');
		{% else %}
			$('#payment_level').val('level2');
		{% endif %}
	{% endif %}
{% else %}
	$('#payment_level').val('level0');
{% endif %}
</script>