{% load i18n %}
{% load thumbnail %}
<li class="table-list-row manage-items has-thumb90" id="li_{{product.id}}">
    <div class="table-list-row-inner group">
        <div class="item-media">
            <span class="item-thumb thumb-90">
                <span class="thumb-in">
					<span class="thumb"><img src="{% if product.photo %}{% thumbnail product.photo 110x0 %}{% else %}{{STATIC_URL}}themes/green/images/global/nophoto_90.jpg{% endif %}" alt="{{product.title}}" class="inline-block"><span class="inline-block h100"></span></span>
                </span>
            </span>
        </div>   
		<div class="item-detail">
        	<h4>{{product.title}}<em class="price">&nbsp;{{globalsettings.currency}}{{product.price}}</em></h4>
            <p>{% autoescape off %}{{product.description}}{% endautoescape %}</p>
        </div>
       	<div class="action-buttons">
            <div>
                <a href="{% url 'user_business_product_update' product.business.id product.id %}" class="tttxt-w bm-add-product" original-title="{% trans 'Edit Product' %} {{product}}"><span class="action-icon icon-edit"></span></a>
                <a href="javascript:delete_product({{product.id}})" class="tttxt-w" original-title="Delete"><span class="action-icon icon-delete"></span></a>
			</div>                                                            
      	</div>
    </div>
</li>