<div class="label"></div>
<div class="value">
    <div class="fd-cols group">
    	<span class="work-hour">Mon</span>
        <span>{{wform.mon_start}}</span>
        <span>to</span>
        <span>{{wform.mon_end}}</span>
        <span>
        	<span class="cform-checkbox-container"><input type="checkbox" class="checkbox mrl0" id="all-day"><span class="cform-checkbox-element"></span></span> 
        	<label for="all-day">Closed</label>
        </span>
        <span>
        	<a href="javascript:void(0)" id="apply_all" class="txt-button">Apply to all</a>
        </span>
    </div>
    <div class="fd-cols group">
    	<span class="work-hour">Tue</span>
        <span>{{wform.tue_start}}</span>
        <span>to</span>
        <span>{{wform.tue_end}}</span>
        <span>
        	<span class="cform-checkbox-container"><input type="checkbox" class="checkbox mrl0" id="all-day"><span class="cform-checkbox-element"></span></span> 
        	<label for="all-day">Closed</label>
        </span>
    </div>
    <div class="fd-cols group">
    	<span class="work-hour">Wed</span>
        <span> {{wform.wed_start}}</span>
        <span>to</span>
        <span>{{wform.wed_end}}</span>
        <span>
        	<span class="cform-checkbox-container"><input type="checkbox" class="checkbox mrl0" id="all-day"><span class="cform-checkbox-element"></span></span> 
        	<label for="all-day">Closed</label>
        </span>
    </div>
    <div class="fd-cols group">
    	<span class="work-hour">Thu</span>
        <span>{{wform.thu_start}}</span>
        <span>to</span>
        <span>{{wform.thu_end}}</span>
        <span>
        	<span class="cform-checkbox-container"><input type="checkbox" class="checkbox mrl0" id="all-day"><span class="cform-checkbox-element"></span></span> 
        	<label for="all-day">Closed</label>
        </span>
    </div>
    <div class="fd-cols group">
    	<span class="work-hour">Fri</span>
        <span>{{wform.fri_start}}</span>
        <span>to</span>
        <span>{{wform.fri_end}} </span>
        <span>
        	<span class="cform-checkbox-container"><input type="checkbox" class="checkbox mrl0" id="all-day"><span class="cform-checkbox-element"></span></span> 
        	<label for="all-day">Closed</label>
        </span>
    </div>
    <div class="fd-cols group">
    	<span class="work-hour">Sat</span>
        <span>{{wform.sat_start}}</span>
        <span>to</span>
        <span>{{wform.sat_end}}</span>
        <span>
        	<span class="cform-checkbox-container"><input type="checkbox" class="checkbox mrl0" id="all-day"><span class="cform-checkbox-element"></span></span> 
        	<label for="all-day">Closed</label>
        </span>
    </div>
    <div class="fd-cols group">
    	<span class="work-hour">Sun</span>
        <span>{{wform.sun_start}}</span>
        <span>to</span>
        <span>{{wform.sun_end}}</span>
        <span>
        	<span class="cform-checkbox-container"><input type="checkbox" class="checkbox mrl0" id="all-day"><span class="cform-checkbox-element"></span></span> 
        	<label for="all-day">Closed</label>
        </span>
    </div>
</div>
<div class="label">Notes</div>
<div class="value">{{wform.notes}}</div>
