{% load i18n %}
<div class="fields-head"></div>  
<div class="field text-field">	
    <div class="label"><label for="">Address<span class="required-field">*</span></label></div>	
    <div class="value">{{aform.address1}}</div>	
</div>
<div class="field text-field">	
    <div class="label"></div>	
    <div class="value">{{aform.address2}}</div>	
</div>
<div class="field text-field">	
    <div class="label"><label for="">Zip/Postal Code<span class="required-field">*</span></label></div>	
    <div class="value">{{aform.zip}}</div>	
</div>
<div class="field text-field">	
    <div class="label"><label for="">City/Town<span class="required-field">*</span></label></div>	
    <div class="value">{{aform.city}}</div>	
</div>
<div class="field text-field">
	<div class="value">	
		<div id="map" style="height: 200px; position: relative; overflow: hidden; width: 576px; border-radius: 2px 2px 2px 2px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); border: 1px solid rgb(204, 204, 204);"></div>
		<input type="hidden" name="lat_lng" id="lat_lng" value=""/>
		<input type="hidden" name="zoom" id="zoom" value=""/>
	</div>
</div>  
<div class="field text-field">
    <div class="label"></div>
    <div class="value">
        <div class="group">
            <span class="inline-block pdr6 fs">
                <label for="">Main Phone</label>{{aform.telephone2}}
            </span>
            <span class="inline-block fs">
                <label for="">Mobile</label>{{aform.mobile_no}}
            </span>
        </div>
    </div>
</div>
<div class="field text-field">	
    <div class="label"><label for="">Fax</label></div>	
    <div class="value">
        {{aform.fax}}
	</div>	
</div>
<div class="field text-field">	
    <div class="label"><label for="">Email address</label></div>	
    <div class="value">{{aform.email}}</div>	
</div>
<div class="field text-field">	
    <div class="label"><label for="">Website</label></div>	
    <div class="value">{{aform.website}}</div>	
</div>
