{% extends "user_base.html" %}
{% load ds_utils %}
{% load tabs %}
{% load i18n %}
{% load upload_tags %}
{% load thumbnail %}
{% block pagetitle %}{% if category %}{% seo_format_tag module='Business' title=category.seo_title code='LT' category=category.name as seo_meta_title %}{% else %}{% seo_format_tag module='Business' title=seo.seo_title code='MT' as seo_meta_title %}{% endif %}{{seo_meta_title}}{% endblock %}
{% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{seo.seo_description}}" />
{% endblock %}

{% block head %}
		<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bm.jfp.ui.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/common_user.js"></script>
{% endblock %}

{% block navigation %}
	{% activetab "leftnav" "business" %}
	{{ block.super }}
{% endblock %}

{% block content %}
<div class="span10 sP9mX979 sP12mX767">
    <div class="row-fluid">
		<div class="main span9">
			<section class="sCn pD0">
				<div class="cLrFx pD20">
					<div class="pLlT">
						<div class="mRr5 mRb15"><a class="btn btn-small btn-light" href="{% url 'user_update_business' business.id %}"><i class="bUi-iCn-aRw-l-16  ib" aria-hidden="true"></i> <strong class="ib">Back</strong></a></div>
						<h3 class="mR0 tRnCt">Promote your business</h3>
						<p class="mR0 mRt4 cLr-gRy">Select an option to promote your business and get more eye balls for your listing</p>
					</div>
				</div>
				<hr class="mRb12 mRt0">
				<div class="pD20">
					<form class="uSr-aCnT mRb0" method="post" id="mform" name="mform" action="{% url 'user_add_business_listing' business.id %}">{% csrf_token %}
                        <div class="row-fluid pricing mRb30">
						{% for bus_price in business_price_objects %}
						{% if forloop.first %}
							<input type="hidden" name="payment_level" id="payment_level" value="{{bus_price.level}}">
						{% endif %}
                        	<div class="span4 pD0" onclick="show_contents('{{bus_price.level}}')" >
                            	<ul class="features {% if forloop.first %}aCtV{% endif %} mRr0mP chk" id="select_button_top_{{bus_price.level}}">
                                	<li class="pRiCe-hD">
                                		<label>
                                			<input type="radio" id="radio_{{level_label}}" name="radio_r" {% if forloop.first %}checked="checked"{% endif %}>
                                        	<h3>{{bus_price.level_label}}</h3>
											<div class="price">
												{% if bus_price.level == 'level0' %}
													<span class="lBl">FREE</span>
							                    {% elif bus_price.level == 'level1' %}
												  	<div id="t_monthly_top{{bus_price.level}}" class="monthly_year_div_top monthly_div_top">
												  	<span class="sUp">{{ globalsettings.currency }}</span><span class="aMt" id="t_monthly_top_p{{bus_price.level}}">{{ s_monthly_price|floatformat:2 }}</span> <!--span class="sUb">/mo</span-->
						                            	<span class="tRm">Billed {{ globalsettings.currency }}{{ s_monthly_price|floatformat:2 }} monthly.</span></div>
														<div id="t_yearly_top{{bus_price.level}}" style="display:none;" class="monthly_year_div_top yearly_div_top">
														<span class="sUp" >{{ globalsettings.currency }}</span><span class="aMt"  id="t_yearly_top_p{{bus_price.level}}">{{ s_yearly_price|floatformat:2 }}</span> <!--span class="sUb">/yr</span-->
						                            	<span class="tRm">Billed {{ globalsettings.currency }}{{ s_yearly_price|floatformat:2 }} yearly.</span></div>
												{% elif bus_price.level == 'level2' %}
													<div id="t_monthly_top{{bus_price.level}}" class="monthly_year_div_top monthly_div_top">
													<span class="sUp">{{ globalsettings.currency }}</span><span class="aMt" id="t_monthly_top_p{{bus_price.level}}">{{ bus_price.price_month|floatformat:2 }}</span> <!--span class="sUb">/mo</span-->
						                               	<span class="tRm">Billed {{ globalsettings.currency }}{{ bus_price.price_month|floatformat:2 }} monthly.</span></div>
														<div id="t_yearly_top{{bus_price.level}}" style="display:none;" class="monthly_year_div_top yearly_div_top">
														<span class="sUp" >{{ globalsettings.currency }}</span><span class="aMt" id="t_yearly_top_p{{bus_price.level}}">{{ bus_price.price_year|floatformat:2 }}</span> <!--span class="sUb" >/yr</span-->
						                               	<span class="tRm" >Billed {{ globalsettings.currency }}{{ bus_price.price_year|floatformat:2 }} yearly.</span></div>
												{% endif %}
						                	</div>
                                		</label>
                                    </li>
                                    <li class="info">
                                         <ol class="unstyled in collapse" id="p_Sponsored">
                                            {% if bus_price.images == 'Y' %}
                                        		<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Images</li>
											{% endif %}
                                        	{% if bus_price.offer_coupon == 'Y' %}
                                        		<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Offers and Coupons</li>
											{% endif %}
                                        	{% if bus_price.product == 'Y' %}
                                        		<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Products</li>
											{% endif %}
                                        	{% if bus_price.comments == 'Y' %}
                                        		<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Comments</li>
											{% endif %}
                                        	{% if bus_price.share_buttons == 'Y' %}
                                        		<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Share Buttons</li>
											{% endif %}
                                        	{% if bus_price.newsletter == 'Y' %}
                                        		<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Newsletter Promotion</li>
											{% endif %}
                                        	{% if bus_price.socialmedia == 'Y' %}
                                        		<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Social Media Promotion</li>
											{% endif %}

                                        </ol>
                                        <a href="javascript:void(0)" data-toggle-icon="bUi-iCn-mNs-12" data-target="#p_Free" data-toggle="collapse" class="tXt-cTr bLk cLr-lTbLu fW-bLd VieW-Dt tRcL480 vOp"><i aria-hidden="true" class="bUi-iCn-pLs-12"></i> View details</a>
                                    </li>
                                </ul>
                            </div>
							{% endfor %}
                        </div>
						{% for bus_price in business_price_objects %}                                            
                        <table class="table mRb30 table-bordered bDrT0Mp" id="level_{{bus_price.level}}" style="{% if not forloop.first %}display:none;{% endif %};">
                        	<thead class="hMp">
								<tr>
									<td colspan=3><p>{% trans 'Your business listing will be set as' %} <b>{{bus_price.level_label}}</b>.</p></td>
								</tr>
								{% if bus_price.level != 'level0' %}
                            	<tr>
                                	<th class="span2"><span>Type</span></th>
                                	{% if bus_price.level == 'level1' %}<th class="span4"><span>Category</span></th>{%endif%}
                                	<th class="span2"><span>Mode</span></th>
                                	<th class="tXt-rT span2"><span>Total</span></th>
                            	</tr>
								{% endif %}
                        	</thead>
							{% if bus_price.level != 'level0' %}
							<tbody>
								<tr>
									<td class="span2">	
										<div class="control-group">
                                        	<label class="control-label pDt0 vOp">Type</label>
		                                    <div class="controls">
		                                        <label for="type1" class="radio fW-nRmL mRb0"><input type="radio" value="M" id="radio_month{{bus_price.level}}" name="payment_type" onclick="show_month('{{bus_price.level}}');" checked="checked"> Monthly</label>               
		                                        <label for="type2" class="radio fW-nRmL mRb0"><input type="radio" value="Y" id="radio_year{{bus_price.level}}" name="payment_type" onclick="show_year('{{bus_price.level}}')"> Yearly</label>
		                                    </div>
	                                    </div>													
									</td>
									{% if bus_price.level == 'level1' %}
									<td class="span4">
										<div class="control-group">
											<div class="controls">
                                            	<label class="control-label pDt0 vOp">Category</label>
												{% if business_cat %}
													<select name="state" id="new_cat{{bus_price.id}}" title='Add more categories...' class="bM-sLt" onchange="add_cat('{{bus_price.id}}','{{bus_price.level}}')">
							    					{% for c in business_cat %}<br/>
								    					<option value="{{c.id}}">{{c}}</option>
								    				{% endfor %}
													</select>
												{% endif %}
											</div>
		                                </div>
										<ul class="unstyled pD15 pDt5 fS13 pDl0mP monthly{{bus_price.level}}">
										{% for b_cat in business.categories.all %}
											<li id="mcat{{b_cat.id}}">{{b_cat}} <strong>{{ globalsettings.currency }}{% if b_cat.price_month %}{{b_cat.price_month|floatformat:2}}{% else %}{% if b_cat.parent_cat.price_month %}{{b_cat.parent_cat.price_month|floatformat:2}}{% endif %}{% endif %}</strong> <span class="pLrT" onclick="remove_cat('{{b_cat.id}}','{{bus_price.id}}')"><i aria-hidden="true" class="bUi-iCn-rMv-12 cLr-gRy fS9" style=' cursor: pointer;'></i></span></li>
										{% endfor %}
										</ul>
			                            <ul class="unstyled pD15 pDt5 fS13 pDl0mP yearly{{bus_price.level}}" style="display:none;">
										{% for b_cat in business.categories.all %}
											<li id="ycat{{b_cat.id}}">{{b_cat}} <strong>{{ globalsettings.currency }}{% if b_cat.price_year %}{{b_cat.price_year|floatformat:2}}{% else %}{% if b_cat.parent_cat.price_year %}{{b_cat.parent_cat.price_year|floatformat:2}}{% endif %}{% endif %}</strong> <span class="pLrT" onclick="remove_cat('{{b_cat.id}}','{{bus_price.id}}')"><i aria-hidden="true" class="bUi-iCn-rMv-12 cLr-gRy fS9" style=' cursor: pointer;'></i></span></li>
										{% endfor %}
										</ul>
									</td>
									{% endif %}
									<td class="span2">
										<div class="control-group">
                                        	<label class="control-label pDt0 vOp">Mode</label>
		                                    <div class="controls">
											{% if payment_settings.invoice_payment %}
		                                        <label for="mode1" class="radio fW-nRmL mRb0"><input type="radio" name="payment_mode{{bus_price.id}}" value="offline" {% if not payment_settings.online_payment %}checked="checked"{% endif %}>Offline</label>
											{% endif  %}
											{% if payment_settings.online_payment %}               
		                                        <label for="mode2" class="radio fW-nRmL mRb0"><input type="radio" name="payment_mode{{bus_price.id}}" value="online" checked="checked">Online</label>
											{% endif %}					                                      
		                                    </div>
	                                    </div>
									</td>
									{% if bus_price.level == 'level1' %}
									<td class="tXt-rT span2 monthly_year_div" id="t_monthly{{bus_price.level}}"><strong class="fS13 pLlT vOp">Total</strong><strong class="fS14">{{ globalsettings.currency }}{{ s_monthly_price|floatformat:2 }}</strong></td>
									<td class="tXt-rT span2 monthly_year_div" style="display:none;" id="t_yearly{{bus_price.level}}"><strong class="fS13 pLlT vOp">Total</strong><strong class="fS14">{{ globalsettings.currency }}{{ s_yearly_price|floatformat:2 }}</strong></td>
									{% else %}
									<td class="tXt-rT span2 monthly_year_div" id="t_monthly{{bus_price.level}}"><strong class="fS13 pLlT vOp">Total</strong><strong class="fS14">{{ globalsettings.currency }}{{ bus_price.price_month|floatformat:2 }}</strong></td>
									<td class="tXt-rT span2 monthly_year_div" style="display:none;" id="t_yearly{{bus_price.level}}"><strong class="fS13 pLlT vOp">Total</strong><strong class="fS14">{{ globalsettings.currency }}{{ bus_price.price_year|floatformat:2 }}</strong></td>
									{% endif %}
								</tr>
							</tbody>
							{% endif %}
			            </table>
						{%endfor%}
			            <hr class="oTsT-hRz20 mRb0">
                        <div class="row-fluid">
                            <div class="form-actions pD0 pLrT">
                                <button class="btn btn-primary fS12 fW-bLd mRl5 submit_button" type="submit" onclick="$('.submit_button').toggleClass('hide');">Proceed</button>
                                <button class="btn btn-primary fS12 fW-bLd mRl5 hide submit_button" type="button" style="position: relative; pointer-events: none;"><i style="top: 7px; position: absolute;" alt="Loading icon" class="icon-spinner bUi-iCn-sPnR mRr5 fS16" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please Wait . . .</button>
                            </div>
                        </div>
                    </form>
				</div>
			</section>
		</div> <!-- /.main -->
		<aside class="sD-bR span3">
			<div>
				<section class="tXt-cTr pD0 bNr-aD"> 
                   
                </section>
			</div>
		</aside>
	</div>  <!-- /.row-fluid -->
</div>  <!-- /.span10 -->


<script type="text/javascript">
	function show_contents(level){
		$('.chk').removeClass('aCtV');
		$('#select_button_top_'+level).addClass('aCtV');
		$('#payment_level').val(level);
        $('#radio_r').attr('checked', false);
		if(level=='level2'){
			$('#radio_level2').attr('checked', true);
			$('#radio_monthlevel2').attr('checked', true);
			$('.monthly_year_div').hide();
			$('.monthlylevel2').show();
			$('#t_monthlylevel2').show();
			$('#level_level2').show();
			$('#level_level1').hide();
			$('#level_level0').hide();
			
		}
		else if(level == 'level0'){
			$('#radio_level0').attr('checked', true);
			$('#level_level0').show();
			$('#level_level1').hide();
			$('#level_level2').hide();
		}
		else{
			$('#radio_level1').attr('checked', true);
			$('#radio_monthlevel1').attr('checked', true);
			$('.monthly_year_div').hide();
			$('.monthlylevel1').show();
			$('#t_monthlylevel1').show();
			$('#level_level1').show();
			$('#level_level2').hide();
			$('#level_level0').hide();
			$('.yearlylevel1').hide();
		}
		$('.yearly_div_top').hide();
		$('.monthly_div_top').show();
	}
	function show_month(id){
		$('.yearly'+id).hide();
		$('.monthly'+id).show();
		$('#t_yearly'+id).hide();
		$('#t_monthly'+id).show();
		$('#t_yearly_top'+id).hide();
		$('#t_monthly_top'+id).show();
	}
	function show_year(id){
		$('.monthly'+id).hide();
		$('.yearly'+id).show();
		$('#t_monthly'+id).hide();
		$('#t_yearly'+id).show();
		$('#t_monthly_top'+id).hide();
		$('#t_yearly_top'+id).show();
	}
</script>
 <script type="text/javascript">
	function remove_cat(cat_id,id){
		$.ajax({
			type: "GET",
			url: "{% url 'business_listing_ajax_delete_cat' %}",
			data: "bid={{ business.id }}&id="+id+"&cid=" +cat_id,
			dataType:'json',
			success: function(data){
				if(data == 1){
					alert('Oops!!! Category already exist.');
				}else{
					$('#mcat'+cat_id).remove();
				    $('#ycat'+cat_id).remove();
	 			    $('#t_monthlylevel1').html(data.t_month);
	 			    $('#t_yearlylevel1').html(data.t_year);
					$('#t_monthly_top_plevel1').html(data.t_month);
					$('#t_yearly_top_plevel1').html(data.t_year);
				}
			}
		});
	}
 	function add_cat(id,level){
		$.ajax({
			type: "GET",
			url: "{% url 'business_listing_ajax_add_cat' %}",
			data: "bid={{ business.id }}&add=True&id="+id+"&cid=" + $('#new_cat'+id).val(),
			dataType:'json',
			success: function(data){
				if(data == 1){
					alert('Oops!!! Category already exist.')
				}else{
	 			    $('.monthly'+level).prepend(data.month);
	 			    $('.yearly'+level).prepend(data.year);
	 			    $('#t_monthlylevel1').html(data.t_month);
	 			    $('#t_yearlylevel1').html(data.t_year);
					$('#t_monthly_top_plevel1').html(data.t_month);
					$('#t_yearly_top_plevel1').html(data.t_year);
	 			}
			}
		});
	}
 </script>
{% endblock %}
