{% load thumbnail %}
{% load mptt_comments_tags %}
<input type="hidden" value="{% url 'user_ajax_list_business' %}" name="id_hidden_url" id="id_hidden_url">
<input type="hidden" value="{% url 'user_ajax_business_action' %}" name="id_action_url" id="id_action_url">
<input type="hidden" value="{{status}}" name="id_status" id="id_status">
<input type="hidden" value="{{listing_type}}" name="id_listing_type" id="id_listing_type">
<input type="hidden" value="{{sort}}" name="id_sort" id="id_sort">
<input type="hidden" value="{{msg}}" name="id_action_msg" id="id_action_msg">

<input type="hidden" value="{% if search %}{{search}}{% endif %}" name="id_search" id="id_search">
<input type="hidden" value="" name="id_action" id="id_action">
{% if business %}
<ul class="modulesBrowseData dSrS480 mDa-lT mDa-oT-lT oVrfLw-vSbL ">
	{% for bus in business %}
    <li class="mDa mDa-sTtS-iN">
        <div class="mDa-iN">
            <div class="mDa-wPr"> 
            	<a class="bUi-tMb-wPr tMb-75 dSpD  fLxiMgW bUi-tMb-110" href="{% url 'user_preview_business' bus.id %}">
                    <span class="bUi-tMb w100pXmP">
                        <span class="bUi-tMb-pRpL">
                            <span class="bUi-tMb-cLp">
                                <span class="bUi-tMb-cLp-iN"> <img class="mDa-oT" src="{% if bus.logo.logo %}{% thumbnail bus.logo.logo 110x0 %}{% else %}{{bus.get_default_image}}{%endif%}" alt="">
                                    <span class="vRtL-aLn"> </span>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="mDa-bDy mRr0mP">
				{% if bus.featured_sponsored == 'F' %}
					<span style="cursor:pointer;" title="Featured" class="fTrd-lSt"></span>
				{% elif bus.featured_sponsored == 'S' %}
					<span style="cursor:pointer;" title="Sponsored" class="sPnD-lSt"></span>
				{% endif %}
                <h5 class="mDa-hD tRnCt0 mR50 rLvE h65 h65" title="{{bus.name}}"><a href="{% if bus.created_by.id == user.id %}{% url 'user_preview_business' bus.id %}{% else %}javascript: void(0);{% endif %}">{{bus.name|truncatechars:70}}</a></h5>
                <p class="fS12 cLr-gRy"><span class="fS11 cLr-lTgRy">{{bus.created_on|date:"F d, Y f A"}}</span></p>
                <div class="clearfix">
                	{% if bus.created_by.id == user.id %}
                	<div class="btn-group pLlT iM" id="id_drop_{{bus.id}}">
                        <a href="{% url 'user_update_business' bus.id %}" title="Edit" class="btn btn-light btn-small"><span id="id_delete_{{bus.id}}"><i aria-hidden="true" class="bUi-iCn-rVeW-12 ib"></i></span><span id="id_loding_{{bus.id}}" style="display:none;"><i alt="Loading icon" class="icon-spinner bUi-iCn-sPnR mRr5 fS16" aria-hidden="true"></i></span></a>
                            <button class="h27 btn btn-light btn-small dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu mNi pLrT dSpL ">
							<li><a title="Edit" href="{% url 'user_update_business' bus.id %}">Edit</a></li>
							<li><a {% if bus.featured_sponsored == 'F' or bus.status == 'B' or bus.status == 'R' %}class="dSbLd"{% endif %} data-target="#ULT" data-toggle="modal" href="{% url 'user_business_upgrade_listing_type' bus.id %}">Upgrade Listing Type</a></li>
							<li><a href="{% url 'user_business_coupon' bus.id %}">Manage Coupons</a></li>
							<li><a href="{% url 'user_business_product' bus.id %}">Manage Products</a></li>
							<li><a href="{% url 'user_business_images' bus.id %}">Manage Images</a></li>
                            <li><a data-target="#update_seo" href="{% url 'user_seo_business' bus.id %}">Update SEO info</a></li>
							<li class="divider"></li>
                            {% with bus.get_stripe_subscription_object as subobject %}
								{% if subobject.subscription_status == 'active' %}
									<li>
										<a href="{% url 'update_stripe_card_detail' subobject.id %}">Update your card details</a>
									</li>
									<li id='unsub_{{bus.id}}'>
										<a href="{% url 'business_unsubscribe' bus.id %}" data-target="#businessunsubscribe">Cancel subscription</a>
									</li>
								{% elif subobject.subscription_status = 'onhold' %}
									<li><a>Your unsubscription request has been submitted</a></li>
								{% endif %}
							{% endwith %}
                            <li><a onclick="if(confirm('Are you sure you want to delete the selected business?')){filter_action({{bus.id}},'DEL');return false;}" href="javascript:void(0)">Delete</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <span class="fS11 cLr-gRn">You claim is waiting for staff approval</span>
                    {% endif %}
                    <div class="pLrT mRr10 iM" style="cursor:pointer;">
                        <i {% if bus.status == 'P' %}class="bUi-iCn-pPiE-24 cLr-pUb" title="Published"{% endif %}
							{% if bus.status == 'R' %}class="bUi-iCn-rGt-24 cLr-rEj" title="Rejected"{% endif %}
							{% if bus.status == 'N' %}class="bUi-iCn-pNdG-24 cLr-pEn" title="Pending"{% endif %}
							{% if bus.status == 'D' %}class="bUi-iCn-dRaT-24 cLr-dRf" title="Drafted"{% endif %}
							{% if bus.status == 'B' %}class="bUi-iCn-bLk-24 cLr-bLoK" title="Blocked"{% endif %} aria-hidden="true"></i>
                    </div>	
                </div>
                <div class="mDa-lT-sTtS aBsLt tR0 StCmP tXt-rTp bGtRp">
                   <span class="fS11 cLr-lTgRy mRr10 bLk" style="cursor:pointer;" title="Views"><i aria-hidden="true" class="bUi-iCn-vEw-12"></i> {{bus.most_viewed}}</span>
                   <span class="fS11 cLr-lTgRy mRr10 bLk" style="cursor:pointer;" title="Comments"><i aria-hidden="true" class="bUi-iCn-bBl-12 fS11"></i> {% get_mptt_comment_count for bus as comment_count %}{{comment_count}}</span>
                   <!--span class="fS11 cLr-lTgRy mRr10 bLk"><i aria-hidden="true" class="bUi-iCn-hRt-16 fS11"></i> 102</span-->
                </div> 
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
	<!-- No data -->
	<div class="hT600 rLvE">
 		<div class="tBl-bLk pDt0">
			<div class="tBl-cEl">
				<span class="iCn-bRdR80 oP25"><i aria-hidden="true" class="bUi-iCn-bSn--24 fS42-1 cLr-lTgRy ib"></i></span>
				{% if search %}
					<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You haven't submitted any businesses with keyword "{{search_keyword}}"</p>
				{% else %}
					{% if status == "P" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no published businesses.</p>
					{% elif status == "N" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no pending businesses.</p>
					{% elif status == "R" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no rejected businesses.</p>
					{% elif status == "D" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no businesses in drafts.</p>
					{% elif status == "E" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no expired businesses.</p>
					{% elif status == "B" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no blocked businesses.</p>
					{% elif listing_type == "B" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no free businesses.</p>
					{% elif listing_type == "F" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no featured businesses.</p>
					{% elif listing_type == "S" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no sponsored businesses.</p>
					{% elif listing_type == "all" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You haven't added any businesses yet.</p>
						<p class="mRt15"><a href="{% url 'user_add_business' %}" class="btn btn-danger fS12 fW-bLd">Add a business</a></p>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	<!-- /No data -->
{% endif %}
{% include 'usercp_pagination.html' %}
<script type="text/javascript">
	$(document).ready(function(){
		$("a[data-target=#upgrade_list]").click(function(ev) {
		   ev.preventDefault();
		   target = $(this).attr("href");
		
		   // load the url and show modal on success
		   $("#upgrade_list .modal-body").load(target, function() {
		        $("#upgrade_list").modal("show");
		   });
		});
		$("a[data-target=#update_seo]").click(function(ev) {
		   ev.preventDefault();
		   target = $(this).attr("href");
		
		   // load the url and show modal on success
		   $("#update_seo .modal-body").load(target, function() {
		        $("#update_seo").modal("show");
		   });
		});
	});
</script>