{% load upload_tags %}
<div class="row-fluid">
	<form class="uSr-aCnT" id="mform" data-action="{% if product %}edit{% else %}add{% endif %}" action="{% if product %}{% url 'user_business_product_update' business.id product.id %}{% else %}{% url 'user_business_product_add' business.id %}{% endif %}">
        <input type='hidden' id='action_product_id' value="{{product.id}}">
        <div class="control-group">
            <label class="control-label" >Title<em class="cLr-rEd">*</em></label>
            <div class="controls">
                {{form.title}}
            </div>
        </div>
        <div class="control-group mRb20">
            <label class="control-label" >Description<em class="cLr-rEd">*</em></label>
            <div class="controls">
                {{form.description}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >Price<em class="cLr-rEd">*</em></label>
            <div class="controls">
                {{globalsettings.currency}}{{form.price}}
            </div>
        </div>
        <div class="control-group">
			<input type="hidden" name="pr_id" id="product_id" value="{% if product %}{{product.id}}{% endif %}"/>
            <label class="control-label">Image</label>
           	<div class="controls">
				<div id="productimgupload" >
					<div class="fileupload-content">
						<ul class="files bm-uploader-list"></ul>
					</div><div class="clear"></div>
					{% csrf_token %}
					 <div class="upload-button-wrapper">
						 <a class="btn btn-primary fS12 fW-bLd">Add Image</a>
						 <div class="fileinput-button">
							 <input type="file" name="photo" id="id_photo" multiple=""  accept="image/*" tabindex="-1">
						 </div>
					 </div>
				</div>
			</div>
        </div>
    </form>	
</div>
{% upload_js %}
<script type="text/javascript">
var imageIsThere=false;
function file_upload_buz_product(url,limit,uploadTemplateId,downloadTemplateId) {
    'use strict';
    // Initialize the jQuery File Upload widget:
    $('#productimgupload').fileupload({
       sequentialUploads:true,
       maxNumberOfFiles:limit,
       autoUpload:false,
       onDone: function(){alert('hi')},
       previewRequired:true,
       previewMaxWidth:200,
       previewMaxHeight:200,
       uploadTemplate:$('#'+uploadTemplateId),
       downloadTemplate:$('#'+downloadTemplateId),
       url:url,
       acceptFileTypes:/(\.|\/)(jpe?g|pjpeg|gif|png|x-png)$/i
    });
    {% if product %}get_product_images(url){% endif %}
    $('#productimgupload .files a:not([target^=_blank])').live('click', function (e) {
        e.preventDefault();
        $('<iframe style="display:none;"></iframe>')
            .prop('src', this.href)
            .appendTo('body');
    });
}
function get_product_images(url){
    var noCache = Date();
     $.getJSON(url,{ "noCache": noCache },  function (files) {
            var fu = $('#productimgupload').data('fileupload');
            fu._adjustMaxNumberOfFiles(-files.length);
            fu._renderDownload(files)
                .appendTo($('#productimgupload .files'))
                .fadeIn(function () {
                    // Fix for IE7 and lower:
                    $(this).show();
                });
        });
}
var edt;
function updateTextArea(){
    CKEDITOR.tools.setTimeout( function(){ 
        $('#id_description').val(edt.getData());
        $("#id_description").trigger('keyup');
    }, 0);  
}
$(document).ready(function(){
    file_upload_buz_product('{% url 'business_ajax_upload_product_photo' %}{% if product %}?pr_id={{product.id}}{% endif %}',1,'template-upload-p','template-download-p');
    $('#productimgupload').bind('fileuploadadd', function (e, data) {imageIsThere=true;$('#upload-button-wrapper').hide(); 
        setTimeout(function(){
            $.browser.chrome = /chrome/.test(navigator.userAgent.toLowerCase()); 
            if (!$.browser.chrome && !$.browser.mozilla) {
                $('li.bm-uploader-file .img_name').show();
            }
        },500);
    });
    $('#productimgupload').bind('fileuploadfail', function (e, data) {setTimeout(function(){imageIsThere=false;$('#upload-button-wrapper').show();},500);});
    $('#productimgupload').bind('fileuploaddestroy', function (e, data) {setTimeout(function(){$('#upload-button-wrapper').show();},500);});
    $("#mform").validate({
        ignore:'',
        highlight: function(element, errorClass){
            if(element.id == 'id_description'){
                $(element).parent('div').addClass('error');
            }
            $(element).parent('div').parent('div').addClass('error');
            $(element).addClass('error');
        },
        unhighlight: function(element, errorClass){
            if(element.id == 'id_description'){
                $(element).parent('div').removeClass('error');
            }
            $(element).parent('div').parent('div').removeClass('error');
            $(element).removeClass('error');
        },
        errorPlacement: function(error, element){},
        rules:{
            title: "required",
            description: "required",
            price:"required number"         
        }
    });
    try{
        var instance = CKEDITOR.instances['id_description'];
        CKEDITOR.remove(instance);
    }
    catch(e){}
    /*
    CKEDITOR.on( 'instanceCreated', function( e ){
        e.editor.addCss('body { font-size:12px; font-family:Arial, "Times New Roman", Verdana;}');
    });
    */
    edt=CKEDITOR.replace( 'id_description', {                   
        customConfig : '{{ STATIC_URL }}js/ckeditor/custome_config.js',
        toolbar : 'Basic' 
    });
    edt.on('key', function(event) {updateTextArea();});
});
</script>