{% load i18n %}
<div id="aside" class="side-bar col_4">
    <div class="section">
        <h5>{% trans 'FAQs' %}</h5>
        <h6>{% trans 'Adding ad zones' %}</h6>
        <p>{% trans 'Click Add New Zone to create ad zones for various sections of your website. While creating an ad zone you’ll have to provide following details:' %}</p>
		<hr>
		<h6>{% trans 'Name' %}</h6>
        <p>{% trans 'Choose a name for the new ad zone. It is a good practice to make the name descriptive (e.g. Article | Top – 225 X 60)' %}</p>
        <hr>
        <h6>{% trans 'Module' %}</h6>
        <p>{% trans 'Select website sections where you want the ad zone to appear. You can choose multiple modules e.g. articles, business etc' %}</p>
		<hr>
        <h6>{% trans 'Slot' %}</h6>
        <p>{% trans 'Denotes the location of the ad zone on the page, you can place your ad zone either at top, right or bottom of the page' %}</p>
		<p>{% trans 'Width: Set the width of the ad zone in pixels (e.g. 200)' %}</p>
		<p>{% trans 'Height: Set the height of the ad zone in pixels (e.g. 60)' %}</p>
    </div>                                    
</div>     


