{% load i18n %}
<div id="aside" class="side-bar col_4">
	<div class="section">
        <h5>{% trans 'Highlights' %}</h5>
		<h6>{% trans 'Banners Listed' %}</h6>
        <p>{% trans 'Get a quick snapshot of how many banners have been published, rejected, blocked and more by  staff and user submissions.' %}</p>
        <hr>
        <h6>{% trans 'Banner Zones' %}</h6>
        <p>{% trans 'Check the number of Zones updated in the Admin CP.' %}</p>
		<hr>
        <h6>{% trans 'Approval Requirement' %}</h6>
        <p>{% trans 'The Staff member should be able to approve the banners submitted by the user.' %}</p>
		<p>{% trans 'Please tick the checkbox to approve the conditions when the user submits an banner.' %}</p>
        <hr>
	</div>                                    
</div>     