{% load i18n truncate_filter %}
{% if form.errors %}
<div class="messageerror" style="background:#FCF4F4;padding:10px;color:#FF9902; box-shadow:0 0 2px rgba(0, 0, 0, 0.1);border-bottom:1px solid #e1e1e1">
	<strong style="font-weight:bold;">{% trans 'There is a problem with your submission' %}</strong>
    <ul style="list-style:square;margin-left:20px;">
   		{% for field in form %}
   			{% if  field.errors%}<li>{%for error in field.errors%}{{error}}{%endfor%}</li>{% endif %}
  	 	{% endfor %}
	</ul>
</div>
{% endif %}
<form id="community_add_qna" class="uSr-aCnT mRb0" method="post" action="{% url 'add_entry' %}{% if form.instance.id %}?id={{ form.instance.id }}{% endif %}">{% csrf_token %}
    <input type="hidden" id="id_add_type" name="add_type" value="qna">
    <div class="control-group">
        <label class="control-label" >{% trans 'Topic' %}<em class="cLr-rEd">*</em></label>
        <div class="controls">
			<select id="id_topic" name="topic" class="bUiSlCt bM-sLt">
				{% for topic in topics %}
					<option value="{{topic.id}}" {% if form.instance.topic.id == topic.id %}selected{% endif %}>{{topic.name}}</option>
				{% endfor %}
			</select>
        </div>
    </div>
	<div class="control-group">
        <label class="control-label" >{% trans 'Question' %}<em class="cLr-rEd">*</em></label>
        <div class="controls">
			{{form.title}}
        </div>
    </div>
	<div class="control-group">
        <label class="control-label" >{% trans 'Description' %}</label>
        <div class="controls">
			{{form.content}}
        </div>
    </div>
</form>
<script type="text/javascript">
	$(document).ready(function(){
		$('.bM-sLt').bUiSlCt();
		$('[data-focus="true"]').autoFocus();
	})
	
</script>