{% load i18n thumbnail %}
<hr>
<h6><span class="cLr-gRy"><strong class="cLr-dRk">{{subscribers_list.count}}</strong> people are following this {% if entry.entry_type == 'Q' %} question.{% else %}post.{% endif %}</span></h6>
<ul class="tMbS pDfX pDmNiX mRb0 cLrFx">
 {% for subscriber in subscribers_list %}
{% if forloop.counter < 30 %}
	<li><a class="aVtR-28" href="{% url 'user_profile' subscriber.profile_slug %}" title="{{subscriber.display_name}}"><img class="aVtR" src="{% if subscriber.image %}{% thumbnail subscriber.image 36x36 crop %}{% else %}{{STATIC_URL}}themes/img/cmnts-default-avatar.jpg{% endif %}"></a></li>
{% endif %}
{% endfor %}
</ul>