{% load thumbnail %}
{% load i18n %}
{% load template_loop %}
{% load ds_utils %}
{% load truncate_filter %}
{% load comparison %}
{% load mptt_comments_tags %}
{% if community %}
<div class="pD20 pDt0 cLrfX">                                                                                     
 	<div class="row-fluid">
     	<div class="tLbR mRb10">
            <div class="tLbR-iR">
				<p class="ib mRb0 mRt4 cLr-lTgRy fS12">{{object_count}} posts</p>  
            </div>
        </div>
        <ol class="cMnTs mRb30">
			{% for entry in community %}
            <li class="cMnT mRb20">
			    <div class="cMnT-iN">
					<div class="cMnT-bDy rLvE">
					    <div class="cMnT-bDy-iN">
							{% if entry.entry_type == 'Q'  %}
					        <header class="cMnT-hD">
					            <h4 class="mRt0 fW-bLd w95P"><a href="{{ entry.get_absolute_url }}" class="cLr-bLk">{{ entry.title }}?</a></h4>
					        </header>
							{% elif entry.entry_type == 'A' %}
							<header class="cMnT-hD">
					            <h4 class="mRt0 fW-bLd w95P"><a href="{{ entry.get_absolute_url }}" class="cLr-bLk">{{ entry.question.title }}</a></h4>
					        </header>
							{% else %}
							<header class="cMnT-hD">
					            <h4 class="mRt0 fW-bLd w95P"><a href="{{ entry.get_absolute_url }}" class="cLr-bLk">{{ entry.title }}</a></h4>
					        </header>
							{% endif %}
							{% if entry.content|length|get_digit:"-1" > 240 %} 
					        <div class="cLr-dRk fS85P" id="less_synopsis_{{ entry.id}}">
								<p>{% if entry.entry_type == 'A' %}Answer: {% endif %}{% autoescape off %}{{ entry.content|truncatechars:240 }}{% endautoescape %}<a class="cLr-lTbLu" onclick="show_toggle({{ entry.id }})" href="javascript:void(0)">({% trans 'More' %})</a></p>
					        </div>
							<div class="cLr-dRk fS85P" id="more_synopsis_{{ entry.id}}" style="display:none;">
								<p>{% if entry.entry_type == 'A' %}Answer: {% endif %}{% autoescape off %}{{ entry.content|rstrip_cont }}{% endautoescape %}<a class="cLr-lTbLu" onclick="show_toggle({{ entry.id }})" href="javascript:void(0)">({% trans 'Less' %})</a></p>
					        </div>
							{% else %}
							<div class="cLr-dRk fS85P" id="all_synopsis_{{ entry.id}}">
								<p>{% if entry.entry_type == 'A' %}Answer: {% endif %}{% autoescape off %}{{ entry.content }}{% endautoescape %}</p>
					        </div>
							{% endif %}
					        <footer class="cMnT-fTr cLrFx mRt10">
						        <div class="pLlT">
									{% get_mptt_comment_count for entry as comment_count %}
						        	<span class="rPlY fS12"><a href="{{ entry.get_absolute_url }}"><i aria-hidden="true" class="bUi-iCn-bBlS-12 mRr5"></i>{{comment_count}} Comments</a></span>
						        </div>
								{% if not entry.entry_type == 'A'  %}
						        <div class="pLrT pLlTSmP mRt5SmP">
									{% with entry.subscriber.all as subscribers_list %}
									<span class="fS11 cLr-lTgRy">
										<i class="icon-bar-chart fS13 mRr10"></i><span><span class="fS13 cLr-dRk">{{ entry.viewed }}</span> Views</span><span class="sPrTr"><a data-toggle="collapse" data-target="#followers111"><span class="fS13 cLr-dRk">{{subscribers_list.count}}</span> {% trans 'Followers' %}</a></span> 
									</span>
									{% endwith %}
						        </div>
								{% endif %}
						    </footer>	
						</div> <!-- /.cMnT-bDy-iN -->
					</div><!-- /.cMnT-bDy -->
				</div> <!-- /.cMnT-iN -->
			</li>
			{% endfor %}
        </ol>
		{% include 'usercp_pagination.html' %}
 	</div>
</div>  
{% else %}
<div class="pD20 pDt0 cLrfX">                                                                                     
	<div class="hT600 rLvE">
 		<div class="tBl-bLk pDt0">
			<div class="tBl-cEl">
				<span class="iCn-bRdR80 oP25"><i aria-hidden="true" class="bUi-iCn-cMnT-24 fS42-1 cLr-lTgRy ib"></i></span>
				<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You haven't shared any content yet.</p>
				{% comment %}
				{% ifequal request.user profile.user %}
				<p class="mRt15"><a href="{% url 'advice_list' %}" class="btn btn-danger fS12 fW-bLd">Post to community</a></p>
				{% endifequal %}
				{% endcomment %}
			</div>
		</div>
	</div
</div> 
{% endif %} 
<script type="text/javascript">
function show_toggle(thread_id){
    $('#less_synopsis_'+thread_id).toggle();
    $('#more_synopsis_'+thread_id).toggle();
}
</script>