{% if is_paginated %}
<div class="Pages">
	<div class="Paginator">
	{% if has_previous %}
		{% ifequal num page %}
				<span class="this-page">{{ num }}</span>
		{% else %}
			<a href=javascript:void(0) onclick="goto_list('{{ prev }}');return false;" class="Prev" title="Previous Page">&laquo; Prev</a> 
		{% endifequal %}
	{% endif %}
	
	{% if not in_leading_range %}
		{% for num in pages_outside_trailing_range %}
			{% ifequal num page %}
				<span class="this-page">{{ num }}</span>
			{% else %}
				<a href=javascript:void(0) onclick="goto_list('{{ num }}');return false;" >{{ num }}</a> 
			{% endifequal %}
		{% endfor %}
		<span class="break">&hellip;</span>
	{% endif %}
	 
	{% for num in page_numbers %}
		  {% ifequal num page %}
		    	<span class="this-page">{{ num }}</span>
		  {% else %}
		  		<a href=javascript:void(0) onclick="goto_list('{{ num }}');return false;" title="Page {{ num }}">{{ num }}</a> 
		  {% endifequal %}
	{% endfor %}
	 
	{% if not in_trailing_range %}
		<span class="break">&hellip;</span>
		{% for num in pages_outside_leading_range reversed %}
			{% ifequal num page %}
				<span class="this-page">{{ num }}</span>
			{% else %}
				<a href=javascript:void(0) onclick="goto_list('{{ num }}');return false;" >{{ num }}</a> 
			{% endifequal %}
		{% endfor %}
	{% endif %}
	 
	{% if has_next %}
		<a href=javascript:void(0) onclick="goto_list('{{ next }}');return false;" class="Next" title="Next Page">Next &raquo;</a> 
	{% endif %}
	<span class="Results">&nbsp;({{ count }} articles)</span>
	</div>
</div>
{% endif %}  