{% load i18n %}
{% load ds_utils %}
{% if videos %} 
<input type="hidden" value="{{view_type}}" name="view_type" id="id_hid_view_type">	
<div class="pD20 pDt0 cLrfX">                                                                                     
 	<div class="row-fluid">
     	<div class="tLbR mRb10">
            <div class="tLbR-iR">
				<p class="ib mRb0 mRt4 cLr-lTgRy fS12">{{object_count}} videos</p>  
                <div class="btn-toolbar pLrT hP">
                    <div id="media-toggle" class="btn-group" data-toggle="buttons-radio">	                                        
                        <button type="button" class="btn btn-link c-gD {% if view_type == 'grid' %}active{% endif %}" onclick="$('#id_hid_view_type').val('grid');"><i aria-hidden="true" class="bUi-iCn-tH-lR-aLt-16"></i></button>
                        <button type="button" class="btn btn-link c-lT mRl5 {% if view_type == 'list' %}active{% endif %}" onclick="$('#id_hid_view_type').val('list');"><i aria-hidden="true" class="bUi-iCn-rE-oDr-aLt-16"></i></button>
                    </div>
                </div>  
            </div>
        </div>
		<ul class="modulesBrowseData tHcL {% if view_type == 'grid' %}mDa-gD pDfX{% else %}mDa-lT mDa-oT-lT{% endif %}">
			{% for video in videos %}
        	<li class="mDa">
                <div class="mDa-iN">
                    <div class="mDa-wPr"> 
                    	<a href="{{video.get_absolute_url}}">
                        	<span class="bUi-tMb-wPr tMb-50 bUi-tMb-210 fLxiMgW">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN"> 
                                            	<img class="mDa-oT" src="{% if video.get_video_hq_image %}{{video.get_video_hq_image}}{% else %}{{STATIC_URL}}themes/img/no-image.png{% endif %}" alt="{{ video.title }}">
                                                <span class="vRtL-aLn"> </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            <div class="mDa-hVr cVr tR-hVr"><span class="bR5"><span class="lBl dRk mNi" href="#">{{video.duration}}</span></span></div> 
                            <div class="mDa-hVr cVr tR-hVr fxslider" data-rel="gallery1"><span data-src="{% if not video.is_vimeo %}http://www.youtube.com/watch?v={% else %}http://vimeo.com/{% endif %}{{video.video_id}}" class="s-42 cTr"><i aria-hidden="true" class="bUi-iCn-pLy-aLt-24 hT-aTo fS42-1 pLy-iCn"></i></span></div>
                    	</a>
                    </div>
                    <div class="mDa-bDy">
                    	<span class="fS11 uC cLr-lTbLu ib mRt-4">{{video.category}}</span>
                        <h5 class="mDa-hD tRnCt0 mR50 rLvE h35" title="{{ video.title }}"><a href="{{video.get_absolute_url}}">{{ video.title }}</a></h5>
                        
                        <div class="mDa-dTa mRt10 cLrFx">
                           <span class="fS11 cLr-lTgRy lH1 mRb0 pLlT"><i aria-hidden="true" class="bUi-iCn-vDeO-aLt-24 cLr-yTb fS16 mRr5 ib"></i><span class="ib">{{video.published_on|timesince|time_up_to:','}} {% trans 'ago' %}</span></span>
                           <a href="javascript:void(0);" title="{{video.video_view}} views" class="fS11 cLr-lTgRy pLrT iM lH1"><i aria-hidden="true" class="bUi-iCn-vEw-16 ib fS12 mRr5"></i><span class="ib">{{video.video_view}}</span></a>
                        </div>                                           
                    </div>
                </div>
            </li>
            {% endfor %}
		</ul>
		{% include 'usercp_pagination.html' %}
	</div>
</div>
{% else %}
<div class="pD20 pDt0 cLrfX">                                                                                     
                             	
	<div class="hT600 rLvE">
 		<div class="tBl-bLk pDt0">
			<div class="tBl-cEl">
				<span class="iCn-bRdR80 oP25"><i aria-hidden="true" class="bUi-iCn-vDeO-aLt-24 fS42-1 cLr-lTgRy ib"></i></span>
				<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You haven't added any videos yet.</p>
				{% ifequal request.user profile.user %}
				<p class="mRt15"><a href="{% url 'user_video_add' %}" class="btn btn-danger fS12 fW-bLd">Add video</a></p>
				{% endifequal %}
			</div>
		</div>
	</div>
</div>
{% endif %} 
<script src="{{ STATIC_URL }}themes/js/fxslider.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	$(".fxslider").fxslider({thumbnail:false,mobileSrc:false});

	var views = $('#media-toggle');
    var figureItems = $('.main').find('.modulesBrowseData');
    var thumbnaiItem = $('.modulesBrowseData').find('.mDa-oT');
    
    
    function setGridColumn(){        
        $('.mDa-gD').each(function(index, element) {
            if(!$(this).hasClass('dSgDwDt')){
                var gridColumnWidth = $(this).find('.mDa').width();
                $(this).find('.mDa .mDa-oT').css({'width':''+gridColumnWidth+'','height':'auto'}); 
            }
        });    
    }
    
    views.on('click', '.c-lT', function() {
        views.find('.btn').removeClass('active');
        $(this).addClass('active');
        figureItems.removeClass('mDa-gD mDa-oT-tP').addClass('mDa-lT mDa-oT-lT');
        if(figureItems.children('li').hasClass('mDa-gRp')){
            figureItems.find('.mDa-gRp > ul').removeClass('pDfX')
        }
        else{
                figureItems.removeClass('pDfX');    
            }
        thumbnaiItem.css('width','auto');
        $('.fLxiMgH').setrSpVHeight('mDa-lT');
        $('.fLxiMgW').setrSpVWidth(0);
        $('.fLxiMgW30').setrSpVWidth(30);
    });
    views.on('click', '.c-gD', function() {
        views.find('.btn').removeClass('active');
        $(this).addClass('active');
        figureItems.removeClass('mDa-lT mDa-oT-lT').addClass('mDa-gD mDa-oT-tP');
        if(figureItems.children('li').hasClass('mDa-gRp')){
            figureItems.find('.mDa-gRp > ul').addClass('pDfX')
        }
        else{
                figureItems.addClass('pDfX');    
            }
        $('.fLxiMgH').setrSpVHeight('mDa-lT');
        $('.fLxiMgW').setrSpVWidth(0);
        $('.fLxiMgW30').setrSpVWidth(30);
        setGridColumn();
    });
    setGridColumn();
    
    
    $(window).bind("resize orientationchange", (function () {
        setGridColumn();            
    }))    
    
    setTimeout(function(){setGridColumn()});
    
    $('.fLxiMgH').setrSpVHeight('mDa-lT');
});
</script>