<div class="quickhelp">
<h2 style="margin-bottom: 2px; margin-left: 15px;">Upload History</h2>
<span style="color: rgb(117, 117, 117); margin-left: 15px; padding-bottom: 8px; line-height: 18px; font-weight: lighter; font-size: 13px;">The history of Last five uploads.</span>
<ol id="ajax_content_list" class="data-table table-lists-container" style="margin-top: 10px;">
    {% for file in filehistory %}
    <li class="table-list" id="file_{{file.id}}">
        <div class="table-list-container  group">
            <div class="item-info relative-block">
                <h3 class="title"><a href="{{ MEDIA_URL }}{{ file.file }}">{{file}}</a></h3>
                <p class="ltxt80">Uploaded By <a href="{% url 'user_profile' file.uploaded_by.profile_slug %}">{{file.uploaded_by.display_name}}</a> <span class="divider12">|</span>{{file.uploaded_on|date:"M d, Y - h:i:s A"}}<span class="divider12"></p>
                {% if file.status != 'P' and file.status != 'N' %}<span style="color:{{file.get_status_color}};">{{file.get_short_log}}{% if file.status == 'E' %} <a href="{% url 'csvfile_log' file.id %}">[show error log]</a>{% endif %}</span>
                {% else %}<span style="color:{{file.get_status_color}};">Status: {{file.get_status}}</span>
                {% endif %}
            </div>
            {% if file.status != 'P' %}
            <div class="action-buttons tip tip10">
                <div class="relative-block">
                    <span class="item-manage inline-block" onclick="if(confirm('Are you sure want to delete the file \'{{file}}\'?')){deletecsvfile('{% url 'csvfile_delete' file.id %}');}" style="cursor:pointer;">
                    <span class="action-icon icon icon-delete"></span>
                    </span>
                </div>                                                                                                                          
            </div>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ol>
</div>
<form id="delete_csv" method='post' action="">{% csrf_token %}</form>
<script>
    function deletecsvfile(url){
        $('#delete_csv').attr('action', url);
        $('#delete_csv').submit();
    }
</script>