{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% block navigation %}
	{% if module == "classifieds" %}
		{% activetab "selmodule" "classifieds" %}
	{% else %}
		{% activetab "selmodule" "business" %}
	{% endif %}
	{{ block.super }}
{% endblock %}

{% block pagetitle %}{% trans 'Manage Enquiry' %} {% endblock %}
{% block head %}
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
{% endblock %}
{% block content %}
<div id="staff-platform" class="group">
  	<div class="header-bar">
		<h2>{% trans 'Manage Enquiry' %}</h2>
 	</div>
	<div id="core-wraper" class="group">
    	<div class="staff-main">
			<div class="page-wrap">
				<div id="articles" class="group">
                    <section class="toolbars">
                        <div class="group">
							<ul class="toolbar left">
                                <li class="master-check tool">
									<span class="cform-checkbox-container"><input type="checkbox" value="true"  id="master_check_enq" name="master-check"><span class="cform-checkbox-element"></span></span>
								</li>
								<li class="tool action_status tip tip5">
                                    <select id="actionSelect" data-placeholder="{% trans 'Actions' %}" class="select-menu" onchange="$('#id_action').val($(this).val()),action();" style=" width:140px;">
                                      <option value=""></option>
									  <option value="DEL">{% trans 'Delete' %}</option>
                                      <optgroup label="Status">
                                         	<option value="R" class='publish_action'>{% trans 'Mark as Read' %}</option>
											<option value="NR" class='reject_action'>{% trans 'Mark as Unread' %}</option>
                                      </optgroup>
                                    </select>
                                </li>
								<li class="tool tip tip6">
                                    <label class="inline-block">{% trans 'Sort by:' %}</label>
                                    <select id="orderSelect" onchange="$('#id_sort').val($(this).val()),sort_content();" style="width:150px;" class="select-menu">
                                          <option value="-created_on" selected="">{% trans 'Newest' %}</option>
                                          <option value="created_on">{% trans 'Oldest' %}</option>
                                    </select>                                                    
                                </li>
							</ul>
                            {% include 'common/pagination_top.html'%}  
                        </div>
                    </section>
					<span id="ajax_content_loading" class="load-list-items" style="display:none">
					 	<img src="{{STATIC_URL}}ui/images/global/loading.gif" align="...">
					</span>
					<div style="display:none;" class="info-bar" id="top_info_bar"></div>
					<div id="ajax_content_cls" class="group">
                		{% include 'common/ajax_enquiry_listing.html'%} 
               		</div>	                                       
                </div> 
            </div>
        </div>
		<div id="aside" class="side-bar">
			{% include 'common/enquiry_faq.html' %}  
		</div>                            
	</div>                                                    
</div>
{% endblock %}			
{% block footer_include %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.common.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ui/js/listing_settings.js"></script>
<script type="text/javascript">

function contact_click(id){
	$('#contact_read_'+id).hide();
	$('#contact_unread_'+id).show();
}

function filter_action(ids,action){
	var all_ids=[];
	var dataString='';
	dataString+="sort="+$('#id_sort').val();
	if($('#id_pagentn').val()!='' && $('#id_pagentn').val()!=null){
		dataString+="&page="+$('#id_pagentn').val();
	}
	if($('#id_item_per_page').val()!='' && $('#id_item_per_page').val()!=null){
		dataString+="&item_perpage="+$('#id_item_per_page').val();
	}
	if(action=='#'){
		dataString+="&action="+$('#id_action').val();
		if(ids==0){
			var ids=[];
			$('.cbox_enq:checked').each(function(){
				ids.push($(this).val());
			});
		}
	}else{dataString+="&action="+action;}
	$('.cbox_enq').each(function(){
		all_ids.push($(this).val());
	});
	dataString+="&ids="+ids;
	dataString+="&all_ids="+all_ids;
	$('#ajax_action_loading').show();
	$.ajax({
	type: "GET",
	url: "{% url 'staff_enquiry_action' %}",
	data: dataString,
	dataType:'JSON',
	success: function(data){
			$("#master_check").attr('checked',false);
			$('#actionSelect').val('').trigger("liszt:updated");
			$('#ajax_action_loading').hide();
			if(data.status==1){
				try{
					for(i=0;i<ids.length;i++){
						$('#li_'+ids[i]).remove();
					}
					$('#li_'+ids).remove();
				}
				catch(e){
					$('#li_'+ids).remove();
				}
				$('#ajax_content_list').append(data.html);
				$('#pagenation').empty().html(data.pagenation);
				
				if(data.next){$('#top_pge_next').removeClass('inactive');}
				else{$('#top_pge_next').addClass('inactive');}
				if(data.previous){$('#top_pge_previous').removeClass('inactive');}
				else{$('#top_pge_previous').addClass('inactive');}
				$('#id_from_to').html(data.pagerange+" &nbsp;");
				$('#top_item_count').html(data.count)
				$('.light_box').colorbox({width: "560",initialWidth: "560", top:"60", initialHeight: "200"});
				$('.tool.action_status .chzn-container').addClass('chzn-disabled , disabled_chosen');
			}
			show_msg(data.msg,data.mtype);
		}
	});
}


function filter_content(){
	var ids=[]
	var dataString='';
	dataString+="sort="+$('#id_sort').val();
	if($('#id_pagentn').val()!='' && $('#id_pagentn').val()!=null){
		dataString+="&page="+$('#id_pagentn').val();
	}
	if($('#id_item_per_page').val()!='' && $('#id_item_per_page').val()!=null){
		dataString+="&item_perpage="+$('#id_item_per_page').val();
	}
	if($('#id_action').val()!='0' && $('#id_action').val()!=''){
		$('.cbox_enq:checked').each(function(){
			ids.push($(this).val());
		});
		dataString+="&action="+$('#id_action').val();
		dataString+="&ids="+ids;
	}
	$('#ajax_content_cls').hide();
	$('#ajax_content_loading').show();
	$.ajax({
	type: "GET",
	url: "{% url 'ajax_list_enquiry' %}",
	data: dataString,
	dataType:'JSON',
	success: function(data){
			$('#id_pagentn').val('');
			$('#id_action').val('');
			$('#ajax_content_loading').hide();
			$('#ajax_content_cls').empty().html(data.html);
			$('#ajax_content_cls').show();
			if(data.next){$('#top_pge_next').removeClass('inactive');}
			else{$('#top_pge_next').addClass('inactive');}
			if(data.previous){$('#top_pge_previous').removeClass('inactive');}
			else{$('#top_pge_previous').addClass('inactive');}
			$('#id_from_to').html(data.pagerange);
			$('#top_item_count').html(data.count)
			$('.light_box').colorbox({width: "560",initialWidth: "560", top:"60", initialHeight: "200"});
			$('html,body').animate({ scrollTop: $('#module-navigation').offset().top }, 'slow');
		}
	});
}

function sort_content(){
	$('#id_pagentn').val('1')
	filter_content();
}

function action(){
	var flag=false;
	var flag_action=false;
	if($('#id_action').val()!='0'){
		$('.cbox_enq:checked').each(function(){
			flag=true;
		});
		if(flag){
			if($('#id_action').val()=='DEL'){
				if(confirm(gettext('Are you sure you want to delete classifed(s) ?'))){flag_action=true;}
			}
			if($('#id_action').val()=='R'){
				if(confirm(gettext('Are you sure you want to Mark Enquiry as Read ?'))){flag_action=true;}
			}
			if($('#id_action').val()=='NR'){
				if(confirm(gettext('Are you sure you want to Mark Enquiry as Unread ?'))){flag_action=true;}
			}
			if(flag_action){filter_action(0,'#');}
		}else{
			alert('Please select Enquires')
		}
	}
}

function enable_action(){
	var enable=0;
	$('.check_action').each( function(index) {
		if ($(this).is(':checked')){
			enable=1;
		}
	});
	if (enable){
		$('.tool.action_status .chzn-container').removeClass('chzn-disabled , disabled_chosen');
	}else{
		$('.tool.action_status .chzn-container').addClass('chzn-disabled , disabled_chosen');
	}
}
$(document).ready(function(){
	$('.tool.action_status .chzn-container').addClass('chzn-disabled , disabled_chosen');
	$('#master_check_enq').live("click",function(){
		if($("#master_check_enq").is(':checked')){
			$(".cbox_enq").attr('checked',true);
			$('.tool.action_status .chzn-container').removeClass('chzn-disabled , disabled_chosen');
			$('.action_status .group-result').removeClass('disabled');
		}else{
			$(".cbox_enq").attr('checked',false);
			$('.tool.action_status .chzn-container').addClass('chzn-disabled , disabled_chosen');
			$('.action_status .group-result').addClass('disabled');
		}
	});
	$('.cbox_enq').live("click",function(){
		var flag=true;
		$('.cbox_enq').each(function(){if($(this).is(':checked')==false){flag=false}})
		if(flag){$("#master_check_enq").attr('checked',true);}
		else{$("#master_check_enq").attr('checked',false);}
	});

	var lastChecked = null;
    var $chkboxes = $('.cbox_enq');
    $chkboxes.click(function(e) {
        if(!lastChecked) {
            lastChecked = this;
            return;
        }
        if(e.shiftKey) {
            var start = $chkboxes.index(this);
            var end = $chkboxes.index(lastChecked);
            $chkboxes.slice(Math.min(start,end), Math.max(start,end)+ 1).attr('checked', lastChecked.checked);
        }
        lastChecked = this;
    });


});
</script>

<ul class="tour_link">
    <li class="tool-tip tttxt-t1"><a class="link1" href="/bmt/tour/status.html"></a></li>
    <li class="tool-tip tttxt-t2"><a class="link2" href="/bmt/tour/listing_type.html"></a></li>
    <li class="tool-tip tttxt-t3"><a class="link3" href="/bmt/tour/submissions.html"></a></li>
    <li class="tool-tip tttxt-t4"><a class="link4" href="/bmt/tour/search.html"></a></li>
    <li class="tool-tip tttxt-t5"><a class="link5" href="/bmt/tour/actions.html"></a></li>
    <li class="tool-tip tttxt-t6"><a class="link6" href="/bmt/tour/sorting.html"></a></li>
    <li class="tool-tip tttxt-t7"><a class="link7" href="/bmt/tour/state.html"></a></li>
    <li class="tool-tip tttxt-t8"><a class="link8" href="/bmt/tour/status_aside.html"></a></li>
    <li class="tool-tip tttxt-t9"><a class="link9" href="/bmt/tour/settings.html"></a></li>
</ul>
{% endblock %}	
				