r {% extends "staff_base.html" %}
{% load get_filename %}
{% load comparison %}
{% load upload_tags %}
{% load tabs %}
{% block navigation %}
	{% activetab "selmodule" "Movies" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}Movies{% endblock %}
{% block head %}
<style>
	.added_thumb{margin:15px 10px 25px 20px}
	.thumb-container {width:75px; height:75px; margin: 3px;float: left; position:relative}
	.thumb-container a {position: relative; display: block; width: 75px; height: 75px; overflow: hidden}
	.thumb-container em {position: absolute !important;bottom: 0px;right: 0px;width: 13px !important;height: 13px !important}
	.thumb-container em a {display: block;width: 13px;height: 13px}
	.thumb-container em a:hover {background-color:#FF0000}
	.thumb-container em a img {bottom: 0; right: 0}	
</style>
<script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
<script type="text/javascript">
</script>
{% endblock %}
{% block content %}
			<div class="page_title group" style="display:block; overflow:hidden; padding:10px 0 20px 0;">
            	<div class="bread-crumb clearfix">
                    <ul>
                        <li><a href="/staff/" style="background:#666;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#FFF">Staff Home</a></li>
                        <li><a href="/staff/movies/" style="background:#666;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#FFF">Movies</a></li>
                        <li style="background:#eee;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#666">Movie Gallery</li>
					</ul>
                </div> 
            </div>
			<div class="page_title group" style="display:block; overflow:hidden;">
                <h2 style="display:block; margin:0; padding-left:10px; line-height:normal">Add new Listing</h2> 
            </div>            
        	<div class="main" style="margin-bottom:20px;">
            	<div class="left_col">
                	<h3>Options</h3>
                	<ul class="side_menus">
                        <li><a href="/staff/movies/" class="side_menu">Manage Movies</a>
                        	<ul class="sub">
                            	<li><a class="side_menu on">Add New Movies</a></li> 
                            </ul>
                        </li>  
                        <li><a href="/staff/movies/managetheatres/" class="side_menu">Manage Theatres</a></li>
						<li><a href="/staff/movies/manage-critics-reviews/" class="side_menu">Manage Critics Reviews</a></li>
                    </ul>
                </div> 	
           	<div class="main_col">
			<div id="panel_tabs" class="clearfix">
	            <ul class="inline">
	            	<li class="clearfix"><a href="/staff/movies/addmoviestep1/?id={{movie.id}}" class="clearfix"> <span class="step_count clearfix">1</span> <span class="step_label clearfix">Movie details</span> </a></li>
	            	<li class="clearfix"><a class="clearfix active"> <span class="step_count clearfix">2</span> <span class="step_label clearfix">Movie Gallery</span> </a></li>
	                <li class="clearfix"> <a href="/staff/movies/addmovieshowtime/?id={% if movie %}{{movie.id}}{% endif %}" class="clearfix"> <span class="step_count clearfix">3</span> <span class="step_label clearfix">Showtimes</span> </a></li>
	            </ul>
                <div class="clear"></div>                
			</div>	
            <div style="border-top:1px solid #ccc;"></div>               
			<div id="formContainer" class=" clearfix"> 
			<form action="/staff/movies/addmovieshowtime/?id={{movie.id}}" name="mform" id="mform" method="post" class="clearfix coloumn" enctype="multipart/form-data" style="margin-top:20px; width:540px">
			{% csrf_token %} 
				<input type="hidden" name="eid" value="{{movie.id }}" />
				<fieldset id="basic_info"  style="width:720px;">
					<div id="fileupload" >
						<div class="title"><h2>Movie Image Upload</h2>
							<p>Upload movie image from your computer.You can upload upto 10 photos</p>
						</div>
					 	<div class="fileupload-content" style="padding-left:20px;">
					    	<ul class="files bm-uploader-list"></ul>
						</div>
			    		<div id="bm-dropzone_area" class="dropzone">Drop the files here</div>
			            {% csrf_token %}
			            <div class="upload-button-wrapper"  style="padding-left:20px;">
			                <a class="upload-button">Add Images</a>
			                    <div class="fileinput-button">
			                        <input type="file" name="photo" id="id_photo" multiple=""  accept="image/*" tabindex="-1">
			                    </div>
			                </div>
						</div>
				</fieldset>
                <fieldset class="base">
					<dl class="horizontal base">
              			<dd>
                            <input name="goback" value="Back" class="inputsubmit off" type="button" onclick="window.location.replace('/staff/movies/addmoviestep1/?id={{movie.id}}')"/> 
                            <input name="continue" value="Next" class="inputsubmit on" type="submit" /> 
              			</dd>
					</dl>                                                        
                </fieldset>          
                                                                                  
			</form>
                	</div>
                </div> 
                <hr/>
            </div>
			
{% upload_js %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.jfp.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.fup.appln.js"></script>
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bm.jfp.ui.css">
<script type="text/javascript">
$(document).ready(function(){
	file_upload('/staff/movies/ajaxuploadphotos/?id={{movie.id}}',10);
});
</script>			
{% endblock %}