{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% load upload_tags %}
{% block navigation %}
	{% activetab "selmodule" "movies" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Add New Movie ' %} {% endblock %}
{% block head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}themes/green/css/LE_MetaId99.css" type="text/css" />
	<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bm.jfp.ui.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}ui/css/jquery.tagit.css">
{% endblock %}
{% block content %}
                <div id="staff-platform" class="group">
                    <div class="header-bar">
                    	<a href="{% url 'staff_movie_listing' %}"><h2><span class="go_back"></span>{% trans 'Add Movie' %}</h2></a>
					</div>
                    <div id="core-wraper" class="group">
                        <div class="staff-main">
                            <div class="page-wrap">
                                <div id="movies-add" class="group">
                                    <div id="add-new-movie">
                                    	{% if form.errors %}
										<div class="messageerror" style="background:#FCF4F4;padding:10px;color:#FF9902; box-shadow:0 0 2px rgba(0, 0, 0, 0.1);border-bottom:1px solid #e1e1e1">
											<strong style="font-weight:bold;">{% trans 'There is a problem with your submission' %}</strong>
										    <ul style="list-style:square;margin-left:20px;">
										   		{% for field in form %}
										   			{% if  field.errors%}<li>{%for error in field.errors%}{{error}}{%endfor%} - {{field.name}}</li>{% endif %}
										  	 	{% endfor %}
											</ul>
										</div>
										{% endif %}
                                        <form action="{% url 'movie_staff_addmovie' %}{%if movie%}?id={{movie.id}}{%endif%}"  name="mform_movie" id="mform_movie" method="post" class="add_movie" enctype="multipart/form-data">{% csrf_token %}
										  <!-- <input type="hidden" name="mid" value="{{ movie.id }}"/>
										  -->
										    <div class="fields hform">
                                                <div class="field-group">              
                                                    <div class="field text-field fd-title">
                                                        <div class="label"><label for="">{% trans 'Movie Name' %}<span class="required-field">*</span></label></div>
                                                        <div class="value " >
                                                            {{form.title}}
                                                        </div>
                                                    </div> 
                                                    <div class="field text-field">
                                                        <div class="label"><label for="">{% trans 'Movie Poster' %}<span class="required-field">*</span></label>
														</div>
                                                        <div class="value">
                                                            <input name="image" id="id_image" class="textField file_normal" size="25" type="file" >
															<span class="tttxt-w tool-tip" title="{% trans 'Upload a poster of the movie,which is realistic not a movie image.' %}">?</span>

														</div>
                                                    </div> 
                                                    <div class="field text-field">
                                                        <div class="label"><label for="">{% trans 'Official Trailer' %}</label></div>
                                                        <div class="value" style="position:relative;">
															{{form.movie_url}}
															<span class="tttxt-w tool-tip" title="{% trans 'Copy and paste a HD Official trailer of the movie URL from YouTube.' %}">?</span>
															<!-- <input style=" padding-left:52px; width:302px;" type="text" placeholder="http://www.youtube.com/watch?v=oX9ZT3RbYE4&feature=fvsr" value="" name="" id="" class=""> -->
                                                        </div>
                                                    </div>
                                                </div> 
                                                <div class="field-group">
                                                    <div class="fields-head"></div>
                                                    <div class="field text-field">
                                                        <div class="label"></div>
                                                        <div class="value">
                                                            <div class="group">
                                                                <span class="inline-block pdr6 fs">
                                                                    <label for="">{% trans 'Release Date' %}</label>
																	{{form.release_date}}
                                                                    <!--img alt="" src="{{ STATIC_URL }}ui/images/icons/b/70.png" class="fd-icon"-->
                                                                </span>
																<span class="inline-block fs">
                                                                    <label for="">{% trans 'Runtime' %}</label>
                                                                    {{form.duration_hours}}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="field select-field">
                                                        <div class="label"><label for="">{% trans 'Genre' %}<span class="required-field">*</span></label></div>
                                                        <div class="value">
															{{form.movie_type}}
                                                        </div>
                                                    </div>
                                                    <div class="field select-field">
                                                        <div class="label"><label for="">{% trans 'Language' %}<span class="required-field">*</span></label></div>
                                                        <div class="value">
                                                        	{{form.language}}
                                                        </div>
													</div>
													<div class="field select-field">
                                                        <div class="label"><label for="" id="id_language">{% trans 'Movie Rating/Certification' %}</label></div>
                                                        <div class="value">
                                                        	{{form.certification}}
                                                        </div>
													</div>
                                                    <div class="field text-field">	
                                                        <div class="label"><label for="">{% trans 'Director' %}</label></div>	
                                                        <div class="value">
                                                        	{{form.director}} 
														</div>	
                                                    </div>
                                                    <div class="field text-field">	
                                                        <div class="label"><label for="">{% trans 'Cast' %}</label></div>	
                                                        <div class="value">
                                                        	{{form.cast}}  
															</div>	
                                                    </div>
                                                    <div class="field text-field">
                                                        <div class="label"><label for="">{% trans 'Writer' %}</label></div>
                                                        <div class="value">
                                                        	{{form.writer}}
														</div>
                                                    </div>
                                                    <div class="field text-field">	
                                                        <div class="label"><label for="">{% trans 'Synopsis' %}</label></div>	
                                                        <div class="value">
                                                        	{{form.synopsis}}
															</div>	
                                                    </div>
                                                    <div class="field text-field">
                                                        <div class="label">{% trans 'Official Website' %}</div>
                                                        <div class="value">
															{{form.web}}
															<span class="tttxt-w tool-tip" title="{% trans 'Enter the Official website of the movie.For example: thedarkknight.com' %}">?</span>
														</div>
                                                    </div>
													
												    <div class="field text-field media_url">
                                                        <div class="label">{% trans 'Media URL' %}</div>
														<div class="value" id="facebook" style="margin-top:10px;{% if not movie.facebook_url %}display:none;{% endif %}">
															<img src="{{STATIC_URL}}ui/images/icons/favicons/facebook.png">
															{{form.facebook_url}}
															<a style="text-indent: 9999em; overflow: hidden; width: 16px; height: 16px; display: inline-block;" class="icon-remove o3 tttxt-w" href="javascript:hide('facebook')" title="Remove">X</a>
	                                  					</div>
														<div class="value" id="googleplus" style="margin-top:10px;{% if not movie.googleplus %}display:none;{% endif %}">
															<img src="{{STATIC_URL}}ui/images/icons/favicons/gplus.jpeg">
															{{form.googleplus}}
															<a style="text-indent: 9999em; overflow: hidden; width: 16px; height: 16px; display: inline-block;" class="icon-remove o3 tttxt-w" href="javascript:hide('googleplus')" title="Remove">X</a>
					                                    </div>
														<div class="value" style="margin-top:10px;">
					                                        <div class="group">
					                                        	<span id="i_facebook" {% if movie.facebook_url %}style="display:none;"{% endif %}>
																	<img src="{{STATIC_URL}}ui/images/icons/favicons/facebook.png">
																	<span class="cform-checkbox-container"><input type="checkbox" id="c_facebook" onclick="show('facebook')"><span class="cform-checkbox-element"></span></span>
																</span>
					                                        	<span id="i_googleplus" {% if movie.googleplus %}style="display:none;"{% endif %}>
																	<img src="{{STATIC_URL}}ui/images/icons/favicons/gplus.jpeg">
																	<span class="cform-checkbox-container"><input type="checkbox" id="c_weburl" onclick="show('googleplus')"><span class="cform-checkbox-element"></span></span>
																</span>
					                                        </div>
					                                    </div>
                                                    </div> 
													
												
													<!-------Twitter Tags-------->
												 <div class="field text-field">	
			                                      <div class="label">
			                                        	<label for="-button">{% trans 'Twitter #tags' %}</label>
													</div>
			                                        <div class="value has-fd-icon">
			                                        	<input id='tags' type="hidden" class='tags' name="tags" placeholder="{% trans 'Add Twitter Tags' %}" value="">
			                                        	<ul id="mytags" class="fl" style="float:left"></ul>
    													<span class="tttxt-w tool-tip" style="margin-top:6px;" title="{% trans 'Twitter #tags retrieve the movie tweets based on the #tags entered.For example: batman, dark knight' %}">?</span>
			                                        </div>
			                                     </div>  
												 <!--------Twitter Tags Ends------->
												 	<!-- add Image -->	
												 <div class="field select-field">
                                                 	<div class="label">
														{% trans 'Upload Images'%}
														<span class="tttxt-w tool-tip" title="{% trans 'Upload images of the movie scenes from the movie.' %}">?</span>
												 	</div>
                                                      <div class="value">
                                                            <div id="fileupload" >
					 										<div class="fileupload-content">
					    									<ul class="files bm-uploader-list"></ul>
															</div><div class="clear"></div>
			    											<div id="bm-dropzone_area" class="dropzone">{% trans 'Drop the files here' %}</div>
			            									{% csrf_token %}<div class="clear"></div>
			           									 	<div class="upload-button-wrapper">
			               									 <a class="upload-button">{% trans 'Add Images' %}</a>
			                    							 <div class="fileinput-button">
			                        							 <input type="file" name="photo" id="id_photo" multiple=""  accept="image/*" tabindex="-1">
			                    							 </div>
			               								 	</div>
														</div>                  
                                                      </div>
                                                 </div>
												 <!-- End Add Image -->
                                                    
                                                </div><!--/field-group-->  
										
                                                 
												
                                                                                                                                                            
                                            </div> 
                                            <div class="form-submit right group">
                                               <button class="cform-button" type="button" onclick="location.replace('{% url 'staff_display_movie' %}')" roll="button"><span class="cform-button-text">{% trans 'Cancel' %}</span></button>
                                               <button role="button" class="cform-button prime" type="submit"><span class="cform-button-text">{% trans 'SAVE' %}</span></button>

                                            </div>                                                
                                        </form>
                                        
                                        
                                    </div>																	                                        
                                                                            
                                </div> <!-- end table -->                                    
                            </div><!-- end page wrap -->
                        </div>  <!-- end main-col -->                            
                        <div id="aside" class="side-bar">
                            {% include 'movies/staff/movie-update-faq.html' %}   
						</div>                                       
					</div>                                                    
				</div>

  
          
{% endblock %}
{% block footer_include %}
{% upload_js %}
<script type="text/javascript" src="{{STATIC_URL}}ui/js/jquery.ui.autocomplete.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ckeditor4/ckeditor.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.jfp.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.fup.appln.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/movies/staff_movies.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}ui/js/tag-it.js"></script> 
<script type="text/javascript">
$(document).ready(function(){
	if($("#id_release_date").length){$("#id_release_date").datepicker({ dateFormat: "yy-mm-dd" , minDate:new Date()});}
  	var youtubePattern = /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/;
	var vimeoPattern=/^(http|https):\/\/(?:www\.|player\.)?(vimeo)\.com\/(watch\?[^#]*v=(\w+)|(\d+)).+$/;
  	jQuery.validator.addMethod("videoURL", function(value) {
		if(value){
			var flag=false
			if(youtubePattern.test(value)){flag=true;}
			else if(vimeoPattern.test(value)){flag=true;}
			return flag;
		}else{return true;}
  	}, "Must be a valid Youtube video");
});
</script>	
		
<script type="text/javascript">
$(document).ready(function(){
	$('#id_movie_type').change(function(){$(this).valid();})
	
	file_upload('/staff/movies/ajaxuploadphotos/{%if movie.id%}?id={{movie.id}}{%endif%}',20);
	/*
	CKEDITOR.on( 'instanceCreated', function( e ){
        e.editor.addCss('body { font-size:12px; font-family:Arial, "Times New Roman", Verdana;}');
    });
	*/
		CKEDITOR.replace( 'id_synopsis',
	        {                   
	            customConfig : '{{ STATIC_URL }}js/ckeditor/custome_config.js',
	            toolbar :
	            [
	                [ 'Bold', 'Italic','Underline','Strike','Link', 'Unlink','NumberedList', 'BulletedList','Outdent', 'Indent' ]
	            ],
	            width:500,height:130,removePlugins : 'resize'
	     });
});

		$("#mform_movie").validate({
			ignore:'',
			highlight: function(element, errorClass){
							$(element).parent('div').parent('div').addClass('field-error');
							$(element).addClass("error");
						},
			unhighlight: function(element, errorClass){
							$(element).parent('div').parent('div').removeClass('field-error');
							$(element).removeClass("error");
						},
			errorPlacement: function(error, element){},
		   	rules:{
		    	title: "required",
				movie_type: "required",
		    	language: "required",
				movie_url: {required:false,url: true,videoURL: true},
				image:"required",
		   	}	
		});
		$('#id_language').bind("change", function(){
				$("#mform_movie").validate().element($(this));
		});
		$('#id_image').bind("change", function(){
				$("#mform_movie").validate().element($(this));
		});


		// Twitter Tags ----------------
    	$("#mytags").tagit({
        singleField: true,
        singleFieldNode: $('#tags'),
	    allowSpaces:true,
        tagSource: function( request, response ) {
         $.ajax({
		       data: { term:request.term },
		       dataType: "json",
		       success: function( data ) {
		       response( $.map( data, function( item ) {
		       return {
			   	label: item.label, value: item.value 
				}}
				));
       		}
       });
      }});
	 {% if movie_tags %}
		  {% for tag in movie_tags %}
			$("#mytags").tagit("createTag", '{{tag}}');
		{% endfor %}
	{% endif %}
	// Twitter Tags 
	var availableTags = [
			 '1:30 HOURS','1:45 HOURS','2:00 HOURS','2:10 HOURS','2:30 HOURS','2:45 HOURS',
			 '3:00 HOURS','3:10 HOURS','3:30 HOURS','3:45 HOURS','4:00 HOURS'
		];
	
	    jQuery(function () {
    	
		time = $('#id_duration_hours').autocomplete({
          source: availableTags
         });

    });
	
	function show(id){
		$('#'+id).slideDown();
		$('#i_'+id).fadeOut('fast');
	}
	function hide(id){
		$('#'+id).slideUp();
		$('#'+id).find('input[type=text]').val('');
		$('#i_'+id).find('input[type=checkbox]').attr('CHECKED',false);
		$('#i_'+id).fadeIn('fast');
	}
	function showhttp(vl){
		 if(vl=='2'){
			$('#id_facebook_url').val('https://www.facebook.com/');
		}
		else if(vl=='3'){
			$('#id_googleplus').val('https://plus.google.com/');
		}
		else if(vl=='4'){
			if($('#id_web').val()==""){
				$('#id_web').val('http://www.');
			}	
		}else{$('#id_web').val('http://www.');}
		  
	}
function hidehttp(vl){
 	if(vl=='2'){
		if($('#id_facebook_url').val()=='https://www.facebook.com/')
		{
		$('#id_facebook_url').val('');	
		var element=$('#id_facebook_url');
		$(element).parent('div').parent('div').removeClass('field-error');$(element).removeClass("error");
		}
	}else if(vl=='3'){
		if($('#id_googleplus').val()=='https://plus.google.com/')
		{
		$('#id_googleplus').val('');
		var element=$('#id_googleplus');
		$(element).parent('div').parent('div').removeClass('field-error');$(element).removeClass("error");
		}
	}
	else if (vl=='4'){
			if($('#id_web').val()=='http://www.'){
				$('#id_web').val('');
			$(element).parent('div').parent('div').removeClass('field-error');$(element).removeClass("error");	
			}
		
	}
	
}
</script>
{% endblock %}




