{% extends "staff_base.html" %}
{% load get_filename %}
{% load tabs %}
{% block navigation %}
	{% activetab "selmodule" "movies" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}Edit Critics Source{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% load thumbnail %}

        	<div class="page_title group" style="display:block; overflow:hidden; padding:10px 0 20px 0;">
            	<div class="bread-crumb clearfix">
                    <ul>
                        <li><a href="/staff/" style="background:#666;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#FFF">Staff Home</a></li>
                        <li><a href="/staff/movies/" style="background:#666;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#FFF">Movies</a></li>
						<li style="background:#eee;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#666">Edit Critic Source</li>                        
                    </ul>
                </div> 
            </div>
			<div class="page_title group" style="display:block; overflow:hidden;">
                <h2 style="float:left; display:block;width:300px; margin:0; padding-left:10px; line-height:normal">Edit Critics Source</h2>           
            </div>            
        	<div class="main" style="margin-bottom:20px;">
            	<div class="left_col">
                	<h3>Options</h3>
                	<ul class="side_menus">
                        <li><a href="/staff/movies/" class="side_menu">Manage Movies</a></li>
                        <li><a href="/staff/movies/managetheatres/" class="side_menu">Manage Theatres</a></li>
						<li><a href="/staff/movies/manage-critics-reviews/" class="side_menu">Manage Critics Reviews</a></li>
							<ul class="sub">
                            	<li><a href="#1" class="side_menu on">Edit Critics Source</a></li>
                            </ul>
						
                    </ul>
                </div> 	
            	<div class="main_col">
            	
            		{% if form.errors %}
									<div class="messageerror" style="background:lightyellow;padding:10px;color:red">
										<strong>There is a problem with your submission</strong>
				                        <ul style="list-style:square;margin-left:20px;">
				               			 {% for field in form %}
				               			 	{% if  field.errors%}
				               	            	<li>
				               	            	{%for error in field.errors%}
				               	            		{{error}}
					               	            {%endfor%}
												</li>
				           	             {% endif %}
				              	 		 {% endfor %}
										</ul>
             		 		 		 </div>
								{% endif %}
            	     
            	     {% if message %}
					<div class="message" id ="m">{{message}}</div>
					<script type="text/javascript">
						setTimeout('hideMessage()',5 * 1000); //5 sec
						hideMessage = function(){
							$("#m").fadeOut();
						}
						</script>
				{% endif %}
					<div id="formContainer" class="add_cat clearfix"> 
        	  	  		<form action="/staff/movies/edit-critics-source/?id={{critics.id}}" enctype="multipart/form-data" name="f_addnew" id="f_addnew" method="post" class="add_category" onsubmit="return validate();">{% csrf_token %}
        	  	  		<input type="hidden" name="cid" value="{{critics.id}}">
 							<fieldset>
                	    		<div class="title"><h2>Edit Critics Source</h2></div>
                   					 <span style="color:red; margin-left: 16px;">(*)</span>Are required fields
									<dl class="vertical">
                          				<dt><label for="id_source_title"><b>Source Title:</b></label>
										    <label for="by" style="color:red;">*</label>
										</dt>
                                            <dd>
                                            	{{form.source_title}}
                                            </dd>
                                        
                                        
                                        
                          				<dt><label for="id_url"><b>Source Url: </b></label>
											<label for="by" style="color:red;">*</label>
										</dt>
                                            <dd>
												{{form.url}}
                                            </dd>
                                        
										<dt><label for="id_logo"><b>Source Logo: </b></label>
										</dt>
				    					   <dd>
										        <dd>
										            <input name="logo" id="id_logo" class="textField file_normal" size="25" type="file" / >
									            </dd>  
									            <dd>
									             	<img src="{{MEDIA_URL}}{{critics.get_source_image}}"  width="90" />
												</dd>  
									       </dd>
										<dt><label for="id_copyright"><b>Copyright: </b></label>
											<label for="by" style="color:red;">*</label>
										</dt>
                                            <dd>
                                            	{{form.copyright}}
											<span class="tip">Example: Copyright 2010 Example.com</span>  
                                            </dd>

                                                <dd><div class="buttons" style="padding-top: 10px;"><input class="inputsubmit on" value="Update" type="submit"> <input class="inputsubmit off" value="Cancel" type="button" onclick="location.replace('/staff/movies/manage-critics-source/')"></div>
                                                </dd> 
                                                </dl>                                           
                   			 </fieldset>                              
						</form>
                	</div>

                </div> 
 <hr >
</div>                
{% endblock %}