{% load i18n %}	
<div id="critics-review">
<script src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
	$.validator.addMethod("desc_required", function(value, element) {  
    	$('#id_review').val(edt.getData());
		if($('#id_review').val()!=''){return true;}
		else{return false;}
	},"Please enter a description.");
	$("#f_addnew").validate({
		ignore:'',
		highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass("error");},
		unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass("error");},
		errorPlacement: function(error, element){},
	   	rules:{
	    	source: "required",
			title: "required",
	    	reviewed_by: "required",
	    	rating: "required",
			review: "desc_required",
	   	}	
	});
});

</script>
	{% if form.errors %}
		<div class="messageerror" >
			<span style="font-size:1.2em;font-weight:250;"><strong>{% trans "There is a problem with your submission" %}</strong></span>
	        {% if form.errors %}
			<ul>{% for field in form %}
			 	{% if field.errors%}<li>{%for error in field.errors%}{{error}}{%endfor%}</li>{% endif %}
	 		 {% endfor %}</ul>
			{% endif %}
		</div>
	{% endif %}
	<form name="f_addnew" id="f_addnew" method="post">{% csrf_token %}
		<div class="fields hform">
			<div class="field-group"> 
				<div class="field select-field">
                    <div class="label"><label>{% trans 'Critics Source' %}<span class="required-field">*</span></label></div>
                    <div class="value">{{form.source}}</div>
                </div>
				<div class="field text-field">
                    <div class="label"><label>{% trans 'Title'%}<span class="required-field">*</span></label></div>
                    <div class="value">{{form.title}}</div>
				</div>
                <div class="field text-field">
                    <div class="label"><label>{% trans 'Reviewed By'%}<span class="required-field">*</span></label></div>
                    <div class="value">{{form.reviewed_by}}</div>
				</div>
                <div class="field text-field">
                    <div class="label"><label>{% trans 'Rating'%}<span class="required-field">*</span></label></div>
                    <div class="value ">
    	                <select name="rating" id="id_rating" data-placeHolder="{% trans 'Select Rating' %}" class="lb_select-menu fl">
                            <option value=""></option>
                            <option value="1" {% ifequal critics.rating 1 %} selected {% endifequal %}>Poor</option>
                            <option value="2" {% ifequal critics.rating 2 %} selected {% endifequal %}>Average</option>
                            <option value="3" {% ifequal critics.rating 3 %} selected {% endifequal %}>Good</option>
                            <option value="4" {% ifequal critics.rating 4 %} selected {% endifequal %}>Very Good</option>
                            <option value="5" {% ifequal critics.rating 5 %} selected {% endifequal %}>Excellent</option>
                        </select>  
					</div>
                </div>
                <div class="field text-field">
                    <div class="label"><label>{% trans 'Review'%}(add upto 2000 characters)<span class="required-field">*</span></label></div>
                    <div class="value">{{form.review}}</div>
                </div>
            </div>                       
		 </div>    
        <div class="modal-base form-submit group">
           <button  onclick ="update_critic({{critics.id}},{{movie_preview.id}});" value="Update" type="button" class="cform-button prime right" role="button"><span class="cform-button-text">{% trans 'Update'%}</span></button>
        </div>           
    </form>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.core.js"></script> 
<script type="text/javascript" src="{{STATIC_URL}}ui/js/inline.js"></script>
<script type="text/javascript">
			try{
				var instance = CKEDITOR.instances['id_review'];
				CKEDITOR.remove(instance);
			}
			catch(e){}
			/*
			CKEDITOR.on( 'instanceCreated', function( e ){
				   e.editor.addCss('body { font-size:12px; font-family:Arial, "Times New Roman", Verdana;}');
		   });
			*/
				var edt=CKEDITOR.replace( 'id_review',
				{					
					customConfig : '{{ STATIC_URL }}js/ckeditor/custome_config.js',
					toolbar : 'Basic', 
					height : 150
				});
</script> 
</div>



