{% load ds_utils %}
{% load i18n %}
{% load upload_tags %}

            	<div class="preview-group">
                   {% if  movie_preview.get_theatres  %}
					<div class="preview-items-head group">
                        <div class="right-item movie-showtimes" href="{% url 'staff_movie_ajax_add_showtime' %}?movie_id={{movie_preview.id}}"><div class="cform-button prime"><span>Add Showtimes</span></div></div>
                   	<!--	<h3>{% trans 'Showtimes '%}</h3>
				    --></div>
					{% endif %}
					<ol class="data-table-inset">
                    	<li class="table-list-row-head">
                        	<div class="table-list-row-inner group">
                                <div class="table-list-coloumn w220 txt-right">Theater</div>	
                                <div class="timings">Showtimes</div>	
							</div>                                                    
                        </li>
					{% for x in movie_preview.get_theatres %}
                    	<li class="table-list-row manage-items" id="show_times_li_{{x.id}}">
						    <div class="table-list-row-inner group">
                            	<div class="table-list-coloumn w220 txt-right">
									<h3>{{x.theatre.name}}</h3>
                                    <p class="subhead">{{x.theatre.address1}}</p>                                                    
								</div>
								<div class="timings">
									{% autoescape off %}
							        {% for show in x.get_shows %}
                                	<div class="rw">
                                        <span class="date">{{show.date|date:"D, dS M"}}</span>
                                        <p class="grid">{% split_show_times show.show_times %}</p>
                                	</div>
									{% endfor %}
                                    {% endautoescape %}
                                </div>
                                {% for a in added %}	
								 <div class="action-buttons">
                                
								    <a href="{% url 'staff_movie_edit_showtime_ajax' %}?id={{x.id}}" class="tttxt-n edit_movie_lightbox" title="Edit showtime"><span class="action-icon icon-edit"></span></a>
                                
								    <a href="javascript:void(0)" class="tttxt-n" onclick="delete_showtime({{x.id}});" original-title="Delete"><span class="action-icon icon-delete"></span></a>
								
								</div>
								{% endfor %}
                            </div>
						</li>
                    {% endfor %} 
                    	                                           
                    </ol> <!-- end table -->
					{% if not  movie_preview.get_theatres  %}
                     <div class="no-data">
                    	<p>{% trans 'No Showtimes Found for this Movie.'%}</p>
                        <div class="button-insde">
                        	<span class="btn-txt-inline-prime movie-showtimes" href="{% url 'staff_movie_ajax_add_showtime' %}?movie_id={{movie_preview.id}}" title="Add Showtimes"><span class="btn-txt">{% trans 'Add Showtimes' %}</span></span>
                        </div>
                     </div>
					{% endif %}
				</div>
