{% extends "staff_base.html" %}
{% load get_filename %}
{% load tabs %}
{% block navigation %}
	{% activetab "selmodule" "movies" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{{ globalsettings.domain }} | Staff | Movies {% endblock %}
{% block head %}
<!-- Calender begin-->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/LE_MetaId99.css">
	<script src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js" type="text/javascript"></script>
	<script src="{{STATIC_URL}}js/movies/twittertaging.js" type="text/javascript"></script>

<!-- Calender end-->
<script type="text/javascript">
	$(document).ready(function(){
		if($("#id_release_date").length){
				$("#id_release_date").datepicker({ dateFormat: "yy-mm-dd" , minDate:new Date()});
			}
			});
		
</script>
<!-- form validation -->
<script>
$(document).ready(function(){
	

	
	$("#f_addclassifiedthird").validate({
		errorLabelContainer: "#validation_error",
   		wrapper: "span",
	   	rules: {
	    	title:"required",
			release_date:"required",
			movie_type:"required",
			language:"required",
			email:{
				email:"true"	
			     },
			facebook_url:{
				url:"true"	
			     },
			   
	   	},
	   	messages: {
	    	title: "Please enter a valid title",
	    	release_date: "Please select the release date",
	    	movie_type: "Please select the Movie Type ",
			language:"Please select the language from the list",
	    	email: "Your email address must be in the format of name@domain.com",
	    	website:"Enter a valid website address, eg: http://www.example.com",
	    	facebook_url:"Enter a valid Facebook url",
	    	
	   	},
	   	invalidHandler: function(form, validator) {
	      var errors = validator.numberOfInvalids();
	      if (errors) {
	        $("div#validation_error").show();
	      } else {
	        $("div#validation_error").hide();
	      }
	    },
	    submitHandler: function(form) {
      		window.document.f_addclassifiedthird.lat_lng.value = marker.getPoint();
			window.document.f_addclassifiedthird.zoom.value = map.getZoom();
     		form.submit();
  		 }
	});
});
</script>


{% endblock %}
{% block content %}
        	<div class="page_title group" style="display:block; overflow:hidden; padding:10px 0 20px 0;">
            	<div class="bread-crumb clearfix">
                    <ul>
                        <li><a href="#" style="background:#666;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#FFF">Movies</a></li>
                        <li style="background:#eee;font-size:12px; padding:2px 4px; -moz-border-radius:4px;color:#666">Add Movie</li>
                    </ul>
                </div> 
            </div>
			<div class="page_title group" style="display:block; overflow:hidden;">
                <h2 style="display:block; margin:0; padding-left:10px; line-height:normal">Add Movie</h2> 
            </div>            
        	<div class="main" style="margin-bottom:20px;">
            	<div class="left_col">
                	<h3>Options</h3>
                	<ul class="side_menus">
                        <li><a href="/staff/movies/" class="side_menu">Manage Movies</a>
                        	<ul class="sub">
                            	<li><a class="side_menu on">Add New Movies</a></li> 
                            </ul>
                        </li>  
                        <li><a href="/staff/movies/managetheatres/" class="side_menu">Manage Theatres</a></li>
						<li><a href="/staff/movies/manage-critics-reviews/" class="side_menu">Manage Critics Reviews</a></li>
                    </ul>
                </div> 	
           	<div class="main_col">
           	{%if message%}
					<div id="m" style="padding:10px;background:lightyellow;color:#333;margin-top:5px;width:100%;">
						{{message}}
						<script type="text/javascript">
						setTimeout('hideMessage()',5 * 1000); //5 sec
						hideMessage = function(){
							$("#m").fadeOut();
						}
						</script>
					</div>
				{%endif%}
				
			<div id="panel_tabs" class="clearfix">
	            <ul class="inline">
	            	<li class="clearfix"><a class="clearfix active"> <span class="step_count clearfix">1</span> <span class="step_label clearfix">Movie details</span> </a></li>
	            	<li class="clearfix"><a href="/staff/movies/addmoviepicture/?mid={% if movie %}{{movie.id}}{% endif %}" class="clearfix"> <span class="step_count clearfix">2</span> <span class="step_label clearfix">Movie Gallery</span> </a></li>
	                <li class="clearfix"> <a href="/staff/movies/addmovieshowtime/?id={% if movie %}{{movie.id}}{% endif %}" class="clearfix"> <span class="step_count clearfix">3</span> <span class="step_label clearfix">Showtimes</span> </a></li>
	            </ul>
				
                <div class="clear"></div>                
				
			 </div>	
               
			   
			     <div style="border-top:1px solid #ccc;"></div>    
				  <div class="clearfix" style="margin-left: 123px; margin-top: 20px;">
				      <span style="color:red;">(*)</span>Are required fields </div>
				  <div class="clear"></div>             
			
			
			<div id="formContainer" class=" clearfix"> 

			 <form action="/staff/movies/addmoviestep1/?id={{movie.id}}" enctype="multipart/form-data" method="post" name="f_addclassifiedthird" id="f_addclassifiedthird" class="clearfix coloumn" style="margin-top:20px; width:740px">{% csrf_token %}
				<fieldset>
				  <dl class="horizontal">
						  <dt>
						    <label for="name" id ="id_title">Movie title</label>
							<label for="by" style="color:red;">*</label>

						  </dt>
						  <dd>
				      			{{form.title}}
			              </dd> 
                          <dt><label for="cmp_logo"><b>Movie Poster: </b></label></dt>
				        <style>
				        	#id_image
							{
								height:28px;
								margin-bottom:8px;
							}
							#id_genre
							{
								width:200px;
								margin-bottom:10px;
							}
							
				        </style>
					     <dd>
				             <dd>
				                   <input name="image" id="id_image" class="textField file_normal" size="25" type="file" >
			                 </dd>  
			              <dd>
			              	  <img src="{{MEDIA_URL}}{{movie.get_image}}"  width="90" />
						  </dd>  
			              </dd>
					        <dt>
						      <label for="movie_trailor">Movie Trailor URL</label>
					        </dt>
							<dd>
								{{form.movie_url}}
					        	<span class="tip">Example: http://www.youtube.com/watch?v=u8lGCjd9W8U</span>
					        </dd> 
		                     <dt>
						      <label for="date">Release date</label>
							  <label for="by" style="color:red;">*</label>
					        </dt>
						    <dd>
						    	{{form.release_date}}
			                </dd> 
                              <dt style="clear: none;">
				                     <label for="time" id="id_duration">Duration</label>
			                  </dt>
				                <dd style="width: 150px; float: left; margin-left: 5pt;">	
								    {{form.duration_hours}}		                         
								</dd>
								 <dt style="clear: none; width: 49px;">
				                     <label for="time" id="id_duration"  >Minutes</label>
			                    </dt>
				                <dd style="width: 150px; float: left; margin-left: 3pt;">			                         
								    
												{{form.duration_minutes}}
								</dd>
							
							   
                               <dt>
                                      <label for="article_type" id="movie_type"><b>Genre</b></label>
									  <label for="by" style="color:red;">*</label>

                               </dt>
                                	<dd>	
									  {{form.movie_type}}                
                                    </dd>                
                                <dt>
								    <label for="language" id="id_language">Language</label>
									<label for="by" style="color:red;">*</label>
								 </dt>
							    <dd>			                         
  										{{form.language}}
	                              </dd>
							    <dt>
							      <label for="website">Website</label>
						        </dt>
									<dd>
								      {{form.web}}
							        </dd>                
									
									<dt>
							           <label for="facebook_url">Facebook URL.</label>
						           </dt>
									<dd>
								        {{form.facebook_url}}
							        </dd>         
									  	<dt>
							                  <label for="id_newtag">Add Twitter Tags:</label> 
							            </dt>
						           <dd>	
					                    <input type="text" value="" class="textField tag" maxlength="100" id="as_newkeyowrd" name="newtag">
					                    <input type="button" style="vertical-align:top;" value="Add"  id="as_add_keyword"><span class="pl15" id="loading"></span>
				                        <span class="tip mb15 as_status">You can add maximum five keywords</span> 
						               <div class="idea" style="list-style:none;">
									    
										  <div id="keyword_ul" name="keyword_ul" class="keyword_ul"  >
										  </div>
										  <input type="hidden" name="tag" id="tag">
									    </div>	
				                 </dd> 
							 <dd id="jaxtag">
				                 
									<div id="tagchecklist" >
										<ul id="id_alltags" name="id_alltags" >
											{% if hash_tags %}
											{% for tag in hash_tags %}
												<li id='id_stag_{{forloop.counter}}' name="id_stag_{{forloop.counter}}"><span onclick='deletetag("{{tag}}","{{forloop.counter}}");'  >&nbsp;</span>
												{{tag}}
												</li>
											
											
											{% endfor %}
											{% endif %}
										</ul>
									</div>
								</dd>     
								


				   				    <dt><label for="editor">Director</label></dt>
				    <dd>
				      {{form.director}}  
			        </dd> 
				   				    <dt><label for="editor">Cast</label></dt>
				    <dd >
				        {{form.cast}}                   
			        </dd>                     
				   

				    				<dt><label for="writer">Writer</label></dt>
				    <dd >
				       {{form.writer}}
			        </dd> 

                                                                
				                   <dt><label for="synopsis">Synopsis</label></dt>
				    <dd>
				    	{{form.synopsis}}
			        </dd>                         
				    
			      </dl>                                                        
               </fieldset>
               <input type="hidden" name="mid" value="{{ movie.id }}"/>
						<br>
                    <fieldset class="base">
							<dl class="horizontal base">
					    		<dt>                                </dt>
                      			<dd style="float:right">
                      				
                               
                                <input name="continue" value="Next" class="inputsubmit on" type="submit" " />
                                <input name="cancel" value="Cancel" class="inputsubmit off" type="button" onclick="window.location.replace('/staff/movies/')"/>
								<input name ="saveexit"  value="Finish" class ="inputsubmit on" type ="submit"  />    
                                    
                      			</dd>
							</dl>                                                        
                    </fieldset>                                                                            
				  </form>
                	</div>
                </div> 
                <hr />
            </div>
        </div>
		
		
		
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.core.js"></script>  
<script type="text/javascript">
var id = 1;
var tag_keyword=[];
{% if hash_tags %}
{% for tag in hash_tags %}
	tag_keyword.push('{{tag}}');
{% endfor %}
{% endif %}


function trim(str){
	if(!str || typeof str != 'string')
		return '';
	return str.replace(/^[\s]+/,'').replace(/[\s]+$/,'').replace(/[\s]{2,}/,' ');
}

$(document).ready(function(){
	$('#tag').val(tag_keyword);
	$('#as_add_keyword').click(function(){
		var keyword = $('#as_newkeyowrd').val();
		var whiteSpace = " ";
		var start = 0;
		var searchThis = keyword.indexOf(whiteSpace, start);
		var keyword_trim = $.trim(keyword);
		var key_len = 1 	
		
		if(keyword.search(/\,+/) != -1){
			keyword = keyword.toLowerCase().split(',');
			key_len = keyword.length;
		}
		
		//error status
		if (searchThis != -1) {
			$('.as_status').addClass('red').text('Space is not allowed');
			return
		}
		if($('#keyword_ul li').length + $('#id_alltags li').length==5 || $('#keyword_ul li').length+key_len > 5 ){
			$('#as_newkeyowrd').css('border-color','red');
			$('.as_status').addClass('red').text('Maximum 5 keywords are only allowed');
			return
		}
		if (keyword_trim.length==0){
			$('#as_newkeyowrd').css('border-color','red');
			$('.as_status').addClass('red').text('Please enter a keyword');
			return
		}
		    var keyword = $('#as_newkeyowrd').val();
			var taglist = keyword.split(",")
   	        var len_tag = taglist.length;
			for(var i=0; i<len_tag; i++){
			tag=trim(taglist[i]);
			
				$('#id_alltags').append('<li id="id_jstag_'+id+'"><span style="margin-left:5px;" onclick="remove_me(\''+tag+'\','+id+');">&nbsp;</span>'+tag+'</li>');
			id++;
			tag_keyword.push(tag);
			}
			$('#tag').val(tag_keyword);
			
			$('#as_newkeyowrd').val('');
	});		
});
function remove_me(li_id,id){
		tag_keyword.splice( $.inArray(li_id, tag_keyword), 1 );
		$(li_id).parent('li').remove();
		$('#id_jstag_'+id).remove();
	    $('#tag').val(tag_keyword);
}
function deletetag(id,gid){
	tag_keyword.splice($.inArray(id, tag_keyword),1);
	$('#id_stag_'+gid).remove();
	$('#tag').val(tag_keyword);
	$('#id_stag_'+id).val('');
}




</script>
        {% endblock %}
