<html>
	<head>
		<h2>Movie Details</h2>
<!-- Map Functionality  -->
	<style>
	#map span{
	display:none;
	}
	</style>
		</head>
		<body>
		  <div class="theatre_list">
            	<ul>
                	<li class="left" style="border:none">
                       <div class="details">
                       	<H3>{{movies.title}}</H3>
						<div class="photo">
								<img src="{{MEDIA_URL}}{{movies.get_image}}" width="90" alt="{{movie.title}}" />
						</div>
						
                           <h2 style="font:bold 16px/18px arial; float:left; sana-serif; color:#008000">Showtimes</h2>
						
                           <a href="/staff/movies/editshowtime/?id={{movies.id}}" style=" display:block;float:right; margin: 0.5em 0 0.33em;
    padding: 0.25em 0; color:#008000; text-decoration:none; font-weight:bold;">Add Showtimes</a>
						   <div class="clear"></div>
						
						<div style="width:500px">
						 <div>
                    	<table style="width:100%;" cellpadding="0"; cellspacing="0">
                        	<tbody>
                            	<tr>
                                	<th style="background-color:#e5e5e5;padding:2px 5px;font-weight:bold" width="32%">Theatre</th>
                                    <th style="background-color:#e5e5e5;padding:2px 5px;font-weight:bold">Showtimes</th>
                               {% for x in movies.get_theatres %}
							   
                            	<tr style="{% cycle '' 'background:#f8f8f8' %}">
                                	<td style="padding:5px; vertical-align:top">
                                        <strong style="display:block;"><a href="#">{{x.theatre.name}}</a></strong>
                                        <span style="display:block;">Phone: {{x.theatre.phone}}</span>
                                    </td>
                                    <td style="padding:5px; vertical-align:top">
                                    			{% autoescape off %}
												{% for show in x.get_shows %}
				                                  <span>{{show.date|date:"D, dS M"}}&nbsp;&nbsp;&nbsp;{{show.show_times}}</span><br>
												{% endfor %}
				                                {% endautoescape %}
									</td>
                                </tr> 
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
					  </div>
                    </li>
                   
                </ul>
                <div class="clear"></div>
                    
	</div> 
 </body>		
</html>		