{% load i18n %}
<div class="section">
       <a class="quick_help" href="https://docs.google.com/a/doublespring.com/document/d/1qSud3JD7RY5ybuy5vj2Es2lSQmb2Iuwcu8SpHlb5b1Y/edit#bookmark=id.imv4lv3evtzv" target="_blank"><span class="icon">?</span>Quick help</a><hr>
       <h5>{% trans 'Highlights' %}</h5>
       <h6>{% trans 'Adding a theater:' %}</h6>
       <p>{% blocktrans %}Enter the theater name along with the location and contact details of the theater listing.{% endblocktrans %}</p>
	   <h6>{% trans 'Showtimes & Theatres:' %}</h6> 
	   <p>{% blocktrans %}Enter local movie theaters and showtimes near you.If you don't find the theatre, please add the theatre details and add the showtimes.{% endblocktrans %}</p>
</div>  