{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% load upload_tags %}
{% block navigation %}
	{% activetab "selmodule" "movies" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Theatre Home ' %} {% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}ui/css/jquery.tagit.css" />
{% endblock %}
{% block content %}
                <div id="staff-platform" class="group">
                  	<div class="header-bar has-sub has-sub-menu">
					<h2 style="height:24px">
						<span class="inline-block change_module">{% trans 'Theaters' %}<span class="inline-block arrow"></span></span>
                        <div class="sub_nav">
                        	<ul>
                            	<li class="movies">
                                	<a href="/staff/movies/"><span class="icon"></span>{% trans 'Movies' %}</a>
                                </li>
                                <li class="theaters">
                                	<a href="/staff/movies/theatre-listing"><span class="icon"></span>{% trans 'Theaters' %}</a>
                                </li>
                            </ul>
                        </div>
					</h2>
                        <section class="sub-header-bar">
                            <div class="group">
                                  <div class="filter-view-tabs">
	                                        <a href="{% url 'staff_movie_listing' %}" class="text-link"><span>{% trans '&larr; Back to Movies' %}</span></a>
                                        <form action="javascript:void(0)" id="article-search-form" class="module-search tip tip1">
                                            <button role="button" class="cform-button search-button" type="button" onclick="$('#id_search').val('true'),sort_search();"><span class="search-icon">{% trans 'Search' %}</span></button>
                                            <div class="inline-block relative-block">
                                            	<!--a href="javascript:clear_search()" class="tttxt-e" title="Clear Search" id="close_search" style="{% if not search %}display:none;{% endif %}">{% trans 'X' %}</a-->

                                                <input type="text" placeholder="Search Theatres" id="id_search_keyword" name="id_search_keyword"  value="{{kw}}" class="search-list-items">
                                                <div class="call-advanced-search">
                                                 <!--   <span class="arrow-down tttxt" title="Show search options"></span>
                                                --></div> 
											</div>                                                
                                        </form>
                                  </div>
                                  <div class="add-section-right">
                                      <a href="{% url 'staff_movie_add_theatre_colorbox' %}" class="btn-txt-prime add-theare {% if not perms.movies.add_movies %}disabled{% endif %}" title="Add Theatre"><span class="btn-txt">{% trans 'Add New Theatre' %}</span></a>
                                  </div> 
                            </div>
                        </section>                          
                 		</div>
						<div id="core-wraper" class="group">
                        	<div class="staff-main">
                              	<div class="page-wrap">
									<div id="articles" class="group">
                                        <section class="toolbars">
                                            <div class="group">
                                                <ul class="toolbar left">
                                                    <li class="master-check tool">
														<span class="cform-checkbox-container"><input type="checkbox" value="true"   id="master_check" name="master-check"><span class="cform-checkbox-element"></span></span>
													</li>
                                                    {% if perms.movies.delete_movies %}
													<li class="tool action_status tip tip2">
                                                       <select id="actionSelect" data-placeholder="Action" onchange="$('#id_action').val($(this).val()),theatre_action();" style="width:140px;"  class="select-menu">
                                                          <option value="#"></option>
														  <option value="DEL">{% trans 'Delete' %}</option>
                                                       </select> 
                                                    </li>
													{% endif %}
                                                    <!--li class="tool tip tip3">
                                                    <label class="sort_orderselect">{% trans 'Sort by:' %}</label>
                                                        <select id="orderSelect" onchange="$('#id_sort').val($(this).val()),filter_content();" class="select-menu" style="width:140px;">
                                                              <option value="-added_on" selected="">{% trans 'Newest' %}</option>
                                                              <option value="added_on">{% trans 'Oldest' %}</option>
                                                        </select>                                                   
                                                   </li-->
                                                </ul>
                                                {% include 'common/pagination_top.html'%} <!-- pagination top -->                                                
                                            </div>
                                        </section>
										<span id="ajax_content_loading" class="load-list-items" style="display:none">
										 	<img src="{{STATIC_URL}}ui/images/global/loading.gif" align="...">
										</span>
										<div style="display:none;" class="info-bar" id="top_info_bar"></div>
                                        <div id="id_content_listing" class="group">
										   
										   {% include 'movies/staff/theatre-ajax-listing.html'%} 
                                       
									   </div> <!-- end table -->
                                    </div> <!-- end table -->
                              </div>  <!-- end page wrap -->
                        </div>  <!-- end main-col -->                            
                                               <div id="aside" class="side-bar">
                      
                               {% include 'movies/staff/theatre-faq.html'%}   </div>                                       
				</div>
			</div>
   {% endblock %}   
 
{% block footer_include %}
 {% upload_js %}  
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
   <script type="text/javascript" src="{{ STATIC_URL }}js/movies/staff_theatre.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ajaxfileupload.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	
		$('.tool.action_status .chzn-container').addClass('chzn-disabled , disabled_chosen');

});
function save_theatre(){
	var flag = $("#mform_add_theatre").validate().form();
	if(flag==true){
		var id=0;
		var dataString='name='+encodeURIComponent($('#id_name').val());
		dataString+='&image='+encodeURIComponent($('#id_image').val());
		dataString+='&tkt_url='+encodeURIComponent($('#id_tkt_url').val());
		dataString+='&boxoffice_no='+encodeURIComponent($('#id_boxoffice_no').val());
		dataString+='&address1='+encodeURIComponent($('#id_address1').val());
		dataString+='&address2='+encodeURIComponent($('#id_address2').val());
		dataString+='&website='+encodeURIComponent($('#id_website').val());
		dataString+='&email='+encodeURIComponent($('#id_email').val());
		dataString+='&zip='+encodeURIComponent($('#id_zip').val());
		dataString+='&telephone1='+encodeURIComponent($('#id_telephone1').val());
		try{
			dataString+='&id='+$('#id_id').val();
			id=$('#id_id').val();
		}catch(ex){}
		$('#ajax_content').hide();
		$('#ajax_content_loading').show();




		$.ajax({
		type: "POST",
		url: "{% url 'staff_movie_add_theatre_colorbox' %}",
		data: dataString,
		dataType:'JSON',
		success: function(data){
				//$('#div_'+id).remove();
				//$('#venuetype').append(data.append_html);
				//$('#edit_link'+data.id).colorbox({width: "560",initialWidth: "560", top:"0", initialHeight: "200"});
				//$('#ajax_content_loading').html(data.msg);
				$('#ajax_content_list').empty();
				if(data.status){
					show_msg(data.msg,data.mtype);
					$.colorbox.close();
				}
				$('#ajax_content_list').html(data.lightbox_html);
				$('.modal-form .select-menu').chosen({disable_search_threshold:10});
	  			$('.field-group [title]').tipsy({trigger: 'focus', gravity: 'w',ftip:true});
				setTimeout(function(){
					$('#ajax_content_loading').hide();
				    $('#ajax_content').fadeIn(2000);
					$.colorbox.resize();
				},1000);
			}
		});
	}
}
function upload_photo(id){
$.ajaxFileUpload({
			url:'{%url "staff_movie_add_theatre_image_upload" %}?id='+id,
			secureuri:false,
			fileElementId:'id_image',
			dataType: 'json',
			success: function (data, status)
			{
				if(data.status == '1')
				{	
					var img_Val = $('#bb_site_url').val()+data.img_url;
					cur_H_input.val("$.rule('"+el_bg+"','style').append('background-image:url("+img_Val+")')");
					$('.add_style').trigger('click');
				}
			},
			error: function (data, status, e)
			{
				alert("Sorry!! Cannot Process Your Request");
			}
		})


}
function update_theatre(){
	var flag = $("#mform_add_theatre").validate().form();
	if(flag==true){
		var id=0;
		var dataString='name='+encodeURIComponent($('#id_name').val());
		dataString+='&image='+encodeURIComponent($('#id_image').val());
		dataString+='&tkt_url='+encodeURIComponent($('#id_tkt_url').val());
		dataString+='&boxoffice_no='+encodeURIComponent($('#id_boxoffice_no').val());
		dataString+='&address1='+encodeURIComponent($('#id_address1').val());
		dataString+='&address2='+encodeURIComponent($('#id_address2').val());
		dataString+='&website='+encodeURIComponent($('#id_website').val());
		dataString+='&email='+encodeURIComponent($('#id_email').val());
		dataString+='&zip='+encodeURIComponent($('#id_zip').val());
		dataString+='&telephone1='+encodeURIComponent($('#id_telephone1').val());
		try{
			dataString+='&id='+$('#id_id').val();
			id=$('#id_id').val();
		}catch(ex){}
		$('#ajax_content').hide();
		$('#ajax_content_loading').show();
		$.ajax({
		type: "POST",
		url: "{% url 'staff_movie_edit_theatre' %}",
		data: dataString,
		dataType:'JSON',
		success: function(data){
				//$('#div_'+id).remove();
				//$('#venuetype').append(data.append_html);
				//$('#edit_link'+data.id).colorbox({width: "560",initialWidth: "560", top:"0", initialHeight: "200"});
				//$('#ajax_content_loading').html(data.msg);
				$('#ajax_content').empty();
				if(data.status){
					show_msg(data.msg,data.mtype);
					$.colorbox.close();
				}
				$('#ajax_content').html(data.lightbox_html);
				$('.modal-form .select-menu').chosen({disable_search_threshold:10});
	  			$('.field-group [title]').tipsy({trigger: 'focus', gravity: 'w',ftip:true});
				setTimeout(function(){
					$('#ajax_content_loading').hide();
				    $('#ajax_content').fadeIn(2000);
					$.colorbox.resize();
				},1000);
			}
		});
	}
}


$(document).ready(function(){

	$('.header-bar.has-sub-menu h2 .change_module ').click(
		function() { 
		$('.header-bar.has-sub-menu h2 .sub_nav').toggle();
		 }
	);  
		$('div#content').click(
			function() { 
			$('.header-bar.has-sub-menu h2 .sub_nav').hide();
			 }
		);
		$('.header-bar.has-sub-menu h2 .change_module').click(function(event){
		   event.stopPropagation();
		});


	$('#master_check').click(function(){
		if($("#master_check").is(':checked')){$(".cbox").attr('checked',true);}
		else{$(".cbox").attr('checked',false);}
	});
});
</script>
<script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false{% if globalsettings.google_map_key %}&key={{ globalsettings.google_map_key }}{% endif %}" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/general/google_map.js"></script>
<ul class="tour_link">
    <li class="tool-tip tttxt-t1"><a class="link1" href="/bmt/tour/theaters/staff/search.html"></a></li>
    <li class="tool-tip tttxt-t2"><a class="link2" href="/bmt/tour/theaters/staff/actions.html"></a></li>
    <li class="tool-tip tttxt-t3"><a class="link3" href="/bmt/tour/theaters/staff/sorting.html"></a></li>
    <li class="tool-tip tttxt-t4"><a class="link4" href="/bmt/tour/theaters/staff/settings.html"></a></li>
</ul>
   {% endblock %}