{% load i18n %}

{% if is_paginated %}
    <div class="pGn pGn-bX pGn-cTr">
        <ul>
            {% if has_previous %}
                    <li><a href="javascript:void(0);" onclick="$('#id_hid_pgntn').val('{{ prev }}'),filter_contents();" class="bm_pgntn_anchr" id="{{ prev }}"><i class="bUi-iCn-aNg-lT-12"></i></a></li>
            {% endif %}
            {% if not in_leading_range %}
                {% for num in pages_outside_trailing_range %}
                    {% ifequal num current_page %}
                         <li class="aCtV"><span title="{% trans 'Page' %} {{ num }} ">{{ num }}</span></li>
                    {% else %}
                         <li><a title="{% trans 'Page' %} {{ num }} " href="javascript:void(0);" onclick="$('#id_hid_pgntn').val('{{ num }}'),filter_contents();" class="bm_pgntn_anchr">{{ num }} </a></li>
                    {% endifequal %}
                {% endfor %}
                <li><span>...</span></li>
            {% endif %} 
            {% for num in page_numbers %}
                {% ifequal num current_page %}
                     <li class="aCtV"><span title="{% trans 'Page' %} {{ num }} ">{{ num }}</span></li>
                {% else %}
                    <li><a title="{% trans 'Page' %} {{ num }} " href="javascript:void(0);" onclick="$('#id_hid_pgntn').val('{{ num }}'),filter_contents();" class="bm_pgntn_anchr">{{ num }}</a></li>
                {% endifequal %}
            {% endfor %}
            {% if not in_trailing_range %}
                <li><span>...</span></li>
                {% for num in pages_outside_leading_range reversed %}
                    {% ifequal num current_page %}
                         <li class="aCtV"><span title="{% trans 'Page' %} {{ num }} ">{{ num }}</span></li>
                    {% else %}
                        <li><a title="{% trans 'Page' %} {{ num }} " href="javascript:void(0);" onclick="$('#id_hid_pgntn').val('{{ num }}'),filter_contents();" class="bm_pgntn_anchr">{{ num }}</a></li>
                    {% endifequal %}
                {% endfor %}
            {% endif %}
            {% if has_next %}
                <li><a  href="javascript:void(0);" onclick="$('#id_hid_pgntn').val('{{ next }}'),filter_contents();" id="{{next}}" class="bm_pgntn_anchr"><i class="bUi-iCn-aNg-rT-12"></i></a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}