{% extends base %}
{% load i18n %}
{% block pagetitle %}Coming Soon | {{globalsettings.city}}{% endblock %}
{% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{ seo.seo_description }}" />
	<meta name="google-site-verification" content="My-1E9HMF9DX9RCxTdwF-wPoPlTWJmeC78wsF1eyqZo" />
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
			<div class="fit_width">
        	<div style="height:280px; padding-top:100px; text-align:center">
            	<img src="{{STATIC_URL}}themes/green/images/global/cmng_soon1.png" alt="">
            </div>
			</div>
{% endblock %}
