{% extends base %}
{% load i18n %}
{% load tabs %}
{% block pagetitle %}{{globalsettings.city}} {% trans ' Meetups' %} | {{globalsettings.domain}}{% endblock %}
{% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{globalsettings.city}} {% trans 'Meetups' %}" />
	<meta name="keywords" content="{{globalsettings.city}} {% trans 'Meetups' %}" />
{% endblock %}
{% block head %}

	<style>
	div.coming-soon {
    -moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    color: rgba(254, 139, 62, 0.7);
	*color:#e2915b;
    font-size: 90px;
    font-weight: bold;
    left: 185px;
    position: absolute;
    top: 198px;
    z-index: 9999;
	}
	    	.place_list {
	    padding: 0;
	}
	.place_list .item {
	    background-color: #FCFCFC;
	    border-bottom: 1px solid #E6E6E6;
	    padding: 10px;
	    position: relative;
	}
	.place_list .item:hover {
	    background-color: #FFFFCC;
	}
	.place_list .alt {
	    background-color: #FFFFFF;
	}
	.place_list .item .pic {
		float: left;
		width:50px; 
		padding:4px; 
		border:1px solid #e6e6e6; 
		border-radius:5px; 
		background-color:#FFF;
		margin-right:10px;
	}
	.place_list .item .pic a{display:block;}
	.list_info {
	    border-bottom: 2px solid #EEEEEE;
	    margin: 0;
	    padding: 20px 10px 8px;
	}
	.list_info .dttoday {
	    color: #999999;
	    font-size: 12px;
	    font-weight: bold;
	    text-align: right;
	}
	.list_actions {
	    border-bottom: 2px solid #EEEEEE;
	    font-size: 11px;
	    margin: 0;
	    padding: 20px 10px 8px;
	}
	.list_actions label {
	    color: #3D3D3D;
	    font-weight: bold;
	}
	.list_actions select {
	    color: #666666;
	    font-size: 11px;
	    margin-left: 4px;
	    width: 96px;
	}
	.list_actions .sort {
	    width: 272px;
	}
	.list_actions .filter {
	    text-align: right;
	}
	.event_group {
	    border-left: 1px solid #e2e2e2;
	    float: right;
	    font-size: 10px;
	    line-height: 14px;
	    padding-left: 10px;
	    width: 180px;
	}
	.event_group .meta{color:#666; margin-bottom:2px;}
	.event_group .group_name{font-size:12px; color:#C00}
	.event_detail{margin-right: 190px; line-height: 1.25em; margin-left:70px;}
	.event_detail .title{font-size:14px; font-weight:bold; line-height:16px; margin:3px 0 0px;}
	.event_detail .title a{color:#000}
	.event_detail .venue{font-size:11px;color:#06C; margin-top:3px;}
	.event_detail .D_glue{color: #666666;font-size:11px;}
	.event_detail .rsvp{font-size: 10px;color:#090; margin-top:2px;}
	.event_detail .desc{font-size:11px; line-height:14px; color:#333; padding:3px 20px 0px 0;}
	#more_meetups{padding: 10px 10px 10px;}
	#more_meetups a {display: block;text-align: center;width:300px; margin:0 auto}
	.meetup_topics {padding:10px 0px 20px; background-color:#F6F6F6; border-radius:6px;border:2px solid #e6e6e6}
	.meetup_topics li{border-bottom:1px solid #EEE;}
	.meetup_topics li a{display:block;font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#333; text-decoration:none ;padding:2px 10px;}
	.meetup_topics li.active, .meetup_topics li:hover {color:#FFF;}
	.meetup_topics li.active a, .meetup_topics li:hover a{color:#C00; text-decoration:underline; background:url(images/ico/arrow_back.png) no-repeat 10px 50% #FEFBF3; padding-left:24px;}
    </style>

{% endblock %}
{% block navigation %}
	{% activetab "topnav" "meetups" %}
	{{ block.super }}
{% endblock %}
{% block content %}
    		
			<div class="fit_width" style="position:relative;">
            	<div style="*background:#FFFFFF; background:rgba(250,250,250,0.64); filter: alpha(opacity = 64); position:absolute; width:100%; height:100%; z-index:9999;"></div>
                <div class="coming-soon">Coming Soon !</div>
        		<div class="group">
				<div class="col_13" id="meetup_main">
                	<div class="thick_box">
                    	<div class="thick_box_core group">
                        	<div class="place_list" id="ad_list">
								<div class="list_actions group">
                                	<h3 style="font-size:26px; letter-spacing:-1px; line-height:1;font-weight:;color:#000; font-family:Arial, Helvetica, sans-serif; ">Calgary <span style="font-weight:normal;font-size:24px; font-family:georgia; font-style:; color:#C00;">Meetups</span></h3>
                            	</div>
                                <div class="item group">
                                    <div class="pic">
                                        <a href="http://www.meetup.com/Brooklyn-Boot-Camp/events/28964561/?value=Show+Up%21">
                                            <img style="width: 50px;" alt="" src="http://photos1.meetupstatic.com/photos/event/6/9/5/c/global_87686972.jpeg">
                                        </a>
                                    </div>
                                    <div class="event_group">
                                        <div class="meta">a Meetup of:</div>
                                        <a class="group_name" href="http://www.meetup.com/Brooklyn-Boot-Camp/">Round Table Discussion Brunch: LinkedIn-Best Practices </a>
                                        <div class="meta"><a href="http://www.meetup.com/cities/us/ny/brooklyn/?events=true">Monroe Grill and Lounge</a></div>
                                    </div>
                                    <div class="event_detail">
                                        <div class="title"><a itemprop="url" class="omnCamp omngj_sj29" href="http://www.meetup.com/Brooklyn-Boot-Camp/events/28964561/"><span itemprop="summary">The Calgary Business Professionals Group</span></a></div>
                                        <div class="desc">The Calgary Business Professionals Group is all about forging strong business relationships and creating vibrant connections in our Calgary business community.  Our goal is to provide a platform that …</div>
                                        <div class="rsvp"><span class="rsvp-count-number rsvp-count-going">1</span> attending</div>
                                        <time datetime="2011-08-12T06:00:00-04:00" itemprop="startDate"></time>
                                    </div>
                                </div>

                                <div class="item group alt">
                                    <div class="pic">
                                        <a href="http://www.meetup.com/jcrunners/events/28954741/?value=Jersey+City+--+Running+Meetup+6%3A30+AM">
                                            <img style="width: 50px;" alt="" src="http://photos1.meetupstatic.com/photos/event/6/f/e/e/global_16468654.jpeg">
                                        </a>
                                    </div>
                                    <div class="event_group">
                                        <div class="meta">a Meetup of:</div>
                                        <a class="group_name" href="http://www.meetup.com/jcrunners/">The Calgary Energy Services Meetup #yycNRG </a>
                                        <div class="meta"><a href="http://www.meetup.com/cities/us/nj/jersey_city/?events=true">Brewsters Brewing Co. and Restaurant - 11 Ave </a></div>
                                    </div>
                                    <div class="event_detail">
                                        <div class="title"><a itemprop="url" class="omnCamp omngj_sj29" href="http://www.meetup.com/jcrunners/events/28954741/"><span itemprop="summary">The Calgary Energy Services Meetup Group</span></a></div>
                                        
										<div itemtype="http://data-vocabulary.org/Organization" itemscope="" itemprop="locality" class="venue">
                                        	<span class="D_glue">at</span> 
                                            <span itemprop="name">Brewsters Brewing Co. and Restaurant - 11 Ave</span> 
                                            <span class="D_glue">in</span> 
                                            <span itemtype="http://data-vocabulary.org/Address" itemscope="" itemprop="address">
                                            	<span itemprop="locality">Calgary</span>, 
                                            	<span itemprop="region"> AB</span>
											</span>
										</div>
                                   		<div class="desc">The Calgary Energy Services Meetup Group was created to allow professionals in Calgary in the Energy Services sector and those that service the industry to network with one another.</div>     
                                        <div class="rsvp"><span class="rsvp-count-number rsvp-count-going">3</span> attending</div>
                                        <time datetime="2011-08-12T06:00:00-04:00" itemprop="startDate"></time>
                                    </div>
                                </div>
                                
                                <div class="item group">
                                    <div class="pic">
                                        <a href="http://www.meetup.com/jcrunners/events/28954741/?value=Jersey+City+--+Running+Meetup+6%3A30+AM">
                                            <img style="width: 50px;" alt="" src="http://photos2.meetupstatic.com/photos/event/9/5/2/global_20942386.jpeg">
                                        </a>
                                    </div>
                                    <div class="event_group">
                                        <div class="meta">a Meetup of:</div>
                                        <a class="group_name" href="http://www.meetup.com/jcrunners/">Hermes the Thrice Great and His Many Incarnations </a>
                                        <div class="meta"><a href="http://www.meetup.com/cities/us/nj/jersey_city/?events=true">Church of the Good Shepherd </a></div>
                                    </div>
                                    <div class="event_detail">
                                        <div class="title"><a itemprop="url" class="omnCamp omngj_sj29" href="http://www.meetup.com/jcrunners/events/28954741/"><span itemprop="summary">Calgary Rosicrucians</span></a></div>
                                        
										<div itemtype="http://data-vocabulary.org/Organization" itemscope="" itemprop="locality" class="venue">
                                        	<span class="D_glue">at</span> 
                                            <span itemprop="name">Church of the Good Shepherd </span> 
                                            <span class="D_glue">in</span> 
                                            <span itemtype="http://data-vocabulary.org/Address" itemscope="" itemprop="address">
                                            	<span itemprop="locality">Calgary</span>, 
                                            	<span itemprop="region"> AB</span>
											</span>
										</div>
                                   		<div class="desc">… We are an active and dedicated group of Rosicrucians in Calgary which offer public open meetings on most 2nd Wednesdays of the month.</div>     
                                        <div class="rsvp"><span class="rsvp-count-number rsvp-count-going">3</span> attending</div>
                                        <time datetime="2011-08-12T06:00:00-04:00" itemprop="startDate"></time>
                                    </div>
                                </div>
                                
                                
                                <div class="item group alt">
                                    <div class="pic">
                                        <a href="http://www.meetup.com/jcrunners/events/28954741/?value=Jersey+City+--+Running+Meetup+6%3A30+AM">
                                            <img style="width: 50px;" alt="" src="http://photos2.meetupstatic.com/photos/event/5/d/b/c/global_18383996.jpeg">
                                        </a>
                                    </div>
                                    <div class="event_group">
                                        <div class="meta">a Meetup of:</div>
                                        <a class="group_name" href="http://www.meetup.com/jcrunners/">Networking Event at The Business Link </a>
                                        <div class="meta"><a href="http://www.meetup.com/cities/us/nj/jersey_city/?events=true">The Business Link (Main Floor of the Global Business Centre)  </a></div>
                                    </div>
                                    <div class="event_detail">
                                        <div class="title"><a itemprop="url" class="omnCamp omngj_sj29" href="http://www.meetup.com/jcrunners/events/28954741/"><span itemprop="summary">The Business Link: Calgary</span></a></div>
                                        
										<div itemtype="http://data-vocabulary.org/Organization" itemscope="" itemprop="locality" class="venue">
                                        	<span class="D_glue">at</span> 
                                            <span itemprop="name">The Business Link (Main Floor of the Global Business Centre)</span> 
                                            <span class="D_glue">in</span> 
                                            <span itemtype="http://data-vocabulary.org/Address" itemscope="" itemprop="address">
                                            	<span itemprop="locality">Calgary</span>, 
                                            	<span itemprop="region"> AB</span>
											</span>
										</div>
                                   		<div class="desc">… Our MeetUps/Networking Events are usually held every 3rd Tuesday of each month at our centres in Edmonton and Calgary. The purpose of these events is to provide a quality environment for entrepreneurs to share their knowledge</div>     
                                        <div class="rsvp"><span class="rsvp-count-number rsvp-count-going">3</span> attending</div>
                                        <time datetime="2011-08-12T06:00:00-04:00" itemprop="startDate"></time>
                                    </div>
                                </div>
                                
                                
                                <div class="item group">
                                    <div class="pic">
                                        <a href="http://www.meetup.com/jcrunners/events/28954741/?value=Jersey+City+--+Running+Meetup+6%3A30+AM">
                                            <img style="width: 50px;" alt="" src="http://photos1.meetupstatic.com/photos/event/1/5/3/8/global_95945432.jpeg">
                                        </a>
                                    </div>
                                    <div class="event_group">
                                        <div class="meta">a Meetup of:</div>
                                        <a class="group_name" href="http://www.meetup.com/jcrunners/">BBQ at my house  </a>
                                        <div class="meta"><a href="http://www.meetup.com/cities/us/nj/jersey_city/?events=true"></a></div>
                                    </div>
                                    <div class="event_detail">
                                        <div class="title"><a itemprop="url" class="omnCamp omngj_sj29" href="http://www.meetup.com/jcrunners/events/28954741/"><span itemprop="summary">Paleo Calgary</span></a></div>
                                        
										<div itemtype="http://data-vocabulary.org/Organization" itemscope="" itemprop="locality" class="venue"> 
                                            <span class="D_glue">in</span> 
                                            <span itemtype="http://data-vocabulary.org/Address" itemscope="" itemprop="address">
                                            	<span itemprop="locality">Calgary</span>, 
                                            	<span itemprop="region"> AB</span>
											</span>
										</div>
                                   		<div class="desc">A forum for fellow paleo/cavemen eaters/lifestylers in the Calgary area. A big component of Paleo or the Primal is local and area dependant.</div>     
                                        <div class="rsvp"><span class="rsvp-count-number rsvp-count-going">6</span> attending</div>
                                        <time datetime="2011-08-12T06:00:00-04:00" itemprop="startDate"></time>
                                    </div>
                                </div>
                                
                                
                                <div class="item group alt">
                                    <div class="pic">
                                        <a href="http://www.meetup.com/jcrunners/events/28954741/?value=Jersey+City+--+Running+Meetup+6%3A30+AM">
                                            <img style="width: 50px;" alt="" src="http://photos4.meetupstatic.com/photos/event/5/c/e/f/global_39623791.jpeg">
                                        </a>
                                    </div>
                                    <div class="event_group">
                                        <div class="meta">a Meetup of:</div>
                                        <a class="group_name" href="http://www.meetup.com/jcrunners/">Tom Snow Trail (West)  </a>
                                        <div class="meta"><a href="http://www.meetup.com/cities/us/nj/jersey_city/?events=true">Sibbald Trail Parking</a></div>
                                    </div>
                                    <div class="event_detail">
                                        <div class="title"><a itemprop="url" class="omnCamp omngj_sj29" href="http://www.meetup.com/jcrunners/events/28954741/"><span itemprop="summary">Calgary Geocaching</span></a></div>
                                        
										<div itemtype="http://data-vocabulary.org/Organization" itemscope="" itemprop="locality" class="venue">
                                        	<span class="D_glue">at</span> 
                                            <span itemprop="name">Sibbald Trail Parking</span> 
                                            <span class="D_glue">in</span> 
                                            <span itemtype="http://data-vocabulary.org/Address" itemscope="" itemprop="address">
                                            	<span itemprop="locality">Calgary</span>, 
                                            	<span itemprop="region"> AB</span>
											</span>
										</div>
                                   		<div class="desc">This group is for arranging group geocaching expeditions, big and small, based out of Calgary, AB. Not everyone has a geocaching buddy,</div>     
                                        <div class="rsvp"><span class="rsvp-count-number rsvp-count-going">3</span> attending</div>
                                        <time datetime="2011-08-12T06:00:00-04:00" itemprop="startDate"></time>
                                    </div>
                                </div>
                                
                                <div class="item group">
                                    <div class="pic">
                                        <a href="http://www.meetup.com/jcrunners/events/28954741/?value=Jersey+City+--+Running+Meetup+6%3A30+AM">
                                            <img style="width: 50px;" alt="" src="http://photos3.meetupstatic.com/photos/event/7/2/1/global_17941825.jpeg">
                                        </a>
                                    </div>
                                    <div class="event_group">
                                        <div class="meta">a Meetup of:</div>
                                        <a class="group_name" href="http://www.meetup.com/jcrunners/">Friday night beers   </a>
                                        <div class="meta"><a href="http://www.meetup.com/cities/us/nj/jersey_city/?events=true">Buzzards</a></div>
                                    </div>
                                    <div class="event_detail">
                                        <div class="title"><a itemprop="url" class="omnCamp omngj_sj29" href="http://www.meetup.com/jcrunners/events/28954741/"><span itemprop="summary">Calgary Australian Social Club</span></a></div>
                                        
										<div itemtype="http://data-vocabulary.org/Organization" itemscope="" itemprop="locality" class="venue">
                                        	<span class="D_glue">at</span> 
                                            <span itemprop="name">Buzzards</span> 
                                            <span class="D_glue">in</span> 
                                            <span itemtype="http://data-vocabulary.org/Address" itemscope="" itemprop="address">
                                            	<span itemprop="locality">Calgary</span>, 
                                            	<span itemprop="region"> AB</span>
											</span>
										</div>
                                   		<div class="desc">A group for social gatherings of fellow Aussie expats in Calgary. We are not trying to flog any products or services, this is just a group for fun! </div>     
                                        <div class="rsvp"><span class="rsvp-count-number rsvp-count-going">3</span> attending</div>
                                        <time datetime="2011-08-12T06:00:00-04:00" itemprop="startDate"></time>
                                    </div>
                                </div>
                                
                                 <div id="more_meetups"><a id="more_twitts" class="button super white click_pvnt" href="/buzz/ajax/home/?page=2"><span class="more_twitts" style="color:#333;" id="more_loader_span">More Meetups</span></a></div>                               
							</div>                            
                        </div>
					</div>
				</div>                                            
                <div class="col_3 mr_0" id="secondary">
                	<div class="meetup_topics">
                        <h2 class="section_title pl_10">Topics</h2>
                        <ul>
                           <li><a href="#">Arts &amp; Entertainment</a></li>
                           <li class="active"><a href="#">Business &amp; Career</a></li>
                           <li><a href="#">Communities &amp; Lifestyles</a></li>
                           <li><a href="#">Cultures &amp; Languages</a></li>
                           <li><a href="#">Health &amp; Support</a></li>
                           <li><a href="#">Hobbies</a></li>
                           <li><a href="#">Internet &amp; Technology</a></li>
                           <li><a href="#">Parenting &amp; Family</a></li>
                           <li><a href="#">Pets &amp; Animals</a></li>
                           <li><a href="#">Politics &amp; Activism</a></li>
                           <li><a href="#">Religion &amp; Beliefs</a></li>
                           <li><a href="#">Science</a></li>
                           <li><a href="#">Social</a></li>
                           <li><a href="#">Sports &amp; Recreation</a></li>
                           <li><a href="#">Education</a></li>
                        </ul>
					</div>  
                    <div class="advt ad_300x250" style="margin-top:20px;">
                		<span class="declare">Advertisement</span>
                		<div class="no_display_ad">
                        	<div style="height:400px; overflow:hidden;">
								<img src="http://pagead2.googlesyndication.com/simgad/1546855588178857418">
                            </div>
						</div>
                	</div>                      
            	</div>
			</div>
			</div>
			<div class="clear"></div>
{% endblock %}	