{% extends base %}
{% load i18n %}
{% load tabs %}
{% block pagetitle %}{{ page.seo_title }}{% endblock %}
{% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{ page.seo_description }}" />
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="/static/themes/css/about-us.css">
{% endblock %}
{% block navigation %}
	{% activetab "topnav" "home" %}
	{{ block.super }}
{% endblock %}
{% block content %}
<style>
.img-details, .uploadBtnCont, .pSt-sBtTl.placeholder {
	display: none;
}
</style>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="main span12 static rLvE">
		{% if request.user.is_superuser %}
			<div id="save-page-btn" class="btnGroup">
				<a href="{% if page.is_static %}/admin{% else %}{% url 'admin_custom_page' %}{% endif %}" class="btn btn-default">Manage Custom Page</a>
				<a href="{% url 'edit_resources' page.id %}" class="btn btn-success">Edit</a>
			</div>
		{% endif %}
			<article class="sCn  aRtCL-pSt pSt-vW-mDe">
				{% autoescape off %}{{page.content}}{% endautoescape %}
			</article>
		</div>
	</div>
</div>
{% endblock %}
