{% extends "user_base.html" %}
{% load tabs %}
{% load i18n %}
{% load upload_tags %}
{% load ds_utils %}
{% load thumbnail %}
{% block navigation %}
	{% activetab "leftnav" "dashboard" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Dashboard' %} {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="span10 sP9mX979 sP12mX767">
    <div class="row-fluid">
		<div class="main span9">
			<section class="sCn pD0">
				<div class="cLrFx pD20">
					<div class="pLlT">
						<div class="pLlT W40 mRr10">
							<span class="bUi-tMb-wPr tMb-100 fLxiMgH bS-bRdR">
				                <span class="bUi-tMb">
				                    <span class="bUi-tMb-pRpL">
				                        <span class="bUi-tMb-cLp">
				                            <span class="bUi-tMb-cLp-iN">
				                                <img class="mDa-oT" src="{% if user.image %}{% thumbnail user.image 40x40 %}{% else %}{{ STATIC_URL }}themes/img/cmnts-default-avatar.jpg{% endif %}" alt="{{ user.display_name }}">
				                                <span class="vRtL-aLn"></span>
				                            </span>
				                        </span>
				                    </span>
				                </span>
				            </span>
						</div>
			            <h2 class="ib fS22 mRb0 mRt8">{{ user.display_name }}</h2>
					</div>
                	<div class="pLrT w100pSmP mRt10SmP mRl10">
						<div class="btn-group">
							<a class="btn fS12 btn-danger fW-bLd dropdown-toggle" data-toggle="dropdown" href="#"><i aria-hidden="true" class="bUi-iCn-pLs-12"></i><span class="caret oP75 hide"></span>
						</a>
							<ul class="dropdown-menu pLrT fS12">
								<li><a href="{% url 'article_add_article' %}" class="fW-bLd"><i aria-hidden="true" class="bUi-iCn-aRtL-24 fS16 cLr-lTgRy mRr10"></i>Articles</a></li>
								<li><a href="{% url 'events_addevent' %}" class="fW-bLd"><i aria-hidden="true" class="bUi-iCn-eVnT-24 fS16 cLr-lTgRy mRr10"></i>Events</a></li>
								<li><a href="{% url 'user_add_gallery' %}" class="fW-bLd"><i aria-hidden="true" class="bUi-iCn-pHoT-24 fS16 cLr-lTgRy mRr10"></i>Photos</a></li>
								<li><a href="{% url 'user_video_add' %}" class="fW-bLd"><i aria-hidden="true" class="bUi-iCn-vDeO-aLt-24 fS16 cLr-lTgRy mRr10"></i>Videos</a></li>
								<li><a href="{% url 'user_add_business' %}" class="fW-bLd"><i aria-hidden="true" class="bUi-iCn-bSn--24 fS16 cLr-lTgRy mRr10"></i>Businesses</a></li>
								<li><a href="{% url 'user_add_classified' %}" class="fW-bLd"><i aria-hidden="true" class="bUi-iCn-cLfD-24 fS16 cLr-lTgRy mRr10"></i>Classifieds</a></li>
							</ul>
						</div>


                    </div>
				</div>
				<hr class="mR0">
				<div class="pD20">
                	<div class="row-fluid">
                        <section>
                            <div class="sCn-tTl">
                                <h3 class="fS12 fW-nRmL uC">
                                    <span>Module Overview</span>
                                </h3>
                            </div>
                            <div class="dRg-iNfO cLrFx">
                            	<div class="dRg-iNfi">
                                	<div class="iNf pUb"></div>Published
                                </div>
                                <div class="dRg-iNfi">
                                	<div class="iNf rEj"></div>Rejected
                                </div>
                                <div class="dRg-iNfi">
                                	<div class="iNf pEn"></div>Pending
                                </div>
                                <div class="dRg-iNfi">
                                	<div class="iNf dRf"></div>Draft
                                </div>
                                <div class="dRg-iNfi">
                                	<div class="iNf bLoK"></div>Blocked
                                </div>
                                <div class="dRg-iNfi">
                                	<div class="iNf eXp"></div>Expired
                                </div>	
                            </div>
                            <ul class="mDa-gD tWcL pDfX">
								{% for key,value in list_dict.items %}
								
                                <li class="mDa {% if forloop.counter|divisibleby:2 %}pDl30 pDl12mP{% else %}pDr30 pDr0mP {% endif %}">
                                    <div class="mDl cLrFx">
                                        <div class="mDl-hD mRb20 bDrBE">
                                            <h3 class="mR0 cLrFx cLr-gRy fS13 mRb-8">
                                                <div class="pLlT pDr5  bFf">
													<i class="fS16 mRr5 {% if key|lower == 'articles' %} bUi-iCn-aRtL-24 {% elif key|lower == 'events' %} bUi-iCn-eVnT-24 {% elif key|lower == 'galleries' %} bUi-iCn-pHoT-24 {% elif key|lower == 'videos' %} bUi-iCn-vDeO-aLt-24 {% elif key|lower == 'business' %} bUi-iCn-bSn--24 {% elif key|lower == 'classifieds' %} bUi-iCn-cLfD-24 {% endif %}" aria-hidden="true"></i>
													<span>{{ key }}</span>
                                                </div>
                                            </h3>
                                        </div>
										{% for keys,values in total_modules.items %}
										{% if keys == key %}
                                        <div class="mDl-iNf pLlT W80">
										 	<span class="bLk fS42-1 fW-bLd">{{ values }}</span>
                                            <span class="cLr-gRy fS11">{% trans "Total Posts" %}</span>
                                        </div>
										{% for k,v in value.items %}
                                        <div class="mDl-GrP pLrT iM dRgC nBrD">
											{% if k == "Published" %}
                                            <div class="dRgO">
                                                <div style="height:0%;" class="dRgI pUb"></div>
												<input class="pEr" type="hidden" value="{% get_module_percentage v values %}">
                                                <span class="nBr">{{ v }}</span>
                                            </div>
											{% endif %}
											{% if k == "Rejected" %}
                                            <div class="dRgO">
                                                <div style="height:0%;" class="dRgI rEj"></div>
												<input class="pEr" type="hidden" value="{% get_module_percentage v values %}">
                                                <span class="nBr">{{ v }}</span>
                                            </div>
											{% endif %}
											{% if k == "Pending" %}
                                            <div class="dRgO">
                                                <div style="height:0%;" class="dRgI pEn"></div>
												<input class="pEr" type="hidden" value="{% get_module_percentage v values %}">
                                                <span class="nBr">{{ v }}</span>
                                            </div>
											{% endif %}
											{% if k == "Draft" %}
                                            <div class="dRgO">
                                                <div style="height:0%;" class="dRgI dRf"></div>
												<input class="pEr" type="hidden" value="{% get_module_percentage v values %}">
                                                <span class="nBr">{{ v }}</span>
                                            </div>
											{% endif %}
											{% if k == "Blocked" %}
                                            <div class="dRgO">
                                                <div style="height:0%;" class="dRgI bLoK"></div>
												<input class="pEr" type="hidden" value="{% get_module_percentage v values %}">
                                                <span class="nBr">{{ v }}</span>
                                            </div>
											{% endif %}
											{% if k == "Expired" %}
                                            <div class="dRgO">
                                                <div style="height:0%;" class="dRgI eXp"></div>
												<input class="pEr" type="hidden" value="{% get_module_percentage v values %}">
                                                <span class="nBr">{{ v }}</span>
                                            </div>
											{% endif %}
                                        </div>
										{% endfor %}
										{% endif %}
										{% endfor %}
                                    </div>
                                </li>
								{% endfor %}
                            </ul>
                        </section>
                        <section class="mDa-lT-mNi cMpCt mRb30 hide">
                            <div class="sCn-tTl">
                                <h3 class="fS12 fW-nRmL uC">
                                    <span>Module Overview</span>
                                </h3>
                            </div>
                            <ul class="mDa-lT fS13 fW-bLd">
                                <li class="mDa">
                                    <div class="mDa-iN">
                                        <span class="pLlT"> Articles</span>
                                        <span class="pLrT cLr-gRy fW-bLd"> 20</span>
                                    </div>
                                </li>
                                <li class="mDa">
                                    <div class="mDa-iN">
                                        <span class="pLlT"> Events </span>
                                        <span class="pLrT cLr-gRy fW-bLd"> 35</span>
                                    </div>
                                </li>
                                <li class="mDa">
                                    <div class="mDa-iN">
                                        <span class="pLlT">Photos </span>
                                        <span class="pLrT cLr-gRy fW-bLd">57</span>
                                    </div>
                                </li>
                                <li class="mDa">
                                    <div class="mDa-iN">
                                        <span class="pLlT">Videos </span>
                                        <span class="pLrT cLr-gRy fW-bLd">124</span>
                                    </div>
                                </li>
                                <li class="mDa">
                                    <div class="mDa-iN">
                                        <span class="pLlT">Businesses </span>
                                        <span class="pLrT cLr-gRy fW-bLd">55</span>
                                    </div>
                                </li>
                                <li class="mDa">
                                    <div class="mDa-iN">
                                        <span class="pLlT">Classifieds</span>
                                        <span class="pLrT cLr-gRy fW-bLd">542</span>
                                    </div>
                                </li>
                            </ul>
                        </section>
                    </div>
					{% comment %}	
					<hr class="oTsT-hRz20">										
					<section class="mDa-lT-mNi cMpCt mRb30">
				        <div class="sCn-tTl">
				            <h3 class="fS12 fW-nRmL uC"><span>Recent Activity</span></h3>
				        </div>
				        <ul class="mDa-lT">
							{% for activity in recent_activity %}
				            <li class="mDa">
				                <div class="mDa-iN">
				                    <div class="pLlT mRr10 tXt-cTr">
				                        <i aria-hidden="true" class="bUi-iCn-bBl-12 fS16 cLr-gRy"></i>
				                    </div>
				                    <div class="mDa-bDy">
				                        <h6 class="mDa-hD" title="{{ activity.object_title }}">{{ activity.notification_type }} {% get_notify_module activity.content_type.name %} <a href="javascript:void(0)" class="cLr-lTbLu"> {{ activity.object_title }} </a>.</h6>
				                        <span class="fS11 fW-nRmL cLr-lTgRy" title="189 Answers">{{ activity.timestamp|get_readable_time_format }} ago</span>
				                    </div>
				                </div>
				            </li>
							{% endfor %}
				            <li class="mDa">
				                <div class="mDa-iN">
				                    <div class="pLlT mRr10 tXt-cTr">
				                        <i aria-hidden="true" class="bUi-iCn-bSn--24 fS16 cLr-oRg"></i>
				                    </div>
				                    <div class="mDa-bDy">
				                        <h6 class="mDa-hD" title="#">Added featured business <a href="#" class="cLr-lTbLu"></a> xdfzfs</h6>
				                        <span class="fS11 fW-nRmL cLr-lTgRy" title="189 Answers">1 week ago</span>
				                    </div>
				                </div>
				            </li>
				            <li class="mDa">
				                <div class="mDa-iN">
				                    <div class="pLlT mRr10 tXt-cTr">
				                        <i aria-hidden="true" class="bUi-iCn-pHoT-24 fS16 cLr-dRf"></i>
				                    </div>
				                    <div class="mDa-bDy">
				                        <h6 class="mDa-hD" title="#">Uploaded photos on <a href="#" class="cLr-lTbLu">Tracking down the city's most interesting menswear designers</a>.</h6>
				                        <span class="fS11 fW-nRmL cLr-lTgRy" title="189 Answers">2 weeks ago</span>
				                    </div>
				                </div>
				            </li>
				            <li class="mDa">
				                <div class="mDa-iN">
				                    <div class="pLlT mRr10 tXt-cTr">
				                        <i aria-hidden="true" class="bUi-iCn-cMnT-aLt-24 fS16 cLr-gRn"></i>
				                    </div>
				                    <div class="mDa-bDy">
				                        <h6 class="mDa-hD" title="#">Posted <a href="#" class="cLr-lTbLu">Giambattista Valli Couture, Just Right for Fashion Plates</a>.</h6>
				                        <span class="fS11 fW-nRmL cLr-lTgRy" title="189 Answers">1 month ago</span>
				                    </div>
				                </div>
				            </li>
				            <li class="mDa">
				                <div class="mDa-iN">
				                    <div class="pLlT mRr10 tXt-cTr">
				                        <i aria-hidden="true" class="bUi-iCn-dEaL-24 fS16 cLr-rEd"></i>
				                    </div>
				                    <div class="mDa-bDy">
				                        <h6 class="mDa-hD" title="#">Purchased deal <a href="#" class="cLr-lTbLu">Up to 54% Off International Food at BBQ Tonight</a>.</h6>
				                        <span class="fS11 fW-nRmL cLr-lTgRy" title="189 Answers">3 months ago</span>
				                    </div>
				                </div>
				            </li>
				        </ul>
				    </section>
					{% endcomment %}
				</div>
			</section>
		</div> <!-- /.main -->
		<aside class="sD-bR span3">
			<div>
				<section class="tXt-cTr pD0 bNr-aD"> 
                   
                </section>
			</div>
		</aside>
	</div>  <!-- /.row-fluid -->
</div>
<script>
	$(document).ready(function(){
		$('.dRgO').each(function(){
			var $dRgI = $(this).find('.dRgI');
			var val = $(this).find('.pEr').val();
			$dRgI.css('height',val);
		});
	});
</script>  
{% endblock %} 
   
{% block footer_include%}  
 
{% endblock %}
    
