{% load thumbnail %}
{% load i18n %}
	{% if products %}		   
	<ol class="data-table table-lists-container" id="ajax_content_list">
		{% for product_obj in products %}	
		<li class="table-list" id="li_{{product_obj.id}}">
		        <div class="table-list-container has-thumb110 group">
		            <div class="item-media">
                    	<a href="{{ product_obj.get_absolute_url }}" class="inline-block">
                            <span class="item-thumb thumb-110">
                                <span class="thumb-in">
                                    <span class="thumb"><img height="74px" src="{% if product_obj.get_cover_image_staff %}{% thumbnail product_obj.get_cover_image_staff 110x0 %}{% else %}{{product_obj.get_default_image_staff}}{%endif%}" alt="{{product_obj.name}}" class="inline-block"><span class="inline-block h100"></span></span>
                                </span>
                            </span>
						</a>                                                            
                    </div> 
					<div class="item-info relative-block" style="width:420px;">
		                <h3 class="title"><a href="{{ product_obj.get_absolute_url }}">{{product_obj.name}}</a></h3>
						<div class="price">
	                         <div class="discount_price">
				                <div class="sales_price">{%if product_obj.get_base_price%}<em style="">{{globalsettings.currency}}{{product_obj.get_base_price|floatformat:2}}</em>{%endif%}<div class="standard_price">{{globalsettings.currency}}{{product_obj.for_sale_price|floatformat:2}} </div></div>
							</div>
	                    </div>
		                <p class="info {%if product_obj.get_product_stock%}avaliable{%else%}out-of-stock{%endif%}">{%if product_obj.get_product_stock%}Avaliable{%else%}Out Of Stock{%endif%}</p>
						{%if product_obj.get_product_stock%}
						  	{%if product_obj.deliverable%}
								{%if product_obj.manual_delivery_time%}
									<p class="ltxt80">Delivered in {{product_obj.delivery_time.min_unit}}-{{product_obj.delivery_time.max_unit}} business {{product_obj.delivery_time.get_unit_display}}.</p>
								{%else%}
						  			
								{%endif%}
							{%endif%}
						  {%endif%}
						
		            </div>
					<div class="action-buttons">
						<a id="add_cart_button_{{product_obj.id}}" style="margin-right:5px;" href="javascript:void(0)" onclick="add_cart({{product_obj.id}})" class="btn-txt-blue small"> <span class="btn-txt">Add To Bag</span></a>
						<span id="ajax_state_loading_{{product_obj.id}}" class="loading-stats" style="vertical-align: text-top; margin-left: 5px; display: none;"><img align="..." src="{{STATIC_URL}}ui/images/global/loading-s.gif"></span>
						<span onclick="if(confirm('You want to remove this product from your wishlist ')){delete_wishlist({{product_obj.id}});this.focus();}" id="id_span_settings_530" class="item-manage inline-block"><span class="action-icon icon icon-delete"></span></span>
					</div>
		        </div>
		    </li> 
		{% endfor %}
	</ol>
	<div id="pagenation">
		{% include 'account/favorite/pagenation.html' %}      
	</div>  
	{% else %}
		<div class="no-data"> <p>{% trans 'There are no items in your wishlist.' %}</p></div>
 	{% endif %}