{% extends "user_base.html" %}
{% load tabs %}
{% load i18n %}
{% load currency %}
{% block navigation %}
	{% activetab "selmodule" "shop" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'My Wishlist' %} {% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/LE_MetaId99.css">
	
{% endblock %}
{% block content %}
<div id="userHub-platform" class="group">
					<div class="header-bar"><h2>{% trans 'My Wishlist' %}</h2></div>
						<div id="core-wraper" class="group">
                        	<div class="userHub-main">
                              	<div class="page-wrap">
									<div id="wishlist" class="group">
										<span id="ajax_content_loading" class="load-list-items" style="display:none">
										 	<img src="{{STATIC_URL}}ui/images/global/loading.gif" align="...">
										</span>
										<div id="content_ajax" class="group">
											{% include 'bmshop/user/include_wish_list.html' %}      
										</div>	                                       
                                    </div> <!-- end table -->
                              </div>  <!-- end page wrap -->
                        </div>  <!-- end main-col -->                            
                        <div id="aside" class="side-bar">
                        	<div class="preview-aside-meta group">
                                    <ul class="side-navigation">
                                        <li class="contrib_tab events active"><a href="javascript:void(0)">{% trans 'My Wishlist' %}</a></li>
                                    	<li class="contrib_tab article"><a href="{%url 'bmshop_user_my_orders' %}">{% trans 'My Orders' %}</a></li>
									</ul>
                             </div>      
                        </div>                            
					</div>                                                    
				</div>
{% endblock %}			
{% block footer_include%}
<script type="text/javascript">
function add_cart(id){
	var dataString = 'id='+id;
	$('#add_cart_button_'+id).hide();
	$('#ajax_state_loading_'+id).show();
	
	$.ajax({
		type: "GET",
		url: '{%url 'bmshop_user_add_to_cart' %}',
		data: dataString,
		dataType:'JSON',
		success: function(data){	
			if(data.status){
				location.replace('{%url 'bmshop_product_cart' %}');
				}else{
					$('#ajax_state_loading_'+id).hide();
					$('#add_cart_button_'+id).show();
					show_msg(data.msg,'e');}
			}
		});
	
}
function delete_wishlist(id){
	var dataString = 'id='+id;
	$.ajax({
		type: "GET",
		url: '{%url 'bmshop_user_delete_wishlist' %}',
		data: dataString,
		dataType:'JSON',
		success: function(data){	
			if(data.status){
				$('#li_'+id).remove();
				show_msg(data.msg,'s');
				}else{show_msg(data.msg,'e');}
			}
		});
	
}
</script>
{% endblock %}	
