{% extends base %}
{% load tabs %}
{% load upload_tags %}
{% load thumbnail truncate_filter %}
{% load i18n %}
{% load ds_utils %}
{% load social_share %}
{% block pagetitle %}{% seo_format_tag module='Attraction' title=attraction.seo_title code='DT' category=category.name as seo_meta_title %}{{seo_meta_title}}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ business.seo_description }}" />

	<!-- Facebook-->
	<meta property="og:type" content="place"/>
	<meta property="og:url" content="{{globalsettings.website_url}}{{attraction.get_absolute_url}}"/>
	<meta property="og:title" content="{{ attraction.name }}"/>
	{% if attraction.get_attraction_photos.all.0.photo %}<meta property="og:image" content="{{globalsettings.website_url}}{{ attraction.get_attraction_photos.all.0.photo.url }}"/>{% endif %}
	<meta property="og:site_name" content="{{globalsettings.domain}}"/>
	<meta property="og:description" content="{{ attraction.description|striptags|truncatechars:200 }}"/>
<!-- Twitter-->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" content="{{globalsettings.website_url}}{{attraction.get_absolute_url}}">
	<meta name="twitter:title" content="{{ attraction.name }}">
	<meta name="twitter:description" content="{{ attraction.description|striptags|truncatechars:200 }}">
	{% if attraction.get_attraction_photos.all.0.photo %}<meta name="twitter:image" content="{{globalsettings.website_url}}{{ attraction.get_attraction_photos.all.0.photo.url }}">{% endif %}
	<meta name="twitter:domain" content="{{globalsettings.domain}}">

{% endblock %}
{% block head %}
    <script src="{{STATIC_URL}}themes/js/ios-orientationchange-fix.js"></script>
    <script src="{{STATIC_URL}}themes/js/fxslider.js"></script>
    <script src="{{STATIC_URL}}themes/js/jquery.raty.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/report_data.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/get_report_data.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	bids.push({{attraction.id}});
	details_pages(bids);
	});
	
	</script>
{% endblock %}
{% block navigation %}
    {% activetab "topnav" "attractions" %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <ul class="bRdCrB" itemscope itemtype="http://schema.org/WebPage">
            <li itemscope itemtype="http://www.data-vocabulary.org/Breadcrumb"><a itemprop="url" href="{% url 'attraction_home' %}"><span itemprop="title">{% trans 'Attractions' %}</span></a>  <span class="sPrTr"></span></li>
            <li itemscope itemtype="http://www.data-vocabulary.org/Breadcrumb" class="aCtV"><span itemprop="title">{{attraction.category.all.0.name}}</span></li>
        </ul>
        <div class="row-fluid"  itemscope itemtype="http://schema.org/TouristAttraction">
            <div class="span12">
                <div class="row-fluid rLvE">
                    <div class="span8 main mRb0">
                        <section class="sCn pD0">
                            <div class="fTrD-bL bNr mDa-35 aDpTv tXt-oTsD mRb0">
                                <div class="fTrD-bL-iN">
                                    <div class="fTrD-iTmS">
                                        <div class="fTrD-iTm">
                                            <figure class="fTrD-mDa bDrRtLtR oFl">
                                                <div class="fTrD-mDa-hVr sDw">
                                                    <div class="tR"></div>
                                                    <div class="fTrD-mDa-hVr-tXt pD15">
                                                        <h2 class="fTrD-hD" itemprop="name">{{attraction.name}}</h2>
                                                    </div>
                                                </div>
                                                <span class="bUi-tMb-wPr fLxiMgW" href="#">
                                                    <span class="bUi-tMb">
                                                        <span class="bUi-tMb-pRpL">
                                                            <span class="bUi-tMb-cLp">
                                                                <span class="bUi-tMb-cLp-iN">
																	{% if attraction.get_attraction_photos.all.0.photo %}
	                                                                    <img class="mDa-oT" src="{% thumbnail attraction.get_attraction_photos.all.0.photo 805x0 %}" alt="{{attraction.name}}" itemprop="image">
	                                                                    <span class="vRtL-aLn">
	                                                                    </span>
																	{% else %}
																		<span class="iCn-bRdR50 oP25" title="{{attraction.name}}"><i aria-hidden="true" class="bUi-iCn-aTtR-24 cLr-gRy ib"></i></span><div class="vRtL-aLn"></div>
																	{% endif %}
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </figure>
                                            <!-- /.TrD-mDa -->
                                            {% include 'default/attraction/part_address.html' %}                                     
                                        </div>
                                    </div>
                                    <!-- /.fTrD-iTms --> 
                                </div>
                                <!-- /.fTrD-bL-iN --> 
                            </div>
                            <!-- /.fTrD-bL -->
                            <ul class="nav nav-tabs mRb0 pD015">
                                <li class="atr_tab {% if view == 'home' %}active{% endif %}" id="atr_tab_home"><a href="javascript:void(0);" onclick="show_block('home');">{% trans 'About' %}</a></li>
                                {% if attraction.get_attraction_photos.all %}<li class="atr_tab {% if view == 'photos' %}active{% endif %}" id="atr_tab_photos"><a href="javascript:void(0);" onclick="show_block('photos');">{% trans 'Photos' %}</a></li>{% endif %}
                                {% if attraction.attraction_video.all %}<li class="atr_tab {% if view == 'videos' %}active{% endif %}" id="atr_tab_videos"><a href="javascript:void(0);" onclick="show_block('videos');">{% trans 'Videos' %}</a></li>{% endif %}
                                <li class="mRt12 pLrT mRb10">
                                	{% with attraction as object %}
                                        {% include 'default/social-share-links.html' %}
                                    {% endwith %}  
                                </li>
                            </ul>
                        </section>
                        {% include 'default/attraction/include_details.html' %}
                    </div>
                    <aside class="sD-bR span4 pStN-rT0mI980">
                        <div>
                            {% with attraction.venue as venue %}
                            <section class="sCn pD0">
                                <a class="bUi-tMb-wPr tMb-72-5 fLxiMgW" href="javascript:void(0);">
                                    <span class="bUi-tMb">
                                        <span class="bUi-tMb-pRpL">
                                            <span class="bUi-tMb-cLp">
                                                <span class="bUi-tMb-cLp-iN">
                                                    <img class="mDa-oT" src="https://maps.googleapis.com/maps/api/staticmap?center={{venue.lat}},{{venue.lon}}&zoom=14&size=390x300&markers={{venue.lat}},{{venue.lon}}&sensor=false" alt="{% trans 'Map location of' %} {{attraction.name}}" style="width: 246px;">
                                                    <span class="vRtL-aLn">
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </section>
                            {% endwith %}
                        </div>
                        <div id="id_nearby_items">
                        </div>                               
                    </aside>
                </div>
            </div>
        </div>
        {% include 'default/attraction/include_photos.html' %}
        {% include 'default/attraction/include-videos.html' %}
    </div>
            
<script type="text/javascript">
    function show_block(id){
        $('.atr_block').hide();
        $('.atr_tab').removeClass('active');
        $('#atr_tab_'+id).addClass('active');
        $('#'+id).show();
        
        $('.fLxiMgW').setrSpVWidth(0);
        $('.fLxiMgH').setrSpVHeight('mDa-lT');
        
        try{
            if(id=='photos'){$('#photo_contribute').show();}
            else{$('#photo_contribute').hide();}
        }catch(e){}
    }
    $(document).ready(function(){
        $.ajax({
            type: "GET",
            url: "{% url 'attraction_count' attraction.id %}",
            success:function(data){},
            error:function(data){}
        });
        
        $.ajax({
            type: "GET",
            url: "{% url 'attraction_get_nearby_items' %}?id={{ attraction.id}}",
            dataType:'json',
            success:function(data){
              if(data.status){
                 $('#id_nearby_items').empty().html(data.html);
              }
              else{alert(gettext('Oops !!! Not able to process your request.'));}                     
            },
            error:function(data){alert(gettext('Oops !!! Not able to process your request.'));}
        });                         
                                 
        try{$('#id_rating').raty({readOnly: true, score: {{attraction.rating}}, size: 16});}
        catch(e){}
        
        $(".fxslider").fxslider();
                                 
    });
</script>
<script>var disqus_identifier  = 'Attraction-{{attraction.id}}';</script>            
{% endblock %}            