{% load i18n %}
{% load thumbnail bm_attraction_tags %}

{% get_near_by_attractions attraction=attraction limit=6 as near_by_attractions %}
{% get_near_by_restaurants venue=attraction.venue limit=6 as near_by_restaurants %}
{% get_near_by_hotels venue=attraction.venue limit=6 as near_by_hotels %}

{% if near_by_attractions or near_by_restaurants or near_by_hotels %}

<section class="sCn mDa-lT-mNi cMpCt">                            
    <div class="sCn-tTl sCn-tTl-bR pDb0">
        <h4 class="cLrFx oFl">
            <span class="ib pLlT">{% trans 'Nearby:' %}</span>
            <ul class="nav nav-tabs mRb0 pLrT" id="id_tabs_ul">
                <li class="active">
                    <a href="javascript:void(0);" id="sights" class="fS13 cLr-bLu">                                            
                        <i aria-hidden="true" class="bUi-iCn-vEw-16"></i>
                        <span class="hSmP hMi980">{% trans 'Sights' %}</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" id="eat" class="fS13 cLr-oRg">
                        <i aria-hidden="true" class="bUi-iCn-rTrT-24 fS16"></i>
                        <span class="hSmP hMi980">{% trans 'Eat' %}</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" id="hotel" class="fS13 cLr-gRn">
                        <i aria-hidden="true" class="bUi-iCn-dRp-16"></i>
                        <span class="hSmP hMi980">{% trans 'Hotels' %}</span>
                    </a>
                </li>
            </ul>
        </h4>
    </div>
    
    {% with near_by_attractions as attractions %}
    {% if attractions %}
    <ul class="mDa-lT mDa-oT-lT bm-tabs-content" id="sights_contents">
        {% for attraction in attractions %}
        <li class="mDa">
            <div class="mDa-iN">
                <div class="mDa-wPr"> 
                    <a class="bUi-tMb-wPr bUi-tMb-60 tMb-100 fLxiMgH bS-bRdR" title="{{attraction.name}}" href="{{attraction.get_absolute_url}}">
                        <span class="bUi-tMb">
                            <span class="bUi-tMb-pRpL">
                                <span class="bUi-tMb-cLp">
                                    <span class="bUi-tMb-cLp-iN">
                                        <img class="mDa-oT" src="{% if attraction.get_attraction_photos.all.0.photo %}{% thumbnail attraction.get_attraction_photos.all.0.photo 0x130 %}{% else %}{{STATIC_URL}}themes/img/no-image.png{% endif %}" alt="{{attraction.name}}">
                                        <span class="vRtL-aLn">
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="mDa-bDy">
                    <div class="cLrFx"><a href="{{attraction.category.all.0.get_absolute_url}}" class="fS11-125 cLr-lTgRy ib mRt-4">{{attraction.category.all.0.name}}</a> <div class="sTr-rT ib pLrT mRb0 mNi">{% if attraction.rating != 0 %}<span class="rT-oVrL-sCr ib fS13 cLr-gRy">{{attraction.rating}}</span> <span class="sTr-wPr sTr-rT-mNi iCn16 rEd bM-dEvRtng" data-rating="{{attraction.rating}}"></span>{% endif %}</div></div>
                    <h5 class="mDa-hD fW-bLd" title="{{attraction.name}}"><a class="tXt-oVrF" href="{{attraction.get_absolute_url}}">{{attraction.name}}</a></h5>
                    <div class="mDa-dTa mRt4">
                       <span class="fS12 cLr-gRy tRnCt"><i aria-hidden="true" class="bUi-iCn-mP-mKr-12 cLr-lTgRy"></i> <span class="cLr-lTgRy">{{attraction.venue.venue}}</span></span>
                    </div>                                                        
                </div>
            </div>
        </li>
        {% endfor %}                                         
    </ul>
    <footer class="sCn-fTr mRb-20 tXt-lT sCn-fTr-bR bm-tabs-content-ftr" id="sights_footer"><a href="{% url 'attraction_home' %}" class="tXt-lNk">{% trans 'See more nearby places' %} <i aria-hidden="true" class="bUi-iCn-aNg-rT-aLt-12 ib"></i></a></footer>
    {% endif %}
    {% endwith %}
    
    {% with near_by_restaurants as restaurants %}
    {% if restaurants %}
    <ul class="mDa-lT mDa-oT-lT bm-tabs-content hide" id="eat_contents">
        {% for restaurant in restaurants %}
        <li class="mDa">
            <div class="mDa-iN">
                <div class="mDa-wPr"> 
                    <a class="bUi-tMb-wPr bUi-tMb-60 tMb-100 fLxiMgH bS-bRdR" title="{{restaurant.name}}" href="{{restaurant.get_absolute_url}}">
                        <span class="bUi-tMb">
                            <span class="bUi-tMb-pRpL">
                                <span class="bUi-tMb-cLp">
                                    <span class="bUi-tMb-cLp-iN">
                                        <img class="mDa-oT" src="{% if restaurant.logo.logo %}{% thumbnail restaurant.logo.logo 0x141 %}{% else %}{{STATIC_URL}}themes/img/no-image.png{% endif %}" alt="{{restaurant.name}}">
                                        <span class="vRtL-aLn">
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="mDa-bDy">
                    <div class="cLrFx"><a href="{% url 'restaurants_restaurants_listing' restaurant.cuisines.all.0.slug %}" class="fS11-125 cLr-lTgRy ib mRt-4">{{restaurant.cuisines.all.0.slug}}</a> <div class="sTr-rT ib pLrT mRb0 mNi">{% if restaurant.ratings != 0 %}<span class="rT-oVrL-sCr ib fS13 cLr-gRy">{{restaurant.ratings.rating}}</span> <span class="sTr-wPr sTr-rT-mNi iCn16 rEd bM-dEvRtng" data-rating="{{restaurant.ratings}}"></span>{% endif %}</div></div>
                    <h5 class="mDa-hD fW-bLd" title="{{restaurant.name}}"><a class="tXt-oVrF" href="{{restaurant.get_absolute_url}}">{{restaurant.name}}</a></h5>
                    {% with restaurant.restaurant_address.all.0 as address %}
                    <div class="mDa-dTa mRt4">
                       <span class="fS12 cLr-gRy tRnCt"><i aria-hidden="true" class="bUi-iCn-mP-mKr-12 cLr-lTgRy"></i> <span class="cLr-lTgRy">{{address.address1}} {% if address.city %}{{address.city}}{% endif %}</span></span>
                    </div> 
                    {% endwith %}
                                                                           
                </div>
            </div>
        </li>
        {% endfor %}                                         
    </ul>
    <footer class="sCn-fTr mRb-20 tXt-lT sCn-fTr-bR bm-tabs-content-ftr hide" id="eat_footer"><a href="{% url 'restaurants_list_restaurants_by_types' %}?search=true&q=&location={{attraction.venue.zip}}" class="tXt-lNk">{% trans 'See more nearby restaurants' %} <i aria-hidden="true" class="bUi-iCn-aNg-rT-aLt-12 ib"></i></a></footer>
    {% endif %}
    {% endwith %}
    
    {% with near_by_hotels as hotels %}
    {% if hotels %}
    <ul class="mDa-lT mDa-oT-lT bm-tabs-content hide" id="hotel_contents">
        {% for business in hotels %}
        <li class="mDa">
            <div class="mDa-iN">
                <div class="mDa-wPr"> 
                    <a class="bUi-tMb-wPr bUi-tMb-60 tMb-100 fLxiMgH bS-bRdR" title="{{business.name}}" href="{{business.get_absolute_url}}">
                        <span class="bUi-tMb">
                            <span class="bUi-tMb-pRpL">
                                <span class="bUi-tMb-cLp">
                                    <span class="bUi-tMb-cLp-iN">
                                        <img class="mDa-oT" src="{% if business.logo.logo %}{% thumbnail business.logo.logo 0x141 %}{% else %}{{STATIC_URL}}themes/img/no-image.png{% endif %}" alt="{{business.name}}">
                                        <span class="vRtL-aLn">
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="mDa-bDy">
                    <div class="cLrFx"><a href="{{business.categories.all.0.get_absolute_url}}" class="fS11-125 cLr-lTgRy ib mRt-4">{{business.categories.all.0.name}}</a> <div class="sTr-rT ib pLrT mRb0 mNi">{% if business.ratings != 0 %}<span class="rT-oVrL-sCr ib fS13 cLr-gRy">{{ business.ratings }}</span> <span class="sTr-wPr sTr-rT-mNi iCn16 rEd bM-dEvRtng" data-rating="{{ business.ratings }}"></span>{% endif %}</div></div>
                    <h5 class="mDa-hD fW-bLd" title="{{business.name}}"><a class="tXt-oVrF" href="{{business.get_absolute_url}}">{{business.name}}</a></h5>
                    {% with business.address.all.0 as address %}
                    <div class="mDa-dTa mRt4">
                       <span class="fS12 cLr-gRy tRnCt"><i aria-hidden="true" class="bUi-iCn-mP-mKr-12 cLr-lTgRy"></i> <span class="cLr-lTgRy">{{address.address1}} {% if address.city %}{{address.city}}{% endif %}</span></span>
                    </div>    
                    {% endwith %}                                                    
                </div>
            </div>
        </li>
        {% endfor %}                                         
    </ul>
    <footer class="sCn-fTr mRb-20 tXt-lT sCn-fTr-bR bm-tabs-content-ftr hide" id="hotel_footer"><a href="{% url 'business_home' %}?search=true&q=&location={{attraction.venue.zip}}" class="tXt-lNk">{% trans 'See more nearby hotels' %} <i aria-hidden="true" class="bUi-iCn-aNg-rT-aLt-12 ib"></i></a></footer>
    {% endif %}
    {% endwith %}
</section>
{% endif %}
<script>    
$(function(){
   $('.bM-dEvRtng').each(function(){
      var rating = $(this).attr('data-rating');                            
      $(this).raty({readOnly: true, score: rating, size: 12});                            
   });
             
   $('#id_tabs_ul li a').click(function(){
        $('#id_tabs_ul li').removeClass('active');
        $(this).parent('li').addClass('active');
        $('.bm-tabs-content').removeClass('hide').hide();
        $('.bm-tabs-content-ftr').removeClass('hide').hide(); 
        $('#'+$(this).attr('id')+'_contents').fadeIn(400);
        $('#'+$(this).attr('id')+'_footer').fadeIn(400);
        try{
            $('.fLxiMgH').setrSpVHeight('mDa-lT');
        }
        catch(e){}
    });          
             
});   
</script>          