{% load i18n %}
<div id="thick_pagination" class="group">
<ul class="pagination_nav">

	<!-- If it has previous pages  -->
	{% if has_previous %}
		{% ifequal num page %}
			<li class="selected_page"><a href="#" name="{{ num }}">{{ num }}</a></li>
		{% else %}
			<li class="prev"><a href="{{baseurl}}?page={{prev}}" name="{{ prev }}" ><strong>&laquo;</strong> {% trans 'Prev' %} </a></li>
		{% endifequal %}
	{% endif %}

	<!-- If it has larger number of pages then the first few pages -->
	{% if not in_leading_range %}
		{% for num in pages_outside_trailing_range %}
			{% ifequal num page %}
				<li class="selected_page"><a href="#"  name="{{ num }}" >{{ num }}</a></li>
			{% else %}
				<li><a href="{{baseurl}}?page={{ num }}"  name="{{ num }}">{{ num }}</a></li>
			{% endifequal %}
		{% endfor %}
		<li>&hellip;</li>
	{% endif %}

	<!-- The numberings -->
	{% for num in page_numbers %}
		{% ifequal num page %}
			<li class="selected_page"><a href="#"  name="{{ num }}" >{{ num }}</a></li>
		{% else %}
			<li><a href="{{baseurl}}?page={{ num }}"  name="{{ num }}" >{{ num }}</a></li>
		{% endifequal %}
	{% endfor %}

	
	<!-- If it has larger number of pages then the last few pages   -->
	{% if not in_trailing_range %}
		<li>&hellip;</li>
		{% for num in pages_outside_leading_range reversed %}
			{% ifequal num page %}
				<li class="selected_page"><a href="#" name="{{ num }}" >{{ num }}</a></li>
			{% else %}
				<li><a href="{{baseurl}}?page={{ num }}"  name="{{ num }}">{{ num }}</a></li>
			{% endifequal %}
		{% endfor %}
	{% endif %}

	<!-- If it has next page -->
	{% if has_next %}
 		<li class="next br_0"><a href="{{baseurl}}?page={{ next }}"  name="{{ next }}"> {% trans 'Next' %} <strong>&raquo;</strong></a></li>
	{% endif %}
		</ul></div>  
