{% load thumbnail %}
{% load mptt_comments_tags %}
<input type="hidden" value="{% url 'user_video_ajax_display_video' %}" name="id_hidden_url" id="id_hidden_url">
<input type="hidden" value="{% url 'user_video_ajax_action' %}" name="id_action_url" id="id_action_url">
<input type="hidden" value="{{status}}" name="id_status" id="id_status">
<input type="hidden" value="{{listing_type}}" name="id_listing_type" id="id_listing_type">
<input type="hidden" value="{{sort}}" name="id_sort" id="id_sort">
<input type="hidden" value="{{msg}}" name="id_action_msg" id="id_action_msg">

<input type="hidden" value="{% if search %}{{search}}{% endif %}" name="id_search" id="id_search">
<input type="hidden" value="" name="id_action" id="id_action">
{% if videodisplay %}

<ul class="modulesBrowseData dSrS480 mDa-lT mDa-oT-lT oVrfLw-vSbL">
	{% for video in videodisplay %}
    <li class="mDa mDa-sTtS-iN">
        <div class="mDa-iN">
            <div class="mDa-wPr"> 
            	<a class="bUi-tMb-wPr tMb-75 dSpD  fLxiMgW bUi-tMb-110" href="#">
                    <span class="bUi-tMb w100pXmP">
                        <span class="bUi-tMb-pRpL">
                            <span class="bUi-tMb-cLp">
                                <span class="bUi-tMb-cLp-iN"> <img class="mDa-oT" src="{% if not video.is_vimeo %}{{video.get_hq_thumb}}{% else %}{{ video.vimeo_image }}{% endif %}" alt="">
                                    <span class="vRtL-aLn"> </span>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
				<div class="mDa-hVr cVr tR-hVr"><span class="bR5"><span class="lBl dRk mNi" >{{video.duration}}</span></span></div>
				<div class="mDa-hVr cVr tR-hVr fxslider"><a href="#" data-src="{% if not video.is_vimeo %}http://www.youtube.com/watch?v={% else %}http://vimeo.com/{% endif %}{{video.video_id}}" class="s-32 cTr"><i aria-hidden="true" class="bUi-iCn-pLy-aLt-24 hT-aTo fS32-1 pLy-iCn"></i></a></div>
            </div>
            <div class="mDa-bDy mRr0mP">
				{% if video.featured %}
					<span style="cursor:pointer;" title="Featured" class="fTrd-lSt"></span>
				{% endif %}
                <h5 class="mDa-hD tRnCt0 mR50 rLvE h65 h65" title="{{video.title}}"><a href="{% url 'videos_video_preview' video.slug %}">{{video.title|title|truncatechars:70}}</a></h5>
                <p class="fS12 cLr-gRy"><span class="fS11 cLr-lTgRy">{{video.created_on|date:"F d, Y f A"}}</span></p>
                <div class="clearfix">
                	<div class="btn-group pLlT iM" id="id_drop_{{video.id}}">
                        <a href="{% url 'user_video_ajax_edit_video' %}?video_id={{video.id}}" title="Edit" class="btn btn-light btn-small has_lightbox" data-target="#update_video_description"><span id="id_delete_{{video.id}}"><i aria-hidden="true" class="bUi-iCn-rVeW-12 ib"></i></span><span id="id_loding_{{video.id}}" style="display:none;"><i alt="Loading icon" class="icon-spinner bUi-iCn-sPnR mRr5 fS16" aria-hidden="true"></i></span></a>
                            <button class="h27 btn btn-light btn-small dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu mNi pLrT dSpL">
							<!--li><a title="Edit" href="{% url 'user_video_ajax_edit_video' %}?video_id={{video.id}}">Edit</a></li-->
                            <li><a href="{% url 'user_videos_ajax_video_seo' %}?video_id={{video.id}}" data-target="#update_seo" class="has_lightbox">Update SEO info</a></li>
							<li class="divider"></li>
							<li><a onclick="if(confirm('Are you sure you want to delete the selected video?')){filter_action({{video.id}},'DEL');return false;}" href="javascript:void(0)">Delete</a></li>
                        </ul>
                    </div>
                    <div class="pLrT mRr10 iM" style="cursor:pointer;">
                        <i {% if video.status == 'P' %}class="bUi-iCn-pPiE-24 cLr-pUb" title="Published"{% endif %}
							{% if video.status == 'R' %}class="bUi-iCn-rGt-24 cLr-rEj" title="Rejected"{% endif %}
							{% if video.status == 'N' %}class="bUi-iCn-pNdG-24 cLr-pEn" title="Pending"{% endif %}
							{% if video.status == 'D' %}class="bUi-iCn-dRaT-24 cLr-dRf" title="Drafted"{% endif %}
							{% if video.status == 'B' %}class="bUi-iCn-bLk-24 cLr-bLoK" title="Blocked"{% endif %} aria-hidden="true"></i>
                    </div>	
                </div>
                <div class="mDa-lT-sTtS aBsLt tR0 StCmP tXt-rTp bGtRp">
                   <span class="fS11 cLr-lTgRy mRr10 bLk" style="cursor:pointer;" title="Views"><i aria-hidden="true" class="bUi-iCn-vEw-12"></i> {{video.video_view}}</span>
                   <span class="fS11 cLr-lTgRy mRr10 bLk" style="cursor:pointer;" title="Comments"><i aria-hidden="true" class="bUi-iCn-bBl-12 fS11"></i> {% get_mptt_comment_count for video as comment_count %}{{comment_count}}</span>
                   <!--span class="fS11 cLr-lTgRy mRr10 bLk"><i aria-hidden="true" class="bUi-iCn-hRt-16 fS11"></i> 102</span-->
                </div> 
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% else %}
	<!-- No data -->
	<div class="hT600 rLvE">
 		<div class="tBl-bLk pDt0">
			<div class="tBl-cEl">
				<span class="iCn-bRdR80 oP25"><i aria-hidden="true" class="bUi-iCn-vDeO-aLt-24 fS42-1 cLr-lTgRy ib"></i></span>
				{% if search %}
					<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You haven't submitted any videos with keyword "{{search_keyword}}"</p>
				{% else %}
					{% if status == "P" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no published videos.</p>
					{% elif status == "N" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no pending videos.</p>
					{% elif status == "R" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no rejected videos.</p>
					{% elif status == "D" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no video drafts.</p>
					{% elif status == "E" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no expired videos.</p>
					{% elif status == "B" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no blocked videos.</p>
					{% elif listing_type == "B" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no free videos.</p>
					{% elif listing_type == "F" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no featured videos.</p>
					{% elif listing_type == "S" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no sponsored videos.</p>
					{% elif listing_type == "all" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You haven't added any videos yet.</p>
						<p class="mRt15"><a href="{% url 'user_video_add' %}" class="btn btn-danger fS12 fW-bLd">Add video</a></p>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	<!-- /No data -->
{% endif %}

{% include 'usercp_pagination.html' %}
<script type="text/javascript">
	$(document).ready(function(){
		$(".fxslider").fxslider({thumbnail:false,mobileSrc:false});
		
		$(".has_lightbox").click(function(ev) {
		   ev.preventDefault();
		   target = $(this).attr("href");
		   var modal = $(this).attr("data-target");
		   // load the url and show modal on success
		   $($(this).attr("data-target") + " .modal-body").load(target, function() {
				$('.bM-sLt').doThis(function(){
					this.bUiSlCt();
				});
				$(modal).modal("show");
		   });
		});
								
		/*
		$("a[data-target=#upgrade_list]").click(function(ev) {
		   ev.preventDefault();
		   target = $(this).attr("href");
		
		   // load the url and show modal on success
		   $("#upgrade_list .modal-body").load(target, function() {
		        $("#upgrade_list").modal("show");
		   });
		});
		$("a[data-target=#update_seo]").click(function(ev) {
		   ev.preventDefault();
		   target = $(this).attr("href");
		
		   // load the url and show modal on success
		   $("#update_seo .modal-body").load(target, function() {
		        $("#update_seo").modal("show");
		   });
		});
		$("a[data-target=#update_video_description]").click(function(ev) {
		   ev.preventDefault();
		   target = $(this).attr("href");
		
		   // load the url and show modal on success
		   $("#update_video_description .modal-body").load(target, function() {
		        $("#update_video_description").modal("show");
		   });
		});
		*/
	});
</script>