{% load i18n mptt_tags mptt_comments_tags %}
{% if comments %}
	{% for comment, tree in comments|tree_info %}
	{% for ni in new_id %}
	{% ifequal ni comment.id %}
		<li class="table-list" id="li_{{comment.id}}">
			<div class="table-list-container check-item group">
		 	<span class="checkbox-wrap"><input type="checkbox" value="{{comment.id}}" id="id_event_action" name="artCulture" class="check-overflow cbox"></span>
			<div class="item-info relative-block">
				{% if comment.comment|length|get_digit:"-1" > 169 %} 
                	<h3 class="title less_c" style=" text-overflow: clip;white-space: normal;">
						{{comment.comment|truncatechars:170}} <a style="color:#4083A9;" class="see_more" href="javascript:void(0)">({% trans 'see more' %})</a>
					</h3>
					<h3 class="title more_c" style="display:none;text-overflow: clip;white-space: normal;">
						{{comment.comment}} <a class="see_less" style="color:#4083A9;"  href="javascript:void(0)">({% trans 'see less' %})</a>
					</h3>
				{% else %}
					<h3 class="title" style=" text-overflow: clip;white-space: normal;">
						{{comment.comment}}
					</h3>
				{% endif %}
               	<p style="margin-bottom:5px;">
					{% if not m %}
					<span style="font-size: 13px; font-weight: bold; margin-right: 6px;">
						{{comment.content_type|title}}
					</span> 
					{% endif %}
					<a target="_blank" href="{{comment.content_object.get_absolute_url}}">
						{{comment.content_object|truncatechars:100|title}}
					</a>
				</p>
				<p class="ltxt80">
					{% trans 'By' %} <a href="{{comment.user.get_absolute_url}}">{{comment.user.first_name}}</a> 
					<span class="divider12">|</span>{{comment.submit_date|date:"M d, Y"}}
				</p>
                <ul class="quick-stats group">
                    <li class="like"><a class="tttxt" href="javascript:void(0)" title="{% trans 'Like' %}"><span class="inline-block icon-view-stats"></span>{{comment.like}}</a></li>
					<li class="flag"><a class="tttxt" href="javascript:void(0)" title="{% trans 'Flag' %}"><span class="inline-block icon-view-stats"></span>{{comment.flag}}</a></li>
					<li class="reply"><a class="tttxt" href="javascript:void(0)" title="{% trans 'Reply' %}"><span class="inline-block icon-view-stats"></span>{{comment|children_count}}</a></li>
                </ul>
                <div class="item-status {% if forloop.counter == 1 %}tip tip5{% endif %} dev_hide_list_status" onclick="display_change_status({{comment.id}},$('#id_estatus_{{comment.id}}').attr('name'));">
                	<span class="status-inside inline-block" id="id_span_chge_sts_{{comment.id}}">
					<span title="{% if comment.is_removed %}blocked{% else %}{% if comment.is_public %}published{% else %}pending{% endif %}{% endif %}" name="{% if comment.is_removed %}B{% else %}{% if comment.is_public %}P{% else %}N{% endif %}{% endif%}" id="id_estatus_{{comment.id}}" class="inline-block status-idty icon-{% if comment.is_removed %}blocked{% else %}{% if comment.is_public %}published{% else %}pending{% endif %}{% endif %}"></span>	 
	                    <span class="arrow"></span></span>
						<ul class="dropdown-list" id="change_status_id_{{comment.id}}">
							<li><strong>{% trans 'Update status to...' %}</strong></li>
							<ul id="id_dis_status_{{comment.id}}">
	                       	</ul>
	                    </ul>
                </div>                                                        
            </div>
            <div class="action-buttons {% if forloop.counter == 1 %}tip tip6{% endif %}">
                <div class="relative-block">
                    <span class="item-manage inline-block" id="id_span_settings_{{comment.id}}" onclick="delete_comment({{comment.id}});"><span class="action-icon icon icon-delete"></span></span>
				</div>                                                              	                                                         
            </div>
        </div>
    </li> 
	{% endifequal %} 
	{% endfor %}
	{% endfor %}
{% endif %} 