{% load thumbnail %}
<input type="hidden" value="{% url 'bookmark_ajax_dash_board' %}" name="id_hidden_url" id="id_hidden_url">
<input type="hidden" value="{% url 'bookmark_ajax_action' %}" name="id_action_url" id="id_action_url">
<input type="hidden" value="{{status}}" name="id_status" id="id_status">
<input type="hidden" value="{{listing_type}}" name="id_listing_type" id="id_listing_type">
<input type="hidden" value="{{sort}}" name="id_sort" id="id_sort">
<input type="hidden" value="{{msg}}" name="id_action_msg" id="id_action_msg">

<input type="hidden" value="{% if search %}{{search}}{% endif %}" name="id_search" id="id_search">
<input type="hidden" value="" name="id_action" id="id_action">
{% if bookmark_list %}
	<ul class="modulesBrowseData dSrS480 mDa-lT mDa-oT-lT oVrfLw-vSbL">
		{% for bookmark in bookmark_list %}
	    <li class="mDa mDa-sTtS-iN">
	        <div class="mDa-iN">
	            <div class="mDa-wPr"> 
	            	<a class="bUi-tMb-wPr tMb-75 dSpD  fLxiMgW bUi-tMb-110" href="{% url 'user_bookmark_preview' %}?id={{bookmark.id}}">
	                    <span class="bUi-tMb w100pXmP">
	                        <span class="bUi-tMb-pRpL">
	                            <span class="bUi-tMb-cLp">
	                                <span class="bUi-tMb-cLp-iN"> <img class="mDa-oT" src="{% if bookmark.image_url %}{{bookmark.image_url}}{% else %}{{bookmark.get_default_image}}{%endif%}" alt="">
	                                    <span class="vRtL-aLn"> </span>
	                                </span>
	                            </span>
	                        </span>
	                    </span>
	                </a>
	            </div>
	            <div class="mDa-bDy mRr0mP">
	                <h5 class="mDa-hD tRnCt0 mR50 rLvE h65 h65"><a href="{% url 'user_bookmark_preview' %}?id={{bookmark.id}}">{{bookmark.title|title|truncatechars:70}}</a></h5>
	                <p class="fS12 cLr-gRy"><span class="fS11 cLr-lTgRy">{{bookmark.created_on|date:"F d, Y f A"}}</span></p>
	                <div class="clearfix">
	                	<div class="btn-group pLlT iM" id="id_drop_{{bookmark.id}}">
	                        <a href="{% url 'bookmark_edit_bookmark' bookmark.id %}" title="Edit" class="btn btn-light btn-small"><span id="id_delete_{{bookmark.id}}"><i aria-hidden="true" class="bUi-iCn-rVeW-12 ib"></i></span><span id="id_loding_{{bookmark.id}}" style="display:none;"><i alt="Loading icon" class="icon-spinner bUi-iCn-sPnR mRr5 fS16" aria-hidden="true"></i></span></a>
	                    	<button class="h27 btn btn-light btn-small dropdown-toggle" data-toggle="dropdown">
	                            <span class="caret"></span>
	                        </button>
	                        <ul class="dropdown-menu mNi pLrT dSpL">
								<li><a title="Edit" href="{% url 'bookmark_edit_bookmark' bookmark.id %}">Edit</a></li>
                                <li><a href="{% url 'bookmark_update_seo' bookmark.id %}" data-target="#update_seo">Update SEO info</a></li>
	                            <li class="divider"></li>
                            	<li><a onclick="if(confirm('Are you sure you want to delete the selected bookmark?')){filter_action({{bookmark.id}},'DEL');return false;}" href="javascript:void(0)">Delete</a></li>
	                        </ul>
	                    </div>
	                    <div class="pLrT mRr10 iM">
	                        <i class = "{% if bookmark.status == 'P' %}bUi-iCn-pPiE-24 cLr-pUb{% endif %}
										{% if bookmark.status == 'R' %}bUi-iCn-rGt-24 cLr-rEj{% endif %}
										{% if bookmark.status == 'N' %}bUi-iCn-pNdG-24 cLr-pEn{% endif %}
										{% if bookmark.status == 'D' %}bUi-iCn-dRaT-24 cLr-dRf{% endif %}
										{% if bookmark.status == 'B' %}bUi-iCn-bLk-24 cLr-bLoK{% endif %}" aria-hidden="true"></i>
	                    </div>	
	                </div>
	                <div class="mDa-lT-sTtS aBsLt tR0 StCmP tXt-rTp bGtRp">
	                   <span class="fS11 cLr-lTgRy mRr10 bLk"><i aria-hidden="true" class="bUi-iCn-vEw-12"></i> {{bookmark.most_viewed}}</span>
	                   <!--span class="fS11 cLr-lTgRy mRr10 bLk"><i aria-hidden="true" class="bUi-iCn-bBl-12 fS11"></i> 34</span -->
					   <!--span class="fS11 cLr-lTgRy mRr10 bLk"><i aria-hidden="true" class="bUi-iCn-hRt-16 fS11"></i> 102</span-->
	                </div> 
	            </div>
	        </div>
	    </li>
	    {% endfor %}
	</ul>
{% else %}
	<!-- No data -->
	<div class="hT600 rLvE">
 		<div class="tBl-bLk pDt0">
			<div class="tBl-cEl">
				<span class="iCn-bRdR80 oP25"><i aria-hidden="true" class="bUi-iCn-vDeO-aLt-24 fS42-1 cLr-lTgRy ib"></i></span>
				{% if search %}
					<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You haven't submitted any bookmarks with keyword "{{search_keyword}}"</p>
				{% else %}
					{% if status == "P" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no published bookmarks.</p>
					{% elif status == "N" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no pending bookmarks.</p>
					{% elif status == "R" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no rejected bookmarks.</p>
					{% elif status == "D" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no bookmarks in drafts.</p>
					{% elif status == "E" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no expired bookmarks.</p>
					{% elif status == "B" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no blocked bookmarks.</p>
					{% elif listing_type == "B" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no free bookmarks.</p>
					{% elif listing_type == "F" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no featured bookmarks.</p>
					{% elif listing_type == "S" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You have no sponsored bookmarks.</p>
					{% elif listing_type == "all" %}
						<p class="bLk mRt20 fS16 cLr-lTgRy oP75">You haven't added any bookmarks yet.</p>
						<p class="mRt15"><a href="{% url 'bookmark_add_bookmark' %}" class="btn btn-danger fS12 fW-bLd">Add bookmark</a></p>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	<!-- /No data -->
{% endif %}
{% include 'usercp_pagination.html' %}
<script type="text/javascript">
    $(document).ready(function(){
        $("a[data-target=#update_seo]").click(function(ev) {
           ev.preventDefault();
           target = $(this).attr("href");
        
           // load the url and show modal on success
           $("#update_seo .modal-body").load(target, function() {
                $("#update_seo").modal("show");
           });
        });
    });
</script>