{% if err_msg %}
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" onclick="$(this).parent().remove();" aria-hidden="true">&times;</button>
  <strong>{{reason}}!</strong> {{err_msg}}
</div>
{% else %}
<hr class="oTsT-hRz20 mRt10 mRb30">
<input type='hidden' id='id_seo_title'       name='seo_title'      value="{% if bookmark %}{{bookmark.seo_title}}{% else %}{{seo_title}}{% endif %}"></input>
<input type='hidden' id='id_seo_description' name='seo_description' value="{% if bookmark %}{{bookmark.seo_description}}{% else %}{{seo_description}}{% endif %}"></input>
<div class="row-fluid">
    <div class="control-group">
        <label class="control-label" >Title<em class="cLr-rEd">*</em></label>
        <div class="controls">
            {{form.title}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" >Category<em class="cLr-rEd">*</em></label>
        <div class="controls">
            {{ form.category }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" >Summary<em class="cLr-rEd">*</em></label>
        <div class="controls">
            {{form.summary}}
        </div>
    </div>
    {% if img_url_list %}
    <input type="hidden" name="image_url" id="id_image_url" value="{{bookmark.image_url}}">
    <div class="control-group">
        <label class="control-label" >Select Image</label>
        <div class="controls">
            <ul class="tMbS fOcL pDfX mRb0 sLpRiMg">
                {% for image in img_url_list %}
                <li class="image {% if bookmark.image_url == image %}selected{% endif %}" data-imgurl="{{image}}">
                    <a class="bUi-tMb-wPr tMb-100 fLxiMgH" href="javascript:void(0)">
                        <span class="bUi-tMb">
                            <span class="bUi-tMb-pRpL">
                                <span class="bUi-tMb-cLp">
                                    <span class="bUi-tMb-cLp-iN">
                                        <img alt="" src="{{image}}" class="mDa-oT">
                                        <span class="vRtL-aLn">
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                        <div class="aBsLt bR10 lH1 tIc"><i aria-hidden="true" class="bUi-iCn-oK-aLt-16 fS18 cLr-gRn "></i></div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
<hr class="oTsT-hRz20 mRb0">
<div class="row-fluid">
    <div class="form-actions pD0 pLrT">
        <a href="{% url 'bookmark_dash_board' %}" class="btn btn-light fS12 fW-bLd">Cancel</a>
        <button type="submit" class="btn btn-danger fS12 fW-bLd ">Save</button>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#id_category').bind("change", function(){
			$("#mform1").validate().element($(this));
		});
	});
</script>
{% endif %}