{% extends "user_base.html" %}
{% load ds_utils %}
{% load tabs %}
{% load i18n %}
{% load thumbnail %}
{% block pagetitle %}{% if category %}{% seo_format_tag module='Bookmark' title=category.seo_title code='LT' category=category.name as seo_meta_title %}{% else %}{% seo_format_tag module='Bookmark' title=seo.seo_title code='MT' as seo_meta_title %}{% endif %}{{seo_meta_title}}{% endblock %}
{% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{bookmark.seo_description}}" />
{% endblock %}

{% block navigation %}
    
{% endblock %}

{% block alertbar %}
    <div class="alert alert-info pD0 mRt-30">
        <div class="container-fluid">
            <div class="pD100 cLrFx">
                <p class="ib fS14 fW-bLd mRb0 mRt4">This is how listing looks like.</p>
                <div class="pLrT">
                    <a href="{% url 'bookmark_edit_bookmark' bookmark.id %}" class="btn btn-light fS12 fW-bLd mRl5"><i class="bUi-iCn-rVeW-12 mRr5" aria-hidden="true"></i> Edit</a>
                    <a href="{% url 'bookmark_dash_board' %}" class="btn btn-light fS12 fW-bLd mRl5"><i class="bUi-iCn-dSbB-16 fS12 mRr5" aria-hidden="true"></i> Content Manager</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block content %}
            <div class="main span12">
                <div class="sCn">                
                    <iframe frameborder="0" noresize="noresize" src="{{bookmark.source_url}}" style="width: 100%; height: 1700px; overflow-x: hidden; overflow-y: auto;"></iframe>
                </div>
            </div>
{% endblock %}