								<div class="list_actions group">
                                    <div class="sort col_3">
                                    	{% if suggestion %}
                                    	<p class="search_suggestion">Did you mean: <a href="/search?q={{suggestion}}"><strong>{{suggestion}}</strong></a> ?</p>
                                    	
                                    	{% else %}
                                        <!--<p>Showing 1-10 of 123146 results  for {{ globalsettings.city }}</p>-->
                                        <p>Showing {{from_range}}-{{to_range}} of {{count}} results  for <strong>{{query}}</strong></p>
                                        {% endif%}
                                    </div>
                                 <!--   <div class="filter col_5 mr_0">
										<form name="form1">
                                            <label for="movie_sort">Sort By</label>
                                            <select id="movie_sort" name="sort">
                                                <option label="Sort by posted date" value="#">Date</option>
                                                <option label="Sort by price: low &gt; high" value="#">Relavance</option>
                                            </select>                                        
										</form>
                                    </div> -->
                                    <div class="clear"></div>
                                </div>                            
                                <form id="global_search_list" class="group content_list">
                                	{%if text%}
                                	<div id="search_no_result">
                                    	<h2>Your search '<strong>{{query}}</strong>' did not match any documents.</h2>
                                    	<div id="search_tips">
                                        	<h4>A few suggestion:</h4>
                                            <ul>
                                                <li>Make sure all words are spelled correctly.</li>
                                                <li>Try different keywords.</li>
                                                <li>Try more general keywords.</li>
                                            </ul>
										</div>
									</div>  
									{% endif%}                                                                                      
                                    <table cellspacing="0" width="100%" class="listing">
                                        <tr>
                                            <th width="16%" class="added_on"></th>
                                            <th style="text-align:right"></th>
                                        </tr>	                            
                                          {% for hit in results %}	                            
                                    <tr class="{% cycle 'al' 'alt'%}"> 
                                    	
                                        {{hit.object.get_search_result_html}}
                                    </tr>
                                   
                                        {%empty%}
                                        	<td colspan="2"><p class="global_message" style="padding-left:20px;"  align="center"> No Search results found under <strong>{{section}}</strong> section...  </p>   </td>
                                         {%endfor%}             
                                        
                                    </table>                              
                                </form>
                    
                                <div class="clear"></div>
                                 {% if is_paginated %}     
								{% include "search/ajax_pagination.html" %}             
							{% endif %}                       
							
                    
