{% load truncate_filter %}
{% load i18n %}
{% load thumbnail %}
{% load mptt_comments_tags %}
{% load ds_utils %}
<li class="mDa">
    <div class="mDa-iN">
        <div class="mDa-wPr"> 
            <a class="bUi-tMb-wPr tMb-75 fLxiMgW bUi-tMb-aRtCl" href="{{object.get_absolute_url}}">
                <span class="bUi-tMb">
                    <span class="bUi-tMb-pRpL">
                        <span class="bUi-tMb-cLp">
                            <span class="bUi-tMb-cLp-iN"> 
								<img class="mDa-oT" src="{% if object.get_featured_image %}{% thumbnail object.get_featured_image 260x0 %}{% elif object.get_img_from_html %}{{ object.get_img_from_html }}{% else %}{{STATIC_URL}}themes/img/no-image.png{% endif %}" alt="{{object.title}}">
                                <span class="vRtL-aLn"> </span>
                            </span>
                        </span>
                    </span>
                </span>
            </a>
        </div>
        <div class="mDa-bDy  pD0">
            <span class="fS11 uC cLr-lTbLu">{{object.category}}</span>
            <h4 class="mDa-hD tRnCt0 mR50 rLvE h65 h65" title="{{object.title}}"><a href="{{ object.get_absolute_url }}">{{object.title}}</a></h4>
            <p class="fS12 cLr-gRy hD-gD">{{object.summary|truncate_chars:225 }}</p>
            <div class="mDa-dTa mRt4">
               <span class="fS11 cLr-lTgRy">{{object.published_on|timesince|time_up_to:','}} {% trans 'ago' %}</span>
               <a class="fS12 cLr-lTgRy pLrT iM" href="{{object.get_absolute_url}}#comments" title="Comments"><i aria-hidden="true" class="bUi-iCn-bBlS-12"></i> {% get_mptt_comment_count for object as comment_count %} {{comment_count}}</a>
            </div>    
        </div>
    </div>
</li>