{% load thumbnail i18n ds_utils %}
<li class="mDa">
    <div class="mDa-iN">
        <div class="mDa-wPr"> 
        	<a class="bUi-tMb-wPr tMb-75 fLxiMgW bUi-tMb-cLsFd" href="{{object.get_absolute_url}}">
                <span class="bUi-tMb">
                    <span class="bUi-tMb-pRpL">
                        <span class="bUi-tMb-cLp">
                            <span class="bUi-tMb-cLp-iN"> 
								{% if object.get_first_classified_photo %}
									<img class="mDa-oT" src="{% thumbnail object.get_first_classified_photo 220x0 %}" alt="{{ object.title }}">
								{% else %}
									<img class="mDa-oT" src="{{STATIC_URL}}themes/img/no-image.png" alt="{{ object.title }}" height="90" width="90" >
								{% endif %}
                                <span class="vRtL-aLn"> </span>
                            </span>
                        </span>
                    </span>
                </span>
            </a>
        </div>
        <div class="mDa-bDy pD0 pDt5">
            <h5 class="mDa-hD tRnCt0 mR50 rLvE " title="{{object}}"><a href="{{object.get_absolute_url}}">{{object}}</a></h5>
            <p class="fS12 cLr-gRy hD-gD">{% autoescape on %}{{object.description|striptags|truncatewords:30}}{% endautoescape %}</p>
            <div class="mDa-dTa mRt4">
               <span class="fS11 cLr-lTgRy">{{object.published_on|timesince|time_up_to:','}} {% trans 'ago' %}</span>
            </div>
        </div>
    </div>
</li>