<td class="added_on">
    <h5 class="module_title qa">Local Q&amp;A</h5>
    <!-- <span>Posted On<br>3 June, 2008</span> -->
</td>
<td class="qa">
    <div class="item alt group">
        <div class="q_icon"><span>?</span></div>
        <div class="detail">
            <h4 class="title"><a href="{{object.get_absolute_url}}">{{object.question}}</a></h4>
            <div class="sub_title">asked by <a href="#" class="asked_by">{{object.created_by}}</a> <span class="time">{{object.created_on|timesince}} ago</span> in <a href="#" class="cat">{{object.category.name}}</a> ~ <span>{{object.get_answers_count}} answers</span></div>
    
        </div> 
        <div class="footer"></div>    
    </div>  
</td>           