{% extends base %}
{% load truncate_filter %}
{% load comparison %}
{% load modulotag %}
{% load tabs %}
{% load i18n %}
{% block pagetitle %}{{ globalsettings.domain }} Search{% endblock %}
{% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="find {{ globalsettings.city }} events,movies showtimes,local business,photos,videos" />
	<meta name="keywords" content="{{ globalsettings.city }},movies,articles,events,photos,videos,classifieds,local business,business" />
{% endblock %}
{% block head %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/general/search.js"></script>
	<script src="{{ STATIC_URL }}themes/js/jquery.raty.js"></script>
{% endblock %}
{% block navigation %}
	{% activetab "topnav" "home" %}
	{{ block.super }}
{% endblock %}
{% block content %}             
<div class="container-fluid">
	<div class="row-fluid">
		<div class="main span8">
			<section class="sCn pD20">
				<div class="row-fluid">
                    <div class="span9">
                        <form class="form-search rLvE">
                            <input type="text" name="q" class="iSp10 search-query fW-bLd fS14 h35" value="{{query}}">
                            <button class="btn btn-primary lH1 aBsLt bOt0 rGt0" type="submit"><i class="bUi-iCn-sRh-16 pD015" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="row-fluid"><!--/.Category-->
                    <ul class="nav nav-tabs tB-cStM pD015" id="id_gs_modules">
                        <li class="active tBs sec_tab"><a href="/search/ajax/?q={{query}}">{% trans 'All Results' %}</a></li>
                        <li class="sec_tab tBs"><a href="/search/ajax/?q={{query}}&models=article.article">{% trans 'Articles' %}</a></li>
                        <li class="sec_tab tBs"><a href="/search/ajax/?q={{query}}&models=events.event">{% trans 'Events' %}</a></li>
                        <li class="sec_tab tBs"><a href="/search/ajax/?q={{query}}&models=business.business">{% trans 'Business' %} </a></li>
                        <li class="sec_tab tBs"><a href="/search/ajax/?q={{query}}&models=classifieds.classifieds">{% trans 'Classifieds' %}</a></li>
                        <li class="sec_tab tBs"><a href="/search/ajax/?q={{query}}&models=community.entry">{% trans 'Community' %}</a></li>
                        <li class="sec_tab tBs"><a href="/search/ajax/?q={{query}}&models=attraction.attraction">{% trans 'Attractions' %}</a></li>
                        <li class="sec_tab tBs"><a href="/search/ajax/?q={{query}}&models=gallery.photoalbum">{% trans 'Photos' %}</a></li>
                        <li class="sec_tab tBs"><a href="/search/ajax/?q={{query}}&models=videos.videos">{% trans 'Videos' %} </a></li>
                        <li class="sec_tab tBs"><a href="/search/ajax/?q={{query}}&models=movies.movies">{% trans 'Movies' %}</a></li>
						<li class="sec_tab tBs"><a href="/search/ajax/?q={{query}}&models=movies.theatres">{% trans 'Theatres' %}</a></li>
						<li class="sec_tab tBs"><a href="/search/ajax/?q={{query}}&models=deal.deal">{% trans 'Deals' %}</a></li>
                    </ul>
                </div>
                <hr class="mRb10 mRt0 oTsT-hRz20">
                <div class="row-fluid" id="ajax_content_loading" style="text-align: center; padding: 100px 0px;display:none;">
					<img src="{{STATIC_URL}}uploadui/images/global/loading.gif">
                </div><!--xtra div-->
				<div id="ajax_content">
	                {% include 'search/ajax_search_result.html'%}
				</div><!--xtra div-->
				<input type="hidden" value="/search/ajax/?q={{query}}" id="global_url">
            </div>
        </section>
        <aside class="sD-bR span4">
            <div>
                <section class="tXt-cTr pD15 bNr-aD pDt0" id="banner_placement_right">
                    <!--img width="300" height="300" src="http://pagead2.googlesyndication.com/simgad/15356456156878831271"--> 
                </section>
            </div>
        </aside>
        </div>
    </div>
</div>
<script type="text/javascript">
;$.fn.updateTB = function() {
	"use strict";
	var flag=false,lastAppendedChildW = 0, resize = false, $this = $(this);
	var plugin = {
		init: function(){
				plugin.build();
				$(window).on('resize',function(){
					plugin.build();		
				});
			},
		build: function(){
			var cWidth = $this.width(), 
				itemWidth=0, 
				mN=0,
				lEn=$this.children().length, 
				lastItem,
				dropdownFCWidth,
				itemWidth1
			;
			for(var i=0;i<lEn;i++){
				itemWidth += $this.children().eq(i).outerWidth();
				if (itemWidth>=cWidth){
					break;
				}
				mN = i;
				itemWidth1 = itemWidth;
			}
			if(flag == true){
				var nextuntil = $this.children().eq(mN-1).nextUntil($this.children().eq(lEn-1));
				if(nextuntil.width()!== null){
					lastAppendedChildW = nextuntil.outerWidth();
				}
				$this.find('.dropdown-menu').prepend(nextuntil);
				resize = true;	
				if(!$this.find('.dropdown-menu').find('li').length){
					$('#moreTB').remove();	
					flag = false;
					resize = false;	
				}
			}
			if(flag == false && itemWidth>=cWidth){
				flag = true;
				var nextall = $this.children().eq(mN-1).nextAll();
				$this.children().eq(mN-1).after('<li class="rLvE" id="moreTB"><a data-toggle="dropdown" href="#"> More  <span class="caret"></span></a><ul class="dropdown-menu pLrT"> </ul></li>');
				$this.find('.dropdown-menu').append(nextall);
			}
			if(flag == true && resize == true){
				lastAppendedChildW = parseInt(lastAppendedChildW,10);
				itemWidth1 = parseInt(itemWidth1,10);
				var tot  = lastAppendedChildW+itemWidth1;
				if(tot < cWidth){
					$this.children().eq(mN-2).after($this.find('.dropdown-menu li:first-child'));
				}
			}
		}
	};
	plugin.init();
	return this;
};
$('#id_gs_modules').updateTB();
$(document).ready(function(){
	var $cont= $('#id_gs_modules');
	var firts_module = $cont.find('li:first-child a').attr('data-module');
	$cont.find(' > li:first-child').addClass('active');
	$cont.find('li.tBs a').click(function(){
	   var  $this = $(this);
	   $cont.find('li.active').removeClass('active');
	   $this.parent('li').addClass('active');
	   var module= $this.attr('data-module');
	});
   $(document).on( 'click', '#moreTB li.tBs a',function(){
	   var fC = $cont.find(' > li').eq(1);
	   $cont.find('li').eq(1).after($cont.find('li.active'));        
	   $('#moreTB').find('.dropdown-menu').prepend(fC);
   })
});
</script>
{% endblock %}