{% extends base %}
{% load comparison %}
{% load tabs %}
{% load i18n %}
{% load thumbnail %}
{% load ds_utils %}
{% block pagetitle %}{% if category %}{% seo_format_tag module='Events' title=category.seo_title code='LT' category=category.name as seo_meta_title %}{% else %}{% seo_format_tag module='Events' title=seo.seo_title code='MT' as seo_meta_title %}{% endif %}{{seo_meta_title}} {% if page > 1 %}| page {{ page }} {% endif %}{% endblock %}
{% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{seo.seo_description}}" />
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/events.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.js"></script>
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/Event/events.js"></script>  -->
<!--  For Calendar -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/calendar/yahoo.js"></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/calendar/event.js" ></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/calendar/dom.js" ></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/calendar/calendar.js"></script> 
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/calendar.css">
<!--  For Featured Events -->
	<script type="text/javascript" src="{{STATIC_URL}}js/report_data.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/get_report_data.js"></script>
		<script type="text/javascript">
	    $(document).ready(function(){
		 $('.bids').each(function(){
				bids.push($(this).val());
			});
	        module_listing(bids,category);
		});
		
		</script>  
{% endblock %}
{% block navigation %}
	{% activetab "topnav" "events" %}
	{{ block.super }}
{% endblock %}
{% block content %}
{% include 'default/events/event-search.html' %}
			
			<div class="group">
				<div id="breadcrumbs"><a href="/" title="{{ globalsettings.domain }} {% trans 'Home' %}">{% trans 'Home' %}</a> &nbsp;»&nbsp; <a href="/events/" title="Events">{% trans 'Events' %}</a> &nbsp;»&nbsp; <span class="here">{% if bc %}{{bc}}{% else %}{% trans 'All Events' %}{% endif %}</span></div>
				<div class="col_11">
					<div id="events_all" class="thick_box">
                        <div class="thick_box_core group">                    
                            <ul id="event_status" class="thick_tabs by6">
                                <li id="tab_today" {% ifequal day 'today' %}class="active" {%endifequal%}><a href="/events/today.shtml/" class="first">{% trans 'Today' %}</a></li>
                                <li id="tab_tomorrow" {% ifequal day 'tomorrow' %}class="active" {%endifequal%}><a href="/events/tomorrow.shtml/">{% trans 'Tomorrow' %}</a></li>
                                <li id="tab_wekend" {% ifequal day 'this_week' %} class="active" {%endifequal%}><a href="/events/this_week.shtml/">{% trans 'This Weekend' %}</a></li>
								<li id="tab_7days" {% ifequal day 'nxt_week' %}class="active"{%endifequal%}><a href="/events/nxt_week.shtml/">{% trans 'Next 7 Days' %}</a></li>
                                <li id="tab_30days" {% ifequal day 'nxt_month' %}class="active"{%endifequal%}><a href="/events/nxt_month.shtml/">{% trans 'Next 30 Days' %}</a></li>
								<li id="tab_free_event" {% if free_events %} class="active" {% endif %}><a href="{% url 'events_free_events' %}">{% trans 'Free Fun' %}</a></li>                                                  
                            </ul> 
                            {% if event_all %}
                            <form action="{% url 'events_home_event' %}" method="GET" name="aform">{% csrf_token %}
                            <div class="list_actions group">
                                <div class="sort col_4"><p class="dttoday">{% now "l, F j, Y" %}</p></div>
                                <div class="filter col_6 mr_0">
                                		<label for="movie_sort" style="padding-left:10px">{% trans 'Filter By' %}</label>
										<select id="filter_by" name="cat" onchange="javascript:location.replace('{% url 'events_home_event' %}'+this.value)">
                                            <option selected="selected" value="">{% trans 'Category' %}</option>
											{% for cat in categories %}
                                            <option value="{{cat.slug}}"{% ifequal category.name cat.name %}selected="selected"{% endifequal %}>{{cat.name}}</option>
                                            {% endfor %}
                                        </select>                                        
                                </div>
                                <div class="clear"></div>
                            </div>  
                            </form>
							{% endif %}
						{% if message %}							 
							 {% ifequal page 1 %}
							 <p class="global_message" style="padding-left:20px;" align="center"> {{message}}</p>
							 {% endifequal %}{% endif %}
							 
							 {% if empty_message %}
							 <p class="global_message" style="padding-left:20px;" align="center"> {% trans 'Sorry! There are no Events under selected Category.' %}</p>
                             <p class="global_message" align="center"><a href="{% url 'events_addevent' %}">{% trans 'Submit Now.' %}</a></p>

							 {% endif %}
							 
							
                            <div class="events place_list">
                            	{% for event in event_all %}
                                 <div class="item group{% cycle '' ' alt' %}{% if forloop.last %} br_0{% endif %}">
									<input type="hidden" id="fbids" name="fbids" class="bids" value="{{event.id}}" />
									<div class="date">
										{% ifnotequal event.start_date|date:"M"  event.end_date|date:"M" %}
										<span class="dtstart">
										<abbr>{{event.start_date|date:"M"}}</abbr><h3>{{event.start_date|date:"d"}}</h3></span> {% trans 'to' %} <span class="dtend"><abbr>{{event.end_date|date:"M"}}</abbr><h3>{{event.end_date|date:"d"}}</h3></span>
										{% else %}
										{%endifnotequal%}
										
										{% ifequal event.start_date|date:"M"  event.end_date|date:"M" %}
											{% ifequal event.start_date|date:"d"  event.end_date|date:"d" %}
												<span class="dtstart">
													<abbr>{{event.start_date|date:"M"}}</abbr><h3>{{event.start_date|date:"d"}}</h3></span>
									    	{%endifequal%}
									    {%endifequal%}
										{% ifequal event.start_date|date:"M"  event.end_date|date:"M" %}
											{% ifnotequal event.start_date|date:"d"  event.end_date|date:"d" %}
											<span class="dtstart">
												<abbr>{{event.start_date|date:"M"}}</abbr><h3>{{event.start_date|date:"d"}}</h3></span> {% trans 'to' %} <span class="dtend"><h3>{{event.end_date|date:"d"}}</h3></span>
											{%endifnotequal%}
										{%endifequal%}
									</div>
									
									<div class="detail">
                                        {% if event.get_first_event_photo %}
										<a href="/events/{{event.slug}}.html" class="pic"><img src="{{STATIC_URL}}/images/grey.gif" data-src="{% thumbnail event.get_first_event_photo 80x80 %}" alt="{{event.title|slice:"25"}}"/></a>
										{% endif %}
                                        <div class="cat">{% if event.category.all %}{% for cat in event.category.all %}<a href="/events/{{cat.slug}}/">{{cat.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</div><h4 class="title"><a style="" href="/events/{{event.slug}}.html">{{event.title}}</a></h4>
                                        <div class="sub_title">{% trans 'at' %} <a href="{% url 'events_view_venue_event' event.venue.slug %}" class="venue_title" name="venue">{{event.venue}}</a> <span class="time">{% if event.start_time %}({{event.start_time}}{%ifnotequal event.start_time event.end_time %}-{{event.end_time}}{% endifnotequal %}){% else %}{% if event.is_reoccuring %}({% trans 'Recurring Event' %}){% endif %}{% endif %}</span></div>
										<div class="summary">{% autoescape off %}{{event.event_description|striptags|truncatewords:25}}{% endautoescape %}</div>
										{% if event.payment.level == 'level2' %}
											{% if event.listing_start <= today %}
												<div class="featured-list"><div class="cont"></div></div>
											{% endif %}
										{% else %}
											{% if event.payment.level == 'level1' %}
												{% if event.listing_start <= today %}
													<div class="sponsored-list"><div class="cont"></div></div>
												{% endif %}
											{% endif %}
										{% endif %}
                                    </div> 
                                    
                                    <div class="footer"></div>    
                           		</div>
                           		{% endfor %}
                            </div>
							
                            {% if is_paginated %}
								<div id="thick_pagination" class="group">
                                <ul class="pagination_nav">
									{% if has_previous %}
										{% ifequal num current_page %}
												<li class="selected_page"><a href="#">{{ num }}</a></li>
										{% else %}
											<li class="prev"><a href="{{ url }}&page={{ prev }}{% if sfind %}&sfind={{sfind}}{% endif %}"  class="Prev" title="Previous Page"><strong>&laquo;</strong> {% trans 'Prev' %}</a></li> 
										{% endifequal %}
									{% endif %}
								 
									{% if not in_leading_range %}
										{% for num in pages_outside_trailing_range %}
											{% ifequal num current_page %}
												<li class="selected_page"><a href="#">{{ num }}</a></li>
											{% else %}
												<li><a href="{{ url }}&page={{ num }}{% if sfind %}&sfind={{sfind}}{% endif %}">{{ num }}</a></li>
											{% endifequal %}
										{% endfor %}
										<li class="break">&hellip;</li>
									{% endif %}
									 
									{% for num in page_numbers %}
										  {% ifequal num current_page %}
										    	<li class="selected_page"><a href="#">{{ num }}</a></li>
										  {% else %}
										  		<li><a href="{{ url }}&page={{ num }}{% if sfind %}&sfind={{sfind}}{% endif %}">{{ num }}</a></li>
										  {% endifequal %}
									{% endfor %}
									 
									{% if not in_trailing_range %}
										<li class="break">&hellip;</li>
										{% for num in pages_outside_leading_range reversed %}
											{% ifequal num current_page %}
												<li class="selected_page"><a href="#">{{ num }}</a></li>
											{% else %}
												<li><a href="{{ url }}&page={{ num }}{% if sfind %}&sfind={{sfind}}{% endif %}">{{ num }}</a></li>
											{% endifequal %}
										{% endfor %}
									{% endif %}
									 
									{% if has_next %}
										<li class="next br_0"><a href="{{ url }}&page={{ next }}{% if sfind %}&sfind={{sfind}}{% endif %}"  class="Next" title="Next Page">{% trans 'Next' %} <strong>&raquo;</strong></a></li>
									{% endif %}
								</ul>
								</div>
						{% endif %}                      
                        </div>
					</div>                                                    
                </div>

                <div class="secondary">
						<div id="banner_placement_right"></div><!-- Banner Placement -->	
                    	<div id="calendar">
                        	<div id="today_date">
                            	<h3>Today</h3>
                            	<h1>{% now "d" %}</h1>
                                <p>{% now "l" %}<br>{% now "F d"%}, {% now "Y" %}</p>

                            </div>
                            <div id="cal1Container" class="yui-calcontainer single"></div> 
                            <div class="clear"></div>                       
                        </div>
						
						<div class="category_list">
                            <h2 class="section_title">{% trans 'Events by category' %}</h2>
                            <ul class="by2">
                                {% for category in categories %}
                                <li><a id="nav_typenavigator_1" href="/events/{{category.slug}}/">{{category.name}}</a>&nbsp;({{category.get_category_count}})</li>
								{% endfor %}

                            </ul> 
                            <div class="clear"></div>                                       
                        </div>
                    </div><!-- /secondary -->
			</div>
			
	
<script type="text/javascript">
	var spchar = '/events/date/';
	YAHOO.namespace("example.calendar");
	YAHOO.example.calendar.init = function() {
		var eCount = 1;
		function mySelectHandler(type,args,obj) {
			var selected = args[0];
			var selDate = this.toDate(selected[0]);
			window.location=spchar + selected[0];
		};
		myCalendar = new YAHOO.widget.Calendar("cal1","cal1Container",{ mindate: new Date("{% now 'F d, Y H:i:s' %}")});
		{% if s_date %}
		myCalendar.cfg.setProperty('selected','{{s_date|date:"m/d/Y"}}',false);
		myCalendar.cfg.setProperty("pagedate",'{{s_date|date:"m/Y"}}',false); 
		{% endif %}
		myCalendar.selectEvent.subscribe(mySelectHandler, 
		myCalendar, true);
		myCalendar.render();
	}
	YAHOO.util.Event.onDOMReady(YAHOO.example.calendar.init);

	function select_today(){
		$(".today").removeClass('today');
		$(".d{% now 'j' %}").addClass('today');
	}
	setTimeout('select_today()', 3000);

</script>
			
 {% endblock %}