{% extends base %}
{% load comparison %}
{% load tabs %}
{% load i18n %}
{% load thumbnail %}
{% load ds_utils %}
{% block pagetitle %}{% if category %}{% seo_format_tag module='Events' title=category.seo_title code='LT' category=category.name as seo_meta_title %}{% else %}{% seo_format_tag module='Events' title=seo.seo_title code='MT' as seo_meta_title %}{% endif %}{{seo_meta_title}} {% if page > 1 %}| page {{ page }} {% endif %}{% endblock %}
{% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{seo.seo_description}}" />
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/events.css">
	
    <!--  For Calendar -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/calendar/yahoo.js"></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/calendar/event.js" ></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/calendar/dom.js" ></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/calendar/calendar.js"></script> 
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/calendar.css">
	<!--  For Featured Events -->
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/Event/events.js"></script>  -->
{% endblock %}
{% block navigation %}
	{% activetab "topnav" "events" %}
	{{ block.super }}
{% endblock %}
{% block content %}
			{% include 'default/events/event-search.html' %}
        	<div class="fit_width">
                <div class="group">
                    <div class="col_11">
                    	<div class="whole_slider_wrapper">
                        <div id="event_spotlight">
							
                            <div class="spotlight_inner"><!-- The whole slider wrapper -->
                         	
							<!--slider Content -->
						    {% for event in featured %}	
								<div class="featured_content_div" {% if forloop.first %} style="display:block;"{% endif %} id="{{ event.id }}" >
                        	    <a href="/events/{{event.slug}}.html" class="event_image">
                                    <img src="{% thumbnail event.get_first_event_photo 401x246 %}" alt="{{event.title}}">
                                </a>
							    <div class="f_event_details">
                                    <div class="f_event_details_inner">
                                        <h3><a href="/events/{{event.slug}}.html">{{event.title}}</a></h3>
                                        <div class="sub_title"><span class="date">{{event.start_date|ds_site_dateformat}}</span> <span class="venue">{% trans 'at' %} <a href="{% url 'events_view_venue_event' event.venue.slug %}">{{event.venue}}</a></span></div>
											
                                        <p>{% autoescape off %}{{event.event_description|striptags|truncatewords:30}}{% endautoescape %}<a href="/events/{{event.slug}}.html" class="full_story">{% trans 'MORE' %}</a></p>
                                   </div>
                                </div>
                                </div>
							{% endfor %}
							<!--slider Content end -->
							
							<!--slider navigation-->	
								<div class="f_event_slide_nav">
                                    <div class="prev">{% trans 'Prev' %}</div>
                                    <div class="pages">
                                        <ul id="ftrd_nav_ul">
											{% for events in featured %}
                                        	<li {% if forloop.first %} class="nav active first_li click_pvnt" {% endif %} {% if forloop.last %} class="nav last_li click_pvnt" {% else %} class="nav click_pvnt" {% endif %}><a href="" name="{{ events.id }}">{{ forloop.counter }}</a></li>
											{% endfor %}
                                        </ul>
                                    </div>
                                    <div class="next">{% trans 'Next' %}</div>
                                </div>      
							<!--slider navigation end-->                             
						    </div>
					    </div><!-- /event_spotlight -->
						</div><!-- The whole slider wrapper end -->
                    </div>
                    <div class="secondary">
                        <div class="advt ad_300x250 br_0">
                            <span class="declare">{% trans 'Advertisement' %}</span>
                            <div class="display_ad">
                    	
                    	</div>
                        </div><!-- /ad_300x250 -->
					</div> <!-- /secondary -->

				</div>
			</div>

            <div class="main_wraper">
                <div class="group">                                        
                    <div class="col_11">                                     
                        <div id="event_list" class="thick_box">

                            <div class="thick_box_core group" id="events">                    
                                <ul id="event_status" class="thick_tabs by6">
                                <li id="tab_today" {% ifequal day 'today' %}class="active" {%endifequal%}><a href="/events/today.shtml/#events" class="first">{% trans 'Today' %}</a></li>
                                <li id="tab_tomorrow" {% ifequal day 'tomorrow' %}class="active" {%endifequal%}><a href="/events/tomorrow.shtml/#events">{% trans 'Tomorrow' %}</a></li>
                                <li id="tab_wekend" {% ifequal day 'this_week' %} class="active" {%endifequal%}><a href="/events/this_week.shtml/#events">{% trans 'This Weekend' %}</a></li>
								<li id="tab_7days" {% ifequal day 'nxt_week' %}class="active"{%endifequal%}><a href="/events/nxt_week.shtml/#events">{% trans 'Next 7 Days' %}</a></li>
                                <li id="tab_30days" {% ifequal day 'nxt_month' %}class="active"{%endifequal%}><a href="/events/nxt_month.shtml/#events">{% trans 'Next 30 Days' %}</a></li>
								<li id="tab_free_event" {% if free_events %} class="active" {% endif %}><a href="{% url 'events_free_events' %}">{% trans 'Free Fun' %}</a></li>                                
                                </ul>
								{% if event_all %}
								<div class="list_info group">
                                    <p class="dttoday">{% now "l, F j, Y" %}</p>
                                </div>                         
                                <div class="clear"></div>
								{% endif %}
								
								{% if message %}{% ifequal page 1 %}<div class="flash_alert" style="-moz-border-radius:6px; margin:40px;">{{message}}</div>{% endifequal %}{% endif %}
								
								{% if event_all %}
								<div class="events place_list">
								{% for event in event_all %} 
                                <div class="item group{% cycle '' ' alt' %}{% if forloop.last %} br_0{% endif %}">
									<div class="date as_date_ie_fix">
										{% ifnotequal event.start_date|date:"M"  event.end_date|date:"M" %}
										<span class="dtstart">
										<abbr>{{event.start_date|date:"M"}}</abbr><h3>{{event.start_date|date:"d"}}</h3></span> to <span class="dtend"><abbr>{{event.end_date|date:"M"}}</abbr><h3>{{event.end_date|date:"d"}}</h3></span>
										{% else %}
										{%endifnotequal%}
										
										{% ifequal event.start_date|date:"M"  event.end_date|date:"M" %}
											{% ifequal event.start_date|date:"d"  event.end_date|date:"d" %}
												<span class="dtstart">
													<abbr>{{event.start_date|date:"M"}}</abbr><h3>{{event.start_date|date:"d"}}</h3></span>
									    	{%endifequal%}
									    {%endifequal%}
										{% ifequal event.start_date|date:"M"  event.end_date|date:"M" %}
											{% ifnotequal event.start_date|date:"d"  event.end_date|date:"d" %}
											<span class="dtstart">
												<abbr>{{event.start_date|date:"M"}}</abbr><h3>{{event.start_date|date:"d"}}</h3></span> {% trans 'to' %} <span class="dtend"><h3>{{event.end_date|date:"d"}}</h3></span>
											{%endifnotequal%}
										{%endifequal%}
									</div>
									
									<div class="detail">
										{% if event.get_first_event_photo %}
										<a href="/events/{{event.slug}}.html" class="pic"><img src="{% thumbnail event.get_first_event_photo 80x80 %}" alt="{{event.title|slice:"25"}}"/></a>
										{% endif %}
										<div class="cat">{% if event.category.all %}{% for cat in event.category.all %}<a href="/events/{{cat.slug}}/">{{cat.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</div><h4 class="title"><a style="" href="/events/{{event.slug}}.html">{{event.title}}</a></h4>
                                        <div class="sub_title">at <a href="{% url 'events_view_venue_event' event.venue.slug %}" class="venue_title" name="venue">{{event.venue}}</a> <!--span class="time">{% if event.start_time %}({{event.start_time}}{%ifnotequal event.start_time event.end_time %}-{{event.end_time}}{% endifnotequal %}){% endif %}</span--></div>
										<div class="summary">{% autoescape off %}{{event.description|striptags|truncatewords:25}}{% endautoescape %}</div>
                                    </div> 
                                    
                                    <div class="footer"></div>    
                           		</div>
								{% endfor %}
                                </div>
								{% endif %}
                                {% if is_paginated %}
								<div id="thick_pagination" class="group">
                                <ul class="pagination_nav">
									{% if has_previous %}
										{% ifequal num current_page %}
												<li class="selected_page"><a href="#">{{ num }}</a></li>
										{% else %}
											<li class="prev"><a href="{{ url }}&page={{ prev }}"  class="Prev" title="Previous Page"><strong>&laquo;</strong> {% trans 'Prev' %}</a></li> 
										{% endifequal %}
									{% endif %}
								 
									{% if not in_leading_range %}
										{% for num in pages_outside_trailing_range %}
											{% ifequal num current_page %}
												<li class="selected_page"><a href="#">{{ num }}</a></li>
											{% else %}
												<li><a href="{{ url }}&page={{ num }}">{{ num }}</a></li>
											{% endifequal %}
										{% endfor %}
										<li class="break">&hellip;</li>
									{% endif %}
									 
									{% for num in page_numbers %}
										  {% ifequal num current_page %}
										    	<li class="selected_page"><a href="#">{{ num }}</a></li>
										  {% else %}
										  		<li><a href="{{ url }}&page={{ num }}">{{ num }}</a></li>
										  {% endifequal %}
									{% endfor %}
									 
									{% if not in_trailing_range %}
										<li class="break">&hellip;</li>
										{% for num in pages_outside_leading_range reversed %}
											{% ifequal num current_page %}
												<li class="selected_page"><a href="#">{{ num }}</a></li>
											{% else %}
												<li><a href="{{ url }}&page={{ num }}">{{ num }}</a></li>
											{% endifequal %}
										{% endfor %}
									{% endif %}
									 
									{% if has_next %}
										<li class="next br_0"><a href="{{ url }}&page={{ next }}"  class="Next" title="Next Page">{% trans 'Next' %} <strong>&raquo;</strong></a></li>
									{% endif %}
								</ul>
								</div>
						{% endif %}                    
                            </div>
                        </div>

					</div>                        
                	<div class="secondary">
                    	<div id="calendar">
                        	<div id="today_date">
                            	<h3>Today</h3>
                            	<h1>{% now "d" %}</h1>
                                <p>{% now "l" %}<br>{% now "F d"%}, {% now "Y" %}</p>

                            </div>
                            <div id="cal1Container" class="yui-calcontainer single"></div> 
                            <div class="clear"></div>                       
                        </div>
                        <div class="category_list">
                            <h2 class="section_title">{% trans 'Events by category' %}</h2>
                            <ul class="by2">
                                {% for category in categories %}
                                <li><a id="nav_typenavigator_1" href="/events/{{category.slug}}/{% if free_events %}?status=free-events{% endif %}">{{category.name}}</a>&nbsp;({% if free_events %}{{category.get_free_category_count}}{% else %}{{category.get_category_count}}{% endif %})</li>
								{% endfor %}

                            </ul> 
                            <div class="clear"></div>                                       
                        </div>
						<div class="venu_list">
                            <h2 class="section_title"><a href="{% url 'events_venue_list' %}">{% trans 'Popular venues' %}</a></h2>
                            <ul class="lst group">
                              {% for venue in popvenues %}
                                <li class="item">
                                	<span class="cat"><a href="{% url 'events_venue_list' %}">{{ venue.type }}</a></span>

                                    <h4><a class="url" href="{% url 'events_view_venue_event' venue.slug %}">{{ venue.venue }}</a></h4>
                                    <p class="address">{{ venue.address1 }}{% if venue.address2 %}  {{ venue.address2 }}{% endif %}</p>
                                </li><!-- /item -->  
							  {% endfor %}                                 
                            </ul>
                            <p class="more_link"><a href="{% url 'events_venue_list' %}"><strong>{% trans 'See all Venues' %}</strong></a></p>     
                        </div>

						
                    </div><!-- /secondary -->
                </div>

	
<script type="text/javascript">
	var spchar = '/events/date/';
	YAHOO.namespace("example.calendar");
	YAHOO.example.calendar.init = function() {
		var eCount = 1;
		function mySelectHandler(type,args,obj) {
			var selected = args[0];
			var selDate = this.toDate(selected[0]);
			window.location=spchar + selected[0];
		};
		YAHOO.example.calendar.cal1 = new YAHOO.widget.Calendar("cal1","cal1Container",{ mindate: new Date()});
		YAHOO.example.calendar.cal1.selectEvent.subscribe(mySelectHandler, 
		YAHOO.example.calendar.cal1, true);
		YAHOO.example.calendar.cal1.render();
	}
	YAHOO.util.Event.onDOMReady(YAHOO.example.calendar.init);
</script>
				
		{% endblock %}

