{% load i18n %}
{% if popvenues %}
<section class="sCn mDa-lT-mNi">
    <div class="sCn-tTl sCn-tTl-bR">
    <h3>
        <span>
            {% trans 'Popular Venues' %} <!-- a href="#" class="btn btn-danger btn-small pLrT">Share</a--><a href="{% url 'events_venue_list' %}" class="tXt-lNk rGhT">{% trans 'View all' %}</a>
        </span>
    </h3>
    </div>
    <ul class="mDa-lT mDa-oT-lT">
		{% for venue in popvenues %}
        <li class="mDa">
        	<div class="mDa-iN">
                <div class="mDa-bDy pD0">
                    <div class="pLlT iM">
                    </div>
                    <div class="cLr-lT">
                        <h5 class="mDa-hD tRnC mRb5  rLvE" title=""><a href="{% url 'events_view_venue_event' venue.slug %}" class="fW-bLd cLr-dRk">{{venue.venue}} </a>
                        <a class="fS12 cLr-lTgRy pLrT" href="{% url 'events_view_venue_event' venue.slug %}#events"><i aria-hidden="true" class="bUi-iCn-cLdR-12"></i> {{ venue.get_events.count }}</a>
                        </h5>
                        <div class="mDa-dTa fS12 cLr-gRy">
                            <span class="fS12 cLr-lTgRy pLlT"><i aria-hidden="true" class="bUi-iCn-mP-mKr-12"></i> {{venue.address1}}</span>
                        </div> 
                    </div> 
                </div>
            </div>
        </li>
		{% endfor %}
    </ul>
</section>
{% endif %}