{% extends base %}
{% load comparison %}
{% load thumbnail %}
{% load tabs %}
{% load i18n %}
{% load ds_utils %}
{% block pagetitle %}{% seo_format_tag module='Venues' title=venue.venue code='DT' category=category.name as seo_meta_title %}{{seo_meta_title}}{% endblock %}
{% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ seo.seo_description }}" />
{% endblock %}
{% block head %}
    <script src="{{STATIC_URL}}themes/js/ios-orientationchange-fix.js"></script>
    <script src="{{STATIC_URL}}themes/js/jquery.swipebox.js"></script>
{% endblock %}
{% block navigation %}
    {% activetab "topnav" "venues" %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="main span8">
                <div class="fTrD-bL bNr mDa-30 aDpTv tXt-oTsD">
                    <div class="fTrD-bL-iN bM-bX">
                        <div class="fTrD-iTmS">
                            <div class="fTrD-iTm">
                                <div class="fTrD-tXt">
                                    <div class="fTrD-tXt-iN pD15">
                                        <h3 class="fTrD-hD cLr-bLk">{{ venue.venue }}</h3>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs mRb0 pD015">
                                    <li class="active"><a href="#">About</a></li>
                                    <!--li><a href="#">Events</a></li>
                                    <li><a href="#">Photos</a></li-->
                                </ul>                                      
                            </div>
                        </div>
                        <!-- /.fTrD-iTms --> 
                    </div>
                    <!-- /.fTrD-bL-iN --> 
                </div>
                <!-- /.fTrD-bL -->
                <div class="row-fluid mRb20">
                    <div class="{% if venue.get_venue_photos %}span7{% else %}span12{% endif %}">
                        <section class="sCn">
                            <div class="sCn-tTl">
                                <h4><span>Details</span></h4>
                            </div>
                            <div class="dTs-cRd">
                                <ul class="iCnC-lSt iCn12 mRb20 iCn-gRy">
                                    <li class="iCnC-lSt-iTm">
                                        <i aria-hidden="true" class="bUi-iCn-mP-mKr-12"></i>
                                        <p class="iCnC-dL"><span><a href="javascript:void(0);" class="cLr-dRk">{{ venue.venue }}</a></span> <span class="cLr-dRk">{{ venue.address1 }}{% if venue.address2 %}, {{ venue.address2 }}{% endif %}{% if venue.zip %} {{ venue.zip }}{% endif %}</span></p>
                                    </li>
                                    {% if venue.telephone or venue.mobile %}
                                    <li class="iCnC-lSt-iTm">
                                        <i class="bUi-iCn-cAl-12"></i>
                                        <p class="iCnC-dL">{% if venue.telephone %}<span class="cLr-dRk">{{ venue.telephone }}</span>{% endif %}{% if venue.mobile %}<span class="cLr-dRk sPrTr">{{ venue.mobile }}</span>{% endif %}</p>
                                    </li>
                                    {% endif %}
                                    {% if venue.website or venue.email %}
                                    <li class="iCnC-lSt-iTm">
                                        <i aria-hidden="true" class="bUi-iCn-gLb-12"></i>
                                        <p class="iCnC-dL">{% if venue.website %}<span><a href="{{ venue.website }}" target="_blank" class="cLr-dRk">{{ venue.website }}</a></span>{% endif %}{% if venue.email %}<span class="sPrTr"><a href="mailto:{{venue.email}}"  class="cLr-dRk">{{ venue.email }}</a></span>{% endif %}</p>
                                    </li>
                                    {% endif %}
                                </ul>
                                <div class="mP-wPr oTsT-hRz mRb20">
                                    <div class="mP-iN">
                                        <img class="Rlb" src="https://maps.googleapis.com/maps/api/staticmap?center={{ venue.lat }},{{ venue.lon }}&zoom={{ venue.zoom }}&size=600x150&markers={{ venue.lat }},{{ venue.lon }}&sensor=false&scale=2">
                                        <div class="mP-aCtN">
                                            <a href="javascript:void(0);" title="{% trans 'Directions' %}" onclick="init_get_direction('{{venue.id}}','{{venue.id}}','venues','{% url 'locality_map_ajax_get_direction' %}');" role="button" class="btn btn-large btn-light"><i aria-hidden="true" class="bUi-iCn-dRt-16"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mRb20">
                                    <h5 class="cLr-bLk hide">Description</h5>
                                    {% if venue.description %}<div class="dSc sMl cLr-dRk">{% autoescape off %}{{venue.description}}{% endautoescape %}</div>{% endif %}
                                </div>
                            </div>
                        </section>
                    </div>
                    {% if venue.get_venue_photos %}
                    <div class="span5">
                        <section class="sCn">
                            <div class="sCn-tTl">
                                <h4><span>Photos</span></h4>
                            </div>
                            <ul class="tMbS tHcL mRb0 pDfX">
                                {% for img in venue.get_venue_photos %}
                                <li>
                                    <a class="bUi-tMb-wPr tMb-100 fLxiMgH swipebox" href="{{img.photo.url}}">
                                        <span class="bUi-tMb">
                                            <span class="bUi-tMb-pRpL">
                                                <span class="bUi-tMb-cLp">
                                                    <span class="bUi-tMb-cLp-iN">
                                                        <img class="mDa-oT" src="{% thumbnail img.photo 0x120 %}" alt="{{ venue.venue }}">
                                                        <span class="vRtL-aLn">
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                    {% endif %}
                    
                </div>
                
                {% if event_all %}
                <div class="row-fluid mRb30">
                    <div class="tLbR ">
                        <div class="tLbR-iR" id="events">
                            <div class="sCn-tTl pLlT mRb0">
                                <h2><a href="javascript:void(0)" class="cLr-dRk">All Events In The Venue:{{venue.venue}} </a></h2>
                            </div>                             
                            <div class="btn-toolbar pLrT hP">
                                <div id="media-toggle" class="btn-group" data-toggle="buttons-radio">                                            
                                    <button type="button" title='Grid view' class="btn btn-link c-gD {% if view_type == 'grid' %}active{% endif %}" onclick="change_url_parm('grid');"><i class="bUi-iCn-tH-lR-aLt-16" aria-hidden="true"></i></button>
                                    <button type="button" title='List View'class="btn btn-link c-lT mRl5 {% if view_type == 'list' %}active{% endif %}" onclick="change_url_parm('list');"><i class="bUi-iCn-rE-oDr-aLt-16" aria-hidden="true"></i></button>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <ul class="modulesBrowseData tWcL {% if view_type == 'list' %}mDa-lT mDa-oT-lT{% else %}mDa-gD dSgDwDt mDa-oT-tP{% endif %}"  >
                    <li class="mDa-gRp"><!--gb li start -->
                        <!--h3 class="mDa-gRp-tTl"><a href="#">Today</a> <small>{{event.start_date}}May 29, 2013</small></h3-->
                        <ul {% if view_type == 'grid' %}class="pDfX"{% endif %}>
                        {% for event in event_all %}
						{% with event.get_first_event_photo as event_img %}
                            <li class="mDa">
                                <div class="mDa-iN">
                                    <div class="mDa-wPr"> <a class="bUi-tMb-wPr tMb-65 bUi-tMb-eVnT fLxiMgW" href="{{event.get_absolute_url}}">
                                            <span class="bUi-tMb">
                                                <span class="bUi-tMb-pRpL">
                                                    <span class="bUi-tMb-cLp">
                                                        <span class="bUi-tMb-cLp-iN">
                                                            <img class="mDa-oT" src="{% if event_img %}{% thumbnail event_img 400x0 %}{% else %}{{STATIC_URL}}themes/img/no-event.png{% endif %}" alt="{{event.title}}" title="{{event.title}}">
                                                            <span class="vRtL-aLn">
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                            <span class="mDa-cAt">{{event.category.all.0.name}}</span>
                                        </a> </div>
                                    <div class="mDa-bDy">
                                        <h4 class="mDa-hD" title="{{event.title}}"><a href="{{event.get_absolute_url}}">{{event.title}}</a></h4>
                                        <div class="mDa-dTa">
                                            <ul class="iCnC-lSt iCn12 iCn-gRy">
                                                <li class="iCnC-lSt-iTm">
                                                    <i class="bUi-iCn-tMe-12"></i>{{event.start_date|ds_site_dateformat}}{% if event.start_time %}, {{event.start_time|ds_site_timeformat}}{% endif %} {% if event.end_time %} - {{event.end_time|ds_site_timeformat}}{% endif %}
                                                </li>
                                                <li class="iCnC-lSt-iTm">
                                                    <i class="bUi-iCn-mP-mKr-12"></i><a href="{% url 'events_view_venue_event' event.venue.slug %}">{{event.venue}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--div class="mDa-hVr"> <a data-toggle="tooltip" data-placement="right" title="Share" class="iCn-lNk btn btn-mini" href="#"><i class="BUI-icon-63"></i> Share</a> </div-->
                                    </div>
                                </div>
                            </li>
						 {% endwith %}
                         {% endfor %} 
                        </ul>
                    </li>
                </ul>
                </div>
                {% endif %}
                
                <div class="row-fluid hide">
                    <div class="sCn-tTl">
                        <h3><span>All photos of The Prerana Academy</span></h3>
                    </div>
                    <ul class="tMbS sXcL pDfX pDmNi">
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="http://sphotos-e.ak.fbcdn.net/hphotos-ak-ash4/485435_543541725689317_1745267837_o.jpg">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="http://sphotos-e.ak.fbcdn.net/hphotos-ak-ash4/485435_543541725689317_1745267837_o.jpg" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="http://sphotos-d.ak.fbcdn.net/hphotos-ak-ash3/p206x206/943416_552444324799057_1392383914_n.jpg">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="http://sphotos-d.ak.fbcdn.net/hphotos-ak-ash3/p206x206/943416_552444324799057_1392383914_n.jpg" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="http://sphotos-g.ak.fbcdn.net/hphotos-ak-ash3/944202_545345408842282_1492967362_n.jpg">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="http://sphotos-g.ak.fbcdn.net/hphotos-ak-ash3/944202_545345408842282_1492967362_n.jpg" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="http://sphotos-h.ak.fbcdn.net/hphotos-ak-prn2/262386_541707762539380_1905657938_n.jpg">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="http://sphotos-h.ak.fbcdn.net/hphotos-ak-prn2/262386_541707762539380_1905657938_n.jpg" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li><li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="http://sphotos-a.ak.fbcdn.net/hphotos-ak-ash3/171945_469331226443701_1817238156_o.jpg">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="http://sphotos-a.ak.fbcdn.net/hphotos-ak-ash3/171945_469331226443701_1817238156_o.jpg" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="http://sphotos-d.ak.fbcdn.net/hphotos-ak-ash3/735839_488195687890588_1149534555_o.jpg">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="http://sphotos-d.ak.fbcdn.net/hphotos-ak-ash3/735839_488195687890588_1149534555_o.jpg" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="http://media-cache-ec3.pinimg.com/550x/ba/4b/df/ba4bdf8a789561ba8f6e81ff53c12029.jpg">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="http://media-cache-ec3.pinimg.com/550x/ba/4b/df/ba4bdf8a789561ba8f6e81ff53c12029.jpg" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="http://media-cache-ec4.pinimg.com/550x/e5/e1/76/e5e176bbb772b4e842039a3a8b3e8858.jpg">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="http://media-cache-ec4.pinimg.com/550x/e5/e1/76/e5e176bbb772b4e842039a3a8b3e8858.jpg" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="https://lh3.googleusercontent.com/-sJ1JkNP5TJc/T4uhM9ID0UI/AAAAAAAJu7s/-Hj8vNSB8Y4/w1069-h707-no/Hilton+New+Delhi+Janakpuri+Hotel">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="https://lh3.googleusercontent.com/-sJ1JkNP5TJc/T4uhM9ID0UI/AAAAAAAJu7s/-Hj8vNSB8Y4/w1069-h707-no/Hilton+New+Delhi+Janakpuri+Hotel" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="https://lh4.googleusercontent.com/-DS2ldJWxHk4/T486Ira8N2I/AAAAAAATagc/HFGjSkvXLRI/w1068-h707-no/Hilton+New+Delhi+Janakpuri+Hotel">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="https://lh4.googleusercontent.com/-DS2ldJWxHk4/T486Ira8N2I/AAAAAAATagc/HFGjSkvXLRI/w1068-h707-no/Hilton+New+Delhi+Janakpuri+Hotel" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="https://lh5.googleusercontent.com/-TE-Amlp4OXw/T4sPEWII-zI/AAAAAAAIA3M/6SzK-DeCmTE/w1071-h707-no/Hilton+New+Delhi+Janakpuri+Hotel">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="https://lh5.googleusercontent.com/-TE-Amlp4OXw/T4sPEWII-zI/AAAAAAAIA3M/6SzK-DeCmTE/w1071-h707-no/Hilton+New+Delhi+Janakpuri+Hotel" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="https://lh3.googleusercontent.com/-LLPK4DrMkRg/T8GXc0sEbnI/AAAAAAA8Wn8/qmqlWeEvNJk/w847-h707-no/photo.jpg">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="https://lh3.googleusercontent.com/-LLPK4DrMkRg/T8GXc0sEbnI/AAAAAAA8Wn8/qmqlWeEvNJk/w847-h707-no/photo.jpg" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="https://lh3.googleusercontent.com/-U06OvmDp1OA/T4z-5To4Z-I/AAAAAAAN0vU/bXH6xjUonjw/w1065-h707-no/Hilton+New+Delhi+Janakpuri+Hotel">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="https://lh3.googleusercontent.com/-U06OvmDp1OA/T4z-5To4Z-I/AAAAAAAN0vU/bXH6xjUonjw/w1065-h707-no/Hilton+New+Delhi+Janakpuri+Hotel" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="https://lh4.googleusercontent.com/-Pkvg-Bx-5U4/T4rAjzEgpxI/AAAAAAAHHSk/PqIXvdHP7D0/w1064-h707-no/Hilton+New+Delhi+Janakpuri+Hotel">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="https://lh4.googleusercontent.com/-Pkvg-Bx-5U4/T4rAjzEgpxI/AAAAAAAHHSk/PqIXvdHP7D0/w1064-h707-no/Hilton+New+Delhi+Janakpuri+Hotel" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="https://lh6.googleusercontent.com/-wdtB6xmM3c4/T48vlsMWHMI/AAAAAAATy7s/hTEsM0p1Y8U/w1071-h707-no/Hilton+New+Delhi+Janakpuri+Hotel">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="https://lh6.googleusercontent.com/-wdtB6xmM3c4/T48vlsMWHMI/AAAAAAATy7s/hTEsM0p1Y8U/w1071-h707-no/Hilton+New+Delhi+Janakpuri+Hotel" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="https://lh4.googleusercontent.com/-BEhHyvvdGew/T5WVuqbcq0I/AAAAAAAjGeo/K8DXpNu1Wzs/w1073-h707-no/Hilton+New+Delhi+Janakpuri+Hotel">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="https://lh4.googleusercontent.com/-BEhHyvvdGew/T5WVuqbcq0I/AAAAAAAjGeo/K8DXpNu1Wzs/w1073-h707-no/Hilton+New+Delhi+Janakpuri+Hotel" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox"  href="https://lh3.googleusercontent.com/-knlffXjnoTU/T4eti32zdpI/AAAAAAAAHLE/MNRFRR5-HB4/w1065-h707-no/Hilton+New+Delhi+Janakpuri+Hotel">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="https://lh3.googleusercontent.com/-knlffXjnoTU/T4eti32zdpI/AAAAAAAAHLE/MNRFRR5-HB4/w1065-h707-no/Hilton+New+Delhi+Janakpuri+Hotel" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="https://lh4.googleusercontent.com/-W9Ls3OFldNk/T4v82GIdEKI/AAAAAAAK2VI/b1Vf6wSymVU/w1007-h707-no/Hilton+New+Delhi+Janakpuri+Hotel">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="https://lh4.googleusercontent.com/-W9Ls3OFldNk/T4v82GIdEKI/AAAAAAAK2VI/b1Vf6wSymVU/w1007-h707-no/Hilton+New+Delhi+Janakpuri+Hotel" alt="">
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <aside class="sD-bR span4 vR">
                <section class="sCn hide">
                    <div class="sCn-tTl">
                        <h3><span>Top Events of the Week</span></h3>
                    </div>
                    <div class="fTrD-bL aDpTv sLdR-mDm tXt-cTr cTrL-dFt">
                        <div class="fTrD-bL-iN">
                            <ul id="sL6" class="fTrD-iTmS">
                                <li class="fTrD-iTm bM-bX">
                                    <div class="fTrD-tXt fAd">
                                        <div class="vAlGn">
                                            <div class="fTrD-tXt-iN">
                                                <h4 class="fTrD-hD uC"><a href="#">Trinidad and Tobago Carnival</a></h4>
                                                <div class="fTrD-mTa">
                                                    <ul class="iCnC-lSt iCn12 iN-bLk iCn-wHt">
                                                        <li class="iCnC-lSt-iTm"><i class="bUi-iCn-cLdR-12"></i>34</li>
                                                        <li class="iCnC-lSt-iTm"><i class="bUi-iCn-uSr-12"></i><a href="#">234</a></li>
                                                        <li class="iCnC-lSt-iTm"><i class="bUi-iCn-rPl-rT-12"></i><a href="#">12</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figure class="fTrD-mDa">
                                        <span class="bUi-tMb-wPr fLxiMgW" href="#">
                                            <span class="bUi-tMb">
                                                <span class="bUi-tMb-pRpL">
                                                    <span class="bUi-tMb-cLp">
                                                        <span class="bUi-tMb-cLp-iN">
                                                            <img class="mDa-oT" src="http://cf4.thingd.com/default/298204281_97e0b678844d.jpg" alt="">
                                                            <span class="vRtL-aLn">
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </figure>
                                </li>
                                <li class="fTrD-iTm bM-bX">
                                    <div class="fTrD-tXt fAd">
                                        <div class="vAlGn">
                                            <div class="fTrD-tXt-iN">
                                                <h4 class="fTrD-hD uC"><a href="#">Trinidad and Tobago Carnival</a></h4>
                                                <div class="fTrD-mTa">
                                                    <ul class="iCnC-lSt iCn12 iN-bLk iCn-wHt">
                                                        <li class="iCnC-lSt-iTm"><i class="bUi-iCn-cLdR-12"></i>34</li>
                                                        <li class="iCnC-lSt-iTm"><i class="bUi-iCn-uSr-12"></i><a href="#">234</a></li>
                                                        <li class="iCnC-lSt-iTm"><i class="bUi-iCn-rPl-rT-12"></i><a href="#">12</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <figure class="fTrD-mDa">
                                        <span class="bUi-tMb-wPr fLxiMgW" href="#">
                                            <span class="bUi-tMb">
                                                <span class="bUi-tMb-pRpL">
                                                    <span class="bUi-tMb-cLp">
                                                        <span class="bUi-tMb-cLp-iN">
                                                            <img class="mDa-oT" src="http://cf1.thingd.com/default/296180110065665415_8025d6d9369f.jpg" alt="">
                                                            <span class="vRtL-aLn">
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                        <!-- /.fTrD-bL-iN --> 
                    </div>
                    <!-- /.fTrD-bL --> 
                </section>
                <section class="sCn bNr-aD hide" id="banner_placement_right"> 
                </section>
                {% include 'default/likebox.html' %}
            </aside>
        </div>
    </div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>  
<script type="text/javascript" src="{{STATIC_URL}}js/locality/global-map-location.js"></script>   
<script>
 $(document).ready(function(){
    try{$(".swipebox").swipebox();}
    catch(e){}
    });
var disqus_identifier  = 'Venues-{{venue.id}}';
</script>              
{% endblock %}            