{% load thumbnail %}
{% if businesslist %}
<section class="sCn">
	<div class="sCn-tTl">
		<h3>
			<span>Latest Photos</span>
		</h3>
	</div>
	<div class="fTrD-bL aDpTv fTrd-lRg tXt-cTr cTrL-dFt">
		<div class="fTrD-bL-iN">
			<ul id="sL6" class="fTrD-iTmS" style="width: 10000px;">
				{% for biz in businesslist %} 
				{% with biz.album as gallery %} 
				{% if gallery %}
				<li class="fTrD-iTm" style="float: left;">
					<div class="fTrD-tXt fAd">
						<div class="vAlGn">
							<div class="fTrD-tXt-iN">
								<h4 class="fTrD-hD uC">
									<a href="{{biz.get_absolute_url }}">{{gallery.title|truncatechars:35}}</a>
								</h4>
							</div>
						</div>
					</div>
					<figure class="fTrD-mDa">
						<span class="bUi-tMb-wPr fLxiMgW" href="#"> <span
							class="bUi-tMb"> <span class="bUi-tMb-pRpL"> <span
									class="bUi-tMb-cLp"> <span class="bUi-tMb-cLp-iN">
											{% with gallery.get_cover_image as event_img %} <img
											class="mDa-oT" src="{{STATIC_URL}}/images/grey.gif"
											data-src="{% if event_img %}{% thumbnail event_img 400x0 crop %}{% else %}{{STATIC_URL}}themes/img/no-event.png{% endif %}"
											alt="{{gallery.title}}"> {% endwith %} <span
											class="vRtL-aLn"> </span>
									</span>
								</span>
							</span>
						</span>
						</span>
					</figure>
				</li> 
				{% endif %} 
				{% endwith %} 
				{% endfor %}
			</ul>
		</div>
		<!-- /.fTrD-bL-iN -->
	</div>
	<!-- /.fTrD-bL -->
</section>
{% endif %}