{% extends base %}
{% load tabs %}
{% load thumbnail %}
{% load truncate_filter %}
{% load i18n %}
{% load ds_utils %}
{% block pagetitle %}{% seo_format_tag module='Business' title=business.seo_title code='DT' category=category.name as seo_meta_title %}{{seo_meta_title}} {% endblock %}
{% block meta %}
    <meta name="description" content="{{ business.seo_description }}" />

	<!-- Facebook-->
	<meta property="og:type" content="business.business"/>
	<meta property="og:url" content="{{globalsettings.website_url}}{{business.get_absolute_url}}"/>
	<meta property="og:title" content="{{ business.name }}"/>
	{% if business.logo.logo %}<meta property="og:image" content="{{globalsettings.website_url}}{{ business.logo.logo.url }}"/>{% endif %}
	<meta property="og:site_name" content="{{globalsettings.domain}}"/>
	<meta property="og:description" content="{{ business.description|striptags|truncatechars:200 }}"/>
<!-- Twitter-->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" content="{{globalsettings.website_url}}{{business.get_absolute_url}}">
	<meta name="twitter:title" content="{{ business.name }}">
	<meta name="twitter:description" content="{{ business.description|striptags|truncatechars:200 }}">
	{% if business.logo.logo %}<meta name="twitter:image:src" content="{{globalsettings.website_url}}{{ business.logo.logo.url }}">{% endif %}
	<meta name="twitter:domain" content="{{globalsettings.domain}}">
{% endblock %}
{% block head %}
    <script src="{{STATIC_URL}}themes/js/bootstrap-typeahead.js"></script>
    <script src="{{STATIC_URL}}themes/js/bootstrap-popover.js"></script>
    <script src="{{STATIC_URL}}themes/js/ios-orientationchange-fix.js"></script>
    <script src="{{STATIC_URL}}themes/js/fxslider.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/report_data.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/get_report_data.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	bids.push({{business.id}});
	details_pages(bids);
	});
	
	</script>
{% endblock %}
{% block navigation %}
    {% activetab "topnav" "business" %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="container-fluid" itemscope itemtype="http://schema.org/LocalBusiness">
        <!-- Module Search -->
        {% include 'default/business/part_search.html' %}
        <!-- Module Search -->
        <!--ul class="bRdCrB">
            <li><a href="#">Food and Dining</a>  <span class="sPrTr"></span></li>
            <li class="aCtV">Bakeries</li>
        </ul -->
        <div class="row-fluid">
            <section class="sCn pD0">
                {% include 'default/business/part_address.html' %}
                <ul class="nav nav-tabs mRb0 pD015" id="tabs">
                    <li class="{% if view == 'home' %}active{% endif %} buz_tab buz_tab_home"><a href="javascript:void(0);" onclick="show_block('home');">{% trans 'About' %}</a></li>
                    {% if business.get_photo_gallery and business.payment.images == 'Y' %}
                        <li class="{% if view == 'photos' %}active{% endif %} buz_tab buz_tab_photos"><a href="javascript:void(0);" onclick="show_block('photos');">{% trans 'Photos' %}</a></li>
                    {% endif %}
                    <!--li><a href="#">{% trans 'Videos' %}</a></li-->
                    {% if business.buz_product.all and business.payment.product == 'Y' %}
                        <li class="{% if view == 'products' %}active{% endif %} buz_tab buz_tab_products"><a href="javascript:void(0);" onclick="show_block('products');">{% trans 'Products' %}</a></li>
                    {% endif %}
                    {% if offers and business.payment.offer_coupon == 'Y' %}
                        <li class="{% if view == 'offers' %}active{% endif %} buz_tab buz_tab_offers"><a href="javascript:void(0);" onclick="show_block('offers');">{% trans 'Offers' %}</a></li>
                    {% endif %}
                    {% if business.payment.share_buttons == 'Y' %}
                    {% with business as object %}
                    <li class="pLrT mRt12 mRb10">
                          {% include 'default/social-share-links.html' %}
                    </li>
                    {% endwith %}
                    {% endif %}
                    <li class="pLrT mRt5">
                        {% if claim.allow_claim and business.is_claimable and business.created_by.is_staff %}
                            <a class="cLr-rEd fW-bLd fS12 bDr0" href="{% url 'user_claim_business' business.id %}" title="{% trans 'Claim this Listing if its your Business' %}" >
                                <span class="icon"></span>{% trans "Own this business ? Claim It." %}
                            </a>
                        {% endif %}
                    </li>
                    <!--li><a href="#">{% trans 'Contact' %}</a></li-->
                </ul>
            </section>
        </div>
        {% include 'default/business/include_buz_details.html' %}
        {% if business.payment.images == 'Y' %}
            {% include 'default/business/include_buz_photos.html' %}
        {% endif %}
        {% if business.payment.product == 'Y' %}
            {% include 'default/business/include_buz_products.html' %}
        {% endif %}
        {% if business.payment.offer_coupon == 'Y' %}
            {% include 'default/business/include_buz_offers.html' %}
        {% endif %}
    </div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>  
<script type="text/javascript" src="{{STATIC_URL}}js/locality/global-map-location.js"></script>  
<script src="{{STATIC_URL}}themes/js/jquery.jqprint-0.3.js"></script>
<script src="{{STATIC_URL}}themes/js/jquery.raty.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $.ajax({
        type: "GET",
        url: "{% url 'business_count' business.id %}",
        success:function(data){},
        error:function(data){}
    });
   
    $('.oPn-tMs').popover({
           html:true,
           external:'.oPn-tMs-lSt',
           container: 'body',
           placement: 'bottom'
    });
    $(".fxslider").fxslider();
    try{$('#id_rating_{{business.id}}').raty({ readOnly: true, score: {{business.ratings}} });}
    catch(e){}                         
});

function show_block(id){
    $('.buz_block').hide();
    $('.buz_tab').removeClass('active');
    $('.buz_tab_'+id).addClass('active');
    $('#buz_'+id).show();
    
    $('.fLxiMgW').setrSpVWidth(0);
    $('.fLxiMgH').setrSpVHeight('mDa-lT');
    
    if(id=='offers'){$('#buz_home_offers').hide()}
    else{$('#buz_home_offers').show()}
    if(id=='products'){$('#buz_home_products').hide()}
    else{$('#buz_home_products').show()}
}
function show_block_detail(ele,id){
    $('.buz_block').hide();
    $('#buz_'+ele+id).show();
    if(ele=='offers'){$('#buz_home_offers').hide()}
    else{$('#buz_home_offers').show()}
    if(ele=='products'){$('#buz_home_products').hide()}
    else{$('#buz_home_products').show()}
}
function add_to_fav(id){
    $('.alert_flash').hide();
    $.ajax({
        type:'get',
        url:'{% url 'business_add_to_fav' %}',
        data:'id='+id,
        success:function(data){
            if(data=='1'){ $('#flash_alert').show();}
            else if(data=='2'){$('#flash_alert1').show();}
            else{alert(gettext('Oops!!! Not able to process your request.'));}
            
            }
        });
}

function print_offer_detail(oid) 
{
    var print_html='<section class="sCn">';
    print_html+='<div class="sCn-tTl"><h3 class="tRnCt0"><span>'+$('#id_offr_dtl_title_'+oid).text()+'</span></h3></div>';
    print_html+='<div class="dTs-cRd">';
    print_html+='<div class="oTsT-hRz mRb20"><div class="bUi-tMb-wPr"><img style="width:100%" src="'+$('#id_offr_dtl_img_'+oid).attr('src')+'" class="mDa-oT">';
    print_html+='</div>';                
    print_html+='</div>';                     
    print_html+='<div class="mRb20"><h5 class="cLr-bLk hide">Description</h5>';                
    print_html+='<div class="dSc sMl cLr-dRk">'+$('#id_offr_dtl_desc_'+oid).text()+'</div>';           
    print_html+='<ul class="iCnC-lSt iCn12"><li class="iCnC-lSt-iTm cLr-gRy fS13"><i class="bUi-iCn-cLdR-12 iCn-rEd"></i>'+$('#id_offr_dtl_dates_'+oid).text()+'</li>'                
    print_html+='</ul>'            
    print_html+='</div>';                  
    print_html+='</section>';                      
    var $PrintDiv = $(print_html);                    
    $PrintDiv.jqprint();
}

var disqus_identifier  = 'Business-{{business.id}}';
</script>    
{% endblock %}
