{% load thumbnail %}
{% load comparison %}
{% load truncate_filter %}
{% load i18n %}
{% load ds_utils %}
<!-- Ads and coupons listing start here -->
   <div class="row-fluid buz_block" id="buz_offers" style="{% if view != 'offers' or view_offer %}display:none;{% endif %}">
        <div class="mRb30">
            <div class="sCn-tTl">
                <h3><span class="pLlT">{% trans 'Coupon' %}</span>
			{% if usr_editable %}
				<a href="{% url 'user_business_coupon_add' business.id %}" class="btn btn-small btn-danger fW-bLd pLrT" data-target="#addCoupon">Add new Coupon</a></h3>
			{% endif %}
            </div>
			<ul class="mDa-gD fOcL mDa-oT-lT pDfX" id="id_pre_cupon">
                <li id="coupon_li_loading" class="mDa" style="display:none;">
                   <div class="mDa-iN">
                       <div class="mDa-wPr">
                           <a href="javascript:void(0);" class="bUi-tMb-wPr tMb-50">
                               <span class="bUi-tMb" style="background-color: rgb(238, 240, 243);">
                                   <span class="bUi-tMb-pRpL">
                                       <span class="bUi-tMb-cLp">
                                           <span class="bUi-tMb-cLp-iN">
                                               <img src="/static/ui/images/global/loading.gif">
                                               <span class="vRtL-aLn">
                                               </span>
                                           </span>
                                       </span>
                                   </span>
                               </span>
                           </a>
                       </div>
                   </div>
                </li>
                {% for ofr in offers %}
                <li class="mDa" id="coupon_li_{{ofr.id}}" itemscope itemtype="http://schema.org/Offer">
                    <div class="mDa-iN bM-bX">
                        <div class="mDa-wPr"> 
                            <a class="bUi-tMb-wPr tMb-50 fLxiMgW" href="javascript:{% if usr_editable %}void(0){% else %}show_block_detail('offers',{{ofr.id}}){% endif %};">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN">
                                                <img class="mDa-oT" src="{% if ofr.photo %}{% thumbnail ofr.photo 285x0 %}{% else %}{{STATIC_URL}}themes/img/no-image.png{% endif %}" alt="{{ ofr.title }}" title="{{ ofr.title }}" itemprop="image"/>
                                                <span class="vRtL-aLn">
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a> 
                        </div>
                        <div class="mDa-bDy pD15">
                            <h4 class="mDa-hD h3mX480" title="{{ ofr.title }}" itemprop="name"><a href="javascript:{% if usr_editable %}void(0){% else %}show_block_detail('offers',{{ofr.id}}){% endif %};">{{ofr.title}}</a></h4>
                            <div class="mDa-dTa">
                                <div class="fS11 cLr-dRk fS12mX480" itemprop="description">{% autoescape off %}{{ ofr.description|striptags|truncate_chars:95 }}{% endautoescape %}</div>
                                <ul class="iCnC-lSt iCn12">
                                    <li class="iCnC-lSt-iTm cLr-gRy">
                                        <i class="bUi-iCn-cLdR-12 iCn-rEd"></i>{% trans 'Starts' %} {{ ofr.start_date|date:'M d, o' }}{% if ofr.end_date %} - {% trans 'Expires' %} {{ ofr.end_date|date:'M d, o' }}{% endif %} 
										<meta itemprop="validFrom" content="{{ ofr.start_date|get_iso_time_format }}" /><meta itemprop="validThrough" content="{{ ofr.end_date|get_iso_time_format }}" />
                                    </li>
                                </ul>
                            </div>
                            {% if usr_editable %}
                            <div class="mRt10 cLrFx"><a class="fS12 cLr-gRy pLrT mRl10" href="javascript:delete_coupon({{ofr.id}})">Delete</a><a href="{% url 'user_business_coupon_update' business.id ofr.id %}" data-target="#addCoupon" class="fS12 cLr-gRy pLrT">Edit</a></div>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
			<div class="hT360 rLvE" id="no-coupon" {% if offers %}style="display: none;"{% endif %}>
                <div class="tBl-bLk pDt0">
                   <div class="tBl-cEl">
                       <span class="iCn-bRdR80 oP75"><i aria-hidden="true" class="bUi-iCn-oFr-24 fS42-1 cLr-lTgRy ib"></i></span>
                       <p class="bLk mRt20 fS16 cLr-lTgRy ">You haven't added any Coupons yet.</p>
                   </div>
                </div>
            </div>
        </div>
    </div>
<!-- Ads and coupons listing end  -->
    
<!-- Ads and coupons details start  -->
<div id="id_cou_detail">
    {% for ofr in offers %} 
    <div class="row-fluid hide buz_block" id="buz_offers{{ofr.id}}" style="{% if view_offer != ofr.id %}display:none;{% else %}display:block;{% endif %}">
        <div class="span6 mRb30">
            <div class="sCn-tTl">
                <h3><span>{% trans 'Offers' %}</span></h3>
            </div>
            <section class="sCn">
                <div class="row-fluid mRb30">
                    <a href="javascript:show_block('offers')" title="{% trans 'back to Offers' %}" class="btn btn-light pLlT"><i aria-hidden="true" class="bUi-iCn-aRw-l-16"></i></a>
                    <a href="javascript:void(0);" class="btn btn-primary pLrT" onclick="print_offer_detail('{{ofr.id}}');">{% trans 'Print' %}</a>
                </div>
                <div class="sCn-tTl">
                    <h3 class="tRnCt0"><span id="id_offr_dtl_title_{{ofr.id}}">{{ofr.title}}</span></h3>
                </div>
                <div class="dTs-cRd">
                    <div class="oTsT-hRz mRb20">
                        <div class="bUi-tMb-wPr">
                            {% if ofr.photo %}<img class="mDa-oT" id="id_offr_dtl_img_{{ofr.id}}" src="{% thumbnail ofr.photo 600x0 %}" alt="{{ofr.title}}" style="width:100%" />{% endif %}
                        </div>
                    </div>
                    <div class="mRb20">
                        <h5 class="cLr-bLk hide">{% trans 'Description' %}</h5>
                        <div class="dSc sMl cLr-dRk" id="id_offr_dtl_desc_{{ofr.id}}">{% autoescape off %}{{ ofr.description }}{% endautoescape %}</div>
                    </div>
                    <ul class="iCnC-lSt iCn12">
                        <li class="iCnC-lSt-iTm cLr-gRy fS13" id="id_offr_dtl_dates_{{ofr.id}}">
                            <i class="bUi-iCn-cLdR-12 iCn-rEd"></i>{% trans 'Starts' %} {{ ofr.start_date|ds_site_dateformat }}{% if ofr.end_date %} - {% trans 'Expires' %} {{ ofr.end_date|ds_site_dateformat }}{% endif %}
                        </li>
                    </ul>
               </div>
            </section>
        </div>
    </div>
    {% endfor %}
</div>
{% if usr_editable %}
<div id="addCoupon" class="modal hide fade mW40" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="myModalLabel" class="mR50">Add New Coupons</h4>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary fS12 fW-bLd" onclick="save_coupon()" type="button">Save</button>
    </div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/common_user.js"></script>
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bm.jfp.ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/LE_MetaId99.css">
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.jfp.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.fup.appln.js"></script>
<script type="text/javascript">
function config_edit_coupon(){
	$("a[data-target=#addCoupon]").click(function(ev) {
	    ev.preventDefault();
	    target = $(this).attr("href");
	
	    // load the url and show modal on success
        $("#addCoupon .modal-body").load(target, function() {
    	   $("html, body").animate({scrollTop:0}, '200', function() { 
               $("#addCoupon").modal("show");
  	       });
        });
    });
}
$(document).ready(function(){
    config_edit_coupon();
});
function save_coupon(){
	var flag = $('#mform').validate().form()
	if(flag==true){
		var dataString='&title='+encodeURIComponent($('#id_title').val());
		dataString+='&description='+encodeURIComponent(CKEDITOR.instances.id_description.getData());
		dataString+='&start_date='+encodeURIComponent($('#id_start_date').val());
		dataString+='&end_date='+encodeURIComponent($('#id_end_date').val());
		dataString+='&type='+$('input[name=type]:checked').val();
		$('#ajax_content_coupon').hide();
		$('#ajax_content_loading_coupon').show();
		$.ajax({
		type: "POST",
		url: $("#mform").attr("action"),
		data: dataString,
		dataType:'JSON',
		success: function(responseData){
				if(responseData.status){
					var id = responseData.id;
					var title = responseData.title;
					var description = responseData.description;
                    $("#coupon_id").val(responseData.id);
                    if(imageIsThere){$(".start").trigger('click');}
					$('#addCoupon').modal('hide');
                    $('#coupon_li_loading').show();
                    $('#no-coupon').hide();
                    try{$('#coupon_li_'+id).remove();}
                    catch(e){}
                    setTimeout(function(){
                        $.ajax({
                            type: "POST",
                            url:"{% url 'user_biz_get_part_html' %}",
                            data: 'id='+id+'&type=coupon',
                            dataType: 'JSON',
                            success: function(responseData){
                                $(responseData.html).insertAfter("#coupon_li_loading");
                                $('#coupon_li_loading').fadeOut( "slow", function() {
                                    $('#coupon_li_'+id).fadeIn();
                                })
                                config_edit_coupon();
                            }
                        });
                    },2000);
				}else{
					alert("Sorry! Some error occurred");
				}
			}
		});
	}
}
function delete_coupon(id){
    if(confirm('Are you sure want to delete this coupon ?')){
        $.ajax({
            type: "POST",
            url:'{% url 'user_business_coupon_delete' %}',
            data:'id='+id,
            dataType:'JSON',
            success: function(responseData){
                if(responseData.status==1){
                    $('#buz_coupon'+id).remove();
                    $('#coupon_li_'+id).remove();
                    if($('#id_pre_cupon').find('li').length==1){
                        $('#no-coupon').show();
                    }
                }
            }
        });
    }
}
</script>
<!-- Ads and coupons details start  -->     
{% endif %}