{% load thumbnail %}
{% load comparison %}
{% load i18n %}
{% load ds_utils %}
<ul class="accordian9 group buz_block" id="buz_coupons" style="{% if view != 'coupons' or view_coupon %}display:none;{% endif %}">
    <li id="bsns_offers" class="acdn_row"><a href="javascript:void(0)" class="bar_title">{% trans 'Coupons' %}</a>
        <div class="acdn_content" style="display:block;">
            <div id="offer_list" class="place_list">
            	{% for cou in coupons %}
				<div class="item group{% cycle '' 'alt' %}{% if forloop.last %} br_0{% endif %}">
                    <div class="detail">
                      <a href="javascript:show_block_detail('coupons',{{cou.id}})" class="pic"><img src="{% thumbnail cou.photo 70x0 %}" alt="{{ cou.title }}" height="70" width="70" ></a>
                       <h4 class="title"><a style="" href="javascript:show_block_detail('coupons',{{cou.id}})">{{ cou.title }}</a></h4>
                        {% if cou.end_date %}
                        <span class="exp_time">{% trans 'Expires' %}: {{ cou.end_date|ds_site_dateformat }}</span>
						{% endif %}
						{% autoescape off %}{{ cou.description|truncatewords:25 }}{% endautoescape %}
                    </div>
					<div class="clear"></div> 
                </div> 
				{% endfor %}
            </div>                                    
        </div>
        <!--p class="more_link99"><a href="javascript:void(0)">More Offers</a></p-->
    </li>                                                            
</ul>       
{% for cou in coupons %}               
<ul class="accordian9 group buz_block" id="buz_coupons{{cou.id}}" style="{% if view_coupon != cou.id %}display:none;{% endif %}">
    <li id="bsns_products" class="acdn_row"><a href="javascript:show_block('coupons')" class="bar_title">{% trans 'Coupons' %}</a>
        <div class="acdn_content" style="display:block">
			<div id="breadcrumbs" class="pt_10"><a href="javascript:show_block('coupons')" title="product list">{% trans 'Coupons' %}</a> &nbsp;&raquo;&nbsp; <span class="here">{{ cou.title }}</span></div>                                     
			<div class="product_detail group">
            	<h2>{{ cou.title }}</h2>
                <p>{% autoescape off %}{{ cou.description }}{% endautoescape %}</p>
                <p><img src="{% thumbnail cou.photo 550x0 %}" /></p>
				{% if cou.end_date %}
                    <span class="exp_time">{% trans 'Expires' %}: {{ cou.end_date|ds_site_dateformat }}</span>
				{% endif %}
			</div>                                  
        </div>
    </li>                                                            
</ul>      
{% endfor %}    