{% load thumbnail %}
{% load i18n ds_utils %}
{% load mptt_comments_tags %}
{% load social_share %}
{% load_socialshare_obj %}
<div class="fTrD-bL bNr mDa-20 aDpTv tXt-oTsD">
    <div class="fTrD-bL-iN">
        <div class="fTrD-iTmS">
            <div class="fTrD-iTm">
                <figure class="fTrD-mDa bDrRtLtR oFl">
                    <div class="fTrD-mDa-hVr sDw">
                        <div class="tR"></div>
                        <div class="fTrD-mDa-hVr-tXt pD15">
                            <h1 class="fTrD-hD bSnS-lGo-lT mRl0mX767 mRl95mX480 fS32-1" itemprop="name">{{business.name}}</h1>
                        </div>
                    </div>
					{% if not usr_editable %}
                    <span id="id_uploaded_cover" class="bUi-tMb-wPr fLxiMgW">
                        <span class="bUi-tMb">
                            <span class="bUi-tMb-pRpL">
                                <span class="bUi-tMb-cLp">
                                    <span class="bUi-tMb-cLp-iN">
                                        {% with business.primary_address as address %}
                                            <img class="mDa-oT" src="{% if business.album.get_cover_image and business.payment.images == 'Y' %}{% thumbnail business.album.get_cover_image 1205x0 %}{% else %}http://maps.googleapis.com/maps/api/staticmap?center={{address.lat}},{{address.lon}}&zoom=13&size=1200x250&maptype=roadmap&markers={{address.lat}},{{address.lon}}&sensor=false&scale=2{% endif %}" alt="{{business.name}}">
                                        {% endwith %}    
                                        <span class="vRtL-aLn">
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </span>
					{% endif %}
                    {% if usr_editable %}
                    <!--div class="pStN-rB sHr">
                        <div class="btn-group pLrT"> 
                            <a href="javascript:void(0);" class="btn btn-light btn-small dropdown-toggle "><i aria-hidden="true" class="bUi-iCn-rVeW-12 ib mRr5"></i> <span class="ib">Update Your Cover photo</span></a>
                            <input type="file" name="photo" id="id_photo" multiple=""  accept="image/*" class="aBsLt l0 zI1" style="opacity: 0;">
                        </div>
                    </div -->
					<div id="fileupload1" >
						<div class="upload-button-wrapper" style="position: absolute; right: 20px; top: 20px; z-index: 9;">
							<a href="javascript:void(0);" class="btn btn-light btn-small dropdown-toggle "><i aria-hidden="true" class="bUi-iCn-rVeW-12 ib mRr5"></i> <span class="ib">Update Your Cover photo</span></a>
							<div class="fileinput-button">
							   <input style="opacity: 0;" type="file" name="photo" id="id_photo" multiple=""  accept="image/*" class="aBsLt l0 zI1" tabindex="-1">
						    </div>
						</div>
						<div class="fileupload-content">
							<ul class="tMbS sXcL pDfX files bm-uploader-list mRb0">
								<span class="bUi-tMb-wPr fLxiMgW">
			                        <span class="bUi-tMb">
			                            <span class="bUi-tMb-pRpL">
			                                <span class="bUi-tMb-cLp">
			                                    <span class="bUi-tMb-cLp-iN">
			                                        {% with business.primary_address as address %}
			                                            <img class="mDa-oT" src="{% if business.album.get_cover_image and business.payment.images == 'Y' %}{% thumbnail business.album.get_cover_image 1205x0 %}{% else %}http://maps.googleapis.com/maps/api/staticmap?center={{address.lat}},{{address.lon}}&zoom=13&size=1200x250&maptype=roadmap&markers={{address.lat}},{{address.lon}}&sensor=false&scale=2{% endif %}" alt="{{business.name}}">
			                                        {% endwith %}    
			                                        <span class="vRtL-aLn">
			                                        </span>
			                                    </span>
			                                </span>
			                            </span>
			                        </span>
			                    </span>
							</ul>
						</div>
						{% csrf_token %}
					</div>
                    {% endif %}
                </figure>
                <!-- /.TrD-mDa -->
                <div class="fTrD-tXt">
                    <div class="fTrD-tXt-iN pD0">
                        <div class="row-fluid">
                            <div class="span12 pD15 clearfix">
                                <div class="tMb pRfL-pC bSnS mRt-35mX768 mRt0mX767">
                                    <div class="bUi-tMb-wPr tMb-100 fLxiMgH">
                                        <span class="bUi-tMb">
                                            <span class="bUi-tMb-pRpL"> 
                                                <span class="bUi-tMb-cLp">
                                                    <span class="bUi-tMb-cLp-iN">
                                                        <img class="mDa-oT" src="{% if business.logo.logo %}{% thumbnail business.logo.logo 0x141 %}{% else %}{{STATIC_URL}}themes/green/images/global/nophoto_90.jpg{% endif %}" alt="{{business.name}}">
                                                        <span class="vRtL-aLn">
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                {% with business.address.all.0 as address %}
                                {% if address %}
                                    <ul class="iCnC-lSt iCn10 iN-bLk mRb0 sMrY cLr-lT pDl0 span6 pDb15mX768 sP7mX768">
                                        <li class="iCnC-lSt-iTm cLr-dRk fS12"><i aria-hidden="true" class="bUi-iCn-mP-mKr-12"></i><span  itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><a href="{% url 'events_view_venue_event' address.slug %}" class="cLr-dRk"><span itemprop="streetAddress">{{address.address1}}{% if address.address2 %}, {{address.address2}}{% endif %}</span>{% if address.city %}, <span itemprop="addressLocality">{{address.city}}</span>{% endif %}{% if address.state %}, <span itemprop="addressLocality">{{address.state}}</span>{% endif %}{% if address.zip %} - <!--span itemprop="addressRegion">FL</span--><span itemprop="postalCode">{{address.zip }}</span>,{% endif %}</a></span></li>
                                        {% if address.telephone1 or address.mobile %}<li class="iCnC-lSt-iTm cLr-dRk fS12"><i class="bUi-iCn-cAl-12"></i><span class="fS12" itemprop="telephone">{% if address.telephone1 %}{{address.telephone1}}{% endif %}{% if address.mobile %}{% if address.telephone1 %} / {% endif %}{{address.mobile}}{% endif %}</span></li>{% endif %}
                                        {% if address.website %}<li class="iCnC-lSt-iTm cLr-dRk fS12"><i aria-hidden="true" class="bUi-iCn-gLb-12"></i><span class="fS12"><a href="{{address.website}}" target="_blank" itemprop="url"	 class="cLr-dRk">{{address.website}}</a></span></li>{% endif %}
                                        <li class="iCnC-lSt-iTm cLr-dRk fS12"><i aria-hidden="true" class="bUi-iCn-tAg-12"></i><span><a href="{{business.categories.all.0.get_absolute_url}}" class="cLr-dRk">{{business.categories.all.0.name}}</a></span></li>
                                        {% if business.operating_hours and business.workinghours %}<li class="iCnC-lSt-iTm cLr-dRk fS12"><i aria-hidden="true" class="bUi-iCn-oPn-12"></i><span><a href="javascript:void(0);"  class="cLr-dRk oPn-tMs">Today {{business.workinghours|get_business_todays_working_hour}}</a></span></li>{% endif %}
                                    </ul>
                                {% endif %}
                                {% endwith %}
                                <div class="span3 pLlTtB pDl0mX768 sP6mX768" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                    <div class="sTr-rT mRb0 oVrL-sCr pLlTtB">
                                        <span class="cLr-gRy fS9 uC bLk mRb5">{% trans 'overall score' %}</span><br>
                                        <span class="rT-oVrL-sCr ib cLr-dRk"><span>{{business.ratings}}</span><meta itemprop="ratingValue" content="{{business.ratings}}"></span>
                                        <div class="ib"><span id="id_rating_{{business.id}}" class="sTr-wPr lH1 sTr-rT-rD rEd iCn16"></span><a id="id_review"  href="javascript:void(0)" class="cLr-gRy fS12 sPrTr"><span itemprop="reviewCount">{% get_mptt_comment_count for business as comment_count %}{{comment_count}}</span> {% trans 'reviews' %}</a> <a href="javascript:void(0)" class="cLr-gRy hide" ><i aria-hidden="true" class="bUi-iCn-eDt-16 fS12"></i></a></div>
                                    </div>
                                </div>
                                 {% if business.operating_hours and business.workinghours %}
                                 <div class="oPn-tMs-lSt hide">
                                    <ul class="unstyled fS12 oPn-tMs-dTa mRb0">
                                        {% with wh=business.workinghours %}
                                        <li {% if today|date:"l" == 'Sunday' %}class="tDy"{% endif %}><span class="dY">{% trans 'Sunday' %}</span>
                                            {% if wh.sun_start %}
                                                <span class="tMs">{% if wh.sun_start == wh.sun_end %}open 24 hours{% else%}{{wh.sun_start|lower}} - {{ wh.sun_end|lower }}{% endif %}</span>
                                            {% else %}<span class="tMs">{% trans 'Closed' %}</span>{% endif %}
                                        </li>
                                        <li {% if today|date:"l" == 'Monday' %}class="tDy"{% endif %}><span class="dY">{% trans 'Monday' %}</span>
                                            {% if wh.mon_start %}
                                                <span class="tMs">{% if wh.mon_start == wh.mon_end %}open 24 hours{% else%}{{ wh.mon_start|lower }} - {{ wh.mon_end|lower }}{% endif %}</span>
                                            {% else %}<span class="tMs">{% trans 'Closed' %}</span>{% endif %}
                                        </li>
                                        <li {% if today|date:"l" == 'Tuesday' %}class="tDy"{% endif %}><span class="dY">{% trans 'Tuesday' %}</span>
                                            {% if wh.tue_start %}
                                                <span class="tMs">{% if wh.tue_start == wh.tue_end %}open 24 hours{% else%}{{ wh.tue_start|lower }} - {{ wh.tue_end|lower }}{% endif %}</span>
                                            {% else %}<span class="tMs">{% trans 'Closed' %}</span>{% endif %}
                                        </li>
                                        <li {% if today|date:"l" == 'Wednesday' %}class="tDy"{% endif %}><span class="dY">{% trans 'Wednesday' %}</span>
                                            {% if wh.wed_start %}
                                                <span class="tMs">{% if wh.wed_start == wh.wed_end %}open 24 hours{% else%}{{ wh.wed_start|lower }} - {{ wh.wed_end|lower }}{% endif %}</span>
                                            {% else %}<span class="tMs">{% trans 'Closed' %}</span>{% endif %}
                                        </li>
                                        <li {% if today|date:"l" == 'Thursday' %}class="tDy"{% endif %}><span class="dY">{% trans 'Thursday' %}</span>
                                            {% if wh.thu_start %}
                                                <span class="tMs">{% if wh.thu_start == wh.thu_end %}open 24 hours{% else%}{{ wh.thu_start|lower }} - {{ wh.thu_end|lower }}{% endif %}</span>
                                            {% else %}<span class="tMs">{% trans 'Closed' %}</span>{% endif %}
                                        </li>
                                        <li {% if today|date:"l" == 'Friday' %}class="tDy"{% endif %}><span class="dY">{% trans 'Friday' %}</span>
                                            {% if wh.fri_start %}
                                                <span class="tMs">{% if wh.fri_start == wh.fri_end %}open 24 hours{% else%}{{ wh.fri_start|lower }} - {{ wh.fri_end|lower }}{% endif %}</span>
                                            {% else %}<span class="tMs">{% trans 'Closed' %}</span>{% endif %}
                                        </li>
                                        <li {% if today|date:"l" == 'Saturday' %}class="tDy"{% endif %}><span class="dY">{% trans 'Saturday' %}</span>
                                            {% if wh.sat_start %}
                                                <span class="tMs">{% if wh.sat_start == wh.sat_end %}open 24 hours{% else%}{{ wh.sat_start|lower }} - {{ wh.sat_end|lower }}{% endif %}</span>
                                            {% else %}<span class="tMs">{% trans 'Closed' %}</span>{% endif %}
                                        </li>
                                        {% if wh.notes %}
                                        <li class="tDy">
											<hr class="mRb5">
											<span class="dY">Note:</span>
                                            <span class="tMs">{{wh.notes}}</span>
                                        </li>
                                        {% endif %}
                                        {% endwith %}
                                    </ul>
                                 </div>
                                 {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.TrD-tXt -->                                       
            </div>
        </div>
        <!-- /.fTrD-iTms --> 
    </div>
    <!-- /.fTrD-bL-iN --> 
</div>
<!-- /.fTrD-bL -->

{% if usr_editable %}
<script type="text/javascript">
function biz_cover_image_upload(url,uploadTemplateId,downloadTemplateId) {
    'use strict';
    $('#fileupload1').fileupload({
        sequentialUploads:true,
       
       autoUpload:true,
       uploadTemplate:$('#'+uploadTemplateId),
       downloadTemplate:$('#'+downloadTemplateId),
       url:url,
       acceptFileTypes:/(\.|\/)(gif|jpe?g|png)$/i,
		complete: function () {
            $( "#fileupload1 ul.files span:first-child" ).remove();
			var down_img_li = "";
			 setTimeout(function(){
				down_img_li += '<li style="margin: 12px 0px 0px;" class="bm-uploader-file finished template-download" data-src="/site_media/photos/gallery/bd3ffa8c-0634-43b5-8488-9a286f17de04.jpeg">';
				down_img_li += '	<a class="bUi-tMb-wPr tMb-100 fLxiMgH lRg-bRdR swipebox" href="#">';
	            down_img_li += '    <span class="bUi-tMb">';
				down_img_li += '	<span class="bUi-tMb-pRpL">';
				down_img_li += '	<span class="bUi-tMb-cLp">';
				down_img_li += '	<span class="bUi-tMb-cLp-iN">';
				down_img_li += '		<img style="height: 191px;" class="mDa-oT" src="' + $( "#fileupload1 ul.files span:first-child img" ).attr('src') + '" alt="">';
				down_img_li += '		<span class="vRtL-aLn"></span>';
				down_img_li += '	</span>';
				down_img_li += '	</span>';
				down_img_li += '	</span>';
				down_img_li += '	</span>';
				down_img_li += '	</a>';
	            down_img_li += $('#control_buttons').html();         
				down_img_li += '</li>';
				$('#no-photo').addClass("hide");
				$("#fileupload ul.files").append(down_img_li);
			},1000);
        },
    });
}
$(document).ready(function(){
    biz_cover_image_upload("{% url 'business_ajax_upload_cover_photos' %}?id={{business.id}}",'template-upload-bizimage','template-cover-download-bizimage');
});
{% endif %}
</script>