.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-sm {
  height: 30px;
  line-height: 30px;
}
textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-lg {
  height: 46px;
  line-height: 46px;
}
textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}
.truncate0 {
  overflow: visible;
  white-space: normal;
}
.mb-ver {
  margin-bottom: -20px;
}
@media (min-width: 1199px) {
  .mb-ver {
    margin-bottom: -20px;
  }
}
.aRtCL-pSt .body {
  min-height: 22px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
.aRtCL-pSt .body li {
    line-height: 1.475;
}
.aRtCL-pSt .body a {
  color: #428bca;
}
.aRtCL-pSt .body a:hover {
  color: #428bca !important;
}
.aRtCL-pSt .body > h2 {
  font-size: 28px;
  font-weight: 200;
  line-height: 1.2;
  padding-top: 16px;
}
.aRtCL-pSt .body > h3 {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.2;
}
.aRtCL-pSt .body > h4 {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.2;
}
.aRtCL-pSt .body > p,
.aRtCL-pSt .body > blockquote {
  margin-bottom: 25px;
}
.aRtCL-pSt .body > ol,
.aRtCL-pSt .body > ul {
  margin-bottom: 25px;
}
.aRtCL-pSt .body > blockquote {
  border-left: 6px solid #D6D8DB;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: inherit;
  font-style: italic;
  font-weight: normal;
  margin-left: 0;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-top: 0;
}
.aRtCL-pSt .body > figure {
  position: relative;
  padding-top: 10px;
  margin-bottom: 30px;
  background: url("../img/loading.gif") no-repeat scroll center center transparent;
  padding-left: 20px;
}
.aRtCL-pSt .body > figure > img {
  width: 100%;
}
.aRtCL-pSt .body > iframe {
  margin-bottom: 25px;
  padding-top: 10px;
  width: 100% !important;
}
.aRtCL-pSt .body .iMg-cTrO {
  margin-left: -12.375%;
  margin-right: -12.675%;
  width: auto;
  padding-left: 0;
  padding-right: 0;
}
.aRtCL-pSt .body .iMg-lT {
  float: left;
  margin-right: 30px;
  width: 60%;
  padding-right: 0;
}
.aRtCL-pSt .body .iMg-rT {
  float: right;
  margin-left: 30px;
  width: 60%;
  padding-left: 0;
}
.aRtCL-pSt .body .iMg-lTO {
  float: left;
  margin-left: -120px;
  margin-right: 30px;
  width: 60%;
  padding-left: 0;
  padding-right: 0;
}
.aRtCL-pSt .body .iMg-rTO {
  float: right;
  margin-right: -120px;
  margin-left: 30px;
  width: 60%;
  padding-left: 0;
  padding-right: 0;
}
.aRtCL-pSt .body .iframeCont {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
.aRtCL-pSt .body .iframeCont iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.aRtCL-pSt .body img {
  background-color: #f2f2f0;
  display: block;
  margin: auto;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto !important;
  outline: 3px solid transparent;
  -webkit-transition: outline-color 0.25s linear 0s;
  transition: outline-color 0.25s linear 0s;
}
.aRtCL-pSt .body .iframeCont {
  outline: 3px solid transparent;
  -webkit-transition: outline-color 0.25s linear 0s;
  transition: outline-color 0.25s linear 0s;
}
.aRtCL-pSt .body .iMg-cPtN {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: italic;
  font-size: 13px;
  line-height: 1.4;
  color: #7F8184;
  outline: 0;
  z-index: 300;
  margin-top: 15px;
  z-index: 1;
}
.aRtCL-pSt .body .iMg-cPtN:after {
  content: ".";
  line-height: 1;
  visibility: hidden;
}
.aRtCL-pSt .body > hr {
  width: 25%;
  margin: 40px auto 30px;
  border-top-color: #DDD;
}
.pSt-vW-mDe {
  padding: 20px 0px;
}
.pSt-hDr {
  padding: 0 30px;
}
.pSt-hDr > .pSt-tLbR {
  margin-bottom: 20px;
}
.pSt-hDr > .pSt-tLbR:before,
.pSt-hDr > .pSt-tLbR:after {
  content: " ";
  display: table;
}
.pSt-hDr > .pSt-tLbR:after {
  clear: both;
}
.pSt-hDr > .pSt-tTl {
  margin-top: 0px;
  font-size: 38px;
  margin-bottom: 10px;
  line-height: 1.25;
  min-height: 58px;
}
.pSt-hDr > .pSt-tTl br {
  line-height: 0;
}
.pSt-hDr .pSt-mTa {
  font-size: 13px;
  color: #cccccc;
}
.pSt-hDr .pSt-mTa a {
  color: #cccccc;
}
.pSt-hDr .pSt-mTa a:hover {
  color: #75b0e3;
}
.pSt-hDr .pSt-mTa .pSt-cTgRy {
  padding: 3px 8px;
  color: #;
}
.pSt-hDr .pSt-mTa .pSt-cTgRy:hover {
  color: #ffffff;
}
.pSt-cNt {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.475;
}
.pSt-cNt-iN {
  margin-top: 30px;
  position: relative;
}
.pSt-fLd,
.pSt-tTl,
.pSt-fLd:focus,
.pSt-tTl:focus {
  outline: 0;
  word-wrap: break-word;
}
.insertEl {
  position: absolute;
  z-index: 99;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.15s linear 0s;
  -moz-transition: -moz-transform 0.15s linear 0s;
  -o-transition: -o-transform 0.15s linear 0s;
  transition: transform 0.15s linear 0s;
}
.insertEl > a {
  display: block;
  outline: 0 !important;
}
.insertEl > a > span {
  background-image: url("../img/editor.png");
  background-position: -27px -39px;
  display: block;
  height: 22px;
  width: 22px;
  opacity: 0.40;
  -webkit-transition: opacity 0.15s linear 0s;
  transition: opacity 0.15s linear 0s;
}
.insertEl > a > span:hover {
  background-position: -50px -39px;
  opacity: 1;
}
.insertEl.on,
.insertEl:hover,
.insertEl.active {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.insertEl:hover > a > span,
.insertEl.active > a > span {
  background-position: -50px -39px;
  opacity: 1;
}
.insertEl.active .insertItems {
  display: block;
}
.insertEl.active.url .insertItems {
  display: none;
}
.insertEl.move .insertItems,
.insertEl.move .addVideoUrl {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.insertEl .insertItems,
.insertEl .addVideoUrl {
  background-color: #000000;
  color: #FFFFFF;
  left: 36px;
  padding-bottom: 6px;
  padding-top: 10px;
  position: absolute;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  -webkit-transform: translate3d(6px, 0, 0);
  transform: translate3d(6px, 0, 0);
  opacity: 0;
}
.insertEl .insertItems:before,
.insertEl .addVideoUrl:before {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #000;
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  margin-top: -10px;
}
.insertEl .addVideoUrl {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  top: -15px;
}
.insertEl .addVideoUrl .videoUrl {
  background-color: #000000;
  height: 52px;
  outline: 0 !important;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  width: 344px;
  border: 0;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 1;
  padding-left: 10px;
  margin-bottom:0;
}
.insertEl .insertItems {
  top: -95px;
  display: none;
  width: 74px;
}
.insertEl .insertItems.videoLoading .video > span {
  pointer-events: none;
  opacity: 0.5 !important;
  filter: alpha(opacity=50) !important;
}
.insertEl .insertItems.videoLoading .video > span .icon {
  background-image: url("../img/loading.gif");
  background-position: center center;
}
.insertEl .insertItems > li {
  cursor: pointer;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  text-align: center;
}
.insertEl .insertItems > li .icon {
  background-image: url("../img/editor.png");
  display: inline-block;
  height: 19px;
  width: 28px;
}
.insertEl .insertItems > li > span {
  display: block;
  opacity: 0.65;
  font-size: 11px;
  font-weight: bold;
  -webkit-transform: translate3d(4px, 0, 0);
  transform: translate3d(4px, 0, 0);
  -webkit-transition: all 0.25s ease 0.1s;
  transition: all 0.25s ease 0.1s;
}
.insertEl.move .insertItems > li > span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 0.65;
}
.insertEl.move .insertItems > li:hover > span {
  opacity: 1;
}
.insertEl .insertEl .img .icon {
  background-position: -20px -20px;
}
.insertEl .image .icon {
  background-position: 0 -15px;
}
.insertEl .break .icon {
  background-position: 0 -54px;
}
.insertEl .video .icon {
  background-position: 0 -35px;
}
.loadingImg {
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  text-align: center;
}
.imageToolbar {
  background-color: #000000;
  color: #FFFFFF;
  left: 50%;
  margin-left: -118px;
  padding: 0 10px;
  position: absolute;
  top: -61px;
  z-index: 999;
  display: none;
  opacity: 0;
  -webkit-transform: translate3d(0, -6px, 0);
  transform: translate3d(0, -6px, 0);
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.imageToolbar:after {
  border-color: #000000 rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 8px 8px 0;
  bottom: -8px;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0;
}
.imageToolbar > li {
  cursor: pointer;
  padding: 20px 10px;
  float: left;
}
.imageToolbar > li > span {
  background-image: url("../img/editor.png");
  display: block;
  float: left;
  height: 13px;
  line-height: 1;
  width: 16px;
  opacity: 0.65;
  -webkit-transition: opacity 0.15s linear 0s;
  transition: opacity 0.15s linear 0s;
}
.imageToolbar > li.active > span,
.imageToolbar > li:hover > span {
  opacity: 1;
}
.imageToolbar > li.alignCenter > span {
  background-position: -69px -1px;
}
.imageToolbar > li.alignRight > span {
  background-position: -18px -1px;
}
.imageToolbar > li.alignLeftOut > span {
  background-position: -35px -1px;
}
.imageToolbar > li.alignCenterOut > span {
  background-position: -86px -1px;
}
.imageToolbar > li.alignRightOut > span {
  background-position: -52px -1px;
}
.imageToolbar > li.alignLeft > span {
  background-position: 0 -1px;
}
.imageToolbar > li.delete > span {
    background-position: -156px -26px;
}
.video > .imageToolbar {
  margin-left: -64px;
}
.move > .imageToolbar {
  opacity: 1;
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}
.active .imageToolbar {
  display: block;
}
.placeholder {
  color: #aaa;
}
.captionPlaceholder {
  position: relative;
}
.captionPlaceholder:before {
  color: #AAAAAA;
  content: attr(data-placeholder);
  font-style: italic;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.editorImg {
  height: 0 !important;
  width: 0 !important;
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
  display:none;
}
.bM-editor-toolbar,
.bM-editor-anchor-preview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  visibility: hidden;
  -webkit-transform: translate3d(0, -6px, 0);
  transform: translate3d(0, -6px, 0);
  opacity: 0;
  -webkit-transition: opacity 0.15s linear 0s;
  transition: opacity 0.15s linear 0s;
}
.bM-editor-anchor-preview {
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px 10px;
}
.bM-editor-toolbar.move,
.bM-editor-anchor-preview.move {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}
.bM-editor-toolbar-active,
.bM-editor-anchor-preview-active {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.bM-toolbar-arrow-under:after,
.bM-toolbar-arrow-over:before {
  position: absolute;
  left: 50%;
  display: block;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  content: "";
  border-color: black;
  border-left-color: transparent;
  border-right-color: transparent;
}
.bM-toolbar-arrow-under:after {
  border-width: 8px 8px 0 8px;
}
.bM-toolbar-arrow-over:before {
  top: -8px;
  border-width: 0 8px 8px 8px;
}
.bM-editor-toolbar-actions {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #000;
}
.bM-editor-toolbar li,
.bM-editor-anchor-preview li {
  float: left;
}
.bM-editor-action {
  padding: 20px 10px;
  border: 0;
  background-color: #000;
  color: #FFF;
  opacity: 0.65;
  -webkit-transition: opacity 0.25s linear 0s;
  transition: opacity 0.25s linear 0s;
}
.bM-editor-action:hover,
.bM-editor-action.bM-editor-button-active {
  opacity: 1;
}
.bM-editor-action > span {
  display: block;
  width: 16px;
  height: 12px;
  background-image: url('../img/editor.png');
}
.bM-editor-action > span.bold {
  background-position: 111px -26px;
}
.bM-editor-action > span.italic {
  background-position: 80px -26px;
}
.bM-editor-action > span.underline {
  background-position: 64px -26px;
}
.bM-editor-action > span.anchor {
  background-position: 48px -26px;
}
.bM-editor-action > span.h1 {
  background-position: -27px -26px;
}
.bM-editor-action > span.h2 {
  background-position: -43px -26px;
}
.bM-editor-action > span.quote {
  background-position: -171px -14px;
}
.bM-editor-action > span.orderedlist {
  background-position: 47px -14px;
}
.bM-editor-action > span.unorderedlist {
  background-position: 32px -14px;
}
.bM-editor-toolbar-form-anchor > input {
  color: #FFFFFF;
  height: 52px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  width: 344px;
  background-color: #000;
  border: 0;
  outline: none !important;
  margin-bottom: 0;
}
.bM-editor-toolbar-form-anchor > a {
  color: #AAA;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  position: absolute;
  top: 11px;
  opacity: 0.65;
  right: 0;
}
.bM-editor-toolbar-form-anchor > a:hover {
  text-decoration: none;
  opacity: 1;
}
.aRtCL-pSt .move > img,
.aRtCL-pSt .move > .iframeCont {
  outline: 3px solid #1389fe;
}











.main.static .aRtCL-pSt {
    padding: 80px 0 0 !important;
}
.main.static .pSt-hDr {
	margin: 0 120px 50px;
	padding: 0;
}
.main.static .pSt-cNt {
	margin: 0 120px;
}
.pSt-hDr .pSt-tTl {
	font-size: 48px;
	min-height: 60px;
	font-weight: bold;
}
.pSt-hDr.hasImage .pSt-tTl {
	color: #FFF;
}
.pSt-hDr .pSt-tTl.placeholder {
	color: #AAA;
}
.pSt-hDr.hasImage .pSt-tTl.placeholder {
	color: #DDD;
}
.pSt-sBtTl {
	font-size: 30px;
	margin-top: 0;
	min-height: 38px;
	outline: 0 none !important;
}
.pSt-hDr.hasImage .pSt-sBtTl {
	color: #FFF;
}
.pSt-sBtTl.placeholder {
	color: #AAA;
}
.pSt-hDr.hasImage .pSt-sBtTl.placeholder {
	color: #DDD;
}
.aRtCL-pSt .body {
	font-size: 16px;
	min-height: 27px;
}
.aRtCL-pSt .body > * {
    margin-left: -20px;
    padding-left: 20px;
}
.headerGroup.on {
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 0.5s ease 0s;
}
.headerGroup.translate {
	position: absolute;
	margin-top: -252px;
	max-width: 80%;
}
.uploadBtnCont form {
	height: 0px;
	margin: 0;
}
.btnGroup {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index:99;
}
/**/
.uploadBtnCont .file-upload {
	height: 0px !important;
	opacity: 0;
	width: 0px !important;
}/**/
.pSt-hDr.hasImage .bannerImg {
	margin-left: -120px;
	margin-right: -120px;
	margin-top: -80px;
}
.pSt-hDr.hasImage .bannerImg .uploadBtnCont {
	display: none;
}
.img-cont {
	background-color: #000000;
	height: 350px;
	text-align: center;
	overflow: hidden;
}
.img-cont img {
	height: auto;
	width: 100%;
}
.bannerImg .progress {
	left: 50%;
	margin-left: -150px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 300px;
}
.uploaded {
	position: relative;
}
.uploaded .img-details {
	bottom: 10px;
	position: absolute;
	right: 10px;
}
.uploaded .img-details a {
	border: 2px solid rgba(255, 255, 255, 0.7);
	border-radius: 3px;
	color: #FFFFFF;
	display: block;
	opacity: 0.5;
	padding: 6px 8px;
	-webkit-transition: opacity 0.35s ease 0s;
	-moz-transition: opacity 0.35s ease 0s;
	-o-transition: opacity 0.35s ease 0s;
	transition: opacity 0.35s ease 0s;
}
.uploaded .img-details a:hover {
	opacity: 1;
}
.uploaded .img-details a i {
	display: block;
}
article.sCn {
	min-height: 500px;
}
.aRtCL-pSt .body {
	min-height: 22px;
}



.main.static .pSt-cNt{
  @media (max-width: 767px) {
    margin: 0 30px;
  }
}