{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% load upload_tags %}
{% block navigation %}
	{% activetab "selmodule" "community" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Update Thread' %} {% endblock %}
{% block head %}
<!-- TAGS -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}ui/css/jquery.tagit.css" />
<!-- TAGS -->
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bm.jfp.ui.css">
{% endblock %}
{% block content %}
<div id="staff-platform" class="group">
    <div class="header-bar">
    	<a href="{% url 'staff_manage_advice' %}"><h2><span class="go_back"></span>Community</h2></a>
	</div>
    <div id="core-wraper" class="group">
        <div class="staff-main">
            <div class="page-wrap">
                <div id="attractions-add" class="group">
                    <div id="add-new-attraction">
                    	{% if form.errors %}
							<div class="messageerror" >
								<span style="font-size:1.2em;font-weight:250;"><strong>There is a problem with your submission</strong></span>
						        <ul>
								 {% for field in form %}
								 	{% if field.errors%}<li>{%for error in field.errors%}{{error}}{%endfor%}</li>{% endif %}
						 		 {% endfor %}
								</ul>
							</div>
						{% endif %}
                        <form id="mform" action="{% url 'staff_edit_advice' advice.id %}" method="post">{% csrf_token %}
                            <div class="fields hform">
                                <div class="field-group">              
                                    <div class="field text-field fd-title">
                                        <div class="label"><label for="">Thread(Question)</label></div>
                                        <div class="value">
											{{form.question}}
											<span class="tip">{{globalsettings.website_url}}/community/{% trans "< category-name >" %}/{{form.slug}}</span>
										</div>
									</div>
                                    <div class="field select-field">
                                        <div class="label"><label for="">Topics</label></div>
                                        <div class="value">
                                        	{{form.category}}
											<span class="tip">{% trans 'Select Topics related to the Thread.' %}</span>
										</div>
                                    </div>                                                                                                  
                                </div>
                            <div class="field-group">
                            	<div class="fields-head"></div>
									<div class="field text-field">	
                                        <div class="label"><label>Description</label></div>	
                                        <div class="value">{{form.moredetails}}</div>	
                                    </div> 
                                	<div class="field text-field">	
                                        <div class="label">
                                        	<label for="-button">{% trans 'Tags' %}</label>
										</div>
                                        <div class="value has-fd-icon">
                                        	<input id='tags' type="hidden" class='tags' name="tags"  value="">
											<ul id="mytags" style="width:354px;"></ul>
                                        	<!--img class="fd-icon" src="{{STATIC_URL}}ui/images/icons/b/66.png" alt=""-->
											<span class="tip">{% trans "Add multiple tags separated by comas ',' or use 'tab' key" %}</span>
                                        </div>
                                    </div>
                            	</div>
								
								<div class="field-group">
	                           		<div class="fields-head"></div>
									<div class="field text-field">	
										<div class="field text-field">	
											<div class="label pdt0"><label>{% trans 'Is Featured' %}</label></div>	
											<div class="value">
												<span class="cform-checkbox-container">{{form.is_featured}}<span class="cform-checkbox-element"></span></span>
												<!--span class="tip">{% trans 'Check if user can add photo' %}</span-->
											</div>
										</div>
										<div class="field text-field">	
											<div class="label pdt0"><label>{% trans 'Email On Answer' %}</label></div>	
											<div class="value">
												<span class="cform-checkbox-container">{{form.email_on_answer}}<span class="cform-checkbox-element"></span></span>
												<!--span class="tip">{% trans 'Check if user can add photo' %}</span-->
											</div>
										</div>
										<div class="field text-field">	
											<div class="label  pdt0"><label>{% trans 'Allow Comments' %}</label></div>	
											<div class="value">
												<span class="cform-checkbox-container">{{form.allow_comments}}<span class="cform-checkbox-element"></span></span>
												<!--span class="tip">{% trans 'Check if user can add photo' %}</span-->
											</div>
										</div>
									</div>
								</div>
							</div> 
	                        <div class="form-submit right group">
    	                       <button class="cform-button" type="button" roll="button" onclick="window.location.replace('{% url 'staff_manage_advice' %}')"><span class="cform-button-text">Cancel</span></button>
        	                   <button role="button" class="cform-button prime" type="submit"><span class="cform-button-text">SAVE</span></button>
            	            </div>                                                
                	    </form>
                    </div>																	                                        
                </div> <!-- end table -->                                    
	        </div><!-- end page wrap -->
    	</div>  <!-- end main-col -->                            
    	<div id="aside" class="side-bar">
            {% include 'advice/staff/add_update_faq.html' %}  
    	</div>                            
	</div>                                                    
</div> 
{% endblock %}
{% block footer_include %}
<!-- TAGS -->
	<script type="text/javascript" src="{{STATIC_URL}}ui/js/jquery.ui.autocomplete.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}ui/js/tag-it.js"></script>
<!-- TAGS -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
<script type="text/javascript">
function string_to_slug(str) {
  str = str.replace(/^\s+|\s+$/g, ''); 
  str = str.toLowerCase();
  str = str.replace(/[^a-z0-9 -]/g, '').replace(/\s+/g, '-').replace(/-+/g, '-'); 
  $('#id_slug').val(str);
}	
$(document).ready(function(){
	$("#mform").validate({
		ignore: "",
		highlight: function(element, errorClass){add_error_class(element)},
		unhighlight: function(element, errorClass){remove_error_class(element)},
		errorPlacement: function(error, element){},
	   	rules: {
	    	question: "required",
			slug:"required",
	    	category:"required",
			moredetails:"required"
	   	}
	});
	$('#id_category').change(function(){$('#id_category').valid();})
	$("#mytags").tagit({
       singleField: true,
       singleFieldNode: $('#tags'),
	   allowSpaces:true,
       tagSource: function( request, response ) {
         $.ajax({
		       url: "{% url 'staff_advice_auto_suggest_tag' %}",
		       data: { term:request.term },
		       dataType: "json",
		       success: function( data ) {
		       response( $.map( data, function( item ) {
		       return {
			   	label: item.label, value: item.value 
				}}
				));
       		}
       });
      }});
	{% if advice.tags %}
		{% for tag in advice.tags.all %}
	  		$("#mytags").tagit('createTag','{{tag}}');
	  	{% endfor%}
	{% endif %}
});
function textlimit(textArea,len){
	var txtvalue = textArea.value;
	var the_len = txtvalue.length;
	if (the_len > len){
		textArea.value = txtvalue.substring(0,len);
	}
}
</script>
{% endblock %}