{% extends "staff_base.html" %}
{% load tabs %}
{% load i18n %}
{% load thumbnail %}
{% block navigation %}
	{% activetab "selmodule" "community" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Preview - Community' %} {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div id="staff-platform" class="group">
	<div class="header-bar has-preview-head">
        <h2 onclick="window.location.replace('{% url 'staff_manage_advice' %}')" style="cursor:pointer;">Community</h2>
        <section class="sub-header-bar">
            <div class="preview-head">
            	{% if advice.is_featured %}
        		<span class="list-type featured-item"><a class="tttxt" original-title="{% trans 'Item listed as featured' %}" href="javascript:void(0);">{% trans 'Featured' %}</a></span>
		 		{% endif %}
                <div class="item-title">
                    <h1>{{ advice.question }}</h1>
                    <p class="ltxt80">By <a href="{% url 'user_profile' advice.created_by.profile_slug %}">{{advice.created_by.display_name}}</a> <span class="divider12">|</span> {{advice.created_on|date:"M d, Y"}}</p>
				</div>                                   
                <ul class="status-tabs group">
                	 <li>{{advice.viewed}}<span class="meta">{% trans 'views' %}</span></li>
                    <li>{{advice.get_answer_count}}<span class="meta">{% trans 'answers' %}</span></li>
                </ul>                
            </div>                                
        </section>                          
    </div>
    <div id="core-wraper" class="group">
        <div class="staff-main">
            <div class="page-wrap">
                <div id="article-preview" class="preview-center group">
                    <div class="preview-items">
                        <div class="preview-group">  
                        	<div class="preview-items-head">
                                <div class="right-item"><div class="cform-button"><a href="{% url 'staff_edit_advice' advice.id %}"><span>{% trans 'Edit' %}</span></a></div></div>
                            	<h3 style="vertical-align:top">{% trans 'Advice Details' %}</h3>
                            </div>            
                            <div class="preview-item title">
                                <div class="label"><h4>{% trans 'Question/Advice' %}</h4></div>
                                <div class="value">{{ advice.question }}</div>
                            </div> 
							<div class="preview-item title">
                                <div class="label"><h4>{% trans 'Category' %}</h4></div>
                                <div class="value">{{advice.category}}</div>
                            </div> 
							<div class="preview-item title">
                                <div class="label"><h4>{% trans 'Allow Comments' %}</h4></div>
                                <div class="value">{% if advice.allow_comments %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</div>
                            </div> 
							<div class="preview-item title">
                                <div class="label"><h4>{% trans 'Mail On Reply' %}</h4></div>
                                <div class="value">{% if advice.email_on_answer %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</div>
                            </div> 
							<div class="preview-item title">
                                <div class="label"><h4>{% trans 'Comments' %}</h4></div>
                                <div class="value">
									{% if advice.get_comments %}
										<ul id="comment_list_q_{{advice.id}}">
											{% for cmt in advice.get_comments %}
											<li id="comment_{{cmt.id}}"><p>{{cmt.comment}}<b style="font-weight:bold;"> ~ {% trans "by "%}{{cmt.created_by}}</b> <a class="tttxt-w" title="Delete" style="color:red" href="javascript:delete_cmt({{cmt.id}},'q',{{advice.id}})">X</a></p></li>
											{% endfor %}
										</ul>
									{% endif  %}
									<ul id="no_comments_q_{{advice.id}}" style="color:#aaa;{% if advice.get_comments %}display:none;{% endif %}">
										<li id="no_comment_{{cmt.id}}"> <div><p>{% trans 'No Comments found!' %}</p></div></li>
									</ul>
								</div>
                            </div> 	
							{% if advice.tags.all %}  
                            <div class="preview-item tags">
                                <div class="label"><h4>{% trans 'Tags' %}</h4></div>
                                <div class="value">
                                	<span class="note">{% for tag in advice.tags.all %}{{ tag.tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
								</div>
                            </div> 
							{% endif %}
							<ol class="data-table-inset" id="product_list">
								<li class="table-list-row" style="text-align:center;padding:10px;display:none;" id="ajax_content_loading_list">
									<img src="{{STATIC_URL}}ui/images/global/loading-s.gif">
								</li>
								{% if advice.get_all_answers %}
								<li>
									<div class="preview-item title">
		                                <h3>{% trans 'Answers' %}</h3>
		                            </div> 
								</li>
								{% for ans in advice.get_all_answers %}
	                        	<li class="table-list-row manage-items" id="li_{{ans.id}}">
	                                <div class="table-list-row-inner group">
										<div class="item-detail">
	                                    	<h4>{% trans "By "%}{{ans.created_by}}<!--em class="price" id="em_{{ans.id}}">&nbsp;{% if ans.status == 'P' %}{% trans "Approved" %}{% else %}{% trans "Pending" %}{% endif %}</em--></h4>
											<p>{{ans.answer}}</p>
										 </div>
										<div class="preview-item title"><h3>{% trans "Comments "%}</h3></div>
										{% if ans.get_comments %}
											<ul id="comment_list_a_{{ans.id}}">
												{% for cmt in ans.get_comments %}
												<li id="comment_{{cmt.id}}"><p>{{cmt.comment}}<b style="font-weight:bold;"> ~ {% trans "by "%}{{cmt.created_by}}</b> <a class="tttxt-w" title="Delete" style="color:red" href="javascript:delete_cmt({{cmt.id}},'a',{{ans.id}})">X</a></p></li>
												{% endfor %}
											</ul>
										{% endif %}
										<ul id="no_comments_a_{{ans.id}}" style="color:#aaa;{% if ans.get_comments %}display:none;{% endif %}">
											<li id="no_comment_{{cmt.id}}"> <div class="value"><p>{% trans 'No Comments found!' %}</p></div></li>
										</ul>
										{% if perms.advice.change_adviceanswers or advice.add_adviceanswers %}
	                                   	<div class="action-buttons">
	                                        <div>
												{% if ans.status != 'P' %}
	                                            	<a id="em_{{ans.id}}" href="javascript:status_ans({{ans.id}})" class="tttxt-w" original-title="{% trans 'Approve this answer' %} {{ans}}"><span class="action-icon icon-edit"></span></a>
												{% endif %}
	                                            <a href="javascript:delete_ans({{ans.id}})" class="tttxt-w" original-title="Delete"><span class="action-icon icon-delete"></span></a>
											</div>                                                            
	                                  	</div>
										{% endif %}
	                                </div>
								</li>
								{% endfor %}
								{% endif %}
								<div class="preview-item tags no-data" style="{% if advice.get_all_answers %}display:none;{% endif %}">
		                            <div class="value"><p>{% trans 'No Answers found!' %}</p></div>
								</div>
	                        </ol> <!-- end table -->                                                                                        
                        </div>   
                    </div>                                            
                </div><!-- end table -->
            </div> <!-- end page wrap -->
        </div> <!-- end main-col -->                            
        <div id="aside" class="side-bar">
             {#% include 'attraction/staff/faq.html' %#}         
        </div>                            
    </div>                                                    
</div>
{% endblock %}
{% block footer_include %}
<script type="text/javascript">
function delete_ans(id){
	if(confirm(gettext('Are you sure want to delete this answer ?'))){
		$.ajax({
			type: "POST",
			url:'{% url 'staff_advice_answer_delete' %}',
			data:'id='+id,
			dataType:'JSON',
			success: function(responseData){
				show_msg(responseData.msg,responseData.mtype);
				if(responseData.status==1){
					$('#li_'+id).remove();
					if($('#product_list').find('li').length==1){$('.no-data').show();}
					else{$('.no-data').hide();}
				}
			}
		});
	}
}
function delete_cmt(id,type,qaid){
	if(confirm(gettext('Are you sure want to delete this comment ?'))){
		$.ajax({
			type: "POST",
			url:'{% url 'staff_advice_comment_delete' %}',
			data:'id='+id,
			dataType:'JSON',
			success: function(responseData){
				show_msg(responseData.msg,responseData.mtype);
				if(responseData.status==1){
					$('#comment_'+id).remove();
					if($('#comment_list_'+type+'_'+qaid).find('li').length==0){$('#no_comments_'+type+'_'+qaid).show();}
				}
			}
		});
	}
}
function status_ans(id){
	if(confirm(gettext('Are you sure want to change status of this answer ?'))){
		$.ajax({
			type: "POST",
			url:'{% url 'staff_advice_answer_status' %}',
			data:'id='+id,
			dataType:'JSON',
			success: function(responseData){
				show_msg(responseData.msg,responseData.mtype);
				if(responseData.status==1){$('#em_'+id).remove();}
			}
		});
	}
}
</script>
{% endblock %}