{% extends base %}
{% load modulotag %}
{% load truncate_filter %}
{% load comparison %}
{% load thumbnail %}
{% load currency %}
{% load i18n %}
{% load tabs %}
{% load ds_utils %}
{% block pagetitle %}{%if seo%}{% seo_format_tag module='Shop' title=seo.meta_title code='MT' as seo_meta_title %}{{seo_meta_title}}{%else%}{% trans 'Shop' %}{%endif%}{% endblock %}
{% block meta %}
	<meta name="description" content="{%if seo%}{{ seo.meta_description }}{%else%}{% trans 'Shop' %}{%endif%}" />
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}themes/green/css/store.css">
<script type="text/javascript">
function display_edit(id){
	$('#qty_display_'+id).hide();
	$('#qty_edit_display_'+id).show();
}
function save_quantity(id,cid){
	var dataString = 'id='+id;
	var quantity=$('#id_quantity_'+cid).val();
	if(quantity>0){
		dataString+='&value='+quantity;
		$.ajax({
			type: "GET",
			url: '{%url 'bmshop_product_update_quantity' %}',
			data: dataString,
			dataType:'JSON',
			success: function(data){	
				if(data.status){
					$('#qty_edit_display_'+cid).hide();
					$('#qty_dsply_'+cid).empty().html(data.val);
					$('#price_dsply_'+cid).empty().html(data.item_price);
					$('#base_price').empty().html(data.base_price);
					$('#tax_price').empty().html(data.tax_price);
					$('#total_price').empty().html(data.total_price);
					$('#qty_display_'+cid).show();
				}else{
					alert(data.msg);
					$('#qty_edit_display_'+cid).hide();
					$('#qty_dsply_'+cid).empty().html(data.val);
					$('#price_dsply_'+cid).empty().html(data.item_price);
					$('#base_price').empty().html(data.base_price);
					$('#tax_price').empty().html(data.tax_price);
					$('#total_price').empty().html(data.total_price);
					$('#qty_display_'+cid).show();
					$('#id_quantity_'+cid).val(data.amount);
					//show_msg(data.msg,'e');
				}
			}
		});
	}else{alert("Please enter valid quandity !!!")}
}
</script>
{% endblock %}
{% block navigation %}
	{% activetab "topnav" "shop" %}
	{{ block.super }}
{% endblock %}
{% block content %}
	{#% include 'default/bmshop/include_search.html' %#}	
	<div id="content">
            <div id="content_inner" class="group">
                <div id="shopping_bag" class="page_wraper">
                    <div class="group shopping_bag">
                        <div class="page_head"> 
                            <h2>Shopping Bag</h2>
                            <ul class="top_help">
                                <li>Call customer support at 888 222 7639</li>
                                <li><a href="#">Email customer support</a></li>
                                <li><a href="#">Return &amp; exchange policy</a></li>
                            </ul>
                        </div>
                        <div>
                        <table summary="Cart" class="cart_table">
                            <thead>
                                <tr>
                                    <th class="item">Item</th>
                                    <th class="description">Description</th>
                                    <th class="color">Price</th>
                                    <th class="size">Delivery Time</th>
                                    <th class="quantity">Quantity</th>
                                    <th class="item_price">Sub Total</th>
                                    <th class="remove">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for cart_item in cart.cart_items %}
                                <tr class="table_row">
                                    <td class="item">
                                      {% if cart_item.product.get_cover_image_user %}
                                       <a href ="{{ cart_item.product.get_absolute_url }}">
										 <div class="cart_item list_image">
                                            <img style="max-width:130px;" title="{{ cart_item.product.name }}" alt="{{ cart_item.product.name }}" src="{%thumbnail cart_item.product.get_cover_image_user 160x121 %}">
                                        </div>
                                       </a>
										{% else %}
									         <div class="cart_item list_image">
	                                            No image
	                                          </div>
									    {% endif %}                                    </td>
                                    <td class="description">
									<input type="hidden" id="cart_item_id" name="cart_item_id" class="cart_item_id" value="{{ cart_item.obj.id }}">
                                        <div class="cart_item list_description">
                                            <div class="product">
                                                <div class="product_name">
                                                    <a title="Cut-Out Band Sandal" href="{{ cart_item.product.get_absolute_url }}">{{ cart_item.product.name }}</a>
                                                </div>
                                                <div class="attributes">
                                                    {% if cart_item.product.get_manufacture %}
														<div class="brand">{{ cart_item.product.get_manufacture }} </div>
												    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
								<td class="size" id = "size">
                                        <div class="cart_item">
                                        	{{cart_item.obj.product.for_sale_price|floatformat:2|moneyfmt}}
                                        </div>
                                 </td>
								  <td class="color" id = "color" onload = "return prop();">
                                        <div class="cart_item" id = "cart_item_size">
                                        	{%if cart_item.product.get_delivery_time%}
                                        		{{cart_item.product.delivery_time.min_unit}}-{{cart_item.product.delivery_time.max_unit}} business {{cart_item.product.delivery_time.get_unit_display}}
											{%else%}
												Not Specified
											{%endif%}	
                                        </div>
                                  </td>
								
                                    <td class="quantity">
                                        <div class="cart_item cart_listing_quantity" id="qty_display_{{cart_item.obj.id}}">
                                        	<p id="qty_dsply_{{cart_item.obj.id}}" style="display: inline-block;">{{ cart_item.quantity }}</p>
											<a style="margin-left:10px" onclick="display_edit({{cart_item.obj.id}})" href="javascript:void(0)">Edit</a>
										</div>
										<div class="cart_item cart_listing_quantity" style="display:none;" id="qty_edit_display_{{cart_item.obj.id}}">
											<input type="text" value="{{ cart_item.quantity }}" maxlength="6" size="2" name="quantity_{{ cart_item.obj.id }}" id="id_quantity_{{ cart_item.obj.id }}" class="qty_field">
											<a style="margin-left:10px" onclick="save_quantity({{cart_item.product.id}},{{ cart_item.obj.id }})" href="javascript:void(0)">Save</a>                                        	 
										</div>
                                    </td>
                                    <td class="price">
                                        <div id="price_dsply_{{cart_item.obj.id}}" class="cart_item list_unitprice">{{cart_item.obj.get_product_total_price|floatformat:0|moneyfmt}}</div>
                                    </td>
                                    <td class="remove_item">
                                        <div class="cart_item list_remove">
                                            <input type="button" name="remove_cart_item" value="Remove" id="remove_cart_item" class="rbtn" onclick="if(confirm('You want to remove this product from your cart ')){;location.replace('{%url 'bmshop_product_remove_cart_item' cart_item.obj.id %}');this.focus();}">
                                        </div>
                                    </td>
                                </tr>
								 {%empty%}
								 <tr>
								 	<td>
								 		<h2>{{cart.Msg}}</h2>
									</td>	 
								 </tr>	 
                                 {% endfor %}                                                           
							</tbody>
						</table>                                                    
                        </div>
						<form name="mform" action="{% url 'bmshop_product_cart' %}" method="post">{% csrf_token %}
                        <div class="shopping_bag_footer">
                            <div class="order_summary">
                                <div class="cart_order_totals group">
                                    <div class="order_totals">
                                        <table summary="Order Totals Table" class="ordertotalstable">
                                            <tbody>
                                                <tr class="order_shipping">
                                                    <td>
                                                        <span class="label">Total</span>
                                                    </td>
                                                    <td>
                                                        <span class="value"><strong id="base_price">{{ cart.cart_base_price|floatformat:0|moneyfmt }}</strong></span>
                                                    </td>
                                                </tr>
                                                <tr class="order_sales_tax">
                                                    <td>
                                                        <span class="label">Est. Tax:</span>
                                                    </td>
                                                    <td>
                                                        <span class="value" id="tax_price">{{cart.cart_tax|floatformat:2|moneyfmt}}</span>
                                                    </td>
                                                </tr>
                                                <tr class="order_total">
                                                    <td>
                                                        <span class="label"><strong>Estimated Total:</strong></span>
                                                    </td>
                                                    <td id="order-total">
                                                        <span class="value" id="total_price">{% if cart.cart_price %}{{ cart.cart_price|floatformat:0|moneyfmt }}{% else %}{{globalsettings.currrency}}0{% endif %}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table></form>
                                    </div>
                                    <!-- /order_totals -->
                                </div>
                                <div class="buttons_bar">
                                    <a title="CONTINUE SHOPPING" href="{% url 'bmshop_product_home' %}" class="back_link">&larr; Continue Shopping</a>
                                    {%if cart.cart_items%}<button type="submit"  class="button mb  black">PROCEED TO CHECKOUT</button>{%endif%}
                                </div>
                            </div>                        
                        </div>
						</form>
                    </div>  
                </div> <!-- / Shopping Bag \ -->
			</div>
        </div><!-- /content\ -->	
{% endblock %}	
