{% load i18n %}
{% load thumbnail %}
{% load currency %}

{%for product_obj in product_objs%}
	<div class="item {% cycle '' '' '' 'mr_0' %} wrdLatest" id="{{product_obj.id}}">
        <div class="item_wrap">
            <div class="product_image">
                <span class="cover">
                    <span class="inner">
						<a href="{{product_obj.get_absolute_url}}">
		                    <img alt="{{product_obj.name}}" height="100px" title="{{product_obj.name}}" src="{%if product_obj.get_cover_image_user%}{% thumbnail product_obj.get_cover_image_user 120x0 %}{%endif%}">
						</a>
		                <span class="v_align"></span>
                    </span>
                </span>
            </div> 
            <div class="product_info">
                <div class="inside">
                    <div class="name">
                        <a href="{{product_obj.get_absolute_url}}" title="{{product_obj.name}}">
                            <span class="display_name"> {{product_obj.name|truncatechars:45}}</span>
					    </a>
						<!--a href="#" title="Plaid Western Shirt">
                            <span class="brand_name"></span>
                        </a-->
                    </div> 
					<div class="price">
                         <div class="discount_price">
			                <div class="sales_price">{%if product_obj.get_base_price%}<em style="display: block; margin-bottom: 5px;font-weight:normal">{{globalsettings.currency}}{{product_obj.get_base_price|floatformat:2}}</em>{%endif%}<div class="standard_price">{{globalsettings.currency}}{{product_obj.for_sale_price|floatformat:2}} </div></div>
						</div>
                    </div>
                </div><!-- end .inside -->
            </div><!-- end .info --> 	
			    
        </div><!-- end .item_wrap -->
    </div><!-- end .item -->
	{% cycle '' '' '' '<div class="clear"></div>' %}
{%empty%}
	<div>No Results Found!</div>	
{%endfor%}