<div id="search_business" class="module_search" style="position:relative">
     <div class="drop_down">
           <a class="nav">All Categories<span class="arrow"></span></a>
       <div class="subnav">
               <ul>
               {%for main_cat in main_cats %}	
               		<li class="main_cat">
               			<a href="{{main_cat.get_absolute_url}}">{{main_cat.name}}</a>
						{%if main_cat.get_children%}
						<ul>
							{%for sub_cat in main_cat.get_children%}
	                       		<li class="sub_cat"><a href="{{sub_cat.get_absolute_url}}">{{sub_cat.name}}</a>
									{%if sub_cat.get_children%}
									<ul>
										{%for sub_cat_new in sub_cat.get_children%}
				                       		<li class="sub_cat"><a href="{{sub_cat_new.get_absolute_url}}">{{sub_cat_new.name}}</a></li>
									   {%endfor%}
				                   </ul>
								   {%endif%}
								</li>
						   {%endfor%}
	                   </ul>
					   {%endif%}
					   
					</li>
               {%endfor%}
           </ul>
       </div>
   </div>
	<form id="search_from" method="get" action="{%url 'bmshop_product_search_products' %}">
        <p class="search_for group" style="padding-left:10px; ">
            <label for="id_for">Search for</label>
            <span class="field_wrap search_ex">
	            <select  name="cat" id="search_category">
	            	<option selected="selected" value="">Select a Category</option>
	            	{%for search_cat in main_cats %}	
	                	<option value="{{search_cat.id}}">{{search_cat.name}}</option>
					{%endfor%}
	            </select>
			</span>
        </p>
        <p class="near">
            <span class="field_wrap search_ex">
            	<input name="query" value="" class="bus_loc_tips_input" title="Search for Product" id="id_search_value" tabindex="2" type="text">
				<em class="tips" id="bus_loc_tips" >Search for Product</em>
			</span>
        </p>
        <p class="submit_btn"><button class="super large black button" id="search_id" type="submit"><span class="biz_search">Search</span></button></p>
    </form>
	
	<div onclick="location.replace('{%url 'bmshop_product_cart' %}');" id="mini_cart" class="mini_cart">
		<div class="mini_cart_total group">
               <span class="cart_label"><a href="javascript:void(0)">Shopping Bag</a></span><span class="quantity"><a href="javascript:void(0)" id="id_cart_count" title="View Bag">{{cart.cart_item_count}}</a></span><span class="show_cart"><span class="arrow"></span></span>
		</div>
            <div class="mini_cart_content ready" id="id_mini_cart_content" style="display: none;">
				{% include 'default/bmshop/lb_include_cart.html' %}	
			</div><!-- /mini_cart_content -->
		</div>
		
		
		
    <div class="clear"></div>
</div><!-- /search_business -->
<script>
	$(document).ready(function() {
	/* Show mini-cart on hover */
		$('#mini_cart').mouseover(function(){
			$(this).find('.mini_cart_content').fadeIn(300).addClass('ready');
			})
		$('#mini_cart').mouseleave(function(){
			$(this).find('.mini_cart_content').fadeOut(300);
			});
		
    });
</script>

