<div class="iNvRt sRcHbR hasCategory zIx9999oV bS-bRdR">
    <div class="row-fluid">
        <div class="span9 sP10mN768">
            <div class="dropdown pD2015 pDr0 sTtC pLlT hP"> 
                <a id="shopByCat" data-toggle="dropdown" href="#" class="mDl-nM bLk dropdown-toggle mRt4 "> 
                    <i aria-hidden="true" class="bUi-iCn-sToR-24"></i>
                    <span class="ib">Shop By Category <i aria-hidden="true" class="bUi-iCn-aNg-b-12 mRl10 bDrD"></i> </span>
                </a>
                <ul class="nav nav-list fS12 dropdown-menu iNvRt" id="shopByPCatCont">
                    <ul class="nav nav-list aWsM-cAt-lSt iNvRt w100mN768 dRmN678" id="shopByPCat">
                        
                       {%for main_cat in main_cats %}	
                        <li class="hS-dRpDwN dD-rT"> <a href="{{main_cat.get_absolute_url}}">{{main_cat.name}}</a>
                            {%if main_cat.get_children%}
                            <ul class="dropdown-menu fOcL">
                            	{%for sub_cat in main_cat.get_children%}
                                <li class="mRb25">
                                    <h4 class="mRt0 mRb12 pDl20">{{sub_cat.name}}</h4>
                                    {%if sub_cat.get_children%}
                                    <ul class="unstyled pDl20">
                                    	{%for sub_cat_new in sub_cat.get_children%}
                                        <li class="mRb5"><a href="{{sub_cat_new.get_absolute_url}}">{{sub_cat_new.name}}</a></li>
                                        {%endfor%}
                                    </ul>
                                    {%endif%}
                                </li>
                                {%endfor%}
                            </ul>
                            {%endif%}
                        </li>
                        {%endfor%}
                        <li class="hS-dRpDwN dD-rT"> <a href="#">Home &amp; Lifestyle</a>
                            <ul class="dropdown-menu tWcL">
                                <li><a href="#">Air Conditioners &amp; Coolers</a></li>
                                <li><a href="#">Antiques - Handicrafts </a></li>
                                <li><a href="#">Baby - Infant Products</a></li>
                                <li><a href="#">Bags - Luggage</a></li>
                                <li><a href="#">Barter - Exchange</a></li>
                                <li><a href="#">Books - Magazines</a></li>
                                <li><a href="#">Clothing - Garments</a></li>
                                <li><a href="#">Coins - Stamps</a></li>
                                <li><a href="#">Collectibles</a></li>
                                <li><a href="#">Discounted - Sale Items</a></li>
                                <li><a href="#">Fashion Accessories</a></li>
                                <li><a href="#">Gifts - Stationary</a></li>
                                <li><a href="#">Health - Beauty Products</a></li>
                                <li><a href="#">Home - Kitchen Appliances</a></li>
                                <li><a href="#">Home - Office Furniture</a></li>
                                <li><a href="#">Home Decor - Furnishings</a></li>
                                <li><a href="#">Household</a></li>
                                <li><a href="#">Jewellery</a></li>
                                <li><a href="#">Music - Movies</a></li>
                                <li><a href="#">Musical Instruments</a></li>
                                <li><a href="#">Paintings</a></li>
                                <li><a href="#">Sport - Fitness Equipment</a></li>
                                <li><a href="#">Toys - Games</a></li>
                                <li><a href="#">Watches</a></li>
                                <li><a href="#">Wholesale - Bulk</a></li>
                                <li><a href="#">Everything Else</a></li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </div>
            <form class="form-search mRb0 pD2015">
                <div class="span7 sP6mN768 pDl30  pD0p">
                    <input type="text" placeholder="Search for a product, category or brand">
                </div>
                <div class="ib sUb-bTn mRl12 sTtC aBpT15">
                    <button class="btn btn-success" type="submit"> <i class="bUi-iCn-sRh-16" aria-hidden="true"></i> </button>
                </div>
            </form>
        </div>
        <div class="pLrT pD2015 devider">
            <div class="pDr30 pDl30 pDl0mN768 pDr0mN768 pD0p">
                <h3 class="mDl-nM mRt6 mRb4"> <i aria-hidden="true" class="bUi-iCn-cRtV-24"></i> <a class="ib cLr-wHt" data-toggle="modal" role="button" data-target="#myModal1" href="e-commerce-cart.html">Cart
                    <label class="lBl sMl lH1 mR0 cIr wHt cLr-dRk">0</label>
                    </a> </h3>
            </div>
        </div>
    </div>
</div>
<div class="overlay"></div>