{% extends base %}
{% load modulotag %}
{% load comparison %}
{% load tabs %}
{% load i18n %}
{% load currency %}
{% load mptt_comments_tags %}
{% load thumbnail %}
{% load truncate_filter %}
{% load ds_utils %}
{% block pagetitle %}{% if category %}{% seo_format_tag module='Shop' title=category.seo_title code='LT' category=category.name as seo_meta_title %}{% else %}{% seo_format_tag module='Shop' title=seo.seo_title code='MT' as seo_meta_title %}{% endif %}{{seo_meta_title}} {% if page > 1 %}| page {{ page }} {% endif %}{% endblock %}
{% block meta %}
	<meta name="description" content="{{ seo.seo_description }}" />
{% endblock %}
{% block head %}
	<script src="{{STATIC_URL}}js/jquery-ui-1.10.3.custom-slider.min.js"></script>
	<script src="{{STATIC_URL}}js/fleximage.js"></script>
{% endblock %}
{% block navigation %}
	{% activetab "topnav" "shop" %}
	{{ block.super }}
{% endblock %}
{% block content %}
<div id="content-container">
    <div class="container-fluid">
    	<!-- Module Search -->
    	{% include 'default/bmshop/part-search.html' %}	
		<!-- Module Search -->
		<ul class="bRdCrB">
            <li>
                <a href="{%url 'bmshop_product_home' %}">Shop</a>
                <span class="sPrTr"></span>
            </li>
            {% for categories in product_obj.get_category %}
                
                {% if categories.get_parent %}
	                <li>
	                    <a href="{{categories.get_parent.get_absolute_url}}">{{categories.get_parent.name}}</a>
	                    <span class="sPrTr"></span>
	                </li>
	                <li>
	                    <a href="{{categories.get_absolute_url}}">{{categories.name}}</a>
	                    <span class="sPrTr"></span>
	                </li>
                {%else%}
                	<li>
	                    <a href="{{categories.get_absolute_url}}">{{categories.name}}</a>
	                    <span class="sPrTr"></span>
	                </li>
                {% endif %}
            {%endfor%}
            <li class="aCtV">
                 {{product_obj.name}}
            </li>
    	</ul>
        <div class="row-fluid">
            <div class="sCn">
                <div class="row-fluid">
                    <div class="span5">
                        <div class="fTrD-bL tMbpGrpRw mRb0 sLdR-mDm mDa-75 aDpTv cTrL-rT">
                            <div class="fTrD-bL-iN">
                                <ul id="tMbpGrpRw" class="fTrD-iTmS">
                                   {%for photo in product_obj.get_all_photos%}  
                                    <li class="fTrD-iTm bS-bRdR">
                                        <figure class="fTrD-mDa">
                                            <span class="bUi-tMb-wPr fLxiMgW" href="#">
                                                <span class="bUi-tMb">
                                                    <span class="bUi-tMb-pRpL">
                                                        <span class="bUi-tMb-cLp">
                                                            <span class="bUi-tMb-cLp-iN">
                                                                <img class="mDa-oT" src="{% thumbnail photo.photo 800x0 crop %}" alt="{{product_obj.name}}" />
                                                                <span class="vRtL-aLn"></span>  
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </figure> <!-- /.TrD-mDa --> 
                                    </li> <!-- /.fTrD-iTm -->
                                    {%endfor%}
                                </ul> <!-- /.fTrD-iTms -->
                            </div><!-- /.fTrD-bL-iN -->                                  
                        </div>

                        <div class="fTrD-bL tMbpGr cTrL-dFt mRb10">
                            <div class="fTrD-bL-iN">
                                <div id="tMbpGr">
                                    {%for photo in product_obj.get_all_photos%}  
                                    <a href="#" class="bUi-tMb-wPr tMb-100 fLxiMgH bS-bRdR" data-slide-index="0">
                                        <span class="bUi-tMb">
                                            <span class="bUi-tMb-pRpL">
                                                <span class="bUi-tMb-cLp">
                                                    <span class="bUi-tMb-cLp-iN">
                                                        <img alt="" src="{% thumbnail photo.photo 1000x0 crop %}" class="mDa-oT" />
                                                        <span class="vRtL-aLn"></span>  
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                     {%endfor%}
                                    
                                </div>
                            </div><!-- /.fTrD-bL-iN -->                                  
                        </div>
                    </div>
                    <div class="span7 pDl30 pDl0mP">
                        <h2 class="mR0">{{product_obj.name}}</h2>
                        <div class="cLr-gRy mRt5 cLrFx">
                            <div class="pLlT">
                                <span class="ib">
                                    <div class="sTr-rT ib mRb0 pDt0">
                                        <span class="sTr-wPr sTr-rT-rD iCn16 rEd mRt-4"></span>
                                    </div>
                                    <span class="fS11 cLr-gRy mRl10">({{product_obj.ratings}} rating)</span>
                                    <input type="hidden" id="id_get_rating" value="{{product_obj.ratings}}" />
                                </span>
                                <span class="vEr sPrTr fS12 ib">{% get_mptt_comment_count for product_obj as comment_count %}{{comment_count}} Reviews</span>
                            </div>
                            <div class="pLrT pLlTtB mRt10tB">
                                <span class="sPrTr"></span>
                                <span class="vEr sPrTr fS12 pLrT">
                                    <a href="#" class="btn-link cLr-gRy"><i class="bUi-iCn-hRt-12 mRr8" aria-hidden="true"></i> Add to My Wishlist</a>
                                </span>
                                <span class="fS12 pLrT">
                                    <a href="#" class="btn-link cLr-gRy"><i class="bUi-iCn-rVeW-12 mRr8" aria-hidden="true"></i> Write a Review</a>
                                </span>
                            </div>
                            
                        </div>
                        <ul class="unstyled tHcL cLrFx mRt30">
                            <li>
                                <div class="fW-bLd mRb10"> Select Color </div>
                                <div class="color">
                                    <a class="lBl pD0 w20 h20 mRr10 pLlT mRb10"> </a>
                                    <a class="lBl pD0 w20 h20 mRr10 pLlT mRb10" style="background-color:red"> </a>
                                    <a class="lBl pD0 w20 h20 mRr10 pLlT mRb10" style="background-color: black;"> </a>
                                    <a class="lBl pD0 w20 h20 mRr10 pLlT mRb10" style="background-color: green;"> </a>
                                </div>
                            </li>
                            {% if product_obj.verient_lists %}
                            <li>
                                <div class="fW-bLd mRb10"> Select Size </div>
                                <div class="size">
                                	{% for var in product_obj.verient_lists %}
                                    	<a style="padding: 2px 6px 1px;" class="lBl pLlT mRr10 bRdR-gRy cLr-dRk fS11 mRb10">{{var.name}}</a>
                                    {% endfor %}
                                </div>
                            </li>
                            {% endif %}
                            <li class="pDl0mP">
                                <div class="fW-bLd mRb10"> Quantity </div>
                                <div class="quantity">
                                    <input type="text" class="mRb0 fS12 W80 h22" value="1">
                                </div>
                            </li>
                        </ul>
                        <hr />
                        <div class="details mRt30">
                        	<div class="pLlT">
	                        	{%if product_obj.get_base_price%}
	                            <div>
	                                <span class="ib">
	                                    <span class="lN-tRg fW200 cLr-gRy fS15">{{globalsettings.currency}}{{product_obj.get_base_price|floatformat:2}}</span>
	                                    <span class="cLr-gRn fW-bLd fS15 mRl10">{{product_obj.get_discount}}%OFF</span>
	                                </span>
	                            </div>
	                            {%endif%}
	                            <h2 class="mR0 mRb5">{{globalsettings.currency}}{{product_obj.for_sale_price|floatformat:2}}</h2>
	                            <span class="help-block mRb0 fS12">{%ifequal product_obj.tax_calculator 'PIT'%}(Inclusive of taxes){%else%}(Exclusive of taxes){%endifequal%}</span>
	                            <a href="#" class="btn btn-large mRt30">Buy Now</a>
                        	</div>
                        	<div class="pLlT mRl25">
                                {%if product_obj.get_product_stock%}<span class="cLr-gRn fW-bLd fS15">Available</span>{%else%} <span class="cLr-rEd fW-bLd fS15">Out of stock</span>{%endif%}
                                
	                              {%if product_obj.get_product_stock%}
								  	{%if product_obj.deliverable%}
										{%if product_obj.manual_delivery_time%}
											<span class="cLr-gRy fS15 bLk mRt5">Delivered in <span class=" fW-bLd">{{product_obj.delivery_time.min_unit}}-{{product_obj.delivery_time.max_unit}} business {{product_obj.delivery_time.get_unit_display}}.</span></span> 
										{%else%}
								  			
										{%endif%}
									{%endif%}
								  {%endif%}
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span8">
            	{%if display_properties%}
                <div class="row-fluid">
                    <div class="sCn">
                        <div class="sCn-tTl">
                            <h2><span>Specifications {{product_obj.name}}</span></h2>
                        </div>
                        {% for property_group in display_properties %}
                        <table class="table bDr-lT bDrBE fS13 mRb30 ">
                            <thead class="bF5">
                                <tr>
                                    <th colspan="2">{{ property_group.name }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for property in property_group.properties %}
	                            	{%if property.display_select_field and property.select_options %}
	                                <tr>
	                                    <td class="bDrRlG span3 cLr-gRy-dRk">{{property.title}}</td>
	                                    <td>{% for option in property.select_options%} {{option}}{%if not forloop.last %},{%endif%}{%endfor%}</td>
	                                </tr>
	                                {% elif property.value %}
	                                <tr>
	                                    <td class="bDrRlG span3 cLr-gRy-dRk">{{property.title}}</td>
	                                    <td>{{ property.value }}</td>
	                                </tr>
		                             {%endif%}
								{%endfor%}
                            </tbody>
                        </table>
						{%endfor%}
                    </div>
                </div>
                {%endif%}
                <div class="row-fluid">
	                <div class="sCn">
	                    <div class="sCn-tTl">
	                        <h2><span>Customers Who Viewed This Item Also Viewed</span></h2>
	                    </div>
	                    <ul class="modulesBrowseData fOcL mDa-gD pDfX nObG fGd">
	                        <li class="mDa mRb40 w50mP">
	                            <div class="mDa-iN mRr15 mRl15">
	                                <div class="mDa-wPr"> 
	                                    <a href="#" class="bUi-tMb-wPr tMb-60 fLxiMgW bUi-tMb-cLsFd">
	                                        <span class="bUi-tMb">
	                                            <span class="bUi-tMb-pRpL">
	                                                <span class="bUi-tMb-cLp">
	                                                    <span class="bUi-tMb-cLp-iN"> <img alt="" src="http://img6a.flixcart.com/image/shoe/w/3/f/black-12035-quechua-8-400x400-imadhyh8zkgzuh8h.jpeg" class="mDa-oT" style="width: 154px; height: auto;">
	                                                        <span class="vRtL-aLn"> </span>
	                                                    </span>
	                                                </span>
	                                            </span>
	                                        </span>
	                                    </a>
	                                </div>
	                                <div class="mDa-bDy pD0 pDt5 h140">
	                                    <h5 title="" class="mDa-hD tRnCt0 mR50 rLvE h35"><a href="#">Flippd Suede Leather Mid Ankle Sneakers</a></h5>
	                                    <div class="mDa-dTa mRt8">
	                                        <div class="sTr-rT ib mRb0 pDt0">
	                                            <span class="sTr-wPr sTr-rT-rD iCn16 rEd mRt-4" title="regular" style="width: 80px;"><i class="bUi-iCn-sTr-aLt-16" data-score="1" title="regular"></i><i class="bUi-iCn-sTr-aLt-16" data-score="2" title="regular"></i><i class="bUi-iCn-sTr-aLt-16" data-score="3" title="regular"></i><i class="bUi-iCn-sTr-hL-16" data-score="4" title="regular"></i><i class="bUi-iCn-sTr-oF-16" data-score="5" title="regular"></i><input type="hidden" name="score" value="3.6" readonly="readonly"></span>
	                                        </div>
	                                        <span class="fS11 cLr-gRy mRl10">(22 rating)</span>
	                                        <hr class="mRt5 gRy">
	                                        <div>
	                                            <span class="ib">
	                                                <span class="lN-tRg fW200 cLr-gRy fS15">$556.55</span>
	                                                <span class="cLr-gRn fW-bLd fS15 mRl10">30%OFF</span>
	                                            </span>
	                                        </div>
	                                        <div>
	                                            <span class="fS22 cLr-bLk">$485.99</span>
	                                        </div>
	                                    </div>                                            
	                                </div>
	                            </div>
	                        </li>
	                        <li class="mDa mRb40 w50mP">
	                            <div class="mDa-iN mRr15 mRl15">
	                                <div class="mDa-wPr"> 
	                                    <a href="#" class="bUi-tMb-wPr tMb-60 fLxiMgW bUi-tMb-cLsFd">
	                                        <span class="bUi-tMb">
	                                            <span class="bUi-tMb-pRpL">
	                                                <span class="bUi-tMb-cLp">
	                                                    <span class="bUi-tMb-cLp-iN"> <img alt="" src="http://img6a.flixcart.com/image/shoe/h/9/9/brown-orange-cs141001-flippd-8-400x400-imadrhz6akhyyuyz.jpeg" class="mDa-oT" style="width: 154px; height: auto;">
	                                                        <span class="vRtL-aLn"> </span>
	                                                    </span>
	                                                </span>
	                                            </span>
	                                        </span>
	                                    </a>
	                                </div>
	                                <div class="mDa-bDy pD0 pDt5 h140">
	                                    <h5 title="" class="mDa-hD tRnCt0 mR50 rLvE h35"><a href="#">Adidas Alphard Outdoors</a></h5>
	                                    <div class="mDa-dTa mRt8">
	                                        <div class="sTr-rT ib mRb0 pDt0">
	                                            <span class="sTr-wPr sTr-rT-rD iCn16 rEd mRt-4" title="regular" style="width: 80px;"><i class="bUi-iCn-sTr-aLt-16" data-score="1" title="regular"></i><i class="bUi-iCn-sTr-aLt-16" data-score="2" title="regular"></i><i class="bUi-iCn-sTr-aLt-16" data-score="3" title="regular"></i><i class="bUi-iCn-sTr-hL-16" data-score="4" title="regular"></i><i class="bUi-iCn-sTr-oF-16" data-score="5" title="regular"></i><input type="hidden" name="score" value="3.6" readonly="readonly"></span>
	                                        </div>
	                                        <span class="fS11 cLr-gRy mRl10">(22 rating)</span>
	                                        <hr class="mRt5 gRy">
	                                        <div>
	                                            <span class="ib">
	                                                <span class="lN-tRg fW200 cLr-gRy fS15">$556.55</span>
	                                                <span class="cLr-gRn fW-bLd fS15 mRl10">30%OFF</span>
	                                            </span>
	                                        </div>
	                                        <div>
	                                            <span class="fS22 cLr-bLk">$485.99</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="mDa mRb40 w50mP">
	                            <div class="mDa-iN mRr15 mRl15">
	                                <div class="mDa-wPr"> 
	                                    <a href="#" class="bUi-tMb-wPr tMb-60 fLxiMgW bUi-tMb-cLsFd">
	                                        <span class="bUi-tMb">
	                                            <span class="bUi-tMb-pRpL">
	                                                <span class="bUi-tMb-cLp">
	                                                    <span class="bUi-tMb-cLp-iN"> <img alt="" src="http://img8.flixcart.com/image/shoe/r/8/m/black-green-111520-converse-12-400x400-imadzazv6abdy4hh.jpeg" class="mDa-oT" style="width: 154px; height: auto;">
	                                                        <span class="vRtL-aLn"> </span>
	                                                    </span>
	                                                </span>
	                                            </span>
	                                        </span>
	                                    </a>
	                                </div>
	                                <div class="mDa-bDy pD0 pDt5 h140">
	                                    <h5 title="" class="mDa-hD tRnCt0 mR50 rLvE h35"><a href="#">                 Converse Canvas Sneakers             </a></h5>
	                                    <div class="mDa-dTa mRt8">
	                                        <div class="sTr-rT ib mRb0 pDt0">
	                                            <span class="sTr-wPr sTr-rT-rD iCn16 rEd mRt-4" title="regular" style="width: 80px;"><i class="bUi-iCn-sTr-aLt-16" data-score="1" title="regular"></i><i class="bUi-iCn-sTr-aLt-16" data-score="2" title="regular"></i><i class="bUi-iCn-sTr-aLt-16" data-score="3" title="regular"></i><i class="bUi-iCn-sTr-hL-16" data-score="4" title="regular"></i><i class="bUi-iCn-sTr-oF-16" data-score="5" title="regular"></i><input type="hidden" name="score" value="3.6" readonly="readonly"></span>
	                                        </div>
	                                        <span class="fS11 cLr-gRy mRl10">(22 rating)</span>
	                                        <hr class="mRt5 gRy">
	                                        <div>
	                                            <span class="ib">
	                                                <span class="lN-tRg fW200 cLr-gRy fS15">$556.55</span>
	                                                <span class="cLr-gRn fW-bLd fS15 mRl10">30%OFF</span>
	                                            </span>
	                                        </div>
	                                        <div>
	                                            <span class="fS22 cLr-bLk">$485.99</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="mDa mRb40 w50mP">
	                            <div class="mDa-iN mRr15 mRl15">
	                                <div class="mDa-wPr"> 
	                                    <a href="#" class="bUi-tMb-wPr tMb-60 fLxiMgW bUi-tMb-cLsFd">
	                                        <span class="bUi-tMb">
	                                            <span class="bUi-tMb-pRpL">
	                                                <span class="bUi-tMb-cLp">
	                                                    <span class="bUi-tMb-cLp-iN"> <img alt="" src="http://img7a.flixcart.com/image/shoe/q/h/p/olive-lc1695-lee-cooper-44-400x400-imadr64eghbdfbvf.jpeg" class="mDa-oT" style="width: 154px; height: auto;">
	                                                        <span class="vRtL-aLn"> </span>
	                                                    </span>
	                                                </span>
	                                            </span>
	                                        </span>
	                                    </a>
	                                </div>
	                                <div class="mDa-bDy pD0 pDt5 h140">
	                                    <h5 title="" class="mDa-hD tRnCt0 mR50 rLvE h35"><a href="#">                 Quechua Forclaz 500 Ankle Length Trekking Shoes</a></h5>
	                                    <div class="mDa-dTa mRt8">
	                                        <div class="sTr-rT ib mRb0 pDt0">
	                                            <span class="sTr-wPr sTr-rT-rD iCn16 rEd mRt-4" title="regular" style="width: 80px;"><i class="bUi-iCn-sTr-aLt-16" data-score="1" title="regular"></i><i class="bUi-iCn-sTr-aLt-16" data-score="2" title="regular"></i><i class="bUi-iCn-sTr-aLt-16" data-score="3" title="regular"></i><i class="bUi-iCn-sTr-hL-16" data-score="4" title="regular"></i><i class="bUi-iCn-sTr-oF-16" data-score="5" title="regular"></i><input type="hidden" name="score" value="3.6" readonly="readonly"></span>
	                                        </div>
	                                        <span class="fS11 cLr-gRy mRl10">(22 rating)</span>
	                                        <hr class="mRt5 gRy">
	                                        <div>
	                                            <span class="ib">
	                                                <span class="lN-tRg fW200 cLr-gRy fS15">$556.55</span>
	                                                <span class="cLr-gRn fW-bLd fS15 mRl10">30%OFF</span>
	                                            </span>
	                                        </div>
	                                        <div>
	                                            <span class="fS22 cLr-bLk">$485.99</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <div class="row-fluid mRt30" id="comments">
			        {% with product_obj as object %}
			            {% with 'shop' as appname %}
			                {% include 'comments/include_comment.html' %}
			            {% endwith %}
			        {% endwith %}
			</div>
            </div>
            <aside class="sD-bR span4">
                <section class="tXt-cTr pD15 bNr-aD"> 
                    <img width="300" height="300" src="http://pagead2.googlesyndication.com/simgad/15356456156878831271"> 
                </section>
            </aside>
        </div>
        
        
        
        
    </div>
</div>
<script src="{{STATIC_URL}}themes/js/jquery-ui-1.10.3.custom-slider.min.js"></script>
<script src="{{STATIC_URL}}themes/js/fleximage.js"></script>
<script src="{{STATIC_URL}}themes/js/jquery.bUislider.js"></script>
<script src="{{STATIC_URL}}themes/js/jquery.raty.js"></script> 
<script>
			$(function(){


					var tMbpGrpRwpGr;
					var tMbpGrpRw;
					tMbpGrpRwpGr = $('#tMbpGr').bUiSlider({
						slideWidth: 56,
						minSlides: 1,
						maxSlides: 8,
						slideMargin: 6,
						infiniteLoop: false,
						hideControlOnEnd: true,
			
					});
					$('#tMbpGrpRw').bUiSlider({
						pagerCustom: '#tMbpGr',
						animatepager: true,
						infiniteLoop: false,
						pagerSl:tMbpGrpRwpGr,
						hideControlOnEnd: true,
					});
						
					$('.sTr-rT-rD').raty({
				        readOnly: true, 
				        score: $('#id_get_rating').val(), 
				        //precision: true,
				        //target    : '#rw0001',
				        //targetKeep: true,
				        size      : 16
				    });
					
					
					
			})
		</script>
<!-- /#content-container -->
{% endblock %}   