{% load i18n %}
<input type="hidden" value="{{current_page}}" name="id_pagentn" id="id_pagentn">
<input type="hidden" value="{{from_range}} - {{to_range}}" name="id_from_to_range" id="id_from_to_range">
<input type="hidden" value="{{count}}" name="id_count" id="id_count">
<input type="hidden" value="{{has_next}}" name="id_has_next" id="id_has_next">
<input type="hidden" value="{{has_previous}}" name="id_has_previous" id="id_has_previous">
{% if is_paginated %}
<div class="pGn pGn-cTr">
    <ul>
		<li {% if not has_previous %}class="dSbLd"{% endif %}>
            <a href="javascript:void(0)" id="{{ prev }}" onclick="$('#id_pagentn').val({{ prev }}),$('#id_is_bottom_page').val(true),filter_content();">
				<i aria-hidden="true" class="bUi-iCn-aRw-l-16 fS12"></i>
			</a>
        </li>
		{% if not in_leading_range %}
            {% for num in pages_outside_trailing_range %}
                {% ifequal num current_page %}
                     <li class="aCtV"><span title="{% trans 'Page' %} {{ num }} ">{{ num }}</span></li>
                {% else %}
                     <li><a title="{% trans 'Page' %} {{ num }} " class="bm_pgntn_anchr" onclick="$('#id_pagentn').val({{ num }}),$('#id_is_bottom_page').val(true),filter_content();" href="javascript:void(0)">{{ num }} </a></li>
                {% endifequal %}
            {% endfor %}
            <li><span>...</span></li>
        {% endif %}
        {% for num in page_numbers %}
            {% ifequal num current_page %}
                 <li class="aCtV"><span title="{% trans 'Page' %} {{ num }} ">{{ num }}</span></li>
            {% else %}
                <li><a title="{% trans 'Page' %} {{ num }} " class="bm_pgntn_anchr" onclick="$('#id_pagentn').val({{ num }}),$('#id_is_bottom_page').val(true),filter_content();" href="javascript:void(0)">{{ num }}</a></li>
            {% endifequal %}
        {% endfor %}
        {% if not in_trailing_range %}
            <li><span>...</span></li>
            {% for num in pages_outside_leading_range reversed %}
                {% ifequal num current_page %}
                     <li class="aCtV"><span title="{% trans 'Page' %} {{ num }} ">{{ num }}</span></li>
                {% else %}
                    <li><a title="{% trans 'Page' %} {{ num }} " class="bm_pgntn_anchr" onclick="$('#id_pagentn').val({{ num }}),$('#id_is_bottom_page').val(true),filter_content();" href="javascript:void(0)">{{ num }}</a></li>
                {% endifequal %}
            {% endfor %}
        {% endif %}
		<li {% if not has_next %}class="dSbLd"{% endif %}>
            <a href="javascript:void(0)" onclick="$('#id_pagentn').val({{ next }}),$('#id_is_bottom_page').val(true),filter_content();"><i aria-hidden="true" class="bUi-iCn-aRw-r-16"></i></a>
        </li>
    </ul>
</div>
{% endif %}