{% load thumbnail %}
{% load cache %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% block pagetitle %}{% endblock %}</title>
{% block meta %}{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ STATIC_URL }}themes/css/base.css">
<link rel="shortcut icon" href="{% if globalsettings.fav_ico %}{{ globalsettings.fav_ico.url }}{% else %}{{STATIC_URL}}themes/green/images/ico/16X16-BM_ICON.png{% endif %}">


<!--[if lt IE 8]>
  	<script src="{{ STATIC_URL }}themes/js/lte-ie7.js"></script>
<![endif]-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script src=" http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/common_user.js"></script>
 <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
{% block head %}{% endblock %}
</head>
<body>
	<div class="oFl explore-map getDirection" id="site-map-wrapper"></div>
	<div id="site-wrapper">
	    <header id="mast-head" class="mRb30">
		    <div class="titlebar container-fluid vD">
		        <h1 class="logo pLlT"> <a href="/" class="pD100"> <img src="{% if globalsettings.logo %}{{ globalsettings.logo.url }}{% endif %}" alt="Blackmonk"/> <i aria-hidden="true" class="bUi-iCn-hO-16 ib mRl10 nEdS-hVr"></i></a> </h1>
		        <div id="site-account" class="aBsLt tBr0">
		        	<div class="fS13 ib">
		        		<div class="btn-group pLrT iM tXt-lT aCnT-nAv">
                            <a class="btn btn-link btn-small dropdown-toggle" href="{% url 'user_profile' request.user.profile_slug %}">
                            	<img class="mRr10" alt="" src="{% if user.image %}{% thumbnail user.image 36x36 crop %}{% else %}{{STATIC_URL}}themes/img/cmnts-default-avatar.jpg{% endif %}" width="22" height="22" ><span class="cLr-wHt">{{user.display_name}}</span>
                                <i aria-hidden="true" class="bUi-iCn-cRt-b-12 mRl5 ib"></i>
                            </a>
                            <ul class="dropdown-menu pLrT">
                                <li><a href="/user">Content Manager</a></li>
                                <li><a href="{% url 'usermgmt_user_invite' %}">Invite Friends</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'usermgmt_viewprofile' %}">Settings</a></li>
                                <li><a href="{% url 'signout' %}">Sign out</a></li>
                            </ul>
                        </div>
		        	</div>
		        	<span class="ib hAtO"></span>
		        </div>
		    </div>
		</header>
	    {% block alertbar %}
		{% endblock %}
		
	    <!-- /.masthead -->
	    <div id="site">
	    	<div class="titlebar container-fluid sub_headder rLvE hD">
	            <h1 class="logo pLlT"> <a href="/"> <img alt="Blackmonk" src="{% if globalsettings.logo %}{{ globalsettings.logo.url }}{% endif %}"> </a> </h1>
	            <div id="site-account" class="aBsLt tBr0">
		        	<div class="fS13 ib">
		        		<div class="btn-group pLrT iM tXt-lT aCnT-nAv">
                            <button class="btn btn-link btn-small dropdown-toggle" data-toggle="dropdown">
                            	<img class="mRr10" alt="" src="//dribbble.s3.amazonaws.com/users/13503/avatars/original/DSC_004611.jpg?1305134498" width="22" height="22" ><a href="#">{{user.display_name}}</a>
                                <i aria-hidden="true" class="bUi-iCn-cRt-b-12 mRl5 ib"></i>
                            </button>
                            <ul class="dropdown-menu pLrT">
                                <li><a href="/user">Content Manager</a></li>
                                <li><a href="{% url 'usermgmt_user_invite' %}">Invite Friends</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'usermgmt_viewprofile' %}">Settings</a></li>
                                <li><a href="{% url 'signout' %}">Sign out</a></li>
                            </ul>
                        </div>
		        	</div>
		        	<span class="ib hAtO"></span>
		        </div>
	        </div>
			{% for message in messages %}
			<div id="alert_bar" class="alert alertmsg {% if message.tags %}alert-{{ message.tags }}{% endif %} pD0 mRt-30 mRt-20mX979" style="{% if not message %}display:none;{% endif %}">
               <div class="container-fluid">
                   <div class="pD100 cLrFx">
                       <p id="message" class="ib fS14 fW-bLd mRb0 mR50">{% if message %}{{ message }}{% endif %}</p>
                   </div>
               </div>
            </div>
			{% empty %}
			<div id="alert_bar" class="alert alertmsg alert-success pD0 mRt-30 mRt-20mX979" style="display:none;">
               <div class="container-fluid">
                   <div class="pD100 cLrFx">
                       <p id="message" class="ib fS14 fW-bLd mRb0 mR50"></p>
                   </div>
               </div>
            </div>
			{% endfor %}

	        <div id="content-container">
				<div class="container-fluid">
                    {% if user.email_isvalid == 'I' %}
                    <div class="row-fluid"><div class="alert alert-danger bs-alert-old-docs">
                        <strong>Alert!</strong> Your email-id is invalid, please update your email-id.
                    </div></div>
                    {% endif %}
			    	<div class="row-fluid">
						{% block navigation %}
							{% include 'usercp_left_navi.html' %}
						{% endblock %}
            			{% block content %}{% endblock %}
					</div>  <!-- /.row-fluid -->	
				</div> <!-- /.container-fluid -->
			</div> <!-- /#content-container -->	
			{% cache 1800 user_footer %}
	        	{% include 'default/footer.html' %} 
			{% endcache %}
	    </div>
	    <!-- #site-wrapper --> 
	</div>  
    <!-- Load JS here for greater good =============================-->
    <script src="{{ STATIC_URL }}themes/js/jquery.bUislider.js"></script>
	<script src="{{ STATIC_URL }}themes/js/swipe.js"></script>
    <script src="{{ STATIC_URL }}themes/js/bootstrap-model.js"></script>
    <script src="{{ STATIC_URL }}themes/js/jquery.calendarPicker.js"></script>
    <script src="{{ STATIC_URL }}themes/js/jquery.mousewheel.js"></script>
    <script src="{{ STATIC_URL }}themes/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}themes/js/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}themes/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}themes/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}themes/js/bootstrap-popover.js"></script>
	<script src="{{ STATIC_URL }}themes/js/bootstrap-typeahead.js"></script>
    <script src="{{ STATIC_URL }}themes/js/jquery.raty.js"></script>
	<script src="{{ STATIC_URL }}themes/js/jquery.tagsinput.js"></script>
	<script src="{{ STATIC_URL }}themes/js/main.js"></script>
	<!-- POPUP FORMS HOLDER STARTS -->
	<div id="loading_image" style="display:none;">
        <div class="tBl-bLk pDt0">
            <div class="tBl-cEl">
                <img src="{{STATIC_URL}}ui/images/global/loading.gif" align="...">
            </div>
        </div>
	</div>
	<div id="update_seo" class="modal hide fade mW50" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id="myModalLabel" class="mR50">Update Seo</h4>
        </div>
        <div class="modal-body">
			<div style="text-align: center; width: 100%;">
				<img src="{{STATIC_URL}}ui/images/global/loading.gif" align="...">
			</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-light" type="submit" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="submit" onclick="save_seo()">Done</button>
        </div>
    </div>
	<div id="upgrade_list" class="modal hide fade mW70" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 id="myModalLabel" class="mR50">Update Listing Type</h4>
	    </div>
	    <div class="modal-body">
			<div style="text-align: center; width: 100%;">
				<img src="{{STATIC_URL}}ui/images/global/loading.gif" align="...">
			</div>
	    </div>
	    <div class="modal-footer">
	        <!--button class="btn btn-light" type="submit" data-dismiss="modal">Cancel</button>
	        <button class="btn btn-primary" type="submit" onclick="save_seo()">Upgrade</button-->
	    </div>
	</div>
	<!-- POPUP FORMS HOLDER ENDS -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
	<script type="text/javascript">
$.fn.emulateTransitionEnd = function(duration) {
  return true;
};
		var target;
		function save_seo(option){
			var flag = $('#mform').validate({
				ignore:'',
				highlight: function(element, errorClass){
					$(element).parent('div').parent('div').addClass('error');
					$(element).addClass('error');
				},
				unhighlight: function(element, errorClass){
					$(element).parent('div').parent('div').removeClass('error');
					$(element).removeClass('error');
				},
				errorPlacement: function(error, element){},
			   	rules:{
			    	seo_title: "required",
			    	seo_description: "required"
			   	}
			}).form()
			var id=0;
			if(flag==true){
				var dataString='seo_title='+encodeURIComponent($('#id_seo_title').val());
				dataString+='&seo_description='+encodeURIComponent($('#id_seo_description').val());
				$.ajax({
					type: "POST",
					url: target,
					data: dataString,
					dataType:'JSON',
					success: function(data){
							if(data.status){
								show_msg(data.msg,data.mtype);
								$('#update_seo').modal('hide');
							}else{
								$("#update_seo .modal-body").html(data.lightbox_html);
							}
					}
				});
			}
		}
		function close_msg(){
			$('#alert_bar').removeClass('active');
			setTimeout(function(){
				$('.alertmsg').css('display','none');
				$('.alertmsg').removeClass();
				$('.alertmsg').addClass('alert-bar');
			},200);
		}
		function show_msg(msg,mtype){
			$('#alert_bar').addClass(mtype);
			$('#message').html(msg);
			$('#alert_bar').show();
			setTimeout(function(){$('#alert_bar').addClass('active');},100);
			setTimeout(function(){close_msg();},6000);
			$('html,body').animate({ scrollTop: 0 }, 'slow');
		}
		{% if messages %}
			setTimeout(function(){close_msg()},6000);
		{% endif %}
	</script>
	{% block footerarea %}{% endblock %}
</body>
</html>