{% load thumbnail %}
{% load i18n %}
{% load template_loop %}	
	<div class="preview-items-head">
     <h4>{% trans 'Favorite Attractions' %}</h4>
    </div>
	{% if attractions %}		   
	<ol class="data-table table-lists-container" id="ajax_content_list">
			{% for attraction in attractions %}	
			<li class="table-list" id="li_{{attraction.id}}">
			        <div class="table-list-container has-thumb110 group">
			            <div class="item-media">
                        	<a href="{{ attraction.get_absolute_url }}" class="inline-block">
                                <span class="item-thumb thumb-110">
                                    <span class="thumb-in">
                                        <span class="thumb"><img src="{% if attraction.get_cover_image %}{% thumbnail attraction.get_cover_image 110x0 %}{% else %}{{ attraction.get_default_image }}{% endif %}" alt="{{ attraction.name }}" class="inline-block"><span class="inline-block h100"></span></span>
                                    </span>
                                </span>
							</a>                                                            
                        </div> 
						<div class="item-info relative-block">
			                <h3 class="title"><a href="{{ attraction.get_absolute_url }}">{{ attraction.name }}</a></h3>
			                <p class="ltxt80">{% trans 'On' %} {{attraction.created_on|date:"d M, Y"}}</p>
			                <ul class="quick-stats group">
			                    <li class="cmnt">{% autoescape off %}{{ attraction.description|truncatewords:30  }}{% endautoescape %}</li>
			                </ul>
			            </div>
			        </div>
			    </li> 
			{% endfor %}
			</ol>
			<div id="pagenation">
				{% include 'account/favorite/pagenation.html' %}      
				<input type="hidden" id="url" value="{% url 'ajax_myfav_list' 'attraction' %}">
				<input type="hidden" id="module" value="attraction">      
			</div>  
			{% else %}
				<div class="no-data"> <p>{% trans 'Sorry , No favorite attractions found' %}</p></div>
         	{% endif %}
