{% extends "user_base.html" %}
{% load tabs %}
{% load i18n %}
{% load currency %}
{% block navigation %}
	{% activetab "selmodule" "favorite" %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'My Favorites' %} {% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/LE_MetaId99.css">
	
{% endblock %}
{% block content %}
<div id="userHub-platform" class="group">
					<div class="header-bar"><h2>{% trans 'My Favorites' %}</h2></div>
						<div id="core-wraper" class="group">
                        	<div class="userHub-main">
                              	<div class="page-wrap">
									<div id="favorites" class="group">
										<span id="ajax_content_loading" class="load-list-items" style="display:none">
										 	<img src="{{STATIC_URL}}ui/images/global/loading.gif" align="...">
										</span>
										<div id="content_ajax" class="group">
											{% include module_template %}
										</div>	                                       
                                    </div> <!-- end table -->
                              </div>  <!-- end page wrap -->
                        </div>  <!-- end main-col -->                            
                        <div id="aside" class="side-bar">
                        	<div class="preview-aside-meta group">
                                    <ul class="side-navigation">
                                        <li class="contrib_tab events active"><a onclick="goto_module('{% url 'ajax_myfav_list' 'event' %}','event')" href="javascript:void(0)">{% trans 'Events' %}</a></li>
                                    	<li class="contrib_tab article"><a onclick="goto_module('{% url 'ajax_myfav_list' 'article' %}','article')" href="javascript:void(0)">{% trans 'Articles' %}</a></li>
										<li class="contrib_tab photoalbum"><a onclick="goto_module('{% url 'ajax_myfav_list' 'photoalbum' %}','photoalbum')" href="javascript:void(0)">{% trans 'Photos' %}</a></li>
										<li class="contrib_tab videos"><a onclick="goto_module('{% url 'ajax_myfav_list' 'videos' %}','videos')" href="javascript:void(0)">{% trans 'Videos' %}</a></li>
										<li class="contrib_tab movies"><a onclick="goto_module('{% url 'ajax_myfav_list' 'movies' %}','movies')" href="javascript:void(0)">{% trans 'Movies' %}</a></li>
										<li class="contrib_tab attraction"><a onclick="goto_module('{% url 'ajax_myfav_list' 'attraction' %}','attraction')" href="javascript:void(0)">{% trans 'Attractions' %}</a></li>
										<li class="contrib_tab classifieds"><a onclick="goto_module('{% url 'ajax_myfav_list' 'classifieds' %}','classifieds')" href="javascript:void(0)">{% trans 'Classifieds' %}</a></li>
										<li class="contrib_tab business"><a onclick="goto_module('{% url 'ajax_myfav_list' 'business' %}','business')" href="javascript:void(0)">{% trans 'Business' %}</a></li>
									</ul>
                             </div>      
                        </div>                            
					</div>                                                    
				</div>
{% endblock %}			
{% block footer_include%}
<script type="text/javascript">
function goto_list(page){
	$("#profile-preview").hide();
	$('#content_ajax').hide();
	$('#content_ajax_loading').show();
	$.ajax({
		type: "GET",
		url: $('#url').val(),
		data: 'page='+page,
		success: function(data){
			$('#content_ajax').show();
			$('#content_ajax_loading').hide();
			$('#content_ajax').empty().html(data);
		}
	});
}
function goto_module(url,module){
	$('.contrib_tab').removeClass('active');
	$('#aside li.'+module).addClass('active');
	$("#profile-preview").hide();
	$('#content_ajax').hide();
	$('#ajax_content_loading').show();
	$.ajax({
		type: "GET",
		url:url,
		success: function(data){
			$('#content_ajax').show();
			$('#ajax_content_loading').hide();
			$('#content_ajax').empty().html(data);
		}
	});	
}
function delete_fav(id,module){
	if(confirm('Are you sure want to remove this item form Favorite ?')){
		$.ajax({
			type: "GET",
			url:'{#% url ajax_myfav_delete %#}',
			data:'id='+id+'&module='+module,
			dataType:'json',
			success: function(data){
				if(data.status==1){
					$('.article_count').html(data.article_count);
					$('.blog_count').html(data.blog_count);
					$('.forum_count').html(data.forum_count);
					$('.business_count').html(data.business_count);
					show_msg('Item removed from your favorite list','alert-success');
					goto_module($('#url').val(),$('#module').val());
				}else{show_msg('Oops !!! Not able to process your request.','alert-error');}
			}
		});
	}
}
</script>
{% endblock %}	
