{% load ds_utils %}
{% load i18n %}		
<input type="hidden" value="{% url 'bookmark_ajax_dash_board' %}" name="id_listbookmark_url" id="id_listbookmark_url">
<input type="hidden" value="{{status}}" name="id_status" id="id_status">
<input type="hidden" value="{{listing_type}}" name="id_listing_type" id="id_listing_type">
<input type="hidden" value="{{sort}}" name="id_sort" id="id_sort">
<input type="hidden" value="{% if search %}{{search}}{% endif %}" name="id_search" id="id_search">
<input type="hidden" value="" name="id_action" id="id_action">
<input type="hidden" value="{% url 'bookmark_ajax_action' %}" name="id_action_url" id="id_action_url">

<input type="hidden" value="{{msg}}" name="id_action_msg" id="id_action_msg">

{% if bookmark_list %}
<ol class="data-table table-lists-container" id="ajax_content_list">
{% for bookmark in bookmark_list %}	
<li class="table-list" id="li_{{bookmark.id}}">
        <div class="table-list-container check-item group">
			<span class="checkbox-wrap">
				<span class="cform-checkbox-container"><input type="checkbox" value="{{bookmark.id}}" id="id_event_action" name="artCulture" class="check-overflow cbox"><span class="cform-checkbox-element"></span></span>
			</span>
            <div class="item-info relative-block">
            	<h3 class="title"><a href="{% url 'user_bookmark_preview' %}?id={{bookmark.id}}">{{bookmark.title}}</a></h3>
                <p class="ltxt80">{{bookmark.category}} <span class="divider12">|</span> {% trans 'By' %} <a href="{% url 'user_profile' bookmark.created_by.profile_slug %}">{{bookmark.created_by.display_name}}</a> <span class="divider12">|</span>{{bookmark.created_on|date:"M d, Y"}}</p>
                <ul class="quick-stats group">
                    <li class="views"><a class="tttxt" href="javascript:void(0)" title="{% trans 'Viewers' %}"><span class="inline-block icon-view-stats"></span>{{bookmark.most_viewed}}</a></li>
			                    <!--li class="cmnt"><a class="tttxt"title="{% trans 'View comments' %}" href="#"><span class="inline-block icon-cmnt-stats"></span>46</a></li-->
                </ul>
                <div class="item-status no-options dev_hide_list_status" onclick="display_change_status({{bookmark.id}},$('#id_estatus_{{bookmark.id}}').attr('name'));">
                	<span class="status-inside inline-block" id="id_span_chge_sts_{{bookmark.id}}">
                    	<span title="{% get_status_class bookmark.status %}" id="id_estatus_{{bookmark.id}}" name="{{bookmark.status}}" class="inline-block status-idty icon-{% get_status_class bookmark.status %}"></span>	  
                    </span>
                </div>                                                        
            </div>
            <div class="action-buttons {% if forloop.counter == 1 %}tip tip5{% endif %}">
                <div class="relative-block">
                    <span class="item-manage inline-block dev_hide_list_settings" id="id_span_settings_{{bookmark.id}}" onclick="display_settings({{bookmark.id}});"><span class="action-icon icon-manage"></span></span>
                    <ul class="dropdown-list dev_settingsdrpdwn" id="settings_id_{{bookmark.id}}" style="display:none">
						{% if perms.bookmark.change_bookmark %}
						<li><a href="{% url 'bookmark_edit_bookmark' bookmark.id %}">{% trans 'Edit this bookmark' %}</a></li>
						<li><a title="{% trans 'Title / Description (SEO)' %}" href="{% url 'bookmark_update_seo' bookmark.id %}" class="bm-add-gadget light_box">{% trans 'Update SEO' %}</a></li>
                       	{% endif %}
						{% if perms.bookmark.delete_bookmark %}
							<li><span class="line-break"></span></li>
					    	<li><a onclick="if(confirm(gettext('Are you sure you want to delete the selected bookmark?'))){filter_action({{bookmark.id}},'DEL');return false;}" href="javascript:void(0)">{% trans 'Delete this bookmark' %}</a></li>
						{% endif %}
                    </ul>
				</div>                                                              	                                                         
            </div>
        </div>
    </li> 
{% endfor %}
</ol>
{% include 'common/pagination_ajax.html'%}  
{% else %}
	<div class="no-data"> <p>{% trans 'Sorry , No bookmarks found !' %}</p></div>
{% endif %}

