{% extends base %}
{% load truncate_filter %}
{% load comparison %}
{% load thumbnail %}
{% load tabs %}
{% load i18n %}
{% load ds_utils %}
{% block pagetitle %}{% if category %}{% seo_format_tag module='Movies' title=category.seo_title code='LT' category=category.name as seo_meta_title %}{% else %}{% seo_format_tag module='Movies' title=seo.seo_title code='MT' as seo_meta_title %}{% endif %}{{seo_meta_title}}{% endblock %}
{% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ seo.seo_description }}" />
{% endblock %}
{% block navigation %}
    {% activetab "topnav" "movies" %}
    {{ block.super }}
{% endblock %}
{% block head %}
    <script src="{{STATIC_URL}}themes/js/jquery.bUislider.js"></script>
    <script src="{{STATIC_URL}}themes/js/ios-orientationchange-fix.js"></script>
    <script src="{{STATIC_URL}}themes/js/fxslider.js"></script>
    <script src="{{STATIC_URL}}themes/js/jquery.raty.js"></script>
    <script src="{{STATIC_URL}}js/movies/movies.js"></script>
    <script>
    $(document).ready(function(){
        try{$(".fxslider").fxslider();}
        catch(e){}
    });
	var review_url = '{% url 'movies_get_recent_reviews' %}';
    </script>
  <script type="text/javascript" src="{{STATIC_URL}}js/report_data.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/get_report_data.js"></script>
	<script type="text/javascript">
    $(document).ready(function(){
	 $('.bids').each(function(){
			bids.push($(this).val());
		});
        module_listing(bids,category);
	});
	
	</script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <!--search -->
        <div class="row-fluid">
            <div class="span8 main">
                {% with featured_movies as featured %}
                {% if featured %}
                <section class="sCn pD0">
                    <div class="fTrD-bL mRb0 fTrD-mDm mDa-40 aDpTv cTrL-dFt">
                        <div class="fTrD-gR">
                            <div class="fTrD-bL-iN">
                                <ul id="movie-hero-media" class="fTrD-iTmS" style="width:10000px;">
                                    {% for movie in featured %}
                                    <li class="fTrD-iTm bS-bRdR" style="float:left;">
										<input type="hidden" id="fbids" name="fbids" class="bids" value="{{movie.id}}" />
                                        <div class="fTrD-tXt sDw">
                                            <div class="vAlGn">
                                                {% if movie.movie_url %}
                                                <div class="fTrD-mDa-hVr hMp">
                                                    <div class="hRz-gRd-sTrP">
                                                        <h5 class="mRt0 uC fS12 mRb5">Watch Trailer</h5>
                                                        <div class="mDa-wPr"> 
                                                            <a class="bUi-tMb-wPr tMb-40 fLxiMgW" title="{{movie.title}}" href="{{movie.get_absolute_url}}">
                                                                <span class="bUi-tMb">
                                                                    <span class="bUi-tMb-pRpL">
                                                                        <span class="bUi-tMb-cLp">
																		{% if movie.get_video_poster %}
                                                                            <span class="bUi-tMb-cLp-iN"> <img class="mDa-oT" src="{{STATIC_URL}}/images/grey.gif" data-src="{{movie.get_video_poster}}" alt="{{movie.title}}">
																			  <span class="vRtL-aLn"> </span>
                                                                         {% else %}
																				<span class="iCn-bRdR50 oP25" title="{{movie.title}}"><i aria-hidden="true" class="bUi-iCn-mOv-24 cLr-gRy ib"></i></span>
																				<div class="vRtL-aLn"></div>
																		{% endif %}
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                            <div class="mDa-hVr tR-hVr lH1 b5-gD hide"><a data-toggle="tooltip" data-placement="right" title="{% trans 'Duration' %}" class="lH1 pDt2b2 iCn-lNk btn btn-mini" href="#">39:45</a></div> 
                                                            <div class="mDa-hVr cVr mV-tRlR fxslider">
                                                            	<a class="s-32 cTr" data-src="http://www.youtube.com/watch?v={{movie.movie_url}}" href="#">
                                                                <i class="bUi-iCn-pLy-aLt-24 hT-aTo fS32-1 pLy-iCn" aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <div class="fTrD-tXt-iN">
                                                    <h2 class="fTrD-hD w100P fW100" title="{{movie.title}}"><a href="{{movie.get_absolute_url}}" class="ib">{{movie.title}} </a></h2>
                                                    <div class="fTrD-mTa mRb10  fS11 w100P mRt0mX480">
                                                        <span class="bDg bRdR-wHt mRr10 bG-bLkA12 oP85">{{movie.certification|default:"NR"}}</span>{% if movie.duration_hours %}<span class="fS12 cLr-gRy">{{movie.duration_hours}}</span>{% endif %}<span class="sPrTr fS12 cLr-gRy">{{movie.release_date|ds_site_dateformat}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <!-- /.fTrD-iTms -->
                                <ul id="movie-hero-text" class="fTrD-iTmS" style="width:10000px;">
                                    {% for movie in featured %}
                                    <li class="fTrD-iTm bS-bRdR" style="float:left;">
										<input type="hidden" id="fbids" name="fbids" class="bids" value="{{movie.id}}" />
                                        <figure class="fTrD-mDa">
                                            <span class="bUi-tMb-wPr fLxiMgW" href="{{movie.get_absolute_url}}">
                                                <span class="bUi-tMb">
                                                    <span class="bUi-tMb-pRpL">
                                                        <span class="bUi-tMb-cLp">
                                                            <span class="bUi-tMb-cLp-iN">
															{% if movie.image %}
																{% with movie.album.album_photos.all.0.photo as movie_img %}
                                                                <img class="mDa-oT" src="{{STATIC_URL}}/images/grey.gif" data-src="{% if movie_img %}{{ movie_img.url }}{% else %}{{movie.get_image}}{% endif %}" alt="{{movie.title}}">
                                                                {% endwith %}
																<span class="vRtL-aLn">
															{% else %}
																<span class="iCn-bRdR50 oP25" title="{{movie.title}}"><i aria-hidden="true" class="bUi-iCn-mOv-24 cLr-gRy ib"></i></span>
																<div class="vRtL-aLn"></div>   
															{% endif %}
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </figure>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <!-- /.fTrD-iTms --> 
                            </div>
                            <!-- /.fTrD-bL-iN --> 
                        </div>
                        <!-- /.fTrD-gR --> 
                    </div>
                    <!-- /.fTrD-bL -->
                </section>
                {% endif %}
                {% endwith %}
                
                <!-- Module Search -->
                <div class="sRcHbR pD2015 bM-bX clearfix">
                    <form class="form-search mRb0" id="id_mhs_frm" action="{% url 'showtime_search' %}">
						<input type="hidden" name="keyword" id="keyword" value="">
                        <div class="mDl">
                            <h3 class="mDl-nM">
                                <i aria-hidden="true" class="bUi-iCn-mOv-24 fS16"></i>
                                <span class="ib">{% trans 'Showtimes' %}
                                    <i aria-hidden="true" class="bUi-iCn-aNg-rT-12 cLr-lTgRy"></i>
                                </span>
                            </h3>
                        </div>
						<div class="span5">
                                <div class="btn-group w100P bUi-sLcT" id="dropdown-select">
                                    <button style="" data-toggle="dropdown" class="btn btn-light dropdown-toggle fS13 w100P">
                                    	<span class="pLlT" name ="dropdown-value" id="dropdown-value" value="" >Select Movie Or Cinemas</span><i class="bUi-iCn-cRt-tB-12 pLrT fS12" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu tWcL fS12 show_movies" id="movie_search_dR">
                                    	<li class="radio">
                                            <label class="radio inline fW-nRmL">
                                                <input checked="checked" type="radio" name="type" id="show_movies" value='movie'> Movies
                                            </label>
                                             <label class="radio inline fW-nRmL">
                                                <input type="radio" name="type" id="show_theatre" value='theatre'> Cinemas
                                            </label>
                                        </li>
                                        <li class="divider"></li>
											{% if released_movies %}
	                                            <li class="nav-header movie_S">
	                                                Now Playing
	                                            </li>
												{% for movie in released_movies %}
		                                            <li class="movie_S">
		                                                <a class="select_theatre_movie" href="javascript:void(0)" data-val="{{ movie.title }}" title='{{movie.title}}'>{{movie.title|truncatechars:25}}</a>
		                                            </li>
												{% endfor %}
											{% endif %}
	                                        <li class="divider movie_S"></li>
											{% if upcoming_movies %}
	                                            <li class="nav-header movie_S">
	                                                Upcoming
	                                            </li>
												{% for movie in upcoming_movies %}
		                                            <li class="movie_S">
		                                                <a class="select_theatre_movie" href="javascript:void(0)" data-val="{{ movie.title }}" title='{{movie.title}}'>{{movie.title|truncatechars:25}}</a>
		                                            </li>
												{% endfor %}
											{% endif %}
											<li class="divider_s movie_S"></li>
											{% if theatres %}
												{% for theatre in theatres %}
		                                            <li class="theatre_S">
		                                                <a class="select_theatre_movie" href="javascript:void(0)" data-val="{{ theatre.name }}" title='{{theatre.name}}'>{{theatre.name|truncatechars:25}}</a>
		                                            </li>
												{% endfor %}
											{% endif %}
                                    </ul>
                                </div>
                            </div>
                        <div class="span3">
                            <select class="bUiSlCt-wHt fS13" name="date">
                                {% for dt in datelist %}
                                    <option value="{{dt|date:'Y-m-d'}}">{{dt|date:'l, M d'}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="ib sUb-bTn mRl12">
                            <button type="submit" class="btn btn-primary pDlR18mN980mX199">
                            <i aria-hidden="true" class="bUi-iCn-sRh-16"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- Module Search -->
                
                {% if released_movies %}
                <section class="sCn">
                    <div class="sCn-tTl">
                        <h3><span>{% trans 'In Theaters' %}</span><a href="{% url 'movies_listing' 'nowplaying' %}" class="tXt-lNk rGhT">{% trans 'View all' %}</a></h3>
                    </div>
                    <div class="fTrD-bL cRsL mDa-150 tXt-oTsD aDpTv cTrL-tR mRb0">
                        <div class="fTrD-bL-iN">
                            <ul class="fTrD-iTmS {% if released_movies.count > 5 %}fTrD-cRsL{% else %}fVcL pDfX{% endif %}" {% if released_movies.count > 5 %} style="width:1000px;" {% endif %}>
                                {% for movie in released_movies %}
                                <li class="fTrD-iTm bDrR0" {% if released_movies.count > 5 %} style="float:left" {% endif %} itemscope itemtype="http://schema.org/Movie">
									<input type="hidden" id="fbids" name="fbids" class="bids" value="{{movie.id}}" />
                                    <figure class="fTrD-mDa">
                                        <a class="bUi-tMb-wPr fLxiMgH" href="{{movie.get_absolute_url}}">
                                            <span class="bUi-tMb">
                                                <span class="bUi-tMb-pRpL">
                                                    <span class="bUi-tMb-cLp">
                                                        <span class="bUi-tMb-cLp-iN">
														{% if movie.image %}
															{% with movie.image as movie_poster %}
                                                            <img class="mDa-oT" src="{{STATIC_URL}}/images/grey.gif" data-src="{% thumbnail movie_poster 0x219 %}" alt="{{movie.title}}" itemprop="image">
                                                            {% endwith %}
															<span class="vRtL-aLn"></span> 
														{% else %}
															<span class="iCn-bRdR50 oP25" title="{{movie.title}}"><i aria-hidden="true" class="bUi-iCn-mOv-24 cLr-gRy ib"></i></span>
															<div class="vRtL-aLn"></div>   
														{% endif %}
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </figure>  <!-- /.TrD-mDa -->
                                    <div class="fTrD-tXt">
                                        <div class="vAlGn">
                                            <div class="fTrD-tXt-iN pD10-0-0">
                                                <h5 class="fTrD-hD"><a class="tXt-oVrF" title="{{movie.title}}" href="{{movie.get_absolute_url}}" itemprop="name">{{movie.title}}</a></h5>
                                                <div class="fTrD-mTa fS11 pDt5">
                                                     <span class="bDg bRdR-gRy">{{movie.certification|default:"NR"}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /.TrD-tXt -->                                           
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
                {% endif %}
                {% if upcoming_movies %}
                <section class="sCn">
                    <div class="sCn-tTl">
                        <h3><span>{% trans 'Coming Soon' %}</span><a href="{% url 'movies_listing' 'upcoming' %}" class="tXt-lNk rGhT">{% trans 'View all' %}</a></h3>
                    </div>
                    <div class="fTrD-bL cRsL mDa-150 tXt-oTsD aDpTv cTrL-tR mRb0">
                        <div class="fTrD-bL-iN">
                            <ul class="fTrD-iTmS {% if upcoming_movies.count > 5 %}fTrD-cRsL{% else %}fVcL pDfX{% endif %}" {% if upcoming_movies.count > 5 %} style="width:1000px;"{% endif %}>
                                {% for movie in upcoming_movies %}
                                <li class="fTrD-iTm bDrR0" {% if upcoming_movies.count > 5 %}style="float:left"{% endif %} itemscope itemtype="http://schema.org/Movie">
									<input type="hidden" id="fbids" name="fbids" class="bids" value="{{movie.id}}" />
                                    <figure class="fTrD-mDa">
                                        <a class="bUi-tMb-wPr fLxiMgH" href="{{movie.get_absolute_url}}">
                                            <span class="bUi-tMb">
                                                <span class="bUi-tMb-pRpL">
                                                    <span class="bUi-tMb-cLp">
                                                        <span class="bUi-tMb-cLp-iN">
                                                            <img class="mDa-oT" src="{% thumbnail movie.image 0x219 %}" alt="{{movie.title}}" itemprop="image">
                                                            <span class="vRtL-aLn"></span>    
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </figure>  <!-- /.TrD-mDa -->
                                    <div class="fTrD-tXt">
                                        <div class="vAlGn">
                                            <div class="fTrD-tXt-iN pD10-0-0">
                                                <h5 class="fTrD-hD"><a class="tXt-oVrF" title="{{movie.title}}" href="{{movie.get_absolute_url}}" itemprop="name">{{movie.title}}</a></h5>
                                                <div class="fTrD-mTa fS11 pDt5">
                                                       <span class="bDg bRdR-gRy mRb0 mRr5">{{movie.certification|default:"NR"}}</span><span class="fS11 cLr-lTgRy">{{movie.release_date|date:"F j"}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /.TrD-tXt -->                                           
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
                {% endif %}
                <div class="row-fluid">
                    {% include 'default/movies/movie-trailers-galleries.html' %}
                </div>
            </div><!--main-->
            <aside class="sD-bR span4 mSnRy">
                <div>
                    <section class="tXt-cTr pD15 bNr-aD pDt0" id="banner_placement_right"></section> 
                </div>
                <div class="hide" id="id_recent_reviews">
                </div>
				{% include 'default/movies/top-theaters.html' %}
                <div>
                    {% include 'default/likebox.html' %}
                </div>
            </aside>
        </div>
    </div>

<script src="{{STATIC_URL}}themes/js/bootstrap-typeahead.js"></script>   
<style>
	#movie_search_dR.show_movies .movie_S{
		display:block;
	}
	#movie_search_dR.show_movies .theatre_S{
		display:none;
	}
	#movie_search_dR.show_theatre .theatre_S{
		display:block;
	}
	#movie_search_dR.show_theatre .movie_S{
		display:none;
	}	
</style> 
<script>
$(document).ready(function(){
  $('.bM-dV-rTnG').each(function(){
      $(this).raty({number: 5, readOnly: true, score: $(this).attr('data-rating'), size: 12})                             
  });
	
	$('#show_movies').click(function(){
		$('#movie_search_dR').removeClass('show_theatre').addClass('show_movies');	
	})
	$('#show_theatre').click(function(){
			$('#movie_search_dR').removeClass('show_movies').addClass('show_theatre');	
		})
});
var sValue = $('#dropdown-value');
			$('#dropdown-select a').click(function(){
				var value = $(this).text();	
				sValue.text(value);
			})
			$('.select_theatre_movie').click(function(){
				var value = $(this).attr('data-val');	
				$('#keyword').val(value);
			})
$(function () {
    $('#id_find').typeahead({
       ajax: { url: '{% url 'movies_auto_suggest_movies' %}?mtype=showtime-movies',type: "GET",
                triggerLength: 1 },  
       itemSelected: function (obj) {
            $('#id_mhs_frm').submit();
        }                         
    });
});
</script>    
    
{% endblock %}        
        
        