{% extends "user_base.html" %}
{% load i18n %}
{% load ds_utils %}
{% load tabs %}

{% block pagetitle %}{% if category %}{% seo_format_tag module='Events' title=category.seo_title code='LT' category=category.name as seo_meta_title %}{% else %}{% seo_format_tag module='Events' title=seo.seo_title code='MT' as seo_meta_title %}{% endif %}{{seo_meta_title}}{% endblock %}
{% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{seo.seo_description}}" />
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/LE_MetaId99.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.datepicker.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/bm.common.js"></script>
	<script type="text/javascript">
	    $(document).ready(function(){
			$('#id_event_venue').typeahead({
        		ajax: { url: '{% url 'auto_suggest_venue' %}',type: "GET",
                triggerLength: 1 },
				itemSelected: function(item){display_auto_sgtd_addres($(".typeahead.dropdown-menu .active").attr("data-value"));},
    		});
		});
    </script>
	
{% endblock %}

{% block navigation %}
    {% activetab "leftnav" "events" %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="span10 sP9mX979 sP12mX767">
    <div class="row-fluid">
		<div class="main span9">
			<section class="sCn pD0">
				<div class="cLrFx pD20">
					<div class="pLlT">
						<h3 class="mR0 tRnCt">Choose a Listing Type</h3>
					</div>
				</div>
				<hr class="mRb12 mRt0">
				<div class="pD20">
					<form method="post" onsubmit="return validate();" id="mform" name="mform" action="{% url 'events_ajax_payment' event.id %}" class="uSr-aCnT mRb0">{% csrf_token %}
						<input type="hidden" name="payment_level" id="payment_level" value="">
                        <div class="row-fluid pricing mRb30">
							{% for event_price in event_price_objects %}
                        	<div class="span4 pD0">
                            	<ul class="features mRr0mP {% if forloop.first %}aCtV{% endif %}" id="type_{{event_price.level}}">
                                	<li class="pRiCe-hD">
                                		<label>
                                			<input onclick="$('.aCtV').removeClass('aCtV');$('#type_{{event_price.level}}').addClass('aCtV');show_contents('{{event_price.level}}')" type="radio" name="pricing" {% if forloop.first %}checked="checked"{% endif %}>
                                        	<h3>{% if event_price.level == 'level0' %}BASIC{% else %}{% if event_price.level == 'level1' %}SPONSORED{% else %}FEATURED{% endif %}{% endif %}</h3>
                                            <div class="price">
												{% if event_price.level == 'level0' %}
													<span class="lBl">FREE</span>
												{% else %}
							                  		<span class="sUp">{{ globalsettings.currency }}</span><span class="aMt">{{ event_price.price }}</span> <span class="sUb">{% if event_price.level == 'level2' %}/{% trans 'Day' %}{% endif %}</span>
							                  		<span class="tRm">Billed annually or $50 month-to-month.</span>
												{% endif %}
							                </div>
                                		</label>
                                    </li>
                                    <li class="info">
                                        <ol id="p_Free" class="unstyled collapse in">
											<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> {{event_price.get_exposure}} Exposure</li>
{% if event_price.images == 'Y' %} 			<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Images</li>{% endif %}
{% if event_price.comments == 'Y' %}		<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Comments</li>{% endif %}
{% if event_price.share_buttons == 'Y' %}	<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Share Buttons</li>{% endif %}
{% if event_price.newsletter == 'Y' %}		<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Newsletter Promotion</li>{% endif %}
{% if event_price.social_media == 'Y' %}	<li><i aria-hidden="true" class="bUi-iCn-oK-16 cLr-gRn mRr5"></i> Social Media Promotion</li>{% endif %}
                                        </ol>
                                        <a href="javascript:void(0)" data-toggle-icon="bUi-iCn-mNs-12" data-target="#p_Free" data-toggle="collapse" class="tXt-cTr bLk cLr-lTbLu fW-bLd VieW-Dt tRcL480 vOp"><i aria-hidden="true" class="bUi-iCn-pLs-12"></i> View details</a>
                                    </li>
                                </ul>
                            </div>
							{% endfor %}
                        </div>
<!-- --------------------------------------------------------------------------------------- -->
						{% for event_price in event_price_objects %}
							{% if event_price.level == 'level0' %}
							<div id="level_{{event_price.level}}">
								<p>{% trans 'Your event listing will be set as' %} <b>{{event_price.level_label}}</b>.</p>
							</div>
							{% else %}
							<table class="table mRb30 table-bordered bDrT0Mp" id="level_{{event_price.level}}" style="
								{% if event.payment %}
									{% if event.listing_type == 'B' %}
										{% if event_price.level != 'level1' %}display:none;{% endif %}
									{% else %}
										{% if event.listing_type == 'S' %}
											{% if event_price.level != 'level2' %}display:none;{% endif %}
										{% else %}
											{% if event_price.level != 'level0' %}display:none;{% endif %}
										{% endif %}
									{% endif %}
								{% else %}
									{% if event_price.level != 'level0' %}display:none;{% endif %}
								{% endif %}">
                            	<thead class="hMp">
                                	<tr>
                                    	{% if event_price.level == 'level2' %}<th class="span4"><span>Duration</span></th>{% endif %}
                                    	<th class="span2"><span>Mode</span></th>
                                    	<th class="tXt-rT span2"><span>Total</span></th>
                                	</tr>
                            	</thead>
								<tbody>
									<tr>
										{% if event_price.level == 'level2' %}
										<td class="span4">
											<div class="control-group">
												<div class="controls">
                                            		<input placeholder="from" type="text" style="width:100px;" onchange="calculate_payment({{event_price.price}},'{{event_price.level}}',{{event_price.id}});" name="fdsp_start_date" value="" class="textField date customdate" id="id_start_date_{{event_price.level}}">
													<input placeholder="to" type="text" style="width:100px;" onchange="calculate_payment({{event_price.price}},'{{event_price.level}}',{{event_price.id}});" name="fdsp_end_date" value="" class="textField date customdate" id="id_end_date_{{event_price.level}}">
													<ul class="unstyled pD15 pDt5 fS13 pDl0mP">
														<li>Listing Cost: <strong>{{ globalsettings.currency }} {{event_price.price}} / day</strong></li>
														<li>Total Days: <strong id="id_total_days{{event_price.id}}">0 days(s)</strong></li>
													</ul>
												</div>
			                                </div>
										</td>
										{% endif %}
										<td class="span2">
											<div class="control-group">
                                            	<label class="control-label pDt0 vOp">Mode</label>
			                                    <div class="controls">
													{% if payment_settings.invoice_payment %}
			                                        <label for="mode2" class="radio fW-nRmL mRb0"><input type="radio" name="payment_mode{{event_price.id}}" value="offline" {% if not payment_settings.online_payment %}checked="checked"{% endif %}> Offline</label>
													{% endif  %}
													{% if payment_settings.online_payment %}					                                      
			                                        <label for="mode1" class="radio fW-nRmL mRb0"><input type="radio" name="payment_mode{{event_price.id}}" value="online"  id="mode1" checked=""> Online</label>
													{% endif  %}               
			                                    </div>
		                                    </div>
										</td>
										<td class="tXt-rT span2"><strong>{{ globalsettings.currency }}</strong> <strong class="fS14" id="id_total_pay{{event_price.id}}">{% if event_price.level == 'level1' %}{{event_price.price}}{% else %}0{% endif %}</strong></td>
									</tr>
								</tbody>
				            </table>
							{% endif %}
						{% endfor %}
<!-- --------------------------------------------------------------------------------------- -->                        
			            <hr class="oTsT-hRz20 mRb0">
                        <div class="row-fluid">
                            <div class="form-actions pD0 pLrT">
                                <a href="{% url 'events_dash_board' %}" class="btn btn-light fS12 fW-bLd">Cancel</a>
                                <button type="submit" class="btn btn-primary fS12 fW-bLd mRl5">Next step</button>
                            </div>
                        </div>
                    </form>
				</div>
			</section>
		</div> <!-- /.main -->
		<aside class="sD-bR span3">
			<div>
				<section class="tXt-cTr pD0 bNr-aD"> 
                   
                </section>
			</div>
		</aside>
	</div>  <!-- /.row-fluid -->
</div>  <!-- /.span10 -->
<script type="text/javascript">
$(document).ready(function(){
	if($("#id_start_date_level2").length){
		var year={{event.end_date|date:"Y"}}
		var month={{event.end_date|date:"m"}}
		var day={{event.end_date|date:"d"}}
		var maxdate=new Date(year+","+month+","+day);
		$("#id_start_date_level2").datepicker({ dateFormat: "yy/mm/dd" , minDate: new Date(), maxDate: maxdate});
	}
	if($("#id_end_date_level2").length){
		var year={{event.end_date|date:"Y"}}
		var month={{event.end_date|date:"m"}}
		var day={{event.end_date|date:"d"}}
		var maxdate=new Date(year+","+month+","+day);
		$("#id_end_date_level2").datepicker({ dateFormat: "yy/mm/dd" , minDate: new Date(), maxDate: maxdate});
	}
	$("#id_start_date_level2").change(function(){
        cdate = $(this).datepicker('getDate');
    	ctime = new Date(cdate.getTime());
    	ctime.setDate(ctime.getDate());
    	$("#id_end_date_level2").datepicker("option", "minDate", ctime);
    });
});
function show_contents(level){
	$('.select_button_top').removeClass('active');
	$('#select_button_top_'+level).addClass('active');
	$('#payment_level').val(level);
	if(level=='level2'){
		$('#level_level2').show();
		$('#level_level1').hide();
		$('#level_level0').hide();
	}
	else if(level == 'level1'){
		$('#level_level1').show();
		$('#level_level2').hide();
		$('#level_level0').hide();
	}
	else{
		$('#level_level0').show();
		$('#level_level1').hide();
		$('#level_level2').hide();
	}
	if($("#id_start_date_"+level).length){
		$("#id_start_date_"+level).datepicker({ dateFormat: "yy/mm/dd" , minDate: new Date()});
	}
	if($("#id_end_date_"+level).length){
		$("#id_end_date_"+level).datepicker({ dateFormat: "yy/mm/dd" , minDate: new Date()});
	}
}
function days_between(date1, date2){
	    // The number of milliseconds in one day
	    var ONE_DAY = 1000 * 60 * 60 * 24
	    // Convert both dates to milliseconds
	    var date1_ms = date1.getTime()
	    var date2_ms = date2.getTime()
	    // Calculate the difference in milliseconds
	    var difference_ms = Math.abs(date1_ms - date2_ms)
	    // Convert back to days and return
	    return Math.round(difference_ms/ONE_DAY)
}
function calculate_payment(price,level,id){
	var date1=$("#id_start_date_"+level).val();
	var date2=$("#id_end_date_"+level).val();
	if (date1!='' && date2!='')
	{
		var start_date=new Date(date1);
		var end_date=new Date(date2);
		
		var nw_date=days_between(start_date,end_date);
		var nw_date=nw_date+1;
		var day_total=nw_date*price;
		var total=day_total;
		
		$('#id_total_pay'+id).html(total);
		$('#id_day_pay'+id).html("=> {{ globalsettings.currency }} "+day_total);
		$('#id_total_days'+id).html(nw_date+" days");
		$('#id_fdsp_duration').val(nw_date);
		$('#id_fdsp_payment').val(total);
		$('#id_fdsp_start_dates').val(date1);
		$('#id_fdsp_end_dates').val(date2);
	}
}
function validate(){
	id=$('#payment_level').val();
	var success=true;
	if($('#id_start_date_'+id).val()==''){
		$('#id_start_date_'+id).addClass('error');
		$('#id_start_date_'+id).parent('div').parent('div').addClass('field-error');
		success=false;
	}
	else{$('#id_start_date_'+id).removeClass('error');}
	if($('#id_end_date_'+id).val()==''){
		$('#id_end_date_'+id).addClass('error');
		$('#id_end_date_'+id).parent('div').parent('div').addClass('field-error');
		success=false;
	}
	else{$('#id_end_date_'+id).removeClass('error');}
	if(success || $('#f_or_s'+id).val()=='free'){return true;}
	else{return false;}
}
{% if event.payment %}
{% if event.listing_type == 'B' %}
	$('#level_level0').remove();
	$('#btn_level0').click(function() { return false; });
	$('#payment_level').val('level1');
{% else %}
	{% if event.listing_type == 'S' %}
		$('#level_level0').remove();
		$('#level_level1').remove();
		$('#btn_level0').click(function() { return false; });
		$('#btn_level1').click(function() { return false; });
		$('#payment_level').val('level2');
	{% else %}
		$('#payment_level').val('level2');
	{% endif %}
{% endif %}
{% else %}
	$('#payment_level').val('level0');
{% endif %}	
</script>
{% endblock %}