{% extends base %}
{% load truncate_filter %}
{% load thumbnail %}
{% load mptt_comments_tags %}
{% load tabs %}
{% load i18n %}
{% load ds_utils %}
{% block pagetitle %}{% seo_format_tag module='Movies' title=movie.seo_title code='DT' category=category.name as seo_meta_title %}{{seo_meta_title}} {% endblock %}
{% block meta %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="{{movie.title}} movie in {{ globalsettings.city }} Theatres, {{movie.title}} show times.Includes {{movie.title}} movie reviews, cast & crew details and more" />

<!-- Facebook-->
	<meta property="og:type" content="video.movie"/>
	<meta property="og:url" content="{{globalsettings.website_url}}{{movie.get_absolute_url}}"/>
	<meta property="og:title" content="{{ movie.title }}"/>
	{% if movie.get_video_poster %}<meta property="og:image" content="{{movie.get_video_poster}}"/>{% endif %}
	<meta property="og:site_name" content="{{globalsettings.domain}}"/>
	<meta property="og:description" content="{{ movie.synopsis|striptags|truncatechars:200 }}"/>
	<meta property="video:director" content="{{ movie.director }}"/>
	<meta property="video:duration" content="{{ movie.duration_hours }}:{{ movie.duration_minutes }}"/>
	<meta property="video:release_date" content="{{ movie.release_date }}"/>
<!-- Twitter-->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" content="{{globalsettings.website_url}}{{movie.get_absolute_url}}">
	<meta name="twitter:title" content="{{ movie.title }}">
	<meta name="twitter:description" content="{{ movie.synopsis|striptags|truncatechars:200 }}">
	{% if movie.get_video_poster %}<meta name="twitter:image" content="{{movie.get_video_poster}}">{% endif %}
	<meta name="twitter:domain" content="{{globalsettings.domain}}">

{% endblock %}
{% block navigation %}
    {% activetab "topnav" "movies" %}
    {{ block.super }}
{% endblock %}
{% block head %}
    <script src="{{STATIC_URL}}themes/js/jquery.bUislider.js"></script>
    <script src="{{STATIC_URL}}themes/js/ios-orientationchange-fix.js"></script>
    <script src="{{STATIC_URL}}themes/js/fxslider.js"></script>
    <script src="{{STATIC_URL}}themes/js/jquery.raty.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/report_data.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/get_report_data.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	bids.push({{movie.id}});
	details_pages(bids);
	});
	
	</script>
    <script>
        $(document).ready(function(e) {
            $('.fxslider').fxslider();
            
            $.ajax({
                type: "GET",
                url: "{% url 'movies_update_movie_views' %}?id={{movie.id}}",
                success:function(data){},
                error:function(data){}
            });
            
            {% if movie.ratings != 0 %}
                $('#id_rating_{{movie.id}}').raty({number: 5, readOnly: true, score: {{movie.ratings}}, size: 12});
            {% endif %}       
            
            $('.sTr-rT-rD').raty({readOnly: true, score: 3.6, size: 16});    
            
            $('.gLrY-cRsL').bUiSlider({
                pager:false,
                speed:600,
                infiniteLoop: false,
                slideWidth: 118,
                adaptiveHeight: true,
                minSlides:1,
                maxSlides: 8,
                slideMargin: 12,
                onSliderLoad:function(){
                  $('.fLxiMgW').setrSpVWidth(0);
               }
            });
            try{$(".mV-tRlR").fxslider({thumbnail:false});}
            catch(e){}   
        });
        function show_toggle(){
            $('#less_synopsis').toggle();
            $('#more_synopsis').toggle();
        }
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <ul class="bRdCrB" itemscope itemtype="http://schema.org/WebPage">
            <li itemscope itemtype="http://www.data-vocabulary.org/Breadcrumb">
                <a itemprop="url" href="{% url 'movies_home_page' %}"><span itemprop="title">{% trans 'Movies' %}</span></a>
                <span class="sPrTr"></span>
            </li>
			{% if released %}
			<li itemscope itemtype="http://www.data-vocabulary.org/Breadcrumb">
					<a itemprop="url" href="{% url 'movies_listing' 'nowplaying' %}"><span itemprop="title">{% trans 'In Theaters' %}</span></a>
					 <span class="sPrTr"></span>
			</li>
			{% else %}
		    <li itemscope itemtype="http://www.data-vocabulary.org/Breadcrumb">
					<a itemprop="url" href="{% url 'movies_listing' 'upcoming' %}"><span itemprop="title">{% trans 'Coming Soon' %}</span></a>
					 <span class="sPrTr"></span>
			</li>
			{% endif %}	
            <li itemscope itemtype="http://www.data-vocabulary.org/Breadcrumb" class="aCtV"><span itemprop="title">{{movie.title}}</span></li>
        </ul>
        <div class="row-fluid">
            <div class="span8 main" itemscope itemtype="http://schema.org/Movie">
                <section class="sCn pD10 bG-lMnCiFn lemonchiffon rLvE">
                    <div class="cLrfX">
                        <div class="pLlT mRr10 hMp">
                            <span class="pD10 ib"><i aria-hidden="true" class="bUi-iCn-bSn--24 cLr-rEd"></i></span>
                        </div>
                        <div class="cLr-lT">
                            <h4 class="mR0 fW-bLd">{% if released %}{% trans 'Now Playing' %}{% else %}{% trans 'Coming Soon' %}{% endif %}</h4>
                            <div class="fS11 mRt4">
                                <span class="uC cLr-gRy">{% if released %}{% trans 'Today' %}, {% now "F j" %}{% else %}{{movie.release_date|date:"l, F d"|default:'NA'}}{% endif %}</span><span class="cLr-gRy sPrTr hide">94 theaters playing this movie.</span>
                            </div>
                            {% if movie.check_show_times %}<a href="{% url 'movies_showtim_details' %}?id={{movie.id}}" class="btn btn-info pStN-rT fS12 mRt10SmP StCSmP">Find Showtimes <i aria-hidden="true" class="bUi-iCn-aRw-r-16 fS12 ib"></i></a>{% endif %}
                        </div>       
                    </div>        
                </section>
                <section class="sCn pD0">
                    <div class="fTrD-bL bNr mRb0 mDa-35 aDpTv">
                        <div class="fTrD-bL-iN">
                            <div class="fTrD-iTmS">
                                <div class="fTrD-iTm bS-bRdR">
                                    <div class="fTrD-tXt sDw">
                                        <div class="vAlGn">
                                            <div class="fTrD-mDa-hVr hMp">
                                                {% if movie.movie_url %}
                                                <div class="hRz-gRd-sTrP" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
                                                    <h3 class="mRt0 uC fS12 mRb5">{% trans 'Watch Trailer' %}</h3>
                                                    <div class="mDa-wPr"> 
                                                        <a class="bUi-tMb-wPr tMb-40 fLxiMgW" href="javascript:void(0);" alt="{{movie.title}}">
                                                            <span class="bUi-tMb">
                                                                <span class="bUi-tMb-pRpL">
                                                                    <span class="bUi-tMb-cLp">
                                                                        <span class="bUi-tMb-cLp-iN"> <img class="mDa-oT" src="{{movie.get_video_poster}}" alt="{{movie.title}}" itemprop="thumbnailUrl">
                                                                            <span class="vRtL-aLn"> </span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                        <div class="mDa-hVr tR-hVr lH1 b5-gD hide"><a data-toggle="tooltip" data-placement="right" title="Share" class="lH1 pDt2b2 iCn-lNk btn btn-mini" href="#">{{ movie.duration_hours }}</a><meta itemprop="duration" content="{{ movie.duration_hours|get_iso_time_format }}"></div> 
                                                        <div class="mV-tRlR">
                                                        	<a href="#" itemprop="video" data-src="http://www.youtube.com/watch?v={{movie.movie_url}}" class="mDa-hVr cVr"><span class="s-50 cTr"><img src="{{STATIC_URL}}themes/img/icons/play_ico.png"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                            <div class="fTrD-tXt-iN pDl10mP">
                                                <h1 class="fTrD-hD w100P fW100 fS32-1" itemprop="name"><a href="javascript:void(0);" class="ib" itemprop="url">{{movie.title}}</a></h1>
                                                <div class="fTrD-mTa mRb0  fS11 w100P mRt0mX480">
                                                    <span class="bDg bRdR-gRy mRr10 mRb0mP">{{movie.certification|default:"NR"}}</span>{% if movie.duration_hours %}<span class="fS12 fW200">{{movie.duration_hours}}</span>{% endif %}{% if movie.release_date %}<span class="{% if movie.duration_hours %}sPrTr{% endif %} fS12 fW200">{{movie.release_date|ds_site_dateformat}}</span>{% endif %}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.TrD-tXt -->
									{% if movie.album.album_photos.all %}
                                    {% with movie.album.album_photos.all.0.photo as movie_img %}
                                    <figure class="fTrD-mDa">
                                        <span class="bUi-tMb-wPr fLxiMgW" href="#">
                                            <span class="bUi-tMb">
                                                <span class="bUi-tMb-pRpL">
                                                    <span class="bUi-tMb-cLp">
                                                        <span class="bUi-tMb-cLp-iN">
                                                            <img class="mDa-oT" src="{{STATIC_URL}}/images/grey.gif" data-src="{% if movie_img %}{{ movie_img.url }}{% else %}{{movie.get_image}}{% endif %}" alt=":{{movie.album.get_cover_image}}:" itemprop="image">
                                                            <span class="vRtL-aLn">
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </figure>
                                    {% endwith %}
									{% endif %}
                                    <!-- /.TrD-mDa -->
                                </div>
                            </div>
                            <!-- /.fTrD-iTms -->
                        </div>
                        <!-- /.fTrD-bL-iN --> 
                    </div>
                    <!-- /.fTrD-bL -->
                </section>
                <section class="sCn pD15">
                    {% if not movie.album.album_photos.all %}
                    <h2 class="mRt0"><span class="cLr-bLk">{{movie.title}}</span></h2>
                    <div class="fS11 cLr-gRy">
                        <span class="bDg bRdR-gRy mRr10">{{movie.certification|default:"NR"}}</span>{% if movie.duration_hours %}<span class="fS12 fW200">{{movie.duration_hours}}</span>{% endif %}<span class="sPrTr fS12 fW200">{{movie.release_date|ds_site_dateformat}}</span>
                    </div>
                    <hr class="oTsT-hRz">
                    {% endif %}
                    <div class="dTs-cRd">
                        <div class="pLlT mRr20 mRb10 sP4SmP">
                            <span class="bUi-tMb-wPr tMb-150 fLxiMgH bUi-tMb-145">
                                <span class="bUi-tMb">
                                    <span class="bUi-tMb-pRpL">
                                        <span class="bUi-tMb-cLp">
                                            <span class="bUi-tMb-cLp-iN"> 
                                                <img class="mDa-oT" src="{{STATIC_URL}}/images/grey.gif" data-src="{% if movie.image %}{{movie.image.url}}{% else %}{{STATIC_URL}}themes/img/no-image.png{% endif %}" alt="{{movie.title}}">
                                                <span class="vRtL-aLn"> </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            <div class="mV-tRlR"> <a href="#" data-src="http://www.youtube.com/watch?v={{movie.movie_url}}" class="btn fS11 btn-block mRt10 mV-tRlR {% if movie.album.album_photos.all %}vOp{% endif %}">Watch Trailer</a></div>
                        </div>
                        <div class="cLr-lT">
                            {% with movie.ratings as ratings %}
                            <div class="cLrfX mRb20">
                                <span class="pLlT mRr20 hMp">
                                    <span class="pD100 cLr-oRg bLk fW100 fS46-1 fS26Mp">{{ratings|floatformat:1}}</span>
                                </span>
                                <div class="cLr-lT">
                                    <ul class="unstyled fS12 mRb0" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                        <li><div class="sTr-rT mR50 mNi sTtC"><span class="sTr-wPr sTr-rT-mNi iCn16 oRg fV-sTr"  id="id_rating_{{movie.id}}"></span></div></li>
                                        <li><span class="fW-bLd">Overall Score:</span> <span class="rT-oVrL-sCr"><strong class="cLr-dRk"><meta itemprop="worstRating" content = "1"/><span itemprop="ratingValue">{{ratings|floatformat}}</span></strong>/<span itemprop="bestRating">5</span></span></li>
                                        <li><span class="fW-bLd">Reviews:</span> <a href="javascript:void(0)"  id="id_review" class="cLr-lTbLu"><span itemprop="reviewCount">{% get_mptt_comment_count for movie as comment_count %}{{comment_count}} {% trans 'User reviews' %} </span></a> </li>
                                    </ul>
                                </div>
                            </div>
                            {% endwith %}
                            <div class="mRb20">
                                <!-- h5>Synopsis</h5 -->
                                {% if movie.synopsis|length|get_digit:"-1" > 310 %} 
                                    <span class="dSc sMl fS12 cLr-dRk mRb10" itemprop="description" id="less_synopsis">{% autoescape off %}{{ movie.synopsis|striptags|truncatechars:311 }}{% endautoescape %} <a onclick="show_toggle()" href="javascript:void(0)" class="cLr-lTbLu">{% trans 'More' %}</a></span>
                                    <span class="dSc sMl fS12 cLr-dRk mRb10 hide" itemprop="description" id="more_synopsis" style="display:none;">{% autoescape off %}{% spaceless %}{{ movie.synopsis|striptags|rstrip_cont }}{% endspaceless %}{% endautoescape %} <a onclick="show_toggle()" href="javascript:void(0)" class="cLr-lTbLu">{% trans 'Less' %}</a></span>
                                {% else %}
                                    <span class="dSc sMl fS12 cLr-dRk mRb10" itemprop="description" id="all_synopsis">{% autoescape off %}{{ movie.synopsis|striptags }}{% endautoescape %}</span>
                                {% endif %}        
                            </div>    
                        </div>
                        <div class="cLr-lT">
                            <dl class="dl-horizontal mRt0">
                                <dt class="fS12"><span class="dT-iN">Genre</span></dt>
                                <dd class="cLr-dRk fS12 mRl105mP"><span itemprop="genre">{% for gnr in movie.movie_type.all %}{{gnr.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</span></dd>
                                {% if movie.web %}
                                <dt class="fS12"><span class="dT-iN">Official Site</span></dt>
                                <dd class="cLr-dRk fS12 mRl105mP"><a href="{{movie.web}}" target="_blank" class="cLr-lTbLu">{{movie.web}}</a></dd>
                                {% endif %}
                                {% if movie.director %}
                                <dt class="fS12"><span class="dT-iN">Director</span></dt>
								<dd class="cLr-dRk fS12 mRl105mP" itemprop="director" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">{{movie.director}}</span>
                            </dd>
                                {% endif %}
                                {% if movie.cast %}
                                <dt class="fS12"><span class="dT-iN">Cast</span></dt>
                                <dd class="cLr-dRk fS12 mRl105mP" itemprop="actor" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{movie.cast}}</span></dd>
                                {% endif %}
                                {% if movie.writer %}
                                <dt  class="fS12"><span class="dT-iN">Writers</span></dt>
                                <dd class="cLr-dRk fS12 mRl105mP" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{movie.writer}}</span></dd>
                                {% endif %}
                            </dl>
                        </div>  
                        <div class="cLr-lT">
                        	{% include 'default/social-share-links.html' %}    
                        </div>                              
                    </div>
                </section>
                {% if movie.album.get_gallery_image %}
                <section class="sCn">
                    <div class="sCn-tTl">
                        <h3><span>{% trans 'Photos' %}</span></h3>
                    </div>
                    <div class="fTrD-bL cRsL mDa-150 tXt-oTsD aDpTv cTrL-tR mRb0">
                        <div class="fTrD-bL-iN">
                            <ul class="fTrD-iTmS fxslider {% if movie.album.get_gallery_image.count > 6 %}gLrY-cRsL{% else %}sXcL pDfX{% endif %}" {% if movie.album.get_gallery_image.count > 6 %}style="width:10000px";{% endif %} itemscope itemtype="http://schema.org/ImageGallery">
                                {% for image in movie.album.get_gallery_image %}
                                <li class="fTrD-iTm" data-src="{{image.photo.url}}" {% if movie.album.get_gallery_image.count > 6 %} style="float:left;" {% endif %}>
                                    <a class="bUi-tMb-wPr tMb-75 fLxiMgW" href="{{image.photo.url}}">
                                        <span class="bUi-tMb">
                                            <span class="bUi-tMb-pRpL">
                                                <span class="bUi-tMb-cLp">
                                                    <span class="bUi-tMb-cLp-iN">
                                                        <img class="mDa-oT" src="{{STATIC_URL}}/images/grey.gif" data-src="{% thumbnail image.photo 120x0 %}" alt="{{image.title}}" itemprop="image">
                                                        <span class="vRtL-aLn">
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
                {% endif %}
                <div class="sCn pD0 mRb20" id="uSrRvW">
                    <ul class="nav nav-tabs tB-cStM pD015 mR0">
                        <li id="id_ureview" class="active mRt10"><a href="javascript:void(0);" onclick="user_review()">User Reviews</a></li>
                        <li id="id_creview" class="mRt10"><a href="javascript:void(0);" onclick="critic_review()">Critic Reviews</a></li>
                    </ul>
                </div>
				<div id="id_user_review" class="span12 main pDl0">
                    {% with movie as object %}
                        {% with 'movies' as appname %}
                            {% include 'comments/include_comment.html' %}
                        {% endwith %}
                    {% endwith %}
				</div>
				<div class="span12 main pDl0" id="id_critic_review" style="display:none;">
					{% include 'comments/critic_reviews.html' %}
				</div>
            </div><!--main-->
            <aside class="sD-bR span4 mSnRy">
                <div>
                    <section class="tXt-cTr pD15 bNr-aD pDt0" id="banner_placement_right"></section> 
                </div>
                <div>
                    {% include 'default/likebox.html' %}
                </div>
            </aside>
        </div>
    </div>
<script type="text/javascript">
$(document).ready(function(){
	$('#id_review').click(function(){
		$('html, body').animate({
		    scrollTop: $("#uSrRvW").offset().top -10
		 }, 400);
	});
});
function show_toggle(id){
    $('#less_synopsis').toggle();
    $('#more_synopsis').toggle();
}
function user_review(){
	$('#id_user_review').show();
	$('#id_ureview').addClass('active');
	$('#id_creview').removeClass('active');
	$('#id_critic_review').hide();
}
function critic_review(){
	$('#id_critic_review').show();
	$('#id_creview').addClass('active');
	$('#id_ureview').removeClass('active');
	$('#id_user_review').hide();
}

</script>
{% endblock %}        