{% load ds_utils %}
{% load i18n %}		
		<input type="hidden" value="{% url 'staff_bookmark_ajax_list_bookmarks' %}" name="id_listbookmark_url" id="id_listbookmark_url">
		<input type="hidden" value="{{status}}" name="id_status" id="id_status">
        <input type="hidden" value="{{created}}" name="id_created" id="id_created">
        <input type="hidden" value="{{sort}}" name="id_sort" id="id_sort">
        <input type="hidden" value="{% if search %}{{search}}{% endif %}" name="id_search" id="id_search">
        <input type="hidden" value="" name="id_action" id="id_action">
		<input type="hidden" value="{% url 'staff_bookmark_ajax_action' %}" name="id_action_url" id="id_action_url">
        
        <input type="hidden" value="{{msg}}" name="id_action_msg" id="id_action_msg">
		
		{% if bookmark_list %}
		<ol class="data-table table-lists-container" id="ajax_content_list">
			{% for bookmark in bookmark_list %}	
			<li class="table-list" id="li_{{bookmark.id}}">
			        <div class="table-list-container check-item group">
						<span class="checkbox-wrap">
							<span class="cform-checkbox-container"><input type="checkbox" onclick="fix_action()" status="{{bookmark.status}}" value="{{bookmark.id}}" id="id_checkbox_{{bookmark.id}}" name="artCulture" class="check-overflow cbox check_action"><span class="cform-checkbox-element"></span></span>
						</span>
			            <div class="item-info relative-block">
			                <h3 class="title"><a href="{% url 'staff_bookmark_preview' %}?id={{bookmark.id}}">{{bookmark.title}}</a></h3>
			                <p class="ltxt80">{{bookmark.category}} <span class="divider12">|</span> {% trans 'By' %} <a href="{% url 'user_profile' bookmark.created_by.profile_slug %}">{{bookmark.created_by.display_name}}</a> <span class="divider12">|</span>{{bookmark.created_on|date:"M d, Y"}}</p>
			                <ul class="quick-stats group">
								<li class="views"><a class="tttxt" href="javascript:void(0)" title="{% trans 'Viewers' %}"><span class="inline-block icon-view-stats"></span>{{bookmark.most_viewed}}</a></li>
			                    <!--li class="cmnt"><a class="tttxt"title="{% trans 'View comments' %}" href="#"><span class="inline-block icon-cmnt-stats"></span>46</a></li-->
			                </ul>
			                <div class="item-status {% if forloop.counter == 1 %}tip tip7{% endif %} {% if not perms.bookmarks.publish_bookmark %} no-options{% endif %} dev_hide_list_status" onclick="display_change_status({{bookmark.id}},$('#id_estatus_{{bookmark.id}}').attr('name'));">
			                	<span class="status-inside inline-block" id="id_span_chge_sts_{{bookmark.id}}">
                                <span title="{% get_status_class bookmark.status %}" id="id_estatus_{{bookmark.id}}" name="{{bookmark.status}}" class="inline-block tttxt status-idty icon-{% get_status_class bookmark.status %}"></span>	  
			                    {% if not perms.bookmarks.publish_bookmark %}</span>{% endif %}
								{% if perms.bookmarks.publish_bookmark %}
									<span class="arrow"></span></span>
									<ul class="dropdown-list" id="change_status_id_{{bookmark.id}}">
										<li><strong>{% trans 'Update status to...' %}</strong></li>
				                       	<ul id="id_dis_status_{{bookmark.id}}">
				                       	</ul>
				                    </ul>
								{% endif %}
			                </div>                                                        
			            </div>
						{% if perms.bookmarks.promote_bookmarks or perms.bookmarks.change_bookmark or perms.bookmarks.delete_bookmark %}
			            <div class="action-buttons {% if forloop.counter == 1 %}tip tip8{% endif %}">
			                <div class="relative-block">
			                    <span class="item-manage inline-block dev_hide_list_settings" id="id_span_settings_{{bookmark.id}}" onclick="display_settings({{bookmark.id}});"><span class="action-icon icon-manage"></span></span>
			                    <ul class="dropdown-list dev_settingsdrpdwn" id="settings_id_{{bookmark.id}}" style="display:none">
									{% if perms.bookmarks.change_bookmark %}
										<li><a href="{% url 'staff_bookmark_edit' bookmark.id %}">{% trans 'Edit' %}</a></li>
										<li><a title="{% trans 'Title / Description (SEO)' %}" href="{% url 'staff_bookmark_seo' bookmark.id %}" class="bm-add-gadget light_box">{% trans 'Update SEO' %}</a></li>
										<li><span class="line-break"></span></li>
			                       	{% endif %}
									{% if perms.bookmarks.delete_bookmark %}
								    	<li><a onclick="if(confirm(gettext('Are you sure you want to delete the selected bookmark?'))){filter_action({{bookmark.id}},'DEL');return false;}" href="javascript:void(0)">{% trans 'Delete' %}</a></li>
									{% endif %}
			                    </ul>
							</div>                                                              	                                                         
			            </div>
						{% endif %}
			        </div>
			    </li> 
			{% endfor %}
			</ol>
			{% include 'common/pagination_ajax.html'%}  
			{% else %}
				<div class="no-data"> <p>{% trans 'Sorry , No bookmarks found !' %}</p></div>
         	{% endif %}
			<script>
				
				function status_function(id,status){
						$('#id_dis_status_'+id).html('');
						if(status=='P'){
							ahtml = '<li><a onclick="save_status('+id+',\'B\');" href="javascript:void(0);">{% trans 'Blocked' %}</a></li>'
							$('#id_dis_status_'+id).append(ahtml);
						}
						else if(status=='N'){
							ahtml = '<li><a onclick="save_status('+id+',\'P\');" href="javascript:void(0);" >{% trans 'Publish' %}</a></li>'
							ahtml+= '<li><a onclick="save_status('+id+',\'R\');" href="javascript:void(0);" >{% trans 'Reject' %}</a></li>'
							$('#id_dis_status_'+id).append(ahtml);
						}
						else if(status=='B'){
							ahtml = '<li><a onclick="save_status('+id+',\'P\');" href="javascript:void(0);" >{% trans 'Publish' %}</a></li>'
							$('#id_dis_status_'+id).append(ahtml);
						}
						else if(status=='R'){
							ahtml = '<li><a onclick="save_status('+id+',\'P\');" href="javascript:void(0);" >{% trans 'Publish' %}</a></li>'
							$('#id_dis_status_'+id).append(ahtml);
						}
						else if(status=='D'){
							ahtml = '<li><a onclick="save_status('+id+',\'P\');" href="javascript:void(0);" >{% trans 'Publish' %}</a></li>'
							$('#id_dis_status_'+id).append(ahtml);
						}
						else{
							return false;
						}
					}
					function save_status(id,status){
						$('#id_estatus_'+id).addClass('loading');
						var DataString="id="+id+"&status="+status;
						$.ajax({
							type: "GET",
							url: "{% url 'staff_bookmark_change_status' %}",
							data: DataString,
							success: function(data){
								if(data!=0){
									$('#id_estatus_'+id).removeClass('loading');
									$('#id_estatus_'+id).replaceWith(data);
									$('#change_status_id_'+id).hide();
									$('#id_span_chge_sts_'+id).removeClass('active')
									$('#id_checkbox_'+id).attr('status',status);
									show_count('all');
								}else{
									show_msg(gettext('Oops!!! Not able to process your request.'),'e');
								}
							}
						});
				}
				
			</script>
				 