{% load i18n %}
<div class="section">
		<a class="quick_help" href="https://docs.google.com/a/doublespring.com/document/d/1qSud3JD7RY5ybuy5vj2Es2lSQmb2Iuwcu8SpHlb5b1Y/edit#bookmark=id.fg17ls48bpwz" target="_blank"><span class="icon">?</span>Quick help</a><hr>
       <h5>{% trans 'Highlights' %}</h5>
       <h6>{% trans 'Bookmark Info' %}</h6>
       <p> {% trans 'Enter the Source page url and proceed. Give legitimate bookmark title (This title shows in the search results), choose an appropriate category and Image for your bookmark' %}</p>
       <hr>
		{% if user.is_superuser %}
	       <h5>{% trans 'Category' %}</h5>
	       <h6>{% trans 'Choose relevant category' %}</h6>
	       <p>{% trans "If you don't find the desired category, you can add in the " %}<a href="/admin/portal/bookmarks/category" target="_blank">Admin CP</a></p>
	       <hr>
		{% endif %}
</div>