{% load i18n %}
<div class="section">
		<a class="quick_help" href="https://docs.google.com/a/doublespring.com/document/d/1qSud3JD7RY5ybuy5vj2Es2lSQmb2Iuwcu8SpHlb5b1Y/edit#bookmark=id.fg17ls48bpwz" target="_blank"><span class="icon">?</span>Quick help</a><hr>
       <h5>{% trans 'Highlights' %}</h5>
       <h6>{% trans 'Settings Icon' %}</h6>
       <p>{% trans "Clicking on the settings icon you can perform actions to edit, feature and  delete bookmarks." %}</p>
       <hr>
       <h6>{% trans 'Search' %}</h6>
       <p>{% trans "Search plays a vital role in finding the results.Once the search engine shows results, you have to clear the search to get back to the main page of the bookmark list." %}</p>
       <hr>
       <h6>{% trans 'Sorting' %}</h6>
	   <p>{% trans "There are two types of sorting modes." %}</p>
	   <hr>
	   <h6>{% trans 'General bookmarks' %}</h6>
	   <p>{% trans "Sort bookmarks by pending, published, blocked and rejected" %}</p>
	   <hr>
	   <h6>{% trans 'Staff/User bookmarks' %}</h6>
	   <p>{% trans "Sort bookmarks by staff or user bookmarks." %}</p>
</div>              