{% load i18n %}
<!--a href="{% url 'admin_ajax_create_staff' %}" target="_blank" title="Add a new Staff member" class="btn-txt-prime bm-add-gadget"><span class="btn-txt" id="">Add New Staff</span></a-->
<div class="add_btn_submenu">
	<button class="btn-txt-prime"><span class="btn-txt">Add New</span><i class="aRw-dWn"></i></button>
    <div class="sub_nav">
        <ul class="bDrT mR0">
            <li class="pD0">
                <a class="bm-add-gadget" title="Add a new Staff member" href="{% url 'admin_ajax_create_staff' %}"><span class="icon"></span>Staff</a>
            </li>
            <li class="pD0 bDrB">
                <a href="{% url 'admin_add_role' %}"><span class="icon"></span>Role</a>
            </li>
        </ul>
    </div>
</div>

<hr/>  
<div class="group">
<h5>{% trans 'Roles' %}</h5>
<span class="loading-stats"><img align="..." src="{{STATIC_URL}}ui/images/global/loading-s.gif"></span>
</div> 
<ol class="roles-list">
{% for group in groups %}
<li><a href="javascript:void(0);" id="{{group.id}}" onclick="$('#id_view_by').val($(this).attr('id')),filter_content();">{{group.name|title}}</a> <strong>({{group.bmuser_set.count}})</strong><span class="manage-roles"><a href="{% url 'admin_add_role' %}?gid={{group.id}}" title="{% trans 'Update Role' %}" class="tttxt-n"><span class="icon-edit inline-block"></span></a><a href="{% url 'admin_delete_role' %}?gid={{group.id}}" onclick="if(confirm(gettext('Are you sure you want to delete this role?'))){return true;}else{return false;}" title="{% trans 'Delete Role' %}" class="tttxt-n"><span class="icon-delete inline-block"></span></a></span></li>
{% endfor %}
<!--li class="sum"><a href="{% url 'admin_add_role' %}" class="btn-txt-prime"><span class="btn-txt" id="">Add New Role</span></a></li-->
</ol>
<script type="text/javascript" src="{{STATIC_URL}}ui/js/inline.js"></script>
<script type ="text/javascript">
$(document).ready(function(e) {
	$('.add_btn_submenu button').click(
		function() { 
		$('.add_btn_submenu .sub_nav').toggle();
		 }
	);  
	$('div#content').click(
		function() { 
		$('.add_btn_submenu .sub_nav').hide();
		 }
	);
	$('.add_btn_submenu button').click(function(event){
	   event.stopPropagation();
	});
});
</script>