{% load i18n %}
<div class="section">
    <a class="quick_help" href="https://docs.google.com/a/doublespring.com/document/d/156Uk5kBmlq8ThOO2UDmXP02gFuLrF6pFMyHeaH8aeBE/edit#bookmark=id.mes5ppeemkl8" target="_blank"><span class="icon">?</span>Quick help</a>
    <hr>
    <h5>{% trans 'User Management' %}</h5>
    <p>{% trans 'The accounts below represent logins to your website users.' %}</p>
    <p>{% trans 'You can delete any user from the list or create a new user account.' %}</p>
    <hr/>
    <!--p><a href="{% url 'admin_import_users_csv' %}" class="btn-txt-prime" ><span class="btn-txt" id="">IMPORT Users (csv)</span></a></p>
    <p><a href="{% url 'admin_export_users_to_csv' %}" class="btn-txt-prime" ><span class="btn-txt" id="">EXPORT Users (csv)</span></a></p-->
</div>
