{% load i18n %}  
<div class="group"><h5>{% trans 'Quick Stats' %}</h5></div>                                    
<ol class="roles-list">
	<li><a href="javascript:void(0);" id="all" onclick="$('#id_view_by').val($(this).attr('id')),filter_content();"><span style="color:#333; font-weight:bold; margin-right: 5px;" id="id_total_users"></span><strong style="color:#777;">Registered Users</strong></a></li>
	<li><a href="javascript:void(0);" id="actv" onclick="$('#id_view_by').val($(this).attr('id')),filter_content();"><span style="color:#333; font-weight:bold; margin-right: 5px;" id="id_actv_users"></span><strong style="color:#777;">Active Users</strong></a></li>
	<li><a href="javascript:void(0);" id="inctv" onclick="$('#id_view_by').val($(this).attr('id')),filter_content();"><span style="color:#333; font-weight:bold; margin-right: 5px;" id="id_inctv_users"></span><strong style="color:#777;">Inactive Users</strong></a></li>
</ol>

<script type="text/javascript" src="{{STATIC_URL}}ui/js/inline.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	show_quick_stats();
})

function show_quick_stats(){
	$.ajax({
	        dataType: "GET",
	        url: "{% url 'admin_ajax_get_user_stats' %}",
	        dataType:'JSON',
	        success: function(data){
	            $('#id_total_users').html(String(data.total_user_count));
	            $('#id_actv_users').html(String(data.acive_user_count));
	            $('#id_inctv_users').html(String(data.inactive_user_count));
	        }
	    });

}
</script>