{% load ds_utils %}
{% load i18n %}		
{% load truncate_filter %}
  
{% if profiles %}  
	{% for profile in profiles %}
		{% for ni in new_id %}
			{% ifequal ni profile.user.id %}	
				<li class="cat-list-row" id="id_user_list_{{profile.user.id}}">
				        <div class="cat-list-row-inner group">
				            <div class="cat-list-column member-login">
				            	<a href="{% url 'admin_ajax_user_profile' %}?uid={{profile.user.id}}" title="{% trans 'Profile Information' %}" class="bm-add-gadget light_box">
				                	<div class="user-icon"><img src="{% if profile.get_profile_pic %}{{MEDIA_URL}}{{profile.get_profile_pic}}{% endif %}" class="inline-block o3"></div>
				                	<h5 class="username">{{profile.user.first_name}}</h5>
									<span class="email" title="{{profile.user.email}}">{{profile.user.useremail|truncate_chars:28}}</span>
								</a>                                                    
				            </div>
				            <div class="cat-list-column member-display-name">
				            	<span class="display-name"><a href="#">{{profile.get_full_name|default:profile.user.first_name}}</a></span>
				            </div>
				            <div class="cat-list-column member-last-login">
				            	<span class="time">{{profile.user.last_login|get_readable_time_format}} {% trans 'ago' %}</span>
				            </div>
				            <div class="cat-list-column ovr-visible member-roles">
				            	<div class="select-role">
				                    <select class="select-menu lb_select-menu" style="width:116px;" {% if profile.user.is_superuser %} disabled="disabled" {% endif %} onchange="if($(this).val()=='na'){alert('Please select a valid option');}else{update_roll({{profile.user.id}},$(this).val(),'{% url 'admin_ajax_update_staff_roll' %}')}">
									  {% if profile.user.is_superuser %}
											<option value="0" selected="">Admin</option>
									  {% else %}
										<option value="na">{% trans 'Not Assigned' %}</option>
									  {% for group in groups %}
										<option value="{{group.id }}" {% if profile.get_gruop_role.id == group.id %}selected=""{% endif %}>{{group.name|title}}</option>
									  {% endfor %}
									  {% endif %}	
				                    </select>                
				                </div>                                   
				            </div>
				            <div class="action-buttons">
				              	<div class="group">
									<a title="{% if profile.user.is_superuser %}{% trans 'Admin Account' %}{% else %}{% trans 'Delete Staff Account' %}{% endif %}" {% if profile.user.is_superuser %}style="pointer-events:none;"{% endif %} class="tttxt-n" onclick="{% if not profile.user.is_superuser %}if(confirm(gettext('Are you sure you want to delete this staff?'))){delete_content({{profile.id}});return false;}{% endif %}" href="javascript:void(0);"><span class="action-icon icon-delete"></span></a>
									<a title="{% trans 'Update Staff Account' %}"  href="{% url 'admin_ajax_update_staff' %}?uid={{profile.user.id}}" class="txt-button tttxt-n bm-add-gadget light_box"><span class="action-icon icon-edit"></span></a>														
								</div>                                                            
				            </div>                                                                                                
						</div>
					</li> 
			{% endifequal %}
		{% endfor %}
	{% endfor %}
{% else %}
	<div class="no-data"> <p>{% trans 'Sorry , No staffs found !' %}</p></div>
{% endif %}
<script type="text/javascript" src="{{STATIC_URL}}ui/js/inline.js"></script>