{% load i18n %}
{% load ds_utils %}
<div id="ajax_content_loading_admin" style="display:none;padding-top:222px;padding-bottom:350px;text-align:center;">
    <img src="{{STATIC_URL}}ui/images/global/loading-s.gif"><br><p>{% trans 'Saving User Information' %}</p>
</div>
<div class="main_col" id="ajax_content">
    <form id="mform" class="add_category">
        <div class="field-group cr_wmr">   
            <div class="fields-head">
                <h4>User Detail:</h4>
            </div>     
            <div class="field text-field">
                <div class="label">
                    <label style="display: inline-block; width: 75px;">Display name</label>
                    <label style="font-weight: bold; margin-left: 10px;">: {{user}}</label>
                </div>
            </div>      
            <div class="field text-field">
                <div class="label">
                    <label style="display: inline-block; width: 75px;">Email</label>
                    <label style="font-weight: bold; margin-left: 10px;">: {{user.useremail}}</label>
                </div>
            </div>      
            <div class="field text-field">
                <div class="label">
                    <label style="display: inline-block; width: 75px;">Last Login</label>
                    <label style="font-weight: bold; margin-left: 10px;">: <span class="time">{{user.last_login|get_readable_time_format}} {% trans 'ago' %}</span></label>
                </div>
            </div>      
            <div class="field text-field">
                <div class="label">
                    <label style="display: inline-block; width: 75px;">Is Staff</label>
                    <label style="font-weight: bold; margin-left: 10px;">: {% if user.is_staff %}Yes{% else %}No{% endif %}</label>
                </div>
            </div>      
            <div class="field text-field">
                <div class="label">
                    <label style="display: inline-block; width: 75px;">Is Active</label>
                    <label style="font-weight: bold; margin-left: 10px;">: {% if user.is_active %}Yes{% else %}No{% endif %}</label>
                </div>
            </div>      
        </div> 
        <div class="fields hform">
            <div class="field-group">
                <div class="fields-head">
                    <p class="ltxt80">{% trans "You can either deactivate the user or permanently remove the User and all of his contents." %}</p> 
                </div>
                <div class="field text-field">
                    <div class="label"><label>{% trans 'Select Action' %} :</label></div>
                    <div class="value">
                        <div class="fd-cols mrb0 pd50 group">
                            <span class="pdr6">
                                <label for="typeFeatured" id="l:typeFeatured">
                                    <span class="cform-radio-container">
                                        <input type="radio" name="delete" checked="checked" value="deactivate">
                                        <span class="cform-radio-element"></span>
                                    </span>
                                    {% trans 'Deactivate this user.' %}
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="value">
                        <div class="fd-cols mrb0 pd50 group">
                            <span class="pdr6">
                                <label for="typeFeatured" id="l:typeFeatured">
                                    <span class="cform-radio-container">
                                        <input type="radio" name="delete" value="delete" >
                                        <span class="cform-radio-element"></span>
                                    </span>
                                    {% trans 'Permanently remove this user and all of his contents.' %}
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>    
    <div class="modal-base form-submit group">
        <button role="button" class="cform-button prime right" type="button" onclick="delete_content({{user.id}})"><span class="cform-button-text">{% trans 'ok' %}</span></button>
    </div>
</div>
