{% extends "admin/admin_base.html" %}
{% load tabs %}
{% load i18n %}
{% load get_example %}
{% block navigation %}
    {% activetab 'topnav' 'user' %}
    {{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'Manage Users' %} - {% trans 'Export Users CSV' %} {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/green/css/LE_MetaId99.css">
{% endblock %}
{% block content %}
        <div id="admin_wrapper">
                <div id="admin-platform" class="group">
                
                    <div class="header-bar">
                    <!--h2>{% trans 'Events' %}</h2-->
                    </div>
                    
                    <div id="core-wraper" class="group">
                        <div class="admin-main col_12">
                            <div class="page-wrap">
                                <div class="page-head br_0">
                                    <h2>{% trans 'Exporting Users' %}</h2>
                                    <p class="ltxt80">{% trans 'You can export your existing users from the website by selecting the date range and order of which the user database you would like to export.' %}</p>
                                </div>
                                <div id="member-account-list" class="cat-list group">
                                    
                                    <div id="id_users_csv">      
                                    
                                         {% if error_msg %}
                                            <div class="messageerror" >
                                                <strong>{{error_msg}}</strong>
                                             </div>
                                         {% endif %}
                                                              
                                        <form id="mform" name="mform" onsubmit="return validate();" action="{% url 'admin_export_users_to_csv' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
                                        <div class="fields hform">
                                            <div class="field-group">    
                                                   
                                                <div class="fields-head">
                                                    <p class="ltxt80">{% trans "Select Date Range and Order" %}</p> 
                                                </div> 
                                                      
                                                <div class="field text-field">
                                                    <div class="label"><label>{% trans 'From' %}</label></div>
                                                        <div class="value">
                                                            <input type="text" id="id_start_date"  style="height:30px;width:150px;" class="tttxt-w" placeholder="From" maxlength="70" autocomplete="off"  value="{% if start_date %}{{start_date|date:'d/m/Y'}}{% endif %}" name="start_date" original-title="From">
                                                        </div>
                                                </div> 
                                                
                                                <div class="field text-field">
                                                    <div class="label"><label>{% trans 'To' %}</label></div>
                                                        <div class="value">
                                                            <input type="text" id="id_end_date"  style="height:30px;width:150px;" class="tttxt-w" placeholder="To" maxlength="70" autocomplete="off" value="{% if end_date %}{{end_date|date:'d/m/Y'}}{% endif %}" name="end_date" original-title="To">
                                                        </div>
                                                </div> 
                                                
                                                <div class="field text-field">    
                                                    <div class="label"><label>{% trans 'Order' %}</label></div>    
                                                        <div class="value">
                                                            <select data-placeholder="{% trans 'Select Order'%}" id="id_order" name="order" style="width:158px;" class="select-menu"  onchange="loadsubcategory()">
                                                                <option value="id" {% if order == 'id' %}selected="selected"{% endif %}>ID (ASC)</option>
                                                                <option value="-id" {% if order == '-id' %}selected="selected"{% endif %}>ID (DSC)</option>
                                                                <option value="display_name" {% if order == 'first_name' %}selected="selected"{% endif %}>Name (Alphabetical)</option>
                                                                <!--option value="-first_name" {% if order == '-first_name' %}selected="selected"{% endif %}>Name (DSC)</option-->
                                                             </select> 
                                                        </div>    
                                                </div>
                                            </div> <!--/field-group--> 
                                        </div> <!--/fields-->
                                        <div class="form-submit right group trp-bg">
                                           <button class="cform-button" roll="button" type="button" onclick="window.location.replace('{% url 'admin_display_users' %}')"><span class="cform-button-text">{% trans 'Cancel' %}</span></button>
                                           <button role="button" class="cform-button prime" type="submit"><span class="cform-button-text">{% trans 'EXPORT' %}</span></button>
                                        </div>                                                
                                        </form>
                                    </div>  
                                     
                                </div>
                            </div>                                                       
                        </div>
                        <div id="aside" class="side-bar col_4">
                            {% include 'admin/usermgmt/admin-users-export-csv-faq.html' %}
                        </div>
                    </div>                                                    
                </div>
            </div>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.datepicker.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    if($("#id_start_date").length){
        $("#id_start_date").datepicker({ dateFormat: "dd/mm/yy", startDate:'01/01/2000' });
    }
    if($("#id_end_date").length){
        $("#id_end_date").datepicker({ dateFormat: "dd/mm/yy", startDate:'01/01/2000' });
    }
});
function validate(){
  var success = true;                  
  if(!$.trim($("#id_start_date").val())==''){
      if($.trim($("#id_end_date").val())==''){
          $("#id_end_date").addClass('error');
          $("#id_end_date").parent('div').addClass('field-error');
          success=false;
        }
    }
    if(!$.trim($("#id_end_date").val())==''){
      if($.trim($("#id_start_date").val())==''){
          $("#id_start_date").addClass('error');
          $("#id_start_date").parent('div').addClass('field-error');
          success=false;
        }
    }
    if(success){return true;}
    else{return false;}                
}
</script>
{% endblock %}    