<p>
	<b>Hey! {{f_name|upper}}</b><br/>
	I found this Classified Ad in {{ globalsettings.domain }} city portal.<br/> 
	You might be interested in it too. It's a website with useful classifieds ads in {{ globalsettings.city }}.<br/>
	Check it out!!<br/>
	<a href='http://{{ globalsettings.domain }}/classifieds/{{classified.slug}}.html'>http://{{ globalsettings.domain }}/classifieds/{{classified.slug}}.html</a>
	
</p>
<br/> 
<p>
<hr/>
	<br/>-- Note --<br/>
	{{comment}}
	<p>&nbsp;</p>
<hr/>
</p>
<p>&nbsp;</p>