{% load i18n %}
{% load thumbnail %}
{% load truncate_filter %}
{% load comparison %}
{% load bm_channeltags %}
{% load ds_utils %}
{% get_recent_reviews channel=channel limit=4 as recent_review %}
{% with recent_review as recent_reviews %}
{% if recent_reviews %}
<div class="span4">
    <section class="sCn mDa-lT-mNi">
        <div class="sCn-tTl sCn-tTl-bR">
            <h3>
                <span>Recent Reviews</span>
            </h3>
        </div>
        <ol class="cMnTs aVtR-cRcL rWrT mNi">
			{% for review in recent_reviews %}
            <li class="cMnT">
                <div class="cMnT-iN">
                    <div class="vCrD pLlT">
                        <span class="bBl-aRw">
                            <span class="aRw a1"></span>
                            <span class="aRw a2"></span>
                        </span>
                        <a href="{% url 'user_profile' review.user.username %}">
                            <img class="aVtR mNi" src="{% if review.user.image %}{% thumbnail review.user.image 48x48 %}{% else %}{{STATIC_URL}}themes/img/cmnts-default-avatar.jpg{% endif %}">
                        </a>
                    </div>
                    <div class="cMnT-bDy">
                        <div class="cMnT-bDy-iN">
                            <header class="cMnT-hD mRb0">
                                <h5 class="mR0 fW-bLd">
                                    <a href="{{review.content_object.get_absolute_url}}" class="cLr-dRk">{{review.content_object}}</a>
                                </h5>
                                <span class="pBlSr fS11 fW-nRmL">by
                                    <a href="{% url 'user_profile' review.user.username %}" class="cLr-lTbLu">{{review.user.get_full_name }}</a>
                                </span>
                                <span class="tM sPrTr" title="Friday, June 14 2013 1:25 AM">{{ review.submit_date|get_readable_time_format }} ago</span>
                            </header>
							{% if review.rating or review.rating == '0.00' %}
                            <div class="sTr-rT ib mRb0 mNi">
                                <span class="rT-oVrL-sCr ib fS13 cLr-dRk">{{review.rating}}</span>
                                <span data-rating="{{ review.rating }}" class="sTr-wPr sTr-rT-mNi iCn16 rEd"></span>
                            </div>
							{% endif %}
                            <div class="cMnT-tXt fS11-125">
                                <p>{{ review.comment|truncatechars:60|linebreaksbr }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.cMnT-bDy -->
                </div>
                <!-- /.cMnT-iN -->
            </li>
			{% endfor %}
            <!-- /.cMnT -->
            
            <!-- /.cMnT -->
        </ol>
    </section>
</div>
{% endif %}
{% endwith %}