{% load i18n %}
{% load get_settings %}
{% load comparison %}
{% load thumbnail %}
{% load bm_channeltags %}
{% get_channel_poll request=request as polldata %}
{% with polldata.poll as poll %}
{% if poll %}
	{% with results=polldata.results poll_expire=polldata.poll_expire choice=polldata.choice votes=polldata.votes perc=polldata.perc status=polldata.status %}
	<div id="id_poll_div">
        {% if poll.expiry <= 0 or status == 'voted' %}
            {% include 'default/polls/ajax-poll-results.html' %}
        {% else %}    
            {% include 'default/polls/ajax-poll-view.html' %}
        {% endif %}    
    </div>
	{% endwith %}
{% endif %}
{% endwith %}
<script type="text/javascript" src="{{STATIC_URL}}js/polls/polls.js"></script>