{% load i18n %}
{% load ds_utils %}
{% load thumbnail %}
{% load bm_channeltags %}
{% get_featured_albums_and_videos channel=channel limit=3 as featured_albums_pack %}
{% if featured_albums_pack %}
<section class="sCn">
    <div class="sCn-tTl sCn-tTl-bR">
        <h3 class="clearfix oFl">
            <span class="ib pLlT">Galleries</span>
            <!--<a class="tXt-lNk rGhT" href="/articles/">View all</a> -->
        </h3>
        </h3>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="fTrD-bL tMbpGrpRw mRb0 sLdR-sMl mDa-75 cTrL-rT gLrY14">
                <div class="fTrD-bL-iN">
                    <ul class="fTrD-iTmS mRl-5Mp">
						{% with featured_albums_pack.main_featured_video.0 as main_featured_video %}
						{% if main_featured_video %}
                        <li class="fTrD-iTm span6 hMp">
                            <div class="fTrD-tXt sTrP">
                            	<div class="mDa-hVr tR-hVr cVr">
                                    <a href="{{main_featured_video.get_absolute_url}}" class="s-32 cTr zIx9">
                                        <i aria-hidden="true" class="bUi-iCn-pLy-aLt-24 hT-aTo fS32-1 pLy-iCn"></i>
                                    </a>
                                </div>
                                <div class="vAlGn">
                                    <div class="fTrD-tXt-iN pD10">
                                        <h4 class="fTrD-hD uC">
                                            <a href="{{ main_featured_video.get_absolute_url }}">{{ main_featured_video.title }}</a>
                                        </h4>
                                        <div class="fTrD-mTa pDt0">
                                            <p>
                                                <span class="fS12">
                                                    <a href="{% url 'user_profile' main_featured_video.created_by.profile_slug %}" class="fW200 mRr10">{{ main_featured_video.created_by.display_name }}</a>
                                                </span>
                                                <span class="pPlT">
                                                    <a href="javascript:void(0);" class="fS11 fW200">{{ main_featured_video.published_on|timesince|time_up_to:',' }} {% trans 'ago' %}</a>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <figure class="fTrD-mDa">
                                <span class="bUi-tMb-wPr fLxiMgH" href="#">
                                    <span class="bUi-tMb">
                                        <span class="bUi-tMb-pRpL">
                                            <span class="bUi-tMb-cLp">
                                                <span class="bUi-tMb-cLp-iN">
                                                    <img class="mDa-oT" src="{% if main_featured_video.get_video_hq_image %}{{ main_featured_video.get_video_hq_image }}{% endif %}" alt="{{ main_featured_video.title }}" />
                                                    <span class="vRtL-aLn"></span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </figure>
                        </li>
						{% endif %}
						{% endwith %}

						{% with featured_albums_pack.featured_albums as featured_albums %}
                        {% for album in featured_albums %}	
                        <li class="fTrD-iTm span3 mRb12 sUb dSsP sP6mP pDl5mP mRb5Mp">
                            <div class="fTrD-tXt sDw">
                                <div class="vAlGn">
                                    <div class="fTrD-tXt-iN pD10">
                                        <h5 class="fTrD-hD w100P">
                                            <a href="{{ album.get_absolute_url }}">{{ album.title }}</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="fTrD-cOnT">
                                <figure class="fTrD-mDa">
                                    <span class="bUi-tMb-wPr fLxiMgH" href="{{ album.get_absolute_url }}">
                                        <span class="bUi-tMb">
                                            <span class="bUi-tMb-pRpL">
                                                <span class="bUi-tMb-cLp">
                                                    <span class="bUi-tMb-cLp-iN">
                                                        <img class="mDa-oT" src="{% if album.album_photos.all.0.photo %}{% thumbnail album.album_photos.all.0.photo 300x0 %}{% else %}{{album.album_photos.all.0.photo_url}}{% endif %}" alt="{{ album.title }}" />
                                                        <span class="vRtL-aLn"></span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </figure>
                            </div>
                        </li>
                        {% endfor %}
                        {% endwith %}

						{% with featured_albums_pack.featured_videos as featured_videos %}
                        {% for video in featured_videos %}	
                        <li class="fTrD-iTm span3 mRb12 sUb dSsP sP6mP pDl5mP mRb5Mp">
                            <div class="fTrD-tXt sDw">
                            	<div class="mDa-hVr tR-hVr cVr">
                                    <a href="{{video.get_absolute_url}}" class="s-32 cTr zIx9">
                                        <i aria-hidden="true" class="bUi-iCn-pLy-aLt-24 hT-aTo fS32-1 pLy-iCn"></i>
                                    </a>
                                </div>
                                <div class="vAlGn">
                                    <div class="fTrD-tXt-iN pD10">
                                        <h5 class="fTrD-hD w100P">
                                            <a href="{{video.get_absolute_url}}">{{video.title|truncatechars:45}}</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="fTrD-cOnT">
                                <figure class="fTrD-mDa">
                                    <span class="bUi-tMb-wPr fLxiMgH" href="{{video.get_absolute_url}}">
                                        <span class="bUi-tMb">
                                            <span class="bUi-tMb-pRpL">
                                                <span class="bUi-tMb-cLp">
                                                    <span class="bUi-tMb-cLp-iN">
                                                        <img class="mDa-oT" src="{{video.get_video_hq_image}}" alt="{{video.title}}" />
                                                        <span class="vRtL-aLn"></span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </figure>
                            </div>
                        </li>
                        {% endfor %}
                        {% endwith %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
