{% extends "home.html" %}
{% block title %}Calculations{% endblock %}
{% block sidebar %}
                <ul class="navigation">
                	<!--a href="http://192.168.1.3:8005">Home</a-->
                    <li><a href="http://bluezinfo.pythonanywhere.com/" class="selected menu_01">Home</a></li>
                    <li><a href="http://bluezinfo.pythonanywhere.com/" class="menu_02">About Us</a></li>
                    <li><a href="http://bluezinfo.pythonanywhere.com/" class="menu_03">Services</a></li>
                    <li><a href="http://bluezinfo.pythonanywhere.com/" class="menu_04">Gallery</a></li>
                    <li><a href="http://bluezinfo.pythonanywhere.com/" class="menu_05">Contact</a></li>
                </ul>
				{% endblock %}
{% block content %}


<div>
	<center><b></>List of clients</b></center>
</div>	
{%for client in client%}
											
	<div>{{client.id}}:<a href="{%url 'clients_data' client.id %}">{{client.first_name}}</div></a> 
	{% endfor %}
{% endblock %}

