{% load i18n %}
<div class="section">
       <h5>{% trans 'Highlights' %}</h5>
       <h6>{% trans 'Event Title' %}</h6>
       <p>{% trans 'Make it descriptive! It should be clean and understandable.' %}</p>
	   <p>{% trans '(This title shows in the search results)' %}</p>
       <hr>
       <h6>{% trans 'Event Details' %}</h6>
       <p>{% trans 'Add as much info to your event listing as you can to be most helpful to your possible attendees like time of event, venue including address, cost to attend, a good description of what the event is about, etc.' %}</p>
       <hr>
       <h6>{% trans 'Repeating Events' %}</h6>
       <p>{% trans 'Type start date and end time for the first day of the event. Select how often your event occurs. Each repeating event date will have the same start and end time as the first day of your event.' %}</p>
	   <hr>
       <h6>{% trans 'Venue' %}</h6>
       <p>{% blocktrans %}Venue name is the location of the event where the event is hosted.If you don't find it, select "Add a new venue" to add.{% endblocktrans %} </p>
	   <hr>
       <h6>{% trans 'Images' %}</h6>
       <p>{% trans 'Upload event photos approx sized 400px*250px for best and appropriate display.(Supports jpeg, png, bmp image formats.)' %}</p>
	   <hr>
       <h6>{% trans 'Promote your Event' %}</h6>
       <p>{% trans 'Once you finish adding the event info you can promote the event either as sponsored or featured event.See Plans' %}</p>
</div>                 