{% load i18n %}
<div id="describe-this-photos">
    <div class="upload-gadget-main">
        <form class="modal-form" id="descmform" name="descmform" action="{% url 'staff_add_gallery_add_photo_details' gallery.id %}">
            <div class="hform relative-block">
                <div class="describe-items-container">
                	<div class="inset">
                	{% if photos %}
                    <ul>
                    	{% for photo in photos %}
							<li class="describe-item-container inline-block group">
	                            <div class="thumb-wrap">
	                                <span class="thumb"><img alt="" src="{% if photo.photo %}{{MEDIA_URL}}{{photo.photo}}{% else %}{{photo.photo_url}}{% endif %}"></span>
									<input type="hidden" id="{{photo.id}}" value="{{photo.id}}" name="ids" class="ids">
	                            </div>
	                            <dl class="item-data vertical">
	                                <!--dt><label for="">Title:</label></dt>
	                                <dd><input type="text" value="{{photo.title}}" style="width:174px" id="title_{{photo.id}}" name="title_{{photo.id}}"></dd-->
	                                <dt><label for="description_{{photo.id}}">{% trans 'Caption' %}:</label></dt>
	                                <dd><textarea rows="2" cols="" style="width:174px" value="{{photo.caption}}" id="description_{{photo.id}}" name="description_{{photo.id}}">{% if photo.caption %}{{photo.caption}}{% endif %}</textarea></dd>
	                            </dl>
	                        </li> 
						{% endfor %}
                    </ul>
					{% else %}
						<div class="no-data">
							<p>{% trans 'No Photos are uploaded.' %}</p>
						</div>
					{% endif %}
                    </div>
                </div>
            </div>    
            <div class="modal-base form-submit group">
               <button role="button" class="cform-button prime" type="button" onclick="save_description()" ><span class="cform-button-text">Finish</span></button>
            </div>           
        </form>
    </div>            
</div>
<script type="text/javascript" src="ui/js/inline.js"></script>
