{% extends "user_base.html" %}
{% load tabs %}
{% load i18n %}
{% load upload_tags %}
{% block navigation %}
	{% activetab "selmodule" "passord_change" %}
{% include "account/account_side_bar.html" %}
{% endblock %}
{% block pagetitle %}{% trans 'Passsword Change' %} {% endblock %}
{% block head %}
	<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bm.jfp.ui.css">
{% endblock %}
{% block content %}
<div class="span10 sP9mX979 sP12mX767">
    <div class="row-fluid">
		<div class="main span9">
			<section class="sCn pD0">
				<div class="cLrFx pD20">
					<div class="pLlT">
						<h3 class="mR0 fS16 fW-bLd tRnCt">{% trans 'Change Password' %}</h3>
					</div>
				</div>
				<hr class="mRb12 mRt0">
				<div class="pD20">
					<form class="uSr-aCnT mRb0" method="post" action="{% url 'usermgmt_password_change' %}" id="mform" name="mform">{% csrf_token %}
						<div class="row-fluid">
							<h4 class="fS15 fW-bLd mRt0 mRb20 pLlT"></h4>
							{% for field in form %}
			           			{% if  field.errors%}<li>{%for error in field.errors%}{{error}}{%endfor%}</li>{% endif %}
			          	 	{% endfor %}
							<fieldset class="span9 pLrT">
								<div class="control-group">
                                    <label class="control-label" >{% trans 'Current Password' %}</label>
                                    <div class="controls">
										{{ form.oldpassword }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" >{% trans 'New Password' %}</label>
                                    <div class="controls">
										{{ form.password1 }}
										<p class="help-block">{% trans 'Minimum 6 characters.' %}</p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" >{% trans 'Confirm Password' %}</label>
                                    <div class="controls">
										{{ form.password2 }}
                                        <span class="help-block">{% trans 'Confirm your new password.' %}</span>
                                    </div>
                                </div>
							</fieldset>
						</div>					                                
                        <hr class="oTsT-hRz20 mRb0">        
                        <div class="row-fluid">
							<span class="pLlT"></span>
							<div class="span9 pLrT">
                                <div class="form-actions pD0">
								  <button type="submit" class="btn btn-primary fS12 fW-bLd">{% trans 'Change your password' %}</button>
								  <!-- button type="button" class="btn btn-light fS12 fW-bLd">Cancel</button -->
								</div>
                        	</div>
                        </div>
                    </form>
				</div>
			</section>
		</div> <!-- /.main -->
		<aside class="sD-bR span3">
			<div>
				<section class="tXt-cTr pD0 bNr-aD"> 
                   
                </section>
			</div>
		</aside>
	</div>  <!-- /.row-fluid -->
</div>  <!-- /.span10 -->
{% endblock %}			
{% block footerarea %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {

    $('#mform').validate({
		ignore:'',
		highlight: function(element, errorClass){
			$(element).parent('div').parent('div').addClass('error');
			$(element).addClass('error');
		},
		unhighlight: function(element, errorClass){
			$(element).parent('div').parent('div').removeClass('error');
			$(element).removeClass('error');
		},
		errorPlacement: function(error, element){}, 
        rules: {
            oldpassword: {
                required: true,
            },
            password1: {
                required: true,
				minlength: 6,
            },
			password2: {
                required: true,
				minlength: 6,
            },
        }
    });
});
</script>	
{% endblock %}	

