{% extends "admin/admin_base.html" %}
{% load tabs %}
{% load i18n %}
{% load get_example %}
{% block navigation %}
	{% activetab 'topnav' 'prog' %}
	{{ block.super }}
{% endblock %}
{% block pagetitle %}{% trans 'API/Affiliate Programs' %} {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div id="admin-platform" class="group">
	<div class="admin-main col_12">
    	<div class="site-modules box group">
        	<div class="section-header">
            	<h2>{% trans 'API/Affiliate Programs' %}</h2>
            </div>	                            
            <div id="modules" class="icon-list group">
                <ul>
                	{% for app in apps %}
						{% if app.slug == 'things-to-do' or app.slug == 'golf' %}
							<li id="{{app.slug}}">
		                        <a href="/admin/config/{{app.slug}}">
		                            <span class="icon"></span>
		                            <span class="title">{{app}}</span>
		                        </a>
		                    </li>
						{% else %}
						<li  class="{% if app.status == 'I' %}not-used{% endif %}" id="{% if app.slug == 'news' %}api-{% else %}module-{% endif %}{% if app.slug == 'articles' %}stories{% else %}{% if app.slug == 'discussions' %}discussion{% else %}{{app.slug}}{% endif %}{% endif %}">
                            <a href="/admin/portal/apis/{{app.slug}}">
                                <span class="icon"></span>
                                <span class="title">{{app.name}}</span>
                            </a>
                        </li>  
						{% endif %}
					{% endfor %}
                </ul>
            </div>                                    
        </div>
  	</div>                            
  	{% include 'admin/api-dashboard-faq.html' %}
</div>  
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/bm.common.js"></script>
<script type="text/javascript">
function txtarealimit(txtobj,len){
	var txtvalue = txtobj.value;
	var the_len = txtvalue.length;
	if (the_len > len){
		txtobj.value = txtvalue.substring(0,len);
	}
	txtobj.scrollTop=txtobj.scrollHeight;
}
function save_seo(){
	var flag = $('#mform').validate().form()
	var id=0;
	if(flag==true){
		var dataString='meta_title='+encodeURIComponent($('#id_meta_title').val());
		dataString+='&meta_description='+encodeURIComponent($('#id_meta_description').val());
		dataString+='&meta_keywords='+encodeURIComponent($('#id_meta_keywords').val());
		$('#ajax_content').hide();
		$('#ajax_content_loading').show();
		$.ajax({
		type: "POST",
		url: "{% url 'admin_portal_home_seo_update' %}",
		data: dataString,
		dataType:'JSON',
		success: function(data){
				$('#ajax_content_loading').html(data.msg);
				$('#ajax_content').empty();
				if(data.status){
					show_msg(data.msg,data.mtype);
					$.colorbox.close();
				}
				$('#ajax_content').html(data.lightbox_html);
				setTimeout(function(){
					$('#ajax_content_loading').hide();
				    $('#ajax_content').fadeIn(2000);
					$.colorbox.resize();
				},1000);
				
			}
		});
	}
}
</script>  
{% endblock %}

				