{% load ds_utils %}
{% load i18n %}		
<input type="hidden" value="{% url 'staff_polls_ajax_list_polls' %}" name="listpoll_url" id="id_listpoll_url">
<input type="hidden" value="{{status}}" name="id_status" id="id_status">
<input type="hidden" value="{{listing_type}}" name="id_listing_type" id="id_listing_type">
<input type="hidden" value="{{created}}" name="id_created" id="id_created">
<input type="hidden" value="{{sort}}" name="id_sort" id="id_sort">
<input type="hidden" value="{% if search %}{{search}}{% endif %}" name="id_search" id="id_search">
<input type="hidden" value="" name="id_action" id="id_action">
<input type="hidden" value="{% url 'staff_polls_ajax_action' %}" name="id_action_url" id="id_action_url">
<input type="hidden" value="{{msg}}" name="id_action_msg" id="id_action_msg">

{% if polls %}
<ol class="data-table table-lists-container" id="ajax_content_list">
{% for poll in polls %}	
<li class="table-list" id="li_{{poll.id}}">
        <div class="table-list-container check-item group">
        		<span id="id_featured_cls_{{poll.id}}" class="list-type {% if poll.featured %}featured-item{% endif %}"><a class="tttxt" title="{% if polls.featured %}{% trans 'Item listed as featured' %}{% endif %}" href="#">{% if polls.featured %}{% trans 'Featured' %}{% endif %}</a></span>
			<span class="checkbox-wrap">
				<span class="cform-checkbox-container"><input type="checkbox" onclick="fix_action()" status="{{poll.status}}" value="{{poll.id}}" id="id_checkbox_{{poll.id}}" name="artCulture" class="check-overflow cbox check_action"><span class="cform-checkbox-element"></span></span>
			</span>
            <div class="item-info relative-block">
                <h3 class="title"><a href="{% url 'staff_polls_preview' %}?pid={{poll.id}}">{{poll.title}}</a></h3>
				<p class="divider12"></span> {% trans 'By' %} <a href="{% url 'user_profile' poll.created_by.profile_slug %}">{{poll.created_by.display_name}}</a> <span class="divider12">|</span>{{poll.created_on|date:"M  d, Y"}}</p>
                
                
                <div class="item-status {% if forloop.counter == 1 %}tip tip7{% endif %} {%if not perms.poll.publish_polls %} no-options{% endif %} dev_hide_list_status" onclick="display_change_status({{poll.id}},$('#id_estatus_{{poll.id}}').attr('name'));">
                	<span class="status-inside inline-block" id="id_span_chge_sts_{{poll.id}}">
                    <span title="{% get_status_class poll.status %}" id="id_estatus_{{poll.id}}" name="{{poll.status}}" class="inline-block tttxt status-idty icon-{% get_status_class poll.status %}"></span>
                    {% if not perms.polls.publish_polls %}</span>{% endif %}
					{% if perms.polls.publish_polls %}
						{% if poll.status != 'E' %}
							<span class="arrow"></span></span>
							<ul class="dropdown-list" id="change_status_id_{{poll.id}}">
								<li><strong>{% trans 'Update status to...' %}</strong></li>
		                       	<ul id="id_dis_status_{{poll.id}}">
		                       	</ul>
		                    </ul>
						{% endif %}
					{% endif %}
					
                </div>                                                        
            </div>
			{% if perms.polls.promote_poll or perms.polls.change_poll or perms.polls.delete_poll %}
			<div class="action-buttons {% if forloop.counter == 1 %}tip tip8{% endif %}">
                <div class="relative-block">
                    <span class="item-manage inline-block dev_hide_list_settings" id="id_span_settings_{{poll.id}}" onclick="display_settings({{poll.id}});"><span class="action-icon icon-manage"></span></span>
                    <ul class="dropdown-list dev_settingsdrpdwn" id="settings_id_{{poll.id}}" style="display:none">
	                    {% if perms.polls.change_poll and poll.status != 'E' %}
							<li><a href="{% url 'staff_polls_add_poll' %}?pid={{poll.id}}">{% trans 'Edit this poll' %}</a></li>
							<li><span class="line-break"></span></li>						
                       	{% endif %}
						{% if perms.polls.delete_poll %}
					    	<li><a onclick="if(confirm(gettext('Are you sure you want to delete the selected poll?'))){filter_action({{poll.id}},'DEL');return false;}" href="javascript:void(0)">{% trans 'Delete this poll' %}</a></li>
						{% endif %}
                    </ul>
				</div>                                                              	                                                         
            </div>
			{% endif %}
        </div>
    </li> 
{% endfor %}
</ol>
{% include 'common/pagination_ajax.html'%}  
{% else %}
	<div class="no-data"> <p>{% trans 'Sorry , No polls found !' %}</p></div>
{% endif %}
<script>
function status_function(id,status){
	$('#id_dis_status_'+id).html('');
	if(status=='P'){
		ahtml = '<li><a onclick="save_status('+id+',\'B\');" href="javascript:void(0);">{% trans 'Block' %}</a></li>'
		ahtml+='<li><a onclick="save_status('+id+',\'E\');" href="javascript:void(0);">{% trans 'Expired' %}</a></li>'
		$('#id_dis_status_'+id).append(ahtml);
	}
	else if(status=='N'){
		ahtml = '<li><a onclick="save_status('+id+',\'P\');" href="javascript:void(0);" >{% trans 'Publish' %}</a></li>'
		$('#id_dis_status_'+id).append(ahtml);
	}
	else if(status=='B'){
		ahtml = '<li><a onclick="save_status('+id+',\'P\');" href="javascript:void(0);">{% trans 'Publish' %}</a></li>'
		ahtml+='<li><a onclick="save_status('+id+',\'E\');" href="javascript:void(0);">{% trans 'Expired' %}</a></li>'
		$('#id_dis_status_'+id).append(ahtml);
		
	}
	else{return false;}
}
function save_status(id,status){
	$('#id_estatus_'+id).addClass('loading');
	var DataString="id="+id+"&status="+status;
	var flag=true;
	if (status=== 'P'){
		flag=confirm((gettext('Previously published poll will be changed to blocked state')));
	}else if (status=== 'E'){
		flag=confirm((gettext('Poll will be exipred permanently.')));
	}
	if(flag){
		$.ajax({
			type: "GET",
			url: "{% url 'staff_polls_change_status' %}",
			data: DataString,
			success: function(data){
				if(data!=0){
					$('#id_estatus_'+id).removeClass('loading');
					$('#id_estatus_'+id).replaceWith(data);
					$('#change_status_id_'+id).hide();
					$('#id_span_chge_sts_'+id).removeClass('active')
					$('#id_checkbox_'+id).attr('status',status);
					show_count('all');
					filter_content();
				}else{
					show_msg(gettext('Oops!!! Not able to process your request.'),'e');
				}
			}
		});
	}else{
		$('#id_estatus_'+id).removeClass('loading');
		$('#change_status_id_'+id).hide();
		$('#id_span_chge_sts_'+id).removeClass('active')
	}
}
</script>
	 